﻿@{
    ViewBag.Title = "Purchasing Closing";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Purchasing Closing</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Type</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("marktype", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="Purchase Order Jasa", Value="PO" },
                                        new SelectListItem { Text="Purchase Order Asset", Value="POA" }
                                    }, new { @class = "form-control", @required = "", @onchange = "changeType()" })
                                        </div>
                                    </div>
                                    @Html.Hidden("marktype")
                                </div>                                
                            </div>
                            <div class="row" id="frmpo">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">No. Purchase Order</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("poitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("poitemmstoid")
                                        @Html.Hidden("poitemtype")
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tgl Purchase Order</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                @Html.Editor("poitemdate", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                            @Html.ValidationMessage("poitemdate", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="frmrab">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">RAB No.</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("rabmstoid")
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tgl. RAB</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                @Html.Editor("rabdate", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                            @Html.ValidationMessage("rabdate", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Supplier</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.Hidden("suppoid")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Alasan <label class="text-red">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextArea("transnote", new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-6">
                                            @Html.Editor("transstatus", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL                    
                    <div class="box-body" id="divdtlpo">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="DataDtlPO" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>Kode</th>
                                        <th>Deskripsi</th>
                                        <th>Closing Qty</th>
                                        <th>Unit</th>
                                        <th>Detail Note</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-body" id="divdtlrab">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="DataDtlRAB" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>No. Trans</th>
                                        <th>Tgl. Trans</th>
                                        <th>Supplier / Supplier</th>
                                        <th>Grand Total</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="pull-left">
                        @{
                            <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Process</b></button>
                            <button type="submit" class="btn btn-danger btn-md" id="btnProcess" style="display:none"><b></b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                        }
                    </div>
                            }
            </div>
        </div>
    </div>    

    @* MODAL UNTUK FORM Purchase Order *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Purchase Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PO No.</th>
                                    <th>Tgl. PO</th>
                                    <th>Nama Project</th>
                                    <th>Supplier</th>
                                    <th>Grand Total</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM Purchase Order *@

    @* MODAL UNTUK FORM RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>RAB No.</th>
                                    <th>Tgl. RAB</th>
                                    <th>Jenis</th>
                                    <th>Nama Project</th>
                                    <th>Supplier</th>
                                    <th>Grand Total Jual</th>
                                    <th>Grand Total Beli</th>
                                    <th>Grand Total Jual Jasa</th>
                                    <th>Grand Total Beli Jasa</th>
                                    <th>Grand Total Biaya</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM RAB *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtlPO').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });               

        var tblModalDtlPO = $("#tblModalDtlPO").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        table = $('#DataDtlRAB').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalDtlRAB = $("#tblModalDtlRAB").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalPO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPO = $("#tblModalPO").DataTable();
        tblModalPO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#poitemno").val(alldata.poitemno);
            $("#poitemmstoid").val(alldata.poitemmstoid);
            $("#poitemdate").val(alldata.poitemdate);
            $("#custoid").val(alldata.custoid);
            $("#suppname").val(alldata.suppname);
            $("#transstatus").val(alldata.transstatus);
            $("#poitemtype").val(alldata.poitemtype);
            GetDetailData(alldata.poitemtype);
            $('#modal-po').modal('hide');
        });

        $("#tblModalRAB").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalRAB = $("#tblModalRAB").DataTable();
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabno").val(alldata.rabno);
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#rabdate").val(alldata.rabdate);
            $("#custoid").val(alldata.custoid);
            $("#suppname").val(alldata.suppname);
            $("#transstatus").val(alldata.transstatus);
            $("#transnote").val(alldata.transnote);
            GetDetailData();
            $('#modal-rab').modal('hide');
        });

        $("#marktype").change(function () {
            ClearData();
        });        

        changeType();
    })

    $("#btnsearchpo").click(function () {
        var marktype = $("#marktype option:selected").val();
        var table = $('#tblModalPO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPOData"))",
            data: { sType: marktype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.poitemno,
                        val.poitemdate,
                        val.projectname,
                        val.suppname,
                        addCommas(val.poitemgrandtotalamt),
                        val.transnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchrab").click(function () {
        var table = $('#tblModalRAB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",            
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.rabno,
                    val.rabdate,
                    val.rabtype,
                    val.projectname,
                    val.suppname,
                    addCommas(val.rabgrandtotaljualamt),
                    addCommas(val.rabgrandtotalbeliamt),
                    addCommas(val.rabgrandtotaljualjasaamt),
                    addCommas(val.rabgrandtotalbelijasaamt),
                    addCommas(val.rabgrandtotalcostamt),
                    val.transnote,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnAddToList").click(function () {
        var marktype = $("#marktype option:selected").val();
        if (marktype = "PO" || marktype == "POA")
        {
            if ($("#poitemmstoid").val() == "") {
                Swal({
                    title: 'WARNING!',
                    text: 'Silahkan Pilih No. Purchase Order!',
                    type: 'warning'
                });
                return false
            }
        }
        else
        {
            if ($("#rabmstoid").val() == "") {
                Swal({
                    title: 'WARNING!',
                    text: 'Silahkan Pilih No. RAB!',
                    type: 'warning'
                });
                return false
            }
        }
        
        var mstoid = "";
        var table = "";
        var tbl = "";
        if (marktype == "PO" || marktype == "POA")
        {
            table = $('#tblModalDtlPO').DataTable();
            tbl = "#tblModalDtlPO";
        }
        else
        {
            table = $('#tblModalDtlRAB').DataTable();
            tbl = "#tblModalDtlRAB";
        }
        var poitemmstoid = $("#poitemmstoid").val();
        var rabmstoid = $("#rabmstoid").val();
        if (marktype == "PO")
        {
            mstoid = poitemmstoid;
        }
        else
        {
            mstoid = rabmstoid;
        }
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { iOid: mstoid, sType: marktype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                console.log(data.tbl);
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.sodtlseq,
                        val.matcode,
                        val.matlongdesc,
                        val.soqty,
                        val.sounit,
                        addCommas(val.soprice),
                        val.sodtlstatus,
                        val.sodtlnote
                    ]);
                });
                table.rows.add(rows).draw();
                $('"'+ tbl +'" .datepicker').datepicker({
                    format: 'mm/dd/yyyy',
                    todayHighlight: true,
                    autoclose: true
                });
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function ClearData() {
        var marktype = $("#marktype option:selected").val();        
        $("#custoid").val("");
        $("#suppname").val("");
        $("#somststatus").val("");
        $("#somstnote").val("");
        var table = "";
        if (marktype == "PO" || marktype == "POA") {
            $("#poitemno").val("");
            $("#poitemmstoid").val("");
            $("#poitemdate").val("");
            table = $('#tblModalDtlPO').DataTable();            
        }
        else {
            $("#rabno").val("");
            $("#rabmstoid").val("");
            $("#rabdate").val("");
            table = $('#tblModalDtlRAB').DataTable();
        }
        table.clear().draw();
    }

    function GetDetailData(poitemtype) {
        var marktype = $("#marktype option:selected").val();
        var url = "@(Url.Action("GetDetailData"))";
        var table = "";
        var mstoid = "";
        if (marktype == "PO" || marktype == "POA") {
            table = $('#DataDtlPO').DataTable();
            table.clear().draw();
            mstoid = $("#poitemmstoid").val();
            $.ajax({
                url: url,
                data: { sType: marktype, iOid: mstoid, poitemtype: poitemtype },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.matcode,
                            val.matlongdesc,
                            val.closeqty,
                            val.pounit,
                            val.podtlnote
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
            SetDataDtl();
        }
        else
        {
            table = $('#DataDtlRAB').DataTable();
            table.clear().draw();
            mstoid = $("#rabmstoid").val();
            $.ajax({
                url: url,
                data: { iOid: mstoid, sType: marktype },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.transno,
                            val.transdate,
                            val.name,
                            addCommas(val.transgrandtotal),
                            val.transnote
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        SetDataDtlRab();
    }

    function SetDataDtl() {
        var table = $('#DataDtlPO').DataTable();        
        var dataDtl = table.rows().data();
        
        var poitemmstoid = $("#poitemmstoid").val();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                pomstoid: poitemmstoid,
                podtloid: alldata.podtloid,
                closeqty: alldata.closeqty
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtlRab() {
        var table = $('#DataDtlRAB').DataTable();        
        var dataDtl = table.rows().data();
        
        var rabmstoid = $("#rabmstoid").val();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                rabmstoid: rabmstoid
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsRab"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnProcess").click(function () {
        if ($("#transnote").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Isi Alasan!',
                type: 'warning'
            });
            return false
        }
        var marktype = $("#marktype option:selected").val();
        var table = "";
        if (marktype == "PO" || marktype == "POA")
        {
            table = $('#DataDtlPO').DataTable();
        }
        else
        {
            table = $('#DataDtlRAB').DataTable();
        }
        var bVal = true;
        if (table == null) {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan isi data detail!',
                type: 'warning'
            });
            bVal = false;
            return false
        } else {            
            var dataDtl = table.rows().data();
            if (dataDtl.length <= 0) {
                Swal({
                    title: 'WARNING!',
                    text: 'Silahkan isi data detail!',
                    type: 'warning'
                });
                bVal = false;
                return false
            }
        }
        if (bVal) {
            if (marktype == "PO" || marktype == "POA")
            {
                SetDataDtl();
            }
            else
            {
                SetDataDtlRab();
            }
            
            ClearData();
            Swal({
                title: 'INFORMATION',
                text: 'data have been CLOSED succesfully!',
                type: 'success'
            });
        }
    })

    $("#btnSave").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to CLOSED this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, CLOSED this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnProcess").click();
                }, 100)
            }
        })
    });

    function changeType() {
        var type = $("#marktype option:selected").val();
        if (type == "PO" || type == "POA") {
            $("#frmpo").show();
            $("#frmrab").hide();
            $("#divdtlpo").show();
            $("#divdtlrab").hide();            
        } else {
            $("#frmpo").hide();
            $("#frmrab").show();
            $("#divdtlpo").hide();
            $("#divdtlrab").show();
        }
    }
</script>
