﻿@model APIS_WB.Models.DB.QL_trnmrservicemst

@{
    ViewBag.Title = "Penerimaan Service";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Penerimaan Service</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header Penerimaan Service</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.mrservicemstoid)
                        @Html.HiddenFor(model => model.mrservicedate)
                        @Html.HiddenFor(model => model.mrserviceres1)
                        @Html.HiddenFor(model => model.mrserviceres2)
                        @Html.HiddenFor(model => model.mrserviceres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            @*===== Baris ke 1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Service</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.mrserviceno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.mrservicedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.custoid)
                                        @Html.ValidationMessageFor(model => model.custoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Barang<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("itemdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchitem" class="btn btn-flat" data-toggle="modal" data-target="#modal-item">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.itemoid)
                                        @Html.ValidationMessageFor(model => model.itemoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 4 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.mrservicetype, "GARANSI", new { @checked = true})<b>GARANSI</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.mrservicetype, "NON GARANSI")<b>NON GARANSI</b></label>
                                            @Html.ValidationMessageFor(model => model.mrservicetype, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kelengkapan<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.mrservicereq, new { @class = "form-control", @maxlength = "300", @required = "" })
                                            @Html.ValidationMessageFor(model => model.mrservicereq, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 5 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keluhan<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.mrservicecomplaint, new { @class = "form-control", @maxlength = "300", @required = "" })
                                            @Html.ValidationMessageFor(model => model.mrservicecomplaint, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                            @*===== Baris ke 6 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.mrservicemstnote, new { @class = "form-control", @maxlength = "300" })
                                            @Html.ValidationMessageFor(model => model.mrservicemstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.mrservicemststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.mrservicemststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER                   

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        @*@<div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>*@
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.mrservicemststatus == "In Process" | @Model.mrservicemststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }

                    </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM SJ *@
    <div class="modal fade" id="modal-sj">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Surat Jalan</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSJ" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SJ No.</th>
                                    <th>Tgl SJ</th>
                                    <th>SO No.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SJ *@

    @* MODAL UNTUK FORM CUST *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM CUST *@

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalItem" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Kode</th>
                                    <th>PID</th>
                                    <th>Deskripsi</th>
                                    <th>Satuan</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">                  
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#mrservicedate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
               

        $("#tblModalItem").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalItem = $("#tblModalItem").DataTable();
        tblModalItem.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalItem.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#itemdesc").val(alldata.itemdesc);
            $("#itemoid").val(alldata.itemoid);
            $('#modal-item').modal('hide');
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custoid").val(alldata.custoid);
            $("#custname").val(alldata.custname);
            $('#modal-cust').modal('hide');
        });

    })

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custcode,
                    val.custname,
                    val.custaddr,
                    val.custphone
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    //Pop Up Data Detail
    $("#btnsearchitem").click(function () {        
        var table = $('#tblModalItem').DataTable();     
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.itemseq,
                    val.itemcode,
                    val.refno,
                    val.itemdesc,
                    val.itemunit
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    
    $("#btnPost").click(function () {
        $("#mrservicemststatus").val('Post');
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
        $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#mrservicemstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid},
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

</script>