﻿@model APIS_WB.Models.DB.QL_mstvehicle

@{
    ViewBag.Title = "Master Armada";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Armada
    </h1> 
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal"> 
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.vhcoid)
                        @Html.HiddenFor(model => model.vhclicexpdate)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Kode</label>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.vhccode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.vhccode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">No. Polisi <b style="color: red;">*</b></label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.vhcno, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.vhcno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Type Armada <b style="color: red;">*</b></label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.vhcres1, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "50" } })
                                            @Html.ValidationMessageFor(model => model.vhcres1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>                                   
                            </div>
                         
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Deskripsi <b style="color: red;">*</b></label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.vhcdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.vhcdesc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Tahun Armada <b style="color: red;">*</b></label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.vhcyear, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.vhcyear, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">No. Mesin <b style="color: red;">*</b></label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.vhcengineno, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.vhcengineno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">No. Rangka <b style="color: red;">*</b></label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.vhcchassisno, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.vhcchassisno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                    
                            </div>

                            <div class="form-group">
                                <div class="row">                                    
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Masa Berlaku STNK</label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    @Html.Editor("tglexp", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                             </div>    
                                        @Html.ValidationMessageFor(model => model.vhclicexpdate, "", new { @class = "text-danger" })     
                                     </div>

                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Nama Pemilik</label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.vhcowner, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                            @Html.ValidationMessageFor(model => model.vhcowner, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Driver Utama</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(model => model.drivoid, null, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.drivoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Keterangan</label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.vhcnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.vhcnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-md-4 control-label">Status</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                                {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                                }, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="box-body">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }

                        </div>
                        <div class="pull-right">
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        </div>
                    </div>
              }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
  function clickDelete() {
        var oid = $("#vhcoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }

    $(document).ready(function () {
        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#vhclicexpdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
    })
</script>
