﻿@model APIS_WB.Models.DB.QL_mstpartner


@{
    ViewBag.Title = "Partner";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Partner</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Partner</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.partneroid)
                        @Html.HiddenFor(model => model.partnercategoryid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.Hidden("action")
                        @Html.Hidden("markup")
                        @Html.Hidden("IsApp")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.partnercode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.partnercategory, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Distributor", Value="Distributor" },
                                                new SelectListItem { Text="Principle", Value="Principle" },
                                                new SelectListItem { Text="MD", Value="MD" },
                                                new SelectListItem { Text="SI", Value="SI" }
                                            }, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori </label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("catid", null, new { @class = "form-control select2", @multiple = "", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Partner<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.partnername, new { @class = "form-control", @type = "text", @required = "", @maxlength = "50" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pengakuan Hutang</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.partnerpengakuan, "TT", new { @checked = true })<b>Tukar Tagihan</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.partnerpengakuan, "PB")<b>Penerimaan Barang/Jasa</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">TOP<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.partnerpaymentoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.partneraddr, new { @class = "form-control", @maxlength = "200" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode Pos</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.partnerpostcode, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Provinsi<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                           @Html.DropDownListFor(model => model.partnerprovinceoid, null, new { @class = "form-control select2", @required = "", @onchange = "provincechange()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kota<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.partnercityoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 1</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.partnerphone1, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 2</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.partnerphone2, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Fax</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.partnerfax1, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.partneremail, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Surgan</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.partnersurgan, "Y", new { @checked = true })<b>Ada</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.partnersurgan, "N")<b>Tidak</b></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Garansi</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.partnergaransi, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pajak</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.partnerpajak, "1", new { @checked = true })<b>Ada</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.partnerpajak, "0")<b>Tidak</b></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.partnernpwpno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.partnernpwp, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat NPWP</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.partnernpwpaddr, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto KTP </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewktpimage(this);" id="partnerktpimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.partnerktpimg)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto NPWP </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewnpwpimage(this);" id="partnernpwpimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.partnernpwpimg)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @{
                                                var src1 = Html.DisplayFor(m => m.partnerktpimg).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img id="partnerktpimg-preview" alt="your image" src="@Url.Content(src1)" style="max-width:200px; max-height:200px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @{
                                                var src2 = Html.DisplayFor(m => m.partnernpwpimg).ToString();
                                                if (!File.Exists(Server.MapPath(src2)))
                                                {
                                                    src2 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img id="partnernpwpimg-preview" alt="your image" src="@Url.Content(src2)" style="max-width:200px; max-height:200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.partnernote, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status<b style="color: red"> *</b></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Active", Value="Active" },
                                                new SelectListItem { Text="Inactive", Value="Inactive" }
                                            }, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h4 class="box-title"><strong>Detail Partner</strong></h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs pull-left">
                                            <li class="active"><a href="#detail-kantor" data-toggle="tab"><b>Detail Kantor</b></a></li>
                                            <li><a href="#detail-pic-management" data-toggle="tab"><b>Detail PIC Partner</b></a></li>
                                            <li class=""><a href="#detail-pic-produk" data-toggle="tab" style="display:none;"><b>Detail PIC Produk</b></a></li>
                                        </ul>
                                        <div class="tab-content no-padding">
                                            @* TAB Detail Kantor *@
                                            <div class="chart tab-pane active " id="detail-kantor" style="overflow-x: auto">
                                                <div class="col-sm-12" style="padding-top: 12px;">
                                                    <div class="pull-right">
                                                        <span class="input-group">
                                                            <button type="button" class="btn btn-success" onclick="AddToDetail1()">
                                                                <i class="fa fa-plus"></i>
                                                                Tambah
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <table id="tbl_dtl" class="table table-striped">
                                                </table><br>
                                            </div>
                                            @* TAB Detail Pic Partner *@
                                            <div class="chart tab-pane" id="detail-pic-management" style="overflow-x: auto">
                                                <div class="col-sm-12" style="padding-top: 12px;">
                                                    <div class="pull-right">
                                                        <span class="input-group">
                                                            <button type="button" class="btn btn-success" onclick="AddToDetail2()">
                                                                <i class="fa fa-plus"></i>
                                                                Tambah
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <table id="tbl_dtl2" class="table table-striped" style="width:100%">
                                                </table><br>
                                            </div>
                                            @* TAB Detail Pic Produk *@
                                            <div class="chart tab-pane" id="detail-pic-produk" style="overflow-x: auto">
                                                <div class="col-sm-12" style="padding-top: 12px;">
                                                    <div class="pull-right">
                                                        <span class="input-group">
                                                            <button type="button" class="btn btn-success" onclick="AddToDetail3()">
                                                                <i class="fa fa-plus"></i>
                                                                Tambah
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <table id="tbl_dtl3" class="table table-striped" style="width:100%">
                                                </table><br>
                                            </div>
                                        </div>
                                    </div> @* AKHIR TAB *@
                                </div>
                            </div>
                        </div>
                            @*AKHIR BAGIAN DETAIL*@
                        </div> <!-- /.container-fluid -->
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Kembali</b></a>
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                if (ViewBag.action == "Update Data")
                                {
                                    @*<button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>*@
                                }
                            }
                            
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-dtlkantor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Detail Kantor</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">                            
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Alamat</label>
                                @Html.TextArea("partnerdtl1addr", new { @class = "form-control", @type = "text"})
                                @Html.ValidationMessage("partnerdtl1addr", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Kota</label>
                                @Html.DropDownList("partnercityOiddtl1",new List <SelectListItem>
                                    {
                                        new SelectListItem { Text="-", Value="-" },
                                        new SelectListItem { Text="Surabaya", Value="1" }
                                        }, new { @class = "form-control", @required = "" })
                                    @Html.ValidationMessage("partnercityOiddtl1", "", new { @class = "text-danger" })                               
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">No Telp</label>                                
                                    @Html.Editor("partnerdtl1phone", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessage("partnerdtl1phone", "", new { @class = "text-danger" })                                
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Status</label>                                
                                    @Html.DropDownList("partnerdtl1status", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="Active", Value="Active" },
                                        new SelectListItem { Text="Inactive", Value="Inactive" }
                                    }, new { @class = "form-control", @required = "" })
                                    @Html.ValidationMessage("partnerdtl1status", "", new { @class = "text-danger" })                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" onclick="AddToDetail1()">Add To List</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>   
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'partnerdtl1seq', name: 'partnerdtl1seq', title: 'No.' },
                { data: 'partnerdtl1addr', name: 'partnerdtl1addr', title: 'Alamat', render: function (data, type, row, cell) { return type != 'display' ? data : generatetexarea(data, 'partnerdtl1addr', cell.row, '', 'maxlength="200"', ""); } },
                { data: 'partnercityoid', name: 'partnercityoid', title: 'Kota', render: function (data, type, row, cell) { return type != 'display' ? data : generateselect(data, 'partnercityoid', row.dt_city, 'onchange="change_ddl(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px') } },
                { data: 'partnerdtl1phone', name: 'partnerdtl1phone', title: 'No. Telp', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl1phone', ' ', '', ""); } },
                { data: 'partnerdtl1status', name: "partnerdtl1status", title: 'Status', render: function (data, type, row) { return generateselect(data, 'partnerdtl1status', [{ Value: "Active", Text: "Active" }, { Value: "Inactive", Text: "Inactive" }], ' onchange="change_ddl(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px') } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ]
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .select2').select2();
        });

        tbl_dtl2 = $('#tbl_dtl2').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'partnerdtl2seq', name: 'partnerdtl2seq', title: 'No.' },
                { data: 'partnerdtl2picname', name: 'partnerdtl2picname', title: 'Nama PIC', render: function (data, type, row, cell) { return type != 'display' ? data : generatetexarea(data, 'partnerdtl2picname', cell.row, '', 'maxlength="100"', ""); } },
                { data: 'partnerdtl2phone1', name: 'partnerdtl2phone1', title: 'No. HP 1', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl2phone1', ' ', '', "max-width:100px;"); } },
                { data: 'partnerdtl2phone2', name: 'partnerdtl2phone2', title: 'No. HP 2', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl2phone2', ' ', '', "max-width:100px;"); } },
                { data: 'partnerdtl2email', name: 'partnerdtl2email', title: 'Email', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl2email', ' ', '', ""); } },
                { data: 'partnerdtl2jabatan', name: 'partnerdtl2jabatan', title: 'Jabatan', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl2jabatan', ' ', '', ""); } },
                { data: 'partnerdtl2birthdate', name: 'partnerdtl2birthdate', title: 'Tgl. Ulang Tahun', render: function (data, type, row, cell) { return type != 'display' ? data : generateinput(data, 'partnerdtl2birthdate', ' datepicker', 'onchange="change_date(this)"', "width:100px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ]
        });
        tbl_dtl2.on("draw", function () {
            $('#tbl_dtl2 .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        tbl_dtl3 = $('#tbl_dtl3').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'partnerdtl3seq', name: 'partnerdtl3seq', title: 'No.' },
                { data: 'partnerdtl3picname', name: 'partnerdtl3picname', title: 'Nama PIC', render: function (data, type, row, cell) { return type != 'display' ? data : generatetexarea(data, 'partnerdtl2picname', cell.row, '', 'maxlength="100"', ""); } },
                { data: 'partnerdtl3phone1', name: 'partnerdtl3phone1', title: 'No. HP 1', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl3phone1', ' ', '', "max-width:100px;"); } },
                { data: 'partnerdtl3phone2', name: 'partnerdtl3phone2', title: 'No. HP 2', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl3phone2', ' ', '', "max-width:100px;"); } },
                { data: 'partnerdtl3email', name: 'partnerdtl3email', title: 'Email', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl3email', ' ', '', ""); } },
                { data: 'partnerdtl3jabatan', name: 'partnerdtl3jabatan', title: 'Jabatan', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl3jabatan', ' ', '', ""); } },
                { data: 'partnerdtl3picproduk', name: 'partnerdtl3picproduk', title: 'Jabatan', render: function (data, type, row, cell) { return generateinput(data, 'partnerdtl3picproduk', ' ', '', ""); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ]
        });

        var catid_temp = $("#partnercategoryid").val();
        $("#catid").val(catid_temp.split(","));

        FillDDLCity();
        if ($("#action").val() == "Update Data") {
            FillDetailData();
        }
    });

    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateinputTextArea(value, name, addAttr) {
        if (addAttr == null) { addAttr = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0 || value.length > 25) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + value + '</textarea>'
    };

    function generatetexarea(value, name, idx, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) addAttr += ' rows="2"';
        else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" id="' + name + '_' + idx + '" style="margin: -6px; padding: 6px;' + addStyle + '" ' + addAttr + '>' + value + '</textarea>'
    };

    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + (obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;" ' + addAttr + '>' + option + '</select>'
    };

    function change_ddl($this) {
        setData($this, $($this).closest('table').DataTable());
    }

    function change_date($this) {
        setData($this, $($this).closest('table').DataTable());
    };

    $('partnerprovinceoid').on('change', function () {
        fillDDLCityHeader();
    });

    function provincechange() {
        fillDDLCityHeader();
    }

    function fillDDLCityHeader() {
        var ddl = $("#partnercityoid");
        var provinceoid = $("#partnerprovinceoid").val();
        if (provinceoid == "" || provinceoid == 0) {
            ddl.html("<option value=''> Pilih Provinsi dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("GetCity"))",
                data: { provinceoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                    }
                    ddl.html(markup).show();
                },
                error: function (reponse) {
                    alert("error fillDDLCityHeader : " + reponse);
                }
            });
        }
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var id = $('#partneroid').val();
        tbl_dtl.clear().draw();
        tbl_dtl2.clear().draw();
        tbl_dtl3.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    tbl_dtl.rows.add(data.dtl).draw();
                    $.each(data.dtl2, function (key, val) {
                        val.partnerdtl2birthdate = moment(val.partnerdtl2birthdate).format("DD/MM/YYYY");
                        rows.push(val)
                    });
                    tbl_dtl2.rows.add(rows).draw();
                    tbl_dtl3.rows.add(data.dtl3).draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        } else if ($($this).is(':checkbox')) {
            value = $($this).is(':checked');
        }
        tbl.cell($tr, $td).data(value).invalidate();
        var obj = tbl.row($tr).data();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            autoclose: true
        });
        $td.find('.select2').select2();
    };

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        if ($(this).hasClass('datepicker')) return false;
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        var del_obj = tbl_dtl.row($tr).data();
        tbl_dtl.row($tr).remove().draw();

        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.rows().data().length; i++) {
            tbl_dtl.cell(i, 'partnerdtl1seq:name').data(i + 1).invalidate();
        }

        e.preventDefault();
    });

    $('#tbl_dtl2').on('blur', 'input:text, textarea', function (e) {
        if ($(this).hasClass('datepicker')) return false;
        setData(this, tbl_dtl2)
        e.preventDefault();
    });
    $('#tbl_dtl2').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        var del_obj = tbl_dtl2.row($tr).data();
        tbl_dtl2.row($tr).remove().draw();

        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl2.rows().data().length; i++) {
            tbl_dtl2.cell(i, 'partnerdtl2seq:name').data(i + 1).invalidate();
        }

        e.preventDefault();
    });

    $('#tbl_dtl3').on('blur', 'input:text, textarea', function (e) {
        if ($(this).hasClass('datepicker')) return false;
        setData(this, tbl_dtl3)
        e.preventDefault();
    });
    $('#tbl_dtl3').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        var del_obj = tbl_dtl3.row($tr).data();
        tbl_dtl3.row($tr).remove().draw();

        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl3.rows().data().length; i++) {
            tbl_dtl3.cell(i, 'partnerdtl3seq:name').data(i + 1).invalidate();
        }

        e.preventDefault();
    });

    function FillDDLCity() {
        var markup = "";
        var url = "@(Url.Action("InitDDLCity"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
     }

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    function AddToDetail1() {
        var id = tbl_dtl.data().length + 1;
        $.ajax({
            url: url_GetDataDetails,
            data: {  },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    $.each(data.tbl, function (key, val) {
                        val.partnerdtl1seq = id;
                        rows.push(val)
                    });
                    tbl_dtl.rows.add(rows);
                    tbl_dtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    var url_GetDataDetails2 = "@(Url.Action("GetDataDetails2"))";
    function AddToDetail2() {
        var id = tbl_dtl2.data().length + 1;
        $.ajax({
            url: url_GetDataDetails2,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    $.each(data.tbl, function (key, val) {
                        val.partnerdtl2seq = id;
                        val.partnerdtl2birthdate = moment(val.partnerdtl2birthdate).format("DD/MM/YYYY");
                        rows.push(val)
                    });
                    tbl_dtl2.rows.add(rows);
                    tbl_dtl2.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function AddToDetail3() {
        var id = tbl_dtl23.rows().data().length + 1;
        var obj = {
            partnerdtl3oid: 0,
            partnerdtl3seq: id
        };
        var rows = [];
        $.each(obj, function (key, val) {
            val.partnerdtl3seq = key + 1;
            rows.push(val)
        });
        tbl_dtl3.rows.add(rows);
    }

    function previewktpimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#partnerktpimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#partnerktpimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#partnerktpimg').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    function previewnpwpimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#partnernpwpimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#partnernpwpimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url ,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#partnernpwpimg').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            tbl[n.name] = n.value;
        });
        var action = $('#action').val();
        var closing = $('#closing').val();

        var dtl = []; var dtl2 = []; var dtl3 = [];
        for (var i = 0 ; i < tbl_dtl.rows().data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtl.push(alldata);
        }
        for (var i = 0 ; i < tbl_dtl2.rows().data().length; i++) {
            var alldata = tbl_dtl2.row(i).data();
            alldata.partnerdtl2birthdate = toDate(alldata.partnerdtl2birthdate);
            dtl2.push(alldata);
        }
        for (var i = 0 ; i < tbl_dtl3.rows().data().length; i++) {
            var alldata = tbl_dtl3.row(i).data();
            dtl3.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl, dtl, dtl2, dtl3, action, closing },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (closing != '')
                            location.replace(url_Index);
                        else {
                            if (action == "New Data")
                                location.replace(url_Form + "/" + data.hdrid + "");
                            else
                                location.replace(url_Form);
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#closing").val('');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#closing").val('');
            }
        });
    });

    $("#btnDelete").click(function () {
        var oid = $("#partneroid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

</script>