﻿@model APIS_WB.Models.DB.QL_trnpoitemmst

@{
    ViewBag.Title = "Purchase Order Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form @ViewBag.Title
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Header @ViewBag.Title</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.poitemmstoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("uid")
                        @Html.Hidden("action")
                        @Html.Hidden("adddisc")
                        @Html.Hidden("markup")

                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">PO</label>
                                        <div class="col-sm-8">
                                            @Html.RadioButtonFor(model => model.revpoitemtype, "Baru", new { @checked = "checked", @required = "", @onchange = "initDDLrevpo()" })
                                            Baru
                                            @Html.RadioButtonFor(model => model.revpoitemtype, "Revisi", new { @required = "", @onchange = "initDDLrevpo()" })
                                            Revisi
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" id="lblrevpo">Referensi PO <label class="text-red">*</label></label>
                                        <div class="col-sm-8" id="divrevpo">
                                            <div class="input-group">
                                                @Html.Editor("revpoitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrevpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-revpo">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.revpoitemmstoid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">No. PO <label class="text-red">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.poitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                            @Html.Editor("updtime", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("poitemdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">No. Referensi</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.poitemsuppref, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">No. RAB <label class="text-red">*</label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.rabmstoid)
                                                @Html.HiddenFor(model => model.rabmstoid_awal)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">No. PRAB</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("reqrabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Nama Project</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Mata Uang <label class="text-red">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "", @readonly = "" })
                                        </div>
                                        @Html.HiddenFor(model => model.poitemrate2toidr)
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">No. SO</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.somstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tgl. SO</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("soitemdate", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Supplier <label class="text-red">*</label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.suppoid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">TOP</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(model => model.poitempaytypeoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Alamat <label class="text-red">*</label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("alamat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchalamat" class="btn btn-flat" data-toggle="modal" data-target="#modal-alamat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.alamatoid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Kirim Ke</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("kirimke", null, new { @class = "form-control select2" })
                                            <div class="col-md-12">
                                                @{
                                                    if (@Model.poitemmststatus == "Approved" | @Model.poitemmststatus == "Closed")
                                                    {
                                                        <button type="button" name="action" class="btn btn-primary btn-md" id="btnChangeKirimKe"><b>Edit Kirim Ke</b></button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Sales Supplier<label class="text-red">*</label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("picname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsales" class="btn btn-flat" data-toggle="modal" data-target="#modal-sales">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.suppsalesoid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">No. Telp Sales</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("suppsalesphone", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Total PPN</label>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.poitemtotaltaxamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Total Disc</label>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.poitemtotaldiscamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Total DPP</label>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.poitemtotalamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poitemtotalamtidr)
                                        @Html.HiddenFor(model => model.poitemtotalnetto)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Total DPP + PPN</label>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.poitemgrandtotalamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poitemgrandtotalamtidr)
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Customer</label>
                                        <div class="col-sm-8">
                                            @Html.TextAreaFor(model => model.pocustname, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Catatan</label>
                                        <div class="col-sm-8">
                                            @Html.TextAreaFor(model => model.poitemmstnote, new { @class = "form-control", @type = "text", @maxlength = "200" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-4">
                                            @Html.EditorFor(model => model.poitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "", @Value = Model.poitemmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*BAGIAN DETAIL*@
                            <div class="box-header">
                                <h4 class="box-title"><strong>Detail @ViewBag.Title</strong></h4>
                            </div>
                            <div class="box-body">
                                <div class="col-sm-12" style="padding-top: 12px;">
                                    <div class="pull-right">
                                        <span class="input-group">
                                            <button type="button" id="btnAddToList" class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                                Tambah
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="tbl_dtl" class="table table-striped" style="width: 100%"></table>
                                </div>
                            </div>
                            @*AKHIR BAGIAN DETAIL*@
                        </div><!-- /.container-fluid -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
}
                            }
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @{
                                if (@Model.poitemmststatus == "In Process" | @Model.poitemmststatus == "Revised" | ViewBag.adddisc == "adddisc")
                                {
                                    <button type="submit" name="action" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" name="action" class="btn btn-warning btn-md" id="btnSendApproval"><b>Kirim Persetujuan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                    }
                                }
                                if (ViewBag.action == "Edit")
                                {
                                    if (@Model.poitemmststatus == "Approved" || @Model.poitemmststatus == "Closed")
                                    {
                                        if (@Model.poitemmstres1 == "")
                                        {
                                            <button type="button" name="action" class="btn btn-primary btn-md" id="btnAddDiskon"><b>Add Diskon</b></button>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                    <!-- /.box-footer -->
                   }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Item</h4>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.DropDownList("ddlpr", new List<SelectListItem>
                            {
                                new SelectListItem { Text="Tanpa PR", Value="npr" },
                                new SelectListItem { Text="Pakai PR", Value="pr" },
                            }, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Alamat</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@

    @* MODAL UNTUK SALES *@
    <div class="modal fade" id="modal-sales">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSales" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SALES *@

    @* MODAL UNTUK REV PO *@
    <div class="modal fade" id="modal-revpo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data PO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRevPO" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK REV PO *@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'poitemdtlseq', name: 'poitemdtlseq', title: 'No.' },
                { data: 'itemcode', name: 'itemcode', title: 'Kode' },
                { data: 'itemdesc', name: 'itemdesc', title: 'Deskripsi' },
                { data: 'poitemqty', name: 'poitemqty', title: 'Qty', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : ($("#rabmstoid").val() == 0 ? generateinput(data, 'poitemqty', ' money', ($("#adddisc").val() == "adddisc" ? ' readonly' : ''), "width:80px;") : '<span class="money">' + data + '</span>'); } },
                { data: 'poitemunit', name: 'poitemunit', title: 'Unit' },
                { data: 'poitemprice', name: 'poitemprice', title: 'Price', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poitemprice', ' money', ($("#adddisc").val() == "adddisc" ? ' ' : ($("#rabmstoid").val() == 0 ? '' : ' readonly')), "width:110px;"); } },
                { data: 'poitemdtldiscvalue', name: 'poitemdtldiscvalue', title: 'Diskon (%)', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poitemdtldiscvalue', ' money', ($("#adddisc").val() == "adddisc" ? ' ' : ($("#rabmstoid").val() == 0 ? '' : ' readonly')), "width:80px;"); } },
                { data: 'poitemdtldiscamt', name: 'poitemdtldiscamt', title: 'Diskon Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poitemdtldiscamt', ' money', ($("#adddisc").val() == "adddisc" ? ' ' : ($("#rabmstoid").val() == 0 ? '' : ' readonly')), "width:110px;"); } },
                { data: 'poitemdtlamt', name: 'poitemdtlamt', title: 'Total', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poitemdtltaxvalue', name: 'poitemdtltaxvalue', title: 'Tax', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : ($("#rabmstoid").val() == 0 ? generateinput(data, 'poitemdtltaxvalue', ' money', '', "width:80px;") : '<span class="money">' + data + '</span>'); } },
                { data: 'poitemdtltaxamt', name: 'poitemdtltaxamt', title: 'Tax Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poitemdtlnetto', name: 'poitemdtlnetto', title: 'Netto', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poitemdtleta', name: 'poitemdtleta', title: 'ETA', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : ($("#rabmstoid").val() == 0 ? generateinput(data, 'poitemdtleta', ' datepicker', ' onchange="date_change(this)"', "width:80px;") : moment(data).format('DD/MM/YYYY')); } },
                { data: 'poitemdtlnote', name: 'poitemdtlnote', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poitemdtlnote', ' ', '', "width:150px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return ($("#adddisc").val() == "adddisc" ? '' : '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>') } },
            ],
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2();
        });

        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'poitemdtlseq', name: 'poitemdtlseq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'itemcode', name: 'itemcode', title: 'Kode' },
                { data: 'itemdesc', name: 'itemdesc', title: 'Deskripsi' },
                { data: 'poitemqty', name: 'poitemqty', title: 'Qty', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : ($("#rabmstoid").val() == 0 ? generateinput(data, 'poitemqty', ' money', ($("#adddisc").val() == "adddisc" ? ' readonly' : ''), "width:80px;") : '<span class="money">' + data + '</span>'); } },
                { data: 'poitemunit', name: 'poitemunit', title: 'Unit' },
                { data: 'poitemprice', name: 'poitemprice', title: 'Price', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poitemprice', ' money', ($("#adddisc").val() == "adddisc" ? ' ' : ($("#rabmstoid").val() == 0 ? '' : ' readonly')), "width:110px;"); } },
                { data: 'poitemdtldiscvalue', name: 'poitemdtldiscvalue', title: 'Diskon (%)', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poitemdtldiscvalue', ' money', ($("#adddisc").val() == "adddisc" ? ' ' : ($("#rabmstoid").val() == 0 ? '' : ' readonly')), "width:80px;"); } },
                { data: 'poitemdtldiscamt', name: 'poitemdtldiscamt', title: 'Diskon Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poitemdtldiscamt', ' money', ($("#adddisc").val() == "adddisc" ? ' ' : ($("#rabmstoid").val() == 0 ? '' : ' readonly')), "width:110px;"); } },
                { data: 'poitemdtlamt', name: 'poitemdtlamt', title: 'Total', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poitemdtltaxvalue', name: 'poitemdtltaxvalue', title: 'Tax', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : ($("#rabmstoid").val() == 0 ? generateinput(data, 'poitemdtltaxvalue', ' money', '', "width:80px;") : '<span class="money">' + data + '</span>'); } },
                { data: 'poitemdtltaxamt', name: 'poitemdtltaxamt', title: 'Tax Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poitemdtlnetto', name: 'poitemdtlnetto', title: 'Netto', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poitemdtleta', name: 'poitemdtleta', title: 'ETA', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : ($("#rabmstoid").val() == 0 ? generateinput(data, 'poitemdtleta', ' datepicker', ' onchange="date_change(this)"', "width:80px;") : moment(data).format('DD/MM/YYYY')); } },
                { data: 'poitemdtlnote', name: 'poitemdtlnote', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poitemdtlnote', ' ', '', "width:150px;"); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2();
        });

        tblModalRAB = $("#tblModalRAB").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'rabno', name: 'rabno', title: 'No RAB' },
                { data: 'rabtype', name: 'rabtype', title: 'Jenis RAB' },
                { data: 'rabdate', name: 'rabdate', title: 'Tgl RAB', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : moment(data).format('DD/MM/YYYY'); } },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'soitemno', name: 'soitemno', title: 'No SO' },
                { data: 'soitemdate', name: 'soitemdate', title: 'Tgl SO', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : moment(data).format('DD/MM/YYYY'); } },
                { data: 'rabmstnote', name: 'rabmstnote', title: 'Keterangan' },
            ],
            order: [],
        });

        tblModalRevPO = $("#tblModalRevPO").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'poitemno', name: 'poitemno', title: 'No PO' },
                { data: 'poitemdate', name: 'poitemdate', title: 'Tgl PO', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : moment(data).format('DD/MM/YYYY'); } },
                { data: 'suppname', name: 'suppname', title: 'Supplier' },
                { data: 'rabtype', name: 'rabtype', title: 'Tipe RAB' },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'poitemmstnote', name: 'poitemmstnote', title: 'Keterangan' },
            ],
            order: [],
        });

        tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'suppcode', name: 'suppcode', title: 'Kode' },
                { data: 'suppname', name: 'suppname', title: 'Supplier' },
                { data: 'suppaddr', name: 'suppaddr', title: 'Alamat' },
            ],
            order: [],
        });

        tblModalAlamat = $("#tblModalAlamat").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'alamat', name: 'alamat', title: 'Alamat' },
                { data: 'kota', name: 'kota', title: 'Kota' },
                { data: 'phone', name: 'phone', title: 'No Telp' },
            ],
            order: [],
        });

        tblModalSales = $("#tblModalSales").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'picname', name: 'picname', title: 'Nama' },
                { data: 'jabatan', name: 'jabatan', title: 'Jabatan' },
                { data: 'produk', name: 'produk', title: 'Produk' },
            ],
            order: [],
        });

        $("#ddlpr").change(function () {
            $("#btnAddToList").click();
        });

        $('#poitempaytypeoid').attr("readonly", true);
        initDDLrevpo();
        initDDLprab();

        var idmst = $('#poitemmstoid').val();
        if ($("#action").val() == "Edit") {
            FillDetailData(idmst);
        } else {
            var revid = "@(Request.QueryString["revid"])";
            if (revid != '') {
                FillDetailData(revid);
            }
        }
    });
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearBeforeRAB() {
        $("#suppname").val("");
        $("#suppoid").val(0);
        $("#picname").val("");
        $("#suppsalesoid").val(0);
        $("#suppsalesphone").val("");
        $("#alamat").val("");
        $("#alamatoid").val(0);
    }

    function initDDLrevpo() {
        var ddl = $("input:radio[name=revpoitemtype]:checked").val();
        if (ddl == "Baru") {
            $("#lblrevpo").hide(); $("#divrevpo").hide();
        } else {
            $("#lblrevpo").show(); $("#divrevpo").show();
        }
    }

    function initDDLprab() {
        var ddl = $("input:radio[name=rabtypereq]:checked").val();
        if (ddl == "None") {
            $("#lblprab").hide(); $("#divprab").hide();
        } else {
            $("#lblprab").show(); $("#divprab").show();
        }
    }

    var url_GetRABData = "@(Url.Action("GetRABData"))"
    $("#btnsearchrab").click(function () {
        tblModalRAB.clear().draw();
        $.ajax({
            url: url_GetRABData,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalRAB.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalRAB").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalRAB.row($tr).data();

        $("#rabmstoid").val(alldata.rabmstoid);
        $("#rabmstoid_awal").val(alldata.rabmstoid_awal);
        $("#reqrabno").val(alldata.reqrabno);
        $("#rabno").val(alldata.rabno);
        $("#rabdate").val(alldata.rabdate);
        $("#projectname").val(alldata.projectname);
        $("#rabmstnote").val(alldata.rabmstnote);
        $("#somstoid").val(alldata.soitemmstoid);
        $("#soitemno").val(alldata.soitemno);
        $("#curroid").val(alldata.curroid).trigger('change');
        $("#soitemdate").val(moment(alldata.soitemdate).format('DD/MM/YYYY'));
        ClearBeforeRAB()
        tbl_dtl.clear().draw();
        $('#modal-rab').modal('hide');
    });

    var url_GetRABData = "@(Url.Action("GetRABData"))"
    $("#btnsearchrab").click(function () {
        tblModalRAB.clear().draw();
        $.ajax({
            url: url_GetRABData,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalRAB.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalRAB").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalRAB.row($tr).data();

        $("#rabmstoid").val(alldata.rabmstoid);
        $("#rabmstoid_awal").val(alldata.rabmstoid_awal);
        $("#reqrabno").val(alldata.reqrabno);
        $("#rabno").val(alldata.rabno);
        $("#rabdate").val(alldata.rabdate);
        $("#projectname").val(alldata.projectname);
        $("#rabmstnote").val(alldata.rabmstnote);
        $("#somstoid").val(alldata.soitemmstoid);
        $("#soitemno").val(alldata.soitemno);
        $("#curroid").val(alldata.curroid).trigger('change');
        $("#soitemdate").val(moment(alldata.soitemdate).format('DD/MM/YYYY'));
        ClearBeforeRAB()
        tbl_dtl.clear().draw();
        $('#modal-rab').modal('hide');
    });

    var url_GetRevPOData = "@(Url.Action("GetRevPOData"))"
    $("#btnsearchrevpo").click(function () {
        tblModalRevPO.clear().draw();
        $.ajax({
            url: url_GetRevPOData,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalRevPO.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalRevPO").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalRevPO.row($tr).data();

        $("#poitemno").val(alldata.poitemnonew);
        $("#revpoitemno").val(alldata.poitemno);
        $("#revpoitemmstoid").val(alldata.poitemmstoid);
        $('#modal-revpo').modal('hide');
    });

    var url_GetSupplierData = "@(Url.Action("GetSupplierData"))"
    $("#btnsearchsupp").click(function () {
        var rabmstoid = $('#rabmstoid').val();
        tblModalSupp.clear().draw();
        $.ajax({
            url: url_GetSupplierData,
            data: { rabmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalSupp.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalSupp").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalSupp.row($tr).data();

        $("#suppname").val(alldata.suppname);
        $("#suppoid").val(alldata.suppoid);
        $("#poitempaytypeoid").val(alldata.supppaymentoid).trigger('change');
        $('#modal-supp').modal('hide');
        if ($("#rabmstoid").val() != 0) {
            GetDetailData();
        }
    });

    var url_GetAlamatData = "@(Url.Action("GetAlamatData"))"
    $("#btnsearchalamat").click(function () {
        var suppoid = $("#suppoid").val();
        if (suppoid == '' || suppoid == '0') {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        tblModalAlamat.clear().draw();
        $.ajax({
            url: url_GetAlamatData,
            data: { suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalAlamat.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalAlamat").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalAlamat.row($tr).data();

        $("#alamat").val(alldata.alamat);
        $("#alamatoid").val(alldata.alamatoid);
        $('#modal-alamat').modal('hide');
    });

    var url_GetSalesData = "@(Url.Action("GetSalesData"))"
    $("#btnsearchsales").click(function () {
        var suppoid = $("#suppoid").val();
        if (suppoid == '' || suppoid == '0') {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        tblModalSales.clear().draw();
        $.ajax({
            url: url_GetSalesData,
            data: { suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalSales.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalSales").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalSales.row($tr).data();

        $("#picname").val(alldata.picname);
        $("#suppsalesoid").val(alldata.suppsalesoid);
        $("#suppsalesphone").val(alldata.phone);
        $('#modal-sales').modal('hide');
    });

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        var rabmstoid = $("#rabmstoid").val();
        if (rabmstoid != 0) {
            Swal({
                title: 'WARNING!',
                text: 'Anda Memakai RAB!',
                type: 'warning'
            });
            return false;
        }
        var suppoid = $("#suppoid").val();
        if (suppoid == 0) {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier!',
                type: 'warning'
            });
            return false;
        }
        $('#modal-detail').modal('show');
        var ddlpr = $("#ddlpr option:selected").val();
        var poitemmstoid = $("#poitemmstoid").val();
        tblModalDtl.column(0).checkboxes.deselect();
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { suppoid, ddlpr, poitemmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.poitemdtlseq = key + 1;
                        if (rabmstoid == 0) {
                            val.poitemdtleta = moment(val.poitemdtleta).format("DD/MM/YYYY");
                        }
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rabmstoid = $("#rabmstoid").val();
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.itemoid, obj.poitemdtlnote)) {
                obj.poitemdtlseq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        CountHdrAmount();
        EnabledHeader();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(itemoid, poitemdtlnote) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (itemoid == alldata.itemoid && poitemdtlnote == alldata.poitemdtlnote) {
                return true;
            }
        }
        return false;
    }

    var url_GetDetailData = "@(Url.Action("GetDetailData"))"
    function GetDetailData() {
        var rabmstoid = $("#rabmstoid").val();
        var poitemmstoid = $("#poitemmstoid").val();
        var suppoid = $("#suppoid").val();

        tbl_dtl.clear().draw();
        $.ajax({
            url: url_GetDetailData,
            data: { rabmstoid, suppoid, poitemmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw();
                    CountHdrAmount();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData(id) {
        var rabmstoid = $("#rabmstoid").val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    if (rabmstoid == 0) {
                        $.each(data.dtl, function (key, val) {
                            val.poitemdtleta = moment(val.poitemdtleta).format("DD/MM/YYYY");
                        })
                    }
                    tbl_dtl.rows.add(data.dtl);
                    tbl_dtl.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'poitemdtlseq:name').data(i + 1).invalidate();
        }
        CountHdrAmount();
        EnabledHeader();
        e.preventDefault();
    });
    function date_change($this) {
        var tblname = $($this).closest('table').attr('id');
        setData($this, $('#' + tblname).DataTable());
    };
    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        var obj = tbl.row($tr).data();
        var totalamt = obj.poitemqty * obj.poitemprice;
        if (attrname == "poitemprice" || attrname == "poitemqty" || attrname == "poitemdtltaxvalue" || attrname == "poitemdtldiscvalue") {
            if (totalamt > 0 && obj.poitemdtldiscvalue > 0) {
                obj.poitemdtldiscamt = totalamt * (obj.poitemdtldiscvalue / 100);
                tbl.cell($tr, 'poitemdtldiscamt:name').data(obj.poitemdtldiscamt).invalidate();
            }
        } else if (attrname == "poitemprice" || attrname == "poitemqty" || attrname == "poitemdtltaxvalue" || attrname == "poitemdtldiscamt") {
            if (totalamt > 0 && obj.poitemdtldiscamt > 0) {
                obj.poitemdtldiscvalue = (obj.poitemdtldiscamt / totalamt) * 100;
                tbl.cell($tr, 'poitemdtldiscvalue:name').data(obj.poitemdtldiscvalue).invalidate();
            }
        }
        obj.poitemdtlamt = totalamt - obj.poitemdtldiscamt;
        tbl.cell($tr, 'poitemdtlamt:name').data(obj.poitemdtlamt).invalidate();
        if (obj.poitemdtltaxvalue > 0) {
            obj.poitemdtltaxamt = obj.poitemdtlamt * (obj.poitemdtltaxvalue / 100);
            tbl.cell($tr, 'poitemdtltaxamt:name').data(obj.poitemdtltaxamt).invalidate();
        }
        obj.poitemdtlnetto = obj.poitemdtlamt + obj.poitemdtltaxamt;
        tbl.cell($tr, 'poitemdtlnetto:name').data(obj.poitemdtlnetto).invalidate();
        tbl.draw();
        CountHdrAmount();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            autoclose: true
        });
        $td.find('.select2').select2();
    };

    function CountHdrAmount() {
        var dTotalAmt = 0; var dTotalDiscAmt = 0; var dTotalTaxAmt = 0; var dTotalNetto = 0;
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dTotalAmt += alldata.poitemdtlamt;
            dTotalDiscAmt += alldata.poitemdtldiscamt;
            dTotalTaxAmt += alldata.poitemdtltaxamt;
            dTotalNetto += alldata.poitemdtlnetto;
        }

        $('#poitemtotalamt').val(dTotalAmt.toFixed(4));
        $('#poitemtotalamtidr').val(dTotalAmt.toFixed(4));
        $('#poitemtotaldiscamt').val(dTotalDiscAmt.toFixed(4));
        $('#poitemtotaltaxamt').val(dTotalTaxAmt.toFixed(4));
        $('#poitemtotaltaxamtidr').val(dTotalTaxAmt.toFixed(4));
        $('#poitemtotalnetto').val(dTotalAmt.toFixed(4));
        $('#poitemgrandtotalamt').val(dTotalNetto.toFixed(0));
        $('#poitemgrandtotalamtidr').val(dTotalNetto.toFixed(0));
    }

    function EnabledHeader() {
        var bVal = tbl_dtl.data().length > 0;

        $("#btnsearchrab").attr("disabled", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchrevpo").attr("disabled", bVal);
        $("input:radio[name=revpoitemtype]:not(:checked)").attr('disabled', bVal);
    }

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "poitemdate") {
                tbl[n.name] = toDate($('#poitemdate').val());
            }
            else if (n.name == "revpoitemtype") {
                tbl[n.name] = $("input:radio[name=revpoitemtype]:checked").val();
            }
            else {
                tbl[n.name] = n.value;
            }
        });
        var action = $('#action').val();
        var kirimke = $('#kirimke option:selected').val();
        var adddisc = $('#adddisc').val();
        var rabmstoid = $("#rabmstoid").val();

        var dtDtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (rabmstoid != 0) {
                alldata.poitemdtleta = moment(alldata.poitemdtleta).format('MM/DD/YYYY');
            } else {
                alldata.poitemdtleta = moment(toDate(alldata.poitemdtleta)).format('MM/DD/YYYY');
            }
            alldata.poitemdtllocoid = kirimke;
            dtDtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl, dtDtl, action, adddisc },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#poitemmststatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#poitemmststatus").val("In Process");
            }
        });
    });

    $("#btnSendApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Approval?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#poitemmststatus").val("In Approval");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnAddDiskon").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        var oid = $("#poitemmstoid").val();
        Swal({
            title: 'Are you sure to send this data for Add Diskon?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Add Diskon this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("AddDiskon"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            location.replace("@(Url.Action("Form"))" + "?revid=" + oid);
                        } else {
                            Swal(
                              'Add Diskon Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnChangeKirimKe").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        var oid = $("#poitemmstoid").val();
        var idkirimke = $("#kirimke option:selected").val();
        Swal({
            title: 'Are you sure to Change this data for Kirim Ke?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Change this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("ChangeKrimKe"))",
                    data: { __RequestVerificationToken: token, id: oid, idkirimke: idkirimke },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            location.replace("@(Url.Action("Index"))");
                        } else {
                            Swal(
                              'Change Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    function clickDelete() {
        var oid = $("#poitemmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }
</script>
