﻿@model APIS_WB.Models.DB.QL_mstsupp


@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Supplier</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Supplier</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.suppoid)
                        @Html.HiddenFor(model => model.suppcategoryid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.Hidden("action")
                        @Html.Hidden("IsApp")
                        @Html.Hidden("markup")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "New Data" ? "Data Baru" : "Update Data" )</label>
                            </div>
                            @*===== Baris ke 1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.suppcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.suppcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.suppcategory, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Distributor", Value="Distributor" },
                                            new SelectListItem { Text="Principle", Value="Principle" },
                                            new SelectListItem { Text="MD", Value="MD" },
                                            new SelectListItem { Text="SI", Value="SI" }
                                        }, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.suppcategory, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori </label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("catid", null, new { @class = "form-control select2", @multiple = "", @required = "" })
                                            @Html.ValidationMessageFor(model => model.suppcategoryid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Supplier<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.suppname, new { @class = "form-control", @type = "text", @required = "", @maxlength = "50" })
                                            @Html.ValidationMessageFor(model => model.suppname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pengakuan Hutang</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.supppengakuan, "TT", new { @checked = true })<b>Tukar Tagihan</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.supppengakuan, "PB")<b>Penerimaan Barang/Jasa</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">TOP<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.supppaymentoid, null, new { @id = "supppaymentoid", @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.supppaymentoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.supptype, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Hutang", Value="Hutang" },
                                            new SelectListItem { Text="Hutang Lainnya", Value="Other" }
                                        }, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.activeflag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 4 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.suppaddr, new { @class = "form-control", @maxlength = "200" })
                                            @Html.ValidationMessageFor(model => model.suppaddr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode Pos</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.supppostcode, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.supppostcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 5 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Provinsi<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.suppprovinceoid, null, new { @id = "suppprovinceoid", @class = "form-control select2", @required = "", @onchange = "provincechange()" })
                                            @Html.ValidationMessageFor(model => model.suppprovinceoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kota<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.suppcityOid, null, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.suppcityOid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 6 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 1</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppphone1, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.suppphone1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 2</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppphone2, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.suppphone2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 7 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Fax</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppfax1, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.suppfax1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppemail, new { htmlAttributes = new { @class = "form-control", @type = "email", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.suppemail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 8 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Surgan</label>                                        
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.suppsurgan, "N", new { @checked = "checked", @required = "" })<b>Tidak</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.suppsurgan, "Y", new { @required = "" })<b>Ada</b></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Garansi</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppgaransi, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.suppgaransi, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            @*===== Baris ke 9 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pajak</label>                                        
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.supppajak, "0", new { @checked = "checked", @required = "" })<b>Tidak</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.supppajak, "1", new { @required = "" })<b>Ya</b></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppnpwpno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.suppnpwpno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            @*===== Baris ke 10 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.suppnpwp, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.suppnpwp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat NPWP</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.suppnpwpaddr, new { @class = "form-control", @type = "text", @maxlength = "200" })
                                            @Html.ValidationMessageFor(model => model.suppnpwpaddr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            @*===== Baris ke 11 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto KTP </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewktpimage(this);" id="suppktpimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.suppktpimg)
                                            @Html.ValidationMessageFor(model => model.suppktpimg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto NPWP </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewnpwpimage(this);" id="suppnpwpimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.suppnpwpimg)
                                            @Html.ValidationMessageFor(model => model.suppnpwpimg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 12 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @{
                                                var src1 = Html.DisplayFor(m => m.suppktpimg).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img id="suppktpimg-preview" alt="your image" src="@Url.Content(src1)" style="max-width:200px; max-height:200px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @{
                                                var src2 = Html.DisplayFor(m => m.suppnpwpimg).ToString();
                                                if (!File.Exists(Server.MapPath(src2)))
                                                {
                                                    src2 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img id="suppnpwpimg-preview" alt="your image" src="@Url.Content(src2)" style="max-width:200px; max-height:200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 13 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.suppnote, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.suppnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Active", Value="Active" },
                                            new SelectListItem { Text="Inactive", Value="Inactive" }
                                        }, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.activeflag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>

                            @*BAGIAN DETAIL*@
                            <div class="box-header">
                                <h4 class="box-title"><strong>Detail Supplier</strong></h4>
                            </div>
                            <div class="box-body">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs pull-left">
                                        <li class="active"><a href="#detail-kantor" data-toggle="tab"><b>Detail Kantor</b></a></li>
                                        <li><a href="#detail-pic-management" data-toggle="tab"><b>Detail PIC Management</b></a></li>
                                        <li class=""><a href="#detail-pic-produk" data-toggle="tab"><b>Detail PIC Produk</b></a></li>
                                    </ul>
                                    <div class="tab-content no-padding">
                                        @* TAB Detail Kantor *@
                                        <div class="chart tab-pane active " id="detail-kantor" style="overflow-x: auto">
                                            <div class="col-sm-12" style="padding-top: 12px;">
                                                <div class="pull-right">
                                                    <span class="input-group">
                                                        <button type="button" class="btn btn-success" onclick="AddToDetail1()">
                                                            <i class="fa fa-plus"></i> Tambah
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                            <thead>
                                                <tr role="row">
                                                    <th></th>                                                    
                                                    <th>No.</th>
                                                    <th>Alamat</th>
                                                    <th>Kota</th>
                                                    <th>No Telp</th>
                                                    <th>Status </th>
                                                    <th>Opsi</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            </table><br>
                                        </div>
                                        @* TAB Detail PIC Management *@
                                        <div class="chart tab-pane" id="detail-pic-management" style="overflow-x: auto" >
                                            <div class="col-sm-12" style="padding-top: 12px;">
                                                <div class="pull-right">
                                                    <span class="input-group">
                                                        <button type="button" class="btn btn-success" onclick="AddToDetail2()">
                                                        <i class="fa fa-plus"></i>
                                                        Tambah
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <table id="DataDtl2" class="table table-striped" style="width: 100%">
                                                <thead>
                                                    <tr role="row">
                                                        <th></th>
                                                        <th>No.</th>
                                                        <th>Nama PIC</th>
                                                        <th>No Hp 1</th>
                                                        <th>No Hp 2 </th>
                                                        <th>Email</th>
                                                        <th>Jabatan</th>
                                                        <th>Opsi</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table><br>
                                            </div>
                                        @* TAB Detail PIC Produk *@
                                            <div class="chart tab-pane" id="detail-pic-produk" style="overflow-x: auto">
                                                <div class="col-sm-12" style="padding-top: 12px;">
                                                    <div class="pull-right">
                                                        <span class="input-group">
                                                            <button type="button" class="btn btn-success" onclick="AddToDetail3()">
                                                                <i class="fa fa-plus"></i>
                                                                Tambah
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <table id="DataDtl3" class="table table-striped" style="width: 100%">
                                                    <thead>
                                                        <tr role="row">
                                                            <th></th>
                                                            <th>No.</th>
                                                            <th>Nama PIC</th>
                                                            <th>No Hp 1</th>
                                                            <th>No Hp 2</th>
                                                            <th>Email</th>
                                                            <th>Jabatan</th>
                                                            <th>Produk Yg Di Handle</th>
                                                            <th>Opsi</th>
                                                        </tr>
                                                    </thead>
                                                <tbody></tbody>
                                            </table><br>
                                        </div>
                                    </div> @* AKHIR TAB *@
                                </div>
                            </div>
                            @*AKHIR BAGIAN DETAIL*@
                        </div><!-- /.container-fluid -->
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Kembali</b></a>
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                if (ViewBag.action == "Update Data")
                                {
                                    @*<button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>*@
                                }
                            }
                            
                        </div>
                    </div>
                    <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-dtlkantor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Detail Kantor</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">                            
                            <div class="form-group">
                                    <label classfor="message-text" class="col-form-label">Alamat</label>
                                @Html.TextArea("suppdtl1addr", new { @class = "form-control", @type = "text"})
                                        @Html.ValidationMessage("suppdtl1addr", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Kota</label>                                
                                    @Html.DropDownList("suppcityOiddtl1",new List <SelectListItem>
                                            {
                                        new SelectListItem { Text="-", Value="-" },
                                                new SelectListItem { Text="Surabaya", Value="1" }
                                            }, new { @class = "form-control", @required = "" })
                                    @Html.ValidationMessage("suppcityOiddtl1", "", new { @class = "text-danger" })                               
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">No Telp</label>                                
                                    @Html.Editor("suppdtl1phone", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessage("suppdtl1phone", "", new { @class = "text-danger" })                                
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Status</label>                                
                                    @Html.DropDownList("suppdtl1status", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Active", Value="Active" },
                                                new SelectListItem { Text="Inactive", Value="Inactive" }
                                            }, new { @class = "form-control", @required = "" })
                                    @Html.ValidationMessage("suppdtl1status", "", new { @class = "text-danger" })                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" onclick="AddToDetail1()">Add To List</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-dtlkantor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Detail Kantor</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Alamat</label>
                                @Html.TextArea("suppdtl1addr", new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessage("suppdtl1addr", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Kota</label>
                                @Html.DropDownList("suppcityOiddtl1", new List<SelectListItem>
                                            {
                                        new SelectListItem { Text="-", Value="-" },
                                                new SelectListItem { Text="Surabaya", Value="1" }
                                            }, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessage("suppcityOiddtl1", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">No Telp</label>
                                @Html.Editor("suppdtl1phone", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessage("suppdtl1phone", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Status</label>
                                @Html.DropDownList("suppdtl1status", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Active", Value="Active", Selected = true },
                                                new SelectListItem { Text="Inactive", Value="Inactive"}
                                            }, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessage("suppdtl1status", "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" onclick="AddToDetail1()">Add To List</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        if ($("#IsApp").val() == true) {

        }

        var table1 = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        // Delete a record
        table1.on('click', '#remove1', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table1.row($tr).data()[0];
            table1.row($tr).remove().draw();
            setDataDtl(); FillDetailData1();
            var data = table1.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = table1.row(i).data();
                    temp[0] = i + 1;
                    table1.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        table1.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table1.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var table2 = $('#DataDtl2').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table2.on('click', '#remove2', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[0];
            table2.row($tr).remove().draw();
            setDataDtl2(); FillDetailData2();
            var data = table2.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = table2.row(i).data();
                    temp[0] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        table2.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var table3 = $('#DataDtl3').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table3.on('click', '#remove3', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table3.row($tr).data()[0];
            table3.row($tr).remove().draw();
            setDataDtl3(); FillDetailData3();
            var data = table3.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = table3.row(i).data();
                    temp[0] = i + 1;
                    table3.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        table3.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table3.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var catid_temp = $("#suppcategoryid").val();
        $("#catid").val(catid_temp.split(","));

        FillDDLCity();
        FillDetailData1();
        FillDetailData2();
        FillDetailData3();

    })

    $('suppprovinceoid').on('change', function () {
        //alert(this.value);
        fillDDLCityHeader();
    });

    function provincechange() {
        fillDDLCityHeader();
    }

    function fillDDLCityHeader() {
        var ddl = $("#suppcityOid");
        var provinceoid = $("#suppprovinceoid").val();
        if (provinceoid == "" || provinceoid == 0) {
            ddl.html("<option value=''> Pilih Provinsi dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("GetCity"))",
                data: { provinceoid: provinceoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();
            },
            error: function (reponse) {
                alert("error fillDDLCityHeader : " + reponse);
            }
        });
        }
    }


    function FillDetailData1() {
        var url = "@(Url.Action("FillDetailData1"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                var rd = ' style="display:none" ';
                if (val.suppdtl1oid == 0) {
                    rd = ' ';
                }
                rows.push([
                    JSON.stringify(val),
                    val.suppdtl1seq,
                    '<input type="text" class="form-control" id="suppdtl1addr-' + val.suppdtl1seq + '" name="suppdtl1addr-' + val.suppdtl1seq + '" value="' + (val.suppdtl1addr == null ? "" : val.suppdtl1addr) + '">',
                    '<select class = "form-control select2" id ="suppcityOiddtl1-' + val.suppdtl1seq + '"> ' + $("#markup").val() + ' </select> ',
                    '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl1phone-' + val.suppdtl1seq + '" name="suppdtl1phone-' + val.suppdtl1seq + '" value="' + (val.suppdtl1phone == null ? "" : val.suppdtl1phone) + '">',
                    '<select class = "form-control" id="suppdtl1status-' + val.suppdtl1seq + '"> <option value="Active">Active</option> <option value="Inactive">Inactive</option> </select> ',
                    '<button id="remove1" type="button" class="btn btn-danger btn-xs btn-icon" '+ rd +'><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                var i = 1;
                table.rows.add(rows).draw();
                $("#DataDtl .select2").select2();
                $.each(data, function (key, val) {
                    $("#suppcityOiddtl1-" + val.suppdtl1seq + "").val(val.suppcityoid).trigger("change");
                    $("#suppdtl1status-" + val.suppdtl1seq + "").val(val.suppdtl1status).trigger("change");
                });
            }, 100);
        });
    }

    function FillDetailData2() {
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                var rd = ' style="display:none" ';
                if (val.suppdtl2oid == 0) {
                    rd = ' ';
                }
                rows.push([
                    JSON.stringify(val),
                    val.suppdtl2seq,
                    '<input type="text" class="form-control" id="suppdtl2picname-' + val.suppdtl2seq + '" name="suppdtl2pciname-' + val.suppdtl2seq + '" value="' + (val.suppdtl2picname == null ? "" : val.suppdtl2picname) + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl2phone1-' + val.suppdtl2seq + '" name="suppdtl2phone1-' + val.suppdtl2seq + '" value="' + (val.suppdtl2phone1 == null ? "" : val.suppdtl2phone1) + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl2phone2-' + val.suppdtl2seq + '" name="suppdtl2phone2-' + val.suppdtl2seq + '" value="' + (val.suppdtl2phone2 == null ? "" : val.suppdtl2phone2) + '">',
                    '<input type="email" class="form-control" id="suppdtl2email-' + val.suppdtl2seq + '" name="suppdtl2email-' + val.suppdtl2seq + '" value="' + (val.suppdtl2email == null ? "" : val.suppdtl2email) + '">',
                    '<input type="text" class="form-control" id="suppdtl2jabatan-' + val.suppdtl2seq + '" name="suppdtl2jabatan-' + val.suppdtl2seq + '" value="' + (val.suppdtl2jabatan == null ? "" : val.suppdtl2jabatan) + '">',
                    '<button id="remove2" type="button" class="btn btn-danger btn-xs btn-icon" '+ rd +'><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $("#DataDtl2 .select2").select2();
            }, 100);
        });
    }

    function FillDetailData3() {
        var url = "@(Url.Action("FillDetailData3"))";
        var table = $('#DataDtl3').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                var rd = ' style="display:none" ';
                if (val.suppdtl3oid == 0) {
                    rd = ' ';
                }
                rows.push([
                    JSON.stringify(val),
                    val.suppdtl3seq,
                    '<input type="text" class="form-control" id="suppdtl3picname-' + val.suppdtl3seq + '" name="suppdtl3picname-' + val.suppdtl3seq + '" value="' + (val.suppdtl3picname == null ? "" : val.suppdtl3picname) + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl3phone1-' + val.suppdtl3seq + '" name="suppdtl3phone1-' + val.suppdtl3seq + '" value="' + (val.suppdtl3phone1 == null ? "" : val.suppdtl3phone1) + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl3phone2-' + val.suppdtl3seq + '" name="suppdtl3phone2-' + val.suppdtl3seq + '" value="' + (val.suppdtl3phone2 == null ? "" : val.suppdtl3phone2) + '">',
                    '<input type="email" class="form-control" id="suppdtl3email-' + val.suppdtl3seq + '" name="suppdtl3email-' + val.suppdtl3seq + '" value="' + (val.suppdtl3email == null ? "" : val.suppdtl3email) + '">',
                    '<input type="text" class="form-control" id="suppdtl3jabatan-' + val.suppdtl3seq + '" name="suppdtl3jabatan-' + val.suppdtl3seq + '" value="' + (val.suppdtl3jabatan == null ? "" : val.suppdtl3jabatan) + '">',
                    '<input type="text" class="form-control" id="suppdtl3picproduk-' + val.suppdtl3seq + '" name="suppdtl3picproduk-' + val.suppdtl3seq + '" value="' + (val.suppdtl3picproduk == null ? "" : val.suppdtl3picproduk) + '">',
                    '<button id="remove3" type="button" class="btn btn-danger btn-xs btn-icon" '+ rd +'><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $("#DataDtl3 .select2").select2();
            }, 100);
        });
    }

    function FillDDLCity() {
        var markup = "";
        var url = "@(Url.Action("InitDDLCity"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
     }


    function AddToDetail1() {
        var table = $('#DataDtl').DataTable();
        var id = table.rows().data().length + 1;//menambahkan data ke tabel
        var obj = {
            suppdtl1oid: 0,
            suppdtl1seq: id
        };
        table.row.add([
            JSON.stringify(obj),
            id,
            '<input type="text" class="form-control" id="suppdtl1addr-' + id + '" name="suppdtl1addr-' + id + '" >',
            '<select class = "form-control select2" id ="suppcityOiddtl1-' + id + '">' + $("#markup").val() + '</select> ',
            '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl1phone-' + id + '" name="suppdtl1phone-' + id + '" >',
            '<select class = "form-control" id="suppdtl1status-' + id + '"> <option value="Active" selected>Active</option> <option value="Inactive">Inactive</option> </select> ',
            '<button id="remove1" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ]).draw();
        $("#DataDtl .select2").select2();
        }

    function AddToDetail2() {
        var table = $('#DataDtl2').DataTable();
        var id = table.rows().data().length + 1;//menambahkan data ke tabel
        var obj = {
            suppdtl2oid: 0,
            suppdtl2seq: id
        };
        table.row.add([
            JSON.stringify(obj),
            id,
            '<input type="text" class="form-control" id="suppdtl2picname-' + id + '" name="suppdtl2picname-' + id + '" >',
            '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl2phone1-' + id + '" name="suppdtl2phone1-' + id + '" >',
            '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl2phone2-' + id + '" name="suppdtl2phone2-' + id + '" >',
            '<input type="email" class="form-control" id="suppdtl2email-' + id + '" name="suppdtl2email-' + id + '" >',
            '<input type="text" class="form-control" id="suppdtl2jabatan-' + id + '" name="suppdtl2jabatan-' + id + '" >',
            '<button id="remove2" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ]).draw();
        $("#DataDtl2 .select2").select2();
    }

    function AddToDetail3() {
        var table = $('#DataDtl3').DataTable();
        var id = table.rows().data().length + 1;//menambahkan data ke tabel
        var obj = {
            suppdtl3oid: 0,
            suppdtl3seq: id
        };
        table.row.add([
            JSON.stringify(obj),
            id,
            '<input type="text" class="form-control" id="suppdtl3picname-' + id + '" name="suppdtl3picname-' + id + '" >',
            '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl3phone1-' + id + '" name="suppdtl3phone1-' + id + '" >',
            '<input type="text" class="form-control allownumericwithdecimal" id="suppdtl3phone2-' + id + '" name="suppdtl3phone2-' + id + '" >',
            '<input type="email" class="form-control" id="suppdtl3email-' + id + '" name="suppdtl3email-' + id + '" >',
            '<input type="text" class="form-control" id="suppdtl3jabatan-' + id + '" name="suppdtl3jabatan-' + id + '" >',
            '<input type="text" class="form-control" id="suppdtl3picproduk-' + id + '" name="suppdtl3picproduk-' + id + '" >',
            '<button id="remove3" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ]).draw();
        $("#DataDtl3 .select2").select2();
    }

    function setDataDtl() //mengirim data table ke controler
    {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var suppaddr_id = "#suppdtl1addr-" + alldata.suppdtl1seq;
            var suppcityoid_id = "#suppcityOiddtl1-" + alldata.suppdtl1seq;
            var suppphone_id = "#suppdtl1phone-" + alldata.suppdtl1seq;
            var suppstatus_id = "#suppdtl1status-" + alldata.suppdtl1seq;
            var suppaddr = table.$(suppaddr_id).val();
            var suppcityoid = table.$(suppcityoid_id).val();
            var suppphone = table.$(suppphone_id).val();
            var suppstatus = table.$(suppstatus_id).val();
            var obj = {
                suppdtl1seq: i + 1,
                suppdtl1oid: alldata.suppdtl1oid,
                suppdtl1addr: suppaddr,
                suppcityoid: suppcityoid,
                suppdtl1phone: suppphone,
                suppdtl1status: suppstatus,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("setDataDtl"))",
            data: JSON.stringify({ mdataDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function setDataDtl2() //mengirim data table ke controler
    {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var supppicname_id = "#suppdtl2picname-" + alldata.suppdtl2seq;
            var suppphone1_id = "#suppdtl2phone1-" + alldata.suppdtl2seq;
            var suppphone2_id = "#suppdtl2phone2-" + alldata.suppdtl2seq;
            var suppemail_id = "#suppdtl2email-" + alldata.suppdtl2seq;
            var suppjabatan_id = "#suppdtl2jabatan-" + alldata.suppdtl2seq;
            var supppicname = table.$(supppicname_id).val();
            var suppphone1 = table.$(suppphone1_id).val();
            var suppphone2 = table.$(suppphone2_id).val();
            var suppemail = table.$(suppemail_id).val();
            var suppjabatan = table.$(suppjabatan_id).val();
            var obj = {
                suppdtl2seq: i + 1,
                suppdtl2oid: alldata.suppdtl2oid,
                suppdtl2picname: supppicname,
                suppdtl2phone1: suppphone1,
                suppdtl2phone2: suppphone2,
                suppdtl2email: suppemail,
                suppdtl2jabatan: suppjabatan,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("setDataDtl2"))",
            data: JSON.stringify({ mdataDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function setDataDtl3() //mengirim data table ke controler
    {
        var table = $('#DataDtl3').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var supppicname_id = "#suppdtl3picname-" + alldata.suppdtl3seq;
            var suppphone1_id = "#suppdtl3phone1-" + alldata.suppdtl3seq;
            var suppphone2_id = "#suppdtl3phone2-" + alldata.suppdtl3seq;
            var suppemail_id = "#suppdtl3email-" + alldata.suppdtl3seq;
            var suppjabatan_id = "#suppdtl3jabatan-" + alldata.suppdtl3seq;
            var supppicproduk_id = "#suppdtl3picproduk-" + alldata.suppdtl3seq;
            var supppicname = table.$(supppicname_id).val();
            var suppphone1 = table.$(suppphone1_id).val();
            var suppphone2 = table.$(suppphone2_id).val();
            var suppemail = table.$(suppemail_id).val();
            var suppjabatan = table.$(suppjabatan_id).val();
            var supppicproduk = table.$(supppicproduk_id).val();
            var obj = {
                suppdtl3seq: i + 1,
                suppdtl3oid: alldata.suppdtl3oid,
                suppdtl3picname: supppicname,
                suppdtl3phone1: suppphone1,
                suppdtl3phone2: suppphone2,
                suppdtl3email: suppemail,
                suppdtl3jabatan: suppjabatan,
                suppdtl3picproduk: supppicproduk,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("setDataDtl3"))",
            data: JSON.stringify({ mdataDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function SetDataDtlAll() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var suppaddr_id = "#suppdtl1addr-" + alldata.suppdtl1seq;
            var suppcityoid_id = "#suppcityOiddtl1-" + alldata.suppdtl1seq;
            var suppphone_id = "#suppdtl1phone-" + alldata.suppdtl1seq;
            var suppstatus_id = "#suppdtl1status-" + alldata.suppdtl1seq;
            var suppaddr = table.$(suppaddr_id).val();
            var suppcityoid = table.$(suppcityoid_id).val();
            var suppphone = table.$(suppphone_id).val();
            var suppstatus = table.$(suppstatus_id).val();
            var obj = {
                suppdtl1seq: i + 1,
                suppdtl1oid: alldata.suppdtl1oid,
                suppdtl1addr: suppaddr,
                suppcityoid: suppcityoid,
                suppdtl1phone: suppphone,
                suppdtl1status: suppstatus,
            }
            rows.push(obj);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            var supppicname_id = "#suppdtl2picname-" + alldata.suppdtl2seq;
            var suppphone1_id = "#suppdtl2phone1-" + alldata.suppdtl2seq;
            var suppphone2_id = "#suppdtl2phone2-" + alldata.suppdtl2seq;
            var suppemail_id = "#suppdtl2email-" + alldata.suppdtl2seq;
            var suppjabatan_id = "#suppdtl2jabatan-" + alldata.suppdtl2seq;
            var supppicname = table2.$(supppicname_id).val();
            var suppphone1 = table2.$(suppphone1_id).val();
            var suppphone2 = table2.$(suppphone2_id).val();
            var suppemail = table2.$(suppemail_id).val();
            var suppjabatan = table2.$(suppjabatan_id).val();
            var obj = {
                suppdtl2seq: i + 1,
                suppdtl2oid: alldata.suppdtl2oid,
                suppdtl2picname: supppicname,
                suppdtl2phone1: suppphone1,
                suppdtl2phone2: suppphone2,
                suppdtl2email: suppemail,
                suppdtl2jabatan: suppjabatan,
            }
            rows2.push(obj);
        }

        var table3 = $('#DataDtl3').DataTable();
        var dataDtl3 = table3.rows().data();
        var rows3 = [];
        for (var i = 0 ; i < dataDtl3.length; i++) {
            var alldata = JSON.parse(dataDtl3[i][0]);
            var supppicname_id = "#suppdtl3picname-" + alldata.suppdtl3seq;
            var suppphone1_id = "#suppdtl3phone1-" + alldata.suppdtl3seq;
            var suppphone2_id = "#suppdtl3phone2-" + alldata.suppdtl3seq;
            var suppemail_id = "#suppdtl3email-" + alldata.suppdtl3seq;
            var suppjabatan_id = "#suppdtl3jabatan-" + alldata.suppdtl3seq;
            var supppicproduk_id = "#suppdtl3picproduk-" + alldata.suppdtl3seq;
            var supppicname = table3.$(supppicname_id).val();
            var suppphone1 = table3.$(suppphone1_id).val();
            var suppphone2 = table3.$(suppphone2_id).val();
            var suppemail = table3.$(suppemail_id).val();
            var suppjabatan = table3.$(suppjabatan_id).val();
            var supppicproduk = table3.$(supppicproduk_id).val();
            var obj = {
                suppdtl3seq: i + 1,
                suppdtl3oid: alldata.suppdtl3oid,
                suppdtl3picname: supppicname,
                suppdtl3phone1: suppphone1,
                suppdtl3phone2: suppphone2,
                suppdtl3email: suppemail,
                suppdtl3jabatan: suppjabatan,
                suppdtl3picproduk: supppicproduk,
            }
            rows3.push(obj);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2, dtDtl3: rows3 }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function previewktpimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#suppktpimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#suppktpimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#suppktpimg').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    function previewnpwpimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#suppnpwpimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#suppnpwpimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url ,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#suppnpwpimg').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $("#btnSave").click(function () {
        SetDataDtlAll();
    });

    $("#btnDelete").click(function () {
        var oid = $("#suppoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

</script>