﻿@model IEnumerable<APIS_WB.Controllers.Master.SupplierController.suppmst>

@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Supplier</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    @{ if (Session["ExpMasterXls"].ToString() == "Yes")
                        {
                        <div class="pull-right">
                            <button type="button" class="btn btn-success btn-md" id="btnExportXls"><b>Export Excel</b></button>
                        </div>
                        <div class="pull-right">
                            @Html.DropDownList("typeexp", new List<SelectListItem>
                        {
                            new SelectListItem { Text="Supplier", Value="Supplier" },
                            new SelectListItem { Text="Alamat", Value="Alamat" },
                            new SelectListItem { Text="PIC Management", Value="PIC" },
                            new SelectListItem { Text="PIC Produk", Value="PICProd" }
                        }, new { @class = "form-control select2", @required = "" })
                        </div>
                        }
                    }
                    </div><br />                        
                    </div>
                    <div class="box-footer clearfix no-border" style="display:none">                        
                        <a href="Index" class="btn bg-red btn-md btn-flat-margin"><b>Download Ke PDF</b></a>
                        @*<a href="Index" class="btn bg-green btn-md btn-flat-margin"><b>Download Ke Excel</b></a>*@
                    </div>
                

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Alamat</th>
                                        <th>TOP</th>
                                        <th>Pajak</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.suppoid)" class="text-primary">@Html.DisplayFor(m => i.suppcode)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.suppname)</td>
                                                <td>@Html.DisplayFor(m => i.suppaddr)</td>
                                                <td>@Html.DisplayFor(m => i.payterm)</td>
                                                <td>@Html.DisplayFor(m => i.pajak)</td>
                                                <td>@Html.DisplayFor(m => i.suppemail)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script language="javascript" type="text/javascript">
        $("#btnExportXls").click(function () {
            var typeexp = $("#typeexp option:selected").val();
            window.location.assign("@Url.Action("PrintXlsReport")?typeexp=" + typeexp + "");
        });
    </script>
</section>