﻿@model APIS_WB.Models.DB.QL_mstFA

@{
    ViewBag.Title = "GenFA";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Generate Faktur Pajak</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Generate Faktur Pajak</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.faoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="row">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="col-lg-2 control-label">No. Faktur Pajak</label>
                                        <div class="col-lg-2">
                                            <input type="text" id="c1" class="form-control numberonly" placeholder="001" maxlength="3" width="50" >
                                            @Html.ValidationMessage("vc1", "", new { @class = "text-danger", @id = "vc1" })
                                            @Html.ValidationMessage("vc12", "", new { @class = "text-danger", @id = "vc12" })
                                        </div>
                                        <div class="col-lg-1">
                                            <input type="text" id="c2" class="form-control numberonly" placeholder="01" maxlength="2" >
                                            @Html.ValidationMessage("vc2", "", new { @class = "text-danger", @id = "vc2" })
                                            @Html.ValidationMessage("vc22", "", new { @class = "text-danger", @id = "vc22" })
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="text" id="a1" class="form-control numberonly" placeholder="00000001" maxlength="18" >
                                            @Html.ValidationMessage("va1", "", new { @class = "text-danger", @id = "va1" })
                                            @Html.ValidationMessage("va12", "", new { @class = "text-danger", @id = "va12" })
                                        </div>
                                        <label class="col-lg-1 control-label" align="center">s/d</label>
                                        <div class="col-lg-2">
                                            <input type="text" id="a2" class="form-control numberonly" placeholder="00000010" maxlength="18">
                                            @Html.ValidationMessage("va2", "", new { @class = "text-danger", @id = "va2" })
                                            @Html.ValidationMessage("va22", "", new { @class = "text-danger", @id = "va22" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                                        <a href="@Url.Action("form")" type="button" class="btn btn-default"><b>Cancel</b></a>
                                        <button class="btn btn-success" type="button" onclick="AddToList()" >Generate</button>
                                    </div>
                                </div>
                            </div><br><br>

                            <div class="row">
                                <table id="DataDtl" class="table table-striped">
                                    <thead>
                                        <tr role="row">
                                            <th>NO Faktur</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table><br>
                            </div>

                       
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"  id="btnSave"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": true,
            "bFilter": true,
            "ordering": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
    })

    function AddToList() {
        var table = $('#DataDtl').DataTable();
        var c1 = $('#c1').val();
        var c2 = $('#c2').val();
        var a1 = parseInt(removeCommas($('#a1').val()));
        var a2 = parseInt(removeCommas($('#a2').val()));
        var temp = "";
        var temp1 = "";
        if (IsValid()) {
            table.clear().draw();
            for (var i = a1 ; i < a2 + 1; i++) {
                temp = i.toString();
                temp1 = i.toString();
                if (temp.length < 8) {
                    for (var j = 1 ; j < 9 - temp1.length; j++) {
                        temp = "0" + temp
                    }
                }
                table.row.add([
                        c1 + "-" + c2 + "." + temp,
                        "ACTIVE",
                    ]).draw();
                }
                clearDetail();
                SetDataDtl();
        }
    }

    function SetDataDtl() {//mengirim data table ke controler
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();

        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var obj = {
                fano: dataDtl[i][0],
                status: dataDtl[i][1],
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetFAData"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    function clearDetail() {//clear field data detail
        $('#c1').val(000);
        $('#c2').val(00);
        $('#a1').val(00000000);
        $('#a2').val(00000000);

    }

    function IsValid() {
        var c1 = $('#c1').val();
        var c2 = $('#c2').val();
        var c3 = $('#a1').val();
        var c4 = $('#a2').val();
        var a1 = parseInt($('#a1').val());
        var a2 = parseInt($('#a2').val());
        var isValid = true;

        if (c1.length > 0) {
            $('#vc1').hide();
        } else {
            isValid = false;
            $('#vc1').html("Isi kolom pertama FA dahulu");
            $('#vc1').show();
        }
        if (c2.length > 0) {
            $('#vc2').hide();
        } else {
            isValid = false;
            $('#vc2').html("Isi kolom kedua FA dahulu");
            $('#vc2').show();
        }
        if (c3.length > 0) {
            $('#va1').hide();
        } else {
            isValid = false;
            $('#va1').html("Isi kolom Ketiga FA dahulu");
            $('#va1').show();
        }
        if (c4.length > 0) {
            $('#va2').hide();
        } else {
            isValid = false;
            $('#va2').html("Isi kolom Keempat FA dahulu");
            $('#va2').show();
        }
        if (a1 <= a2) {
            $('#va2').hide();
        } else {
            isValid = false;
            $('#va2').html("Isi kolom Keempat harus lebih besar dari kolom ketiga");
            $('#va2').show();
        }
        if(c1.length == 3){
            $('#vc12').hide();
        } else {
            isValid = false;
            $('#vc12').html("Isi kolom pertama tidak sesuai format (3)");
            $('#vc12').show();
        }
        if (c2.length == 2) {
            $('#vc22').hide();
        } else {
            isValid = false;
            $('#vc22').html("Isi kolom pertama tidak sesuai format (2)");
            $('#vc22').show();
        }
        //if (c3.length == 8) {
        //    $('#va12').hide();
        //} else {
        //    isValid = false;
        //    $('#va12').html("Isi kolom ketiga tidak sesuai format (8)");
        //    $('#va12').show();
        //}
        //if (c4.length == 8) {
        //    $('#va22').hide();
        //} else {
        //    isValid = false;
        //    $('#va22').html("Isi kolom keempat tidak sesuai format (8)");
        //    $('#va22').show();
        //}


        return isValid;
    }


</script>