﻿@model APIS_WB.Models.DB.QL_trntransformmst

@{
    ViewBag.Title = "Transform Barang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Transform Barang
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-sm-12">
            <div class="box box-primary form-horizontal">
        @using (Html.BeginForm())
            {
            <!-- /.box-header -->
            <div class="box-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.cmpcode)
                @Html.HiddenFor(model => model.transformmstoid)
                @Html.HiddenFor(model => model.periodacctg)
                @Html.HiddenFor(model => model.transformdate)
                @Html.HiddenFor(model => model.transformdocdate)
                @Html.HiddenFor(model => model.upduser)
                @Html.HiddenFor(model => model.updtime)
                @Html.HiddenFor(model => model.createtime)
                @Html.HiddenFor(model => model.createuser)
                @Html.HiddenFor(model => model.shipmentitemmstoid)
                @Html.Hidden("uid")
                @Html.Hidden("action")
                @Html.Hidden("IsApp")
                @Html.Hidden("markup")
                @Html.Hidden("markupto")
                @Html.Hidden("deftax")
                <div class="container-fluid">
                    <div class="form-group">
                        <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "Data Baru" : "Edit" )</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Draft No.</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.transformmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.transformmstoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">No. Transform</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.transformno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.transformno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tgl. Transaksi</label>
                                <div class="col-sm-6">
                                    @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tgl. Dokumen</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>      
                                    @Html.ValidationMessageFor(model => model.transformdate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tipe Transform</label>
                                <div class="col-sm-6">
                                    @Html.DropDownListFor(model => model.transformtype, new List<SelectListItem>
                                    {
                                        new SelectListItem { Text= "Membuat", Value= "Membuat" },
                                        new SelectListItem { Text= "Merubah", Value= "Merubah" },
                                        new SelectListItem { Text= "Membongkar", Value= "Membongkar" },
                                    }, new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.transformtype, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Status</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.transformmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly", @Value = Model.transformmststatus } })
                                    @Html.ValidationMessageFor(model => model.transformmststatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Project</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.HiddenFor(model => model.rabmstoid)
                                        @Html.HiddenFor(model => model.rabmstoid_awal)
                                    </div>
                                    @Html.ValidationMessageFor(model => model.rabmstoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Departemen</label>
                                <div class="col-md-8">
                                    @Html.Editor("departemen", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">No. SO</label>
                                <div class="col-md-8">
                                    @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                </div>
                                @Html.HiddenFor(model => model.soitemmstoid)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Customer</label>
                                <div class="col-md-8">
                                    @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                </div>
                                @Html.HiddenFor(model => model.custoid)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Total Qty Bahan</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.transformtotalqtyin, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.transformtotalqtyin, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Total Qty Hasil</label>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.transformtotalqtyout, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.transformtotalqtyout, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Catatan</label>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(model => model.transformmstnote, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                    @Html.ValidationMessageFor(model => model.transformmstnote, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tipe Transaksi</label>
                                <div class="col-sm-6">
                                    @Html.RadioButtonFor(model => model.shipmenttype, "Complete", new { @checked = "checked", @required = "" })
                                    Complete
                                    @Html.RadioButtonFor(model => model.shipmenttype, "Draft", new { @required = "" })
                                    Draft
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.shipmenttype, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" id="divppn" style="display:none">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">PPN</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.transformtaxvalue, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-flat">
                                                <i class="fa fa-percent"></i>
                                            </button>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.transformtaxvalue, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-sm-12">
                                <h4><b>Detail Barang</b></h4>
                            </div>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs pull-left">
                                        <li class="active"><a href="#detail-output" data-toggle="tab"><b>Barang Jadi</b></a></li>
                                        <li><a href="#detail-input" data-toggle="tab"><b> Barang Baku</b></a></li>
                                    </ul>
                                    <div class="tab-content no-padding">
                                        <!-- Morris chart - Sales -->
                                        <div class="chart tab-pane active" id="detail-output" style="position: relative; overflow-x: auto;">
                                            <div class="row">
                                                <br />
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Gudang Barang Jadi</label>
                                                        <div class="col-md-6">
                                                            @Html.DropDownList("towhoid", null, new { @class = "form-control select2" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-left: 20px;" align="right">
                                                <button type="button" id="btntambah2" class="btn btn-primary">
                                                    <i class="fa fa-plus"></i>
                                                    Tambah
                                                </button>
                                            </div>
                                            <table id="DataDtl2" class="table table-striped" style="position: relative; overflow-x: auto;">
                                                <thead>
                                                    <tr role="row">
                                                        <th>alldata</th>
                                                        <th width="50px">No</th>
                                                        <th width="100px">Gudang</th>
                                                        <th width="100px">Kode</th>
                                                        <th>Deskripsi</th>
                                                        <th width="100px">Qty</th>
                                                        <th>HPP</th>
                                                        <th>Satuan</th>
                                                        <th>Catatan</th>
                                                        <th width="50px">Opsi</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table><br>
                                        </div>

                                        <div class="chart tab-pane" id="detail-input" style="position: relative; overflow-x: auto;">
                                            <div class="row"><br/>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Gudang Barang</label>
                                                        <div class="col-md-6">
                                                            @Html.DropDownList("whoid", null, new { @class = "form-control select2" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <button type="button" id="btntambah" class="btn btn-primary">
                                                    <i class="fa fa-plus"></i>
                                                    Tambah
                                                </button>
                                            </div>
                                            <table id="DataDtl" width="100%" class="table table-striped" style="position: relative; overflow-x: auto;">
                                                <thead>
                                                    <tr role="row">
                                                        <th>alldata</th>
                                                        <th width="50px">No</th>
                                                        <th width="100px">Gudang</th>
                                                        <th width="100px">Kode</th>
                                                        <th>Deskripsi</th>
                                                        <th width="100px">PID</th>
                                                        <th width="100px">Serial<br/>Number</th>
                                                        <th>Qty Stock</th>
                                                        <th width="100px">Qty</th>
                                                        <th>Satuan</th>
                                                        <th>Catatan</th>
                                                        <th width="50px">Opsi</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table><br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- </section> -->
                    <br>
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                if (@Model.transformmststatus == "In Process" | @Model.transformmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>                
                <!-- /.box-body -->        
                }
                </div>
        </section>
    </div>

    @* MODAL UNTUK DETAIL 1*@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang Input</h4>
                    <div class="row"><br />
                        <div class="col-md-12">
                            <span>Filter Item : </span> @Html.Editor("filteritem", new { @class = "form-control", @type = "text" })
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            <span>Filter PID -: </span> 
                            @Html.Editor("pidstart", new { @class = "form-control", @type = "text" })
                            @Html.Editor("pidend", new { @class = "form-control", @type = "text" })
                            <button type="button" class="btn btn-warning" onclick="cariItem()"> Cari Data</button>
                            <button type="button" class="btn btn-success" onclick="semuaItem()"> Semua Data</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Tipe</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>PID</th>
                                    <th>Serial<br/>Number</th>
                                    <th>Stock<br/>Qty</th>
                                    <th>Gudang</th>
                                    <th>Unit</th>
                                    <th>Flag</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 1*@

    @* MODAL UNTUK DETAIL 1 One*@
    <div class="modal fade" id="modal-itemOne">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang Input</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtlOne" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Tipe</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>PID</th>
                                    <th>Stock Qty</th>
                                    <th>Gudang</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 1 One*@

    @* MODAL UNTUK DETAIL 2*@
    <div class="modal fade" id="modal-item2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang Output</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl2" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Tipe</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Gudang</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail2()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 2*@

    @* MODAL UNTUK DETAIL 2 One*@
    <div class="modal fade" id="modal-item2One">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang Output</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl2One" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Tipe</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Gudang</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 2 One*@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. RAB</th>
                                    <th>Tanggal</th>
                                    <th>RAB Type</th>
                                    <th>Project</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@
</section>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": true,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var tblModalDtl2 = $("#tblModalDtl2").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var tblModalDtlOne = $("#tblModalDtlOne").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                }
            ]
        });
        tblModalDtlOne.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var whoid = $('#whoid option:selected').val();
            var whdesc = $('#whoid option:selected').text();
            var data = tblModalDtlOne.row($tr).data();
            var tbldtl = $('#DataDtl').DataTable();
            var alldata = JSON.parse(data[0])
            if (!IsOnDtl(alldata.itemoid, alldata.itempid, alldata.serialnumber, alldata.itemrefoid, alldata.rabdtl2oid)) {
                var id = tbldtl.rows().data().length + 1;
                var obj = {
                    transformdtl1seq: id,
                    transformdtl1reftype: alldata.itemtype,
                    transformdtl1refoid: alldata.itemoid,
                    itemcode: alldata.itemcode,
                    itemdesc: alldata.itemdesc,
                    refno: alldata.itempid,
                    transformdtl1unitoid: alldata.itemunitoid,
                    transformdtl1unit: alldata.itemunit,
                    stockqty: alldata.stockqty,
                    transformdtl1whoid: whoid,
                    transformdtl1wh: whdesc,
                    itemrefoid: alldata.itemrefoid
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    whdesc,
                    alldata.itemcode,
                    alldata.itemdesc,
                    alldata.itempid,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="stockqty-' + id + '" name="stockqty-' + id + '" value="'+ addCommas(alldata.stockqty) +'" readonly="">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl1qty-' + id + '" name="transformdtl1qty-' + id + '" value="' + addCommas(alldata.stockqty) + '" onkeyup="SumQtyIN()" >',
                    alldata.itemunit,
                    '<input type="text" class="form-control" id="transformdtl1note-' + id + '" name="transformdtl1note-' + id + '" >',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
            }
            $('#modal-itemOne').modal('hide');
            SetDataDtl($('#uid').val());
            SumQtyIN(); EnabledHeader();
        });

        var tblModalDtl2One = $("#tblModalDtl2One").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                }
            ]
        });
        tblModalDtl2One.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var tipe = $('#transformtype option:selected').val();
            var ro = '';
            if (tipe == 'Membuat') {
                ro = ' readonly=""';
            }
            var whoid = $('#towhoid option:selected').val();
            var whdesc = $('#towhoid option:selected').text();
            var data = tblModalDtl2One.row($tr).data();
            var tbldtl = $('#DataDtl2').DataTable();
            var alldata = JSON.parse(data[0])
            if (!IsOnDtl2(alldata.itemoid)) {
                var id = tbldtl.rows().data().length + 1;
                var obj = {
                    transformdtl2seq: id,
                    transformdtl2reftype: alldata.itemtype,
                    transformdtl2refoid: alldata.itemoid,
                    itemcode: alldata.itemcode,
                    itemdesc: alldata.itemdesc,
                    transformdtl2unitoid: alldata.itemunitoid,
                    transformdtl2unit: alldata.itemunit,
                    transformdtl2whoid: whoid,
                    transformdtl2wh: whdesc
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    whdesc,
                    alldata.itemcode,
                    alldata.itemdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl2qty-' + id + '" name="transformdtl2qty-' + id + '" value="' + addCommas(alldata.stockqty) + '" onkeyup="SumQtyOUT()" >',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl2valueidr-' + id + '" name="transformdtl2valueidr-' + id + '" value="0" "'+ ro +'" >',
                    alldata.itemunit,
                    '<input type="text" class="form-control" id="transformdtl2note-' + id + '" name="transformdtl2note-' + id + '" >',
                    '<button id="remove2" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
            }
            $('#modal-item2One').modal('hide');
            SetDataDtl2($('#uid').val());
            SumQtyOUT(); EnabledHeader();
        });

        var tblModalRAB = $("#tblModalRAB").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#rabmstoid_awal").val(alldata.rabmstoid_awal);
            $("#projectname").val(alldata.projectname);
            $("#departemen").val(alldata.departemen);
            $("#custoid").val(alldata.custoid);
            $("#custname").val(alldata.custname);
            $("#soitemmstoid").val(alldata.soitemmstoid);
            $("#soitemno").val(alldata.soitemno);
            $('#modal-rab').modal('hide');
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 7, 10],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl($('#uid').val()); FillDetailData($('#uid').val());
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var table2 = $('#DataDtl2').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 6, 7, 8],
                "visible": false,
                "searchable": false
            }]
        });
        table2.on('click', '#remove2', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[1];
            table2.row($tr).remove().draw();
            SetDataDtl2($('#uid').val()); FillDetailData2($('#uid').val());
            var data2 = table2.rows().data();
            for (var i = 0 ; i < data2.length; i++) {
                if (data2[i][1] >= id) {
                    var temp = table2.row(i).data();
                    temp[1] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table2.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        $("#transformtype").change(function () {
            clearProject(); changeType();
        })

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#transformdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        FillDDLGudang();
        FillDDLGudangTo();
        if ($('#action').val() == "Edit") {
            var transformtype = $('#transformtype option:selected').val();
            $('#divppn').hide();
            if (transformtype == "Merubah") {
                $('#divppn').show();
            }
        }
        FillDetailData($('#uid').val());
        FillDetailData2($('#uid').val());

        $('#transformtotalqtyin').val(addCommas($('#transformtotalqtyin').val()));
        $('#transformtotalqtyout').val(addCommas($('#transformtotalqtyout').val()));
    })

    function changeType() {
        var transformtype = $('#transformtype option:selected').val();
        $('#divppn').hide(); 
        if (transformtype == "Merubah") {
            $('#divppn').show();
        }
        if ($('#action').val() == "Create"){
            $('#transformtaxvalue').val(0);
            if (transformtype == "Merubah") {
                $('#transformtaxvalue').val($('#deftax').val());
            }
        }
    }

    function FillDetailData(uid) {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.transformdtl1seq,
                        val.transformdtl1wh,
                        val.itemcode,
                        val.itemdesc,
                        val.refno,
                        val.serialnumber,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="stockqty-' + val.transformdtl1seq + '" name="stockqty-' + val.transformdtl1seq + '" value = "' + addCommas(val.stockqty) + '" readonly="" >',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl1qty-' + val.transformdtl1seq + '" name="transformdtl1qty-' + val.transformdtl1seq + '" value = "' + addCommas(val.transformdtl1qty) + '"onkeyup="SumQtyIN()" >',
                        val.transformdtl1unit,
                        '<input type="text" class="form-control" id="transformdtl1note-' + val.transformdtl1seq + '" name="transformdtl1note-' + val.transformdtl1seq + '" value="' + (val.transformdtl1note == null ? "" : val.transformdtl1note) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    SumQtyIN(); EnabledHeader();
                }, 100);
            }
        });
    }

    function FillDetailData2(uid) {
        var tipe = $('#transformtype option:selected').val();
        var ro = '';
        if (tipe != '') {
            ro = ' readonly=""';
        }
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.transformdtl2seq,
                        val.transformdtl2wh,
                        val.itemcode,
                        val.itemdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl2qty-' + val.transformdtl2seq + '" name="transformdtl2qty-' + val.transformdtl2seq + '" value = "' + addCommas(val.transformdtl2qty) + '"onkeyup="SumQtyOUT()" >',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl2valueidr-' + val.transformdtl2seq + '" name="transformdtl2valueidr-' + val.transformdtl2seq + '" value = "' + addCommas(val.transformdtl2valueidr) + '" "'+ ro +'">',
                        val.transformdtl2unit,
                        '<input type="text" class="form-control" id="transformdtl2note-' + val.transformdtl2seq + '" name="transformdtl2note-' + val.transformdtl2seq + '" value="' + (val.transformdtl2note == null ? "" : val.transformdtl2note) + '">',
                        '<button id="remove2" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    SumQtyOUT(); EnabledHeader();
                }, 100);
            }
        });
    }

    function clearProject() {
        $("#rabmstoid").val(0);
        $("#projectname").val("");
        $("#departemen").val("");
        $("#custoid").val(0);
        $("#custname").val("");
        $("#soitemmstoid").val(0);
        $("#soitemno").val("");
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var table2 = $('#DataDtl2').DataTable();
        var data2 = table2.rows().data();
        if (data.length > 0) {
            $("#transformtype").attr("readonly", true);
        } else if (data2.length > 0) {
            $("#transformtype").attr("readonly", true);
        } else {
            $("#transformtype").attr("readonly", false);
        }
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#btnsearchrab").attr("disabled", bVal);
    }

    function FillDDLGudang() {
        var whoid = $("#whoid");
        var whoid_sel = $("#whoid option:selected").val();
        whoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWH"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.gnoid == whoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    whoid.html(markup).show();
                    if (isExist == true) {
                        whoid.val(whoid_sel);
                    }
                    whoid.trigger('change');
                } else {
                    whoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDDLGudangTo() {
        var whoid = $("#towhoid");
        var whoid_sel = $("#towhoid option:selected").val();
        whoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWHTo"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.gnoid == whoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    whoid.html(markup).show();
                    if (isExist == true) {
                        whoid.val(whoid_sel);
                    }
                    whoid.trigger('change');
                } else {
                    whoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillStockWH(id, itemoid, refno) {
        var markup = "";
        var url = "@(Url.Action("InitStockWH"))";
        var whfrom = $("#transitemfromwhoid-" + id + "").val();
        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom, itemoid: itemoid, refno: refno },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#qtystok-"+ id +"").val(val.stokakhir);
                    });
                }
            }
        });
    }

    function FillStockWH2(id, itemoid, refno) {
        var markup = "";
        var url = "@(Url.Action("InitStockWH"))";
        var whfrom = $("#transitemtowhoid").val();
        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom, itemoid: itemoid, refno: refno },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#qtystok2").val(val.stokakhir);
                    });
                }
            }
        });
    }

    function multiMatIn(whoid, whdesc, tipe) {
        var tablemat = $('#DataDtl').DataTable();
        var datamat = tablemat.rows().data();
        var filtermat = ""; var filterpid = "";
        for (var i = 0 ; i < datamat.length; i++) {
            var alldata = JSON.parse(datamat[i][0])
            filtermat += alldata.transformdtl1refoid;
            filterpid += "'" + alldata.refno + "'";
            if (i < parseFloat(datamat.length - 1)) {
                filtermat += ",";
                filterpid += ",";
            }
        };
        var rabmstoid = $('#rabmstoid').val();
        var rabmstoid_awal = $('#rabmstoid_awal').val();
        var filteritem = $("#filteritem").val();
        var pidstart = $("#pidstart").val();
        var pidend = $("#pidend").val(); var stocktype = "PO";
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            data: { itemtype: tipe, rabmstoid: rabmstoid, rabmstoid_awal: rabmstoid_awal, filteritem: filteritem, pidstart: pidstart, pidend: pidend, filtermat: filtermat, filterpid, filterpid, whoid: whoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    if (val.transformdtl1res2 == "") {
                        stocktype = "PO";
                    }
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.itemtype,
                        val.itemcode,                        
                        val.itemdesc,
                        val.itempid,
                        val.serialnumber,
                        addCommas(val.stockqty),
                        whdesc,
                        val.itemunit,
                        stocktype
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function singleMatIn(whoid, whdesc, tipe) {
        var rabmstoid = "";
        var filteritem = "";
        var pidstart = "";
        var pidend = "";
        var table = $('#tblModalDtlOne').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            data: { itemtype: tipe, rabmstoid: rabmstoid, filteritem: filteritem, pidstart: pidstart, pidend: pidend },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.itemtype,
                        val.itemcode,                        
                        val.itemdesc,
                        val.itempid,
                        addCommas(val.stockqty),
                        whdesc,
                        val.itemunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnsearchrab").click(function () {
        var itemtype = $('#transformtype option:selected').val();
        var table = $('#tblModalRAB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            data: { itemtype: itemtype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.rabtype,
                        val.projectname,
                        val.rabmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }   
        });
    });

    function cariItem() {
        bindItemDtl();
    }

    function semuaItem() {
        $("#filteritem").val("");
        $("#pidstart").val("");
        $("#pidend").val("");
        bindItemDtl();
    }

    function bindItemDtl() {
        var tipe = $('#transformtype option:selected').val();
        var projectname = $('#projectname').val();
        var whoid = $('#whoid option:selected').val();
        var whdesc = $('#whoid option:selected').text();
        if (tipe != "Merubah") {
            if (projectname == "") {
                Swal('Silahkan Pilih Project!', '', 'warning');
                return false
            }
        }
        //if (tipe != "Membuat") {
        //    var tbldtl = $('#DataDtl').DataTable();
        //    if (tbldtl.rows().data().length > 0) {
        //        Swal('Detail Data Tidak Boleh Lebih Dari 1 Data!', '', 'warning');
        //        return false
        //    }
        //}
        $('#modal-item').modal('show'); $('#modal-itemOne').modal('hide');
        multiMatIn(whoid, whdesc, tipe);
        //if (tipe == "Membuat") {
        //    $('#modal-item').modal('show'); $('#modal-itemOne').modal('hide');
        //    multiMatIn(whoid, whdesc, tipe);
        //} else {
        //    $('#modal-item').modal('hide'); $('#modal-itemOne').modal('show');
        //    singleMatIn(whoid, whdesc, tipe);
        //}
    }

    //Pop Up Data Detail
    $("#btntambah").click(function () {
        bindItemDtl();
    });

    function AddToDetail() {
        var isValid = true;
        var tipe = $('#transformtype option:selected').val();
        var whoid = $('#whoid option:selected').val();
        var whdesc = $('#whoid option:selected').text();
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.itemoid, alldata.itempid, alldata.serialnumber, alldata.itemrefoid, alldata.rabdtl2oid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        transformdtl1seq: id,
                        transformdtl1reftype: alldata.itemtype,
                        transformdtl1refoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemdesc: alldata.itemdesc,
                        refno: alldata.itempid,
                        serialnumber: alldata.serialnumber,
                        transformdtl1unitoid: alldata.itemunitoid,
                        transformdtl1unit: alldata.itemunit,
                        stockqty: alldata.stockqty,
                        transformdtl1whoid: whoid,
                        transformdtl1wh: whdesc,
                        transformdtl1res2: alldata.transformdtl1res2,
                        transformdtl1valueidr: alldata.valueidr,
                        itemrefoid: alldata.itemrefoid
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        whdesc,
                        alldata.itemcode,
                        alldata.itemdesc,
                        alldata.itempid,
                        alldata.serialnumber,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="stockqty-' + id + '" name="stockqty-' + id + '" value="' + addCommas(alldata.stockqty) + '" readonly="">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl1qty-' + id + '" name="transformdtl1qty-' + id + '" value="' + addCommas(alldata.stockqty) + '" onkeyup="SumQtyIN()" >',
                        alldata.itemunit,
                        '<input type="text" class="form-control" id="transformdtl1note-' + id + '" name="transformdtl1note-' + id + '" >',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    SumQtyIN(); EnabledHeader();
                }
            }
        })
        SetDataDtl($('#uid').val());
    }

    function multiMatOut(whoid, whdesc, tipe) {
        var rabmstoid = $('#rabmstoid').val();
        var table = $('#tblModalDtl2').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail2"))",
            data: { itemtype: tipe, rabmstoid: rabmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.itemtype,
                        val.itemcode,
                        val.itemdesc,
                        whdesc,
                        val.itemunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function singleMatOut(whoid, whdesc, tipe) {
        var rabmstoid = $('#rabmstoid').val();
        var table = $('#tblModalDtl2One').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail2"))",
            data: { itemtype: tipe, rabmstoid: rabmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.itemtype,
                        val.itemcode,
                        val.itemdesc,
                        whdesc,
                        val.itemunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //Pop Up Data Detail 2
    $("#btntambah2").click(function () {
        var tipe = $('#transformtype option:selected').val();
        var projectname = $('#projectname').val();
        var whoid = $('#towhoid option:selected').val();
        var whdesc = $('#towhoid option:selected').text();
        if (tipe != "Merubah") {
            if (projectname == "") {
                Swal('Silahkan Pilih Project!', '', 'warning');
                return false
            }
        }
        //if (tipe == "Membuat") {
        //    var tbldtl = $('#DataDtl2').DataTable();
        //    if (tbldtl.rows().data().length > 0) {
        //        Swal('Detail Data Tidak Boleh Lebih Dari 1 Data!', '', 'warning');
        //        return false
        //    }
        //}
        $('#modal-item2').modal('show'); $('#modal-item2One').modal('hide');
        multiMatOut(whoid, whdesc, tipe);
        //if (tipe != "Membuat") {
        //    $('#modal-item2').modal('show'); $('#modal-item2One').modal('hide');
        //    multiMatOut(whoid, whdesc, tipe);
        //} else {
        //    $('#modal-item2').modal('hide'); $('#modal-item2One').modal('show');
        //    singleMatOut(whoid, whdesc, tipe);
        //}
    });

    function AddToDetail2() {
        var isValid = true;
        var tipe = $('#transformtype option:selected').val();
        var ro = '';
        if (tipe != '') {
            ro = ' readonly=""';
        }
        var whoid = $('#towhoid option:selected').val();
        var whdesc = $('#towhoid option:selected').text();
        var table = $('#tblModalDtl2').DataTable();
        var tbldtl = $('#DataDtl2').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl2(alldata.itemoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        transformdtl2seq: id,
                        transformdtl2reftype: alldata.itemtype,
                        transformdtl2refoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemdesc: alldata.itemdesc,
                        transformdtl2unitoid: alldata.itemunitoid,
                        transformdtl2unit: alldata.itemunit,
                        transformdtl2valueidr: 0,
                        transformdtl2whoid: whoid,
                        transformdtl2wh: whdesc
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        whdesc,
                        alldata.itemcode,
                        alldata.itemdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl2qty-' + id + '" name="transformdtl2qty-' + id + '" value="' + addCommas(alldata.stockqty) + '" onkeyup="SumQtyOUT()" >',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="transformdtl2valueidr-' + id + '" name="transformdtl2valueidr-' + id + '" value="0" "'+ ro +'">',
                        alldata.itemunit,
                        '<input type="text" class="form-control" id="transformdtl2note-' + id + '" name="transformdtl2note-' + id + '" >',
                        '<button id="remove2" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    SumQtyOUT(); EnabledHeader();
                }
            }
        })
        SetDataDtl2($('#uid').val());
    }

    function SumQtyIN() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var qty = removeCommas(table.$("#transformdtl1qty-" + alldata.transformdtl1seq).val());
            amt += parseFloat(qty);
        }
        $('#transformtotalqtyin').val(addCommas(amt));
    }

    function SumQtyOUT() {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();
        var amt = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var qty = removeCommas(table.$("#transformdtl2qty-" + alldata.transformdtl2seq).val());
            amt += parseFloat(qty);
        }
        $('#transformtotalqtyout').val(addCommas(amt));
    }

    function IsOnDtl(itemoid, itempid, serialnumber, itemrefoid, rabdtl2oid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid && itempid == alldata.itempid && serialnumber == alldata.serialnumber && itemrefoid == alldata.itemrefoid && rabdtl2oid == alldata.rabdtl2oid) {
                return true;
            }
        }
        return false;
    }

    function IsOnDtl2(itemoid) {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var transformdtl1qty = removeCommas(table.$("#transformdtl1qty-" + alldata.transformdtl1seq).val());
            var transformdtl1note = table.$("#transformdtl1note-" + alldata.transformdtl1seq).val();
            var obj = {
                transformdtl1seq: i + 1,
                transformdtl1refoid: alldata.transformdtl1refoid,
                transformdtl1reftype: alldata.transformdtl1reftype,
                refno: alldata.refno,
                serialnumber: alldata.serialnumber,
                transformdtl1whoid: alldata.transformdtl1whoid,
                transformdtl1wh: alldata.transformdtl1wh,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                stockqty: alldata.stockqty,
                transformdtl1unit: alldata.transformdtl1unit,
                transformdtl1unitoid: alldata.transformdtl1unitoid,
                transformdtl1qty: transformdtl1qty,
                transformdtl1note: transformdtl1note,
                transformdtl1res2: alldata.transformdtl1res2,
                transformdtl1valueidr: alldata.transformdtl1valueidr,
                itemrefoid: alldata.itemrefoid
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid}),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtl2(uid) {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var transformdtl2qty = removeCommas(table.$("#transformdtl2qty-" + alldata.transformdtl2seq).val());
            var transformdtl2valueidr = table.$("#transformdtl2valueidr-" + alldata.transformdtl2seq).val();
            var transformdtl2note = table.$("#transformdtl2note-" + alldata.transformdtl2seq).val();
            var obj = {
                transformdtl2seq: i + 1,
                transformdtl2refoid: alldata.transformdtl2refoid,
                transformdtl2reftype: alldata.transformdtl2reftype,
                transformdtl2whoid: alldata.transformdtl2whoid,
                transformdtl2wh: alldata.transformdtl2wh,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                transformdtl2unit: alldata.transformdtl2unit,
                transformdtl2unitoid: alldata.transformdtl2unitoid,
                transformdtl2qty: transformdtl2qty,
                transformdtl2valueidr: transformdtl2valueidr,
                transformdtl2note: transformdtl2note
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails2"))",
            data: JSON.stringify({ dtDtl2: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $('#transformtotalqtyin').val(removeCommas($('#transformtotalqtyin').val()));
        $('#transformtotalqtyout').val(removeCommas($('#transformtotalqtyout').val()));
        SetDataDtlAll($('#uid').val());
    });

    function SetDataDtlAll(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var transformdtl1qty = removeCommas(table.$("#transformdtl1qty-" + alldata.transformdtl1seq).val());
            var transformdtl1note = table.$("#transformdtl1note-" + alldata.transformdtl1seq).val();
            var obj = {
                transformdtl1seq: i + 1,
                transformdtl1refoid: alldata.transformdtl1refoid,
                transformdtl1reftype: alldata.transformdtl1reftype,
                refno: alldata.refno,
                serialnumber: alldata.serialnumber,
                transformdtl1whoid: alldata.transformdtl1whoid,
                transformdtl1wh: alldata.transformdtl1wh,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                stockqty: alldata.stockqty,
                transformdtl1unit: alldata.transformdtl1unit,
                transformdtl1unitoid: alldata.transformdtl1unitoid,
                transformdtl1qty: transformdtl1qty,
                transformdtl1note: transformdtl1note,
                transformdtl1res2: alldata.transformdtl1res2,
                transformdtl1valueidr: alldata.transformdtl1valueidr,
                itemrefoid: alldata.itemrefoid
            }
            rows.push(obj);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            var transformdtl2qty = removeCommas(table2.$("#transformdtl2qty-" + alldata.transformdtl2seq).val());
            var transformdtl2valueidr = table2.$("#transformdtl2valueidr-" + alldata.transformdtl2seq).val();
            var transformdtl2note = table2.$("#transformdtl2note-" + alldata.transformdtl2seq).val();
            var obj = {
                transformdtl2seq: i + 1,
                transformdtl2refoid: alldata.transformdtl2refoid,
                transformdtl2reftype: alldata.transformdtl2reftype,
                transformdtl2whoid: alldata.transformdtl2whoid,
                transformdtl2wh: alldata.transformdtl2wh,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                transformdtl2unit: alldata.transformdtl2unit,
                transformdtl2unitoid: alldata.transformdtl2unitoid,
                transformdtl2qty: transformdtl2qty,
                transformdtl2valueidr: transformdtl2valueidr,
                transformdtl2note: transformdtl2note
            }
            rows2.push(obj);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }


    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#transformmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#transformmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    })
</script>
