﻿@model APIS_WB.Models.DB.QL_trnshipmentassetmst

@{
    ViewBag.Title = "Surat Jalan Asset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Surat Jalan Asset</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Surat Jalan Asset Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.shipmentassetdate)
                        @Html.HiddenFor(model => model.shipmentassetetd)
                        @Html.HiddenFor(model => model.shipmentasseteta)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentassetmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SJ No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentassetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentassetdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No. </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("soassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.soassetmstoid)
                                            @Html.HiddenFor(model => model.curroid)
                                            @Html.ValidationMessageFor(model => model.soassetmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Container No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentassetcontno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Ship</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentassetportship, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETD <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.shipmentassetetd, new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentassetetd, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Port Discharge</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.shipmentassetportdischarge, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100"} })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETA <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.shipmentasseteta, new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentasseteta, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Driver</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.drivoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nopol Armada</label>
                                        <div class="col-md-8">
                                           @Html.DropDownListFor(model => model.vhcoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display: none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Polisi</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentassetnopol, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gudang</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.shipmentassetwhoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group" id="sjpajak">
                                        <label class="col-md-4 control-label">SJ Pajak</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentassetnopajak, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Seal No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentassetsealno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="30" } })
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.shipmentassetmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.shipmentassetmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.shipmentassetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.shipmentassetmststatus } })
                                        </div>
                                    </div>
                                </div>                              
                            </div>                                
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Surat Jalan Asset Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="col-md-6" style="display:none">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Gudang</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("whoid", null, new { @class = "form-control select2" })
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" onclick="AddToDetail()"><b>Tambahkan</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Asset No</th>
                                        <th>Code</th>
                                        <th>Material</th>
                                        <th>Stock Qty</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Gudang</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.shipmentassetmststatus == "In Process" | @Model.shipmentassetmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }

                    </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of SO Fixed Assets</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>SO Date</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Fixed Assets</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Asset No</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Stock Qty</th>
                                    <th>SO Qty</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,5,8],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            var dono = table.row($tr).data()[2];
            var data = table.rows().data();
            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (data[j][2] == dono) {
                    table.row(j).remove().draw();
                }
                else
                {
                    j++;
                }
            }
            e.preventDefault();
            EnabledHeader();
        });

        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "paging": true,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        tblModalDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        tblModalDtl.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        tblModalDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });        

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $('#modal-cust').modal('hide');
        });

        $("#tblModalSO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSO = $("#tblModalSO").DataTable();
        tblModalSO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#soassetno").val(alldata.soassetno);
            $("#soassetmstoid").val(alldata.soassetmstoid);
            $("#curroid").val(alldata.curroid);
            $('#modal-so').modal('hide');
        });

        $("#btnAddToDetail").click(function () {
            ClearDetail();
        });

        FillDetailData();

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#shipmentassetdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.shipmentassetdtlseq,
                    val.assetno,
                    val.matrefcode,
                    val.matreflongdesc,
                    val.stockqty,
                    val.shipmentassetqty,
                    val.shipmentassetunit,
                    val.shipmentassetwhdesc,
                    '<input type="text" class="form-control" style="max-width: 150px" id="shipmentassetdtlnote-' + val.shipmentassetdtlseq + '" name="shipmentassetdtlnote-' + val.shipmentassetdtlseq + '" value="' + (val.shipmentassetdtlnote == null ? "" : val.shipmentassetdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
        $("#DataDtl .select2").select2();
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#doassetno").val("");
        $("#doassetmstoid").val("");
        $("#doassetdate").val("");
        $("#shipmentassetwhoid").val($("#shipmentassetwhoid option:first").val());
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchso").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Please select CUSTOMER field!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalSO').DataTable();
            var custoid = $('#custoid').val();
            var cmp = $("#cmpcode").val();
            var action = $("#action").val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetSOData"))",
                data: { cmp: cmp, custoid: custoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.soassetno,
                            moment(val.soassetdate).format('DD/MM/YYYY'),
                            val.soassetmstnote
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        if ($("#soassetno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select SO No. field!',
                type: 'warning'
            });
            ClearDetail();
            return false;
        }
        if (table.rows().data().length > 0) {
            Swal({
                title: 'WARNING!',
                text: 'Satu Surat Jalan Hanya Untuk Satu No. SO!',
                type: 'warning'
            });
            ClearDetail();
            return false;
        }
        var shipmentassetmstoid = $('#shipmentassetmstoid').val();
        var soassetmstoid = $("#soassetmstoid").val();
        var shipmentassetwhoid = $("#whoid option:selected").val();
        var shipmentassetwhdesc = $("#whoid option:selected").text();
        var cmp = $("#cmpcode").val();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, soassetmstoid: soassetmstoid, shipmentassetmstoid: shipmentassetmstoid, shipmentassetwhoid: shipmentassetwhoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    var id = table.rows().data().length;
                    $.each(data, function (key, val) {
                        if (!IsOnDtl(val.soassetdtloid)) {
                            var obj = {
                                shipmentassetdtlseq: ++id,
                                soassetmstoid: val.soassetmstoid,
                                soassetdtloid: val.soassetdtloid,
                                assetmstoid: val.assetmstoid,
                                assetno: val.assetno,
                                stockqty: val.stockqty,
                                soassetqty: val.soassetqty,
                                shipmentassetwhoid: shipmentassetwhoid,
                                shipmentassetwhdesc: shipmentassetwhdesc,
                                matrefoid: val.matrefoid,
                                matrefcode: val.matrefcode,
                                matreflongdesc: val.matreflongdesc,
                                shipmentassetqty: val.shipmentassetqty,
                                shipmentassetunit: val.shipmentassetunit,
                                shipmentassetunitoid: val.shipmentassetunitoid,
                                shipmentassetdtlnote: val.shipmentassetdtlnote
                            }
                            rows.push([
                                JSON.stringify(obj),
                                id,
                                val.assetno,
                                val.matrefcode,
                                val.matreflongdesc,
                                val.stockqty,
                                val.shipmentassetqty,
                                val.shipmentassetunit,
                                shipmentassetwhdesc,
                                '<input type="text" class="form-control" style="max-width: 150px" id="shipmentassetdtlnote-' + id + '" name="shipmentassetdtlnote-' + id + '" value="' + (val.shipmentassetdtlnote == null ? "" : val.shipmentassetdtlnote) + '">',
                                '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                            ]);
                        }
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                        EnabledHeader();
                        ClearDetail();
                    }, 100);
                },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(soassetdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (soassetdtloid == alldata.soassetdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var shipmentassetdtlnote = table.$("#shipmentassetdtlnote-" + alldata.shipmentassetdtlseq).val();
            var obj = {
                shipmentassetdtlseq: i + 1,
                soassetmstoid: alldata.soassetmstoid,
                soassetdtloid: alldata.soassetdtloid,
                assetmstoid: alldata.assetmstoid,
                assetno: alldata.assetno,
                stockqty: alldata.stockqty,
                soassetqty: alldata.soassetqty,
                shipmentassetwhoid: alldata.shipmentassetwhoid,
                shipmentassetwhdesc: alldata.shipmentassetwhdesc,
                matrefoid: alldata.matrefoid,
                matrefcode: alldata.matrefcode,
                matreflongdesc: alldata.matreflongdesc,
                shipmentassetqty: alldata.shipmentassetqty,
                shipmentassetunit: alldata.shipmentassetunit,
                shipmentassetunitoid: alldata.shipmentassetunitoid,
                shipmentassetdtlnote: shipmentassetdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnDelete").click(function () {
        var oid = $("#shipmentassetmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#shipmentassetmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>