﻿@model APIS_WB.Models.DB.QL_m05GN

@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        General
    </h1>
    <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol> -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form General</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.gnoid)
                        @Html.HiddenFor(model => model.crtuser)
                        @Html.HiddenFor(model => model.crttime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Group</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.groid, null, new { @class = "form-control select2", @onchange = "groupChange()" })
                                    @Html.ValidationMessageFor(model => model.groid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Description <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.gndesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.gndesc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" id="divgnrefoid">
                                <label class="col-md-2 control-label" id="lblgnrefoid">Refer</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.gnrefoid, new List<SelectListItem>
                            {}, new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.gnrefoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.gnflag, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                    new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                            }, new { @class = "form-control select2", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Created by @(Html.DisplayFor(m => m.crtuser)) On @(Html.DisplayFor(m => m.crttime))
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:<br /> Last Update by @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                    }
                                }

                            </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            <button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Save</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">

    function groupChange() {
        var grname = $("#groid option:selected").html();
        if (grname == "Province") {
            fillgnrefoid("Country");
            $("#lblgnrefoid").html("Country")
            $("#divgnrefoid").show()
        } else if (grname == "City") {
            fillgnrefoid("Province");
            $("#lblgnrefoid").html("Province")
            $("#divgnrefoid").show()
        } else {
            fillgnrefoid("Country");
            $("#divgnrefoid").hide()
        }
    }
    function fillgnrefoid(grname) {
        var ddl = $("#gnrefoid");
        var gnrefoid = $("#gnrefoid option:selected").val();

        ddl.html("<option value=''> Please wait...</option>").show();
        $.ajax({
            url: "@(Url.Action("getGeneral"))",
            data: { grname: grname },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";//"<option value=0>Choose Ref</option>";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.qL_m05GN, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.gnoid == gnrefoid) {
                            isExist = true;
                        }
                    });
                    console.log(data.qL_m05GN);
                    ddl.html(markup).show();
                    if (isExist == true) {
                        ddl.val(gnrefoid);
                    }
                    ddl.trigger('change');
                } else {
                    ddl.html("<option value=''> Failed Load Data (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function clickDelete() {
        var oid = $("#gnoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }

    $(document).ready(function () {
        if ("@(ViewBag.action)" == "Edit") {
            $("#groid").prop("readonly", true)
        }
        groupChange();
    })
</script>
