﻿@model APIS_WB.Models.DB.QL_mstcat3

@{
    ViewBag.Title = "Kategori3";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Kategori 3</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Kategori 3</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action == "Create" ? "Data Baru" : "Edit Data" )</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kode</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.cat3code, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "3", @placeholder = "001" } })
                                    @Html.ValidationMessageFor(model => model.cat3code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kategori 1</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.cat1code, null, new { @class = "form-control select2", @onchange = "fillDDLcat2()", @required = "" })
                                    @Html.ValidationMessageFor(model => model.cat1code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kategori 2</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.cat2code, null, new { @class = "form-control select2", @required = "" })
                                    @Html.ValidationMessageFor(model => model.cat2code, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Deskripsi</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.cat3shortdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.cat3shortdesc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Catatan</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.cat3note, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.cat3note, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(model => model.activeflag, "ACTIVE", new { @checked = "checked", @required = "" })
                                    ACTIVE
                                    @Html.RadioButtonFor(model => model.activeflag, "INACTIVE", new { @required = "" })
                                    INACTIVE
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @*<button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>*@
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        if ($("#action").val() == "Edit") {
            $("#cat1code").attr("readonly", true);
            $("#cat2code").attr("readonly", true);
            $("#cat3code").attr("readonly", true);
        } else {
            $("#cat1code").trigger("change");
        }
    })
    //isi DDL cat2
    function fillDDLcat2() {
        var cat2_sel = $("#cat2code option:selected").val();
        var cat1 = $("#cat1code option:selected").val();
        $("#cat2code").html("<option value=''> Please wait...</option>").show();
        $.ajax({
            url: "@(Url.Action("Getcat2"))",
            data: { cat1: cat1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.cat2code + "\'>" + val.cat2shortdesc + "</option>";
                        if (val.cat2code == cat2_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    $("#cat2code").html(markup).show();
                    if (isExist == true) {
                        $("#cat2code").val(cat2_sel);
                    }
                    $("#cat2code").trigger('change');
                } else {
                    $("#cat2code").html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function clickDelete() {
        var c3 = $("#cat3code").val();
        var c2 = $("#cat2code").val();
        var c1 = $("#cat1code").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, c3: c3, c2: c2, c1: c1 },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
</script>

<script language="javascript" type="text/javascript">
    function clickDelete() {
        var c3 = $("#cat3code").val();
        var c2 = $("#cat2code").val();
        var c1 = $("#cat1code").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, c3: c3, c2: c2, c1: c1 },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
    $(function () {
        $('#cat3shortdesc').blur(function () {
            var a = $("#cat1code option:selected").text();
            var b = $('#cat3shortdesc').val();
            var c = $("#cat2code option:selected").text();
            $('#cat3longdesc').val(a + ' ' + c + ' ' + b);
        });
    })

</script>