﻿@model APIS_WB.Models.DB.QL_m05GN

@{
    ViewBag.Title = "General Dokumen";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        General Dokumen
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form General Dokumen</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.gnoid)
                        @Html.HiddenFor(model => model.crtuser)
                        @Html.HiddenFor(model => model.crttime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Group</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.gngroup, new List<SelectListItem>
                                    {
                                        //new SelectListItem { Text= "NEGARA", Value= "NEGARA" },
                                        //new SelectListItem { Text= "PROVINSI", Value= "PROVINSI" },
                                        //new SelectListItem { Text= "KOTA", Value= "KOTA" },
                                        //new SelectListItem { Text= "SATUAN", Value= "SATUAN" },
                                        //new SelectListItem { Text= "GUDANG", Value= "GUDANG" },
                                        //new SelectListItem { Text= "ALAMAT GUDANG", Value= "ALAMAT" },
                                        //new SelectListItem { Text= "AGAMA", Value= "AGAMA" },
                                        new SelectListItem { Text= "DOKUMEN", Value= "DOKUMEN" },
                                    //    new SelectListItem { Text= "PAYMENT TERM", Value= "PAYMENT TERM" },
                                    //    new SelectListItem { Text= "JABATAN", Value= "JABATAN" }
                                    }, new { @class = "form-control select2", @onchange = "groupChange()", @required = "" })
                                    @Html.ValidationMessageFor(model => model.gngroup, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Deskripsi <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.gndesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.gndesc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group" id="fgnother1">
                                <label class="col-md-2 control-label" id="lblgnother1"></label>
                                <div class="col-md-3">
                                    @Html.DropDownList("ddl1", null, new { @class = "form-control select2", @onchange = "getDDL1()" })
                                </div>
                                @Html.HiddenFor(model => model.gnother1)
                                @Html.ValidationMessageFor(model => model.gnother1, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" id="fgnothertb1">
                                <label class="col-md-2 control-label" id="lblgnothertb1"></label>
                                <div class="col-md-3">
                                    @Html.Editor("tbdecimal", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @onblur = "getTB1()" } })
                                </div>
                            </div>
                            <div class="form-group" id="fgnotherop1">
                                <label class="col-md-2 control-label" id="lblgnotherop1"></label>
                                <div class="col-md-3">
                                    @Html.RadioButton("optype2", "Umum", new { @checked = "checked", @required = "", @onchange = "getOP2()" })
                                    Umum
                                    @Html.RadioButton("optype2", "Komersil", new { @required = "", @onchange = "getOP2()" })
                                    Komersil
                                    @Html.RadioButton("optype2", "Asset", new { @required = "", @onchange = "getOP2()" })
                                    Asset
                                </div>
                            </div>
                            <div class="form-group" id="fgnother2">
                                <label class="col-md-2 control-label" id="lblgnother2"></label>
                                <div class="col-md-3">
                                    @Html.DropDownList("ddl2", null, new { @class = "form-control select2", @onchange = "getDDL2()" })
                                </div>
                                @Html.HiddenFor(model => model.gnother2)
                                @Html.ValidationMessageFor(model => model.gnother2, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" id="fgnotherop2">
                                <label class="col-md-2 control-label" id="lblgnotherop2"></label>
                                <div class="col-md-3">
                                    @Html.RadioButton("optype", "Credit", new { @checked = "checked", @required = "", @onchange = "getOP1()" })
                                    Credit
                                    @Html.RadioButton("optype", "Cash", new { @required = "", @onchange = "getOP1()" })
                                    Cash
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.gnflag, "ACTIVE", new { @checked = "checked", @required = "" })
                                    ACTIVE
                                    @Html.RadioButtonFor(model => model.gnflag, "INACTIVE", new { @required = "" })
                                    INACTIVE
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.crtuser)) Pada @Model.crttime.ToString("dd/MM/yyyy hh:mm:ss")   
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")  
                                    }
                                 }
                            </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @*<button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>*@
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">

    function groupChange() {
        var gngroup = $("#gngroup option:selected").html();
        $("#fgnother1").hide(); $("#lblgnother1").hide(); $("#fgnother2").hide(); $("#lblgnother2").hide();
        $("#fgnothertb1").hide(); $("#lblgnothertb1").hide(); $("#fgnotherop2").hide(); $("#lblgnotherop2").hide();
        $("#fgnotherop1").hide(); $("#lblgnotherop1").hide();
        $("#ddl1").hide(); $("#ddl2").hide(); $("#tbdecimal").hide(); $("#optype").hide();
        if (gngroup == "PROVINSI") {
            $("#fgnother1").show();
            $("#lblgnother1").show(); $("#lblgnother1").html("Negara");
            $("#ddl1").show();
            getDDL1();
        } else if (gngroup == "KOTA") {
            $("#fgnother1").show();
            $("#lblgnother1").show(); $("#lblgnother1").html("Negara");
            $("#ddl1").show();
            $("#fgnother2").show();
            $("#lblgnother2").show(); $("#lblgnother2").html("Provinsi");
            $("#ddl2").show();
            getDDL1(); getDDL2();
        } else if (gngroup == "PAYMENT TERM") {
            $("#fgnothertb1").show();
            $("#lblgnothertb1").show(); $("#lblgnothertb1").html("Term");
            $("#tbdecimal").show();
            $("#fgnotherop2").show();
            $("#lblgnotherop2").show(); $("#lblgnotherop2").html("Type");
            $("#optype").show();
            getTB1(); getOP1();
        } else if (gngroup == "GUDANG") {
            $("#fgnotherop1").show();
            $("#lblgnotherop1").show(); $("#lblgnotherop1").html("Type");
            $("#optype2").show();
            getOP2();
        }
    }

    function getDDL1() {
        var value = $("#ddl1 option:selected").val();
        $("#gnother1").val(value);
    }

    function getTB1() {
        var value = $("#tbdecimal").val();
        $("#gnother1").val(value); 
    }

    function getDDL2() {
        var value = $("#ddl2 option:selected").val();
        $("#gnother2").val(value);
    }

    function getOP1() {
        var value = $('input:radio[name=optype]:checked').val();
        $("#gnother2").val(value);
    }

    function getOP2() {
        var value = $('input:radio[name=optype2]:checked').val();
        $("#gnother1").val(value);
    }

    function clickDelete() {
        var oid = $("#gnoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }

    $(document).ready(function () {
        $("#gngroup").trigger("change");
    })
</script>
