﻿@{
    ViewBag.Title = "Laporan Cek TT";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan Cek TT</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "CekTTReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype") 
                            
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                                {
                                                new SelectListItem { Text = "Tgl Transaksi", Value = "cm.updtime" },
                                                new SelectListItem { Text = "Tgl Dokumen", Value = "cm.checkttdate" }
                                                }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },
                                            new SelectListItem { Text="Post", Value="Post", Selected=true },
                                        }, new { @class = "form-control select2", @multiple = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. TT</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextChecklist", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchChecklist" class="btn btn-link" data-toggle="modal" data-target="#modal-Checklist">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomorRAB", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrab" class="btn btn-link" data-toggle="modal" data-target="#modal-rab">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextCust", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nomer PO</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextSO", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-link" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK Checklist *@
    <div class="modal fade" id="modal-Checklist">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Checklist Dokumen</h4>
                    @Html.Hidden("total-Checklist")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalChecklist" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterChecklist()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Checklist *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                    @Html.Hidden("total-cust")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data SO</h4>
                    @Html.Hidden("total-so")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SO *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                    @Html.Hidden("total-rab")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterRAB()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    /*== btnsearchChecklist ==*/
    $("#btnsearchChecklist").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetDataChecklist"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalChecklist").DataTable();
                    table.destroy();
                    $("#tblModalChecklist").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-Checklist').val(total);
                    if (total > 0) {
                        table = $("#tblModalChecklist").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-Checklist').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-Checklist').modal('hide');
            }
        });
    });

    function AddToFilterChecklist() {
        var ind = 1;
        if (parseInt($('#total-Checklist').val()) > 0) {
            var result = $("#TextChecklist").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalChecklist').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextChecklist").val(result);
        }
    }

    /*== btnsearchcust ==*/
   $("#btnsearchcust").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextChecklist = $("#TextChecklist").val();
        var TextNomorRAB = $("#TextNomorRAB").val();
        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextChecklist: TextChecklist, TextNomorRAB: TextNomorRAB },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalCust").DataTable();
                    table.destroy();
                    $("#tblModalCust").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-cust').val(total);
                    if (total > 0) {
                        table = $("#tblModalCust").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-cust').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-cust').modal('hide');
            }
        });
    });

    function AddToFilterCust() {
        var ind = 1;
        if (parseInt($('#total-cust').val()) > 0) {
            var result = $("#TextCust").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalCust').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCust").val(result);
        }
    }

    /*== btnsearchso ==*/
    $("#btnsearchso").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextCust = $("#TextCust").val();
        var TextChecklist = $("#TextChecklist").val();
        var TextNomorRAB = $("#TextNomorRAB").val();

        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextChecklist: TextChecklist, TextCust: TextCust, TextNomorRAB: TextNomorRAB },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalSO").DataTable();
                    table.destroy();
                    $("#tblModalSO").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-so').val(total);
                    if (total > 0) {
                        table = $("#tblModalSO").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                },
                                {
                                    "targets": 1,
                                    "visible": true
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-so').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-so').modal('hide');
            }
        });
    });

    function AddToFilterSO() {
        var ind = 1;
        //if ($("#DDLPono option:selected").val() == "Draft No.")
        //    ind = 1;
        if (parseInt($('#total-so').val()) > 0) {
            var result = $("#TextSO").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSO').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextSO").val(result);
        }
    }

    $("#btnsearchrab").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextChecklist = $("#TextChecklist").val();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextChecklist: TextChecklist},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalRAB").DataTable();
                    table.destroy();
                    $("#tblModalRAB").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-rab').val(total);
                    if (total > 0) {
                        table = $("#tblModalRAB").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                },
                                {
                                    "targets": 1,
                                    "visible": true
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-rab').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-rab').modal('hide');
            }
        });
    });

    function AddToFilterRAB() {
        var ind = 1;
        if (parseInt($('#total-rab').val()) > 0) {
            var result = $("#TextNomorRAB").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalRAB').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomorRAB").val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var DDLType = $("#DDLType").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextCust = $("#TextCust").val();
        var TextChecklist = $("#TextChecklist").val();
        var TextSO = $("#TextSO").val();
        var TextNomorRAB = $("#TextNomorRAB").val();
        var reporttype = "";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, reporttype: reporttype, TextChecklist: TextChecklist, TextCust: TextCust, TextSO: TextSO, TextNomorRAB: TextNomorRAB, DDLType: DDLType, DDLPeriod: DDLPeriod },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>