﻿<div class="box-body">
    <div class="row">
        <div class="col-md-6">
            <div id="divadvfilter" class="box box-info">
                <div class="box-body">
                    <div class="row small">
                        <div class="form-group-sm">
                            <label class="col-md-2 control-label">Filter</label>
                            <div class="col-md-4">
                                @Html.DropDownList("filterddl", null, new { @class = "form-control select2" })
                            </div>
                            <div class="col-md-6">
                                @Html.Editor("filtertext", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-12"></div></div>
                    <div class="row small">
                        <div class="form-group-sm">
                            <label class="col-md-2 control-label">Periode</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker_from", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker_to", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-12"></div></div>
                    <div class="row small">
                        <div class="form-group-sm">
                            <label class="col-md-2 control-label">Status</label>
                            <div class="col-md-4">
                                @Html.DropDownList("filterstatus", null, new { @class = "form-control select2" })
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-warning btn-sm" id="btnFindList"><b>Cari Data</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
       
    });
</script>