﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="logo-icon" sizes="76x76" href="~/Content/dist/img/logo-sm.png">
    <link rel="icon" type="image/png" href="~/Content/dist/img/logo-sm.png">
    <title>@ViewBag.Title | APIS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bower_components/datatables.net-bs/css/dataTables.checkboxes.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/bower_components/select2/dist/css/select2.min.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-timepicker/css/timepicker.less">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/Content/plugins/iCheck/all.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/Content/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/style.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
	<!--  style for Sweet Alert -->
    <link rel="stylesheet" href="~/Content/plugins/sweetalert2/dist/sweetalert2.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">-->
    <!-- CSS ReadOnly Select2 -->
    <style>
        select[readonly].select2 + .select2-container {
            pointer-events: none;
            touch-action: none;
        }

        select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
            background: #eee;
            box-shadow: none;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini"><!--addclass "fixed" to fixed layout-->
    @{
        var url = Request.RawUrl;
        APIS_WB.Models.DB.QL_APISEntities db = new APIS_WB.Models.DB.QL_APISEntities();
        var PreviousUrl = "";
        if (System.Web.HttpContext.Current.Request.UrlReferrer != null)
        {
            PreviousUrl = System.Web.HttpContext.Current.Request.UrlReferrer.AbsolutePath.ToString();
        }
        string UserID = ((Session["UserID"] == null) ? "-" : Session["UserID"].ToString());
        string MemberName = ((Session["UserName"] == null) ? "-" : Session["UserName"].ToString());
        string MemberImage = "~/Content/dist/img/no_image.jpg";
        string Jabatan = ((Session["Jabatan"] == null) ? "-" : Session["Jabatan"].ToString());
        DateTime ServerTimeLayout = db.Database.SqlQuery<DateTime>("SELECT CONVERT(DATETIME,FORMAT(GETDATE(),'yyyy-MM-dd HH:mm:ss')) as tanggal").FirstOrDefault();
        var user = db.QL_m01US.Where(w => w.usoid == UserID).FirstOrDefault();
        if (user != null)
        {
            MemberName = user.usname;
            MemberImage = user.usimgfile;
            MemberImage = (File.Exists(Server.MapPath(MemberImage))) ? MemberImage : "~/Content/dist/img/no_image.jpg";
        }

    }
    @*<script type="text/javascript" language="javascript">
        javascript: window.history.forward(1);
        document.oncontextmenu = function () { return false }
    </script>*@
    <div class="wrapper">
        <input id="jtn" type="hidden" value="@(Jabatan)"/>
        <header class="main-header">
            <a href="~/Dashboard/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><img src="~/Content/dist/img/logo-sm.png" width="30px" /></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/Content/dist/img/image-logo.png" width="100px" /></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" title="Waktu Server">
                                <span id="servertimelayout"></span>
                            </a>
                        </li>
                        
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning" id="notiftotal">0</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" id="notifheader"></li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="notiflist">

                                    </ul>
                                </li>
                                <!-- <li class="footer" id="notiffooter"><a href="~/Notification/Index">View all</a></li>-->
                            </ul>
                        </li>

                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning" id="notiftotal2">0</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" id="notifheader2"></li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="notiflist2"></ul>
                                </li>
                                <!-- <li class="footer" id="notiffooter"><a href="~/Notification/Index">View all</a></li>-->
                            </ul>
                        </li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content(MemberImage)" class="user-image" alt="User Image">
                                <span class="hidden-xs">@(MemberName)</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header" style="min-height: 175px;height: auto;">
                                    <img src="@Url.Content(MemberImage)" class="img-circle" alt="User Image">
                                    <p>
                                        @(MemberName)
                                    </p>
                                </li>
 
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="~/User/EditForm/@(UserID)" class="btn btn-default btn-flat">Edit User</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/Account/Signout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content(MemberImage)" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@(UserID)</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                @Html.Partial("~/Views/Shared/_Menu.cshtml");
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
            <!-- /.content -->
        </div>

        <div id="callBackModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" id="callBackModalContent">

                </div>
            </div>
        </div>

        <!-- Back To Top-->
        <button onclick="topFunction()" id="scroll" title="Go to top">Top</span></button>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="https://qqltech.com">APIS</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <div id="domMessage" style="display: none;">
        <h1><span class="fa fa-cog fa-spin"></span> Mohon Tunggu...</h1>
    </div>
    <!-- jQuery 3 -->
    <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.checkboxes.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/Scripts/jquery.inputmask.bundle.min.js"></script>
    @*<script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>*@
    
    <!-- Sparkline -->
    <script src="~/Content/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <!--<script src="~/Content/bower_components/moment/min/moment.min.js"></script>-->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Content/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Content/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- iCheck 1.0.1 -->
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/Content/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script>
        var domMessage = $('#domMessage');
        $(document)
            .ajaxStart(function () {
                $.blockUI({
                    baseZ: 1500,
                    message: domMessage
                })
            })
            .ajaxStop($.unblockUI);

        $(document).ajaxStop($.unblockUI);

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
    </script>
    <script>
        //Date picker Indo
        function tglIndo(tgl, className) {
            $(className).datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            }).datepicker("setDate", new Date(tgl));
        }
        function addCommasDev(x) {
            var tvl = x.val();
            if (tvl == null) { tvl = 0 };
            var s = tvl.toString().replace(/\,/g, '');
            var parts = s.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            return x.val(fin);
        }
        function addCommas(x) {
            var tvl = x;
            if (tvl == null) { tvl = 0 };
            var s = tvl.toString().replace(/\,/g, '');
            var parts = s.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            return fin;
        }
        function removeCommas(sStr) {
            sStr = sStr.replace(/\,/g, '');
            return sStr
        }
        //function addCommas(x) {
        //    if (x == null) { x = 0 };
        //    var parts = x.toString().split(".");
        //    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        //    return parts.join(".");
        //}       
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //Datemask dd/mm/yyyy
            $('.datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('.datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()
            $('.money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });

            //NPWP Mask dd/mm/yyyy
            $('.npwpmask').inputmask('99.999.999.9-999.999', { 'placeholder': '__.___.___._-___.___' })

            //Date range picker
            $('.daterangepicker').daterangepicker({
                locale: {
                    format: 'DD/MM/YYYY'
                }
            })
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'DD/MM/YYYY h:mm A' })

            //Date picker
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",
                keyboardNavigation: false
            });
            $('.datepicker_from').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",
                keyboardNavigation: false
            }).datepicker('setDate', moment().format('01/MM/YYYY'));
            $('.datepicker_to').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true,
                orientation: "bottom auto",
                keyboardNavigation: false
            }).datepicker('setDate', moment().format('DD/MM/YYYY'));

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            })
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            })

            //Timepicker
            $('.timepicker').timepicker({
                showInputs: true,
                use24hours: true,
                format: 'HH:mm'
            })
        });

        var pleaseWaitDialog;
        pleaseWaitDialog = pleaseWaitDialog || (function () {
            var pleaseWaitDiv = $('<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h3>Silahkan Tunggu, Masih Dalam Proses Menampilkan Report...</h3></div><div class="modal-body"><div class="progress active"><div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" style="width: 100%"></div></div></div></div></div></div>');
            return {
                show: function () {
                    pleaseWaitDiv.modal();
                },
                hide: function () {
                    pleaseWaitDiv.modal('hide');
                },

            };
        })();
    </script>

    <script>

        var nIntervId;
        var d = new Date('@(ServerTimeLayout.ToString())');

        function startTimer() {
            nIntervId = setInterval(setTimer, 1000);
        }

        function setTimer() {
            d = moment(d).add(1, 's').toDate();
            $("#servertimelayout").html(moment(d).format('DD/MM/YYYY HH:mm:ss'))
			//$("#servertimelayout").html(d)
        }

        function toDate(toDate) {
            if (toDate == null) {
                return "";
            }
            var myDate_arr = toDate.split("/");
            var myDate = myDate_arr[1] + '/' + myDate_arr[0] + '/' + myDate_arr[2];
            return myDate;
        }

        function stopTimer() {
            clearInterval(nIntervId);
        }

        function tRound(val, r) {
            return Math.round(val * Math.pow(10, r)) / Math.pow(10, r)
        }
        function tFloor(val, r) {
            val = tNumber(val);
            return Math.floor(val * Math.pow(10, r)) / Math.pow(10, r)
        }
        function tCeil(val, r) {
            val = tNumber(val);
            return Math.ceil(val * Math.pow(10, r)) / Math.pow(10, r)
        }
        function tNumber(val) {
            if (val == null)
                val = 0;
            val = parseFloat(val.toString().replace(/\,/g, ''));
            if (isNaN(val))
                val = 0;
            return val;
        }
        // copy object and disconect reference
        function copyObject(obj) {
            if (Array.isArray(obj)) {
                var n_ar = []
                $.each(obj, function (key, val) {
                    if (typeof val === 'object' && val !== null && !(val instanceof Date)) n_ar.push(copyObject(val))
                    else n_ar.push(val)
                })
                return n_ar
            }
            var n_obj = {}
            $.each(obj, function (key, val) {
                if (typeof val === 'object' && val !== null && !(val instanceof Date)) n_obj[key] = copyObject(val)
                else n_obj[key] = val
            })
            return n_obj
        }

        function getNotification() {
            var notiftotal = $("#notiftotal");
            var notifheader = $("#notifheader");
            var notiflist = $("#notiflist");
            var UserID = "@(UserID)"
            $.ajax({
                url: "@(Url.Action("getNotification", "Dashboard"))",
                data: { UserID: UserID },
                cache: false,
                type: "POST",
                success: function (data) {
                    var a = 0;
                    var listnotif = "";
                    var total = 0;
                    $.each(data, function (key, val) {
                        listnotif += '<li><a href="' + val.notiflink + '"><i class="' + val.notifclass + '"></i> ' + val.notifinfo + '</a></li>';
                        total += val.jml;
                    });
                    notiftotal.html(total);
                    if (total == 0) {
                        notiftotal.hide();
                    } else {
                        notiftotal.show();
                    }
                    notifheader.html(total + " notifikasi baru");
                    notiflist.html(listnotif);
                    if ($("#divnotiflistapp").length > 0) {
                        SetNotification(data);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    console.dir(xhr);
                }
            });
        }

        function getNotification2() {
            var notiftotal = $("#notiftotal2");
            var notifheader = $("#notifheader2");
            var notiflist = $("#notiflist2");
            var UserID = "@(UserID)"
            $.ajax({
                url: "@(Url.Action("getNotification2", "Dashboard"))",
                data: { UserID: UserID },
                cache: false,
                type: "POST",
                success: function (data) {
                    var a = 0;
                    var listnotif = "";
                    var total = 0;
                    $.each(data, function (key, val) {
                        listnotif += '<li><a href="' + val.notiflink + '"><i class="' + val.notifclass + '"></i> ' + val.notifinfo + '</a></li>';
                        total += val.jml;
                    });
                    notiftotal.html(total);
                    if (total == 0) {
                        notiftotal.hide();
                    } else {
                        notiftotal.show();
                    }
                    notifheader.html(total + " notifikasi baru");
                    notiflist.html(listnotif);
                    if ($("#divnotiflistapp2").length > 0) {
                        SetNotification2(data);
                    }
                },
                error: function (xhr, status, p3, p4) {
                    console.dir(xhr);
                }
            });
        }

        $(document).ready(function () {
            startTimer();
            getNotification();
            getNotification2();

            $('.datatable').DataTable({
                //"scrollX": true,
                "bLengthChange": false,
                "pagingType": "full_numbers",
                responsive: true,
                "bFilter": true
            });

        });
        $('div.dataTables_filter input').focus();
        $('.modal').on('shown.bs.modal', function () {
            $('div.dataTables_filter input').focus();
        });
        $('.modal').on("hidden.bs.modal", function (e) { //fire on closing modal box
            if ($('.modal:visible').length) { // check whether parent modal is opend after child modal close
                $('body').addClass('modal-open'); // if open mean length is 1 then add a bootstrap css class to body of the page
            }
        });
    </script>
    <script>
        //Prevent Enter to submit if not last input.
        $('body').on('keydown', 'input, select', function (e) {
            var self = $(this)
              , form = self.parents('form:eq(0)')
              , focusable
              , next
            ;
            if (e.keyCode == 13) {
                focusable = form.find('input,a,select,button,textarea').filter(':visible');
                next = focusable.eq(focusable.index(this) + 1);
                if (next.length) {
                    next.focus();
                } else {
                    form.submit();
                }
                return false;
            }
        });

        $(document).ready(function () {
            $(".numberonly").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    // Allow: Ctrl/cmd+A
                    (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+V
                    (e.keyCode == 86 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+C
                    (e.keyCode == 67 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: Ctrl/cmd+X
                    (e.keyCode == 88 && (e.ctrlKey === true || e.metaKey === true)) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {

                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $(".numberonly").blur(function (e) {
                // Clear String after paste
                if ((e.keyCode == 86 || (e.ctrlKey === true || e.metaKey === true))) {
                    var $this = $(this)
                    if ($this.val() != $this.val().replace(/[^\d\.]/g, "")) {
                        $this.val($this.val().replace(/[^\d\.]/g, ""));
                    }
                }
                addCommasDev($(this));
            });
            $(".allownumericwithdecimal").on("keypress input", function (event) {
                $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
            $(".allownumericwithoutdecimal").on("keypress input", function (event) {
                $(this).val($(this).val().replace(/[^\d].+/, ""));
                if ((event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
            $(".allownumericwithoutdecimal").on("blur", function (event) {
                var x = $(this).val();
                if (x == null) { x = 0 };
                var parts = x.toString().split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                var fin = "";
                for (var i = 0 ; i < parts.length; i++) {
                    if (i == 0) {
                        fin += parts[i];
                    } else {
                        fin += "." + parts[i];
                    }
                }
                $(this).val(fin);
            });
            $(".allownumericwithNegative").on("keypress input", function (event) {
                $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
                if ((event.which != 45 || $(this).val().indexOf('-') != -1) && (event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
            $(".allownumericwithNegative").on("blur", function (event) {
                var x = $(this).val();
                if (x == null) { x = 0 };
                var parts = x.toString().split(".");
                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                var fin = "";
                for (var i = 0 ; i < parts.length; i++) {
                    if (i == 0) {
                        fin += parts[i];
                    } else {
                        fin += "." + parts[i];
                    }
                }
                $(this).val(fin);
            });
        });

        function SetDataToModalTable(tablename, data) {
            var table = $(tablename).DataTable();
            table.destroy();
            $(tablename).empty();

            var cols = [];
            $.each(data.tblcols, function (key, val) {
                var obj = { title: val };
                cols.push(obj);
            });

            var rows = [];
            var total = 0;
            $.each(data.tblrows, function (key, val) {
                var row = Object.values(val);
                rows.push(row);
                total++;
            });

            if (total > 0) {
                table = $(tablename).DataTable({
                    "columns": cols,
                    "data": rows,
                    "deferRender": true,
                    "columnDefs": [
                    {
                        "targets": 0,
                        "checkboxes": {
                            "selectRow": false
                        }
                    }],
                    "select": {
                        "style": 'multi'
                    },
                    "order": [[1, 'asc']]
                });
            }
            return total;
        }
    </script>
</body>
</html>
