﻿
@{
    List<APIS_WB.Models.DB.QL_m04MN> allmenus = new List<APIS_WB.Models.DB.QL_m04MN>();
    var url = Request.RawUrl;
    if (Session["Role"] != null)
    {
        allmenus = (List<APIS_WB.Models.DB.QL_m04MN>)Session["Role"];
    }

    List<string> moduls = new List<string>();
    List<string> types = new List<string>();

    foreach (var menu in allmenus)
    {
        if (!moduls.Contains(menu.mnmodule))
        {
            moduls.Add(menu.mnmodule);
        }
    }


    string[] iconmodules = { "fa fa-wrench", "fa fa-briefcase", "fa fa-shopping-cart", "fa fa-warehouse", "fa fa-box-usd" };
    string[] icontypes = { "fa fa-book", "fa fa-archive", "fa fa-bar-chart", "fa fa-circle" };
    string Jabatan2 = ((Session["Jabatan"] == null) ? "-" : Session["Jabatan"].ToString());

}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    <li class="@((url.Contains("/Dashboard"))?"active":"")">
        <a href="~/Dashboard/Index">
            <i class="fa fa-bell-o"></i> <span>Notifikasi</span>
        </a>
    </li>
    <li class="@((url.Contains("/Dashboard2"))?"":"")">
        <a href="~/Dashboard2/Index">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    @{
        var ActControler = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        var isModulActive = "";
        var isTypeActive = "";
        var isMenuActive = "";

        foreach (var modul in moduls)
        {
            isModulActive = "";
            if (allmenus.Where(w => w.mnmodule == modul & ActControler.ToLower() == w.mnfileloc.ToLower()).Count() > 0)
            {
                isModulActive = "active";
            }

            foreach (var menu in allmenus.Where(w => w.mnmodule == modul))
            {
                if (!types.Contains(menu.mntype))
                {
                    types.Add(menu.mntype);
                }
            }

            if (modul != "")//Module
            {
                @:
                <li class="treeview @(isModulActive)">
                    <a href="#">
                        <i class="fa fa-circle"></i> <span>@(modul)</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @{
                            foreach (var type in types)//Type
                            {
                                isTypeActive = "";
                                if (allmenus.Where(w => w.mnmodule == modul & w.mntype == type & ActControler.ToLower() == w.mnfileloc.ToLower()).Count() > 0)
                                {
                                    isTypeActive = "active";
                                }
                                @:
                                <li class="treeview @(isTypeActive)">
                                    <a href="#">
                                        <i class="@(type.ToLower().Contains("mas")?icontypes[0]:type.ToLower().Contains("trans")?icontypes[1]:type.ToLower().Contains("report")?icontypes[2]:icontypes[3])"></i> <span>@(type)</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        @{
                                            foreach (var menu in allmenus.Where(w => w.mnmodule == modul & w.mntype == type).OrderBy(o => o.mnseq))
                                            {
                                                isMenuActive = "";
                                                if (ActControler.ToLower() == menu.mnfileloc.ToLower())
                                                {
                                                    isMenuActive = "active";
                                                }
                                                @:
                                                
                                                <li class="@(isMenuActive)">
                                                    <a href="@(Url.Action("Index", menu.mnfileloc))">
                                                        <i class="@(menu.mnicon)"></i> @(menu.mnname)
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
            else//No Module
            {
                foreach (var type in types)//Type
                {
                    isTypeActive = "";
                    if (allmenus.Where(w => w.mnmodule == modul & w.mntype == type & ActControler.ToLower() == w.mnfileloc.ToLower()).Count() > 0)
                    {
                        isTypeActive = "active";
                    }
                    @:
                    <li class="treeview @(isTypeActive)">
                        <a href="#">
                            <i class="@(type.ToLower().Contains("mas")?icontypes[0]:type.ToLower().Contains("trans")?icontypes[1]:type.ToLower().Contains("report")?icontypes[2]:icontypes[3])"></i> <span>@(type)</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @{
                                foreach (var menu in allmenus.Where(w => w.mnmodule == modul & w.mntype == type).OrderBy(o => o.mnseq))
                                {
                                    isMenuActive = "";
                                    if (ActControler.ToLower() == menu.mnfileloc.ToLower())
                                    {
                                        isMenuActive = "active";
                                    }
                                    @:


                                    <li class="@(isMenuActive)">
                                        <a href="@(Url.Action("Index", menu.mnfileloc))">
                                            <i class="@(menu.mnicon)"></i> @(menu.mnname)
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        }
    }
</ul>  