﻿@{
    ViewBag.Title = "Laporan Sales Order Status FJ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan Sales Order Status FJ</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "SOStatusFJReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },
                                            new SelectListItem { Text="Post", Value="Post", Selected=true },
                                           // new SelectListItem { Text="Cancel", Value="Cancel", Selected=true },
                                            new SelectListItem { Text="Force Closed", Value="Force Closed", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true }
                                        }, new { @class = "form-control select2", @multiple = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "Tgl Transaksi", Value = "som.updtime" },
                                        new SelectListItem { Text = "Tgl Dokumen", Value = "som.soitemdate" }
                                    }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                            <label class="col-md-4 control-label">Customer</label>                                            
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextCust", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">RAB No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomorRAB", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrab" class="btn btn-link" data-toggle="modal" data-target="#modal-rab">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSoNo", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "SO No.", Value = "som.soitemno" },
                                                new SelectListItem { Text = "Draft No.", Value = "som.soitemmstoid" }
                                            }, new { @class = "form-control select2" })
                                        </div>

                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomorSO", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-link" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sorting</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="SO No.", Value="sono" },
                                        new SelectListItem { Text="Kode Barang", Value="matcode" }
                                    }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="ASC", Value="ASC" },
                                        new SelectListItem { Text="DESC", Value="DESC" }
                                    }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                    @Html.Hidden("total-rab")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterRAB()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@

    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Purchas Order</h4>
                    @Html.Hidden("total-po")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                    @Html.Hidden("total-supp")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@    

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var markupsort = "<option value=\'sono\'>SO No.</option><option value=\'matcode\'>Kode Barang</option>";
        if (type == "Summary")
        {
            $('#divfordtl').hide();
        }
        else
        {
            $('#divfordtl').show();
            markupsort = "<option value=\'sono\'>SO No.</option><option value=\'matcode\'>Kode Barang</option><option value=\'custname\'>Customer</option>";
        }
        $("#DDLSorting").html(markupsort).show();
    }

    $("#btnsearchcust").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalSupp").DataTable();
                    table.destroy();
                    $("#tblModalSupp").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-supp').val(total);
                    if (total > 0) {
                        table = $("#tblModalSupp").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-cust').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-cust').modal('hide');
            }
        });
    });

    function AddToFilterCust() {
        var ind = 1;
        if (parseInt($('#total-supp').val()) > 0) {
            var result = $("#TextCust").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSupp').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCust").val(result);
        }
    }

    $("#btnsearchso").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextCust = $("#TextCust").val();
        var TextNomorRAB = $("#TextNomorRAB").val();


        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { DDLStatus: DDLStatus, TextCust: TextCust, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextNomorRAB, TextNomorRAB },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalSO").DataTable();
                table.destroy();
                $("#tblModalSO").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-po').val(total);
                if (total > 0) {
                    table = $("#tblModalSO").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            },
                            {
                                "targets": 1,
                                "visible": false
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-so').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-so').modal('hide');
        }
    });
    });

    function AddToFilterPO() {
        var ind = 2;
        if ($("#DDLSoNo option:selected").val() == "som.soitemmstoid")
            ind = 1;
        if (parseInt($('#total-po').val()) > 0) {
            var result = $("#TextNomorSO").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSO').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomorSO").val(result);
        }
    }

    $("#btnsearchrab").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextCust = $("#TextCust").val();
        var TextNomorRAB = $("#TextNomorRAB").val();

        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            data: { DDLStatus: DDLStatus, TextCust: TextCust, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextNomorRAB: TextNomorRAB },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalRAB").DataTable();
                table.destroy();
                $("#tblModalRAB").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-rab').val(total);
                if (total > 0) {
                    table = $("#tblModalRAB").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            },
                            {
                                "targets": 1,
                                "visible": false
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-rab').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-rab').modal('hide');
        }
    });
    });

    function AddToFilterRAB() {
        var ind = 2;        
        if (parseInt($('#total-rab').val()) > 0) {
            var result = $("#TextNomorRAB").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalRAB').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomorRAB").val(result);
        }
    }

    $("#btnsearchmat").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var TextCust = $("#TextCust").val();
        var DDLNomorPO = $("#DDLNomorPO option:selected").val();
        var TextNomorSO = $("#TextNomorSO").val();
        var TextNomorRAB = $("#TextNomorRAB").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { DDLStatus: DDLStatus, TextCust: TextCust, DDLNomorPO: DDLNomorPO, TextNomorSO: TextNomorSO, TextNomorRAB: TextNomorRAB, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalMat").DataTable();
                    table.destroy();
                    $("#tblModalMat").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-mat').val(total);
                    if (total > 0) {
                        table = $("#tblModalMat").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-mat').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-mat').modal('hide');
            }
        });
    });

    function AddToFilterMat() {
        var ind = 1;
        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var DDLType = $("#DDLType option:selected").val();
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextCust = $("#TextCust").val();
        var TextNomor = $("#TextNomor").val();
        var TextNomorSO = $("#TextNomorSO").val();
        var TextNomorRAB = $("#TextNomorRAB").val();
        var DDLSoNo = $("#DDLSoNo option:selected").val();
        var DDLNomor = $("#DDLNomor option:selected").val();
        var TextMaterial = $("#TextMaterial").val();
        var DDLSorting = $("#DDLSorting option:selected").val();
        var DDLSortDir = $("#DDLSortDir option:selected").val();
        var reporttype = "";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLType: DDLType, DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextCust: TextCust, TextNomor: TextNomor, DDLNomor: DDLNomor, TextMaterial: TextMaterial, DDLSorting: DDLSorting, DDLSortDir: DDLSortDir, reporttype: reporttype, TextNomorSO: TextNomorSO, DDLSoNo: DDLSoNo, TextNomorRAB: TextNomorRAB },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>