﻿@model APIS_WB.Models.DB.QL_trnaritemmst

@{
    ViewBag.Title = "Faktur Jual";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Faktur Jual
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Header Faktur Jual</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.aritemmstoid)
                        @Html.HiddenFor(model => model.aritemmststatus)
                        @Html.HiddenFor(model => model.aritemdate)                        
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("uid")
                        @Html.Hidden("shipmentitemmstoid")
                        @Html.Hidden("gnother1")
                        @Html.Hidden("action")
                        @Html.Hidden("markup")  
                        @Html.Hidden("rabtype")
                        <div class="container-fluid">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                        </div>

                        @*===== Baris ke 1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Faktur <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.aritemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                @Html.ValidationMessageFor(model => model.aritemno, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tanggal <label class="text-red">*</label></label>
                            <div class="col-sm-4">                                
                                    @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                                @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })                            
                        </div>

                        @*===== Baris ke 2 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "", @onchange = "FillDueDate()" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.aritemdate, "", new { @class = "text-danger" })
                            </div>
                            
                            <label class="col-sm-2 control-label">Tgl Jatuh Tempo<label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.Editor("tgldue", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.aritemduedate, "", new { @class = "text-danger" })
                        </div>

                        @*===== Baris ke 3 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">RAB</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.rabmstoid)
                                    @Html.HiddenFor(model => model.rabmstoid_awal)
                                </div>
                                @Html.ValidationMessageFor(model => model.rabmstoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">No. PRAB</label>
                            <div class="col-sm-4">
                                @Html.Editor("reqrabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessage("reqrabno", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 4 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nama Project</label>
                            <div class="col-sm-4">
                                @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.ValidationMessage("projectname", "", new { @class = "text-danger" })
                            </div>                            
                        </div>

                        @*===== Baris ke 5 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. SO</label>
                            <div class="col-sm-4">                                
                                @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.HiddenFor(model => model.somstoid)                                
                                @Html.ValidationMessageFor(model => model.somstoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Nama Sales</label>
                            <div class="col-sm-4">
                                @Html.Editor("salesoid", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.ValidationMessage("salesoid", "", new { @class = "text-danger" })
                            </div>
                        </div>                       

                        @*===== Baris ke 6 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nama Customer <label class="text-red">*</label></label>
                            <div class="col-sm-4">                                
                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })                                    
                                @Html.HiddenFor(model => model.custoid)                                   
                                @Html.ValidationMessageFor(model => model.custoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">TOP</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.aritempaytypeoid, null, new { @class = "form-control select2", @readonly = "" })
                                @Html.ValidationMessageFor(model => model.aritempaytypeoid, "", new { @class = "text-danger" })
                            </div>                            
                        </div>

                        @*===== Baris ke 7 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Faktur Pajak</label>
                            <div class="col-sm-1">
                                @Html.EditorFor(model => model.aritemfaktur, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "3", @placeholder = "000" } })
                                @Html.ValidationMessageFor(model => model.aritemfaktur, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-3">
                                @Html.DropDownListFor(model => model.faoid, null, new { @class = "form-control select2" })                            
                            </div>                            
                        </div>                        
                        @*===== Baris ke 8 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mata Uang <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "", @readonly = "" })
                                @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-sm-2 control-label">Nilai Tukar <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.aritemrate2toidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50", @value = "1" } })
                                @Html.ValidationMessageFor(model => model.aritemrate2toidr, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 9 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total DP Faktur-K</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.ardpamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.Hidden("dpfaoid")
                                @Html.Hidden("dpfaktur")
                            </div>
                            <label class="col-sm-2 control-label">Total DPP</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.aritemtotalnetto, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.Hidden("aritemtotalamt")
                                @Html.ValidationMessageFor(model => model.aritemtotalnetto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 10 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total PPN</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.aritemtaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.aritemtaxamt, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Total DPP + PPN</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.aritemgrandtotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.aritemgrandtotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 10.1 =====*@
                        <div class="form-group" id="divpph">
                            <label class="col-sm-2 control-label">Akun PPH</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.pphacctgoid, null, new { @id = "itemunitoid", @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.pphacctgoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Total PPH</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.pphamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.pphamt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 10.2 =====*@
                        <div class="form-group" id="divppn">
                            <label class="col-sm-2 control-label">Akun LB PPN</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.lbppnacctgoid, null, new { @id = "itemunitoid", @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.lbppnacctgoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Total LB PPN</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.lbppnamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.lbppnamt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 10.3 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nilai Netto</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.aritemothercost, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.aritemgrandtotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*==== Baris ke 11 ====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Catatan</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.aritemmstnote, new { @class = "form-control", @type = "text", @maxlength = "200" })
                                @Html.ValidationMessageFor(model => model.aritemmstnote, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">                                
                                    @Html.EditorFor(model => model.aritemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "", @Value = Model.aritemmststatus } })                                
                            </div>
                        </div>  
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tipe Transaksi</label>
                            <div class="col-sm-4">
                                @Html.RadioButtonFor(model => model.aritemtype2, "Complete", new { @checked = "checked", @required = "" })
                                Complete
                                @Html.RadioButtonFor(model => model.aritemtype2, "Draft", new { @required = "" })
                                Draft
                            </div>
                            @Html.ValidationMessageFor(model => model.aritemtype2, "", new { @class = "text-danger" })
                        </div>                                                       

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h4 class="box-title"><strong>Detail Faktur Jual</strong></h4>
                        </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs pull-left">
                                                <li class="active"><a href="#detail-output" data-toggle="tab"><b>Detail Surat Jalan</b></a></li>
                                                @{
                                                    if (@Model.aritemmststatus == "Closed")
                                                    {
                                                        <li><a href="#detail-input" data-toggle="tab"><b> Detail NTPN</b></a></li>
                                                    }
                                                }
                                            </ul>

                                            <div class="tab-content no-padding">
                                                <!-- Morris chart - Sales -->
                                                <div class="chart tab-pane active" id="detail-output" style="position: relative; overflow-x: auto;">
                                                    <div class="row">
                                                        <br />
                                                        <div class="col-md-6">
                                                            <div class="form-group" id="btnitem">
                                                                <label class="col-sm-4 control-label">No. Surat Jalan</label>
                                                                <div class="col-sm-8">
                                                                    <div class="input-group">
                                                                        @Html.Editor("shipmentitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                                        <span class="input-group-btn">
                                                                            <button type="button" id="btnsearchshipment" class="btn btn-flat" data-toggle="modal" data-target="#modal-shipment">
                                                                                <i class="fa fa-search"></i>
                                                                            </button>
                                                                        </span>
                                                                        @Html.Hidden("shipmentitemmstoid")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="button" id="btnitembyso" class="btn btn-primary" onclick="generateBySO()">
                                                                <i class="fa fa-plus"></i>
                                                                Generate Dari SO
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12" style="overflow-x: auto;">
                                                        <table id="DataDtl" class="table table-striped" style="width: 100%">
                                                            <thead>
                                                                <tr role="row">
                                                                    <th>alldata</th>
                                                                    <th>No.</th>
                                                                    <th>No. Surat Jalan</th>
                                                                    <th>Kode</th>
                                                                    <th>Deskripsi</th>
                                                                    <th>PID</th>
                                                                    <th>Qty</th>
                                                                    <th>Unit</th>
                                                                    <th>Price</th>
                                                                    <th>Total</th>
                                                                    <th>Tax</th>
                                                                    <th>Tax Amt</th>
                                                                    <th>Netto</th>
                                                                    <th>Keterangan</th>
                                                                    <th>shipmentitemmstoid</th>
                                                                    <th>shipmentitemdtloid</th>
                                                                    <th>Opsi</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div><br>
                                                </div>

                                                <div class="chart tab-pane" id="detail-input" style="position: relative; overflow-x: auto;">
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label class="col-md-4 control-label">Tipe</label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownList("dtl2type", new List<SelectListItem>
                                                                {
                                                                    new SelectListItem { Text= "PPN", Value= "PPN" },
                                                                    new SelectListItem { Text= "PPH 22", Value= "PPH 22" },
                                                                    new SelectListItem { Text= "PPH 23", Value= "PPH 23" }
                                                                }, new { @class = "form-control select2" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="col-md-4 control-label">Jenis</label>
                                                            <div class="col-md-8">
                                                                @Html.DropDownList("dtl2jenis", new List<SelectListItem>
                                                                {
                                                                    new SelectListItem { Text= "ASLI", Value= "ASLI" },
                                                                    new SelectListItem { Text= "COPY", Value= "COPY" }
                                                                }, new { @class = "form-control select2" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label class="col-md-4 control-label">No. NTPN</label>
                                                            <div class="col-md-8">
                                                                @Html.Editor("dtl2no", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="col-md-4 control-label">Tgl Perolehan</label>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @Html.Editor("tgloleh", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text" } })
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="pull-right">
                                                                <button type="button" id="btntambah2" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail2">
                                                                    <i class="fa fa-plus"></i>
                                                                    Tambah
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <table id="DataDtl2" width="100%" class="table table-striped" style="position: relative; overflow-x: auto;">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>alldata</th>
                                                                <th>No.</th>
                                                                <th>Tipe</th>
                                                                <th>Jenis</th>
                                                                <th>No. NTPN</th>
                                                                <th>Tgl Perolehan</th>
                                                                <th>Nominal</th>
                                                                <th>Opsi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table><br>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="pull-right">
                                                                <button type="button" class="btn btn-success btn-md" id="btnSaveNTPN"><b>Simpan NTPN</b></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @*AKHIR BAGIAN DETAIL*@

                    </div><!-- /.container-fluid -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-left">
                    Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                    @{
                        if (ViewBag.action == "Edit")
                        {
                            @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                        }
                        <h6><b>VAR_AR | VAR_JUAL | VAR_PPN_OUT | VAR_HPP_JUAL | VAR_STOCK_TRANSIT</b></h6>
                    }
                </div>
                <div class="pull-right">                            
                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                    @{
                        if (@Model.aritemmststatus == "In Process" | @Model.aritemmststatus == "Revised")
                        {
                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                            if (ViewBag.action == "Edit")
                            {
                            <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        }
                </div>
            </div>
            <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM SHIPMENT *@
    <div class="modal fade" id="modal-shipment">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Surat Jalan</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShipment" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Surat Jalan</th>
                                    <th>Tgl Surat Jalan</th>
                                    <th>SO No.</th>
                                    <th>Cust PO No.</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SHIPMENT *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. RAB</th>
                                    <th>Tipe RAB</th>
                                    <th>Tanggal</th>
                                    <th>No. SO</th>
                                    <th>No. PRAB</th>
                                    <th>Sales</th>
                                    <th>Customer</th>
                                    <th>Project</th> 
                                    <th>Catatan</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@    

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Lokasi</th>
                                    <th>Alamat Pengiriman</th>
                                    <th>Provinsi</th>
                                    <th>Kota</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@
    

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-matjual">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var tblModalRAB = $("#tblModalRAB").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#rabmstoid_awal").val(alldata.rabmstoid_awal);
            $("#rabno").val(alldata.rabno);
            $("#rabtype").val(alldata.rabtype);
            $("#rabdate").val(alldata.rabdate);
            $("#reqrabno").val(alldata.reqrabno);
            $("#projectname").val(alldata.projectname);
            $("#soitemno").val(alldata.soitemno);
            $("#somstoid").val(alldata.soitemmstoid);
            $("#salesoid").val(alldata.salesoid);
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#gnother1").val(alldata.gnother1);
            $("#aritemmstnote").val(alldata.soitemmstnote);
            $("#ardpamt").val(addCommas(alldata.dpfkamt));
            $("#dpfaoid").val(alldata.dpfaoid);
            $("#dpfaktur").val(alldata.dpfaktur);
            $("#curroid").val(alldata.curroid).trigger('change');
            $("#aritempaytypeoid").val(alldata.rabpaytermoid).trigger('change');
            FillDueDate();
            changeTypeWapu();
            $('#modal-rab').modal('hide');
        });

        $("#tblModalShipment").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalShipment = $("#tblModalShipment").DataTable();
        tblModalShipment.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalShipment.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#shipmentitemno").val(alldata.shipmentitemno);
            $("#shipmentitemmstoid").val(alldata.shipmentitemmstoid);
            GetDetailData();
            $('#modal-shipment').modal('hide');
        });

        var tblModalSales = $("#tblModalSales").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSales.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSales.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#salesname").val(alldata.salesname);
            $("#salesoid").val(alldata.salesoid);
            $("#deptoid").val(alldata.deptoid).trigger("change");
            $('#modal-sales').modal('hide');
        });

        var tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#ToEmail").val(alldata.custemail);
            $("#rabpaytermoid").val(alldata.custpaymentoid).trigger('change');
            $('#modal-cust').modal('hide');
        });

        var tblModalAlamat = $("#tblModalAlamat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalAlamat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAlamat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#alamat").val(alldata.alamat);
            $("#alamatoid").val(alldata.alamatoid);
            $("#rabprovoid").val(alldata.provoid).trigger('change');
            $("#rabcityoid").val(alldata.cityoid).trigger('change');
            $('#modal-alamat').modal('hide');
        });

        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,14,15],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            var shipmentno = table.row($tr).data()[2];
            var data = table.rows().data();
            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (data[j][2] == shipmentno) {
                    table.row(j).remove().draw();
                }
                else {
                    j++;
                }
            }
            e.preventDefault();
            ClearDetail();
            EnabledHeader();
            CountHdrAmount();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Data Detail
        var table2 = $('#DataDtl2').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table2.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[1];
            table2.row($tr).remove().draw();
            SetDataDtl2($('#uid').val()); FillDetailData2($('#uid').val());
            var data = table2.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table2.row(i).data();
                    temp[1] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table2.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#aritemdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#aritemduedate").val();
        } else {
            tgl3 = $("#createtime").val();
        }
        $('#tgldue').val(moment(tgl3).format('DD/MM/YYYY'));
        var tgl4 = "";
        if ($('#action').val() == "Edit") {
            tgl4 = $("#aritemdate").val();
        } else {
            tgl4 = $("#createtime").val();
        }
        tglIndo(tgl4, '.datepicker2');
        //Set Data Pop Up Header
        //$("#aritemtotalnetto").val(0);
        //$("#aritemgrandtotal").val(0);
        //$("#aritemtaxamt").val(0);

        $('#btnsearchcust').attr('disabled', 'disabled');
        $('#btnsearchalamat').attr('disabled', 'disabled');
        $('#deptoid').attr('disabled', 'disabled');

        FillDetailData($('#uid').val());
        FillDetailData2($('#uid').val());
        fillRate();
        //FillDDLFA();
        changeType2();
        changeTypeWapu();

        $('#ardpamt').val(addCommas($('#ardpamt').val()));
        $('#aritemtotalamt').val(addCommas($('#aritemtotalamt').val()));
        $('#aritemtaxamt').val(addCommas($('#aritemtaxamt').val()));
        $('#aritemtotalnetto').val(addCommas($('#aritemtotalnetto').val()));
        $('#aritemgrandtotal').val(addCommas($('#aritemgrandtotal').val()));
        $('#aritemothercost').val(addCommas($('#aritemothercost').val()));
        $('#pphamt').val(addCommas($('#pphamt').val()));
        $('#lbppnamt').val(addCommas($('#lbppnamt').val()));
    })

    $("input[name=aritemtype2]:radio").change(function () {
        changeType2();
    });

    function changeType2() {
        var value = $("[name=aritemtype2]:checked").val();
        if (value == 'Draft') {
            $("#btnitem").hide();
            $("#btnitembyso").show();
        }
        else {
            $("#btnitem").show();
            $("#btnitembyso").hide();
        }
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
    }

    function fillRate() {
        if ($("#curroid").val() == 1)
        {
            $("#aritemrate2toidr").val(1)
        }
    }

    function changeTypeWapu() {
        var rabtype = $("#rabtype").val();
        if (rabtype == 'WAPU') {
            $("#divpph").show(); $("#divppn").show();
        }
        else {
            $("#pphamt").val(0); $("#lbppnamt").val(0);
            $("#divpph").hide(); $("#divppn").hide();
        }
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function FillDetailData(uid) {
         var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.aritemdtlseq,
                        val.shipmentitemno,
                        val.itemcode,
                        val.itemdesc,
                        val.refno,
                        addCommas(val.aritemqty),
                        val.aritemunit,
                        addCommas(val.aritemprice),
                        addCommas(val.aritemdtlamt),
                        addCommas(val.aritemdtltaxvalue),
                        addCommas(val.aritemdtltaxamt),
                        addCommas(val.aritemdtlnetto),
                        '<input type="text" class="form-control" style="max-width: 150px" id="aritemdtlnote-' + val.aritemdtlseq + '" name="aritemdtlnote-' + val.aritemdtlseq + '" value="' + (val.aritemdtlnote == null ? "" : val.aritemdtlnote) + '">',
                        val.shipmentitemmstoid,
                        val.shipmentitemdtloid,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                    CountHdrAmount();
                }, 100);
            }
        });
    }

    function FillDetailData2(uid) {
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.aritemdtl2seq,
                        val.aritemdtl2type,
                        val.aritemdtl2jenis,
                        '<input type="text" class="form-control" style="max-width: 150px" id="ntpnno-' + val.aritemdtl2seq + '" name="ntpnno-' + val.aritemdtl2seq + '" value="' + val.ntpnno + '">',
                        val.aritemdtl2date,
                        addCommas(val.aritemdtl2amt),
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            }
        });
    }

    function GetDetailData() {
        var url = "@(Url.Action("GetDetailData"))";
        var table = $('#DataDtl').DataTable();
        var shipmentitemmstoid = $("#shipmentitemmstoid").val();
        var taxamt = 0.0;
        $.ajax({
            url: url,
            data: { shipmentitemmstoid: shipmentitemmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 1;
                $.each(data, function (key, val) {
                    val.aritemdtlamt = val.aritemqty * val.aritemprice;
                    taxval = (val.aritemdtltaxvalue > 0 ? (val.aritemqty * val.aritemprice) * (val.aritemdtltaxvalue / 100) : 0)
                    val.aritemdtltaxamt = taxval;
                    val.aritemdtlnetto = val.aritemdtlamt + val.aritemdtltaxamt;
                    if (!IsOnDtl(val.shipmentitemdtloid)) {
                        rows.push([
                            JSON.stringify(val),
                            i++,
                            val.shipmentitemno,
                            val.itemcode,
                            val.itemdesc,
                            val.refno,
                            addCommas(val.aritemqty),
                            val.aritemunit,
                            addCommas(val.aritemprice),
                            addCommas(val.aritemdtlamt),
                            addCommas(val.aritemdtltaxvalue),
                            addCommas(val.aritemdtltaxamt),
                            addCommas(val.aritemdtlnetto),
                            '<input type="text" class="form-control" style="max-width: 150px" id="aritemdtlnote-' + i + '" name="aritemdtlnote-' + i + '" value="' + (val.aritemdtlnote == null ? "" : val.aritemdtlnote) + '">',
                            val.shipmentitemmstoid,
                            val.shipmentitemdtloid,
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
                ClearDetail();
                CountHdrAmount();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
        SetDataDtl($('#uid').val());
    }

    function generateBySO() {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Customer Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        if ($("#soitemno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Sales Order No. Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var soitemmstoid = $('#somstoid').val();
        var url = "@(Url.Action("GetItemBySO"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetItemBySO"))",
            data: { soitemmstoid: soitemmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    val.aritemdtlamt = val.aritemqty * val.aritemprice;
                    val.aritemdtltaxamt = (val.aritemdtltaxvalue > 0 ? (val.aritemqty * val.aritemprice) * (val.aritemdtltaxvalue / 100) : 0);
                    val.aritemdtlnetto = val.aritemdtlamt + val.aritemdtltaxamt;
                    rows.push([
                        JSON.stringify(val),
                            ++i,
                            val.shipmentitemno,
                            val.itemcode,
                            val.itemdesc,
                            val.refno,
                            addCommas(val.aritemqty),
                            val.aritemunit,
                            addCommas(val.aritemprice),
                            addCommas(val.aritemdtlamt),
                            addCommas(val.aritemdtltaxvalue),
                            addCommas(val.aritemdtltaxamt),
                            addCommas(val.aritemdtlnetto),
                            '<input type="text" class="form-control" style="max-width: 150px" id="aritemdtlnote-' + i + '" name="aritemdtlnote-' + i + '" value="' + (val.aritemdtlnote == null ? "" : val.aritemdtlnote) + '">',
                            val.shipmentitemmstoid,
                            val.shipmentitemdtloid,
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                    CountHdrAmount();
                    $("#DataDtl .select2").select2();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });

        SetDataDtl($('#uid').val());
    }

    //Pop Up Data Header
    $("#btnsearchrab").click(function () {
        var table = $('#tblModalRAB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.rabno,
                        val.rabtype,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.soitemno,
                        val.reqrabno,
                        val.salesoid,
                        val.custname,
                        val.projectname,
                        val.soitemmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchshipment").click(function () {
        if ($("#soitemno").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Silahkan pilih RAB terlebih dahulu!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalShipment').DataTable();
            var soitemmstoid = $('#somstoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetShipmentData"))",
                data: { soitemmstoid: soitemmstoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.shipmentitemno,
                            moment(jsDate(val.shipmentitemdate)).format('DD/MM/YYYY'),
                            val.soitemno,
                            val.soitemcustpo,
                            val.shipmentitemmstnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchalamat").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == '') {
            alert('Pilih Customer dulu!');
            return false;
        }
        var table = $('#tblModalAlamat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAlamatData"))",
            data: { custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.lokasi,
                        val.alamat,
                        val.provinsi,
                        val.kota
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //Pop Up Data Detail
    $("#btnmatjual").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.itemseq,
                        val.itemcode,
                        val.itemdesc,
                        val.itemunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btntambah2").click(function () {
        if ($("#aritemmststatus").val() != "Closed") {
            Swal({
                title: 'WARNING!',
                text: 'Faktur Belum DiLunasi!',
                type: 'warning'
            });
            return false;
        }
        else if ($("#dtl2no").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please Fill No NTPN!',
                type: 'warning'
            });
            return false;
        } else {
            var aritemmstoid = $('#aritemmstoid').val();
            var aritemdtl2type = $('#dtl2type option:selected').val();
            var amtntpn = 0;
            if (aritemdtl2type == "PPN") {
                amtntpn = removeCommas($('#lbppnamt').val());
            } else if (aritemdtl2type == "PPH 22") {
                amtntpn = removeCommas($('#pphamt').val());
            }
            var aritemdtl2jenis = $('#dtl2jenis option:selected').val();
            var ntpnno = $('#dtl2no').val();
            var aritemdtl2date = $('#tgloleh').val();
            var table = $('#DataDtl2').DataTable();
            $.ajax({
                url: "@(Url.Action("GetDetail2Data"))",
                data: { aritemdtl2type: aritemdtl2type, aritemdtl2jenis: aritemdtl2jenis, ntpnno: ntpnno, aritemdtl2date: aritemdtl2date, aritemmstoid: aritemmstoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        if (!IsOnDtl(val.aritemdtl2type)) {
                            var id = table.rows().data().length + 1;
                            val.aritemdtl2seq = id;
                            val.aritemdtl2amt = (amtntpn > 0 ? amtntpn : val.aritemdtl2amt);
                            rows.push([
                                JSON.stringify(val),
                                id,
                                val.aritemdtl2type,
                                val.aritemdtl2jenis,
                                '<input type="text" class="form-control" style="max-width: 150px" id="ntpnno-' + id + '" name="ntpnno-' + id + '" value="' + val.ntpnno + '">',
                                val.aritemdtl2date,
                                addCommas((amtntpn > 0 ? amtntpn : val.aritemdtl2amt)),
                                '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                            ]);
                        }
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                        $("#dtl2no").val('');
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    function IsOnDtl(aritemdtl2type) {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (aritemdtl2type == alldata.aritemdtl2type) {
                return true;
            }
        }
        return false;
    }

    function IsOnDtl(shipmentitemdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (shipmentitemdtloid == alldata.shipmentitemdtloid) {
                return true;
            }
        }
        return false;
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var faoid = $('#dpfaoid option:selected').val();
        var fafaktur = $('#dpfaktur').val();
        var rabtype = $('#rabtype').val();
        var amt = 0.0; var taxamt = 0.0; var bruto = 0.0; var netto = 0.0; var taxdpamt = 0.0;
        var pphamt = 0.0; var lbppnamt = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            amt += parseFloat(alldata.aritemdtlamt);
            taxamt += parseFloat(alldata.aritemdtltaxamt);
            bruto += parseFloat(alldata.aritemdtlnetto);
        }
        taxdpamt = removeCommas($('#ardpamt').val());
        if (taxdpamt != 0 && taxamt != 0) {
            if (taxdpamt == taxamt) {
                $("#aritemfaktur").val("0");
                $("#faoid").val(0).trigger('change');
                $("#faoid").attr("readonly", "readonly");
            }
        }
        if (taxamt > 0) {
            taxamt = parseFloat(taxamt) - parseFloat(taxdpamt);
        }
        netto = bruto;
        if (rabtype == "WAPU") {
            pphamt = parseFloat(amt) * (1.5 / 100);
            lbppnamt = parseFloat(taxamt) + parseFloat(taxdpamt);;
            netto = parseFloat(netto) - parseFloat(pphamt) - parseFloat(lbppnamt);
        }
        $("#aritemtotalamt").val(addCommas(amt.toFixed(2)));
        $("#aritemtaxamt").val(addCommas(taxamt.toFixed(2)));
        $("#aritemtotalnetto").val(addCommas(amt.toFixed(2)));
        $("#aritemgrandtotal").val(addCommas(Math.round(bruto)));
        $("#pphamt").val(addCommas(pphamt.toFixed(2)));
        $("#lbppnamt").val(addCommas(lbppnamt.toFixed(2)));
        $("#aritemothercost").val(addCommas(Math.round(netto)));
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $("#faoid").attr("readonly", "readonly");
            } else {
                bVal = false;
                $("#faoid").removeAttr("readonly");
            }
        } else {
            bVal = false;
            $("#faoid").attr("readonly", "");
        }
        $("#btnsearchrab").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#shipmentitemno").val("");
        $("#shipmentitemmstoid").val("");
    }

    function hitung(id) {
        var qty = removeCommas($('#aritemqty-' + id + '').val());
        var price = removeCommas($('#aritemprice-' + id + '').val());
        var taxvalue = removeCommas($('#aritemdtltaxvalue-' + id + '').val());
        var dpp = parseFloat(qty * price);
        var taxamt = 0.0;
        if (taxvalue > 0) {
            taxamt = parseFloat(dpp * (taxvalue / 100));
        }
        var netto = dpp + taxamt;
        $('#aritemdtlamt-' + id + '').val(addCommas(dpp));
        $('#aritemdtltaxamt-' + id + '').val(addCommas(taxamt));
        $('#aritemdtlnetto-' + id + '').val(addCommas(netto));
        SumAmtJual();
    }

    function SumAmtJual() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0; var taxamt = 0.0; var pphamt = 0.0; var bruto = 0.0; var netto = 0.0; var taxdpamt = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var aritemdtlamt = removeCommas(table.$("#aritemdtlamt-" + alldata.aritemdtlseq).val());
            var aritemdtltaxamt = removeCommas(table.$("#aritemdtltaxamt-" + alldata.aritemdtlseq).val());
            var aritemdtlnetto = removeCommas(table.$("#aritemdtlnetto-" + alldata.aritemdtlseq).val());

            amt += parseFloat(aritemdtlamt);
            taxamt += parseFloat(aritemdtltaxamt);
            bruto += parseFloat(aritemdtlnetto);
            netto += bruto + netto;
        }
        taxdpamt = removeCommas($('#ardpamt').val());
        taxamt = parseFloat(taxamt - taxdpamt);
        $('#aritemtotalamt').val(addCommas(amt));
        $('#aritemtaxamt').val(addCommas(taxamt));
        $('#aritemtotalnetto').val(addCommas(amt));
        $('#aritemgrandtotal').val(addCommas(netto));
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var aritemdtlnote = table.$("#aritemdtlnote-" + alldata.aritemdtlseq).val();

            var obj = {
                aritemdtlseq: i + 1,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                refno: alldata.refno,
                aritemunit: alldata.aritemunit,
                aritemunitoid: alldata.aritemunitoid,
                aritemqty: alldata.aritemqty,
                aritemprice: alldata.aritemprice,
                aritemdtlamt: alldata.aritemdtlamt,
                aritemdtltaxvalue: alldata.aritemdtltaxvalue,
                aritemdtltaxamt: alldata.aritemdtltaxamt,
                aritemdtlnetto: alldata.aritemdtlnetto,
                aritemdtlnetto: alldata.aritemdtlnetto,
                aritemdtlnote: aritemdtlnote,
                shipmentitemmstoid: alldata.shipmentitemmstoid,
                shipmentitemdtloid: alldata.shipmentitemdtloid
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtl2(uid) {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.ntpnno = table.$("#ntpnno-" + alldata.aritemdtl2seq).val();
            alldata.aritemdtl2seq = i + 1;

            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails2"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtlAll(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var aritemdtlnote = table.$("#aritemdtlnote-" + alldata.aritemdtlseq).val();

            var obj = {
                aritemdtlseq: i + 1,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                refno: alldata.refno,
                aritemunit: alldata.aritemunit,
                aritemunitoid: alldata.aritemunitoid,
                aritemqty: alldata.aritemqty,
                aritemprice: alldata.aritemprice,
                aritemdtlamt: alldata.aritemdtlamt,
                aritemdtltaxvalue: alldata.aritemdtltaxvalue,
                aritemdtltaxamt: alldata.aritemdtltaxamt,
                aritemdtlnetto: alldata.aritemdtlnetto,
                aritemdtlnetto: alldata.aritemdtlnetto,
                aritemdtlnote: aritemdtlnote,
                shipmentitemmstoid: alldata.shipmentitemmstoid,
                shipmentitemdtloid: alldata.shipmentitemdtloid
            }
            rows.push(obj);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            alldata.ntpnno = table2.$("#ntpnno-" + alldata.aritemdtl2seq).val();
            alldata.aritemdtl2seq = i + 1;

            rows2.push(alldata);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });

    }

    $("#btnSave").click(function () {
        $('#ardpamt').val(removeCommas($('#ardpamt').val()));
        $('#aritemtotalamt').val(removeCommas($('#aritemtotalamt').val()));
        $('#aritemtaxamt').val(removeCommas($('#aritemtaxamt').val()));
        $('#aritemtotalnetto').val(removeCommas($('#aritemtotalnetto').val()));
        $('#aritemgrandtotal').val(removeCommas($('#aritemgrandtotal').val()));
        $('#aritemothercost').val(removeCommas($('#aritemothercost').val()));
        $('#pphamt').val(removeCommas($('#pphamt').val()));
        $('#lbppnamt').val(removeCommas($('#lbppnamt').val()));
        SetDataDtl($('#uid').val());
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
					$("#aritemmststatus").val('Post');
					$("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnSaveNTPN").click(function () {
        var uid = $('#uid').val();
        SetDataDtl2(uid);
        var oid = $("#aritemmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Save this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Save this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveNTPN"))",
                    data: { __RequestVerificationToken: token, id: oid, uid: uid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Save!',
                              'Data has been Saved.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Save Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
             }
        })
    });

    function clickDelete() {
        var oid = $("#aritemmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

     function FillDueDate() {
         var markup = "";
         var paytype = $("#gnother1").val();
         var tgldue = $("#tglmst").val();
         var url = "@(Url.Action("InitDueDate"))";
         $.ajax({
            data: { paytype: paytype, tgldue: tgldue},
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#tgldue").val(moment(jsDate(val.duedate)).format('DD/MM/YYYY'));
                    });
                }
            }
        });
    }

    function FillDDLFA() {
        var faoid = $("#faoid");
        var action = $('#action').val();
        var faoid_sel = $("#faoid option:selected").val();
        faoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("GetFAData"))",
            data: { action : action},
            cache: false,
            type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.faoid + "\'>" + val.fakturno + "</option>";
                    if (val.faoid == faoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                faoid.html(markup).show();
                if (isExist == true) {
                    faoid.val(faoid_sel);
                }
                faoid.trigger('change');
            } else {
                faoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDDLAlamatSupp() {
        var markup = "";
        var url = "@(Url.Action("InitDDLAlamatSupp"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
    }

</script>
