﻿@model IEnumerable<APIS_WB.Controllers.Transaction.FJController>

@{
    ViewBag.Title = "Faktur Jual";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        List Faktur Jual
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Rekening</label>
                            <div class="col-sm-8">
                                @Html.Editor("sRekening", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>  
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Bank</label>
                            <div class="col-sm-8">
                                @Html.Editor("sBank", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Atas Nama</label>
                            <div class="col-sm-8">
                                @Html.Editor("sAtasNama", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No Draft</th>
                                        <th>No. Faktur</th>
                                        <th>Tgl Faktur</th>
                                        <th>Project</th>
                                        <th>RAB Type</th>
                                        <th>No. SO</th>
                                        <th>Customer</th>
                                        <th>Tipe</th>
                                        <th>Grand Total</th>
                                        <th>Status</th>
                                        <th>Faktur</th>
                                        <th>SPP</th>
                                        <th>Kwitansi</th>
                                        <th>BASTB</th>
                                        <th>SKPBN</th>
                                        <th>SRM</th>
                                        @*<th>FJ-G</th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_getListDataTable = "@Url.Action("getListDataTable")"
    var url_Form = "@Url.Action("Form")"
    var url_Print = "@(Url.Action("PrintReport"))";

    var datatable = null;
    $(document).ready(function () {
        datatable = $('#datatable').DataTable({
            responsive: true,
            "order": [[0, 'desc']]
        });
        GetDataList();
    });

    function GetFilterData() {
        var data = {
            filterperiodfrom: toDate($('#filterperiodfrom').val()),
            filterperiodto: toDate($('#filterperiodto').val()),
            filterddl: $('#filterddl option:selected').val(),
            filtertext: $('#filtertext').val(),
            filterstatus: $('#filterstatus option:selected').val()
        };
        return data;
    }

    $("#btnFindList").click(function () {
        var sMsg = "";
        var periodfrom = ($('#filterperiodfrom').val() == "" ? "" : toDate($('#filterperiodfrom').val()));
        var periodto = ($('#filterperiodto').val() == "" ? "" : toDate($('#filterperiodto').val()));
        if (periodfrom != "" && periodto != "") {
            if (Date.parse(periodfrom) > Date.parse(periodto))
                sMsg = "Period 1 Tidak Boleh Lebih Kecil Dari Period 2!";

            if (sMsg != "") {
                swal('Warning', sMsg, 'warning');
                return false;
            }
            else { GetDataList(); }
        }
    });

    function GetDataList() {
        var param = GetFilterData();
        datatable.clear().draw();
        $.ajax({
            url: url_getListDataTable,
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    var pak = '';
                    if(val.countjt > 0){
                        pak = '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportSurat(' + val.aritemmstoid + ')"><i class="fa fa-print"></i></button>';
                    }
                    rows.push([
                        '<a href="' + url_Form + '/' + val.aritemmstoid + '" class="text-primary">' + val.aritemmstoid + '</a>',
                        val.aritemno,
                        moment(val.aritemdate).format('DD/MM/YYYY'),
                        val.rabno,
                        val.rabtype2,
                        val.soitemno,
                        val.custname,
                        val.aritemtype2,
                        addCommas(val.grandtotal),
                        val.aritemmststatus,
                        '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(' + val.aritemmstoid + ')"><i class="fa fa-print"></i></button>',
                        '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportSPP(' + val.aritemmstoid + ')"><i class="fa fa-print"></i></button>',
                        '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportKWT(' + val.aritemmstoid + ')"><i class="fa fa-print"></i></button>',
                        '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportBASTB(' + val.aritemmstoid + ')"><i class="fa fa-print"></i></button>',
                        '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportSKPBN(' + val.aritemmstoid + ')"><i class="fa fa-print"></i></button>',
                        pak
                    ]);
                });
                datatable.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function PrintReport(id) {
        var sRekening = $("#sRekening").val();
        var sBank = $("#sBank").val();
        var sAtasNama = $("#sAtasNama").val();
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&sRekening=" + sRekening + "&sBank=" + sBank + "&sAtasNama=" + sAtasNama + "");
    };
    function PrintReportSPP(id) {
        var sRekening = $("#sRekening").val();
        var sBank = $("#sBank").val();
        var sAtasNama = $("#sAtasNama").val();
        window.location.assign("@Url.Action("PrintReportSPP")?id=" + id + "&sRekening=" + sRekening + "&sBank=" + sBank + "&sAtasNama=" + sAtasNama + "");
    };
    function PrintReportKWT(id) {
        window.location.assign("@Url.Action("PrintReportKWT")?id=" + id + "");
    };
    function PrintReportBASTB(id) {
        window.location.assign("@Url.Action("PrintReportBASTB")?id=" + id + "");
    };
    function PrintReportSKPBN(id) {
        window.location.assign("@Url.Action("PrintReportSKPBN")?id=" + id + "");
    };
    function PrintReportSurat(id) {
        window.location.assign("@Url.Action("PrintReportSurat")?id=" + id + "");
    };
    function PrintReportGBN(id) {
        var sRekening = $("#sRekening").val();
        var sBank = $("#sBank").val();
        var sAtasNama = $("#sAtasNama").val();
        window.location.assign("@Url.Action("PrintReportGBN")?id=" + id + "&sRekening=" + sRekening + "&sBank=" + sBank + "&sAtasNama=" + sAtasNama + "");
    };
</script>
