﻿@{
    ViewBag.Title = "LAPORAN HPP"; 
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "HPPRABReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")
                            <div class="row">
                                <div class="col-md-6" id="divnya" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLBusinessUnit", null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Lap. Giro", Value = "Summary" },
                                            new SelectListItem { Text = "Lap. Giro Status", Value = "Detail" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Tgl Transaksi", Value = "arm.updtime" },
                                            new SelectListItem { Text = "Tgl Dokumen", Value = "arm.aritemdate" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Cash/Bank No.", Value = "Cash/Bank No." },
                                               new SelectListItem { Text = "Ref. Cash/Bank No.", Value = "Ref. Cash/Bank No." }
                                            }, new { @class = "form-control select2" })
                                        </label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomor", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLCOA", null, "ALL", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="divfor" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLCurrency", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "IDR", Value = "IDR" },
                                               new SelectListItem { Text = "USD", Value = "USD" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                        <div class="text-center">
                            <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                            <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                            <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                            <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                            <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                        </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    @* Digunakan untuk merubah isi DDLDivision berdasarkan DDLBusinessUnit yg dipilih *@
    $(document).ready(function () {
        $('#divnya').hide();
        $('#divfor').hide(); 
    });

    function ChangeBusinessUnit() {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLCOA = $('#DDLCOA');
        $.ajax({
            url: "@(Url.Action("InitDDLCOA"))",
            data: { DDLBusinessUnit: DDLBusinessUnit },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = "<option value=\'\'>ALL</option>";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    });
                    DDLCOA.html(markup).show();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    $('#btnViewReport').click(function () {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLType = $('#DDLType').val();
        var DDLCurrency = $('#DDLCurrency').val();
        var DDLOrderBy = $('#DDLOrderBy').val();
        var DDLNomor = $('#DDLNomor').val();
        var DDLPeriod = $('#DDLPeriod').val();
        var DDLCOA = $('#DDLCOA').val();
        var TextNomor = $('#TextNomor').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var ReportType = "";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLBusinessUnit: DDLBusinessUnit, DDLType: DDLType, DDLNomor: DDLNomor, StartDate: StartDate, EndDate: EndDate, DDLCurrency: DDLCurrency, ReportType: ReportType, DDLOrderBy: DDLOrderBy, DDLPeriod: DDLPeriod, TextNomor: TextNomor, DDLCOA: DDLCOA },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });

    $('#ReportFrame').on('load', function () {
        pleaseWaitDialog.hide();
    });
</script>
