﻿@model APIS_WB.Models.DB.QL_trncashbankmst

@{
    ViewBag.Title = "Pencarian Giro Masuk";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Pencarian Giro Masuk</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header Pencarian Giro Masuk</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cashbankdate)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @Html.Hidden("seq")
                        @{
                           @Html.EditorFor(model => model.cashbankdate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.cashbankdate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cash/Bank No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.cashbankoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cashbankdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Bank Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.cashbankstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbanknote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Detail Pencarian Giro Masuk</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>BGM No.</th>
                                        <th>Due Date</th>
                                        <th>Giro No.</th>
                                        <th>Customer</th>
                                        <th>Amount</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.cashbankstatus == "In Process" | @Model.cashbankstatus == "Revised")
                            {
                                <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                                <button type="button" name="action" value="@(ViewBag.action)" id="btnSendForApproval" class="btn btn-warning btn-md"><b>Terbitkan</b></button>
                            }
                            else
                            {
                                if (Model.cashbankstatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK LIST GIRO *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Giro Masuk</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>BGM No.</th>
                                    <th>Due Date</th>
                                    <th>Giro No.</th>
                                    <th>Customer</th>
                                    <th>Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK LIST GIRO *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" }
                                            //new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmount();
            EnabledHeader();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $("#cashbankdate").change(function () {
            if ($("#action").val() == "Create") {
                GenerateReceiptNo();
            }
        });

        $("#acctgoid").change(function () {
            if ($("#action").val() == "Create") {
                GenerateReceiptNo();
            }
        });

        InitDDLAcctg("VAR_BANK", " AND curroid=" + $("#curroid option:selected").val())
        $("#curroid").change(function () {
            InitDDLAcctg("VAR_BANK", " AND curroid=" + $("#curroid option:selected").val())
        });

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        });

        //Set Date Value Datepicker
        var tgl = "";
        tgl = $("#cashbankdate").val();        
        tglIndo(tgl, '.datepickerdok');

        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        FillDetailData();
    })

    function GenerateReceiptNo() {
        var cashbankdate = $("#cashbankdate").val();
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateReceiptNo"))",
            data: { cashbankdate: cashbankdate, cashbanktype: "BBM", acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#cashbankno").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.refno,
                    val.payargiroduedate,
                    val.payargirorefno,
                    val.custname,
                    addCommas(val.payargiroamt),
                    '<input type="text" class="form-control" style="max-width: 150px" id="payargironote-' + val.seq + '" name="payargironote-' + val.seq + '" value="' + (val.payargironote == null ? "" : val.payargironote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                CountHdrAmount();
                EnabledHeader();
            }, 100);
        });
    }

    function InitDDLAcctg(sVar, sFilter) {
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();        
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar, sFilter: sFilter },
            cache: false,
            type: "POST",
            success: function (data) {
                var isExist = false;
                var markup = "";//"<option value=\'\'>-</option>";
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');
                if ($("#action").val() == "Create") {
                    GenerateReceiptNo();
                }               
        },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#cashbankdate").datepicker("option", "dateFormat", "MM-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#cashbankdate').replaceWith($('#cashbankdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#acctgoid").attr("readonly", bVal);
        $("#curroid").attr("readonly", bVal);
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dVal = 0;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var alldata = JSON.parse(data[i][0]);
                dVal += parseFloat(alldata.payargiroamt);
            }
        }
        $("#cashbankamt").val(addCommas(dVal));
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var cashbankno = $("#cashbankno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trncashbankmst " + $("#cashbankoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { cashbankno: cashbankno, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        val.acctgdebet,
                        val.acctgcredit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function IsOnDtl(cashbankoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (cashbankoid == alldata.refoid) {
                return true;
            }
        }
        return false;
    }

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cashbankdate = $("#tglmst").val();
        var curroid = $('#curroid option:selected').val();
        var acctgoid = $('#acctgoid option:selected').val();

        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindDataGiro"))",
            data: { cashbankdate: cashbankdate, curroid: curroid, acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.cashbankno,
                        val.cashbankduedate,
                        val.cashbankrefno,
                        val.custname,
                        addCommas(val.cashbankamt),
                        '<input type="text" class="form-control" style="max-width: 150px" id="payargironote-' + i + '" name="payargironote-' + i + '" value="' + val.payargironote + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    })

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var payargironote_id = "#payargironote-" + val;
                var payargironote = table.$(payargironote_id).val();
                if (!IsOnDtl(alldata.cashbankoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        seq: id,
                        refoid: alldata.cashbankoid,
                        payargirorefno: alldata.cashbankno,
                        refacctgoid: alldata.acctgoid,
                        refno: alldata.cashbankrefno,
                        custoid: alldata.custoid,
                        custname: alldata.custname,
                        payargiroduedate: alldata.cashbankduedate,
                        payargiroamt: alldata.cashbankamt,
                        payargironote: payargironote,
                        tblname: alldata.tblname,
                        fieldoid: alldata.fieldoid,
                        fieldstatus: alldata.fieldstatus,
                        fieldtakegiro: alldata.fieldtakegiro
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        alldata.cashbankno,
                        alldata.cashbankduedate,
                        alldata.cashbankrefno,
                        alldata.custname,
                        addCommas(alldata.cashbankamt),
                        '<input type="text" class="form-control" style="max-width: 150px" id="payargironote-' + id + '" name="payargironote-' + id + '" value="' + payargironote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    EnabledHeader();
                }
            }
        })
        SetDataDtl();
        CountHdrAmount();
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var payargironote_id = "#payargironote-" + alldata.seq;
            var payargironote = table.$(payargironote_id).val();

            alldata.seq = i + 1;
            alldata.payargironote = payargironote;

            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $('#cashbankamt').val(removeCommas($('#cashbankamt').val()));
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#cashbankoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#cashbankstatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>