﻿@model APIS_WB.Models.DB.QL_mstexpedisi

@{
    ViewBag.Title = "Master Expedisi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Expedisi
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.expoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Kode</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.expcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.expcode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nama Expedisi <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.expname, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.expname, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="divgnrefoid">
                                <label class="col-md-2 control-label">Alamat</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.expaddr, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.expaddr, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="divgnrefoid">
                                <label class="col-sm-2 control-label">Kota</label>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(model => model.expcityoid, null, new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.expcityoid, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                    {
                                    new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                    new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                    }, new { @class = "form-control select2", @required = "" })
                                </div>
                            </div>

                            <!-- BAGIAN DETAIL -->

                            <div class="form-group">
                                <label id="i_u2" class="col-md-2 control-label text-red">New Detail</label>
                                @(Html.Hidden("seq"))
                            </div>

                            <div class="box-body">
                                <div class="container-fluid">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" onclick="AddToList()"><b>Tambah</b></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Nama PIC</th>
                                            <th>Telp1</th>
                                            <th>Telp2</th>
                                            <th>Email</th>
                                            <th>Jabatan</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!-- AKHIR BAGIAN DETAIL -->
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Di buat oleh @(Html.DisplayFor(m => m.createuser)) pada @Model.createtime.ToString("dd/MM/yyyy")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir di edit oleh @(Html.DisplayFor(m => m.upduser)) pada @Model.updtime.ToString("dd/MM/yyyy")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            <button type="submit" name="action" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }

                        </div>
                    </div>
                    <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    val.seq,
                    '<input type="text" class="form-control" style="max-width: 80px" id="picname-' + val.seq + '" name="picname-' + val.seq + '" value="' + val.picname + '">',
                    '<input type="text" class="form-control" style="max-width: 80px" id="jabatan-' + val.seq + '" name="jabatan-' + val.seq + '" value="' + val.jabatan + '">',
                    '<input type="text" class="form-control" style="max-width: 80px" id="email-' + val.seq + '" name="email-' + val.seq + '" value="' + val.email + '">',
                    '<input type="text" class="form-control" style="max-width: 80px" id="phone1-' + val.seq + '" name="phone1-' + val.seq + '" value="' + val.phone1 + '">',
                    '<input type="text" class="form-control" style="max-width: 80px" id="phone2-' + val.seq + '" name="phone2-' + val.seq + '" value="' + val.phone2 + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    function clickDelete() {
        var oid = $("#expoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    }

    /* Create tabel detail */
    function AddToList() {
        var table = $('#DataDtl').DataTable();
        var id = table.rows().data().length + 1;//menambahkan data ke tabel
        table.row.add([
            id,
            '<input type="text" class="form-control" style="max-width: 80px" id="picname-' + id + '" name="picname-' + id + '">',
            '<input type="text" class="form-control" style="max-width: 80px" id="jabatan-' + id + '" name="jabatan-' + id + '">',
            '<input type="text" class="form-control" style="max-width: 80px" id="email-' + id + '" name="email-' + id + '">',
            '<input type="text" class="form-control" style="max-width: 80px" id="phone1-' + id + '" name="phone1-' + id + '">',
            '<input type="text" class="form-control" style="max-width: 80px" id="phone2-' + id + '" name="phone2-' + id + '">',
            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ]).draw();
        SetDataDtl();
    }
    /* End Create tabel detail*/

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var picname_id = "#picname-" + (i + 1);
            var phone1_id = "#phone1-" + (i + 1);
            var phone2_id = "#phone2-" + (i + 1);
            var email_id = "#email-" + (i + 1);
            var jabatan_id = "#jabatan-" + (i + 1);

            var picname = table.$(picname_id).val();
            var phone1 = table.$(phone1_id).val();
            var phone2 = table.$(phone2_id).val();
            var email = table.$(email_id).val();
            var jabatan = table.$(jabatan_id).val();
            var obj = {
                seq: (i + 1),
                picname: picname,
                phone1: phone1,
                phone2: phone2,
                email: email,
                jabatan: jabatan
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });
</script>
