﻿@model IEnumerable<APIS_WB.Controllers.Master.EkspedisiController.listExp>

@{
    ViewBag.Title = "Master Expedisi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Expedisi</h1>
    </section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- <div class="box-header">
                    <h3 class="box-title">To Do List</h3>
                </div> -->
                <!-- /.box-header -->
                <form action="index" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="container-fluid row">
                            <a class="btn btn-success" href="Form">
                                <i class="fa fa-plus"></i> Tambah
                            </a>
                        @{ if (Session["ExpMasterXls"].ToString() == "Yes")
                            {
                            <div class="pull-right">
                                <button type="button" class="btn btn-success btn-md" id="btnExportXls"><b>Export Excel</b></button>
                            </div>
                            <div class="pull-right">
                                @Html.DropDownList("typeexp", new List<SelectListItem>
                                {
                                    new SelectListItem { Text="Expedisi", Value="Expedisi" },
                                    new SelectListItem { Text="PIC", Value="PIC" }
                                }, new { @class = "form-control select2", @required = "" })
                            </div>
                            }
                        }
                        </div><br>
                    </div>
                </form>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Kode</th>
                                        <th>Nama Expedisi</th>
                                        <th>Alamat</th>
                                        <th>Kota</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.expoid)" class="text-primary">@Html.DisplayFor(m => i.expcode)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.expname)</td>
                                                <td>@Html.DisplayFor(m => i.gndesc)</td>
                                                <td>@Html.DisplayFor(m => i.expaddr)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script language="javascript" type="text/javascript">
        $("#btnExportXls").click(function () {
            var typeexp = $("#typeexp option:selected").val();
            window.location.assign("@Url.Action("PrintXlsReport")?typeexp=" + typeexp + "");
        });
    </script>
</section>
