﻿@{
    ViewBag.Title = "Kartu Piutang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Kartu Piutang</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "ConARReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")
                            @Html.Hidden("DDLBusinessUnit_Text")
                            @Html.Hidden("DDLYear_Text")
                            @Html.Hidden("DDLMonth_Text")

                            <div class="row">
                                <div class="col-md-6" id="divnya" style="display: none;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Business Unit</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("DDLBusinessUnit", null, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type</label>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Summary", Value = "Summary" },
                                               new SelectListItem { Text = "Detail", Value = "Detail" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                            </div>
                                            
                                                <div class="col col-md-4" id="divfordtl1" style="display: none;">
                                                    @Html.CheckBox("cbInvoice") Per Invoice
                                                </div>                                           
                                         </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Period</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="divforsum">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Period</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLMonth", null, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLYear", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLCOA", null, "None", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextCustomer", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div> 
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    @Html.CheckBox("cbHide", new { @checked = "" }) Hide Customer with 0 DP A/R amount
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" id="divcur" style="display: none;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Currency Value</label>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLCurrency", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "Indonesian Rupiah", Value = "IDR" },
                                               new SelectListItem { Text = "US Dollar", Value = "USD" }
                                            }, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                    
                                </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ", ""))" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>

                }
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK PR *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                    @Html.Hidden("total-cust")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PR *@


</section>

@* Ketiga script ini harus ada di semua view *@
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    @* Digunakan untuk merubah isi DDLDepartment berdasarkan DDLBusinessUnit yg dipilih *@
    $(document).ready(function () {
        $('#divnya').hide();
        $('#divcur').hide();
        $('#divfordtl1').hide();
    });

    function ChangeType() {
        var DDLType = $('#DDLType').val();
        var markupcurr = "<option value =\'IDR\'>Indonesian Rupiah</option><option value =\'USD\'>US Dollar</option>";
        if (DDLType == "Summary") {
            $('#divforsum').show();
            $('#divfordtl').hide();
            $('#divfordtl1').hide();
        } else {
            $('#divfordtl').show();
            $('#divfordtl1').hide();
            $('#divforsum').hide();
            markupcurr += "<option value =\'TransactionRate\'>Transaction Rate</option>"
        }
        $('#DDLCurrency').html(markupcurr).show();
    }

    $('#btnsearchcust').click(function () {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLMonth = $('#DDLMonth').val();
        var DDLYear = $('#DDLYear').val();
        var DDLType = $('#DDLType').val();

        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { DDLBusinessUnit: DDLBusinessUnit, StartDate: StartDate, EndDate: EndDate, DDLType: DDLType, DDLMonth: DDLMonth, DDLYear: DDLYear },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $('#tblModalCust').DataTable();
                    table.destroy();
                    $('#tblModalCust').empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-cust').val(total);
                    if (total > 0) {
                        table = $('#tblModalCust').DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRows": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-cust').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-cust').modal('hide');
            }
        });
    })

    function AddToFilterCust() {
        var ind = 1;

        if (parseInt($('#total-cust').val()) > 0) {
            var result = $("#TextCustomer").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalCust').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCustomer").val(result);
        }
    }

    $('#btnViewReport').click(function () {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLBusinessUnit_Text = $('#DDLBusinessUnit option:selected').text();
        var DDLMonth_Text = $('#DDLMonth option:selected').text();
        var DDLYear_Text = $('#DDLYear option:selected').text();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLMonth = $('#DDLMonth').val();
        var DDLYear = $('#DDLYear').val();
        var ReportType = "";
        var DDLType = $('#DDLType').val();
        var DDLCurrency = $('#DDLCurrency').val();
        var TextCustomer = $('#TextCustomer').val();
        var DDLCOA = $('#DDLCOA').val();
        var cbInvoice = false;
        if ($('#cbInvoice').checked)
            cbInvoice = true;
        var cbHide = true;
        //if ($('#cbHide').checked)
        //    cbHide = true;

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLBusinessUnit: DDLBusinessUnit, DDLBusinessUnit_Text: DDLBusinessUnit_Text, StartDate: StartDate, EndDate: EndDate, DDLType: DDLType, DDLCurrency: DDLCurrency, ReportType: ReportType, TextCustomer: TextCustomer, DDLCOA: DDLCOA, cbInvoice: cbInvoice, cbHide: cbHide, DDLMonth: DDLMonth, DDLYear: DDLYear, DDLMonth_Text: DDLMonth_Text, DDLYear_Text: DDLYear_Text },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });


    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#DDLBusinessUnit_Text').val($('#DDLBusinessUnit option:selected').text());
        $('#DDLMonth_Text').val($('#DDLMonth option:selected').text());
        $('#DDLYear_Text').val($('#DDLYear option:selected').text());
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#DDLBusinessUnit_Text').val($('#DDLBusinessUnit option:selected').text());
        $('#DDLMonth_Text').val($('#DDLMonth option:selected').text());
        $('#DDLYear_Text').val($('#DDLYear option:selected').text());
        $('#StartDate').val($('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $('#EndDate').val($('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $('#btnSubmit').click();
    });
</script>