﻿@model APIS_WB.Models.DB.QL_trnglmst
@{
    ViewBag.Title = "Jurnal Umum";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Memorial Journal</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Jurnal Umum Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @Html.Hidden("division")
                        @{
                            @Html.EditorFor(model => model.gldate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.gldate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div> 

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Memo No.</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.glother1, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.glmstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Memo Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control  datepickerdok", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.gldate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Debit</label>
                                        <div class="col-md-4">
                                            @Html.Editor("totaldebit", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Credit</label>
                                        <div class="col-md-4">
                                            @Html.Editor("totalcredit", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.glnote, new { @class = "form-control", @type = "text", @maxlength = "300" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.glflag, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.glflag } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Jurnal Umum Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th></th>
                                        <th>Account No.</th>
                                        <th>Account Desc.</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                        <th>Note</th>
                                        <th>Division</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                            <h6><b>VAR_MEMO_JOURNAL</b></h6>
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            if (Model.glflag == "In Process" || Model.glflag == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan </b></button>
                                <button type="button" class="btn btn-success btn-md" id="btnSaveClose" style="display:none"><b>Save/Close </b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali </b></a>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus </b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnSendForApproval"><b>Kirim Permintaan</b></button>
                            }
                            else
                            {
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali </b></a>
                                if (Model.glflag == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                            }
                        }
                    </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL COA *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Memo Acoount</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Division</th>
                                    <th>Detail Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL COA *@

    @* MODAL UNTUK GANTI COA *@
    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Memo Account</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI COA *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" },
                                            new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 8],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmount();
            EnabledHeader();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                },
                {
                    "targets": 6,
                    "visible": false,
                    "searchable": false
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalCOA = $("#tblModalCOA").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        })

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#gldate").val();
        } else {
            tgl = $("#gldate").val();
        }
        tglIndo(tgl, '.datepickerdok');

        InitDDLDivision();
        FillDetailData();

        $('#totaldebit').val(addCommas($('#totaldebit').val()));
        $('#totalcredit').val(addCommas($('#totalcredit').val()));
    })

    function GenerateMemoNo() {
        var cmpcode = $("#cmpcode").val();
        var gldate = $("#tglmst").val();
        $.ajax({
            url: "@(Url.Action("GenerateMemoNo"))",
            data: { cmp: cmpcode, gldate: gldate},
            cache: false,
            type: "POST",
            success: function (data) {
                $("#glother1").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.glseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.acctgcode,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtdb-' + val.glseq + '" name="glamtdb-' + val.glseq + '" value="' + addCommas(val.glamtdb) + '" onchange="CountDtlAmount(' + val.glseq + ')">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtcr-' + val.glseq + '" name="glamtcr-' + val.glseq + '" value="' + addCommas(val.glamtcr) + '" onchange="CountDtlAmount(' + val.glseq + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="glnote-' + val.glseq + '" name="glnote-' + val.glseq + '" value="' + (val.glnote == null ? "" : val.glnote) + '">',
                    '<select class = "form-control" id="groupoid-' + val.glseq + '">' + $("#division").val(),
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $.each(data, function (key, val) {
                    $('#groupoid-' + val.glseq).val(val.groupoid).trigger("change");
                });
                CountHdrAmount();
                EnabledHeader();
            }, 100);
        });
    }

    function InitDDLAcctg(sVar) {
        var cmp = $("#cmpcode").val();
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var acctggrp1 = $("#acctggrp1 option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: "VAR_MEMO_JOURNAL", sFilter: acctggrp1 },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
            } else {
                acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dValDebet = 0;
        var dValCredit = 0;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var alldata = JSON.parse(data[i][0]);
                dValDebet += parseFloat(alldata.glamtdb);
                dValCredit += parseFloat(alldata.glamtcr);
            }
        }
        $("#totaldebit").val(addCommas(dValDebet));
        $("#totalcredit").val(addCommas(dValCredit));
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        if (dataDtl.length > 0) {
            var data = table.row(id - 1).data();
            var alldata = JSON.parse(data[0]);
            var glamtdb = removeCommas(table.$("#glamtdb-" + id).val());
            var glamtcr = removeCommas(table.$("#glamtcr-" + id).val());
            var glnote = table.$("#glnote-" + id).val();
            var groupoid = table.$("#groupoid-" + id).val();

            alldata.glamtdb = glamtdb;
            alldata.glamtcr = glamtcr;
            alldata.glnote = glnote;
            alldata.groupoid = groupoid;

            data[0] = JSON.stringify(alldata);
            data[5] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtdb-' + id + '" name="glamtdb-' + id + '" value="' + addCommas(glamtdb) + '" onchange="CountDtlAmount(' + id + ')">';
            data[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtcr-' + id + '" name="glamtcr-' + id + '" value="' + addCommas(glamtcr) + '" onchange="CountDtlAmount(' + id + ')">';
            data[7] = '<input type="text" class="form-control" style="max-width: 150px" id="glnote-' + id + '" name="glnote-' + id + '" value="' + (glnote == null ? "" : glnote) + '">';
            data[8] = '<select class = "form-control" id="groupoid-' + id + '">' + $("#division").val();

            table.row(id - 1).data(data).invalidate();
            $('#groupoid-' + id).val(groupoid).trigger("change");
            CountHdrAmount();
        }
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function InitDDLDivision() {
        cmp = $("#cmpcode").val();
        var markup = "";
        $.ajax({
            url: "@(Url.Action("InitDDLDiv"))",
            data: { cmp: cmp },
            cache: false,
            async: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.groupoid + "\'>" + val.groupdesc + "</option>";
                    });
                    $("#division").val(markup);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var cmpcode = $("#cmpcode").val();
        var glmstoid = $("#glmstoid").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = $("#glother1").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { glother1: glother1, cmpcode: cmpcode, ratetype: ratetype, glmstoid: glmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.acctgdebet),
                        addCommas(val.acctgcredit),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var cmp = $("#cmpcode").val();
        var sVar = "VAR_MEMO_JOURNAL";
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    val.acctgcode,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtdb-' + i + '" name="glamtdb-' + i + '" value="' + addCommas(val.glamtdb) + '" onchange="CountDtlAmount(' + i + ')">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtcr-' + i + '" name="glamtcr-' + i + '" value="' + addCommas(val.glamtcr) + '" onchange="CountDtlAmount(' + i + ')">',
                    '<select class = "form-control" id="groupoid-' + i + '">' + $("#division").val(),
                    '<input type="text" class="form-control" style="max-width: 150px" id="glnote-' + i + '" name="glnote-' + i + '" value="' + (val.glnote == null ? "" : val.glnote) + '">',
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.glseq - 1);
        $('#modal-coa').modal('show');

        var table = $('#tblModalCOA').DataTable();
        var cmp = $("#cmpcode").val();
        var sVar = "VAR_MEMO_JOURNAL";
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.acctgcode,
                        val.acctgdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalCOA").on('click', '#select', function () {
        var table = $('#tblModalCOA').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        var iSeq = parseInt($('#seq').val()) + 1;
        alldata.glnote = "";
        if (!IsOnDtl(alldata.acctgoid, alldata.glnote, alldata.groupoid)) {
            var obj = {
                glseq: iSeq,
                acctgoid: alldata.acctgoid,
                acctgcode: alldata.acctgcode,
                acctgdesc: alldata.acctgdesc,
                glamtdb: alldata.glamtdb,
                glamtcr: alldata.glamtcr,
                glnote: alldata.glnote,
                groupoid: alldata.groupoid,
            };

            datadtl[0] = JSON.stringify(obj);
            datadtl[3] = alldata.acctgcode;
            datadtl[4] = alldata.acctgdesc;
            datadtl[5] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtdb-' + iSeq + '" name="glamtdb-' + iSeq + '" value="' + addCommas(alldata.glamtdb) + '" onchange="CountDtlAmount(' + iSeq + ')">';
            datadtl[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtcr-' + iSeq + '" name="glamtcr-' + iSeq + '" value="' + addCommas(alldata.glamtcr) + '" onchange="CountDtlAmount(' + iSeq + ')">';
            datadtl[7] = '<input type="text" class="form-control" style="max-width: 150px" id="glnote-' + iSeq + '" name="glnote-' + iSeq + '" value="' + (alldata.glnote == null ? "" : alldata.glnote) + '">';
            datadtl[8] = '<select class = "form-control" id="groupoid-' + iSeq + '">' + $("#division").val();
        }

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        CountHdrAmount();
        $('#modal-coa').modal('hide');
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var glamtdb = removeCommas(table.$("#glamtdb-" + val).val());
            var glamtcr = removeCommas(table.$("#glamtcr-" + val).val());
            var glnote = table.$("#glnote-" + val).val();
            var groupoid = table.$("#groupoid-" + val + " option:selected").val();

            if (parseFloat(glamtdb) > 0 && parseFloat(glamtcr) > 0) {
                Swal('WARNING!!', 'Please fill DEBIT or CREDIT Side', 'warning')
                return false
            }

            if (!IsOnDtl(alldata.acctgoid, glnote, groupoid)) {
                var id = tbldtl.rows().data().length + 1;
                var obj = {
                    glseq: id,
                    acctgoid: alldata.acctgoid,
                    acctgcode: alldata.acctgcode,
                    acctgdesc: alldata.acctgdesc,
                    glamtdb: glamtdb,
                    glamtcr: glamtcr,
                    glnote: glnote,
                    groupoid: groupoid,
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    alldata.acctgcode,
                    alldata.acctgdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtdb-' + id + '" name="glamtdb-' + id + '" value="' + addCommas(glamtdb) + '" onchange="CountDtlAmount(' + id + ')">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="glamtcr-' + id + '" name="glamtcr-' + id + '" value="' + addCommas(glamtcr) + '" onchange="CountDtlAmount(' + id + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="glnote-' + id + '" name="glnote-' + id + '" value="' + (glnote == null ? "" : glnote) + '">',
                    '<select class = "form-control" id="groupoid-' + id + '">' + $("#division").val(),
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                $.each(data, function (key, val) {
                    $('#groupoid-' + id).val(groupoid).trigger("change");
                });
                CountHdrAmount();
            }
        });
        SetDataDtl();
        EnabledHeader();
    }

    function IsOnDtl(acctgoid, glnote, groupoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if ((acctgoid == alldata.acctgoid) && (glnote == alldata.glnote) && (groupoid == alldata.groupoid)) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var glamtdb = removeCommas(table.$("#glamtdb-" + alldata.glseq).val());
            var glamtcr = removeCommas(table.$("#glamtcr-" + alldata.glseq).val());
            var glnote = table.$("#glnote-" + alldata.glseq).val();
            var groupoid = table.$("#groupoid-" + alldata.glseq + " option:selected").val();

            var obj = {
                glseq: i + 1,
                acctgoid: alldata.acctgoid,
                acctgcode: alldata.acctgcode,
                acctgdesc: alldata.acctgdesc,
                glamtdb: glamtdb,
                glamtcr: glamtcr,
                glnote: glnote,
                groupoid: groupoid,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $('#totaldebit').val(removeCommas($('#totaldebit').val()));
        $('#totalcredit').val(removeCommas($('#totalcredit').val()));
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#glmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Send this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#glflag").val("In Approval");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>