﻿
@{
    ViewBag.Title = "Permintaan Barang/Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        List @ViewBag.Title
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-lefp">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5 id="txttitle">@ViewBag.DDTitle  <span class="caret"></span></h5></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-align: left;"><a href="Index?filter=1"><h5>Semua Data In Process</h5></a></li>
                                        <li style="text-align: left;"><a href="#" role="button" data-toggle="modal" data-target="#modal-custom-filter"><h5>Custom Filter</h5></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No Draft</th>
                                        <th>No. Permintaan</th>
                                        <th>Tgl Permintaan</th>
                                        <th>Tipe</th>
                                        <th>Pemohon</th>
                                        <th>Catatan</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                @*<form action="Index" method="post" class="form-horizontal">*@
                <div class="modal-body form-horizontal">
                    @Html.Hidden("filter", "CF")
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Dari</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Sampai</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                </div>
                @*</form>*@
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    var url_getListDataTable = "@Url.Action("getListDataTable")"
    var url_Form = "@Url.Action("Form")"
    var url_Form_PO = "@Url.Action("Form","POJ")"
    var url_Index = "@(Url.Action("Index"))";
    var url_Print = "@(Url.Action("PrintReport"))";
    var filtertxt = "@(Request.QueryString["filtertxt"])";
    if (filtertxt != "") $("#txttitle").html(filtertxt + '<span class="caret"></span>');
    var ddlstatus = "";//status = ''
    var filter = "@(Request.QueryString["filter"])";
    if (filter == "1") ddlstatus = "in('In Process','Revised')";
    else if (filter == "2") ddlstatus = "in('Approved','Post')";
    else if (filter == "3") ddlstatus = "in('Closed')";

    var datatable = null;
    $(document).ready(function () {
        datatable = $('#datatable').DataTable({
            responsive: true,
            "order": [[0, 'desc']]
        });
        GetDataList(ddlstatus, "", "");
    });

    $("#btnGo").click(function (e) {
        var sMsg = ""; $("#txttitle").html('Custom Filter <span class="caret"></span>');
        var periodfrom = ($('#filterperiodfrom').val() == "" ? "" : toDate($('#filterperiodfrom').val()));
        var periodto = ($('#filterperiodto').val() == "" ? "" : toDate($('#filterperiodto').val()));
        if (periodfrom != "" && periodto != "") {
            if (Date.parse(periodfrom) > Date.parse(periodto))
                sMsg = "Period 1 Tidak Boleh Lebih Kecil Dari Period 2!";

            if (sMsg != "") {
                swal('Warning', sMsg, 'warning');
                return false;
            }
        }
        if (periodfrom != "" && periodto != "") {
            GetDataList("", periodfrom, periodto);
        } else {
            GetDataList("", "", "");
        }
        $("#modal-custom-filter").modal("hide");
    });

    function GetDataList(ddlstatus, periodfrom, periodto) {
        datatable.clear().draw();
        $.ajax({
            url: url_getListDataTable,
            data: { ddlstatus: ddlstatus, periodfrom: periodfrom, periodto: periodto },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        '<a href="' + url_Form + '/' + val.prmstoid + '" class="text-primary">' + val.prmstoid + '</a>',
                        val.prno,
                        moment(val.prdate).format('DD/MM/YYYY'),
                        val.prtype,
                        val.usname,
                        val.prmstnote,
                        val.prmststatus,
                        '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(' + val.prmstoid + ')"><i class="fa fa-print"></i></button>'
                    ]);
                });
                datatable.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };
</script>
