﻿@model APIS_WB.Models.DB.QL_mstdeptgroup

@{
    ViewBag.Title = "Departemen";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Departemen
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Departemen</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.groupoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Kode<label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.groupcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.groupcode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Nama<label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.groupdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.groupdesc, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Keterangan</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.groupnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.groupnote, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.activeflag, "ACTIVE", new { @checked = "checked", @required = "" })
                                    ACTIVE
                                    @Html.RadioButtonFor(model => model.activeflag, "INACTIVE", new { @required = "" })
                                    INACTIVE
                                </div>
                            </div>
                        </div>

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h3 class="box-title">Departemen Detail</h3>
                        </div>
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Tambah</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>Kode Divisi</th>
                                            <th>Nama Divisi</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }

                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Batal</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @*<button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>*@
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Divisi</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th> 
                                    <th>No.</th>                     
                                    <th>Kode</th>
                                    <th>Nama</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary btn-md" onclick="AddToDetail()" data-dismiss="modal">Tambahkan</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalReq").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.groupdtlseq,
                    val.deptcode,
                    val.deptname,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    i,
                    val.deptcode,
                    val.deptname
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.deptoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        groupdtlseq: id,
                        deptoid: alldata.deptoid,
                        deptcode: alldata.deptcode,
                        deptname: alldata.deptname
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.deptcode,
                        alldata.deptname,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(deptoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (deptoid == alldata.deptoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                groupdtlseq: i + 1,
                deptoid: alldata.deptoid,
                deptcode: alldata.deptcode,
                deptname: alldata.deptname
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    function clickDelete() {
        var oid = $("#deptoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
</script>
