﻿@{
    ViewBag.Title = "Laporan Purchase Order Asset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "POAssetReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Periode</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("periodstart")
                                            @Html.Hidden("periodend")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("ddlstatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },
                                            new SelectListItem { Text="In Approval", Value="In Approval", Selected=true },
                                            new SelectListItem { Text="Approved", Value="Approved", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true },
                                            new SelectListItem { Text="Force Closed", Value="Force Closed", Selected=true },
                                            new SelectListItem { Text="Revised", Value="Revised", Selected=true },
                                            new SelectListItem { Text="Rejected", Value="Rejected", Selected=true },
                                            new SelectListItem { Text="Cancel", Value="Cancel", Selected=true }
                                        }, new { @class = "form-control select2", @multiple = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("filtersupp", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" onclick="GetModalData('supp')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. PO</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("filterpo", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-link" onclick="GetModalData('po')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("filtermat", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" onclick="GetModalData('mat')">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    <div class="modal fade" id="modal-filter">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-filter-title"></h4>
                    @Html.Hidden("total-data")
                    @Html.Hidden("modal-type")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFilter" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilter()" data-dismiss="modal">Add to Filter</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function GetFilterData() {
        $("#periodstart").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#periodend").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        var data = {
            ddlstatus: $('#ddlstatus').val(),
            periodstart: $('#periodstart').val(),
            periodend: $('#periodend').val(),
            filtersupp: $('#filtersupp').val(),
            filterpo: $('#filterpo').val(),
            filterrab: $('#filterrab').val(),
            filtermat: $('#filtermat').val(),
        };
        return data;
    }

    function GetModalData(modaltype) {
        var param = GetFilterData();
        $('#modal-type').val(modaltype);
        if (modaltype == "supp") $('#modal-filter-title').html('Data Supplier');
        else if (modaltype == "po") $('#modal-filter-title').html('Data Purchase Order');
        else if (modaltype == "rab") $('#modal-filter-title').html('Data RAB');
        else if (modaltype == "mat") $('#modal-filter-title').html('Data Material');
        $.ajax({
            url: "@(Url.Action("GetModalData"))",
            data: { param, modaltype },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var total = SetDataToModalTable('#tblModalFilter', data);
                $('#total-data').val(total);
                $('#modal-filter').modal('show');
            } else {
                swal('', data.result, 'error');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
        }
    });
    }

    function AddToFilter() {
        if (parseInt($('#total-data').val()) > 0) {
            var result = $("#filter" + $('#modal-type').val()).val();
            if (result != "")
                result += ";";
            var table = $('#tblModalFilter').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                if (!result.includes(data[1]))
                    result += data[1] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#filter" + $('#modal-type').val()).val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var param = GetFilterData();
        var reporttype = "View";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { param, reporttype },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#periodstart").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#periodend").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#periodstart").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#periodend").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>