﻿@model APIS_WB.Models.DB.QL_mstcusthist

@{
    ViewBag.Title = "Customer Credit Limit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Customer Credit Limit</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Header Customer Credit Limit</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.custhistoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.Hidden("action")
                        @Html.Hidden("IsApp")
                        @Html.Hidden("markup")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "New Data" ? "Data Baru" : "Update Data" )</label>
                            </div>
                            @*===== Baris ke 1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Nama Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>                                                
                                            </div>                                            
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.custoid)
                                    @Html.ValidationMessageFor(model => model.custoid, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-6">                                            
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.custhistdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode</label>
                                        <div class="col-md-8">
                                            @Html.Editor("custcode", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @maxlength = "30" } })
                                            @Html.ValidationMessage("custcode", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("custcategory", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Government", Value="Government" },
                                                new SelectListItem { Text="BUMN", Value="BUMN" },
                                                new SelectListItem { Text="swasta", Value="swasta" },
                                                new SelectListItem { Text="perorangan", Value="perorangan" }
                                            }, new { @class = "form-control", @readonly = "" })
                                            @Html.ValidationMessage("custcategory", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">TOP</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("custpaymentoid", null, new { @id = "custpaymentoid", @class = "form-control select2", @readonly = "" })
                                            @Html.ValidationMessage("custpaymentoid", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 1</label>
                                        <div class="col-md-8">
                                            @Html.Editor("custphone1", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20", @readonly = "" } })
                                            @Html.ValidationMessage("custphone1", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                                                
                            </div>                            
                            @*===== Baris ke 4 =====*@                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat</label>
                                        <div class="col-md-8">
                                            @Html.TextArea("custaddr", new { @class = "form-control", @maxlength = "200", @readonly = "" })
                                            @Html.ValidationMessage("custaddr", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email</label>
                                        <div class="col-md-8">
                                            @Html.Editor("custemail", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @readonly = "" } })
                                            @Html.ValidationMessage("custemail", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                                             
                            </div>
                            @*===== Baris ke 5 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Provinsi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("custprovinceoid", null, new { @id = "custprovinceoid", @class = "form-control select2", @readonly = "" })
                                            @Html.ValidationMessage("custprovinceoid", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kota</label>
                                        <div class="col-md-8">
                                           @Html.DropDownList("custcityoid", null, new { @class = "form-control select2", @readonly = "" })
                                        @Html.ValidationMessage("custcityoid", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        @*===== Baris ke 6 =====*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Credit Limit Lama</label>
                                    <div class="col-md-8">
                                        @Html.Editor("custcreditlimitold", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        @Html.ValidationMessage("custcreditlimitold", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Credit Limit Baru<b style="color: red"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.Editor("custcreditlimitnew", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        @Html.ValidationMessage("custcreditlimitnew", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>                                                                               
                        @*===== Baris ke 7 =====*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Catatan</label>
                                    <div class="col-md-8">
                                        @Html.TextArea("custhistnote", new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        @Html.ValidationMessage("custhistnote", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Status<b style="color: red"> *</b></label>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.custhiststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.custhiststatus } })
                                        @Html.ValidationMessageFor(model => model.custhiststatus, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>                           
                            
                        </div> <!-- /.container-fluid -->
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                if (@Model.custhiststatus == "In Process" | @Model.custhiststatus == "Revised")
                                {
                                    <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        @*<button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>*@
                                    }
                                    <button type="button" name="action" value="@(ViewBag.action)" id="btnSendApproval" class="btn btn-warning btn-md"><b>Kirim Persetujuan</b></button>
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>

   @* MODAL UNTUK CUSTOMER *@
<div class="modal fade" id="modal-cust">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Data Customer</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12" style="overflow-x: auto;">
                    <table id="tblModalCust" class="table table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>other</th>
                                <th></th>
                                <th>Kode</th>
                                <th>Nama</th>
                                <th>Alamat</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-center">
            </div>
        </div>
    </div>
</div>
@* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#custhistdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl).format('DD/MM/YYYY'));

        var tblModalCust = $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custcode").val(alldata.custcode);
            $("#custoid").val(alldata.custoid);
            $("#custaddr").val(alldata.custaddr);
            $("#custcreditlimitold").val(alldata.custcreditlimit);
            $("#custphone1").val(alldata.custphone1);
            $("#custemail").val(alldata.custemail);
            $("#custpaymentoid").val(alldata.custpaymentoid).trigger('change');
            $("#custprovinceoid").val(alldata.custprovinceoid).trigger('change');
            $("#custcityoid").val(alldata.custcityoid).trigger('change');
            $('#modal-cust').modal('hide');
        });
    })
   //END DOC READY
    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custcode,
                    val.custname,
                    val.custaddr
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });   

    $("#btnDelete").click(function () {
        var oid = $("#custoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

    $("#btnSendApproval").click(function () {
        $("#custhiststatus").val("In Approval");

        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Approval?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

</script>