﻿@model IEnumerable<APIS_WB.Controllers.Master.CustomerCreditLimitController.custmst>

@{
    ViewBag.Title = "Customer Credit Limit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Customer Credit Limit</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br />                        
                    </div>
                    <div class="box-footer clearfix no-border" style="display:none">                        
                        <a href="Index" class="btn bg-red btn-md btn-flat-margin"><b>Download Ke PDF</b></a>                        
                    </div>              

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>No. Draft</th>
                                        <th>Tanggal</th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Note</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.custhistoid)" class="text-primary">@Html.DisplayFor(m => i.custhistoid)</a>
                                                </td>
                                                <td>@i.custhistdate.ToString("dd/MM/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.custcode)</td>
                                                <td>@Html.DisplayFor(m => i.custname)</td>
                                                <td>@Html.DisplayFor(m => i.custhistnote)</td>
                                                <td>@Html.DisplayFor(m => i.custhiststatus)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>