﻿@{
    ViewBag.Title = "Open Transaksi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("startdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("enddate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Transaksi</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("reftype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="MEMO JURNAL", Value="MJ" },
                                                new SelectListItem { Text="PENERIMAAN KAS/BANK", Value="KBM" },
                                                new SelectListItem { Text="PENGELUARAN KAS/BANK", Value="KBK" },
                                                new SelectListItem { Text="OVERBOOKING", Value="KBT" },
                                                new SelectListItem { Text="GIRO MASUK", Value="GM" },
                                                new SelectListItem { Text="GIRO KELUAR", Value="GK" },
                                                new SelectListItem { Text="REALISASI BUDGET", Value="RB" },
                                                new SelectListItem { Text="REALISASI MULTI RAB", Value="RM" },
                                                new SelectListItem { Text="PELUNASAN PIUTANG", Value="PAR" },
                                                new SelectListItem { Text="PELUNASAN HUTANG", Value="PAP" },
                                                new SelectListItem { Text="PELUNASAN DP", Value="PDP" },
                                                new SelectListItem { Text="PIUTANG KARYAWAN", Value="PK" },
                                                new SelectListItem { Text="UANG MUKA PENJUALAN", Value="DPAR" },
                                                new SelectListItem { Text="UANG MUKA PEMBELIAN", Value="DPAP" },
                                                new SelectListItem { Text="DP REFUND", Value="DPR" },
                                                new SelectListItem { Text="DEBET NOTE", Value="DN" },
                                                new SelectListItem { Text="CREDIT NOTE", Value="CN" },
                                                new SelectListItem { Text="KASBON", Value="KBN" },
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <button type="button" id="btngetdata" class="btn btn-primary">
                                            <i class="fa fa-plus"></i>
                                            Tampilkan Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL                    
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="pull-left">
                        @{
                            <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Open</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                        }
                    </div>
                            }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            //"bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'seq', name: 'seq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'refno', name: 'refno', title: 'Nomor' },
                { data: 'refdate', name: 'refdate', title: 'Tanggal', render: function (data, type, row) { return type != 'display' ? data : '<span class="">' + moment(data).format('DD/MM/YYYY') + '</span>'; } },
                { data: 'refsuppcust', name: 'refsuppcust', title: 'Supplier/Customer' },
                { data: 'amt', name: 'amt', title: 'Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'refnote', name: 'refnote', title: 'Keterangan' },
            ],
            "select": {
                "style": 'multi'
            },
            "order": [],
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .select2').select2();
        });

    })
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function GetFilterData() {
        var data = {
            startdate: $('#startdate').val(),
            enddate: $('#enddate').val(),
            reftype: $('#reftype').val(),
        };
        return data;
    }

    var url_GetDataDetail = "@(Url.Action("GetDataDetail"))"
    $("#btngetdata").click(function () {
        var param = GetFilterData();
        tbl_dtl.column(0).checkboxes.deselect();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_GetDataDetail,
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var action = "Edit";
        var rowsel = tbl_dtl.column(0).checkboxes.selected();
        var tbl = [];
        if (rowsel != null) {
            if (rowsel.length > 0) {
                Swal({
                    title: 'Are you sure to OPEN this data?',
                    text: "",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes, OPEN this data!'
                }).then((result) => {
                    if (result.value) {
                        $.each(rowsel, function (key, val) {
                            var obj = tbl_dtl.row(val - 1).data();
                            tbl.push(obj);
                        });
                        $.ajax({
                            type: "POST",
                            url: url_Index,
                            data: { __RequestVerificationToken: token, tbl: tbl, action: action },
                            success: function (data) {
                                if (data.result == 'success') {
                                    Swal('Data has been Opened!', data.msg, 'success').then((result) => {
                                        if (result.value) {
                                            location.replace("@(Url.Action("Index"))");
                                        }
                                    });
                                } else {
                                    Swal('Save data failed!', data.msg, 'error');
                                }
                            },
                            error: function (err) {
                                swal('', err.responseText, 'error');
                            }
                        });
                    }
                })
            }
            else {
                Swal({
                    title: 'WARNING!',
                    text: 'Silahkan Checked yg mau diopen!',
                    type: 'warning'
                });
                return false;
            }
        } else {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Checked yg mau diopen!',
                type: 'warning'
            });
            return false;
        }
    });
</script>
