﻿@{
    ViewBag.Title = "Update Transaksi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("startdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("enddate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Action</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("refaction", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="UPDATE TGL DOKUMEN", Value="UTD" },
                                                new SelectListItem { Text="UPDATE SALES, CREATOR, TOP & Note DI SO", Value="SALES" },
                                                new SelectListItem { Text="UPDATE FLAG PEMBELIAN RAB", Value="RAB" },
                                                new SelectListItem { Text="UPDATE FLAG PEMBELIAN JASA RAB", Value="RABJASA" },
                                            }, new { @class = "form-control select2", @onchange = "changeDDL()" })
                                        </div>
                                    </div>
                                </div>    
                                <div class="col-sm-6" id="divtype">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Transaksi</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("reftype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="PENERIMAAN BARANG", Value="MR" },
                                                new SelectListItem { Text="PENERIMAAN JASA", Value="MRJ" },
                                                new SelectListItem { Text="PENERIMAAN ASET", Value="MRA" },
                                                new SelectListItem { Text="FAKTUR BELI", Value="FB" },
                                                new SelectListItem { Text="FAKTUR BELI JASA", Value="FB" },
                                                new SelectListItem { Text="FAKTUR BELI ASET", Value="FBA" },
                                                new SelectListItem { Text="SURAT JALAN", Value="SJ" },
                                                new SelectListItem { Text="FAKTUR JUAL", Value="FJ" },
                                                new SelectListItem { Text="TRANSFORM", Value="TRF" },
                                                new SelectListItem { Text="PEMAKAIAN BARANG", Value="PMB" },
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <button type="button" id="btngetdata" class="btn btn-primary">
                                            <i class="fa fa-plus"></i>
                                            Tampilkan Data
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL                    
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="pull-left">
                        @{
                            <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Update</b></button>
                            <a href="@Url.Action("Update")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                        }
                    </div>
                            }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            //"bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'seq', name: 'seq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'refno', name: 'refno', title: 'Nomor' },
                { data: 'refdate', name: 'refdate', title: 'Tanggal', render: function (data, type, row) { return type != 'display' ? data : (row.refaction == "UTD" ? generateinput(data, 'refdate', ' datepicker', ' onchange="date_change(this)"', "width:90px;") : '<span class="">' + moment(data).format('DD/MM/YYYY') + '</span>'); } },
                { data: 'rabdtl2flagrevisi', name: 'rabdtl2flagrevisi', title: 'Flag Revisi', render: function (data, type, row, cell) { return type != 'display' ? data : generateselect(data, 'rabdtl2flagrevisi', row.dt_flag, 'onchange="change_dtl(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px') } },
                { data: 'poitemno', name: 'poitemno', title: 'No PO' },
                { data: 'refsuppcust', name: 'refsuppcust', title: 'Supplier/Customer' },
                { data: 'itemcode', name: 'itemcode', title: 'Kode' },
                { data: 'itemdesc', name: 'itemdesc', title: 'Nama Barang' },
                { data: 'amt', name: 'amt', title: 'Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'paytermoid', name: 'paytermoid', title: 'TOP', render: function (data, type, row, cell) { return type != 'display' ? data : generateselect(data, 'paytermoid', row.dt_payterm, 'onchange="change_dtl(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px') } },
                { data: 'salesoid', name: 'salesoid', title: 'Sales', render: function (data, type, row, cell) { return type != 'display' ? data : generateselect(data, 'salesoid', row.dt_salesoid, 'onchange="change_dtl(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px') } },
                { data: 'salesadminoid', name: 'salesadminoid', title: 'Sales Admin', render: function (data, type, row, cell) { return type != 'display' ? data : generateselect(data, 'salesadminoid', row.dt_salesadminoid, 'onchange="change_dtl(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px') } },
                { data: 'creatoroid', name: 'creatoroid', title: 'Creator', render: function (data, type, row, cell) { return type != 'display' ? data : generateselect(data, 'creatoroid', row.dt_creatoroid, 'onchange="change_dtl(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px') } },
                { data: 'refnote', name: 'refnote', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : (row.refaction == "SALES" ? generatetextarea(data, 'refnote', '', 'maxlength="100"') : '<span class="">' + data + '</span>'); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": [],
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2();
        });
    })
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + (obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;" ' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function changeDDL() {
        var tipe = $('#refaction option:selected').val();
        $('#divtype').show();
        if (tipe != "UTD") {
            $('#divtype').hide();
        }
        tbl_dtl.clear().draw();
        hideshow();
    }

    function hideshow() {
        var tipe = $('#refaction option:selected').val();
        tbl_dtl.column('rabdtl2flagrevisi:name').visible(false);
        tbl_dtl.column('poitemno:name').visible(false);
        tbl_dtl.column('itemcode:name').visible(false);
        tbl_dtl.column('itemdesc:name').visible(false);
        tbl_dtl.column('paytermoid:name').visible(false);
        tbl_dtl.column('salesoid:name').visible(false);
        tbl_dtl.column('salesadminoid:name').visible(false);
        tbl_dtl.column('creatoroid:name').visible(false);
        if (tipe == "SALES") {
            tbl_dtl.column('paytermoid:name').visible(true);
            tbl_dtl.column('salesoid:name').visible(true);
            tbl_dtl.column('salesadminoid:name').visible(true);
            tbl_dtl.column('creatoroid:name').visible(true);
        }
        else if (tipe == "RAB" || tipe == "RABJASA") {
            tbl_dtl.column('rabdtl2flagrevisi:name').visible(true);
            tbl_dtl.column('poitemno:name').visible(true);
            tbl_dtl.column('itemcode:name').visible(true);
            tbl_dtl.column('itemdesc:name').visible(true);
        }
    }

    function GetFilterData() {
        var data = {
            startdate: $('#startdate').val(),
            enddate: $('#enddate').val(),
            refaction: $('#refaction').val(),
            reftype: $('#reftype').val(),
        };
        return data;
    }

    function date_change($this) {
        var tblname = $($this).closest('table').attr('id');
        setData($this, $('#' + tblname).DataTable());
    };

    function change_dtl($this) {
        setData($this, $($this).closest('table').DataTable());
    };

    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2();
        $td.find('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    };

    var url_GetDataDetail = "@(Url.Action("GetDataDetailUpdate"))"
    $("#btngetdata").click(function () {
        var param = GetFilterData();
        tbl_dtl.column(0).checkboxes.deselect();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_GetDataDetail,
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    for (var i = 0 ; i < data.tbl.length; i++) {
                        if (data.tbl[i].refaction == "UTD") {
                            data.tbl[i].refdate = moment(data.tbl[i].refdate).format("DD/MM/YYYY");
                        }
                    }
                    tbl_dtl.rows.add(data.tbl).draw();
                    hideshow();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    var url_Index = "@(Url.Action("Update"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var action = "Edit";
        var rowsel = tbl_dtl.column(0).checkboxes.selected();
        var tbl = [];
        var param = GetFilterData();
        if (rowsel != null) {
            if (rowsel.length > 0) {
                Swal({
                    title: 'Are you sure to UPDATE this data?',
                    text: "",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes, UPDATE this data!'
                }).then((result) => {
                    if (result.value) {
                        $.each(rowsel, function (key, val) {
                            var obj = tbl_dtl.row(val - 1).data();
                            if (obj.refaction == "UTD") {
                                obj.refdate = toDate(obj.refdate);
                            }
                            tbl.push(obj);
                        });
                        $.ajax({
                            type: "POST",
                            url: url_Index,
                            data: { __RequestVerificationToken: token, tbl: tbl, param: param, action: action },
                            success: function (data) {
                                if (data.result == 'success') {
                                    Swal('Data has been Updated!', data.msg, 'success').then((result) => {
                                        if (result.value) {
                                            location.replace("@(Url.Action("Update"))");
                                        }
                                    });
                                } else {
                                    Swal('Save data failed!', data.msg, 'error');
                                }
                            },
                            error: function (err) {
                                swal('', err.responseText, 'error');
                            }
                        });
                    }
                })
            }
            else {
                Swal({
                    title: 'WARNING!',
                    text: 'Silahkan Checked yg mau diupdate!',
                    type: 'warning'
                });
                return false;
            }
        } else {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Checked yg mau diupdate!',
                type: 'warning'
            });
            return false;
        }
    });
</script>
