﻿@model APIS_WB.Models.DB.QL_trntransitemmst

@{
    ViewBag.Title = "Pindah Gudang (Reset RAB)";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Pindah Gudang (Reset RAB)</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Header Pindah Gudang (Reset RAB)</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.transitemmstoid)
                        @Html.HiddenFor(model => model.transitemdate)
                        @Html.HiddenFor(model => model.transdocdate)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.Hidden("uid")
                        @Html.Hidden("action")
                        @Html.Hidden("IsApp")
                        @Html.Hidden("markup")
                        @Html.Hidden("markupto")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "Data Baru" : "Edit" )</label>
                            </div>
                            @*===== Baris ke 1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.transitemmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.transitemmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Transfer</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.transitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.transitemno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Transaksi</label>
                                        <div class="col-md-6">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Dokumen<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.transdocdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2.1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Transaksi</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.transitemmstres1, new List<SelectListItem>
                                            {
                                              //new SelectListItem { Text="Pindah Gudang", Value="" }
                                              new SelectListItem { Text="Reset RAB", Value="Reset" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No.Ref Doc</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.transitemdocrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.transitemdocrefno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.transitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly", @Value = Model.transitemmststatus } })
                                            @Html.ValidationMessageFor(model => model.transitemmststatus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div><!-- /.container-fluid -->

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h3 class="box-title">Detail Pindah Gudang (Reset RAB)</h3>
                        </div>
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Dari Gudang</label>
                                            <div class="col-md-6">
                                                @Html.DropDownList("transitemfromwhoid", null, new { @class = "form-control select2", @onchange = "FillDDLWHTo()" })
                                                @Html.ValidationMessage("transitemfromwhoid", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Ke Gudang</label>
                                            <div class="col-md-6">
                                                @Html.DropDownList("transitemtowhoid", null, new { @class = "form-control select2" })
                                                @Html.ValidationMessage("transitemtowhoid", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button type="button" id="btntambah" class="btn btn-primary" data-toggle="modal" data-target="#modal-item">
                                        <i class="fa fa-plus"></i>
                                        Tambah
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>Kode</th>
                                            <th width="500px">Deskripsi</th>
                                            <th width="100px">PID</th>
                                            <th width="100px">Serial<br/>Number</th>
                                            <th>Project</th>
                                            <th>Dari Gudang</th>
                                            <th>Ke Gudang</th>
                                            <th>Qty<br />Stok</th>
                                            <th>Qty<br />Transfer</th>
                                            <th>Satuan</th>
                                            <th>Catatan</th>
                                            <th>Opsi</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@
                    </div>
                    <!-- /.box-body -->

                    <div class="box-body">
                        @*===== Baris ke 4 =====*@
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Catatan</label>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.transitemmstnote, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        @Html.ValidationMessageFor(model => model.transitemmstnote, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                if (@Model.transitemmststatus == "In Process" | @Model.transitemmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                    }
                                }
                            }                            
                        </div>
                    </div>
                    <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>    

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <span>Filter Item : </span> @Html.Editor("filteritem", new { @class = "form-control", @type = "text" })
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            <span>Filter PID -: </span>
                            @Html.Editor("pidstart", new { @class = "form-control", @type = "text" })
                            @Html.Editor("pidend", new { @class = "form-control", @type = "text" })
                            <button type="button" class="btn btn-warning" onclick="cariItem()"> Cari Data</button>
                            <button type="button" class="btn btn-success" onclick="semuaItem()"> Semua Data</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>  
                                    <th>PID</th>
                                    <th>Serial<br />Number</th>
                                    <th>Project</th>                                  
                                    <th>Unit</th>
                                    <th>Stok</th>
                                    <th>Dari Gudang</th>
                                    <th>Ke Gudang</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": true,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 6, 7, 8, 12],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl($('#uid').val()); FillDetailData($('#uid').val());
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#transitemdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#transdocdate").val();
        } else {
            tgl3 = $("#createtime").val();
        }
        tglIndo(tgl3, '.datepicker2');

        FillDetailData($('#uid').val());
        FillDDLWH();
    })

    function FillDetailData(uid) {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.transitemdtlseq,
                        val.itemcode,
                        val.itemdesc,
                        val.refno,
                        val.serialnumber,
                        val.projectname,
                        val.mtrwhdesc,
                        val.mtrwhtodesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 50px" id="qtystok-' + val.transitemdtlseq + '" name="qtystok-' + val.transitemdtlseq + '" value="' + addCommas(val.qtystok) + '" readonly="">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 50px" id="transitemqty-' + val.transitemdtlseq + '" name="transitemqty-' + val.transitemdtlseq + '" value = "' + addCommas(val.transitemqty) + '" >',
                        val.transitemunit,
                        '<input type="text" class="form-control" id="transitemmstnote-' + val.transitemdtlseq + '" name="transitemmstnote-' + val.transitemdtlseq + '" value="' + val.transitemdtlnote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                }, 100);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#transitemfromwhoid").attr("readonly", bVal);
        $("#transitemtowhoid").attr("readonly", bVal);
    }

    function FillDDLGudangFrom() {
        var markup = "";
        var url = "@(Url.Action("InitDDLGudangFrom"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
    }

    function FillStockWH(id, itemoid, refno, mtrwhoid) {
        var markup = "";
        var url = "@(Url.Action("InitStockWH"))";
        var whfrom = mtrwhoid;
        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom, itemoid: itemoid, refno: refno },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                       $("#qtystok-"+ id +"").val(val.stokakhir);
                    });
                }
            }
        });
    }

    function FillDDLGudangTo(id, itemoid, refno) {
        var markup = "";
        var url = "@(Url.Action("InitDDLGudangTo"))";
        var whfrom = $("#transitemfromwhoid-" + id + "").val();
        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markupto").val(markup);
                    $("#transitemtowhoid-" + id + "").html($("#markupto").val());
                    FillStockWH(id, itemoid, '');
                }
            }
        });
    }

    function FillDDLWH() {
        var fromwhoid = $("#transitemfromwhoid");
        var fromwhoid_sel = $("#transitemfromwhoid option:selected").val();
        fromwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWH"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.gnoid == fromwhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    fromwhoid.html(markup).show();
                    if (isExist == true) {
                        fromwhoid.val(fromwhoid_sel);
                    }
                    fromwhoid.trigger('change');
                } else {
                    fromwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDDLWHTo() {
        var fromwhoid = $("#transitemfromwhoid option:selected").val();
        var towhoid = $("#transitemtowhoid");
        var towhoid_sel = $("#transitemtowhoid option:selected").val();
        towhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWHTo"))",
            data: { fromwhoid: fromwhoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.gnoid == towhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    towhoid.html(markup).show();
                    if (isExist == true) {
                        towhoid.val(towhoid_sel);
                    }
                    towhoid.trigger('change');
                } else {
                    towhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function cariItem() {
        bindMaterial();
    }

    function semuaItem() {
        $("#filteritem").val("");
        $("#pidstart").val("");
        $("#pidend").val("");
        bindMaterial();
    }

    //Pop Up Data Detail
    $("#btntambah").click(function () {
        bindMaterial();
    });

    function bindMaterial(){
        var table = $('#tblModalDtl').DataTable();
        var mtrwhoid = $('#transitemfromwhoid option:selected').val();
        var mtrwhtooid = $('#transitemtowhoid option:selected').val();
        var filteritem = $('#filteritem').val();
        var pidstart = $('#pidstart').val();
        var pidend = $('#pidend').val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            data: { whoid: mtrwhoid, whtooid: mtrwhtooid, filteritem: filteritem, pidstart: pidstart, pidend: pidend },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        i,
                        val.itemcode,
                        val.itemdesc,
                        val.refno,
                        val.serialnumber,
                        val.projectname,
                        val.itemunit,
                        val.qtystok,
                        val.mtrwhdesc,
                        val.mtrwhtodesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.itemoid, alldata.refno)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        transitemdtlseq: id,
                        transitemdtlres1: alldata.itemtype,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemdesc: alldata.itemdesc,
                        refno: alldata.refno,
                        serialnumber: alldata.serialnumber,
                        rabmstoid: alldata.rabmstoid,
                        projectname: alldata.projectname,
                        transitemunitoid: alldata.itemunitoid,
                        transitemunit: alldata.itemunit,
                        qtystok: alldata.qtystok,
                        transitemfromwhoid: alldata.transitemfromwhoid,
                        mtrwhdesc: alldata.mtrwhdesc,
                        transitemtowhoid: alldata.transitemtowhoid,
                        mtrwhtodesc: alldata.mtrwhtodesc
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.itemcode,
                        alldata.itemdesc,
                        alldata.refno,
                        alldata.serialnumber,
                        alldata.projectname,
                        alldata.mtrwhdesc,
                        alldata.mtrwhtodesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 50px" id="qtystok-' + id + '" name="qtystok-' + id + '" readonly="" value = "'+ addCommas(alldata.qtystok) +'">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 50px" id="transitemqty-' + id + '" name="transitemqty-' + id + '" value = "' + addCommas(alldata.qtystok) + '" >',
                        alldata.itemunit,
                        '<input type="text" class="form-control" id="transitemmstnote-' + id + '" name="transitemmstnote-' + id + '" >',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    EnabledHeader();
                }
            }
        })
        SetDataDtl($('#uid').val());
    }

    function IsOnDtl(itemoid, refno) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid && refno == alldata.refno) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]); 
            var transitemqty = removeCommas(table.$("#transitemqty-" + alldata.transitemdtlseq).val());
            var transitemnote = table.$("#transitemmstnote-" + alldata.transitemdtlseq).val();
                var obj = {
                transitemdtlseq: i + 1,
                transitemfromwhoid: alldata.transitemfromwhoid,
                mtrwhdesc: alldata.mtrwhdesc,
                transitemtowhoid: alldata.transitemtowhoid,
                mtrwhtodesc: alldata.mtrwhtodesc,
                transitemdtlres1: alldata.transitemdtlres1,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                refno: alldata.refno,
                serialnumber: alldata.serialnumber,
                rabmstoid: alldata.rabmstoid,
                projectname: alldata.projectname,
                qtystok: alldata.qtystok,
                transitemqty: transitemqty,
                qtystok: alldata.qtystok,
                transitemunit: alldata.transitemunit,
                transitemunitoid: alldata.transitemunitoid,
                transitemdtlnote: transitemnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        SetDataDtl($('#uid').val());
    });

    $("#btnPost").click(function () {
        $("#transitemmststatus").val('Post');
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#transitemmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

</script>