﻿@{
    ViewBag.Title = "Search Iten Specification";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Search Iten Specification
    </h1>
</section>

<section class="content">
    <!-- LIST TABLE NOTIFIKASI ITEM SPEC -->
    <div class="row" id="divItemSpec">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Search Item Specification</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="dtListNotifItemSpec" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>
    <!-- END LIST TABLE NOTIFIKASI ITEM SPEC -->
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        GetDataListItemSpec();
    });

    function GetDataListItemSpec() {
        $("#divItemSpec").hide();
        $.ajax({
            url: "@(Url.Action("GetDataListItemSpec"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var cols = [];
                var rows = [];

                if (data.msg == "") {
                    var hidecols = [0];
                    $.each(data.colname, function (key, val) {
                        var obj = {
                            title: val
                        }
                        cols.push(obj);
                    });

                    $.each(data.rows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                    });

                    $('#dtListNotifItemSpec').dataTable({
                        "columns": cols,
                        "data": rows,
                        "columnDefs": [
                            { "targets": hidecols, "visible": false, "searchable": false }
                        ]
                    });

                    $("#divItemSpec").show();
                }
                else
                {
                    swal('', data.msg, 'info');
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }
</script>