﻿@model APIS_WB.Models.DB.QL_trndpar

@{
    ViewBag.Title = "DP Penjualan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form DP Penjualan</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.soreftype)
                        @Html.HiddenFor(model => model.dparaccumamt)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @{
                            @Html.EditorFor(model => model.dpardate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.dpardate } })
                            @Html.EditorFor(model => model.dparduedate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.dparduedate } })
                            @Html.EditorFor(model => model.dpartakegiro, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.dpartakegiro } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>   
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dparoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dparno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.dpardate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("sono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.somstoid)
                                            @Html.HiddenFor(model => model.soreftype)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">SO Amount</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("sograndtotalamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @{
                                if (@Model.dparoid > 0 && @Model.dparaccumamt == 0 && @Model.dparstatus == "Post")
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"></label>
                                                <div class="col-md-8">
                                                    <button type="button" id="btnRevSO" class="btn btn-success btn-md"><b>Revisi SO</b></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Project</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Departemen</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("departemen", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.dparpaytype, new List<SelectListItem>
                                            {
                                                //new SelectListItem { Text="NONE", Value="" },
                                                new SelectListItem { Text="CASH", Value="BKM" },
                                                new SelectListItem { Text="TRANSFER", Value="BBM" },
                                                new SelectListItem { Text="GIRO/CHEQUE", Value="BGM" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cash/Bank No.</label>
                                        <div class="col-md-8">
                                            @Html.Editor("cashbankno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.cashbankoid)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.dparpayacctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.dparpayacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref. No. <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.dparpayrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="col_duedate">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglduedate", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.dparduedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_datetakegiro">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date Take Giro <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tgltakegiro", new { htmlAttributes = new { @class = "form-control datepicker3", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.dpartakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP Amount</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.dparamt, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 1</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid1, null, new { @class = "form-control select2"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 1</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.addacctgamt1, new { htmlAttributes = new { @class = "form-control allownumericwithNegative", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 2</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid2, null, new { @class = "form-control select2"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 2</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.addacctgamt2, new { htmlAttributes = new { @class = "form-control allownumericwithNegative", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 3</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid3, null, new { @class = "form-control select2"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 3</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.addacctgamt3, new { htmlAttributes = new { @class = "form-control allownumericwithNegative", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Cash/Bank</label>
                                        <div class="col-md-6">
                                            @Html.Editor("cashbankamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            @Html.ValidationMessage("cashbankamt", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dparnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dparstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly="", @Value = Model.dparstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                            <h6><b>VAR_CASH | VAR_BANK | VAR_DP_AR | VAR_ADD_COST</b></h6>
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.dparstatus == "In Process" | @Model.dparstatus == "Revised")
                            {
                                <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                                <button type="button" name="action" value="@(ViewBag.action)" id="btnSendForApproval" class="btn btn-warning btn-md"><b>Terbitkan</b></button>
                            }
                            else
                            {
                                if (Model.dparstatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                                if (@Model.dparoid > 0 && @Model.dparaccumamt == 0 && @Model.dparstatus == "Post")
                                {
                                    <button type="button" id="btnReturDP" class="btn btn-danger btn-md"><b>Pembatalan DP</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK Customer *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Customer *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" },
                                            new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@

    @* MODAL UNTUK SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data SO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. SO</th>
                                    <th>Tanggal</th>
                                    <th>Project</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            ReAmountDP();
            ClearSO();
            $('#modal-cust').modal('hide');
        });

        var tblModalSO = $("#tblModalSO").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#sono").val(alldata.sono);
            $("#soreftype").val(alldata.soreftype);
            $("#somstoid").val(alldata.somstoid);
            $("#sograndtotalamt").val(addCommas(alldata.sograndtotalamt));
            $("#projectname").val(alldata.projectname);
            $("#departemen").val(alldata.departemen);
            $("#curroid").val(alldata.curroid);
            $('#modal-so').modal('hide');
        });
        $("#curroid").attr('readonly', true);

        $("#cmpcode").change(function () {
            CashBankType();
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#dparpaytype").change(function () {
            CashBankType();
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#dpardate").change(function () {
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#dparpayacctgoid").change(function () {
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
            if ($("#dparpayacctgoid").val() != 0) {
                SetCOACurrency();
            }
        });

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        })

        $("#dparamt").change(function () {
            ReAmountDP();
        })

        $("#addacctgamt1").change(function () {
            ReAmountDP();
        })

        $("#addacctgamt2").change(function () {
            ReAmountDP();
        })

        $("#addacctgamt3").change(function () {
            ReAmountDP();
        })

        CashBankType();
        EnabledHeader();
        InitDDLPayAcctg("VAR_DP_AR");
        $("#addacctgoid1 option:first").val();
        $("#addacctgoid2 option:first").val();
        $("#addacctgoid3 option:first").val();
        InitDDLAddCost1("VAR_ADD_COST");
        InitDDLAddCost2("VAR_ADD_COST");
        InitDDLAddCost3("VAR_ADD_COST");

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#dpardate").val();
        } else {
            tgl = $("#dpardate").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#dparduedate").val();
        } else {
            tgl3 = $("#dparduedate").val();
        }
        tglIndo(tgl3, '.datepicker2');
        var tgl4 = "";
        if ($('#action').val() == "Edit") {
            tgl4 = $("#dpartakegiro").val();
        } else {
            tgl4 = $("#dpartakegiro").val();
        }
        tglIndo(tgl4, '.datepicker3');

        $("#sograndtotalamt").val(addCommas($("#sograndtotalamt").val()));
        $("#dparamt").val(addCommas($("#dparamt").val()));
        $("#cashbankamt").val(addCommas($("#cashbankamt").val()));
        $("#addacctgamt1").val(addCommas($("#addacctgamt1").val()));
        $("#addacctgamt2").val(addCommas($("#addacctgamt2").val()));
        $("#addacctgamt3").val(addCommas($("#addacctgamt3").val()));
    })

    function CashBankType() {
        var sVar = "VAR_CASH";
        $("#curroid").attr("readonly", true);
        $("#acctgoid").attr("readonly", false);
        $("#dparpayrefno").attr("readonly", false);
        $("#col_duedate").hide();
        $("#col_datetakegiro").hide();
        if ($("#dparpaytype option:selected").val() == "BBM") {
            sVar = "VAR_BANK";
            $("#col_duedate").show();
        } else if ($("#dparpaytype option:selected").val() == "BGM") {
            sVar = "VAR_BANK";
            $("#col_duedate").show();
            $("#col_datetakegiro").show();
            if ($("#action").val() == "Create") {
                //$("#dpartakegiro").val("");
            }
        }
        else if  ($("#dparpaytype option:selected").val() == "") {
            sVar = "NONE";
        }

        InitDDLAcctg(sVar);
    }

    function SetCOACurrency() {
        var acctgoid = $("#dparpayacctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("SetCOACurrency"))",
            data: { acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data != 0) {
                    $("#curroid").val(data).trigger("change");
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GenerateExpenseNo() {
        @*var cashbankdate = $("#tglmst").val();
        var dparpaytype = $("#dparpaytype option:selected").val();
        var acctgoid = $("#dparpayacctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateExpenseNo"))",
            data: { cashbankdate: cashbankdate, cashbanktype: dparpaytype, acctgoid: 0 },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#cashbankno").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })*@
    }

    function InitDDLAcctg(sVar) {
        var dparpayacctgoid = $("#dparpayacctgoid");
        var dparpayacctgoid_sel = $("#dparpayacctgoid option:selected").val();
        var sVal = true;
        dparpayacctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == dparpayacctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                dparpayacctgoid.html(markup).show();
                if (isExist == true) {
                    dparpayacctgoid.val(dparpayacctgoid_sel);
                }
                dparpayacctgoid.trigger('change');
            } else {
                dparpayacctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLPayAcctg(sVar) {
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == acctgoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    acctgoid.html(markup).show();
                    if (isExist == true) {
                        acctgoid.val(acctgoid_sel);
                    }
                    acctgoid.trigger('change');
                    if ($("#action").val() == "Create") {
                        GenerateExpenseNo();
                    }
                } else {
                    acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost1(sVar) {
        var addacctgoid1 = $("#addacctgoid1");
        var addacctgoid1_sel = $("#addacctgoid1 option:selected").val();
        var sVal = true;
        addacctgoid1.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid1_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid1.html(markup).show();
                    if (isExist == true) {
                        addacctgoid1.val(addacctgoid1_sel);
                    }
                    addacctgoid1.trigger('change');
                } else {
                    addacctgoid1.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost2(sVar) {
        var addacctgoid2 = $("#addacctgoid2");
        var addacctgoid2_sel = $("#addacctgoid2 option:selected").val();
        var sVal = true;
        addacctgoid2.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid2_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid2.html(markup).show();
                    if (isExist == true) {
                        addacctgoid2.val(addacctgoid2_sel);
                    }
                    addacctgoid2.trigger('change');
                } else {
                    addacctgoid2.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost3(sVar) {
        var addacctgoid3 = $("#addacctgoid3");
        var addacctgoid3_sel = $("#addacctgoid3 option:selected").val();
        var sVal = true;
        addacctgoid3.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid3_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid3.html(markup).show();
                    if (isExist == true) {
                        addacctgoid3.val(addacctgoid3_sel);
                    }
                    addacctgoid3.trigger('change');
                } else {
                    addacctgoid3.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var bVal = false;
        if ($("#action").val() == "Edit") {
            bVal = true;
        }
        //$("#dparpaytype").attr("readonly", bVal);
        //$("#dparpayacctgoid").attr("readonly", bVal);
    }

    function ReAmountDP() {
        var dparamt = parseFloat(removeCommas($("#dparamt").val()));
        var addacctgamt1 = parseFloat(removeCommas($("#addacctgamt1").val()));
        var addacctgamt2 = parseFloat(removeCommas($("#addacctgamt2").val()));
        var addacctgamt3 = parseFloat(removeCommas($("#addacctgamt3").val()));

        $("#cashbankamt").val(addCommas(dparamt + addacctgamt1 + addacctgamt2 + addacctgamt3));
    }

    function ClearSO() {
        $("#sono").val("");
        $("#soreftype").val("");
        $("#somstoid").val(0);
        $("#sograndtotalamt").val(0);
        $("#projectname").val("");
        $("#departemen").val("");
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var dparno = $("#dparno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trndpar " + $("#dparoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { dparno: dparno, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        val.acctgdebet,
                        val.acctgcredit,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnsearchcust").click(function () {
    var table = $('#tblModalCust').DataTable();
    table.clear().draw();
    $.ajax({
        url: "@(Url.Action("BindCustomerData"))",
        data: {},
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custcode,
                    val.custname,
                    val.custtaxable,
                    val.custaddr,
                ]);
            });
        setTimeout(function () {
            table.rows.add(rows).draw();
        }, 100);
        },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchso").click(function () {
        var custoid = $("#custoid").val();
        var dparaccumamt = $("#dparaccumamt").val();
        var somstoid = $("#somstoid").val();
        var soreftype = $("#soreftype").val();
        var dparstatus = $("#dparstatus").val();
        if (custoid == '0') {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Customer Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        if (dparaccumamt == 0 && dparstatus == "Post") {
            if (soreftype == "QL_trnsoassetmst") {
                Swal({
                    title: 'WARNING!',
                    text: 'SO Tidak Bisa Direvisi!',
                    type: 'warning'
                });
                return false;
            }
        }
        var table = $('#tblModalSO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { custoid: custoid, dparaccumamt: dparaccumamt, dparstatus: dparstatus, soreftype: soreftype, somstoid: somstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.sono,
                        moment(val.sodate).format('DD/MM/YYYY'),
                        val.projectname,
                        val.somstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function IsOnDtl(acctgoid, cashbankglnote, groupoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if ((acctgoid == alldata.acctgoid) && (cashbankglnote == alldata.cashbankglnote) && (groupoid == alldata.groupoid)) {
                return true;
            }
        }
        return false;
    }

    $("#btnDelete").click(function () {
        var oid = $("#dparoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid},
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnRevSO").click(function () {
        var oid = $("#dparoid").val();
        var somstoid = $("#somstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Revisi this data?',
            text: "Revisi data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Revisi this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("RevisiSO"))",
                    data: { __RequestVerificationToken: token, id: oid, somstoid: somstoid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Revisi!',
                            'Data has been Revised!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Revisi data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

    $("#btnReturDP").click(function () {
        var oid = $("#dparoid").val();
        var somstoid = $("#somstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Return this data?',
            text: "Return data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Return this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("ReturDP"))",
                    data: { __RequestVerificationToken: token, id: oid, somstoid: somstoid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Return!',
                            'Data has been Revised!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Return data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

    $("#btnSave").click(function () {
        $("#sograndtotalamt").val(removeCommas($("#sograndtotalamt").val()));
        $("#dparamt").val(removeCommas($("#dparamt").val()));
        $("#cashbankamt").val(removeCommas($("#cashbankamt").val()));
        $("#addacctgamt1").val(removeCommas($("#addacctgamt1").val()));
        $("#addacctgamt2").val(removeCommas($("#addacctgamt2").val()));
        $("#addacctgamt3").val(removeCommas($("#addacctgamt3").val()));
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#dparstatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>