﻿@model APIS_WB.Models.DB.QL_trnmatusagemst

@{
    ViewBag.Title = "Pemakaian Barang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Pemakaian Barang</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Pemakaian Barang Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.matusagedate)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.matusagemstres1)
                        @Html.HiddenFor(model => model.matusagemstres2)
                        @Html.HiddenFor(model => model.matusagemstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.matusagemstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Usage No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.matusageno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tgl. Transaksi</label>
                                        <div class="col-sm-6">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tgl. Dokumen</label>
                                        <div class="col-sm-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.matusagedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MR Asset No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("mrassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmr" class="btn btn-flat" data-toggle="modal" data-target="#modal-mr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.Hidden("mrassetmstoid")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA Debet <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.reasonoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.reasonoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.matusagemstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.matusagemstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Status</label>
                                        <div class="col-sm-6">
                                            @Html.EditorFor(model => model.matusagemststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.matusagemststatus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Pemakaian Barang Detail</b></h3>
                    </div>
                        <div class="box-body">
                            @Html.Hidden("seq")
                            <div class="container-fluid">
                                <div class="row" style="display:none">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Request No.</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("matreqno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchmatreq" class="btn btn-flat" data-toggle="modal" data-target="#modal-matreq">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                @Html.Hidden("matreqmstoid")
                                                @Html.Hidden("matreqdate")
                                                @Html.Hidden("matreqwhoid")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Gudang </label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("whoid", null, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Type</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("mattype", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text= "Barang", Value= "Barang" },
                                                    new SelectListItem { Text= "Rakitan", Value= "Rakitan" },
                                                    new SelectListItem { Text= "Asset", Value= "Asset" }
                                                }, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Tambah </b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th></th>
                                            <th>Tipe Barang</th>
                                            <th>Kode</th>
                                            <th>Deskripsi</th>
                                            <th>Gudang</th>
                                            <th>Stock Qty</th>
                                            <th>PID</th>
                                            <th>Serial<br/>Number</th>
                                            <th>Usage Qty</th>
                                            <th>Unit</th>
                                            <th>Project</th>
                                            <th>Detail Note</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <br>
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                if (@Model.matusagemststatus == "In Process" | @Model.matusagemststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                    }
                                }
                            }
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Detail Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Tipe Barang</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Gudang</th>
                                    <th>Stock Qty</th>
                                    <th>PID</th>
                                    <th>Serial<br />Number</th>
                                    <th>Usage Qty</th>
                                    <th>Unit</th>
                                    <th>Project</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary btn-md" onclick="AddToDetail()" data-dismiss="modal">Tambahkan</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Tipe Barang</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK MAT REQUEST *@
    <div class="modal fade" id="modal-matreq">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Mat. Request Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMatReq" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Request No.</th>
                                    <th>Request Date</th>
                                    <th>Warehouse</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MAT REQUEST *@

    @* MODAL UNTUK GANTI MAT REQUEST *@
    <div class="modal fade" id="modal-matreqedit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Mat. Request Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMatReqEdit" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Request No.</th>
                                    <th>Request Date</th>
                                    <th>Warehouse</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MAT REQUEST *@

    @* MODAL UNTUK MR ASSET *@
    <div class="modal fade" id="modal-mr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">MR Asset Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>MR Asset No.</th>
                                    <th>MR Asset Date</th>
                                    <th>Supplier</th>
                                    <th>Warehouse</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MR ASSET *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 2, 7],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalReq").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalReq = $("#tblModalReq").DataTable();
        tblModalReq.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalReq.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#personoid").val(alldata.personoid);
            $("#personname").val(alldata.personname);
            $("#personcmpcode").val(alldata.cmpcode);
            $('#modal-req').modal('hide');
        });

        $("#tblModalMatReq").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalMatReq = $("#tblModalMatReq").DataTable();
        tblModalMatReq.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalMatReq.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#matreqmstoid").val(alldata.matreqmstoid);
            $("#matreqno").val(alldata.matreqno);
            $("#matreqdate").val(alldata.matreqdate);
            $("#matreqwhoid").val(alldata.matreqwhoid);
            $('#modal-matreq').modal('hide');
        });

        $("#tblModalMR").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalMR = $("#tblModalMR").DataTable();
        tblModalMR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalMR.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#mrassetmstoid").val(alldata.mrassetmstoid);
            $("#mrassetno").val(alldata.mrassetno);
            $("#whoid").val(alldata.mrassetwhoid).trigger('change');
            $('#modal-mr').modal('hide');
        });

        //$("#qty_mix").attr("readonly", true);
        //$("#unitoid_mix").attr("readonly", true);
        //FillDDLChange();
        FillDetailData();

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#matusagedate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.matusagedtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.matusagereftype,
                    val.matusagerefcode,
                    val.matusagereflongdesc,
                    val.matusagewh,
                    addCommas(val.stockqty),
                    val.refno,
                    val.serialnumber,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="matusageqty-' + val.matusagedtlseq + '" name="matusageqty-' + val.matusagedtlseq + '" value="' + addCommas(val.matusageqty) + '">',
                    val.matusageunit,
                    val.projectname,
                    '<input type="text" class="form-control" style="max-width: 150px" id="matusagedtlnote-' + val.matusagedtlseq + '" name="matusagedtlnote-' + val.matusagedtlseq + '" value="' + (val.matusagedtlnote == null ? "" : val.matusagedtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        //if (data.length > 0) {
        //    $("#cmpcode").attr("readonly", true);
        //} else {
        //    $("#cmpcode").attr("readonly", false);
        //}
    }

    function ClearMatReq() {
        $("#matreqmstoid").val("");
        $("#matreqno").val("");
        $("#matreqwhoid").val("");
        $("#matreqdate").val("");
    }

    function FillDDLChange() {
        FillDDLDept(); FillDDLWH();
    }

    function FillDDLDept() {
        var cmpcode = $("#cmpcode option:selected").val();
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDDLWH() {
        var cmpcode = $("#cmpcode option:selected").val();
        var matusagewhoid = $("#matusagewhoid");
        var matusagewhoid_sel = $("#matusagewhoid option:selected").val();
        matusagewhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWH"))",
            data: { cmpcode: cmpcode },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.genoid + "\'>" + val.gendesc + "</option>";
                        if (val.genoid == matusagewhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    matusagewhoid.html(markup).show();
                    if (isExist == true) {
                        matusagewhoid.val(matusagewhoid_sel);
                    }
                    matusagewhoid.trigger('change');
                } else {
                    matusagewhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
        //var matreqno = $('#matreqno').val();
        //if (matreqno == "") {
        //    Swal({
        //        title: 'Please Select Request No!',
        //        type: 'warning'
        //    });
        //    return false;
        //}
        var table = $('#tblModalDtl').DataTable();
        var cmpcode = $("#cmpcode option:selected").val();
        var mattype = $('#mattype option:selected').val();
        var oid = $('#mrassetmstoid').val();
        var whoid = $('#whoid option:selected').val();
        var whdesc = $('#whoid option:selected').text();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmpcode: cmpcode, mattype: mattype, whoid: whoid, oid: oid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                console.log(data.tbl);
                $.each(data, function (key, val) {
                    val.matusagedtlseq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.matusagedtlseq,
                        mattype,
                        val.matusagerefcode,
                        val.matusagereflongdesc,
                        whdesc,
                        addCommas(val.stockqty),
                        val.refno,
                        val.serialnumber,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="matusageqty-' + i + '" name="matusageqty-' + i + '" value="' + addCommas(val.matusageqty) + '">',
                        val.matusageunit,
                        val.projectname,
                        '<input type="text" class="form-control" style="max-width: 150px" id="matusagedtlnote-' + i + '" name="matusagedtlnote-' + i + '" value="' + val.matusagedtlnote + '">'
                    ]);
                });
                table.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.matusagedtlseq - 1);
        $('#modal-matreqedit').modal('show');

        var table = $('#tblModalMat').DataTable();
        var mattype = $('#mattype option:selected').val();
        var cmpcode = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmpcode: cmpcode, mattype: mattype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        mattype,
                        val.matusagerefcode,
                        val.matusagereflongdesc,
                        val.matusageunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var mattype = $('#mattype option:selected').val();
        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);

        var obj = {
            matusagedtlseq: $('#seq').val(),
            matusagereftype: mattype,
            matusagerefoid: alldata.matusagerefoid,
            matusagerefcode: alldata.matusagerefcode,
            matusagereflongdesc: alldata.matusagereflongdesc,
            matusageqty: alldatadtl.matusageqty,
            matusageunitoid: alldata.matusageunitoid,
            matusageunit: alldata.matusageunit,
            matusagedtlnote: alldatadtl.matusagedtlnote
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = mattype;
        datadtl[4] = alldata.matusagerefcode;
        datadtl[5] = alldata.matusagereflongdesc;
        datadtl[7] = alldata.matusageunit;

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        $('#modal-mat').modal('hide');
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var mattype = $('#mattype option:selected').val();
        var oid = 0;//$('#matreqmstoid').val();
        var whoid = $('#whoid option:selected').val();
        var whdesc = $('#whoid option:selected').text();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var matusageqty = removeCommas(table.$("#matusageqty-" + val).val());
                var matusagedtlnote = table.$("#matusagedtlnote-" + val).val();
                if (!IsOnDtl(alldata.matusagerefoid, alldata.refno)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        matusagedtlseq: id,
                        matusagewhoid: whoid,
                        matusagewh: whdesc,
                        matusagereftype: mattype,
                        matusagerefoid: alldata.matusagerefoid,
                        matusagerefcode: alldata.matusagerefcode,
                        matusagereflongdesc: alldata.matusagereflongdesc,
                        matusageqty: matusageqty,
                        stockqty: alldata.stockqty,
                        refno: alldata.refno,
                        serialnumber: alldata.serialnumber,
                        matusageunitoid: alldata.matusageunitoid,
                        matusageunit: alldata.matusageunit,
                        rabmstoid: alldata.rabmstoid,
                        projectname: alldata.projectname,
                        matusagedtlnote: matusagedtlnote
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        mattype,
                        alldata.matusagerefcode,
                        alldata.matusagereflongdesc,
                        whdesc,
                        addCommas(alldata.stockqty),
                        alldata.refno,
                        alldata.serialnumber,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="matusageqty-' + id + '" name="matusageqty-' + id + '" value="' + addCommas(matusageqty) + '">',
                        alldata.matusageunit,
                        alldata.projectname,
                        '<input type="text" class="form-control" style="max-width: 150px" id="matusagedtlnote-' + id + '" name="matusagedtlnote-' + id + '" value="' + (matusagedtlnote == null ? "" : matusagedtlnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    ClearMatReq();
                    EnabledHeader();
                }
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(matusagerefoid, refno) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (matusagerefoid == alldata.matusagerefoid && refno == alldata.refno) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var matusageqty = removeCommas(table.$("#matusageqty-" + alldata.matusagedtlseq).val());
            var matusagedtlnote = table.$("#matusagedtlnote-" + alldata.matusagedtlseq).val();
            var obj = {
                matusagedtlseq: i + 1,
                matusagewhoid: alldata.matusagewhoid,
                matusagewh: alldata.matusagewh,
                matusagereftype: alldata.matusagereftype,
                matusagerefoid: alldata.matusagerefoid,
                matusagerefcode: alldata.matusagerefcode,
                matusagereflongdesc: alldata.matusagereflongdesc,
                matusageqty: matusageqty,
                stockqty: alldata.stockqty,
                refno: alldata.refno,
                serialnumber: alldata.serialnumber,
                matusageunitoid: alldata.matusageunitoid,
                matusageunit: alldata.matusageunit,
                rabmstoid: alldata.rabmstoid,
                projectname: alldata.projectname,
                matusagedtlnote: matusagedtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnsearchreq").click(function () {
        var table = $('#tblModalReq').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRequestByData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.nip,
                        val.personname,
                        val.deptname
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmix").click(function () {
        var table = $('#tblModalMix').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListMatMix"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matcode_mix,
                        val.matlongdesc_mix,
                        val.unit_mix
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmatreq").click(function () {
        var table = $('#tblModalMatReq').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var deptoid = $("#deptoid option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListMatReq"))",
            data: { cmp: cmp, deptoid: deptoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matreqno,
                        moment(jsDate(val.matreqdate)).format('MM/DD/YYYY'),
                        val.matreqwh,
                        val.matreqmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmr").click(function () {
        var table = $('#tblModalMR').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListMRAsset"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.mrassetno,
                        moment(jsDate(val.mrassetdate)).format('DD/MM/YYYY'),
                        val.suppname,
                        val.mrassetwh,
                        val.mrassetmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#matusagemstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#matusagemststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>
