﻿@model IEnumerable<APIS_WB.Controllers.Transaction.FJJasaController.listaritem>

@{
    ViewBag.Title = "Faktur Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        List Faktur Jasa
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Rekening</label>
                            <div class="col-sm-8">
                                @Html.Editor("sRekening", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Bank</label>
                            <div class="col-sm-8">
                                @Html.Editor("sBank", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Atas Nama</label>
                            <div class="col-sm-8">
                                @Html.Editor("sAtasNama", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-lefp">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5>@ViewBag.DDTitle  <span class="caret"></span></h5></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-align: left;"><a href="Index"><h5>Semua Data In Process</h5></a></li>
                                        <li style="text-align: left;"><a href="#" role="button" data-toggle="modal" data-target="#modal-custom-filter"><h5>Custom Filter</h5></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No Draft</th>
                                        <th>No. Faktur</th>
                                        <th>Tgl Faktur</th>
                                        <th>No. RAB</th>
                                        <th>No. SO</th>
                                        <th>Customer</th>
                                        <th>Grand Total</th>
                                        <th>Status</th>
                                        <th>Faktur</th>
                                        <th>SPP</th>
                                        <th>Kwitansi</th>
                                        <th>BASTB</th>
                                        <th>SKPBN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.aritemmstoid)" class="text-primary">@Html.DisplayFor(m => i.aritemmstoid)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.aritemno)</td>
                                                <td>@i.aritemdate.ToString("dd/MM/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.rabno)</td>
                                                <td>@Html.DisplayFor(m => i.soitemno)</td>
                                                <td>@Html.DisplayFor(m => i.custname)</td>
                                                <td>@Html.DisplayFor(m => i.grandtotal)</td>
                                                <td>@Html.DisplayFor(m => i.aritemmststatus)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.aritemmstoid))"><i class="fa fa-print"></i></button></td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportSPP(@Html.DisplayFor(m => i.aritemmstoid))"><i class="fa fa-print"></i></button></td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportKWT(@Html.DisplayFor(m => i.aritemmstoid))"><i class="fa fa-print"></i></button></td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportBASTB(@Html.DisplayFor(m => i.aritemmstoid))"><i class="fa fa-print"></i></button></td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportSKPBN(@Html.DisplayFor(m => i.aritemmstoid))"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                <form action="Index" method="post" class="form-horizontal">
                    <div class="modal-body">
                        @Html.Hidden("filter", "CF")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Dari</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sampai</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                    //"targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
        var period1 = $('#filterperiodfrom').val();
        var period2 = $('#filterperiodto').val();
        //$('#filterperiodfrom').val(moment(period1).format('DD/MM/YYYY'));
        //$('#filterperiodto').val(moment(period2).format('DD/MM/YYYY'));
    });

    //$("#btnGo").click(function () {
    //    var periodfrom = $('#filterperiodfrom').val();
    //    var periodto = $('#filterperiodto').val();
    //    var sMsg = "";

    //    if (periodfrom == "")
    //        sMsg = "Silahkan isi Periode Dari!";
    //    if (sMsg == "" && periodto == "")
    //        sMsg = "Silahkan isi Periode Sampai!";
    //    if (sMsg == "" && Date.parse(periodfrom) > Date.parse(periodto))
    //        sMsg = "Period Dari harus kurang dari Period Sampai!";
    //    if (sMsg == "") {
    //        var totaldays = Math.floor((new Date(Date.parse(periodto) - Date.parse((periodfrom)))) / (1000 * 60 * 60 * 24)) + 1;
    //        if (totaldays > 31)
    //            sMsg = "Total Hari dari Periode Filter harus kurang dari 31 Hari!";
    //    }

    //    if (sMsg != "") {
    //        swal('Warning', sMsg, 'warning');
    //        return false;
    //    }
    //});

    function PrintReport(id) {
        var sRekening = $("#sRekening").val();
        var sBank = $("#sBank").val();
        var sAtasNama = $("#sAtasNama").val();
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "&sRekening=" + sRekening + "&sBank=" + sBank + "&sAtasNama=" + sAtasNama + "");
    };
    function PrintReportSPP(id) {
        var sRekening = $("#sRekening").val();
        var sBank = $("#sBank").val();
        var sAtasNama = $("#sAtasNama").val();
        window.location.assign("@Url.Action("PrintReportSPP")?id=" + id + "&sRekening=" + sRekening + "&sBank=" + sBank + "&sAtasNama=" + sAtasNama + "");
    };
    function PrintReportKWT(id) {
        window.location.assign("@Url.Action("PrintReportKWT")?id=" + id + "");
    };
    function PrintReportBASTB(id) {
        window.location.assign("@Url.Action("PrintReportBASTB")?id=" + id + "");
    };
    function PrintReportSKPBN(id) {
        window.location.assign("@Url.Action("PrintReportSKPBN")?id=" + id + "");
    };
</script>
