﻿@{
    ViewBag.Title = "Laporan Retur Faktur Beli";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan Retur Faktur Beli</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "FBReturnReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },
                                            new SelectListItem { Text="Post", Value="Post", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true }
                                        }, new { @class = "form-control select2", @multiple = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Tgl Transaksi", Value = "pretm.updtime" },
                                            new SelectListItem { Text = "Tgl Dokumen", Value = "pretm.apretitemdate" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextSupp", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-link" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "No. Retur PB", Value = "pretm.apretitemno" },
                                                new SelectListItem { Text = "Draft No.", Value = "pretm.apretitemmstoid" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchretur" class="btn btn-link" data-toggle="modal" data-target="#modal-retur">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6" id="divgroup" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Group By</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLGroup", new List<SelectListItem>
                                       {
                                           new SelectListItem { Text="Gudang", Value="Gudang" },
                                           new SelectListItem { Text="Barang", Value="Barang" }
                                       }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6" id="divsort" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sorting</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                       {
                                           new SelectListItem { Text="No. Retur", Value="pretm.apretitemno" }
                                       }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="ASC", Value="ASC" },
                                            new SelectListItem { Text="DESC", Value="DESC" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK Supplier *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Supplier Data</h4>
                    @Html.Hidden("total-supp")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSupp()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK Supplier *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-retur">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                    @Html.Hidden("total-retur")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRetur" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterRetur()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#divsort').hide();
    })

    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var markupsort = "<option value=\'pretm.apretitemno\'>No. Retur</option></option>";
        if (type == "Summary")
        {
            $('#divgroup').hide();
            $('#divfordtl').hide();
            $('#divsort').hide();
        }
        else
        {
            $('#divgroup').hide();
            $('#divsort').hide();
            $('#divfordtl').show();
            markupsort = "<option value=\'pretm.apretitemno\'>No. Retur</option><option value=\'m.itemdesc\'>Barang</option>";
        }
        $("#DDLSorting").html(markupsort).show();
    }

    $("#btnsearchsupp").click(function () {
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { status: status, startdate: startdate, enddate: enddate, fdate: fdate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalSupp").DataTable();
                table.destroy();
                $("#tblModalSupp").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-supp').val(total);
                if (total > 0) {
                    table = $("#tblModalSupp").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-supp').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-supp').modal('hide');
        }
    });
    });

    $("#btnsearchretur").click(function () {
        var status = $("#DDLStatus").val();
        var suppcode = $("#TextSupp").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        $.ajax({
            url: "@(Url.Action("GetReturData"))",
            data: { status: status, suppcode: suppcode, startdate: startdate, enddate: enddate, fdate: fdate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalRetur").DataTable();
                table.destroy();
                $("#tblModalRetur").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-retur').val(total);
                if (total > 0) {
                    table = $("#tblModalRetur").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-retur').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-retur').modal('hide');
        }
    });
    });

    $("#btnsearchmat").click(function () {
        var status = $("#DDLStatus").val();
        var suppcode = $("#TextSupp").val();
        var ddlnomor = $("#DDLNomor option:selected").val();
        var rabno = $("#TextNomor").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { status: status, suppcode: suppcode, ddlnomor: ddlnomor, rabno: rabno, startdate: startdate, enddate: enddate, fdate: fdate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalMat").DataTable();
                table.destroy();
                $("#tblModalMat").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-mat').val(total);
                if (total > 0) {
                    table = $("#tblModalMat").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-mat').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-mat').modal('hide');
        }
    });
    });

    function AddToFilterSupp() {
        var ind = 1;
        if (parseInt($('#total-supp').val()) > 0) {
            var result = $("#TextSupp").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSupp').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextSupp").val(result);
        }
    }

    function AddToFilterRetur() {
        var ind = 2;
        if (parseInt($('#total-retur').val()) > 0) {
            if ($("#DDLNomor option:selected").val() == "pretm.apretitemmstoid")
            {
                ind = 1;
            }
        var result = $("#TextNomor").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalRetur').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextNomor").val(result);
        }
    }

    function AddToFilterMat() {
        var ind = 1;
        if (parseInt($('#total-mat').val()) > 0) {
        var result = $("#TextMaterial").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalMat').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextMaterial").val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var type = $("#DDLType option:selected").val();
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var suppcode = $("#TextSupp").val();
        var nomor = $("#TextNomor").val();
        var fnomor = $("#DDLNomor option:selected").val();
        var mat = $("#TextMaterial").val();
        var sort = $("#DDLSorting option:selected").val();
        var sortdir = $("#DDLSortDir option:selected").val();
        var reporttype = "";
        var DDLGroup = $("#DDLGroup option:selected").val();

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLType: type, DDLStatus: status, StartPeriod: startdate, EndPeriod: enddate, DDLPeriod: fdate, TextSupp: suppcode, TextNomor: nomor, DDLNomor: fnomor, TextMaterial: mat, DDLSorting: sort, DDLSortDir: sortdir, reporttype: reporttype, DDLGroup: DDLGroup },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>