﻿@model APIS_WB.Models.DB.QL_trnshipmentitemmst

@{
    ViewBag.Title = "Surat Jalan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Surat Jalan</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header Surat Jalan</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.shipmentitemmstoid)
                        @Html.HiddenFor(model => model.shipmentitemtype)
                        @Html.HiddenFor(model => model.shipmentitemdate)
                        @Html.HiddenFor(model => model.shipmentitemmstres1)
                        @Html.HiddenFor(model => model.shipmentitemmstres2)                      
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("uid")
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>    
                            @*===== Baris ke 1 =====*@                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Surat Jalan No.</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.shipmentitemno, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.shipmentitemno, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-6">                                            
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })                                            
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentitemdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Pengiriman</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.shipmentitemmstres3, "MANDIRI", new { @checked = true, @onchange = "openPengiriman()" })<b>MANDIRI</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.shipmentitemmstres3, "EKSPEDISI", new { @onchange = "openPengiriman()" })<b>EKSPEDISI</b></label>
                                            @Html.ValidationMessageFor(model => model.shipmentitemmstres3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 4 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.custoid)
                                                @Html.ValidationMessage("custname", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat</label>
                                        <div class="col-md-6">
                                            @Html.Editor("custaddr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessage("custaddr", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No.<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>                                            
                                        </div>
                                        @Html.HiddenFor(model => model.soitemmstoid)
                                        @Html.HiddenFor(model => model.curroid)
                                        @Html.ValidationMessageFor(model => model.soitemmstoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal SO</label>
                                        <div class="col-md-6">                                            
                                                @Html.Editor("soitemdate", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                            @Html.ValidationMessage("soitemdate", "", new { @class = "text-danger" })
                                    </div>
                                </div>                             
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Project</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                @Html.HiddenFor(model => model.rabmstoid)
                                                @Html.HiddenFor(model => model.rabmstoid_awal)
                                            </div>
                                            @Html.ValidationMessageFor(model => model.rabmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen</label>
                                        <div class="col-md-8">
                                            @Html.Editor("departemen", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 5 =====*@
                            <div class="row" id="frmekspedisi" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ekspedisi</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.ekspedisioid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Resi</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.ekspedisinoresi, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 6 =====*@
                            <div class="row" id="frmmandiri" style="display:none">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Driver</label>
                                        <div class="col-md-6">
                                           @Html.DropDownListFor(model => model.driveroid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Armada</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.armadaoid, null, new { @class = "form-control select2", @onchange = "FillNopol()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 7 =====*@
                            <div class="row" id="frmmandiriother" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Polisi</label>
                                        <div class="col-md-6">
                                            @Html.Editor("armadano", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = ""} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 8 =====*@
                            <div class="row">   
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.shipmentitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.shipmentitemmststatus } })
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tipe Transaksi</label>
                                        <div class="col-sm-6">
                                            @Html.RadioButtonFor(model => model.shipmentitemtype2, "Complete", new { @checked = "checked", @required = "" })
                                            Complete
                                            @Html.RadioButtonFor(model => model.shipmentitemtype2, "Draft", new { @required = "" })
                                            Draft
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.shipmentitemtype2, "", new { @class = "text-danger" })
                                </div>                          
                            </div>  
                            @*===== Baris ke 8.1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.shipmentitemmstnote, new { @class = "form-control", @maxlength = "300" })
                                            @Html.ValidationMessageFor(model => model.shipmentitemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>                               
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs pull-left">
                                        <li class="active"><a href="#detail-sj" data-toggle="tab"><b>Detail Surat Jalan</b></a></li>
                                        <li><a href="#detail-exp" data-toggle="tab"><b> Detail Pengiriman</b></a></li>
                                    </ul>
                                    @{
                                        if (ViewBag.action == "Edit")
                                        {
                                            <button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportLabel(@Html.DisplayFor(model => model.shipmentitemmstoid))"><i class="fa fa-print"></i></button>
                                        }
                                    }
                                    <div class="tab-content no-padding">
                                        <!-- Morris chart - Sales -->
                                        <div class="chart tab-pane active" id="detail-sj" style="position: relative; overflow-x: auto;">
                                            <div class="row" style="display: none">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Gudang</label>
                                                        <div class="col-md-6">
                                                            @Html.DropDownList("shipmentitemwhoid", null, new { @class = "form-control select2" })
                                                        </div>
                                                        @Html.Hidden("shipmentitemw")
                                                        @Html.Hidden("shipmentwhoid")
                                                        @Html.Hidden("shipmentwh")
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-left: 20px;" align="right">
                                                <button type="button" id="btnitembyso" class="btn btn-primary" onclick="generateBySO()">
                                                    <i class="fa fa-plus"></i>
                                                    Generate Dari SO
                                                </button>
                                                <button type="button" id="btnitem" class="btn btn-primary" data-toggle="modal" data-target="#modal-item">
                                                    <i class="fa fa-plus"></i>
                                                    Tambah
                                                </button>
                                            </div>
                                            <div class="col-md-12" style="overflow-x: auto;">
                                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                                    <thead>
                                                        <tr>
                                                            <th>alldata</th>
                                                            <th width="30px">No.</th>
                                                            <th width="100px">Kode</th>
                                                            <th width="100px">PID</th>
                                                            <th width="100px">Serial<br />Number</th>
                                                            <th>Deskripsi</th>
                                                            <th width="30px">Qty<br />SO</th>
                                                            <th width="30px">Qty<br />Stok</th>
                                                            <th width="30px">Qty<br />SJ</th>
                                                            <th width="30px">Satuan</th>
                                                            <th>Gudang</th>
                                                            <th>Catatan</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="chart tab-pane" id="detail-exp" style="position: relative; overflow-x: auto;">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        @Html.DropDownList("exptype", new List<SelectListItem>
                                                        {
                                                        new SelectListItem { Text="ARMADA", Value="ARMADA" },
                                                        new SelectListItem { Text="EXPEDISI", Value="EXPEDISI" }
                                                        }, new { @class = "form-control select2", @required = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right">
                                                <button type="button" id="btntambah2" class="btn btn-primary">
                                                    <i class="fa fa-plus"></i>
                                                    Tambah
                                                </button>
                                            </div>
                                            <table id="DataDtl2" width="100%" class="table table-striped" style="position: relative; overflow-x: auto;">
                                                <thead>
                                                    <tr role="row">
                                                        <th>alldata</th>
                                                        <th>No</th>
                                                        <th>Tipe</th>
                                                        <th>Tanggal</th>
                                                        <th>No Polisi</th>
                                                        <th>Nama Kendaraan/Ekspedisi</th>
                                                        <th>Catatan</th>
                                                        <th>Opsi</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table><br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                            // AKHIR BAGIAN DETAIL

                            // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                <h6><b>VAR_STOCK | VAR_STOCK_TRANSIT</b></h6>
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{                            
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.shipmentitemmststatus == "Post" | @Model.shipmentitemmststatus == "Closed")
                            {
                                <button type="button" class="btn btn-success btn-md" id="btnSaveRev"><b>Revisi</b></button>
                            }
                            if (@Model.shipmentitemmststatus == "In Process" | @Model.shipmentitemmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }
                        
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>Tgl SO</th>
                                    <th>Customer</th>
                                    <th>RAB No.</th>
                                    <th>Project</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <span>Filter Item : </span> @Html.Editor("filteritem", new { @class = "form-control", @type = "text" })
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-12">
                            <span>Filter PID -: </span>
                            @Html.Editor("pidstart", new { @class = "form-control", @type = "text" })
                            @Html.Editor("pidend", new { @class = "form-control", @type = "text" })
                            <button type="button" class="btn btn-warning" onclick="cariItem()"> Cari Data</button>
                            <button type="button" class="btn btn-success" onclick="semuaItem()"> Semua Data</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Kode</th>
                                    <th width="100px">PID</th>
                                    <th width="100px">Serial<br/>Number</th>
                                    <th>Deskripsi</th>
                                    <th width="30px">Qty<br />SO</th>
                                    <th width="30px">Qty<br/>Stok</th>
                                    <th width="30px">Satuan</th>
                                    <th>Gudang</th>
                                    <th>soitemdtloid</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@

    @* MODAL UNTUK DETAIL 2 *@
    <div class="modal fade" id="modal-exp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Kendaraan </h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl2" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Tanggal</th>
                                    <th>No Polisi</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail2()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 2 *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 6, 7, 11],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl($('#uid').val()); FillDetailData($('#uid').val());
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var table2 = $('#DataDtl2').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table2.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[1];
            table2.row($tr).remove().draw();
            SetDataDtl2($('#uid').val()); FillDetailData2($('#uid').val());
            var data = table2.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table2.row(i).data();
                    temp[1] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        $("#tglmst").change(function () {
            GenerateNo2();
        });

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#shipmentitemdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": true,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
                {
                    "targets": [0, 7, 11],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var tblModalDtl2 = $("#tblModalDtl2").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalSO").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSO = $("#tblModalSO").DataTable();
        tblModalSO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#soitemno").val(alldata.soitemno);
            $("#soitemmstoid").val(alldata.soitemmstoid);
            $("#soitemdate").val(alldata.soitemdatestr);
            $("#custoid").val(alldata.custoid);
            $("#custname").val(alldata.custname);
            $("#custaddr").val(alldata.custaddr);
            $("#curroid").val(alldata.curroid);
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#rabmstoid_awal").val(alldata.rabmstoid_awal);
            $("#projectname").val(alldata.projectname);
            $("#departemen").val(alldata.departemen);
            $("#shipmentitemmstnote").val(alldata.soitemmstnote);
            $('#modal-so').modal('hide');
        });

        var tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            //Clear SO
            $("#soitemno").val("");
            $("#soitemmstoid").val("");
            $("#soitemdate").val("");
            $("#custaddr").val("");
            $("#curroid").val("");
            $("#rabmstoid").val("");
            $("#projectname").val("");
            $("#departemen").val("");

            $('#modal-cust').modal('hide');
        });

        //FillNopol();
        openPengiriman();
        FillDDLWarehouse();
        FillDetailData($('#uid').val());
        FillDetailData2($('#uid').val());
        changeType2();
    })

    function GenerateNo2() {
        var tgl = $("#tglmst").val();
        var oid = $("#shipmentitemmstoid").val();
        $.ajax({
            url: "@(Url.Action("generateNo2"))",
            data: { tgl: tgl, oid: oid },
            cache: false,
            type: "POST",
            success: function (data) {
                //if ($("#action").val() == "Create") {
                    $("#shipmentitemno").val(data);
                //} 
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    $("input[name=shipmentitemtype2]:radio").change(function () {
        changeType2();
    });

    function changeType2() {
        var value = $("[name=shipmentitemtype2]:checked").val();
        if (value == 'Draft') {
            $("#btnitem").hide();
            $("#btnitembyso").show();
        }
        else {
            $("#btnitem").show();
            $("#btnitembyso").hide();
        }
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
    }

    function FillDetailData(uid) {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.shipmentitemdtlseq,
                        val.itemcode,
                        val.refno,
                        val.serialnumber,
                        val.itemdesc,
                        addCommas(val.soitemqty),
                        addCommas(val.qtystok),
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="shipmentitemqty-' + val.shipmentitemdtlseq + '" name="shipmentitemqty-' + val.shipmentitemdtlseq + '" value = "' + addCommas(val.shipmentitemqty) + '" >',
                        val.shipmentitemunit,
                        val.shipmentitemwh,
                        '<input type="text" class="form-control" id="shipmentitemdtlnote-' + val.shipmentitemdtlseq + '" name="shipmentitemdtlnote-' + val.shipmentitemdtlseq + '" value="' + (val.shipmentitemdtlnote == null ? "" : val.shipmentitemdtlnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                    $("#DataDtl .select2").select2();
                    //$.each(data, function (key, val) {
                    //    $("#transitemfromwhoid-" + val.transitemdtlseq + "").val(val.transitemfromwhoid).trigger("change");
                    //    FillStockWH(val.shipmentitemdtlseq, val.itemoid, val.refno, val.shipmentitemwhoid);
                    //});
                }, 100);
            }
        });
    }

    function FillDetailData2(uid) {
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.shipmentitemexpseq,
                        val.shipmentitemexptype,
                        '<input type="text" class="form-control datepicker" style="max-width: 80px" id="shipmentitemexpdate-' + val.shipmentitemexpseq + '" name="shipmentitemexpdate-' + val.shipmentitemexpseq + '" value="' + val.shipmentitemexpdate + '">',
                        val.expedisi,
                        '<input type="text" class="form-control" style="max-width: 150px" id="expedisiname-' + val.shipmentitemexpseq + '" name="expedisiname-' + val.shipmentitemexpseq + '" value="' + (val.expedisiname == null ? "" : val.expedisiname) + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="shipmentitemexpnote-' + val.shipmentitemexpseq + '" name="shipmentitemexpnote-' + val.shipmentitemexpseq + '" value="' + (val.shipmentitemexpnote == null ? "" : val.shipmentitemexpnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    $('.datepicker').datepicker({
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    });
                    EnabledHeader();
                }, 100);
            }
        });
    }

    function FillDDLWarehouse() {
        var shipmentitemwhoid = $("#shipmentitemwhoid");
        var shipmentitemwhoid_sel = $("#shipmentitemwhoid option:selected").val();
        shipmentitemwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWarehouse"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.genoid == shipmentitemwhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    shipmentitemwhoid.html(markup).show();
                    if (isExist == true) {
                        shipmentitemwhoid.val(shipmentitemwhoid_sel);
                    }
                    shipmentitemwhoid.trigger('change');
                } else {
                    shipmentitemwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
                $("#shipmentitemw").val(markup);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillStockWH(id, itemoid, refno, mtrwhoid) {
        var markup = "";
        var url = "@(Url.Action("InitStockWH"))";
        var whfrom = mtrwhoid;
        //var whfrom = $("#mtrwhoid-" + id + "").val();

        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom, itemoid: itemoid, refno: refno },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#qtystok-"+ id +"").val(val.stokakhir);
                    });
                }
            }
        });
    }

    function FillNopol() {
        var markup = "";
        var url = "@(Url.Action("InitNopol"))";
        var vhcoid = $("#armadaoid").val();
        //var whfrom = $("#mtrwhoid-" + id + "").val();

        //alert(whfrom);
        $.ajax({
            url: url,
            data: { vhcoid: vhcoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#armadano").val(val.nopol);
                    });
                }
            }
        });
    }

    function openPengiriman() {
        var type = $("input:radio[name=shipmentitemmstres3]:checked").val();
        //if (type == "EKSPEDISI") {
        //    $("#frmekspedisi").show();
        //    $("#frmmandiri").hide();
        //    $("#frmmandiriother").hide();
        //} else {
        //    $("#frmekspedisi").hide();
        //    $("#frmmandiri").show();
        //    $("#frmmandiriother").show();
        //}
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#btnsearchcust").attr("disabled", bVal);
        $("#btnsearchso").attr("disabled", bVal);

        var table2 = $('#DataDtl2').DataTable();
        var bVal2 = false;
        if (table2 != null) {
            data2 = table2.rows().data();
            if (data2.length > 0) {
                bVal2 = true;
            } else {
                bVal2 = false;
            }
        } else {
            bVal2 = false;
        }
        $("input:radio[name=shipmentitemmstres3]:not(:checked)").attr('disabled', bVal2);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchso").click(function () {
        var custoid = $('#custoid').val();
        var table = $('#tblModalSO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.soitemno,
                        moment(jsDate(val.soitemdate)).format('DD/MM/YYYY'),
                        val.custname,
                        val.rabno,
                        val.projectname
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //Pop Up Data Detail
    $("#btnitem").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Customer Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        if ($("#soitemno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Sales Order No. Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        bindMaterial();
    });

    function cariItem() {
        bindMaterial();
    }

    function semuaItem() {
        $("#filteritem").val("");
        $("#pidstart").val("");
        $("#pidend").val("");
        bindMaterial();
    }

    function bindMaterial() {
        var table = $('#tblModalDtl').DataTable();
        var whoid = $('#shipmentitemwhoid').val();
        var shipmentitemmstoid = $('#shipmentitemmstoid').val();
        var soitemmstoid = $('#soitemmstoid').val();
        var rabmstoid = $('#rabmstoid').val();
        var rabmstoid_awal = $('#rabmstoid_awal').val();
        var filteritem = $('#filteritem').val();
        var pidstart = $('#pidstart').val();
        var pidend = $('#pidend').val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            data: { whoid: whoid, soitemmstoid: soitemmstoid, shipmentitemmstoid: shipmentitemmstoid, filteritem: filteritem, pidstart: pidstart, pidend: pidend, rabmstoid: rabmstoid, rabmstoid_awal: rabmstoid_awal },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                var c = 1;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        c++,
                        val.itemcode,
                        val.refno,
                        val.serialnumber,
                        val.itemdesc,
                        val.soitemqty,
                        (val.qtystok < val.soitemqty ? addCommas(val.qtystok) : addCommas(val.soitemqty)),
                        val.itemunit,
                        val.shipmentitemwh,
                        val.soitemdtloid
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function generateBySO() {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Customer Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        if ($("#soitemno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Sales Order No. Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var soitemmstoid = $('#soitemmstoid').val();
        var rabmstoid = $('#rabmstoid').val();
        var url = "@(Url.Action("GetItemBySO"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetItemBySO"))",
            data: { soitemmstoid: soitemmstoid, rabmstoid: rabmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    val.shipmentitemdtlseq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.itemcode,
                        val.refno,
                        val.serialnumber,
                        val.itemdesc,
                        addCommas(val.soitemqty),
                        addCommas(val.qtystok),
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="shipmentitemqty-' + i + '" name="shipmentitemqty-' + i + '" value = "' + addCommas(val.shipmentitemqty) + '" >',
                        val.shipmentitemunit,
                        val.shipmentitemwh,
                        '<input type="text" class="form-control" id="shipmentitemdtlnote-' + i + '" name="shipmentitemdtlnote-' + i + '" value="' + (val.shipmentitemdtlnote == null ? "" : val.shipmentitemdtlnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                    $("#DataDtl .select2").select2();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });

        SetDataDtl($('#uid').val());
    }

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.soitemdtloid, alldata.refno, alldata.serialnumber, alldata.shipmentitemwhoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        shipmentitemdtlseq: id,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        refno: alldata.refno,
                        serialnumber: alldata.serialnumber,
                        itemdesc: alldata.itemdesc,
                        shipmentitemunitoid: alldata.itemunitoid,
                        shipmentitemunit: alldata.itemunit,
                        qtystok: alldata.qtystok,
                        soitemqty: alldata.soitemqty,
                        shipmentitemwhoid: alldata.shipmentitemwhoid,
                        shipmentitemwh: alldata.shipmentitemwh,
                        soitemdtloid: alldata.soitemdtloid,
                        shipmentitemdtlres2: alldata.shipmentitemdtlres2
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.itemcode,
                        alldata.refno,
                        alldata.serialnumber,
                        alldata.itemdesc,
                        addCommas(alldata.soitemqty),
                        addCommas(alldata.qtystok),
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="shipmentitemqty-' + id + '" name="shipmentitemqty-' + id + '" value="' + (alldata.qtystok < alldata.soitemqty ? addCommas(alldata.qtystok) : addCommas(alldata.soitemqty)) + '">',
                        alldata.itemunit,
                        alldata.shipmentitemwh,
                        '<input type="text" class="form-control" id="shipmentitemdtlnote-' + id + '" name="shipmentitemdtlnote-' + id + '" >',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    EnabledHeader();
                    $("#DataDtl .select2").select2();
                }
            }
        })

        SetDataDtl($('#uid').val());
    }

    function IsOnDtl(soitemdtloid, refno, serialnumber, shipmentitemwhoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (soitemdtloid == alldata.soitemdtloid && refno == alldata.refno && serialnumber == alldata.serialnumber && shipmentitemwhoid == alldata.shipmentitemwhoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var shipmentitemqty = removeCommas(table.$("#shipmentitemqty-" + alldata.shipmentitemdtlseq).val());
            var shipmentitemdtlnote = table.$("#shipmentitemdtlnote-" + alldata.shipmentitemdtlseq).val();

                var obj = {
                shipmentitemdtlseq: i + 1,
                soitemdtloid: alldata.soitemdtloid,
                shipmentitemwhoid: alldata.shipmentitemwhoid,
                shipmentitemwh: alldata.shipmentitemwh,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                refno: alldata.refno,
                serialnumber: alldata.serialnumber,
                soitemqty: alldata.soitemqty,
                shipmentitemqty: shipmentitemqty,
                qtystok: alldata.qtystok,
                shipmentitemunit: alldata.shipmentitemunit,
                shipmentitemunitoid: alldata.shipmentitemunitoid,
                shipmentitemdtlnote: shipmentitemdtlnote,
                shipmentitemdtlres2: alldata.shipmentitemdtlres2
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    //Pop Up Data Detail
    $("#btntambah2").click(function () {
        var shipmentitemtype = $("#exptype option:selected").val();
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Customer Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        if ($("#soitemno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Sales Order No. Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        if (shipmentitemtype == "ARMADA") {
            $("#modal-exp").modal("show");
            GetArmada();
        }else{
            GetExpedisi();
        }
    });

    function GetArmada(){
        var table = $('#tblModalDtl2').DataTable();
        //var shipmentitemtype = $("[name=shipmentitemmstres3]:checked").val();
        var shipmentitemtype = $("#exptype option:selected").val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataExpDetail"))",
            data: { shipmentitemtype: shipmentitemtype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                var c = 1;
                $.each(data, function (key, val) {
                    val.shipmentitemexpseq = ++i;
                    val.shipmentitemtype = shipmentitemtype;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        i,
                        '<input type="text" class="form-control datepicker" style="max-width: 80px" id="shipmentitemexpdate-' + i + '" name="shipmentitemexpdate-' + i + '" value="' + val.shipmentitemexpdate + '">',
                        val.expedisi,
                        '<input type="text" class="form-control" style="max-width: 150px" id="shipmentitemexpnote-' + i + '" name="shipmentitemexpnote-' + i + '" value="' + (val.shipmentitemexpnote == null ? "" : val.shipmentitemexpnote) + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    $('.datepicker').datepicker({
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    });
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function GetExpedisi() {
        var shipmentitemtype = $("#exptype option:selected").val();
        var createtime = $("#createtime").val();;
        var table = $('#DataDtl2').DataTable();
        var id = table.rows().data().length + 1;//menambahkan data ke tabel
        var obj = {
            shipmentitemexpseq: id,
            shipmentitemexptype: shipmentitemtype,
            shipmentitemexpdate: '',
            expedisioid: 0,
            expedisi: '',
            expedisiname: '',
            shipmentitemexpnote: ''
        };
        table.row.add([
            JSON.stringify(obj),
            id,
            shipmentitemtype,
            '<input type="text" class="form-control datepicker" style="max-width: 80px" id="shipmentitemexpdate-' + id + '" name="shipmentitemexpdate-' + id + '" value="' + moment(createtime).format("DD/MM/YYYY") + '">',
            '',
            '<input type="text" class="form-control" style="max-width: 150px" id="expedisiname-' + id + '" name="expedisiname-' + id + '" value="">',
            '<input type="text" class="form-control" style="max-width: 150px" id="shipmentitemexpnote-' + id + '" name="shipmentitemexpnote-' + id + '" value="">',
            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ]).draw();
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
    }

    function AddToDetail2() {
        var isValid = true;
        var shipmentitemtype = $("#exptype option:selected").val();
        var table = $('#tblModalDtl2').DataTable();
        var tbldtl = $('#DataDtl2').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var shipmentitemexpdate = table.$("#shipmentitemexpdate-" + alldata.shipmentitemexpseq).val();
                var shipmentitemexpnote = table.$("#shipmentitemexpnote-" + alldata.shipmentitemexpseq).val();
                if (!IsOnDtl2(alldata.expedisioid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        shipmentitemexpseq: id,
                        shipmentitemexptype: shipmentitemtype,
                        shipmentitemexpdate: shipmentitemexpdate,
                        expedisioid: alldata.expedisioid,
                        expedisi: alldata.expedisi,
                        expedisiname: alldata.expedisiname,
                        shipmentitemexpnote: shipmentitemexpnote
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        shipmentitemtype,
                        '<input type="text" class="form-control datepicker" style="max-width: 80px" id="shipmentitemexpdate-' + id + '" name="shipmentitemexpdate-' + id + '" value="' + shipmentitemexpdate + '">',
                        alldata.expedisi,
                        '<input type="text" class="form-control" style="max-width: 150px" id="expedisiname-' + id + '" name="expedisiname-' + id + '" value="' + (alldata.expedisiname == null ? "" : alldata.expedisiname) + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="shipmentitemexpnote-' + id + '" name="shipmentitemexpnote-' + id + '" value="' + (shipmentitemexpnote == null ? "" : shipmentitemexpnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    $('.datepicker').datepicker({
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    });
                    EnabledHeader();
                }
            }
        })

        SetDataDtl2($('#uid').val());
    }

    function IsOnDtl2(expedisioid) {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (expedisioid == alldata.expedisioid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl2(uid) {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.shipmentitemexpdate = table.$("#shipmentitemexpdate-" + alldata.shipmentitemexpseq).val();
            alldata.expedisiname = table.$("#expedisiname-" + alldata.shipmentitemexpseq).val();
            alldata.shipmentitemexpnote = table.$("#shipmentitemexpnote-" + alldata.shipmentitemexpseq).val();
            alldata.shipmentitemexpseq = i + 1;

            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails2"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtlAll($('#uid').val());
    });

    function SetDataDtlAll(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var shipmentitemqty = removeCommas(table.$("#shipmentitemqty-" + alldata.shipmentitemdtlseq).val());
            var shipmentitemdtlnote = table.$("#shipmentitemdtlnote-" + alldata.shipmentitemdtlseq).val();

            var obj = {
                shipmentitemdtlseq: i + 1,
                soitemdtloid: alldata.soitemdtloid,
                shipmentitemwhoid: alldata.shipmentitemwhoid,
                shipmentitemwh: alldata.shipmentitemwh,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                refno: alldata.refno,
                serialnumber: alldata.serialnumber,
                soitemqty: alldata.soitemqty,
                shipmentitemqty: shipmentitemqty,
                qtystok: alldata.qtystok,
                shipmentitemunit: alldata.shipmentitemunit,
                shipmentitemunitoid: alldata.shipmentitemunitoid,
                shipmentitemdtlnote: shipmentitemdtlnote,
                shipmentitemdtlres2: alldata.shipmentitemdtlres2
            }
            rows.push(obj);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            alldata.shipmentitemexpdate = table2.$("#shipmentitemexpdate-" + alldata.shipmentitemexpseq).val();
            alldata.expedisiname = table2.$("#expedisiname-" + alldata.shipmentitemexpseq).val();
            alldata.shipmentitemexpnote = table2.$("#shipmentitemexpnote-" + alldata.shipmentitemexpseq).val();
            alldata.shipmentitemexpseq = i + 1;

            rows2.push(alldata);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#shipmentitemmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#shipmentitemmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid},
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSaveRev").click(function () {
        SetDataDtl2($('#uid').val());
        var uid = $('#uid').val();
        var oid = $("#shipmentitemmstoid").val();
        var tgl = $("#tglmst").val();
        var note = $("#shipmentitemmstnote").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Revise this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Save this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveRev"))",
                    data: { __RequestVerificationToken: token, id: oid, note: note, tgl: tgl, uid: uid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Revised!',
                            'Data has been Revised!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Revised data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

    function PrintReportLabel(id) {
        window.location.assign("@Url.Action("PrintReportLabel")?id=" + id + "");
    };
</script>