﻿@model APIS_WB.Models.DB.QL_trnsoitemmst

@{
    ViewBag.Title = "Sales Order";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Sales Order
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Header Sales Order</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.soitemmstoid)
                        @Html.HiddenFor(model => model.rabmstoid)
                        @Html.HiddenFor(model => model.soitemdate)
                        @Html.HiddenFor(model => model.soitemcustpodate)
                        @Html.HiddenFor(model => model.soitemcustpodate2)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.revsoitemtype)
                        @Html.HiddenFor(model => model.revsoitemmstoid)
                        @Html.HiddenFor(model => model.sotranstype)
                        @Html.HiddenFor(model => model.sonewcusttypeoid)
                        @Html.HiddenFor(model => model.sotranstoko)
                        @Html.Hidden("uid")
                        @Html.Hidden("action")
                        @Html.Hidden("markup")                        
                        <div class="container-fluid">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                        </div>

                        @*===== Baris ke 1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. SO <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.soitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.soitemno, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tanggal <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 2 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.soitemdate, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">No. Referensi</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.soitemrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50"} })
                                @Html.ValidationMessageFor(model => model.soitemrefno, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 3 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">RAB</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.rabmstoid)
                                </div>
                                @Html.ValidationMessageFor(model => model.rabmstoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">No. PRAB</label>
                            <div class="col-sm-4">
                                @Html.Editor("reqrabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessage("reqrabno", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 3.1 =====*@
                        <div class="form-group">
                            <label class="col-md-2 control-label">Source Transaksi</label>
                            <div class="col-md-4">
                                @Html.DropDownList("catid", null, new { @class = "form-control select2", @multiple = "", @onchange = "changeToko()", @required = "" })
                                @Html.ValidationMessageFor(model => model.sotranstype, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-2 control-label">Source Toko</label>
                            <div class="col-md-4">
                                @Html.DropDownList("cattoko", null, new { @class = "form-control select2", @multiple = "" })
                                @Html.ValidationMessageFor(model => model.sotranstype, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Status Customer</label>
                            <div class="col-sm-4">
                                @Html.RadioButtonFor(model => model.sonewcusttype, "Old Customer", new { @checked = "checked", @onchange = "changeNewCustomer()" })<b>Old Customer</b>
                                @Html.RadioButtonFor(model => model.sonewcusttype, "New Customer", new { @onchange = "changeNewCustomer()" })<b>New Custome</b>
                            </div>
                            <div id="divnewcust">
                                <label class="col-md-2 control-label">Source New Customer</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("catid2", null, new { @class = "form-control select2", @multiple = "" })
                                    @Html.ValidationMessageFor(model => model.sonewcusttypeoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        @*===== Baris ke 4 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Customer <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.custoid)
                                    @Html.Hidden("ToEmail")
                                </div>
                                @Html.ValidationMessageFor(model => model.custoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Alamat Pengiriman <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("alamat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchalamat" class="btn btn-flat" data-toggle="modal" data-target="#modal-alamat">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.alamatoid)
                                </div>
                                @Html.ValidationMessageFor(model => model.alamatoid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 5 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">TOP</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.soitempaytypeoid, null, new { @class = "form-control select2", @readonly = "" })
                                @Html.ValidationMessageFor(model => model.soitempaytypeoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Nama Project</label>
                            <div class="col-sm-4">
                                @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.ValidationMessage("projectname", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 6 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. PO Customer</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.soitemcustpo, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.soitemcustpo, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tgl PO Customer</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglpodate", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.soitemcustpodate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 7 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dokumen E-Purchasing/PO Cust</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon" style="width:100%"><a href="#" target="_blank" style="" id="fileDownload"></a></span>
                                    <span class="input-group-btn"><button id="fileBrowse" type="button" class="btn btn-primary btn-flat"><i class="fa fa-folder-open"></i> Browse</button></span>
                                    <span class="input-group-btn"><button id="fileRemove" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></span>
                                </div>
                                <input type="file" class="form-control" id="fileUpload" accept=".pdf,.jpeg,.jpg,.png" style="display:none">
                                @Html.HiddenFor(model => model.soitemcustdoc)
                                @Html.ValidationMessageFor(model => model.soitemcustdoc, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tgl. Penyelesaian</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglpodate2", new { htmlAttributes = new { @class = "form-control datepicker3", @type = "text", @required = "" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.soitemcustpodate2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 8 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mata Uang <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.curroid, null, new { @id = "curroid", @class = "form-control", @required = "", @readonly = "" })
                                @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Creator</label>
                            <div class="col-sm-4">
                                @Html.Editor("creatorname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                            </div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label class="col-sm-2 control-label">Nilai Tukar <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.soitemrate2toidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50", @value = "1" } })
                                @Html.ValidationMessageFor(model => model.soitemrate2toidr, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 9 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Departement <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                            @Html.DropDownList("deptoid", null, new { @class = "form-control", @required = "" })
                            @Html.ValidationMessage("deptoid", "", new { @class = "text-danger" })
                            </div>
                        </div>
                            @*===== Baris ke 9.1 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Sales</label>
                                <div class="col-sm-4">
                                    @Html.Editor("sales", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    @Html.HiddenFor(model => model.salesoid)
                                    @Html.ValidationMessageFor(model => model.salesoid, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Sales Admin</label>
                                <div class="col-sm-4">
                                    @Html.Editor("salesadmin", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    @Html.HiddenFor(model => model.salesadminoid)
                                    @Html.ValidationMessageFor(model => model.salesadminoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                         @*===== Baris ke 10 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total PPN</label>                            
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.soitemtotaltaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.soitemtotaltaxamt, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.soitemtotaltaxamtidr)
                            </div>

                            <label class="col-sm-2 control-label" style="display:none">Total PPH 22</label>
                            <div class="col-sm-4" style="display:none">
                                @Html.EditorFor(model => model.soitemtotalpphamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.soitemtotalpphamt, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.soitemtotalpphamtidr)
                            </div>
                        </div>
                        @*===== Baris ke 11 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total DPP</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.soitemtotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.soitemtotalamt, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.soitemtotalamtidr)
                            </div>

                            <label class="col-sm-2 control-label">Total DPP + PPN</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.soitemtotalnetto, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.soitemtotalnetto, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.soitemgrandtotalamt)
                                @Html.HiddenFor(model => model.soitemgrandtotalamtidr)
                            </div>
                        </div>
                        @*==== Baris ke 12 ====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Catatan</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.soitemmstnote, new { @class = "form-control", @type = "text", @maxlength = "300" })
                                @Html.ValidationMessageFor(model => model.soitemmstnote, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">                                
                                    @Html.EditorFor(model => model.soitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "", @Value = Model.soitemmststatus } })                                
                            </div>
                        </div>                                                      

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h4 class="box-title"><strong>Detail Sales Order</strong></h4>
                        </div>
                        <div class="box-body">
                            @*<div class="col-sm-12" style="padding-top: 12px;">
                                <div class="pull-right">
                                    <span class="input-group">
                                        <button type="button" id="btnmatjual" class="btn btn-primary" data-toggle="modal" data-target="#modal-matjual">
                                            <i class="fa fa-plus"></i>
                                            Tambah
                                        </button>
                                    </span>
                                </div>
                            </div>*@
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr role="row">
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>Kode</th>
                                            <th>Deskripsi</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                            <th>Tax</th>
                                            <th>Tax Amt</th>
                                            @*<th>Pph</th>
                                            <th>Pph Amt</th>*@
                                            <th>Netto</th>
                                            @*<th>Ongkir</th>*@
                                            <th>Etd</th>
                                            <th>Gudang</th>
                                            <th>Keterangan</th>
                                            <th>Opsi</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@

                    </div><!-- /.container-fluid -->
            </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                if (@Model.soitemmststatus == "In Process" | @Model.soitemmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        //<button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                    }
                                }
                            }

                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. RAB</th>
                                    <th>Tanggal</th>
                                    <th>Customer</th>
                                    <th>Project</th>
                                    <th>Note</th>                                    
                                    <th>Alamat</th>
                                    <th>Department</th>
                                    <th>salesoid</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@    

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Lokasi</th>
                                    <th>Alamat Pengiriman</th>
                                    <th>Provinsi</th>
                                    <th>Kota</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@
    

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-matjual">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> 

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        var tblModalRAB = $("#tblModalRAB").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0,7,8,9],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#rabno").val(alldata.rabno);
            $("#rabdate").val(alldata.rabdate);
            $("#custname").val(alldata.custname);
            $("#soitempaytypeoid").val(alldata.custpaymentoid).trigger('change');
            $("#custoid").val(alldata.custoid);
            $("#projectname").val(alldata.projectname);
            $("#rabmstnote").val(alldata.rabmstnote);
            $("#almatoid").val(alldata.almatoid);
            $("#alamat").val(alldata.alamat);
            $("#salesoid").val(alldata.salesoid);
            $("#deptoid").val(alldata.deptoid).trigger("change");
            $("#creatorname").val(alldata.creatorname);
            $('#modal-rab').modal('hide');
            GetDetailData();
        });

        var tblModalSales = $("#tblModalSales").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSales.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSales.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#salesname").val(alldata.salesname);
            $("#salesoid").val(alldata.salesoid);
            $("#deptoid").val(alldata.deptoid).trigger("change");
            $('#modal-sales').modal('hide');
        });

        var tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#ToEmail").val(alldata.custemail);
            $("#rabpaytermoid").val(alldata.custpaymentoid).trigger('change');
            $('#modal-cust').modal('hide');
        });

        var tblModalAlamat = $("#tblModalAlamat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalAlamat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAlamat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#alamat").val(alldata.alamat);
            $("#alamatoid").val(alldata.alamatoid);
            $("#rabprovoid").val(alldata.provoid).trigger('change');
            $("#rabcityoid").val(alldata.cityoid).trigger('change');
            $('#modal-alamat').modal('hide');
        });

        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl($('#uid').val()); FillDetailData($('#uid').val());
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            SumAmtJual();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var catid_temp = $("#sotranstype").val();
        $("#catid").val(catid_temp.split(","));

        var catid2_temp = $("#sonewcusttypeoid").val();
        $("#catid2").val(catid2_temp.split(","));

        var catid3_temp = $("#sotranstoko").val();
        $("#cattoko").val(catid3_temp.split(","));

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#soitemdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#soitemcustpodate").val();
        } else {
            tgl3 = $("#createtime").val();
        }
        tglIndo(tgl3, '.datepicker2');
        var tgl4 = "";
        if ($('#action').val() == "Edit") {
            tgl4 = $("#soitemcustpodate2").val();
        } else {
            tgl4 = $("#createtime").val();
        }
        tglIndo(tgl4, '.datepicker3');
        if ($('#action').val() == "Edit") {
            $('#btnsearchrab').attr('disabled', 'disabled');
        }
        $('#btnsearchcust').attr('disabled', 'disabled');
        $('#btnsearchalamat').attr('disabled', 'disabled');
        $('#deptoid').attr('disabled', 'disabled');

        initDDLprab();
        FillDDLGudang();
        FillDetailData($('#uid').val());
        fillRate();
        changeNewCustomer();
        $('#soitemtotalamt').val(addCommas($('#soitemtotalamt').val()));
        $('#soitemtotalamtidr').val(addCommas($('#soitemtotalamtidr').val()));
        $('#soitemtotaltaxamt').val(addCommas($('#soitemtotaltaxamt').val()));
        $('#soitemtotaltaxamtidr').val(addCommas($('#soitemtotaltaxamtidr').val()));
        $('#soitemtotalnetto').val(addCommas($('#soitemtotalnetto').val()));
        $('#soitemgrandtotalamt').val(addCommas($('#soitemgrandtotalamt').val()));
        $('#soitemgrandtotalamtidr').val(addCommas($('#soitemgrandtotalamtidr').val()));

        showFileDownload();
    })

    function fillRate() {
        if ($("#curroid").val() == 1)
        {
            $("#soitemrate2toidr").val(1)
        }
    }

    function changeNewCustomer() {
        var ddl = $("input:radio[name=sonewcusttype]:checked").val();
        if (ddl == "New Customer") {
            $("#divnewcust").show();
        } else {
            $("#divnewcust").hide();
        }
    }

    function changeToko() {
        var fromtrn = $("#catid").val();
        var totrn = $("#cattoko");
        totrn.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLToko"))",
            data: { fromtrn: fromtrn },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    console.log(data.tbl);
                    totrn.html(markup).show();
                    totrn.trigger('change');
                } else {
                    totrn.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDetailData(uid) {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        var tgl =  $("#createtime").val();
        var a = "";
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.soitemdtlseq,
                        val.itemcode,
                        val.itemdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemqty-' + val.soitemdtlseq + '" name="soitemqty-' + val.soitemdtlseq + '" value="' + addCommas(val.soitemqty) + '" onblur="hitung(' + val.soitemdtlseq + ')" readonly="">',
                        val.soitemunit,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemprice-' + val.soitemdtlseq + '" name="soitemprice-' + val.soitemdtlseq + '" value="' + addCommas(val.soitemprice) + '" onblur="hitung(' + val.soitemdtlseq + ')" readonly="">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlamt-' + val.soitemdtlseq + '" name="soitemdtlamt-' + val.soitemdtlseq + '" readonly="" value="' + addCommas(val.soitemdtlamt) + '">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtltaxvalue-' + val.soitemdtlseq + '" name="soitemdtltaxvalue-' + val.soitemdtlseq + '" readonly="" value="' + addCommas(val.soitemdtltaxvalue) + '">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtltaxamt-' + val.soitemdtlseq + '" name="soitemdtltaxamt-' + val.soitemdtlseq + '" readonly="" value="' + addCommas(val.soitemdtltaxamt) + '">',
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlpphvalue-' + val.soitemdtlseq + '" name="soitemdtlpphvalue-' + val.soitemdtlseq + '" value="' + val.soitemdtlpphvalue + '" readonly="" >',
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlpphamt-' + val.soitemdtlseq + '" name="soitemdtlpphamt-' + val.soitemdtlseq + '" readonly="" value="' + val.soitemdtlpphamt + '" >',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlnetto-' + val.soitemdtlseq + '" name="soitemdtlnetto-' + val.soitemdtlseq + '" readonly="" value="' + addCommas(val.soitemdtlnetto) + '">',
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlongkiramt-' + val.soitemdtlseq + '" name="soitemdtlongkiramt-' + val.soitemdtlseq + '" value="' + val.soitemdtlongkiramt + '" readonly="">',
                        '<input type="text" class="form-control datepicker" style="max-width: 80px" id="soitemdtletd-' + val.soitemdtlseq + '" name="soitemdtletd-' + val.soitemdtlseq + '" value="' + val.soitemdtletdstr + '" readonly="">',
                        '<select class = "form-control select2" id ="soitemdtllocoid-' + val.soitemdtlseq + '" readonly=""> ' + $("#markup").val() + '</select> ',
                        '<input type="text" class="form-control" style="max-width: 150px" id="soitemdtlnote-' + val.soitemdtlseq + '" name="soitemdtlnote-' + val.soitemdtlseq + '" value="' + val.soitemdtlnote + '" >',
                        //'<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ''
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    a = $('.datepicker').datepicker({
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    });
                    $("#DataDtl .select2").select2();
                    $.each(data, function (key, val) {
                        $("#rablocoid-" + val.rabseq + "").val(val.rablocoid).trigger("change");
                        hitung(val.soitemdtlseq);
                    });
                }, 100);
            }
        });
    }

    function GetDetailData() {
        var url = "@(Url.Action("GetDetailData"))";
        var table = $('#DataDtl').DataTable();
        var rabmstoid = $("#rabmstoid").val();

        table.clear().draw();
        $.ajax({
            url: url,
            data: { rabmstoid: rabmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.soitemdtlseq,
                        val.itemcode,
                        val.itemdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemqty-' + val.soitemdtlseq + '" name="soitemqty-' + val.soitemdtlseq + '" value="' + addCommas(val.soitemqty) + '" onblur="hitung(' + val.soitemdtlseq + ')" readonly="">',
                        val.soitemunit,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemprice-' + val.soitemdtlseq + '" name="soitemprice-' + val.soitemdtlseq + '" value="' + addCommas(val.soitemprice) + '" onblur="hitung(' + val.soitemdtlseq + ')" readonly="">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlamt-' + val.soitemdtlseq + '" name="soitemdtlamt-' + val.soitemdtlseq + '" readonly="" value="' + addCommas(val.soitemdtlamt) + '">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtltaxvalue-' + val.soitemdtlseq + '" name="soitemdtltaxvalue-' + val.soitemdtlseq + '" readonly="" value="' + addCommas(val.soitemdtltaxvalue) + '">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtltaxamt-' + val.soitemdtlseq + '" name="soitemdtltaxamt-' + val.soitemdtlseq + '" readonly="" value="' + addCommas(val.soitemdtltaxamt) + '">',
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlpphvalue-' + val.soitemdtlseq + '" name="soitemdtlpphvalue-' + val.soitemdtlseq + '" value="' + val.soitemdtlpphvalue + '" readonly="" >',
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlpphamt-' + val.soitemdtlseq + '" name="soitemdtlpphamt-' + val.soitemdtlseq + '" readonly="" value="' + val.soitemdtlpphamt + '" >',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlnetto-' + val.soitemdtlseq + '" name="soitemdtlnetto-' + val.soitemdtlseq + '" readonly="" value="' + addCommas(val.soitemdtlnetto) + '">',
                        //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soitemdtlongkiramt-' + val.soitemdtlseq + '" name="soitemdtlongkiramt-' + val.soitemdtlseq + '" value="' + val.soitemdtlongkiramt + '" readonly="">',
                        '<input type="text" class="form-control datepicker" style="max-width: 80px" id="soitemdtletd-' + val.soitemdtlseq + '" name="soitemdtletd-' + val.soitemdtlseq + '" value="' + val.soitemdtletdstr + '" readonly="">',
                        '<select class = "form-control select2" id ="soitemdtllocoid-' + val.soitemdtlseq + '" readonly=""> ' + $("#markup").val() + '</select> ',
                        '<input type="text" class="form-control" style="max-width: 150px" id="soitemdtlnote-' + val.soitemdtlseq + '" name="soitemdtlnote-' + val.soitemdtlseq + '" value="' + (val.soitemdtlnote == null ? "" : val.soitemdtlnote) + '" >',
                        //'<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ''
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    $("#DataDtl .select2").select2();
                    $.each(data, function (key, val) {
                        $("#soitemdtllocoid-" + val.soitemdtlseq + "").val(val.soitemdtllocoid).trigger("change");
                        hitung(val.soitemdtlseq);
                    });
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl($('#uid').val());
        SumAmtJual();
    }

    //Pop Up Data Header

    $("#btnsearchrab").click(function () {
        var table = $('#tblModalRAB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.custname,
                        val.projectname,
                        val.rabmstnote,
                        val.alamat,
                        val.departement,
                        val.salesoid
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchalamat").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == '') {
            alert('Pilih Customer dulu!');
            return false;
        }
        var table = $('#tblModalAlamat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAlamatData"))",
            data: { custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.lokasi,
                        val.alamat,
                        val.provinsi,
                        val.kota
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //Pop Up Data Detail
    $("#btnmatjual").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.itemseq,
                        val.itemcode,
                        val.itemdesc,
                        val.itemunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var tgl = $("#createtime").val();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.itemoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        rabseq: id,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemdesc: alldata.itemdesc,
                        rabunitoid: alldata.itemunitoid,
                        rabunit: alldata.itemunit
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.itemcode,
                        alldata.itemdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabqty-' + id + '" name="rabqty-' + id + '" value="0" onblur="hitung(' + id + ')" >',
                        alldata.itemunit,
                         '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabprice-' + id + '" name="rabprice-' + id + '" value="0" onblur="hitung(' + id + ')" >',
                         '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabdtlamt-' + id + '" name="rabdtlamt-' + id + '" readonly="" value="0">',
                         '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabtaxvalue-' + id + '" name="rabtaxvalue-' + id + '" readonly="" value="10">',
                         '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabtaxamt-' + id + '" name="rabtaxamt-' + id + '" readonly="" value="0">',
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabpphvalue-' + id + '" name="rabpphvalue-' + id + '" value="1.5" onblur="hitung(' + id + ')" >',
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabpphamt-' + id + '" name="rabpphamt-' + id + '" value="0" readonly="" >',
                         '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabdtlnetto-' + id + '" name="rabdtlnetto-' + id + '" readonly="" value="0">',
                         //'<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="rabongkiramt-' + id + '" name="rabongkiramt-' + id + '" value="0">',
                         '<input type="text" class="form-control datepicker" style="max-width: 80px" id="rabetd-' + id + '" name="rabetd-' + id + '" value="">',
                         '<select class = "form-control select2" id ="rablocoid-' + id + '">' + $("#markup").val() + '</select> ',
                         '<input type="text" class="form-control" style="max-width: 150px" id="rabdtlnote-' + id + '" name="rabdtlnote-' + id + '" value="">',
                         '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    tglIndo(tgl, '.datepicker');
                    $("#DataDtl .select2").select2();
                }
            }
        })
        SetDataDtl($('#uid').val());
        SumAmtJual();
    }

    function IsOnDtl(itemoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid) {
                return true;
            }
        }
        return false;
    }

    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }

    function hitung(id) {
        var qty = removeCommas($('#soitemqty-' + id + '').val());
        var price = removeCommas($('#soitemprice-' + id + '').val());
        var taxvalue = removeCommas($('#soitemdtltaxvalue-' + id + '').val());
        //var pphvalue = $('#soitemdtlpphvalue-' + id + '').val();
        var dpp = parseFloat(qty * price);
        var taxamt = 0.0;
        //var pphamt = 0.0;
        if (taxvalue > 0) {
            taxamt = parseFloat(dpp * (taxvalue / 100));
        }
        //if (pphvalue > 0) {
        //    pphamt = parseFloat(dpp * (pphvalue / 100));
        //}
        var netto = dpp + taxamt;//- pphamt;
        $('#soitemdtlamt-' + id + '').val(addCommas(dpp));
        $('#soitemdtltaxamt-' + id + '').val(addCommas(taxamt));
        //$('#soitemdtlpphamt-' + id + '').val(pphamt);
        $('#soitemdtlnetto-' + id + '').val(addCommas(Math.round(netto)));
        SumAmtJual();
    }

    function SumAmtJual() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0; var taxamt = 0.0; var pphamt = 0.0; var netto = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var soitemdtlamt = removeCommas(table.$("#soitemdtlamt-" + alldata.soitemdtlseq).val());
            var soitemdtltaxamt = removeCommas(table.$("#soitemdtltaxamt-" + alldata.soitemdtlseq).val());
            //var soitemdtlpphamt_id = "#soitemdtlpphamt-" + (i + 1);
            var soitemdtlnetto = removeCommas(table.$("#soitemdtlnetto-" + alldata.soitemdtlseq).val());

            amt += parseFloat(soitemdtlamt);
            taxamt += parseFloat(soitemdtltaxamt);
            //pphamt += parseFloat(table.$(soitemdtlpphamt_id).val());
            netto += parseFloat(soitemdtlnetto);
        }
        $('#soitemtotalamt').val(addCommas(amt));
        $('#soitemtotalamtidr').val(addCommas(amt));
        $('#soitemtotaltaxamt').val(addCommas(taxamt));
        $('#soitemtotaltaxamtidr').val(addCommas(taxamt));
        //$('#soitemtotalpphamt').val(pphamt);
        //$('#soitemtotalpphamtidr').val(pphamt);
        $('#soitemtotalnetto').val(addCommas(Math.round(netto)));
        $('#soitemgrandtotalamt').val(addCommas(Math.round(netto)));
        $('#soitemgrandtotalamtidr').val(addCommas(Math.round(netto)));
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var soitemqty = removeCommas(table.$("#soitemqty-" + alldata.soitemdtlseq).val());
            var soitemprice = removeCommas(table.$("#soitemprice-" + alldata.soitemdtlseq).val());
            var soitemdtlamt = removeCommas(table.$("#soitemdtlamt-" + alldata.soitemdtlseq).val());
            var soitemdtltaxvalue = removeCommas(table.$("#soitemdtltaxvalue-" + alldata.soitemdtlseq).val());
            var soitemdtltaxamt = removeCommas(table.$("#soitemdtltaxamt-" + alldata.soitemdtlseq).val());
            //var soitemdtlpphvalue = table.$(soitemdtlpphvalue_id).val();
            //var soitemdtlpphamt = table.$(soitemdtlpphamt_id).val();
            var soitemdtlnetto = removeCommas(table.$("#soitemdtlnetto-" + alldata.soitemdtlseq).val());
            //var soitemdtlongkiramt = table.$(soitemdtlongkiramt_id).val();
            var soitemdtletd = table.$("#soitemdtletd-" + alldata.soitemdtlseq).val();
            var soitemdtlocoid = table.$("#soitemdtllocoid-" + alldata.soitemdtlseq).val();
            var soitemdtlnote = table.$("#soitemdtlnote-" + alldata.soitemdtlseq).val();
            var obj = {
                soitemdtlseq: i + 1,
                rabdtloid: alldata.rabdtloid,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                soitemunit: alldata.soitemunit,
                soitemunitoid: alldata.soitemunitoid,
                soitemqty: soitemqty,
                soitemprice: soitemprice,
                soitemdtlamt: soitemdtlamt,
                soitemdtltaxvalue: soitemdtltaxvalue,
                soitemdtltaxamt: soitemdtltaxamt,
                //soitemdtlpphvalue: soitemdtlpphvalue,
                //soitemdtlpphamt: soitemdtlpphamt,
                soitemdtlnetto: soitemdtlnetto,
                //soitemdtlongkiramt: soitemdtlongkiramt,
                soitemdtletdstr: soitemdtletd,
                soitemdtllocoid: soitemdtlocoid,
                soitemdtlnote: soitemdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function IsOnDtl2(itemoid) {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid) {
                return true;
            }
        }
        return false;
    }


    $("#btnSave").click(function () {
        $('#soitemtotalamt').val(removeCommas($('#soitemtotalamt').val()));
        $('#soitemtotalamtidr').val(removeCommas($('#soitemtotalamtidr').val()));
        $('#soitemtotaltaxamt').val(removeCommas($('#soitemtotaltaxamt').val()));
        $('#soitemtotaltaxamtidr').val(removeCommas($('#soitemtotaltaxamtidr').val()));
        $('#soitemtotalnetto').val(removeCommas($('#soitemtotalnetto').val()));
        $('#soitemgrandtotalamt').val(removeCommas($('#soitemgrandtotalamt').val()));
        $('#soitemgrandtotalamtidr').val(removeCommas($('#soitemgrandtotalamtidr').val()));
        SetDataDtl($('#uid').val());
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
					$("#soitemmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    function clickDelete() {
        var oid = $("#soitemmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

    function FillDDLGudang() {
        var markup = "";
        var url = "@(Url.Action("InitDDLGudang"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
    }

    function FillDDLAlamatSupp() {
        var markup = "";
        var url = "@(Url.Action("InitDDLAlamatSupp"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
    }

    function initDDLprab() {
        var ddl = $("input:radio[name=rabtypereq]:checked").val();
        if (ddl == "None"){
            $("#lblprab").hide(); $("#divprab").hide();
        } else {
            $("#lblprab").show(); $("#divprab").show();
        }
    }

    /*--> Upload Files*/
    $('#fileBrowse').on('click', function () {
        $("#fileUpload").click();
    });
    $('#fileRemove').on('click', function () {
        $("#soitemcustdoc").val("");
        showFileDownload();
    });
    var url_UploadFile = "@(Url.Action("UploadFile"))";
    $('#fileUpload').on('change', function (e) {
        var files = e.target.files;

        $('#fileBrowse').find('i').removeClass('fa-folder-open');
        $('#fileBrowse').find('i').addClass('fa-spinner fa-spin');
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                $.ajax({
                    type: "POST",
                    url: url_UploadFile,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        $('#fileBrowse').find('i').removeClass('fa-spinner fa-spin');
                        $('#fileBrowse').find('i').addClass('fa-folder-open');
                        if (data.result == "Sukses") {
                            $('#soitemcustdoc').val(data.filepath);
                            $('#fileUpload').val("");
                            showFileDownload();
                        } else {
                            Swal('Error!', data.result, 'error')
                        }
                    },
                    error: function (err) {
                        $('#fileBrowse').find('i').removeClass('fa-spinner fa-spin');
                        $('#fileBrowse').find('i').addClass('fa-folder-open');
                        console.log(err);
                    }
                });
            } else {
                alert("Browser yang Anda gunakan tidak support HTML5 file uploads. Silahkan gunakan browser lainnya!");
            }
        } else {
            Swal('Peringatan!', 'Pilih file terlebih dahulu!', 'warning')
        }
    });
    function showFileDownload(){
        var filepath = $('#soitemcustdoc').val();
        if(filepath != ""){
            $('#fileDownload').attr('href', getfilehref(filepath));
            $('#fileDownload').html(getfilename(filepath));
            $('#fileDownload').show();
            $('#fileRemove').show();
        }else{
            $('#fileDownload').attr('href', "");
            $('#fileDownload').hide();
        }
    }

    function getfilehref(filepath, parameter) {
        var href = '#'
        if (parameter == null)
            parameter = moment().format('MMDDYYYY_HHmmss');
        if (filepath != '' & filepath != null) {
            href = "@(Url.Content("~/"))" + filepath.replace('~/', '') + "?" + parameter;
            }
        return href;
    }
    function getfilename(filepath){
        var filename = '';
        if (filepath != '' & filepath != null) {
            filename = filepath.replace(/^.*[\\\/]/, '')
        }
        return filename;
    }
    /*<-- End Upload Files*/
</script>
