﻿@model APIS_WB.Models.DB.QL_trncheckttmst 

@{
    ViewBag.Title = "Tanda Terima TT";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Tanda Terima TT
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Header Tanda Terima TT</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.checkttmstoid)
                        @Html.HiddenFor(model => model.checkttmststatus)
                        @Html.HiddenFor(model => model.checkttdate) 
                        @Html.HiddenFor(model => model.checkttdate2)        
                        @Html.HiddenFor(model => model.checkttduedate)                   
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("poitemmstoid")
                        @Html.Hidden("gnother1")
                        @Html.Hidden("action")
                        @Html.Hidden("markup")                        
                        <div class="container-fluid">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                        </div>

                        @*===== Baris ke 1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Tukar Tagihan <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.checkttno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.checkttno, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tanggal <label class="text-red">*</label></label>
                            <div class="col-sm-4">                                
                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                                @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })  
                        </div>

                        @*===== Baris ke 2 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "", @onchange = "FillDueDate()" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.checkttdate, "", new { @class = "text-danger" })
                            </div> 
                            <label class="col-md-2 control-label">Tipe Pembayaran </label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.tipebayar, new List<SelectListItem>
                                {
                                    new SelectListItem { Text="Transfer", Value="Transfer" },
                                    new SelectListItem { Text="Tunai", Value="Tunai" },
                                    new SelectListItem { Text="Giro", Value="Giro" }
                                }, new { @class = "form-control select2", @required = "" })
                                @Html.ValidationMessageFor(model => model.tipebayar, "", new { @class = "text-danger" })
                            </div>                           
                        </div>

                        @*===== Baris ke 2 =====*@
                        @*<div class="form-group">                            
                            
                        </div>*@

                        @*===== Baris ke 3 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Supplier <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.suppoid)
                                </div>
                                @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Sales Supplier <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("suppsalesname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchsuppsales" class="btn btn-flat" data-toggle="modal" data-target="#modal-suppsales">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.suppsalesoid)
                                </div>
                                @Html.ValidationMessageFor(model => model.suppsalesoid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 3.1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Pengakuan JT <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.Editor("supppengakuan", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                            </div>
                            <label class="col-sm-2 control-label">Tgl. Pengakuan<label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.Editor("tgldate2", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.checkttdate2, "", new { @class = "text-danger" })
                        </div>

                        @*===== Baris ke 4 =====*@
                        <div class="form-group">                        
                            <label class="col-sm-2 control-label">TOP</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.checkttpaytypeoid, null, new { @class = "form-control select2", @readonly = "" })
                                @Html.ValidationMessageFor(model => model.checkttpaytypeoid, "", new { @class = "text-danger" })
                            </div>
                            
                            <label class="col-sm-2 control-label">Tgl. Jatuh Tempo<label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.Editor("tgldue", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.checkttduedate, "", new { @class = "text-danger" })
                        </div>                        
                        
                        @*===== Baris ke 10 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total Pembayaran</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.checkttgrandtotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.checkttgrandtotal, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Kelengkapan</label>
                            <div class="col-sm-4">
                                @Html.RadioButtonFor(model => model.checktttype, "Lengkap", new { @checked = "checked", @required = "" })
                                Lengkap
                                @Html.RadioButtonFor(model => model.checktttype, "Belum Lengkap", new { @required = "" })
                                Belum Lengkap
                                @Html.ValidationMessageFor(model => model.checktttype, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*==== Baris ke 11 ====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Catatan</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.checkttnote, new { @class = "form-control", @type = "text", @maxlength = "200" })
                                @Html.ValidationMessageFor(model => model.checkttnote, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">                                
                                @Html.EditorFor(model => model.checkttmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "", @Value = Model.checkttmststatus } }) 
                            </div>
                        </div>                                                      

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h4 class="box-title"><strong>Detail Tanda Terima TT</strong></h4>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">No. Purchase Order</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("poitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnseacrhpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.Hidden("mrmstoid")
                                        @Html.Hidden("mrdate")
                                        @Html.Hidden("poitemmstoid")
                                        @Html.Hidden("potype")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr role="row">
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>No. Faktur</th>
                                            <th>Nominal</th>
                                            <th>Kelengkapan</th>
                                            <th>Faktur Pajak</th>
                                            <th>Kwitansi</th>
                                            <th>SJ</th>
                                            <th>No. PB</th>
                                            <th>No. PO</th>
                                            <th>No. SO</th>
                                            <th>No. RAB</th>
                                            <th>Catatan</th>
                                            <th>Opsi</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@

                    </div><!-- /.container-fluid -->
            </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                        <div class="pull-right">  
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                if (@Model.checkttmststatus == "Post" | @Model.checkttmststatus == "Closed")
                                {
                                    <button type="button" class="btn btn-success btn-md" id="btnSaveRev"><b>Revisi</b></button>
                                }
                                if (@Model.checkttmststatus == "In Process" | @Model.checkttmststatus == "Revised")
                                {
                            <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                            <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                        }
                                    }
                                }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM mr *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Penerimaan Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Penerimaan</th>
                                    <th>Tgl. Penerimaan</th>
                                    <th>No. Purchase Order</th>
                                    <th>Tgl. Purchase Order</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SHIPMENT *@
    

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@    
    
    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-suppsales">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSuppSales" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Nama</th>
                                    <th>No. HP</th>
                                    <th>Email</th>
                                    <th>Jabatan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@  
    

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-matBeli">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        $("#tblModalPO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPO = $("#tblModalPO").DataTable();
        tblModalPO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#poitemno").val(alldata.poitemno);
            $("#poitemmstoid").val(alldata.poitemmstoid);
            $("#mrmstoid").val(alldata.mrmstoid);
            $("#mrdate").val(alldata.mrdate);
            $("#potype").val(alldata.potype);
            GetDetailData();
            $('#modal-po').modal('hide');
        });

        var tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#checkttpaytypeoid").val(alldata.supppaymentoid).trigger('change');
            $("#gnother1").val(alldata.gnother1);
            $("#supppengakuan").val(alldata.supppengakuan);
            $('#tgldue').val(moment(alldata.duedate).format('DD/MM/YYYY'));
            $('#modal-supp').modal('hide');
        });

        var tblModalSuppSales = $("#tblModalSuppSales").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSuppSales.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSuppSales.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppsalesname").val(alldata.suppsalesname);
            $("#suppsalesoid").val(alldata.suppsalesoid);
            $('#modal-suppsales').modal('hide');
        });

        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[0];
            table.row($tr).remove().draw();
            setDataDtl(); FillDetailData();
            var data = table.rows().data();

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = table1.row(i).data();
                    temp[0] = i + 1;
                    table1.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            CountHdrAmount();
            EnabledHeader();
        });

        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });


        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#checkttdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#checkttduedate").val();
        } else {
            tgl3 = $("#createtime").val();
        }
        $('#tgldue').val(moment(tgl3).format('DD/MM/YYYY'));
        var tgl4 = "";
        if ($('#action').val() == "Edit") {
            tgl4 = $("#checkttdate2").val();
        } else {
            tgl4 = $("#createtime").val();
        }
        $('#tgldate2').val(moment(tgl4).format('DD/MM/YYYY'));

        FillDetailData();
        fillRate();
        //FillDDLFA();

        $('#checkttgrandtotal').val(addCommas($('#checkttgrandtotal').val()))
    })

    function fillRate() {
        if ($("#curroid").val() == 1)
        {
            $("#checkttrate2toidr").val(1)
        }
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.checkttdtlseq,
                    '<input type="text" class="form-control" style="max-width: 150px" id="apitemno-' + val.checkttdtlseq + '" name="apitemno-' + val.checkttdtlseq + '" value="' + (val.apitemno == null ? "" : val.apitemno) + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 150px" id="poitemgrandtotal-' + val.checkttdtlseq + '" name="poitemgrandtotal-' + val.checkttdtlseq + '" value="' + addCommas(val.poitemgrandtotal) + '" onblur="hitung(' + val.checkttdtlseq + ')">',
                    '<select class = "form-control" id="checkttlengkap-' + val.checkttdtlseq + '"> <option value="Asli">Asli</option> <option value="Copy">Copy</option> <option value="None">None</option> </select> ',
                        '<select class = "form-control" id="checkttfaktur-' + val.checkttdtlseq + '"> <option value="Asli">Asli</option> <option value="Copy">Copy</option> <option value="None">None</option> </select> ',
                        '<select class = "form-control" id="checkttkwitansi-' + val.checkttdtlseq + '"> <option value="Asli">Asli</option> <option value="Copy">Copy</option> <option value="None">None</option> </select> ',
                        '<select class = "form-control" id="checkttsj-' + val.checkttdtlseq + '"> <option value="Asli">Asli</option> <option value="Copy">Copy</option> <option value="None">None</option> </select> ',
                    val.mrno,
                    val.poitemno,
                    val.soitemno,
                    val.rabno,
                    '<input type="text" class="form-control" style="max-width: 150px" id="checkttdtlnote-' + val.checkttdtlseq + '" name="checkttdtlnote-' + val.checkttdtlseq + '" value="' + (val.checkttdtlnote == null ? "" : val.checkttdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
                $("#DataDtl .select2").select2();
                $.each(data, function (key, val) {
                    $("#checkttlengkap-" + val.checkttdtlseq + "").val(val.checkttlengkap).trigger("change");
                    $("#checkttfaktur-" + val.checkttdtlseq + "").val(val.checkttfaktur).trigger("change");
                    $("#checkttkwitansi-" + val.checkttdtlseq + "").val(val.checkttkwitansi).trigger("change");
                    $("#checkttsj-" + val.checkttdtlseq + "").val(val.checkttsj).trigger("change");
                });
            }, 100);
        });
    }

    function GetDetailData() {
        var url = "@(Url.Action("GetDetailData"))";
        var mrmstoid = $("#mrmstoid").val();
        var mrdate = $("#mrdate").val();
        var poitemmstoid = $("#poitemmstoid").val();
        var potype = $("#potype").val();
        var pengakuan = $("#supppengakuan").val();
        var table = $('#DataDtl').DataTable();
        if (pengakuan == "Penerimaan") {
            if (table != null) {
                data = table.rows().data();
                if (data.length > 0) {
                    Swal({
                        title: 'WARNING!',
                        text: 'Tipe Penerimaan, Data Detail Tidak Boleh Lebih Dari 1!',
                        type: 'warning'
                    });
                    ClearDetail();
                    return false;
                }
            }
        }

        $.ajax({
            url: url,
            data: { mrmstoid: mrmstoid, poitemmstoid: poitemmstoid, potype: potype },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    if (!IsOnDtl(val.mrmstoid)) {
                        var id = table.rows().data().length + 1;
                        val.checkttdtlseq = id;
                        rows.push([
                            JSON.stringify(val),
                            id,
                            '<input type="text" class="form-control" style="max-width: 150px" id="apitemno-' + id + '" name="apitemno-' + id + '" value="' + (val.apitemno == null ? "" : val.apitemno) + '">',
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 150px" id="poitemgrandtotal-' + id + '" name="poitemgrandtotal-' + id + '" value="' + addCommas(val.poitemgrandtotal) + '" onblur="hitung(' + id + ')">',
                            '<select class = "form-control" id="checkttlengkap-' + id + '"> <option value="Asli">Asli</option> <option value="Copy">Copy</option> <option value="None">None</option> </select> ',
                            '<select class = "form-control" id="checkttfaktur-' + id + '"> <option value="Asli">Asli</option> <option value="Copy">Copy</option> <option value="None">None</option> </select> ',
                            '<select class = "form-control" id="checkttkwitansi-' + id + '"> <option value="Asli">Asli</option> <option value="Copy">Copy</option> <option value="None">None</option> </select> ',
                            '<select class = "form-control" id="checkttsj-' + id + '"> <option value="Asli">Asli</option> <option value="Copy">Copy</option> <option value="None">None</option> </select> ',
                            val.mrno,
                            val.poitemno,
                            val.soitemno,
                            val.rabno,
                            '<input type="text" class="form-control" style="max-width: 150px" id="checkttdtlnote-' + id + '" name="checkttdtlnote-' + id + '" value="' + (val.checkttdtlnote == null ? "" : val.checkttdtlnote) + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                    ClearDetail();
                    CountHdrAmount();
                    if (pengakuan == "Penerimaan") {
                        $("#tgldate2").val(mrdate);
                        FillDueDate();
                    }
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }

    //Pop Up Data Header

    $("#btnseacrhpo").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Silahkan pilih Supplier terlebih dahulu!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalPO').DataTable();
            var suppoid = $('#suppoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetPOData"))",
                data: { suppoid: suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.mrno,
                        val.mrdate,
                        val.poitemno,
                        moment(jsDate(val.poitemdate)).format('DD/MM/YYYY'),
                        val.poitemmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var checkttmstoid = $("#checkttmstoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            data: { checkttmstoid: checkttmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchsuppsales").click(function () {
        var table = $('#tblModalSuppSales').DataTable();
        var suppoid = $("#suppoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppSalesData"))",
            data: { suppoid: suppoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.suppsalesname,
                    val.suppsalesphone,
                    val.suppsalesemail,
                    val.suppsalesjabatan
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    //Pop Up Data Detail
    $("#btnmatBeli").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.itemseq,
                        val.itemcode,
                        val.itemdesc,
                        val.itemunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });


    function IsOnDtl(mrmstoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (mrmstoid == alldata.mrmstoid) {
                return true;
            }
        }
        return false;
    }

    function hitung(id) {
        removeCommas($('#poitemgrandtotal-' + id + '').val());
        CountHdrAmount();
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var poitemgrandtotal = removeCommas(table.$("#poitemgrandtotal-" + (i + 1)).val());
            amt += parseFloat(poitemgrandtotal);
        }

        $('#checkttgrandtotal').val(addCommas(amt));
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#btnsearchsupp").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#poitemno").val("");
        $("#poitemmstoid").val("");
        $("#mrmstoid").val("");
        $("#mrdate").val("");
    }

    function SumAmtBeli() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0; var taxamt = 0.0; var pphamt = 0.0; var bruto = 0.0; var netto = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var checkttdtlamt_id = "#checkttdtlamt-" + (i + 1);
            var checkttdtltaxamt_id = "#checkttdtltaxamt-" + (i + 1);
            var checkttdtlnetto_id = "#checkttdtlnetto-" + (i + 1);

            amt += parseFloat(table.$(checkttdtlamt_id).val());
            taxamt += parseFloat(table.$(checkttdtltaxamt_id).val());
            bruto += parseFloat(table.$(checkttdtlnetto_id).val());
        }
        $('#checktttotalamt').val(amt);
        $('#checktttaxamt').val(taxamt);
        $('#checktttotalnetto').val(amt);
        $('#checkttgrandtotal').val(amt+ taxamt);
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);

            var apitemno = table.$("#apitemno-" + alldata.checkttdtlseq).val();
            var poitemgrandtotal = removeCommas(table.$("#poitemgrandtotal-" + alldata.checkttdtlseq).val());
            var checkttlengkap = table.$("#checkttlengkap-" + alldata.checkttdtlseq).val();
            var checkttfaktur = table.$("#checkttfaktur-" + alldata.checkttdtlseq).val();
            var checkttkwitansi = table.$("#checkttkwitansi-" + alldata.checkttdtlseq).val();
            var checkttsj = table.$("#checkttsj-" + alldata.checkttdtlseq).val();
            var checkttdtlnote = table.$("#checkttdtlnote-" + alldata.checkttdtlseq).val();
            var obj = {
                checkttdtlseq: i + 1,
                checkttdtloid: alldata.checkttdtloid,
                apitemno: apitemno,
                checkttlengkap: checkttlengkap,
                checkttfaktur: checkttfaktur,
                checkttkwitansi: checkttkwitansi,
                checkttsj: checkttsj,
                mrmstoid: alldata.mrmstoid,
                mrno: alldata.mrno,
                poitemmstoid: alldata.poitemmstoid,
                poitemno: alldata.poitemno,
                potype: alldata.potype,
                soitemmstoid: alldata.soitemmstoid,
                soitemno: alldata.soitemno,
                rabmstoid: alldata.rabmstoid,
                rabno: alldata.rabno,
                checkttdtlnote: checkttdtlnote,
                poitemgrandtotal: poitemgrandtotal
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }


    $("#btnSave").click(function () {
        $('#checkttgrandtotal').val(removeCommas($('#checkttgrandtotal').val()))
        SetDataDtl();
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#checkttmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    function clickDelete() {
        var oid = $("#checkttmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

     function FillDueDate() {
         var markup = "";
         var paytype = $("#gnother1").val();
         var tgldue = $("#tglmst").val();
         var pengakuan = $("#supppengakuan").val();
         if (pengakuan == "Penerimaan") {
             tgldue = $("#tgldate2").val();
         }
         var url = "@(Url.Action("InitDueDate"))";
         $.ajax({
            data: { paytype: paytype, tgldue: tgldue},
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#tgldue").val(moment(jsDate(val.duedate)).format('DD/MM/YYYY'));
                    });
                    $("#tgldate2").val(tgldue);
                }
            }
        });
    }

    function FillDDLFA() {
        var faoid = $("#faoid");
        var faoid_sel = $("#faoid option:selected").val();
        faoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("GetFAData"))",
            cache: false,
            type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.faoid + "\'>" + val.fakturno + "</option>";
                    if (val.faoid == faoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                faoid.html(markup).show();
                if (isExist == true) {
                    faoid.val(faoid_sel);
                }
                faoid.trigger('change');
            } else {
                faoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDDLAlamatSupp() {
        var markup = "";
        var url = "@(Url.Action("InitDDLAlamatSupp"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
    }

    $("#btnSaveRev").click(function () {
        SetDataDtl();
        var oid = $("#checkttmstoid").val();
        var type = $("input:radio[name=checktttype]:checked").val();
        var note = $("#checkttnote").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Revise this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Save this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveRev"))",
                    data: { __RequestVerificationToken: token, id: oid, type: type, note: note },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Revised!',
                            'Data has been Revised!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Revised data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });
</script>
