﻿@model APIS_WB.Models.DB.QL_trnarupdmst

@{
    ViewBag.Title = "Update Piutang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Update Piutang
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Update Piutang</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">No. Draft <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.arupdmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.arupdmstoid, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Tanggal <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">No. FJ</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("aritemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.HiddenFor(model => model.aritemmstoid)
                                        @Html.HiddenFor(model => model.soitemmstoid)
                                        @Html.HiddenFor(model => model.rabmstoid)
                                    </div>
                                    @Html.ValidationMessageFor(model => model.aritemmstoid, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Tgl FJ</label>
                                <div class="col-sm-4">
                                    @Html.Editor("aritemdate", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Customer</label>
                                <div class="col-sm-4">
                                    @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                </div>

                                <label class="col-sm-2 control-label">Project</label>
                                <div class="col-sm-4">
                                    @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">No. SO</label>
                                <div class="col-sm-4">
                                    @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                </div>

                                <label class="col-sm-2 control-label">Tgl SO</label>
                                <div class="col-sm-4">
                                    @Html.Editor("soitemdate", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                </div>
                            </div>
                        </div>

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h3 class="box-title">Detail Update Piutang</h3>
                        </div>
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="row" style="display:none">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Tanggal</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.Editor("tgldtl", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>     
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Keterangan</label>
                                            <div class="col-md-8">
                                                @Html.TextArea("notedtl", new { @class = "form-control", @type = "text", @maxlength = "200" })
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <button type="button" class="btn btn-primary" id="btnAddToList"><b>Tambah</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>Tanggal</th>
                                            <th>Keterangan</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }

                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Batal</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @*<button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>*@
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Divisi</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th> 
                                    <th>No.</th>                     
                                    <th>Kode</th>
                                    <th>Nama</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary btn-md" onclick="AddToDetail()" data-dismiss="modal">Tambahkan</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data FJ</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. FJ</th>
                                    <th>Tgl FJ</th>
                                    <th>Customer</th>
                                    <th>Project</th>
                                    <th>No. SO</th>
                                    <th>Tgl SO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@

    

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var tblModalRAB = $("#tblModalRAB").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#aritemmstoid").val(alldata.aritemmstoid);
            $("#aritemno").val(alldata.aritemno);
            $("#aritemdate").val(alldata.aritemdate);
            $("#soitemmstoid").val(alldata.soitemmstoid);
            $("#soitemno").val(alldata.soitemno);
            $("#soitemdate").val(alldata.soitemdate);
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#projectname").val(alldata.projectname);
            $("#custname").val(alldata.custname);
            $('#modal-rab').modal('hide');
        });

        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalReq").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#updtime").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.arupddtlseq,
                    '<input type="text" class="form-control datepicker" style="max-width: 150px" id="arupddtldate-' + val.arupddtlseq + '" name="arupddtldate-' + val.arupddtlseq + '" value="' + val.arupddtldate + '">',
                    '<textarea class="form-control" style="max-width: 500px" id="arupddtlnote-' + val.arupddtlseq + '" name="arupddtlnote-' + val.arupddtlseq + '" cols="100">' + val.arupddtlnote + '</textarea>',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                a = $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true
                });
            }, 100);
        });
    }

    $("#btnsearchrab").click(function () {
        var table = $('#tblModalRAB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.aritemno,
                        val.aritemdate,
                        val.custname,
                        val.projectname,
                        val.soitemno,
                        val.soitemdate
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnAddToList").click(function () {
        if ($("#aritemno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please Fill No FJ!',
                type: 'warning'
            });
            return false;
        } else {
            var tgldtl = $('#tgldtl').val();
            var notedtl = $('#notedtl').val();
            var tgl = $("#createtime").val();
            var table = $('#DataDtl').DataTable();
            var rows = [];
            var id = table.rows().data().length + 1;
            var obj = {
                arupddtlseq: id,
                arupddtldate: "",
                arupddtlnote: ""
            }
            rows.push([
                JSON.stringify(obj),
                id,
                '<input type="text" class="form-control datepicker-' + id + '" style="max-width: 150px" id="arupddtldate-' + id + '" name="arupddtldate-' + id + '" value="">',
                '<textarea class="form-control" style="max-width: 500px" id="arupddtlnote-' + id + '" name="arupddtlnote-' + id + '" cols="100"></textarea>',
                '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
            ]);
            table.rows.add(rows).draw();
            tglIndo(tgl, '.datepicker-' + id);
            $("#notedtl").val('');
        }
        SetDataDtl();
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.deptoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        groupdtlseq: id,
                        deptoid: alldata.deptoid,
                        deptcode: alldata.deptcode,
                        deptname: alldata.deptname
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.deptcode,
                        alldata.deptname,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(deptoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (deptoid == alldata.deptoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.arupddtldate = table.$("#arupddtldate-" + alldata.arupddtlseq).val();
            alldata.arupddtlnote = table.$("#arupddtlnote-" + alldata.arupddtlseq).val();
            alldata.arupddtlseq = i + 1;
            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    function clickDelete() {
        var oid = $("#deptoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
</script>
