﻿@{
    ViewBag.Title = "Laporan Purchase Order Status PB Price";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan Purchase Order Status PB Price</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "POStatus2Report"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Summary PO", Value = "Summary PO" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },
                                            new SelectListItem { Text="In Approval", Value="In Approval", Selected=true },
                                            new SelectListItem { Text="Approved", Value="Approved", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true },
                                            new SelectListItem { Text="Revised", Value="Revised", Selected=true },
                                            new SelectListItem { Text="Rejected", Value="Rejected", Selected=true },
                                            new SelectListItem { Text="Cancel", Value="Cancel", Selected=true }
                                        }, new { @class = "form-control select2", @multiple = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "Tgl Transaksi", Value = "tbl.approvaldatetime" },
                                        new SelectListItem { Text = "Tgl Dokumen", Value = "tbl.podate" }
                                    }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                            <label class="col-md-4 control-label">Supplier</label>                                            
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextSupp", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-link" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. PKM</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextPKM", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpkm" class="btn btn-link" data-toggle="modal" data-target="#modal-pkm">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLNomorPO", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "PO No.", Value = "tbl.pono" },
                                                new SelectListItem { Text = "Draft No.", Value = "tbl.pomstoid" }
                                            }, new { @class = "form-control select2" })
                                        </div>

                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomorPO", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-link" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">                                

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. SO</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomorRAB", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrab" class="btn btn-link" data-toggle="modal" data-target="#modal-rab">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                  <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6" id="divgroup" style="display: none;"> 
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Group</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLGroup", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Supplier", Value="Supplier" }
                                                //new SelectListItem { Text="Departement", Value="Departement" },
                                                //new SelectListItem { Text="Gudang", Value="Gudang" },
                                                //new SelectListItem { Text="Barang", Value="Barang" }
                                            }, new { @class = "form-control select2" })
                                        </div> 
                                    </div>
                                </div>

                                <div class="col-md-6" id="divsort" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sorting</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="PO No.", Value="tbl.pono" },
                                        new SelectListItem { Text="Tgl Transaksi", Value="tbl.approvaldatetime" },
                                        new SelectListItem { Text="Tgl Dokumen", Value="tbl.podate" }
                                    }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text="ASC", Value="ASC" },
                                        new SelectListItem { Text="DESC", Value="DESC" }
                                    }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                            </div> 

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales Order</h4>
                    @Html.Hidden("total-rab")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterRAB()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@

    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Purchas Order</h4>
                    @Html.Hidden("total-po")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                    @Html.Hidden("total-supp")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@  
    
    @* MODAL UNTUK PKM *@
    <div class="modal fade" id="modal-pkm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Project (PKM)</h4>
                    @Html.Hidden("total-pkm")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalpkm" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPKM()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PKM *@
      

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var markupsort = "<option value=\'tbl.pono\'>PO. NO</option><option value=\'tbl.approvaldatetime\'>Tgl Transaksi</option><option value=\'tbl.podate\'>Tgl Dokumen</option></option>";
        if (type == "Summary")
        {
            $('#divfordtl').hide();
            $('#divsort').hide();
            $('#divgroup').hide();
        }
        else
        {
            $('#divgroup').show();
            $('#divsort').hide();
            $('#divfordtl').show();
            markupsort = "<option value=\'tbl.matlongdesc\'>Barang</option><option value=\'tbl.pono\'>PO No</option>";
        }
        $("#DDLSorting").html(markupsort).show();
    }

    $("#btnsearchpkm").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextSupp = $("#TextSupp").val();
        $.ajax({
            url     : "@(Url.Action("GetPkmData"))",
            data    : { DDLStatus: DDLStatus, TextSupp: TextSupp, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod }, 
            cache   : false,
            type    : "POST",
            success : function (data) {
                if (data.result == "") {
                    var table = $("#tblModalpkm").DataTable();
                    table.destroy();
                    $("#tblModalpkm").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-pkm').val(total);
                    if (total > 0) {
                        table = $("#tblModalpkm").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-pkm').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-pkm').modal('hide');
            }
        });
    });

    function AddToFilterPKM() {
        var ind = 2;
        if (parseInt($('#total-pkm').val()) > 0) {

            var result = $("#TextPKM").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalpkm').DataTable();
            var rowsel = table.column(0).checkboxes.selected();

            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });

            result = result.substring(0, result.length - 1);
            $("#TextPKM").val(result);
        }
    }

    $("#btnsearchsupp").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalSupp").DataTable();
                    table.destroy();
                    $("#tblModalSupp").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-supp').val(total);
                    if (total > 0) {
                        table = $("#tblModalSupp").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-supp').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-supp').modal('hide');
            }
        });
    });

    function AddToFilterCust() {
        var ind = 1;
        if (parseInt($('#total-supp').val()) > 0) {
            var result = $("#TextSupp").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSupp').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextSupp").val(result);
        }
    }

    $("#btnsearchpo").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextSupp = $("#TextSupp").val();
        var TextNomorRAB = $("#TextNomorRAB").val();
            $.ajax({
                url: "@(Url.Action("GetPOData"))",
                data: { DDLStatus: DDLStatus, TextSupp: TextSupp, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextNomorRAB, TextNomorRAB },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalPO").DataTable();
                    table.destroy();
                    $("#tblModalPO").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-po').val(total);
                    if (total > 0) {
                        table = $("#tblModalPO").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                },
                                {
                                    "targets": 1,
                                    "visible": false
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-po').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-po').modal('hide');
            }
        });
    });

    function AddToFilterPO() {
        var ind = 2;
        if ($("#DDLNomorPO option:selected").val() == "pom.poitemmstoid")
            ind = 1;
        if (parseInt($('#total-po').val()) > 0) {
            var result = $("#TextNomorPO").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalPO').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomorPO").val(result);
        }
    }

    $("#btnsearchrab").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextSupp = $("#TextSupp").val();
        var TextNomorRAB = $("#TextNomorRAB").val();

            $.ajax({
                url: "@(Url.Action("GetRABData"))",
                data: { DDLStatus: DDLStatus, TextSupp: TextSupp, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextNomorRAB: TextNomorRAB },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalRAB").DataTable();
                    table.destroy();
                    $("#tblModalRAB").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-rab').val(total);
                    if (total > 0) {
                        table = $("#tblModalRAB").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                },
                                {
                                    "targets": 1,
                                    "visible": false
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-rab').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-rab').modal('hide');
            }
        });
    });

    function AddToFilterRAB() {
        var ind = 2;        
        if (parseInt($('#total-rab').val()) > 0) {
            var result = $("#TextNomorRAB").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalRAB').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomorRAB").val(result);
        }
    }

    $("#btnsearchmat").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var TextSupp = $("#TextSupp").val();
        var DDLNomorPO = $("#DDLNomorPO option:selected").val();
        var TextNomorPO = $("#TextNomorPO").val();
        var TextNomorRAB = $("#TextNomorRAB").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { DDLStatus: DDLStatus, TextSupp: TextSupp, DDLNomorPO: DDLNomorPO, TextNomorPO: TextNomorPO, TextNomorRAB: TextNomorRAB, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalMat").DataTable();
                    table.destroy();
                    $("#tblModalMat").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-mat').val(total);
                    if (total > 0) {
                        table = $("#tblModalMat").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-mat').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-mat').modal('hide');
            }
        });
    });

    function AddToFilterMat() {
        var ind = 1;
        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var DDLType = $("#DDLType option:selected").val();
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextSupp = $("#TextSupp").val();
        var TextNomor = $("#TextNomor").val();
        var TextNomorPO = $("#TextNomorPO").val();
        var TextNomorRAB = $("#TextNomorRAB").val();
        var DDLNomorPO = $("#DDLNomorPO option:selected").val();
        var DDLNomor = $("#DDLNomor option:selected").val();
        var TextMaterial = $("#TextMaterial").val();
        var DDLSorting = $("#DDLSorting option:selected").val();
        var DDLSortDir = $("#DDLSortDir option:selected").val();
        var DDLGroup = $("#DDLGroup option:selected").val();
        var TextPKM = $("#TextPKM").val();
        var reporttype = "";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLType: DDLType, DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextSupp: TextSupp, TextNomor: TextNomor, DDLNomor: DDLNomor, TextMaterial: TextMaterial, DDLSorting: DDLSorting, DDLSortDir: DDLSortDir, reporttype: reporttype, TextNomorPO: TextNomorPO, DDLNomorPO: DDLNomorPO, TextNomorRAB: TextNomorRAB, TextPKM: TextPKM, DDLGroup: DDLGroup },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>