﻿@model IEnumerable<APIS_WB.Models.ViewModel.dtAppHeader>

@{
    ViewBag.Title = "Persetujuan Usulan Permintaan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Form Persetujuan Usulan Permintaan
    </h1>
    <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol> -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="box-header">
                        <h3 class="box-title"><b>Header</b></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Hidden("action")
                        @Html.Hidden("status")
                        @Html.Hidden("id")
                        @Html.Hidden("refname")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <table id="dtheader" class="table no-border">
                                        <tbody>
                                            @{
                                                int a = 0;
                                                foreach (var i in Model)
                                                {
                                                    a++;
                                                    <tr>
                                                        <td>@Html.DisplayFor(m => i.caption)</td>
                                                        <td>@Html.DisplayFor(m => i.sept)</td>
                                                        <td>@Html.DisplayFor(m => i.value)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-header">
                        <h3 class="box-title"><b>Detail</b></h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="dtdetail" class="table table-bordered table-striped"></table>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        @*<div class="pull-left">
                                Created by @(Html.DisplayFor(m => m.crtuser)) On @(Html.DisplayFor(m => m.crttime))
                                <br /> Last Update by @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))

                            </div>*@

                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Back</b></a>
                            <button type="button" class="btn btn-primary btn-md" onclick="approval('Approved')"><b>Approve</b></button>
                            <button type="button" class="btn btn-warning btn-md" onclick="approval('Revised')"><b>Revise</b></button>
                            <button type="button" class="btn btn-danger btn-md" onclick="approval('Rejected')"><b>Reject</b></button>
                            <button type="submit" class="btn btn-btn-md" id="btnsave" style="display:none"><b>Save</b></button>

                        </div>
                    </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>

    <!-- /.modal -->
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">

    var id = @ViewBag.id;
    var refname = "@ViewBag.refname";
    //var dtHeader=[];
    //var dtDetail=[];
    //var dtHeader=[];

    function approval(status) {
        $("#status").val(status);
        $("#btnsave").click();
    }


    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;//.format("mm/dd/yyyy HH:MM");
    }

    $(document).ready(function () {
        $.ajax({
            url: "@(Url.Action("getData"))",
            data: {id: id, refname: refname },
            cache: false,
            type: "POST",
            success: function (data) {
                var dtHeader = [];
                var i = 0;
                var COLUMNS = [];
                var ROWS = [];

                console.log(data);
                if (data.msg == ""){

                    var hidecolumn =[]
                    $.each(data.dtlHeader, function (key, val) {
                        var obj = {
                            title: val.caption
                        }
                        if (val.caption ==""){
                            hidecolumn.push(i);
                        }
                        i ++;
                        COLUMNS.push(obj);
                    });

                    $.each(data.dtDetail, function (key, val) {
                        var ROW = Object.values(val);
                        ROWS.push(ROW);
                    });
                    console.log(ROWS);


                    $('#dtdetail').dataTable({
                        "columns": COLUMNS,
                        "data": ROWS,
                        "ordering": false,
                        'searching': false,
                        'paging': false,
                        'info': false,
                        'autoWidth': false,
                        "columnDefs": [
                            { "targets": hidecolumn, "visible": false, "searchable": false }
                        ]
                    });

                }

            },
            error: function (err) {
                console.log(err);
            }
        });

        $('#dtheader').dataTable({

            "ordering": false,
            'searching': false,
            'paging': false,
            'info': false,
            'autoWidth': false,
            "columnDefs": [
                { className: "text-bold col-md-4", "targets": [0] },
                { className: "col-md-8", "targets": [2] }
            ],
            "drawCallback": function (settings) {
                $("#dtheader thead").hide();
            }
        });

    })
</script>

