﻿@model IEnumerable<APIS_WB.Models.DB.QL_t01UPM>

@{
    ViewBag.Title = "Persetujuan Usulan Permintaan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    APIS_WB.Models.DB.QL_APISEntities db = new APIS_WB.Models.DB.QL_APISEntities();
}

<section class="content-header">
    <h1>
        Data Usulan Permintaan yang Belum Disetujui
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>No. Form</th>
                                        <th>No. WO</th>
                                        <th>Tanggal</th>
                                        <th>Sifat</th>
                                        <th>Catatan</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.upmoid)&&isapp=true" class="text-primary">@Html.DisplayFor(m => i.upmno)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.upmwono)</td>
                                                <td>@(i.upmdate.ToString("dd MM yyyy"))</td>
                                                <td>@(db.QL_m05GN.Where(w => w.gnoid == i.upmtypeoid).FirstOrDefault().gndesc)</td>
                                                <td>@Html.DisplayFor(m => i.upmnote)</td>
                                                <td>@Html.DisplayFor(m => i.upmstatus)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
