﻿@model APIS_WB.Models.DB.QL_mstcust

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Customer</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Customer</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.custoid)
                        @Html.HiddenFor(model => model.custcategoryid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.Hidden("action")
                        @Html.Hidden("IsApp")
                        @Html.Hidden("markup")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "New Data" ? "Data Baru" : "Update Data" )</label>
                            </div>
                            @*===== Baris ke 1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode </label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.custcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.custcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.custcategory, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Government", Value="Government" },
                                                new SelectListItem { Text="BUMN", Value="BUMN" },
                                                new SelectListItem { Text="swasta", Value="swasta" },
                                                new SelectListItem { Text="perorangan", Value="perorangan" }
                                            }, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.custcategory, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kelompok </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.custcategory2, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Corporate", Value="Corporate" },
                                                new SelectListItem { Text="Individual", Value="Individual" }
                                            }, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.custcategory2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori </label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("catid", null, new { @class = "form-control select2", @multiple="" , @required = "" })
                                            @Html.ValidationMessageFor(model => model.custcategoryid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Customer<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.custname, new { @class = "form-control", @type = "text", @required = "", @maxlength = "200" })
                                            @Html.ValidationMessageFor(model => model.custname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">TOP </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.custpaymentoid, null, new { @id = "custpaymentoid", @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.custpaymentoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            @*===== Baris ke 3 =====*@                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.custaddr, new { @class = "form-control", @maxlength = "200" })
                                            @Html.ValidationMessageFor(model => model.custaddr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kode Pos</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.custpostcode, new { htmlAttributes = new { @class = "form-control"} })
                                            @Html.ValidationMessageFor(model => model.custpostcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            @*===== Baris ke 4 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Provinsi </label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.custprovinceoid, null, new { @id = "custprovinceoid", @class = "form-control select2", @required = "", @onchange = "provincechange()" })
                                            @Html.ValidationMessageFor(model => model.custprovinceoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kota </label>
                                        <div class="col-md-8">
                                           @Html.DropDownListFor(model => model.custcityoid, null, new { @class = "form-control select2", @required = "" })
                                        @Html.ValidationMessageFor(model => model.custcityoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            @*===== Baris ke 5 =====*@                                      
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 1<b style="color: red"> *</b></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custphone1, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.custphone1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Telp 2</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custphone2, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.custphone2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 6 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Fax</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custfax1, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                            @Html.ValidationMessageFor(model => model.custfax1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Email </label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custemail, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.custemail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 7 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Pajak</label>        
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.custtaxable, "1", new { @checked = "checked" })<b>Ada</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.custtaxable, "0")<b>Tidak</b></label>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custnpwpno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.custnpwpno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            @*===== Baris ke 8 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama NPWP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.custnpwp, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.custnpwp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat NPWP</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.custnpwpaddr, new { @class = "form-control", @type = "text", @maxlength = "200" })
                                            @Html.ValidationMessageFor(model => model.custnpwpaddr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            @*===== Baris ke 9 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto KTP </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewktpimage(this);" id="custktpimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.custktpimg)
                                            @Html.ValidationMessageFor(model => model.custktpimg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto NPWP </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewnpwpimage(this);" id="custnpwpimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.custnpwpimg)
                                            @Html.ValidationMessageFor(model => model.custnpwpimg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 10 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @{
                                                var src1 = Html.DisplayFor(m => m.custktpimg).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img id="custktpimg-preview" alt="your image" src="@Url.Content(src1)" style="max-width:200px; max-height:200px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @{
                                                var src2 = Html.DisplayFor(m => m.custnpwpimg).ToString();
                                                if (!File.Exists(Server.MapPath(src2)))
                                                {
                                                    src2 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img id="custnpwpimg-preview" alt="your image" src="@Url.Content(src2)" style="max-width:200px; max-height:200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 11 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.custnote, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.custnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status </label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Active", Value="Active" },
                                                new SelectListItem { Text="Inactive", Value="Inactive" }
                                            }, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessageFor(model => model.activeflag, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            
                            @*BAGIAN DETAIL*@  
                            <div class="box-header">
                                <h4 class="box-title"><strong>Detail Customer</strong></h4>
                            </div>                 
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs pull-left">
                                                <li class="active"><a href="#detail-pic" data-toggle="tab"><b>Detail PIC</b></a></li>
                                                <li><a href="#detail-pengiriman" data-toggle="tab"><b>Detail Pengiriman</b></a></li>
                                            </ul>
                                            <div class="tab-content no-padding">
                                                @*TAB DETAIL PIC*@
                                                <div class="chart tab-pane active " id="detail-pic" style="overflow-x: auto">
                                                    <div class="col-sm-12" style="padding-top: 12px;">
                                                        <div class="pull-right">
                                                            <span class="input-group">
                                                                <button type="button" class="btn btn-success" onclick="AddToDetail1()">
                                                                    <i class="fa fa-plus"></i>
                                                                    Tambah
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <table id="DataDtl" class="table table-striped" style="width: 100%">
                                                        <thead>
                                                            <tr role="row">
                                                                <th></th>
                                                                <th>No.</th>
                                                                <th>Nama PIC</th>
                                                                <th>No. HP 1</th>
                                                                <th>No. HP 2</th>
                                                                <th>Email</th>
                                                                <th>Jabatan</th>
                                                                <th>Opsi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table><br>
                                                </div>
                                                @*TAB DETAIL KIRIM*@
                                                <div class="chart tab-pane" id="detail-pengiriman" style="overflow-x: auto">
                                                    <div class="col-sm-12" style="padding-top: 12px;">
                                                        <div class="pull-right">
                                                            <span class="input-group">
                                                                <button type="button" class="btn btn-success" onclick="AddToDetail2()">
                                                                    <i class="fa fa-plus"></i>
                                                                    Tambah
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <table id="DataDtl2" class="table table-striped" style="width: 100%">
                                                        <thead>
                                                            <tr role="row">
                                                                <th></th>
                                                                <th>No.</th>
                                                                <th>Nama Lokasi</th>
                                                                <th>Alamat</th>
                                                                <th>Kota</th>
                                                                <th>Kode Pos</th>
                                                                <th>Pic Penerima Brg</th>
                                                                <th>No. HP 1</th>
                                                                <th>No. HP 2</th>
                                                                <th>Email</th>
                                                                <th>Opsi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table><br>
                                                </div>
                                            </div> @* AKHIR TAB *@
                                        </div>
                                    </div>
                                </div>
                            </div> @*AKHIR BAGIAN DETAIL*@
                        </div> <!-- /.container-fluid -->
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-primary btn-md"><b>Kembali</b></a>
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                if (ViewBag.action == "Update Data")
                                {
                                    @*<button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>*@
                                }
                            }
                            
                        </div>
                    </div>
                        <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-dtlkantor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Detail Kantor</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">                            
                            <div class="form-group">
                                    <label classfor="message-text" class="col-form-label">Alamat</label>
                                @Html.TextArea("suppdtl1addr", new { @class = "form-control", @type = "text"})
                                        @Html.ValidationMessage("suppdtl1addr", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Kota</label>                                
                                    @Html.DropDownList("suppcityOiddtl1",new List <SelectListItem>
                                            {
                                        new SelectListItem { Text="-", Value="-" },
                                                new SelectListItem { Text="Surabaya", Value="1" }
                                            }, new { @class = "form-control", @required = "" })
                                    @Html.ValidationMessage("suppcityOiddtl1", "", new { @class = "text-danger" })                               
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">No Telp</label>                                
                                    @Html.Editor("suppdtl1phone", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessage("suppdtl1phone", "", new { @class = "text-danger" })                                
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Status</label>                                
                                    @Html.DropDownList("suppdtl1status", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Active", Value="Active" },
                                                new SelectListItem { Text="Inactive", Value="Inactive" }
                                            }, new { @class = "form-control", @required = "" })
                                    @Html.ValidationMessage("suppdtl1status", "", new { @class = "text-danger" })                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" onclick="AddToDetail1()">Add To List</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="modal-dtlkantor">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Detail Kantor</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Alamat</label>
                                @Html.TextArea("suppdtl1addr", new { @class = "form-control", @type = "text" })
                                @Html.ValidationMessage("suppdtl1addr", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Kota</label>
                                @Html.DropDownList("suppcityOiddtl1", new List<SelectListItem>
                                            {
                                        new SelectListItem { Text="-", Value="-" },
                                                new SelectListItem { Text="Surabaya", Value="1" }
                                            }, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessage("suppcityOiddtl1", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">No Telp</label>
                                @Html.Editor("suppdtl1phone", new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessage("suppdtl1phone", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label classfor="message-text" class="col-form-label">Status</label>
                                @Html.DropDownList("suppdtl1status", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Active", Value="Active", Selected = true },
                                                new SelectListItem { Text="Inactive", Value="Inactive"}
                                            }, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessage("suppdtl1status", "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" onclick="AddToDetail1()">Add To List</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        if ($("#IsApp").val() == true) {

        }        

        var table1 = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        // Delete a record
        table1.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table1.row($tr).data()[0];
            table1.row($tr).remove().draw();
            setDataDtl(); FillDetailData1();
            var data = table1.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = table1.row(i).data();
                    temp[0] = i + 1;
                    table1.row(i).data(temp).invalidate();
                }
            }
            
            e.preventDefault();
        });

        var table2 = $('#DataDtl2').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table2.on('click', '#remove2', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[0];
            table2.row($tr).remove().draw();
            setDataDtl2(); FillDetailData2();
            var data = table2.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = table2.row(i).data();
                    temp[0] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            
            e.preventDefault();
        });

        var catid_temp = $("#custcategoryid").val();
        $("#catid").val(catid_temp.split(","));

        FillDDLCity();
        FillDetailData1();
        FillDetailData2();
    })

    $('#custprovinceoid').on('change', function () {
        //alert(this.value);
        fillDDLCityHeader();
    });

    function provincechange() {
        fillDDLCityHeader();
    }

    function fillDDLCityHeader() {
        var ddl = $("#custcityoid");
        var provinceoid = $("#custprovinceoid").val();
        if (provinceoid == "" || provinceoid == 0) {
            ddl.html("<option value=''> Pilih Provinsi dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("GetCity"))",
                data: { provinceoid: provinceoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();
            },
            error: function (reponse) {
                alert("error fillDDLCityHeader : " + reponse);
            }
        });
    }}

    function FillDetailData1() {
        var url = "@(Url.Action("FillDetailData1"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                var rd = ' style="display:none" ';
                if (val.custdtl1oid == 0) {
                    rd = ' ';
                }
                rows.push([
                    JSON.stringify(val),
                    val.custdtl1seq,
                    '<input type="text" class="form-control" id="custdtl1picname-' + val.custdtl1seq + '" name="custdtl1picname-' + val.custdtl1seq + '" value="' + (val.custdtl1picname == null ? "" : val.custdtl1picname) + '">',
                    '<input type="text" class="form-control" id="custdtl1phone1-' + val.custdtl1seq + '" name="custdtl1phone1-' + val.custdtl1seq + '" value="' + (val.custdtl1phone1 == null ? "" : val.custdtl1phone1) + '">',
                    '<input type="text" class="form-control" id="custdtl1phone2-' + val.custdtl1seq + '" name="custdtl1phone2-' + val.custdtl1seq + '" value="' + (val.custdtl1phone2 == null ? "" : val.custdtl1phone2) + '">',
                    '<input type="text" class="form-control" id="custdtl1email-' + val.custdtl1seq + '" name="custdtl1email-' + val.custdtl1seq + '" value="' + (val.custdtl1email == null ? "" : val.custdtl1email) + '">',
                    '<input type="text" class="form-control" id="custdtl1jabatan-' + val.custdtl1seq + '" name="custdtl1jabatan-' + val.custdtl1seq + '" value="' + (val.custdtl1jabatan == null ? "" : val.custdtl1jabatan) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ' + rd + '><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    function FillDetailData2() {
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                var rd = ' style="display:none" ';
                if (val.custdtl2oid == 0) {
                    rd = ' ';
                }
                rows.push([
                    JSON.stringify(val),
                    val.custdtl2seq,
                    '<input type="text" class="form-control" id="custdtl2loc-' + val.custdtl2seq + '" name="custdtl2loc-' + val.custdtl2seq + '" value="' + (val.custdtl2loc == null ? "" : val.custdtl2loc) + '">',
                    '<textarea class="form-control" id="custdtl2addr-' + val.custdtl2seq + '" name="custdtl2addr-' + val.custdtl2seq + '" >' + (val.custdtl2addr == null ? "" : val.custdtl2addr) + '</textarea>',
                    '<select class = "form-control select2" id ="custdtl2cityoid-' + val.custdtl2seq + '"> ' + $("#markup").val() + ' </select> ',
                    '<input type="text" class="form-control" id="custdtl2postcode-' + val.custdtl2seq + '" name="custdtl2postcode-' + val.custdtl2seq + '" value="' + (val.custdtl2postcode == null ? "" : val.custdtl2postcode) + '">',
                    '<input type="text" class="form-control" id="custdtl2picitem-' + val.custdtl2seq + '" name="custdtl2picitem-' + val.custdtl2seq + '" value="' + (val.custdtl2picitem == null ? "" : val.custdtl2picitem) + '">',
                    '<input type="text" class="form-control" id="custdtl2phone1-' + val.custdtl2seq + '" name="custdtl2phone1-' + val.custdtl2seq + '" value="' + (val.custdtl2phone1 == null ? "" : val.custdtl2phone1) + '">',
                    '<input type="text" class="form-control" id="custdtl2phone2-' + val.custdtl2seq + '" name="custdtl2phone2-' + val.custdtl2seq + '" value="' + (val.custdtl2phone2 == null ? "" : val.custdtl2phone2) + '">',
                    '<input type="text" class="form-control" id="custdtl2email-' + val.custdtl2seq + '" name="custdtl2email-' + val.custdtl2seq + '" value="' + (val.custdtl2email == null ? "" : val.custdtl2email) + '">',
                    '<button id="remove2" type="button" class="btn btn-danger btn-xs btn-icon" '+ rd +'><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                var i = 1;
                table.rows.add(rows).draw();
                $("#DataDtl2 .select2").select2();
                $.each(data, function (key, val) {
                    $("#custdtl2cityoid-" + val.custdtl2seq + "").val(val.custdtl2cityoid).trigger("change");
                });
            }, 100);
        });
    }

    function FillDDLCity() {
        var markup = "";
        var url = "@(Url.Action("InitDDLCity"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
     }

    function AddToDetail1() {
        var table = $('#DataDtl').DataTable();
        var id = table.rows().data().length + 1;//menambahkan data ke tabel
        var obj = {
            custdtl1oid: 0,
            custdtl1seq: id
        };
        table.row.add([
            JSON.stringify(obj),
            id,
            '<input type="text" class="form-control" id="custdtl1picname-' + id + '" name="custdtl1picname-' + id + '" >',
            '<input type="text" class="form-control" id="custdtl1phone1-' + id + '" name="custdtl1phone1-' + id + '" >',
            '<input type="text" class="form-control" id="custdtl1phone2-' + id + '" name="custdtl1phone2-' + id + '" >',
            '<input type="text" class="form-control" id="custdtl1email-' + id + '" name="custdtl1email-' + id + '" >',
            '<input type="text" class="form-control" id="custdtl1jabatan-' + id + '" name="custdtl1jabatan-' + id + '" >',
            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ]).draw();
    }

    function AddToDetail2() {
        var table = $('#DataDtl2').DataTable();
        var id = table.rows().data().length + 1;//menambahkan data ke tabel
        var obj = {
            custdtl2oid: 0,
            custdtl2seq: id
        };
        table.row.add([
            JSON.stringify(obj),
            id,
            '<input type="text" class="form-control" id="custdtl2loc-' + id + '" name="custdtl2loc-' + id + '" >',
            '<textarea class="form-control" id="custdtl2addr-' + id + '" name="custdtl2addr-' + id + '"></textarea>',
            '<select class = "form-control select2" id ="custdtl2cityoid-' + id + '">' + $("#markup").val() + '</select> ',
            '<input type="text" class="form-control" id="custdtl2postcode-' + id + '" name="custdtl2postcode-' + id + '" >',
            '<input type="text" class="form-control" id="custdtl2picitem-' + id + '" name="custdtl2picitem-' + id + '" >',
            '<input type="text" class="form-control" id="custdtl2phone1-' + id + '" name="custdtl2phone1-' + id + '" >',
            '<input type="text" class="form-control" id="custdtl2phone2-' + id + '" name="custdtl2phone2-' + id + '" >',
            '<input type="text" class="form-control" id="custdtl2email-' + id + '" name="custdtl2email-' + id + '" >',
            '<button id="remove2" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ]).draw();
        $("#DataDtl2 .select2").select2();
    }

    function setDataDtl() //mengirim data table ke controler
    {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var custdtl1picname_id = "#custdtl1picname-" + alldata.custdtl1seq;
            var custdtl1phone1_id = "#custdtl1phone1-" + alldata.custdtl1seq;
            var custdtl1phone2_id = "#custdtl1phone2-" + alldata.custdtl1seq;
            var custdtl1email_id = "#custdtl1email-" + alldata.custdtl1seq;
            var custdtl1jabatan_id = "#custdtl1jabatan-" + alldata.custdtl1seq;
            var custdtl1picname = table.$(custdtl1picname_id).val();
            var custdtl1phone1 = table.$(custdtl1phone1_id).val();
            var custdtl1phone2 = table.$(custdtl1phone2_id).val();
            var custdtl1email = table.$(custdtl1email_id).val();
            var custdtl1jabatan = table.$(custdtl1jabatan_id).val();
            var obj = {
                custdtl1seq: i + 1,
                custdtl1oid: alldata.custdtl1oid,
                custdtl1picname: custdtl1picname,
                custdtl1phone1: custdtl1phone1,
                custdtl1phone2: custdtl1phone2,
                custdtl1email: custdtl1email,
                custdtl1jabatan: custdtl1jabatan,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("setDataDtl"))",
            data: JSON.stringify({ mdataDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function setDataDtl2() //mengirim data table ke controler
    {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var custdtl2loc_id = "#custdtl2loc-" + alldata.custdtl2seq;
            var custdtl2addr_id = "#custdtl2addr-" + alldata.custdtl2seq;
            var custdtl2cityoid_id = "#custdtl2cityoid-" + alldata.custdtl2seq;
            var custdtl2postcode_id = "#custdtl2postcode-" + alldata.custdtl2seq;
            var custdtl2picitem_id = "#custdtl2picitem-" + alldata.custdtl2seq;
            var custdtl2phone1_id = "#custdtl2phone1-" + alldata.custdtl2seq;
            var custdtl2phone2_id = "#custdtl2phone2-" + alldata.custdtl2seq;
            var custdtl2email_id = "#custdtl2email-" + alldata.custdtl2seq;
            var custdtl2loc = table.$(custdtl2loc_id).val();
            var custdtl2addr = table.$(custdtl2addr_id).val();
            var custdtl2cityoid = table.$(custdtl2cityoid_id).val();
            var custdtl2postcode = table.$(custdtl2postcode_id).val();
            var custdtl2picitem = table.$(custdtl2picitem_id).val();
            var custdtl2phone1 = table.$(custdtl2phone1_id).val();
            var custdtl2phone2 = table.$(custdtl2phone2_id).val();
            var custdtl2email = table.$(custdtl2email_id).val();
            var obj = {
                custdtl2seq: i + 1,
                custdtl2oid: alldata.custdtl2oid,
                custdtl2loc : custdtl2loc,
                custdtl2addr : custdtl2addr,
                custdtl2cityoid : custdtl2cityoid,
                custdtl2postcode : custdtl2postcode,
                custdtl2picitem : custdtl2picitem,
                custdtl2phone1 : custdtl2phone1,
                custdtl2phone2 : custdtl2phone2,
                custdtl2email: custdtl2email
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("setDataDtl2"))",
            data: JSON.stringify({ mdataDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function SetDataDtlAll() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var custdtl1picname_id = "#custdtl1picname-" + alldata.custdtl1seq;
            var custdtl1phone1_id = "#custdtl1phone1-" + alldata.custdtl1seq;
            var custdtl1phone2_id = "#custdtl1phone2-" + alldata.custdtl1seq;
            var custdtl1email_id = "#custdtl1email-" + alldata.custdtl1seq;
            var custdtl1jabatan_id = "#custdtl1jabatan-" + alldata.custdtl1seq;
            var custdtl1picname = table.$(custdtl1picname_id).val();
            var custdtl1phone1 = table.$(custdtl1phone1_id).val();
            var custdtl1phone2 = table.$(custdtl1phone2_id).val();
            var custdtl1email = table.$(custdtl1email_id).val();
            var custdtl1jabatan = table.$(custdtl1jabatan_id).val();
            var obj = {
                custdtl1seq: i + 1,
                custdtl1oid: alldata.custdtl1oid,
                custdtl1picname: custdtl1picname,
                custdtl1phone1: custdtl1phone1,
                custdtl1phone2: custdtl1phone2,
                custdtl1email: custdtl1email,
                custdtl1jabatan: custdtl1jabatan,
            }
            rows.push(obj);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            var custdtl2loc_id = "#custdtl2loc-" + alldata.custdtl2seq;
            var custdtl2addr_id = "#custdtl2addr-" + alldata.custdtl2seq;
            var custdtl2cityoid_id = "#custdtl2cityoid-" + alldata.custdtl2seq;
            var custdtl2postcode_id = "#custdtl2postcode-" + alldata.custdtl2seq;
            var custdtl2picitem_id = "#custdtl2picitem-" + alldata.custdtl2seq;
            var custdtl2phone1_id = "#custdtl2phone1-" + alldata.custdtl2seq;
            var custdtl2phone2_id = "#custdtl2phone2-" + alldata.custdtl2seq;
            var custdtl2email_id = "#custdtl2email-" + alldata.custdtl2seq;
            var custdtl2loc = table2.$(custdtl2loc_id).val();
            var custdtl2addr = table2.$(custdtl2addr_id).val();
            var custdtl2cityoid = table2.$(custdtl2cityoid_id).val();
            var custdtl2postcode = table2.$(custdtl2postcode_id).val();
            var custdtl2picitem = table2.$(custdtl2picitem_id).val();
            var custdtl2phone1 = table2.$(custdtl2phone1_id).val();
            var custdtl2phone2 = table2.$(custdtl2phone2_id).val();
            var custdtl2email = table2.$(custdtl2email_id).val();
            var obj = {
                custdtl2seq: i + 1,
                custdtl2oid: alldata.custdtl2oid,
                custdtl2loc: custdtl2loc,
                custdtl2addr: custdtl2addr,
                custdtl2cityoid: custdtl2cityoid,
                custdtl2postcode: custdtl2postcode,
                custdtl2picitem: custdtl2picitem,
                custdtl2phone1: custdtl2phone1,
                custdtl2phone2: custdtl2phone2,
                custdtl2email: custdtl2email
            }
            rows2.push(obj);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2 }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function previewktpimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#custktpimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#custktpimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#custktpimg').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    function previewnpwpimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#custnpwpimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#custnpwpimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url ,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#custnpwpimg').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $("#btnSave").click(function () {
        SetDataDtlAll();
    });

    $("#btnDelete").click(function () {
        var oid = $("#custoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

</script>