﻿@model IEnumerable<APIS_WB.Controllers.Master.CustomerController.custmst>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Customer</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <a class="btn btn-success" href="Form">
                        <i class="fa fa-plus"></i> Tambah
                    </a>
                @{ if (Session["ExpMasterXls"].ToString() == "Yes")
                    {
                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn-md" id="btnExportXls"><b>Export Excel</b></button>
                    </div>
                    <div class="pull-right">
                        @Html.DropDownList("typeexp", new List<SelectListItem>
                        {
                            new SelectListItem { Text="Customer", Value="Customer" },
                            new SelectListItem { Text="PIC", Value="PIC" },
                            new SelectListItem { Text="Alamat", Value="Alamat" }
                        }, new { @class = "form-control select2", @required = "" })
                    </div>
                    }
                }
                </div><br>
                <!-- <div class="box-header">
                    <h3 class="box-title">To Do List</h3>
                </div> -->
                <!-- /.box-header -->

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="dtlistapp" class="table table-striped" style="width: 100%;"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "@(Url.Action("GetDataList"))",
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                var cols = [];
                var rows = [];

                if (data.msg == "") {
                    var hidecols = [0];
                    $.each(data.colname, function (key, val) {
                        var obj = {
                            title: val
                        }
                        cols.push(obj);
                    });

                    $.each(data.rows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                    });

                    $('#dtlistapp').dataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            { "targets": hidecols, "visible": false, "searchable": false }
                        ]
                    });
                }
                else
                {
                    swal('', data.msg, 'info');
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#btnExportXls").click(function () {
        var typeexp = $("#typeexp option:selected").val();
        window.location.assign("@Url.Action("PrintXlsReport")?typeexp=" + typeexp + "");
    });
</script>