﻿@model APIS_WB.Models.DB.QL_trncreditnote

@{
    ViewBag.Title = "Credit Note";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Credit Note</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cndate)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model=>model.rateoid)
                        @Html.HiddenFor(model => model.rate2oid)
                        @Html.Hidden("action")
                        @Html.Hidden("apardate")
                        @{
                            @Html.EditorFor(model => model.cndate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.cndate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.cnoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CN No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cnno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.cndate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("cntype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Faktur Beli", Value="AP" },
                                                new SelectListItem { Text="Faktur Jual", Value="AR" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="col_suppcust">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppcustname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.ValidationMessage("suppcustname", "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.suppcustoid)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">FB</label> No</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("aparno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchapar" class="btn btn-flat" data-toggle="modal" data-target="#modal-apar">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.ValidationMessage("aparno", "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.refoid)
                                            @Html.HiddenFor(model => model.reftype)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">FB</label> Currency</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "", @readonly = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Project</label>
                                        <div class="col-md-4">
                                            @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen</label>
                                        <div class="col-md-4">
                                            @Html.Editor("departemen", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">FB</label> Amount</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.Hidden("aparamtidr")
                                        @Html.Hidden("aparamtusd")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">FB</label> Paid Amount</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparpaidamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">FB</label> Balance</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparbalance", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        <label class="col-md-4 control-label text-red" id="lblmaxamt">Max = <label id="maxamount" class="text-red">0</label></label>
                                        @Html.Hidden("dmaxamount")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">CN Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cnamt, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">FB</label> Balance IDR</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparbalanceidr", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">FB</label> Balance USD</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparbalanceusd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"><label class="aparcode">FB</label> Balance After cn</label>
                                        <div class="col-md-4">
                                            @Html.Editor("aparbalanceafter", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA Debet</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.dbacctgoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA Credit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cracctgoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cnnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cnstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.cnstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.cnstatus == "In Process" | @Model.cnstatus == "Revised")
                            {
                                <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Kirim Permintaan</b></button>
                            }
                            else
                            {
                                if (Model.cnstatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK CUSTOMER/SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="popup_suppcust">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER/SUPPLIER *@

    @* MODAL UNTUK AP/AR *@
    <div class="modal fade" id="modal-apar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="popup_suppcust">List Of Invoice</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAPAR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Project</th>
                                    <th>Departemen</th>
                                    <th>Faktur No</th>
                                    <th>Faktur Date</th>
                                    <th>Currency</th>
                                    <th>Faktur Amount</th>
                                    <th>Paid Amount</th>
                                    <th>Faktur Balance</th>
                                    @*<th>Faktur Balance IDR</th>
                                    <th>Faktur Balance USD</th>*@
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK AP/AR *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" }
                                            //new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalAPAR").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#suppcustname").val(alldata.name);
            $("#suppcustoid").val(alldata.oid);
            //Clear AP/AR No
            $("#refoid").val(0);
            $("#projectname").val("");
            $("#departemen").val("");
            $("#aparno").val("");

            $('#modal-supp').modal('hide');
        });

        var tblModalAPAR = $("#tblModalAPAR").DataTable();
        tblModalAPAR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAPAR.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#reftype").val(alldata.reftype);
            $("#refoid").val(alldata.refoid);
            $("#projectname").val(alldata.projectname);
            $("#departemen").val(alldata.departemen);
            $("#aparno").val(alldata.transno);
            $("#apardate").val(alldata.transdate);
            $("#aparcheckdate").val(alldata.transcheckdate);
            $("#curroid").val(alldata.curroid).trigger("change");
            $("#aparamt").val(addCommas(alldata.amttrans));
            $("#aparpaidamt").val(addCommas(alldata.amtbayar));
            $("#aparbalance").val(addCommas(alldata.amtbalance));
            $("#aparamtidr").val(addCommas(alldata.amttransidr));
            $("#aparbalanceidr").val(addCommas(alldata.amtbalanceidr));
            $("#aparamtusd").val(addCommas(alldata.amttransusd));
            $("#aparbalanceusd").val(addCommas(alldata.amtbalanceusd));

            InitCOACredit(alldata.acctgoid, alldata.acctgaccount);
            $("#cracctgoid").attr("readonly", true);
            $("#dbacctgoid option:first").val();
            $("#lblmaxamt").show();
            $("#maxamount").show();
            $("#maxamount").text(addCommas(alldata.amtbalance));
            $("#dmaxamount").val(addCommas(alldata.amtbalance));
            if ($("#cntype option:selected").val() == "AP") {
                $("#lblmaxamt").hide();
                $("#maxamount").hide();
                $("#maxamount").text(0);
                $("#dmaxamount").val(0);
            }
            $("#cnamt").val("");
            $("#aparbalanceafter").val(addCommas(alldata.amtbalance));

            $('#modal-apar').modal('hide');
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        InitCOADebet();
        $("#cntype").change(function () {
            ResetAPARData()
            $("#suppcustname").val("");
            $("#suppcustoid").val("");
            if ($("#cntype option:selected").val() == "AP") {
                $(".aparcode").text("FB");
                $("#col_suppcust").text("Supplier")
                $("#popup_suppcust").text("List Supplier")
            } else {
                $(".aparcode").text("FJ");
                $("#col_suppcust").text("Customer")
                $("#popup_suppcust").text("List Customer")
            }
            InitCOADebet();
        });

        $("#cnamt").blur(function () {
            var balanceafter = parseFloat(removeCommas($("#aparbalance").val())) + (parseFloat(removeCommas($("#cnamt").val())) * parseFloat($("#cntype option:selected").val() == "AR" ? -1 : 1));
            $("#aparbalanceafter").val(addCommas(balanceafter));
        })
        EnabledHeader();
        FillAdditionalField();
        $("#cracctgoid").attr("readonly", true);

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Update Data") {
            tgl = $("#cndate").val();
        } else {
            tgl = $("#cndate").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Update Data") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        $("#cnamt").val(addCommas($("#cnamt").val()));
        $("#aparamt").val(addCommas($("#aparamt").val()));
        $("#aparpaidamt").val(addCommas($("#aparpaidamt").val()));
        $("#aparbalance").val(addCommas($("#aparbalance").val()));
        $("#aparamtidr").val(addCommas($("#aparamtidr").val()));
        $("#aparbalanceidr").val(addCommas($("#aparbalanceidr").val()));
        $("#aparamtusd").val(addCommas($("#aparamtusd").val()));
        $("#aparbalanceusd").val(addCommas($("#aparbalanceusd").val()));
        $("#maxamount").text(addCommas($("#maxamount").text()));
        $("#dmaxamount").val(addCommas($("#dmaxamount").val()));
        $("#aparbalanceafter").val(addCommas($("#aparbalanceafter").val()));
    })

    function FillAdditionalField() {
        if ($("#action").val() == "Update Data") {
            //InitCOAcredit($("#cracctgoid").val(), $("#cracctgoid").text());
            $("#maxamount").text($("#dmaxamount").val());
            $("#dmaxamount").val($("#dmaxamount").val());
            $("#aparamt").val($("#aparamt").val());
            $("#aparamtidr").val($("#aparamtidr").val());
            $("#aparamtusd").val($("#aparamtusd").val());
            $("#aparcheckdate").val($("#aparcheckdate").val());
            $("#apardate").val($("#apardate").val());
        }
    }

    function ResetAPARData() {
        $(".aparcode").text("FB");
        $("#col_suppcust").text("Supplier")
        $("#popup_suppcust").text("List Of Supplier")

        $("#aparno").val("");
        $("#reftype").val("");
        $("#refoid").val("");
        $("#aparno").val("");
        $("#apardate").val("");
        $("#aparcheckdate").val("");
        $("#curroid option:first").val();
        $("#aparamt").val("");
        $("#aparpaidamt").val("");
        $("#aparbalance").val("");
        $("#aparamtidr").val("");
        $("#aparbalanceidr").val("");
        $("#aparamtusd").val("");
        $("#aparbalanceusd").val("");

        $("#cracctgoid").empty();
        $("#cracctgoid").attr("readonly", true);
        $("#dbacctgoid option:first").val();
        $("#lblmaxamt").show();
        $("#maxamount").show();
        $("#maxamount").val("");
        $("#cnamt").val("");
        $("#aparbalanceafter").val("");
    }

    function InitCOACredit(iAcctgOid, sAcctgCodeDesc) {
        $("#cracctgoid").empty();
        $("#cracctgoid").prepend("<option value=" + iAcctgOid + ">" + sAcctgCodeDesc + "</option>");
    }

    function InitCOADebet() {
        var dbacctgoid = $("#dbacctgoid");
        var dbacctgoid_sel = $("#dbacctgoid option:selected").val();
        var reftype = $("#cntype option:selected").val();
        var sVar = "";
        if (reftype == "AP") {
            sVar = "VAR_CREDIT_NOTE_AP";
        } else if (reftype == "AR") {
            sVar = "VAR_CREDIT_NOTE_AR";
        } else {
            sVar = "VAR_CREDIT_NOTE_ARRET";
        }
        $("#dbacctgoid").empty();
        dbacctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == dbacctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data);
                dbacctgoid.html(markup).show();
                if (isExist == true) {
                    dbacctgoid.val(dbacctgoid_sel);
                }
                dbacctgoid.trigger('change');
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var bVal = false;
        if ($("#action").val() == "Update Data") {
            bVal = true;
        }
        $("#cntype").attr("readonly", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var reftype = $("#cntype option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindSupplierData"))",
            data: {reftype: reftype},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.code,
                        val.name,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    $("#btnsearchapar").click(function () {
        if ($("#suppcustname").val() == "") {
            Swal('WARNING !', 'Please Select ' + ($("#cntype option:selected").val() == "AP" ? "Supplier" : "Customer") + ' field!', 'warning')
            return false
        }
        var table = $('#tblModalAPAR').DataTable();
        var reftype = $("#cntype option:selected").val();
        var suppcustoid = $("#suppcustoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataAPAR"))",
            data: {reftype: reftype, suppcustoid: suppcustoid},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.projectname,
                        val.departemen,
                        val.transno,
                        val.transdate,
                        val.currcode,
                        addCommas(val.amttrans),
                        addCommas(val.amtbayar),
                        addCommas(val.amtbalance),
                        //addCommas(val.amtbalanceidr),
                        //addCommas(val.amtbalanceusd),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnDelete").click(function () {
        var oid = $("#cnoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid},
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSave").click(function () {
        $("#cnamt").val(removeCommas($("#cnamt").val()));
        $("#aparamt").val(removeCommas($("#aparamt").val()));
        $("#aparpaidamt").val(removeCommas($("#aparpaidamt").val()));
        $("#aparbalance").val(removeCommas($("#aparbalance").val()));
        $("#aparamtidr").val(removeCommas($("#aparamtidr").val()));
        $("#aparbalanceidr").val(removeCommas($("#aparbalanceidr").val()));
        $("#aparamtusd").val(removeCommas($("#aparamtusd").val()));
        $("#aparbalanceusd").val(removeCommas($("#aparbalanceusd").val()));
        $("#maxamount").text(removeCommas($("#maxamount").text()));
        $("#dmaxamount").val(removeCommas($("#dmaxamount").val()));
        $("#aparbalanceafter").val(removeCommas($("#aparbalanceafter").val()));
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Send this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#cnstatus").val("In Approval");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var cmpcode = "";
        var cashbankno = $("#cnno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trncreditnote " + $("#cnoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { cashbankno: cashbankno, cmpcode: cmpcode, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.acctgdebet),
                        addCommas(val.acctgcredit),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>