﻿@{
    ViewBag.Title = "Laporan RAB";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan RAB</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "RABReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Realisasi Budget", Value = "Summary2" },
                                            new SelectListItem { Text = "Summary Biaya Penjualan", Value = "SummaryBiaya" },
                                            new SelectListItem { Text = "Detail Biaya Penjualan", Value = "DetailBiaya" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },
                                            new SelectListItem { Text="In Approval", Value="In Approval", Selected=true },
                                            new SelectListItem { Text="Approved", Value="Approved", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true },
                                            new SelectListItem { Text="Revised", Value="Revised", Selected=true },
                                            new SelectListItem { Text="Rejected", Value="Rejected", Selected=true }
                                        }, new { @class = "form-control select2", @multiple="" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Tgl Transaksi", Value = "rm.updtime" },
                                            new SelectListItem { Text = "Tgl Dokumen", Value = "rm.rabdate" }
                                            //new SelectListItem { Text = "Tgl Dokumen SO", Value = "som.soitemdate" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>                                        
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextCust", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "RAB No.", Value = "rm.rabno" },
                                                new SelectListItem { Text = "Draft No.", Value = "rm.rabmstoid" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpr" class="btn btn-link" data-toggle="modal" data-target="#modal-pr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextSales", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-link" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div> 
                            </div>
                            <div class="row" id="divtype" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO Status FJ</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLTypeSO", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "NONE", Value = "NONE" },
                                            new SelectListItem { Text = "SO Sudah FJ", Value = "LB0" },
                                            new SelectListItem { Text = "SO Belum FJ", Value = "LK0" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sorting</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="RAB No.", Value="[RAB No.]" }
                                            //new SelectListItem { Text="Tgl Transaksi", Value="[Trans Date]" },
                                            //new SelectListItem { Text="Tgl Dokumen", Value="[RAB Date]" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="ASC", Value="ASC" },
                                            new SelectListItem { Text="DESC", Value="DESC" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                    @Html.Hidden("total-cust")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                    @Html.Hidden("total-rab")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@

    @* MODAL UNTUK SALES *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales</h4>
                    @Html.Hidden("total-supp")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSupp()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SALES *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">

    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        //var markupsort = "<option value=\'[ID]\'>RAB No</option><option value=\'[Trans Date]\'>Tgl Transaksi</option><option value=\'[RAB Date]\'>Tgl Dokumen</option></option>";
        if (type == "Summary" || type == "Summary2" || type == "SummaryBiaya" || type == "DetailBiaya")
        {
            $('#divfordtl').hide();
        }
        else
        {
            $('#divfordtl').show();
            //markupsort = "<option value=\'[ID]\'>RAB No</option>";
        }
        //$("#DDLSorting").html(markupsort).show();
        //SO Status FJ
        if (type == "Summary2") {
            $('#divtype').show();
        }
        else {
            $('#divtype').hide();
        }
    }

    $("#btnsearchcust").click(function () {
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { status: status, startdate: startdate, enddate: enddate, fdate: fdate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalCust").DataTable();
                table.destroy();
                $("#tblModalCust").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-cust').val(total);
                if (total > 0) {
                    table = $("#tblModalCust").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-cust').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-cust').modal('hide');
        }
    });
    });

    $("#btnsearchpr").click(function () {
        var status = $("#DDLStatus").val();
        var custcode = $("#TextCust").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            data: { status: status, custcode: custcode, startdate: startdate, enddate: enddate, fdate: fdate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalPR").DataTable();
                table.destroy();
                $("#tblModalPR").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-rab').val(total);
                if (total > 0) {
                    table = $("#tblModalPR").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-pr').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-pr').modal('hide');
        }
    });
    });

    $("#btnsearchmat").click(function () {
        var status = $("#DDLStatus").val();
        var custcode = $("#TextCust").val();
        var ddlnomor = $("#DDLNomor option:selected").val();
        var rabno = $("#TextNomor").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { status: status, custcode: custcode, ddlnomor: ddlnomor, rabno: rabno, startdate: startdate, enddate: enddate, fdate: fdate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalMat").DataTable();
                table.destroy();
                $("#tblModalMat").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-mat').val(total);
                if (total > 0) {
                    table = $("#tblModalMat").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-mat').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-mat').modal('hide');
        }
    });
    });

    function AddToFilterCust() {
        var ind = 1;
        if (parseInt($('#total-cust').val()) > 0) {
            var result = $("#TextCust").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalCust').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCust").val(result);
        }
    }

    function AddToFilterPR() {
        var ind = 2;
        if (parseInt($('#total-rab').val()) > 0) {
        if ($("#DDLNomor option:selected").val() == "rm.rabmstoid")
            ind = 1;
        var result = $("#TextNomor").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalPR').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextNomor").val(result);
        }
    }

    function AddToFilterMat() {
        var ind = 1;
        if (parseInt($('#total-mat').val()) > 0) {
        var result = $("#TextMaterial").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalMat').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextMaterial").val(result);
        }
    }

    $("#btnsearchsupp").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var fdate = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetSalesData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, fdate: fdate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalSupp").DataTable();
                table.destroy();
                $("#tblModalSupp").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-supp').val(total);
                if (total > 0) {
                    table = $("#tblModalSupp").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-supp').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-supp').modal('hide');
        }
    });
    });

    function AddToFilterSupp() {
        var ind = 1;
        if (parseInt($('#total-supp').val()) > 0) {
            var result = $("#TextSales").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSupp').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextSales").val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var type = $("#DDLType option:selected").val();
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var custcode = $("#TextCust").val();
        var nomor = $("#TextNomor").val();
        var fnomor = $("#DDLNomor option:selected").val();
        var mat = $("#TextMaterial").val();
        var TextSales = $("#TextSales").val();
        var sort = $("#DDLSorting option:selected").val();
        var sortdir = $("#DDLSortDir option:selected").val();
        var DDLTypeSO = $("#DDLTypeSO option:selected").val();
        var reporttype = "";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLType: type, DDLStatus: status, StartPeriod: startdate, EndPeriod: enddate, DDLPeriod: fdate, TextCust: custcode, TextNomor: nomor, DDLNomor: fnomor, TextMaterial: mat, TextSales: TextSales, DDLTypeSO: DDLTypeSO, DDLSorting: sort, DDLSortDir: sortdir, reporttype: reporttype },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>