﻿@model APIS_WB.Models.DB.QL_trncashbankmst

@{
    ViewBag.Title = "A/R Payment";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form A/R Payment</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>A/R Payment Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.cashbankgroup)
                        @Html.HiddenFor(model => model.cashbanktaxtype)
                        @Html.HiddenFor(model => model.cashbanktaxpct)
                        @Html.HiddenFor(model => model.cashbanktaxamt)
                        @Html.HiddenFor(model => model.cashbankothertaxamt)
                        @Html.HiddenFor(model => model.cashbanktakegiroreal)
                        @Html.HiddenFor(model => model.cashbankgiroreal)
                        @Html.HiddenFor(model => model.cashbankaptype)
                        @Html.HiddenFor(model => model.cashbankapoid)
                        @Html.HiddenFor(model => model.deptoid)
                        @Html.HiddenFor(model => model.curroid_to)
                        @Html.HiddenFor(model => model.cashbankresamt2)
                        @Html.HiddenFor(model => model.groupoid)
                        @Html.HiddenFor(model => model.cashbankres1)
                        @Html.HiddenFor(model => model.cashbankres2) 
                        @Html.HiddenFor(model => model.cashbankres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("addacctgoid1_temp")
                        @Html.Hidden("addacctgoid2_temp")
                        @Html.Hidden("addacctgoid3_temp")
                        @Html.Hidden("addacctgoid4_temp")
                        @Html.Hidden("addacctgoid5_temp")
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cash/Bank No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                           @Html.Editor("updtime", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("cashbankdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @onchange = "GenerateNo()" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.Hidden("paytype")
                                            @Html.Hidden("email")
                                            @Html.HiddenFor(model => model.refsuppoid)
                                        </div>
                                    </div>
                                </div> 
                            </div>@*Cash/Bank No. -- Payment Date*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.cashbanktype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="CASH", Value="BKM" },
                                                new SelectListItem { Text="TRANSFER", Value="BBM" },
                                                new SelectListItem { Text="GIRO/CHEQUE", Value="BGM" },
                                                //new SelectListItem { Text="DOWN PAYMENT", Value="BLM" }
                                            }, new { @class = "form-control select2", @onchange = "ChangeCashBankType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Account <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, "-", new { @class = "form-control select2", @required = "", @onchange = "GenerateNo()" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Payment Type -- Payment Account*@                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Payment</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankdpp, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Currency -- Total Payment*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 1</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid1, null, new { @class = "form-control select2", @onchange = "ChangeDDLAddCost(this, 'addacctgamt1')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 1</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.addacctgamt1, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly="", @oninput = "CountHdrAmount()" } })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Add Cost 1 -- Cost Amt 1*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 2</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid2, null, new { @class = "form-control select2", @onchange = "ChangeDDLAddCost(this, 'addacctgamt2')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 2</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.addacctgamt2, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "", @oninput = "CountHdrAmount()" } })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Add Cost 2 -- Cost Amt 2*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 3</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid3, null, new { @class = "form-control select2", @onchange = "ChangeDDLAddCost(this, 'addacctgamt3')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 3</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.addacctgamt3, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "", @oninput = "CountHdrAmount()" } })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Add Cost 3 -- Cost Amt 3*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 4</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid4, null, new { @class = "form-control select2", @onchange = "ChangeDDLAddCost(this, 'addacctgamt4')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 4</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.addacctgamt4, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "", @oninput = "CountHdrAmount()" } })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Add Cost 4 -- Cost Amt 4*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 5</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid5, null, new { @class = "form-control select2", @onchange = "ChangeDDLAddCost(this, 'addacctgamt5')" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 5</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.addacctgamt5, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "", @oninput = "CountHdrAmount()" } })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Add Cost 5 -- Cost Amt 5*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Pay + Cost</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_rgmno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">RGM No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankres3, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total DP Amt</label>
                                        <div class="col-md-4">
                                            @Html.Editor("totaldpamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>*@
                            </div>@*Total Pay + Cost -- Total DP Amt*@
                            <div class="row">
                                <div class="col-md-6" id="col_cashbankrefno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref. No. <label class="text-red" id="star_cashbankrefno" style="display: none;">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_cashbankduedate" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("cashbankduedate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>@*Ref. No. -- Due Date*@
                            <div class="row" id="viewdp" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("dpno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchdp" class="btn btn-flat" data-toggle="modal" data-target="#modal-dp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.giroacctgoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP Amount</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.cashbankresamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>@*DP No. -- DP Amount*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Start Date Take Giro <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("cashbanktakegiro", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.cashbankstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Start Date Take Giro -- Status*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.cashbanknote, new { @class = "form-control", @maxlength = "300" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PIC</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.personoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>@*Header Note*@
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>A/R Payment Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-right">
                                <button type="button" id="btnAddToList" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail">
                                    <i class="fa fa-plus"></i>
                                    Tambah
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                            <h6><b>VAR_ADD_COST | VAR_CASH | VAR_BANK | VAR_GIRO_IN | VAR_DP_AR </b></h6>
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.cashbankstatus == "In Process" | @Model.cashbankstatus == "Revised")
                            {
                                <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                                <button type="button" name="action" value="@(ViewBag.action)" id="btnPost" class="btn btn-warning btn-md"><b>Terbitkan</b></button>
                            }
                            else
                            {
                                if (Model.cashbankstatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                                if (@Model.cashbanktype == "BGM" && @Model.cashbankres1 != "Closed" && @Model.cashbankstatus == "Post")
                                {
                                    <button type="button" id="btnReturGiro" class="btn btn-danger btn-md"><b>Pembatalan Giro</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK DP *@
    <div class="modal fade" id="modal-dp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Down Payment A/R Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDP" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DP No.</th>
                                    <th>DP Date</th>
                                    <th>DP Account</th>
                                    <th>DP Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DP *@

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">A/R Payment Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" }
                                            //new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'payarseq', name: 'payarseq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'departemen', name: 'departemen', title: 'Departemen' },
                { data: 'payarrefno', name: 'payarrefno', title: 'A/R No.' },
                { data: 'acctgdesc', name: 'acctgdesc', title: 'A/R Account' },
                { data: 'amttrans', name: 'amttrans', title: 'A/R Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'amtpaid', name: 'amtpaid', title: 'Paid Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'amtbalance', name: 'amtbalance', title: 'A/R Balance', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'payaramt', name: 'payaramt', title: 'Payment Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'payaramt', ' money', '', "width:110px;"); } },
                { data: 'payarnote', name: 'payarnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'payarnote', ' ', '', "width:150px;"); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .select2').select2();
        });

        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'payarseq', name: 'payarseq', title: 'No.' },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'departemen', name: 'departemen', title: 'Departemen' },
                { data: 'payarrefno', name: 'payarrefno', title: 'A/R No.' },
                { data: 'acctgdesc', name: 'acctgdesc', title: 'A/R Account' },
                { data: 'amttrans', name: 'amttrans', title: 'A/R Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'amtpaid', name: 'amtpaid', title: 'Paid Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'amtbalance', name: 'amtbalance', title: 'A/R Balance', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'payaramt', name: 'payaramt', title: 'Payment Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'payaramt', ' money', '', "width:110px;"); } },
                { data: 'payarnote', name: 'payarnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'payarnote', ' ', '', "width:150px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ]
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .select2').select2();
        });

        var tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#custname").val(alldata.custname);
            $("#refsuppoid").val(alldata.custoid);
            $("#paytype").val(alldata.custnote);
            $("#email").val(alldata.custemail);
            //$("#totaldpamt").val(alldata.suppres3);
            ClearDP();
            $('#modal-cust').modal('hide');
        });

        var tblModalDP = $("#tblModalDP").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalDP.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalDP.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#dpno").val(alldata.dparno);
            $("#giroacctgoid").val(alldata.dparoid);
            $("#acctgoid").val(alldata.acctgoid).trigger("change");
            $("#cashbankresamt").val(addCommas(alldata.dparamt));
            $('#modal-dp').modal('hide');
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        if ($('#action').val() == "Edit") {
            SetView();
        }
        ChangeBusinessUnit();
        if ($('#action').val() == "Edit") {
            FillDetailData();
        }
    });
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ChangeBusinessUnit()
    {
        //ClearSupplier();
        ChangeCashBankType();
        InitDDLAddCost("VAR_ADD_COST", "addacctgoid1");
        ChangeDDLAddCost($("#addacctgoid1"), "addacctgoid1");
        InitDDLAddCost("VAR_ADD_COST", "addacctgoid2");
        ChangeDDLAddCost($("#addacctgoid2"), "addacctgoid2");
        InitDDLAddCost("VAR_ADD_COST", "addacctgoid3");
        ChangeDDLAddCost($("#addacctgoid3"), "addacctgoid3");
        InitDDLAddCost("VAR_ADD_COST", "addacctgoid4");
        ChangeDDLAddCost($("#addacctgoid4"), "addacctgoid4");
        InitDDLAddCost("VAR_ADD_COST", "addacctgoid5");
        ChangeDDLAddCost($("#addacctgoid5"), "addacctgoid5");
    }

    function ClearSupplier() {
        $("#refsuppoid").val(0);
        $("#custname").val("");
        $("#paytype").val("");
        $("#email").val("");
        //$("#totaldpamt").val(0);
        $("#cashbanksuppaccoid").html("<option value=\'\'>-</option>").show();
        ClearDP();
    }

    function ClearDP() {
        $("#giroacctgoid").val(0);
        $("#dpno").val("");
        removeCommas($("#cashbankresamt").val());
        $("#cashbankresamt").val(0);
    }

    function ChangeCashBankType() {
        var sVar = "VAR_CASH";
        SetView();
        if ($("#cashbanktype option:selected").val() == "BBM") {
            sVar = "VAR_BANK";
        } else if ($("#cashbanktype option:selected").val() == "BGM") {
            sVar = "VAR_BANK";
        } else if ($("#cashbanktype option:selected").val() == "BLM") {
            sVar = "VAR_DP_AR";
        }
        if ($("#cashbanktype option:selected").val() != "BLM") {
            ClearDP();
        }
        InitDDLAcctg(sVar);
    }

    function SetView()
    {
        $("#cashbanksuppaccoid").prop("selectedIndex", 0).trigger('change');
        $("#acctgoid").attr("readonly", false);
        $("#star_cashbankrefno").hide();
        $("#col_cashbankrefno").show();
        $("#col_rgmno").hide();
        $("#col_cashbankduedate").hide();
        $("#viewdp").hide();
        if ($("#cashbanktype option:selected").val() == "BBM") {
            $("#star_cashbankrefno").show();
            $("#col_cashbankduedate").show();
        } else if ($("#cashbanktype option:selected").val() == "BGM") {
            $("#col_cashbankrefno").show();
            $("#col_cashbankduedate").show();
            $("#col_rgmno").show();
        } else if ($("#cashbanktype option:selected").val() == "BLM") {
            //$("#curroid").attr("readonly", false);
            $("#acctgoid").attr("readonly", true);
            $("#viewdp").show();
            $("#col_cashbankrefno").hide();
        }
    }

    function InitDDLAcctg(sVar) {
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var isExist = false;
                var markup = "<option value=\'\'>-</option>";
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');
                GenerateNo();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function GenerateNo() {
        @*if ($('#action').val() == "Create") {
            var isvalid = true;
            var cashbankdate = $("#tglmst").val();
            var cashbanktype = $("#cashbanktype").val();
            var acctgoid = $("#acctgoid option:selected").val();
            if (acctgoid == "" || acctgoid == "0" || acctgoid == 0)
                isvalid = false;

            if (isvalid)
            {
                $.ajax({
                    url: "@(Url.Action("GenerateCashBankNo"))",
                    data: { cashbankdate: cashbankdate, cashbanktype: cashbanktype, acctgoid: acctgoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#cashbankno").val(data);
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
    else
            $("#cashbankno").val("");
    }*@
    }

    function InitDDLAddCost(sVar, ddl) {
        var acctgoid = $("#" + ddl);
        var acctgoid_temp = $("#" + ddl + "_temp").val();
        var acctgoid_sel = $("#" + ddl + " option:selected").val();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var isExist = false;
                var markup = "<option value='0'>NONE</option>";
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_temp) {
                        isExist = true;
                    }
                });
                acctgoid.html(markup).show();
                //if ($('#action').val() == "Edit") {
                if (isExist == true) {
                    if (acctgoid_temp != '0') {
                        acctgoid.val(acctgoid_temp);
                    }
                }
                //}
                acctgoid.trigger('change');
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    }

    function ChangeDDLAddCost(ddl, addcostname)
    {
        if (removeCommas($("#" + addcostname).val()) == 0) {
            $("#" + addcostname).val(0);
        }
        if (ddl.value == "0")
            $("#" + addcostname).prop("readonly", true);
        else
            $("#" + addcostname).prop("readonly", false);
    }

    $("#btnsearchcust").click(function () {
        var action = $('#action').val();
        var id = $('#cashbankoid').val();
        var curroid = $('#curroid option:selected').val();
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCusttomerData"))",
            data: { action: action, id: id, curroid: curroid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                swal('Please select Customer again!', 'Error: ' + err, 'error');
                $('#modal-supp').modal('hide');
            }
        });
    });

    $("#btnsearchdp").click(function () {
        var curroid = $('#curroid option:selected').val();
        if (curroid == null || curroid == "" || curroid == "0" || curroid == 0) {
            swal('', 'Please select Currency first!', 'warning');
            return false;
        }
        var custoid = $('#refsuppoid').val();
        if (custoid == null || custoid == "" || custoid == "0" || custoid == 0) {
            swal('', 'Please select Customer first!', 'warning');
            return false;
        }
        var table = $('#tblModalDP').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDPData"))",
            data: { curroid: curroid, custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.dparno,
                        moment(val.dpardate).format('DD/MM/YYYY'),
                        val.dparpayrefno,
                        addCommas(val.dparamt),
                        val.dparnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                swal('Please select DP No. again!', 'Error: ' + err, 'error');
                $('#modal-dp').modal('hide');
            }
        });
    });

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        var custoid = $('#refsuppoid').val();
        if (custoid == null || custoid == "" || custoid == "0" || custoid == 0) {
            swal('', 'Please select Customer first!', 'warning');
            return false;
        }
        var dparoid = $('#giroacctgoid').val();
        var curroid = $('#curroid option:selected').val();
        var currcode = $('#curroid option:selected').text();
        tblModalDtl.column(0).checkboxes.deselect();
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { custoid: custoid, curroid: curroid, dparoid: dparoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.payarseq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });

    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.refoid, obj.reftype)) {
                obj.payarseq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        CountHdrAmount();
        EnabledHeader();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(refoid, reftype) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (refoid == alldata.refoid && reftype == alldata.reftype) {
                return true;
            }
        }
        return false;
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var id = $('#cashbankoid').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.dtl);
                    tbl_dtl.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'payarseq:name').data(i + 1).invalidate();
        }
        CountHdrAmount();
        EnabledHeader();
        e.preventDefault();
    });

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();
        CountHdrAmount();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2();
    };

    function CountHdrAmount() {
        var dTotalAmt = 0; var dGrandTotalAmt = 0;
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dTotalAmt += parseFloat(alldata.payaramt);
        }
        dGrandTotalAmt = parseFloat(dTotalAmt) + parseFloat($("#addacctgamt1").val()) + parseFloat($("#addacctgamt2").val()) + parseFloat($("#addacctgamt3").val()) +parseFloat( $("#addacctgamt4").val()) + parseFloat($("#addacctgamt5").val())
        $("#cashbankdpp").val(dTotalAmt);
        $("#cashbankamt").val(dGrandTotalAmt);
    }

    function EnabledHeader() {
        var bVal = tbl_dtl.data().length > 0;

        $("#btnsearchcust").attr("disabled", bVal);
        $("#btnsearchdp").attr("disabled", bVal);
        $("#curroid").attr("readonly", bVal);
    }

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "cashbankdate") {
                tbl[n.name] = toDate($('#cashbankdate').val());
            }
            else if (n.name == "cashbankduedate") {
                tbl[n.name] = toDate($('#cashbankduedate').val());
            }
            else if (n.name == "cashbanktakegiro") {
                tbl[n.name] = toDate($('#cashbanktakegiro').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });
        var action = $('#action').val();

        var dtDtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtDtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtDtl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#cashbankstatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#cashbankstatus").val("In Process");
            }
        });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data ?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#cashbankstatus").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#cashbankoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    });

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var cmpcode = "";
        var cashbankno = $("#cashbankno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trncashbankmst " + $("#cashbankoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { cashbankno: cashbankno, cmpcode: cmpcode, ratetype: ratetype, glother1: glother1 },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.acctgcode,
                    val.acctgdesc,
                    addCommas(val.acctgdebet),
                    addCommas(val.acctgcredit),
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    }
</script>