﻿@{
    ViewBag.Title = "Laporan PB Fixed Asset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan PB Fixed Asset</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "FAReceivedReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                        @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },
                                            new SelectListItem { Text="Post", Value="Post", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true }
                                        }, new { @class = "form-control select2", @multiple="" })
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                                {
                                                new SelectListItem { Text = "Tgl Transaksi", Value = "sjm.updtime" },
                                                new SelectListItem { Text = "Tgl Dokumen", Value = "sjm.mrassetdate" }
                                                }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLSupType", new List<SelectListItem>
                                            {
                                               new SelectListItem { Text = "ALL", Value = "" },
                                               new SelectListItem { Text = "TAX", Value = "1" },
                                               new SelectListItem { Text = "NON TAX", Value = "0" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Received No.<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.TextArea("TextMR", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-link" data-toggle="modal" data-target="#modal-mr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label> 
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.TextArea("TextSupp", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-link" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                           
                            </div>
                             
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sorting</label>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="Received No.", Value="sjm.mrassetno" },
                                            new SelectListItem { Text="Tgl Transaksi", Value="sjm.updtime" },
                                            new SelectListItem { Text="Tgl Dokumen", Value="sjm.mrassetdate" }
                                        }, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="ASC", Value="ASC" },
                                            new SelectListItem { Text="DESC", Value="DESC" }
                                        }, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Supplier Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSupp()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Tipe</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@

    @* MODAL UNTUK FORM SO *@
    <div class="modal fade" id="modal-mr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Received</h4>
                </div>

                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Received No.</th>
                                    <th>Tanggal</th>
                                    <th>Supplier</th> 
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSO()" data-dismiss="modal">Add To Filter</button>
                </div>

            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        $("#tblModalMR").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        $("#tblModalSupp").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        $("#tblModalMat").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });
    })

    /*END DOCUMENT READY*/
    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var markupsort = "<option value=\'sjm.mrassetno\'>Received No</option><option value=\'sjm.updtime\'>Tgl Transaksi</option><option value=\'sjm.mrassetdate\'>Tgl. Dokumen</option></option>";
        if (type == "Summary")
        {
            $('#divfordtl').hide();
        }
        else
        {
            $('#divfordtl').show();
            markupsort = "<option value=\'m.itemcode\'>Barang</option><option value=\'sjm.mrassetno\'>Received No</option>";
        }
        $("#DDLSorting").html(markupsort).show();
    }

    $("#btnsearchso").click(function () {
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();

        var table = $('#tblModalSO').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();

        $.ajax({
            url: "@(Url.Action("GetMRData"))",
            data: { status: status, startdate: startdate, enddate: enddate, fdate: fdate },
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    ++i,
                    val.mrassetno,
                    moment(val.mrassetdate).format('DD/MM/YYYY'),
                    val.suppname
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchsupp").click(function () {
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();

        var table = $('#tblModalSupp').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { status: status, startdate: startdate, enddate: enddate, fdate: fdate },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                         ++i,
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmat").click(function () {
        var status = $("#DDLStatus").val();
        var suppcode = $("#TextSupp").val();
        var TextMR = $("#TextMR").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();

        var table = $('#tblModalMat').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { status: status, suppcode: suppcode, TextMR: TextMR, startdate: startdate, enddate: enddate, fdate: fdate },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        ++i,
                        val.itemcode,
                        val.itemdesc,
                        val.itemtype,
                        val.unit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToFilterSupp() {
        var ind = 1;
        var result = $("#TextSupp").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalSupp').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextSupp").val(result);
    }

    function AddToFilterSO() {
        var ind = 1;
        var result = $("#TextMR").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalMR').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextMR").val(result);
    } 

    function AddToFilterMat() {
        var ind = 1;
        var result = $("#TextMaterial").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalMat').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextMaterial").val(result);
    }

    $("#btnViewReport").click(function () {
        var type = $("#DDLType option:selected").val();
        var status = $("#DDLStatus").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var TextSupp = $("#TextSupp").val();
        var mrassetno = $("#TextMR").val();
        var TextMaterial = $("#TextMaterial").val();
        var sort = $("#DDLSorting option:selected").val();
        var sortdir = $("#DDLSortDir option:selected").val();
        var reporttype = "";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLType: type, DDLStatus: status, StartPeriod: startdate, EndPeriod: enddate, DDLPeriod: fdate, TextSupp: TextSupp, TextMaterial: TextMaterial, DDLSorting: sort, DDLSortDir: sortdir, reporttype: reporttype, mrassetno: mrassetno },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                $.unblockUI();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>