﻿@model APIS_WB.Models.DB.QL_trnmritemmst
@{
    ViewBag.Title = "Penerimaan Barang Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Penerimaan Barang Jasa
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Header Penerimaan Barang Jasa</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.mritemmstoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("markup")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            @*===== Baris ke 1 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">No. Penerimaan <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.mritemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                </div>

                                <label class="col-sm-2 control-label">Tanggal <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("updtime", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                    </div>
                                </div>
                            </div>

                            @*===== Baris ke 2 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tgl. Dokumen <label class="text-red">*</label></label>
                                <div class="col-sm-4">  
                                    <div class="input-group">
                                        @Html.Editor("mritemdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>                               
                            </div>

                            @*===== Baris ke 3 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Supplier <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.HiddenFor(model => model.suppoid)
                                    </div>
                                </div>

                                <label class="col-sm-2 control-label">No. PO</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("pono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-PO">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.HiddenFor(model => model.pomstoid)
                                        @Html.HiddenFor(model => model.rabmstoid)
                                        @Html.HiddenFor(model => model.curroid)
                                    </div>
                                </div>
                            </div>

                            @*===== Baris ke 4 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">No. SJ Supplier</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.nosjsupp, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                </div>
                                
                                <label class="col-sm-2 control-label">Tgl. SJ Supplier</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("tglsjsupp", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            @*===== Baris ke 5 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kelengkapan</label>
                                <div class="col-sm-4">
                                    <div class="col-md-4 radio">
                                        <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.mritemmstres3, "Lengkap", new { @checked = true })<b>Lengkap</b></label>
                                    </div>
                                    <div class="col-md-4 radio">
                                        <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.mritemmstres3, "Tidak Lengkap")<b>Tidak Lengkap</b></label>
                                    </div>
                                </div>

                            </div>
                            @*===== Baris ke 6 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Catatan</label>
                                <div class="col-sm-4">
                                    @Html.TextAreaFor(model => model.mritemmstnote, new { @class = "form-control", @type = "text", @maxlength = "200" })
                                </div>

                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.mritemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.mritemmststatus } })
                                </div>
                            </div>
                          

                            @*BAGIAN DETAIL*@
                            <div class="box-header">
                                <h4 class="box-title"><strong>Detail Penerimaan Barang Jasa</strong></h4>
                            </div>
                            <div class="box-body">                                
                                <div class="col-sm-12" style="padding-top: 12px;">
                                    <div class="pull-right">
                                        <span class="input-group">
                                            <button type="button" id="btnaddtolist" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail">
                                                <i class="fa fa-plus"></i>
                                                Tambah
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                                    </table>
                                </div>
                            </div>
                            @*AKHIR BAGIAN DETAIL*@
                        </div><!-- /.container-fluid -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @{
                                if (@Model.mritemmststatus == "In Process" | @Model.mritemmststatus == "Revised")
                                {
                                <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                        }
                                    }
                                }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-PO">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data PO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@


    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'mritemdtlseq', name: 'mritemdtlseq', title: 'No.' },
                { data: 'poitemno', name: 'poitemno', title: 'No PO' },
                { data: 'poitemdate', name: 'poitemdate', title: 'Tgl PO' },
                { data: 'jasadesc', name: 'jasadesc', title: 'Item' },
                { data: 'poitemqty', name: 'poitemqty', title: 'Qty PO', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'mritemqty', name: 'mritemqty', title: 'Qty', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'mritemqty', ' money', '', "width:110px;"); } },
                { data: 'mritemunit', name: 'mritemunit', title: 'Satuan' },
                { data: 'mritemdtlnote', name: 'mritemdtlnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'cashbankglnote', ' ', '', "width:150px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .select2').select2();
        });

        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'mritemdtlseq', name: 'mritemdtlseq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'poitemno', name: 'poitemno', title: 'No PO' },
                { data: 'poitemdate', name: 'poitemdate', title: 'Tgl PO' },
                { data: 'jasadesc', name: 'jasadesc', title: 'Item' },
                { data: 'poitemqty', name: 'poitemqty', title: 'Qty PO', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'mritemqty', name: 'mritemqty', title: 'Qty', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'mritemqty', ' money', '', "width:110px;"); } },
                { data: 'mritemunit', name: 'mritemunit', title: 'Satuan' },
                { data: 'mritemdtlnote', name: 'mritemdtlnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'cashbankglnote', ' ', '', "width:150px;"); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .select2').select2();
        });

        tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'suppcode', name: 'suppcode', title: 'Code' },
                { data: 'suppname', name: 'suppname', title: 'Name' },
                { data: 'suppaddr', name: 'suppaddr', title: 'Address' },
            ],
            order: [],
        });

        tblModalPO = $("#tblModalPO").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'poitemno', name: 'poitemno', title: 'No PO' },
                { data: 'poitemdate', name: 'poitemdate', title: 'Tgl PO' },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'poitemmstnote', name: 'poitemmstnote', title: 'Note' },
            ],
            order: [],
        });

        if ($("#action").val() == "Edit") {
            FillDetailData();
        }
    })
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    var url_GetSupplierData = "@(Url.Action("GetSupplierData"))"
    $("#btnsearchsupp").click(function () {
        tblModalSupp.clear().draw();
        $.ajax({
            url: url_GetSupplierData,
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalSupp.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalSupp").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalSupp.row($tr).data();

        $("#suppname").val(alldata.suppname);
        $("#suppoid").val(alldata.suppoid);
        $('#modal-supp').modal('hide');
    });

    var url_GetPOData = "@(Url.Action("GetPOData"))"
    $("#btnsearchpo").click(function () {
        var suppoid = $("#suppoid").val();
        if (suppoid == '0') {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        tblModalPO.clear().draw();
        $.ajax({
            url: url_GetPOData,
            data: { suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalPO.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalPO").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalPO.row($tr).data();

        $("#pono").val(alldata.poitemno);
        $("#pomstoid").val(alldata.poitemmstoid);
        $("#rabmstoid").val(alldata.rabmstoid);
        $("#curroid").val(alldata.curroid);
        $('#modal-PO').modal('hide');
    });

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnaddtolist").click(function () {
        var pomstoid = $("#pomstoid").val();
        if (pomstoid == '0') {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih No. PO Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        tblModalDtl.column(0).checkboxes.deselect();
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { pomstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.mritemdtlseq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.itemoid)) {
                obj.mritemdtlseq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(itemoid) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (itemoid == alldata.itemoid) {
                return true;
            }
        }
        return false;
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var id = $('#mritemmstoid').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.dtl);
                    tbl_dtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'mritemdtlseq:name').data(i + 1).invalidate();
        }
        e.preventDefault();
    });

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2();
    };

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "mritemdate") {
                tbl[n.name] = toDate($('#mritemdate').val());
            }
            else if (n.name == "tglsjsupp") {
                tbl[n.name] = toDate($('#tglsjsupp').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });
        var action = $('#action').val();

        var dtDtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtDtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtDtl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#mritemmststatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#mritemmststatus").val("In Process");
            }
        });
    });

    function clickDelete() {
        var oid = $("#mritemmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
					$("#mritemmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });


</script>
