﻿@model APIS_WB.Models.DB.QL_trnkasbonmst

@{
    ViewBag.Title = "Piutang Karyawan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Piutang Karyawan</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header Piutang Karyawan</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @{
                            @Html.EditorFor(model => model.kasbondate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.kasbondate } })
                            @Html.EditorFor(model => model.kasbonduedate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.kasbonduedate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PTK No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.kasbonno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.kasbonmstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.kasbondate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Group</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.kasbongroup, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="PEMBERIAN", Value="PEMBERIAN" },
                                                //new SelectListItem { Text="PEMAKAIAN", Value="PEMAKAIAN" },
                                                new SelectListItem { Text="PENGEMBALIAN", Value="PENGEMBALIAN" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" id="col_kasbontype">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.kasbontype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="CASH", Value="BKK" },
                                                new SelectListItem { Text="TRANSFER", Value="BBK" },
                                                new SelectListItem { Text="PERANTARA", Value="BPK" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_kasbonduedate">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglduedate", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.kasbonduedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.kasbonamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.kasbonamt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.kasbonmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.kasbonmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.kasbonnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Detail Piutang Karyawan</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PIC</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("personoiddtl", null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account Detail</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("acctgoiddtl", null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Detail Amount</label>
                                        <div class="col-md-8">
                                            @Html.Editor("kasbonamtdtl", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Detail Note</label>
                                        <div class="col-md-8">
                                            @Html.Editor("kasbonnotedtl", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" onclick="AddToDetail()"><b>Tambah</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th></th>
                                        <th>PIC</th>
                                        <th>Detail Account</th>
                                        <th>Amount</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                            <h6><b>VAR_PTK | VAR_EXPENSE</b></h6>
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.kasbonmststatus == "In Process" | @Model.kasbonmststatus == "Revised")
                            {
                                <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                                <button type="button" name="action" value="@(ViewBag.action)" id="btnSendForApproval" class="btn btn-warning btn-md"><b>Terbitkan</b></button>
                            }
                            else
                            {
                                if (Model.kasbonmststatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                            }
                        }                        
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK DP *@
    <div class="modal fade" id="modal-dp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Down Payment</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDP" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DP No.</th>
                                    <th>DP Date</th>
                                    <th>DP Account</th>
                                    <th>DP Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DP *@

    @* MODAL UNTUK FORM DETAIL COA *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Expense Acoount</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                    <th>Amount</th>
                                    <th>Detail Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL COA *@

    @* MODAL UNTUK GANTI COA *@
    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Expense Account</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI COA *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Taxable</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 2],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); CountHdrAmount(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress input", ".allownumericwithNegative", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithNegative", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress input", ".allownumericwithNegative", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("blur", ".allownumericwithNegative", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalDP").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCOA = $("#tblModalCOA").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#suppname").val(alldata.suppname);
            $("#refsuppoid").val(alldata.suppoid);
            $("#kasbontaxtype").val(alldata.supptaxable);
            $("#kasbontaxpct").val(0);
            if (alldata.supptaxable == "TAX") {
                $("#kasbontaxpct").val(alldata.supptaxvalue);
            }
            CountHdrAmount();
            BindTotalDP();
            $('#modal-supp').modal('hide');
        });

        var tblModalDP = $("#tblModalDP").DataTable();
        tblModalDP.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalDP.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#dpapno").val(alldata.dpapno);
            $("#acctgoid").val(alldata.dpapacctgoid).trigger("change");
            $("#giroacctgoid").val(alldata.dpapoid);
            $("#kasbonresamt").val(alldata.dpapamt);
            $('#modal-dp').modal('hide');
        });

        $("#cmpcode").change(function () {
            kasbonType();
            InitDDLPerson();
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#kasbontype").change(function () {
            kasbonType();
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#kasbondate").change(function () {
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#acctgoid").change(function () {
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#kasbongroup").change(function () {
            kasbonGroup();
        });

        $("#personoiddtl").change(function () {
            GetPersonAmt();
        });

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        })

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#kasbondate").val();
        } else {
            tgl = $("#kasbondate").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#kasbonduedate").val();
        } else {
            tgl3 = $("#kasbonduedate").val();
        }
        tglIndo(tgl3, '.datepicker2');
        
        kasbonType();
        GetPersonAmt();
        FillDetailData();

        $('#kasbonamt').val(addCommas($('#kasbonamt').val()));
    })

    function kasbonType() {
        var sVar = "VAR_CASH";
        $("#acctgoid").attr("readonly", false);
        $("#col_kasbontype").show();
        $("#col_kasbonduedate").hide();
        if ($("#kasbontype option:selected").val() == "BBK") {
            sVar = "VAR_BANK";
            $("#col_kasbonduedate").show();
        }
        else if ($("#kasbontype option:selected").val() == "BPK") {
            sVar = "VAR_PERANTARA_PK";
        }
        if ($("#kasbongroup option:selected").val() == "PEMAKAIAN") {
            $("#col_kasbontype").hide();
            sVar = "VAR_PTK";
        }
        InitDDLAcctg(sVar);
        InitDDLAcctgDtl();
    }

    function kasbonGroup() {
        kasbonType();
    }

    function BindTotalDP() {        
        var action = $("#action").val();
        var curroid = $("#curroid option:selected").val();
        var suppoid = $("#refsuppoid").val();
        var kasbonoid = $("#kasbonoid").val();
        $.ajax({
            url: "@(Url.Action("BindTotalDP"))",
            data: { action: action, curroid: curroid, suppoid: suppoid, kasbonoid: kasbonoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#totaldpamt").val(addCommas(data));
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GetPersonAmt() {
        var kasbongroup = $("#kasbongroup option:selected").val();
        var personoid = $("#curroid option:selected").val();
        $.ajax({
            url: "@(Url.Action("BindPersonAmt"))",
            data: { kasbongroup: kasbongroup, personoid: personoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#kasbonamtdtl").val(addCommas(data));
            },
            error: function (err) {
                console.log(err);
            }
        })
    }  

    function SetCOACurrency() {
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("SetCOACurrency"))",
            data: { acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data != 0) {
                    $("#curroid").val(data).trigger("change");
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GenerateExpenseNo() {        
        var kasbondate = $("#tglmst").val();
        var kasbontype = $("#kasbontype").val();
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateExpenseNo"))",
            data: { kasbondate: kasbondate, kasbontype: kasbontype, acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#kasbonno").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.kasbondtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.personname,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="kasbondtlamt-' + val.kasbondtlseq + '" name="kasbondtlamt-' + val.kasbondtlseq + '" value="' + addCommas(val.kasbondtlamt) + '" onchange="CountDtlAmount(' + val.kasbondtlseq + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="kasbondtlnote-' + val.kasbondtlseq + '" name="kasbondtlnote-' + val.kasbondtlseq + '" value="' + (val.kasbondtlnote == null ? "" : val.kasbondtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                CountHdrAmount();
                EnabledHeader();
                ClearDtl();
            }, 100);
        });
    }

    function InitDDLAcctg(sVar) {        
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');
                if ($("#action").val() == "Create") {
                    GenerateExpenseNo();
                }
            } else {
                acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAcctgDtl() {
        var kasbongroup = $("#kasbongroup option:selected").val();
        var sVar = "VAR_PTK";
        if (kasbongroup == "PEMAKAIAN") {
            sVar = "VAR_EXPENSE";
        }
        var acctgoid = $("#acctgoiddtl");
        var acctgoid_sel = $("#acctgoiddtl option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == acctgoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    acctgoid.html(markup).show();
                    if (isExist == true) {
                        acctgoid.val(acctgoid_sel);
                    }
                    acctgoid.trigger('change');
                    if ($("#action").val() == "Create") {
                        GenerateExpenseNo();
                    }
                } else {
                    acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLPerson() {
        var personoid = $("#personoid");
        var personoid_sel = $("#personoid option:selected").val();
        personoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLPerson"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.usoid + "\'>" + val.usname + "</option>";
                        if (val.personoid == personoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    personoid.html(markup).show();
                    if (isExist == true) {
                        personoid.val(personoid_sel);
                    }
                    personoid.trigger('change');
                } else {
                    personoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }    

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#acctgoid").attr("readonly", bVal);
        $("#kasbontype").attr("readonly", bVal);
        $("#kasbongroup").attr("readonly", bVal);
        $("#curroid").attr("readonly", bVal);
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dVal = 0;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var alldata = JSON.parse(data[i][0]);
                dVal += parseFloat(alldata.kasbondtlamt);
            }
        }
        var kasbongrandtotal = dVal;
        $("#kasbonamt").val(addCommas(kasbongrandtotal));
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var kasbondtlamt = removeCommas(table.$("#kasbondtlamt-" + id).val());

        alldata.kasbondtlamt = kasbondtlamt;
        data[0] = JSON.stringify(alldata);
        data[5] = '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="kasbondtlamt-' + id + '" name="kasbondtlamt-' + id + '" value="' + addCommas(alldata.kasbondtlamt) + '" onchange="CountDtlAmount(' + id + ')">';

        table.row(id - 1).data(data).invalidate();
        CountHdrAmount();
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearCust() {
        $("#custname").val("");
        $("#custoid").val("");
    }

    function ClearAR() {
        $("#aritemno").val("");
        $("#aritemmstoid").val("");
    }

    function ClearDtl() {
        $("#kasbonamtdtl").val("");
        $("#kasbonnotedtl").val("");
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var kasbonno = $("#kasbonno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trnkasbonmst " + $("#kasbonmstoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { kasbonno: kasbonno, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.acctgdebet),
                        addCommas(val.acctgcredit),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnsearchdp").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Please select SUPPLIER field!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalDP').DataTable();
            var suppoid = $('#refsuppoid').val();
            var curroid = $("#curroid option:selected").val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("BindDPData"))",
                data: { suppoid: suppoid, curroid: curroid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.dpapno,
                            moment(jsDate(val.dpapdate)).format('MM/DD/YYYY'),
                            val.acctgdesc,
                            addCommas(val.dpapamt),
                            val.dpapnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
            },
            error: function (err) {
                console.log(err);
            }
            });
        }
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindSupplierData"))",
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.supptaxable,
                        val.suppaddr,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    @*$("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var sVar = "VAR_EXPENSE";
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    val.acctgcode,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="kasbondtlamt-' + i + '" name="kasbondtlamt-' + i + '" value="' + addCommas(val.kasbondtlamt) + '" onchange="CountDtlAmount(' + i + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="kasbondtlnote-' + i + '" name="kasbondtlnote-' + i + '" value="' + (val.kasbondtlnote == null ? "" : val.kasbondtlnote) + '">'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });*@

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.kasbondtlseq - 1);
        $('#modal-coa').modal('show');

        var table = $('#tblModalCOA').DataTable();
        var sVar = "VAR_EXPENSE";
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.acctgcode,
                        val.acctgdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalCOA").on('click', '#select', function () {
        var table = $('#tblModalCOA').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        if (alldata.kasbondtlamt = 0) {
            Swal({
                text: 'Amount cannot be 0',
                type: 'warning'
            });
            return false
        }
        var iSeq = parseInt($('#seq').val()) + 1;
        alldata.kasbondtlamt = 0;
        alldata.kasbondtlnote = "";
        var obj = {
            kasbondtlseq: iSeq,
            acctgoid: alldata.acctgoid,
            acctgcode: alldata.acctgcode,
            acctgdesc: alldata.acctgdesc,
            kasbondtlamt: alldata.kasbondtlamt,
            kasbondtlnote: alldata.kasbondtlnote,
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = alldata.acctgcode;
        datadtl[4] = alldata.acctgdesc;
        datadtl[5] = '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="kasbondtlamt-' + iSeq + '" name="kasbondtlamt-' + iSeq + '" value="' + addCommas(alldata.kasbondtlamt) + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[6] = '<input type="text" class="form-control" style="max-width: 150px" id="kasbondtlnote-' + iSeq + '" name="kasbondtlnote-' + iSeq + '" value="' + (alldata.kasbondtlnote == null ? "" : alldata.kasbondtlnote) + '">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        CountHdrAmount();
        $('#modal-coa').modal('hide');
    });

    function AddToDetail() {
        var personoid = $("#personoiddtl option:selected").val();
        var personname = $("#personoiddtl option:selected").text();
        var acctgoid = $("#acctgoiddtl option:selected").val();
        var acctgdesc = $("#acctgoiddtl option:selected").text();
        var kasbondtlamt = removeCommas($("#kasbonamtdtl").val());
        var kasbondtlnote = $("#kasbonnotedtl").val();
        if (kasbondtlamt == null || kasbondtlamt == "" || kasbondtlamt == "0" || kasbondtlamt == 0) {
            swal('', 'Please Input Amount!', 'warning');
            return false;
        }
        var isValid = true;
        var tbldtl = $('#DataDtl').DataTable();
        if (!IsOnDtl(acctgoid, personoid)) {
            var id = tbldtl.rows().data().length + 1;
            var obj = {
                kasbondtlseq: id,
                personoid: personoid,
                personname: personname,
                acctgoid: acctgoid,
                acctgdesc: acctgdesc,
                kasbondtlamt: kasbondtlamt,
                kasbondtlnote: kasbondtlnote
            };
            tbldtl.row.add([
                JSON.stringify(obj),
                id,
                '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                personname,
                acctgdesc,
                '<input type="text" class="form-control allownumericwithNegative" style="max-width: 80px" id="kasbondtlamt-' + id + '" name="kasbondtlamt-' + id + '" value="' + addCommas(kasbondtlamt) + '" onchange="CountDtlAmount(' + id + ')">',
                '<input type="text" class="form-control" style="max-width: 150px" id="kasbondtlnote-' + id + '" name="kasbondtlnote-' + id + '" value="' + (kasbondtlnote == null ? "" : kasbondtlnote) + '">',
                '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
            ]).draw();
            CountHdrAmount();
        };
        SetDataDtl();
        EnabledHeader();
        ClearDtl();
    }

    function IsOnDtl(acctgoid, personoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if ((acctgoid == alldata.acctgoid) && (personoid == alldata.personoid)) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.kasbondtlamt = removeCommas(table.$("#kasbondtlamt-" + alldata.kasbondtlseq).val());
            alldata.kasbondtlnote = table.$("#kasbondtlnote-" + alldata.kasbondtlseq).val();
            alldata.kasbondtlseq = i + 1;
            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $('#kasbonamt').val(removeCommas($('#kasbonamt').val()));
        SetDataDtl();
    });    

    $("#btnDelete").click(function () {
        var oid = $("#kasbonmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
		    $("#kasbonmststatus").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>