﻿@model APIS_WB.Models.DB.QL_trnapdirmst

@{
    ViewBag.Title = "AP Direct";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form AP Direct
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Header AP Direct</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.apdirmstoid)
                        @Html.HiddenFor(model => model.apdirmststatus)                      
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("mritemmstoid")
                        @Html.Hidden("gnother1")
                        @Html.Hidden("uid")
                        @Html.Hidden("action")
                        @Html.Hidden("markup")     
                        @{
                           @Html.EditorFor(model => model.apdirdate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.apdirdate } })
                           @Html.EditorFor(model => model.apdirduedate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.apdirduedate } })
                           @Html.EditorFor(model => model.apdirsuppfjdate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.apdirsuppfjdate } })
                        }                   
                        <div class="container-fluid">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                        </div>

                        @*===== Baris ke 1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Faktur <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apdirno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.apdirno, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tanggal <label class="text-red">*</label></label>
                            <div class="col-sm-4">                                
                                    @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                                @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })                            
                        </div>

                        @*===== Baris ke 2 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = "", @onchange = "FillDueDate()" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.apdirdate, "", new { @class = "text-danger" })
                            </div>                            
                        </div>

                        @*===== Baris ke 2 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">RAB </label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.rabmstoid)
                                </div>
                                @Html.ValidationMessageFor(model => model.rabmstoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Supplier</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.suppoid)
                                </div>
                                @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 3 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tgl. Jatuh Tempo<label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.Editor("tgldue", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.apdirduedate, "", new { @class = "text-danger" })

                            <label class="col-sm-2 control-label">Departemen</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-4" style="display:none">
                                @Html.Editor("reqrabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessage("reqrabno", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 4 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nama Project</label>
                            <div class="col-sm-4">
                                @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.ValidationMessage("projectname", "", new { @class = "text-danger" })
                            </div>
                            
                            <label class="col-sm-2 control-label">TOP</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.apdirpaytypeoid, null, new { @class = "form-control select2", @onchange = "FillDueDate()" })
                                @Html.ValidationMessageFor(model => model.apdirpaytypeoid, "", new { @class = "text-danger" })
                            </div>
                        </div>
    
                        @*===== Baris ke 6 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Inv Supplier</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apdirsuppfjno, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.apdirsuppfjno, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tgl. Inv Supplier</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglinv", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.apdirsuppfjdate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 7 =====*@
                        <div class="form-group" style="display:none">
                            <label class="col-sm-2 control-label">No. Faktur Pajak</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apdirfaktur, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.apdirfaktur, "", new { @class = "text-danger" })
                            </div>
                            
                            <label class="col-sm-2 control-label" style="display:none">Sales Supplier</label>
                            <div class="col-sm-4" style="display:none">
                                @Html.Editor("suppsales", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.HiddenFor(model => model.suppsalesoid)
                                @Html.ValidationMessageFor(model => model.suppsalesoid, "", new { @class = "text-danger" })
                            </div>                
                        </div>                        
                        @*===== Baris ke 8 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mata Uang <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.curroid, null, new {  @class = "form-control select2", @required = "", @readonly = "" })
                                @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="display:none">
                            <label class="col-sm-2 control-label">Nilai Tukar <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apdirrate2toidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50", @value = "1" } })
                                @Html.ValidationMessageFor(model => model.apdirrate2toidr, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 9.1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Akun PPH</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.acctgpphoid, null, new { @class = "form-control select2", @required = "" })
                                @Html.ValidationMessageFor(model => model.acctgpphoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Total PPH</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.pphamt, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "30", @onblur= "SumAmtBiaya()" } })
                                @Html.ValidationMessageFor(model => model.pphamt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*==== Baris ke 9.2 ====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apdirtotalnetto, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.Hidden("apdirtotalamt")
                                @Html.ValidationMessageFor(model => model.apdirtotalnetto, "", new { @class = "text-danger" })
                            </div>

                            
                        </div>
                        @*===== Baris ke 10 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Total PPN</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apdirtaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.apdirtaxamt, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Total DPP + PPN</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apdirgrandtotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.apdirgrandtotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*==== Baris ke 11 ====*@

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Catatan</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.apdirmstnote, new { @class = "form-control", @type = "text", @maxlength = "300" })
                                @Html.ValidationMessageFor(model => model.apdirmstnote, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">                                
                                    @Html.EditorFor(model => model.apdirmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "", @Value = Model.apdirmststatus } })                                
                            </div>
                        </div>                                                      

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h4 class="box-title"><strong>Detail AP Direct</strong></h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs pull-left">
                                            <li class="active"><a href="#detail-output" data-toggle="tab"><b>Detail AP Direct</b></a></li>
                                            <li><a href="#detail-input" data-toggle="tab"><b> Detail Faktur Pajak</b></a></li>
                                        </ul>

                                        <div class="tab-content no-padding">
                                            <!-- Morris chart - Sales -->
                                            <div class="chart tab-pane active" id="detail-output" style="position: relative; overflow-x: auto;">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right">
                                                            <button type="button" id="btndtl" class="btn btn-primary" data-toggle="modal" data-target="#modal-dtl">
                                                                <i class="fa fa-plus"></i>
                                                                Tambah
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12" style="overflow-x: auto;">
                                                    <table id="DataDtl" class="table table-striped" style="width: 100%">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>alldata</th>
                                                                <th>No.</th>
                                                                <th>Account No.</th>
                                                                <th>Account Desc.</th>
                                                                <th>Amount O/S</th>
                                                                <th>Amount</th>
                                                                <th>Note</th>
                                                                <th>Opsi</th>
                                                                <th>rabdtl5oid</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div><br>
                                            </div>

                                            <div class="chart tab-pane" id="detail-input" style="position: relative; overflow-x: auto;">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right">
                                                            <button type="button" id="btntambah2" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail2">
                                                                <i class="fa fa-plus"></i>
                                                                Tambah
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <table id="DataDtl2" width="100%" class="table table-striped" style="position: relative; overflow-x: auto;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th>alldata</th>
                                                            <th>No.</th>
                                                            <th>Kode</th>
                                                            <th>No. Faktur Pajak</th>
                                                            <th>Nominal</th>
                                                            <th>Opsi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table><br>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@

                    </div><!-- /.container-fluid -->
                </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                <h6><b>VAR_AP_DIRECT | VAR_COST_AP_DIRECT</b></h6>
                            }
                        </div>
                        <div class="pull-right">                            
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @{
                                if (@Model.apdirmststatus == "In Process" | @Model.apdirmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Kirim Permintaan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                    }
                                }
                                else
                                {
                                    if (Model.apdirmststatus == "Post" | Model.apdirmststatus == "Closed")
                                    {
                                        <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                    }
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. RAB</th>
                                    <th>Tanggal</th>                                    
                                    <th>No. PRAB</th>
                                    <th>Project Name</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@    

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Lokasi</th>
                                    <th>Alamat Pengiriman</th>
                                    <th>Provinsi</th>
                                    <th>Kota</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@
    

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-dtl">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Biaya</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>                                  
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Amount O/S</th>
                                    <th>rabdtl5oid</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" }
                                            //new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@

    @* MODAL UNTUK DETAIL 2 *@
    <div class="modal fade" id="modal-detail2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Faktur Pajak</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFakturDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>No. Faktur Pajak</th>
                                    <th>Nominal</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail2()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 2 *@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        var tblModalRAB =  $("#tblModalRAB").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#rabno").val(alldata.rabno);
            $("#rabdate").val(alldata.rabdate);
            $("#reqrabno").val(alldata.reqrabno);
            $("#projectname").val(alldata.projectname);
            $("#curroid").val(alldata.curroid).trigger("change");
            $("#deptoid").val(alldata.deptoid).trigger("change");
            $("#deptoid").attr("readonly", true);
            $('#modal-rab').modal('hide');
        });

        var tblModalSales =  $("#tblModalSales").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSales.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSales.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#salesname").val(alldata.salesname);
            $("#salesoid").val(alldata.salesoid);
            $("#deptoid").val(alldata.deptoid).trigger("change");
            $('#modal-sales').modal('hide');
        });

        var tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#gnother1").val(alldata.gnother1);
            $("#poitempaytypeoid").val(alldata.supppaymentoid).trigger('change');
            FillDueDate();
            $('#modal-supp').modal('hide');
        });

        var tblModalAlamat = $("#tblModalAlamat").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalAlamat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAlamat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#alamat").val(alldata.alamat);
            $("#alamatoid").val(alldata.alamatoid);
            $("#rabprovoid").val(alldata.provoid).trigger('change');
            $("#rabcityoid").val(alldata.cityoid).trigger('change');
            $('#modal-alamat').modal('hide');
        });

        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": [0,5],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //Set Data Pop Up Detail 2
        var tblModalFakturDtl = $("#tblModalFakturDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalFakturDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalFakturDtl.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalFakturDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,8],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl($('#uid').val()); SumAmtBiaya(); FillDetailData($('#uid').val());
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });

        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        table.on("keypress input", ".allownumericwithNegative", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((event.which != 45 || $(this).val().indexOf('-') != -1) && (event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithNegative", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        //Set Data Detail
        var table2 = $('#DataDtl2').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table2.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[1];
            table2.row($tr).remove().draw();
            SetDataDtl2($('#uid').val()); SumAmtFaktur(); FillDetailData2($('#uid').val());
            var data = table2.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table2.row(i).data();
                    temp[1] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table2.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#apdirdate").val();
        } else {
            tgl = $("#apdirdate").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#apdirduedate").val();
        } else {
            tgl3 = $("#apdirduedate").val();
        }
        $('#tgldue').val(moment(tgl3).format('DD/MM/YYYY'));

        var tgl5 = "";
        if ($('#action').val() == "Edit") {
            tgl5 = $("#apdirsuppfjdate").val();
        } else {
            tgl5 = $("#apdirsuppfjdate").val();
        }
        tglIndo(tgl5, '.datepicker2');

        //Set Data Pop Up Header

        FillDetailData($('#uid').val());
        FillDetailData2($('#uid').val());
        InitDDLAcctg()
        fillRate();
        FillDueDate();

        if ($('#rabmstoid').val() != 0) {
            $("#deptoid").attr("readonly", true);
        } else {
            $("#deptoid").attr("readonly", false);
        }
        

        $('#apdirtotalnetto').val(addCommas($('#apdirtotalnetto').val()))
        $('#apdirtaxamt').val(addCommas($('#apdirtaxamt').val()))
        $('#apdirgrandtotal').val(addCommas($('#apdirgrandtotal').val()))
        $('#pphamt').val(addCommas($('#pphamt').val()))
    })

    function InitDDLAcctg() {
        var sVar = "VAR_PPH";
        var acctgoid = $("#acctgpphoid");
        var acctgoid_sel = $("#acctgpphoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');
            } else {
                acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var apdirno = $("#apdirno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trnapdirmst " + $("#apdirmstoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { apdirno: apdirno, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.acctgdebet),
                        addCommas(val.acctgcredit),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function fillRate() {
        if ($("#curroid").val() == 1)
        {
            $("#apdirrate2toidr").val(1)
        }
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function FillDetailData(uid) {
        var rabmstoid = $('#rabmstoid').val();
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var ro = "";
                //if (rabmstoid != 0) {
                //    ro = "readonly=''";
                //}
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.apdirdtlseq,
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.priceOs),
                        '<input type="text" class="form-control allownumericwithNegative" style="max-width: 150px" id="apdirprice-' + val.apdirdtlseq + '" name="apdirprice-' + val.apdirdtlseq + '" value="' + addCommas(val.apdirprice) + '" ' + ro + ' onblur="SumAmtBiaya()">',
                        '<input type="text" class="form-control" style="max-width: 250px" id="apdirdtlnote-' + val.apdirdtlseq + '" name="apdirdtlnote-' + val.apdirdtlseq + '" value="' + (val.apdirdtlnote == null ? "" : val.apdirdtlnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>',
                        val.rabdtl5oid
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                }, 100);
            }
        });
    }

    function FillDetailData2(uid) {
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.apitemdtl2seq,
                        val.fabelicode,
                        val.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + val.apitemdtl2seq + '" name="apitemdtl2amt-' + val.apitemdtl2seq + '" value="' + addCommas(val.apitemdtl2amt) + '" onblur="SumAmtFaktur()">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            }
        });
    }

    $("#btndtl").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var rabmstoid = $("#rabmstoid").val();
        var suppoid = $("#suppoid").val();
        if (rabmstoid == '0') {
            if (suppoid == '0') {
                Swal({
                    title: 'WARNING!',
                    text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                    type: 'warning'
                });
                return false;
            }
        }
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListBiaya"))",
            data: { rabmstoid: rabmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.priceOs),
                        val.rabdtl5oid
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToDetail() {
        var isValid = true;
        var rabmstoid = $("#rabmstoid").val();
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var ro = '';
                //if (rabmstoid != 0) {
                //    ro = "readonly=''";
                //}
                //if (!IsOnDtl(alldata.acctgoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        apdirdtlseq: id,
                        acctgoid: alldata.acctgoid,
                        acctgcode: alldata.acctgcode,
                        acctgdesc: alldata.acctgdesc,
                        priceOs: alldata.priceOs,
                        rabdtl5oid: alldata.rabdtl5oid,
                        apdirprice: alldata.priceOs,
                        apdirdtlnote: ""
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.acctgcode,
                        alldata.acctgdesc,
                        addCommas(alldata.priceOs),
                        '<input type="text" class="form-control allownumericwithNegative" style="max-width: 150px" id="apdirprice-' + id + '" name="apdirprice-' + id + '" value="' + addCommas(alldata.priceOs) + '" ' + ro + ' onblur="SumAmtBiaya()">',
                         '<input type="text" class="form-control" style="max-width: 250px" id="apdirdtlnote-' + id + '" name="apdirdtlnote-' + id + '" value="">',
                         '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>',
                         alldata.rabdtl5oid
                    ]).draw();
                //}
            }
        })
        SetDataDtl($('#uid').val());
        SumAmtBiaya();
    }

    //Pop Up Data Header
    $("#btnsearchrab").click(function () {
        var table = $('#tblModalRAB').DataTable();
        var suppoid = $('#suppoid').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            data: { suppoid: suppoid},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.reqrabno,
                        val.projectname
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchalamat").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == '') {
            alert('Pilih Customer dulu!');
            return false;
        }
        var table = $('#tblModalAlamat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAlamatData"))",
            data: { custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.lokasi,
                        val.alamat,
                        val.provinsi,
                        val.kota
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //Pop Up Data Detail
    $("#btnmatBeli").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.itemseq,
                        val.acctgcode,
                        val.acctgdesc,
                        val.itemunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //Pop Up Data Header
    $("#btntambah2").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan pilih Supplier terlebih dahulu!',
                type: 'warning'
            });
            return false;
        } else {
            var table = $('#tblModalFakturDtl').DataTable();
            var suppoid = $('#suppoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetFakturData"))",
                data: { suppoid: suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    val.apitemdtl2seq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.fabelicode,
                        val.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + i + '" name="apitemdtl2amt-' + i + '" value="' + addCommas(val.apitemdtl2amt) + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    });

    function AddToDetail2() {
        var isValid = true;
        var table = $('#tblModalFakturDtl').DataTable();
        var tbldtl = $('#DataDtl2').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl2(alldata.fabelioid)) {
                    var id = tbldtl.rows().data().length + 1;
                    alldata.apitemdtl2amt = removeCommas(table.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
                    alldata.apitemdtl2seq = id;

                    tbldtl.row.add([
                        JSON.stringify(alldata),
                        id,
                        alldata.fabelicode,
                        alldata.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + id + '" name="apitemdtl2amt-' + id + '" value="' + addCommas(alldata.apitemdtl2amt) + '" onblur="SumAmtFaktur()">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl2($('#uid').val());
        SumAmtFaktur();
    }

    function IsOnDtl2(fabelioid) {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (fabelioid == alldata.fabelioid) {
                return true;
            }
        }
        return false;
    }

    function IsOnDtl(acctgoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (acctgoid == alldata.acctgoid) {
                return true;
            }
        }
        return false;
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0; var taxamt = 0.0; var pphamt = 0.0; var bruto = 0.0; var netto = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            amt += parseFloat(alldata.apdirdtlamt);
            //taxamt += parseFloat(alldata.apdirdtltaxamt);
            bruto += parseFloat(alldata.apdirdtlnetto);
        }
        var table2 = $('#DataDtl2').DataTable();
        var data2 = table2.rows().data();
        for (var i = 0 ; i < data2.length; i++) {
            var alldata = JSON.parse(data2[i][0])
            var aptaxamt = removeCommas(table2.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
            taxamt += parseFloat(aptaxamt);
        }

        $('#apdirtotalamt').val(amt);
        $('#apdirtaxamt').val(taxamt);
        $('#apdirtotalnetto').val(amt);
        $('#apdirgrandtotal').val(amt + taxamt);
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchrab").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#mritemno").val("");
        $("#mritemmstoid").val("");
    }

    function hitung(id) {
        var qty = $('#apdirqty-' + id + '').val();
        var price = $('#apdirprice-' + id + '').val();
        var taxvalue = $('#apdirdtltaxvalue-' + id + '').val();
        var dpp = parseFloat(qty * price);
        var taxamt = 0.0;
        //if (taxvalue > 0) {
        //    taxamt = parseFloat(dpp * (taxvalue / 100));
        //}
        var netto = dpp + taxamt;
        $('#apdirdtlamt-' + id + '').val(dpp);
        $('#apdirdtltaxamt-' + id + '').val(taxamt);
        $('#apdirdtlnetto-' + id + '').val(netto);
        SumAmtBeli();
    }

    function SumAmtBiaya() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0; var taxamt = removeCommas($('#apdirtaxamt').val());
        var netto = 0.0; var pphamt = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var apdirprice = removeCommas(table.$("#apdirprice-" + alldata.apdirdtlseq).val());

            amt += parseFloat(apdirprice);
        }
        pphamt = removeCommas($('#pphamt').val());
        if (pphamt > 0) {
            amt = parseFloat(amt) - parseFloat(pphamt);
        }
        netto = parseFloat(amt) + parseFloat(taxamt);

        $('#apdirtotalamt').val(addCommas(amt));
        $('#apdirtotalnetto').val(addCommas(amt));
        $('#apdirtaxamt').val(addCommas(taxamt));
        $('#apdirgrandtotal').val(addCommas(netto));
        $('#pphamt').val(addCommas(pphamt));
    }

    function SumAmtFaktur() {
        var amt = removeCommas($('#apdirtotalamt').val());
        var taxamt = 0.0;
        var netto = removeCommas($('#apdirtaxamt').val());
        var pphamt = 0.0;
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var aptaxamt = removeCommas(table.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
            taxamt += parseFloat(aptaxamt);
        }
        pphamt = removeCommas($('#pphamt').val());
        if (pphamt > 0) {
            amt = parseFloat(amt) - parseFloat(pphamt);
        }
        netto = parseFloat(amt) + parseFloat(taxamt);

        $('#apdirtotalamt').val(addCommas(amt));
        $('#apdirtotalnetto').val(addCommas(amt));
        $('#apdirtaxamt').val(addCommas(taxamt));
        $('#apdirgrandtotal').val(addCommas(netto));
        $('#pphamt').val(addCommas(pphamt));
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);

            var apdirprice = removeCommas(table.$("#apdirprice-" + alldata.apdirdtlseq).val());
            var apdirdtlnote = table.$("#apdirdtlnote-" + alldata.apdirdtlseq).val();
            var obj = {
                apdirdtlseq: i + 1,
                acctgoid: alldata.acctgoid,
                acctgcode: alldata.acctgcode,
                acctgdesc: alldata.acctgdesc,
                apdirprice: apdirprice,
                apdirdtlnote: apdirdtlnote,
                rabdtl5oid: alldata.rabdtl5oid,
                priceOs: alldata.priceOs
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtl2(uid) {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.apitemdtl2amt = removeCommas(table.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
            alldata.apitemdtl2seq = i + 1;

            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails2"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtlAll(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);

            var apdirprice = removeCommas(table.$("#apdirprice-" + alldata.apdirdtlseq).val());
            var apdirdtlnote = table.$("#apdirdtlnote-" + alldata.apdirdtlseq).val();
            var obj = {
                apdirdtlseq: i + 1,
                acctgoid: alldata.acctgoid,
                acctgcode: alldata.acctgcode,
                acctgdesc: alldata.acctgdesc,
                apdirprice: apdirprice,
                apdirdtlnote: apdirdtlnote,
                rabdtl5oid: alldata.rabdtl5oid,
                priceOs: alldata.priceOs
            }
            rows.push(obj);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            alldata.apitemdtl2amt = removeCommas(table2.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
            alldata.apitemdtl2seq = i + 1;

            rows2.push(alldata);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2, uid: uid }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        $('#apdirtotalamt').val(removeCommas($('#apdirtotalamt').val()));
        $('#apdirtotalnetto').val(removeCommas($('#apdirtotalnetto').val()));
        $('#apdirtaxamt').val(removeCommas($('#apdirtaxamt').val()));
        $('#apdirgrandtotal').val(removeCommas($('#apdirgrandtotal').val()));
        $('#pphamt').val(removeCommas($('#pphamt').val()));
        //FillDueDate()
        SetDataDtlAll($('#uid').val());
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send Approval this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send Approval this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#apdirmststatus").val('In Approval');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    function clickDelete() {
        var oid = $("#apdirmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var uid = $('#uid').val();
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, uid: uid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

     function FillDueDate() {
         var markup = "";
         var paytypeoid = $("#apdirpaytypeoid option:selected").val();
         var paytype = $("#gnother1").val();
         var tgldue = $("#tglmst").val();
         var url = "@(Url.Action("InitDueDate"))";
         $.ajax({
             data: { paytype: paytype, tgldue: tgldue, paytypeoid: paytypeoid },
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#tgldue").val(moment(jsDate(val.duedate)).format('DD/MM/YYYY'));
                    });
                }
            }
        });
    }

    function FillDDLAlamatSupp() {
        var markup = "";
        var url = "@(Url.Action("InitDDLAlamatSupp"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
    }

</script>
