﻿@model APIS_WB.Models.DB.QL_trndpap

@{
    ViewBag.Title = "DP Faktur Masukan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form DP Faktur Masukan</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.poreftype)
                        @Html.HiddenFor(model => model.dpapaccumamt)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @{
                            @Html.EditorFor(model => model.dpapdate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.dpapdate } })
                            @Html.EditorFor(model => model.dpapduedate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.dpapduedate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dpapno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.dpapoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.dpapdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.suppoid)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("pono", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.pomstoid)
                                            @Html.HiddenFor(model => model.poreftype)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">PO Tax Amount</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("pograndtotalamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @{
                                if (@Model.dpapoid > 0 && @Model.dpapaccumamt == 0 && @Model.dpapstatus == "Post")
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"></label>
                                                <div class="col-md-8">
                                                    <button type="button" id="btnRevSO" class="btn btn-success btn-md"><b>Revisi PO</b></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Faktur Pajak</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(model => model.fabelioid, null, new { @class = "form-control select2" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.fabelioid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Project</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Departemen</label>
                                        <div class="col-sm-8">
                                            @Html.Editor("departemen", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.dpappaytype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="NONE", Value="DPFM" },
                                                new SelectListItem { Text="CASH", Value="BKK" },
                                                new SelectListItem { Text="TRANSFER", Value="BBK" },
                                                new SelectListItem { Text="GIRO/CHEQUE", Value="BGK" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cash/Bank No.</label>
                                        <div class="col-md-8">
                                            @Html.Editor("cashbankno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.cashbankoid)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Hutang Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.dpappayacctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.dpappayacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref. No.</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.dpappayrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div class="row" id="col_duedate">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglduedate", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.dpapduedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date Take Giro <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.dpaptakegiro, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.dpaptakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">DP Amount</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.dpapamt, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 1</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid1, null, new { @class = "form-control select2"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 1</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.addacctgamt1, new { htmlAttributes = new { @class = "form-control allownumericwithNegative", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 2</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid2, null, new { @class = "form-control select2"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 2</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.addacctgamt2, new { htmlAttributes = new { @class = "form-control allownumericwithNegative", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Add Cost 3</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.addacctgoid3, null, new { @class = "form-control select2"})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Amt 3</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.addacctgamt3, new { htmlAttributes = new { @class = "form-control allownumericwithNegative", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Cash/Bank</label>
                                        <div class="col-md-6">
                                            @Html.Editor("cashbankamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            @Html.ValidationMessage("cashbankamt", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.dpapnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength="100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.dpapstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.dpapstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                            <h6><b>VAR_PURC_RECEIVED | VAR_DPFAKTUR_M</b></h6>
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.dpapstatus == "In Process" | @Model.dpapstatus == "Revised")
                            {
                                <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                                <button type="button" name="action" value="@(ViewBag.action)" id="btnSendForApproval" class="btn btn-warning btn-md"><b>Terbitkan</b></button>
                            }
                            else
                            {
                                if (Model.dpapstatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                                if (@Model.dpapoid > 0 && @Model.dpapaccumamt == 0 && @Model.dpapstatus == "Post")
                                {
                                    <button type="button" id="btnReturDP" class="btn btn-danger btn-md"><b>Pembatalan DP</b></button>
                                }
                            }
                        }
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" },
                                            new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@

    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data PO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. PO</th>
                                    <th>Tanggal</th>
                                    <th>Project</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            ReAmountDP();
            ClearPO();
            InitDDLFA(alldata.suppoid);
            $('#modal-supp').modal('hide');
        });

        var tblModalPO = $("#tblModalPO").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalPO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#pono").val(alldata.pono);
            $("#poreftype").val(alldata.poreftype);
            $("#pomstoid").val(alldata.pomstoid);
            $("#pograndtotalamt").val(addCommas(alldata.pograndtotalamt));
            $("#projectname").val(alldata.projectname);
            $("#departemen").val(alldata.departemen);
            $("#curroid").val(alldata.curroid);
            $('#modal-po').modal('hide');
        });
        $("#curroid").attr('readonly', true);

        $("#cmpcode").change(function () {
            CashBankType();
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#dpappaytype").change(function () {
            CashBankType();
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#dpapdate").change(function () {
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#dpappayacctgoid").change(function () {
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
            if ($("#dpappayacctgoid").val() != 0) {
                SetCOACurrency();
            }
        });

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        })

        $("#dpapamt").change(function () {
            ReAmountDP();
        })

        $("#addacctgamt1").change(function () {
            ReAmountDP();
        })

        $("#addacctgamt2").change(function () {
            ReAmountDP();
        })

        $("#addacctgamt3").change(function () {
            ReAmountDP();
        })

        CashBankType();
        EnabledHeader();
        InitDDLPayAcctg("VAR_DPFAKTUR_M");
        $("#addacctgoid1 option:first").val();
        $("#addacctgoid2 option:first").val();
        $("#addacctgoid3 option:first").val();
        InitDDLAddCost1("VAR_ADD_COST");
        InitDDLAddCost2("VAR_ADD_COST");
        InitDDLAddCost3("VAR_ADD_COST");

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#dpapdate").val();
        } else {
            tgl = $("#dpapdate").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#dpapduedate").val();
        } else {
            tgl3 = $("#dpapduedate").val();
        }
        tglIndo(tgl3, '.datepicker2');

        $("#pograndtotalamt").val(addCommas($("#pograndtotalamt").val()));
        $("#dpapamt").val(addCommas($("#dpapamt").val()));
        $("#cashbankamt").val(addCommas($("#cashbankamt").val()));
        $("#addacctgamt1").val(addCommas($("#addacctgamt1").val()));
        $("#addacctgamt2").val(addCommas($("#addacctgamt2").val()));
        $("#addacctgamt3").val(addCommas($("#addacctgamt3").val()));
    })

    function CashBankType() {
        var sVar = "VAR_CASH";
        $("#curroid").attr("readonly", true);
        $("#acctgoid").attr("readonly", false);
        $("#dpappayrefno").attr("readonly", false);
        $("#col_suppaccount").hide();
        $("#col_duedate").hide();
        if ($("#dpappaytype option:selected").val() == "BBK") {
            sVar = "VAR_BANK";
            $("#col_suppaccount").show();
            $("#col_duedate").show();
        } else if ($("#dpappaytype option:selected").val() == "BGK") {
            sVar = "VAR_BANK";
            $("#dpappayrefno").attr("readonly", true);
            $("#col_suppaccount").show();
            $("#col_duedate").show();
            if ($("#action").val() == "Create") {
                //$("#dpaptakegiro").val("");
            }
        }
        else if ($("#dpappaytype option:selected").val() == "DPFM") {
            sVar = "VAR_PURC_RECEIVED";
        }
        InitDDLAcctg(sVar);
    }

    function SetCOACurrency() {
        var acctgoid = $("#dpappayacctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("SetCOACurrency"))",
            data: { acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data != 0) {
                    $("#curroid").val(data).trigger("change");
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GenerateExpenseNo() {
        var cashbankdate = $("#tglmst").val();
        var dpappaytype = $("#dpappaytype option:selected").val();
        var acctgoid = $("#dpappayacctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateExpenseNo"))",
            data: { cashbankdate: cashbankdate, cashbanktype: dpappaytype, acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#cashbankno").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function InitDDLAcctg(sVar) {
        var dpappayacctgoid = $("#dpappayacctgoid");
        var dpappayacctgoid_sel = $("#dpappayacctgoid option:selected").val();
        var sVal = true;
        dpappayacctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == dpappayacctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                dpappayacctgoid.html(markup).show();
                if (isExist == true) {
                    dpappayacctgoid.val(dpappayacctgoid_sel);
                }
                dpappayacctgoid.trigger('change');
            } else {
                dpappayacctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLPayAcctg(sVar) {
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""; //"<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == acctgoid_sel) {
                            isExist = true;
                        }
                    });
                    acctgoid.html(markup).show();
                    if (isExist == true) {
                        acctgoid.val(acctgoid_sel);
                    }
                    acctgoid.trigger('change');
                    if ($("#action").val() == "Create") {
                        GenerateExpenseNo();
                    }
                } else {
                    acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost1(sVar) {
        var addacctgoid1 = $("#addacctgoid1");
        var addacctgoid1_sel = $("#addacctgoid1 option:selected").val();
        var sVal = true;
        addacctgoid1.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid1_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid1.html(markup).show();
                    if (isExist == true) {
                        addacctgoid1.val(addacctgoid1_sel);
                    }
                    addacctgoid1.trigger('change');
                } else {
                    addacctgoid1.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost2(sVar) {
        var addacctgoid2 = $("#addacctgoid2");
        var addacctgoid2_sel = $("#addacctgoid2 option:selected").val();
        var sVal = true;
        addacctgoid2.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid2_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid2.html(markup).show();
                    if (isExist == true) {
                        addacctgoid2.val(addacctgoid2_sel);
                    }
                    addacctgoid2.trigger('change');
                } else {
                    addacctgoid2.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAddCost3(sVar) {
        var addacctgoid3 = $("#addacctgoid3");
        var addacctgoid3_sel = $("#addacctgoid3 option:selected").val();
        var sVal = true;
        addacctgoid3.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>NONE</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == addacctgoid3_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    addacctgoid3.html(markup).show();
                    if (isExist == true) {
                        addacctgoid3.val(addacctgoid3_sel);
                    }
                    addacctgoid3.trigger('change');
                } else {
                    addacctgoid3.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLFA(suppoid) {
        var fabelioid = $("#fabelioid");
        var fabelioid_sel = $("#fabelioid option:selected").val();
        var sVal = true;
        fabelioid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListFA"))",
            data: { suppoid: suppoid},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.fabelioid + "\'>" + val.fakturno + "</option>";
                        if (val.acctgoid == fabelioid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    fabelioid.html(markup).show();
                    if (isExist == true) {
                        fabelioid.val(dpappayacctgoid_sel);
                    }
                    fabelioid.trigger('change');
                } else {
                    fabelioid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var bVal = false;
        if ($("#action").val() == "Edit") {
            bVal = true;
        }
        $("#dpappaytype").attr("readonly", bVal);
        $("#dpappayacctgoid").attr("readonly", bVal);
    }

    function ReAmountDP() {
        var dpapamt = parseFloat(removeCommas($("#dpapamt").val()));
        var addacctgamt1 = parseFloat(removeCommas($("#addacctgamt1").val()));
        var addacctgamt2 = parseFloat(removeCommas($("#addacctgamt2").val()));
        var addacctgamt3 = parseFloat(removeCommas($("#addacctgamt3").val()));

        $("#cashbankamt").val(addCommas(dpapamt + addacctgamt1 + addacctgamt2 + addacctgamt3));
    }

    function ClearPO() {
        $("#pono").val("");
        $("#poreftype").val("");
        $("#pomstoid").val(0);
        $("#pograndtotalamt").val(0);
        $("#projectname").val("");
        $("#departemen").val("");
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var dpapno = $("#dpapno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trndpap " + $("#dpapoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { dpapno: dpapno, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.acctgdebet),
                        addCommas(val.acctgcredit),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnsearchsupp").click(function () {
    var table = $('#tblModalSupp').DataTable();
    table.clear().draw();
    $.ajax({
        url: "@(Url.Action("BindSupplierData"))",
        data: {},
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.suppcode,
                    val.suppname,
                    val.supptaxable,
                    val.suppaddr,
                ]);
            });
        setTimeout(function () {
            table.rows.add(rows).draw();
        }, 100);
        },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchpo").click(function () {
        var suppoid = $("#suppoid").val();
        var dpapaccumamt = $("#dpapaccumamt").val();
        var pomstoid = $("#pomstoid").val();
        var poreftype = $("#poreftype").val();
        var dpapstatus = $("#dpapstatus").val();
        if (suppoid == '0'){
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var table = $('#tblModalPO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPOData"))",
            data: { suppoid: suppoid, dpapaccumamt: dpapaccumamt, dpapstatus: dpapstatus, poreftype: poreftype, pomstoid: pomstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.pono,
                        moment(val.podate).format('DD/MM/YYYY'),
                        val.projectname,
                        val.pomstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function IsOnDtl(acctgoid, cashbankglnote, groupoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if ((acctgoid == alldata.acctgoid) && (cashbankglnote == alldata.cashbankglnote) && (groupoid == alldata.groupoid)) {
                return true;
            }
        }
        return false;
    }

    $("#btnDelete").click(function () {
        var oid = $("#dpapoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSave").click(function () {
        $("#pograndtotalamt").val(removeCommas($("#pograndtotalamt").val()));
        $("#dpapamt").val(removeCommas($("#dpapamt").val()));
        $("#cashbankamt").val(removeCommas($("#cashbankamt").val()));
        $("#addacctgamt1").val(removeCommas($("#addacctgamt1").val()));
        $("#addacctgamt2").val(removeCommas($("#addacctgamt2").val()));
        $("#addacctgamt3").val(removeCommas($("#addacctgamt3").val()));
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#dpapstatus").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnRevSO").click(function () {
        var oid = $("#dpapoid").val();
        var pomstoid = $("#pomstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Revisi this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Revisi this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("RevisiPO"))",
                    data: { __RequestVerificationToken: token, id: oid, pomstoid: pomstoid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Revisi!',
                            'Data has been Revised!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Revisi data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

    $("#btnReturDP").click(function () {
        var oid = $("#dpapoid").val();
        var pomstoid = $("#pomstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Return this data?',
            text: "Return data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Return this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("ReturDP"))",
                    data: { __RequestVerificationToken: token, id: oid, pomstoid: pomstoid },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Return!',
                            'Data has been Revised!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Return data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });
</script>