﻿

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Notifikasi
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6" id="divnotiflistapp" style="display:none">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Transaksi Yang Menunggu Persetujuan</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="nav nav-pills nav-stacked" id="notiflistapp"></ul>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
        <div class="col-md-6" id="divnotiflistapp2" style="display:none">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Transaksi Yang Menunggu Persetujuan 2 Tingkat</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="nav nav-pills nav-stacked" id="notiflistapp2"></ul>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    function SetNotification(data) {
        if (data != null) {
            var listnotifapp = "";
            var totalapp = 0;

            $.each(data, function (key, val) {
                if (val.notiftype == "Approval") {
                    listnotifapp += '<li><a href="' + val.notiflink + '">' + val.mnname + '<span class="pull-right badge bg-' + (val.notifqty <= 5 ? "green" : (val.jml <= 20 ? "orange" : "red")) + '">' + val.jml + '</span></a></li>';
                    totalapp += val.jml;
                }
            });

            if (totalapp <= 0) {
                $("#divnotiflistapp").hide();
            } else {
                $("#divnotiflistapp").show();
            }
            $("#notiflistapp").html(listnotifapp);
        }
    }
    function SetNotification2(data) {
        if (data != null) {
            var listnotifapp = "";
            var totalapp = 0;

            $.each(data, function (key, val) {
                if (val.notiftype == "Approval") {
                    listnotifapp += '<li><a href="' + val.notiflink + '">' + val.mnname + '<span class="pull-right badge bg-' + (val.notifqty <= 5 ? "green" : (val.jml <= 20 ? "orange" : "red")) + '">' + val.jml + '</span></a></li>';
                    totalapp += val.jml;
                }
            });

            if (totalapp <= 0) {
                $("#divnotiflistapp2").hide();
            } else {
                $("#divnotiflistapp2").show();
            }
            $("#notiflistapp2").html(listnotifapp);
        }
    }
</script>