﻿@{
    ViewBag.Title = "Pencairan Giro Keluar";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Pencairan Giro Keluar</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Hidden("action")
                        @Html.Hidden("waktusrv")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tbDate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @*@Html.Hidden("tglupd")*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnShowData"><b>Show Data</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th></th>
                                        <th>Cash/Bank No.</th>
                                        <th>Giro No.</th>
                                        <th>Supplier</th>
                                        <th>Payment Date</th>
                                        <th>Bank</th>
                                        <th>Date Take Giro</th>
                                        <th>Due Date</th>
                                        <th>Total</th>
                                        <th>Create User</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="pull-right">
                        @{
                            <button type="submit" class="btn btn-warning btn-md" id="btnPosting" style="display:none"><b>Posting</b></button>
                            <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Terbitkan</b></button>
                            @*<a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>*@
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            //"bFilter": false,
            //"ordering": false,
            "bInfo": false,
            "deferRender": true,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            },
            {
                "targets": 1,
                "checkboxes": {
                    "selectRow": false
                }
            }
            ]
        });

        //Set Date Value Datepicker
        var tgl = "";
        tgl = $("#waktusrv").val();
        tglIndo(tgl, '.datepicker');

        var tgl2 = "";
        tgl2 = $("#waktusrv").val();
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
    })

    $("#btnShowData").click(function () {
        var tbldtl = $('#DataDtl').DataTable();
        var tbDate = $("#tbDate").val();
        tbldtl.column(1).checkboxes.deselect();
        tbldtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindGiroData"))",
            data: { tbDate: tbDate },
            cache: false,
            type: "POST",
            success: function (data){
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.nmr,
                        val.cashbankno,
                        val.cashbankrefno,
                        val.suppname,
                        val.cashbankdate,
                        val.acctgdesc,
                        val.cashbanktakegiro,
                        val.cashbankduedate,
                        addCommas(val.cashbankamt),
                        val.createuser,
                        '<input type="text" class="form-control" style="max-width: 150px" id="giroflagnote-' + val.nmr + '" name="giroflagnote-' + val.nmr + '" value="' + val.giroflagnote + '">'
                    ]);
                });
                tbldtl.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    })

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        //var dataDtl = rowsel.rows().data();
        var rows = []; var i = 0;
        $.each(rowsel, function (key, val) {
            var dataDtl = table.row(val - 1).data();
            var alldata = JSON.parse(dataDtl[0]);
            var giroflagnote = table.$("#giroflagnote-" + alldata.nmr).val();

            alldata.giroflagnote = giroflagnote;
            rows.push(alldata);
        });
        //for (var i = 0 ; i < dataDtl.length; i++) {
        //    var alldata = JSON.parse(dataDtl[i][0]);
        //    var giroflagnote = table.$("#giroflagnote-" + alldata.nmr).val();

        //    alldata.cmpcode = "APIS";
        //    alldata.giroflagnote = giroflagnote;
        //    alldata.nmr = i + 1;
        //    rows.push(alldata);
        //}
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnPosting").click(function () {
        var bVal = true;
        if ($('#DataDtl').DataTable() == null) {
            Swal({
                title: 'WARNING!',
                text: 'Please Show detail data!',
                type: 'warning'
            });
            bVal = false;
            return false
        } else {
            var table = $('#DataDtl').DataTable();
            var dataDtl = table.rows().data();
            if (dataDtl.length <= 0) {
                Swal({
                    title: 'WARNING!',
                    text: 'Please Show Detail Data!',
                    type: 'warning'
                });
                bVal = false;
                return false
            }
        }
        if (bVal) {
            SetDataDtl();
            //Swal({
            //    title: 'INFORMATION',
            //    text: 'data have been CLOSED succesfully!',
            //    type: 'success'
            //});
        }
    })

    $("#btnSave").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, POST this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnPosting").click();
                }, 100)
            }
        })
    });

</script>
