﻿@{
    ViewBag.Title = "Laporan Neraca";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1> @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "BSReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")
                            @Html.Hidden("ReportType")
                            <div class="row" id="divnya" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLBusinessUnit", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="SUMMARY", Value="SUMMARY" },
                                                new SelectListItem { Text="DETAIL", Value="DETAIL" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Period</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLMonth", null, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLYear", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" id="divfor" style="display: none;">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency Value</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("DDLCurrency", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="INDONESIAN RUPIAH", Value="IDR" },
                                                new SelectListItem { Text="US DOLAR", Value="USD" }
                                            }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display:none;">Submit</button>
                        <button type="button" id="btnViewReport" class="btn btn-primary btn-md"><b>View Report</b></button>
                        <button type="button" id="btnExportPDF" class="btn btn-danger btn-md"><b>Export to PDF</b></button>
                        <button type="button" id="btnExportExcel" class="btn btn-success btn-md"><b>Export to Excel</b></button>
                        <a href="@Url.Action("Report/" + ViewBag.FormType.Replace(" ",""))" type="button" class="btn  btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border: none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>
</section>


    @* Ketiga script ini harus ada di semua view *@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#divnya').hide();
            $('#divfor').hide();
        });

    $('#btnViewReport').click(function () {
        var DDLBusinessUnit = $('#DDLBusinessUnit').val();
        var DDLCurrency = $('#DDLCurrency').val();
        var ReportType = $('#ReportType').val();
        var DDLType = $('#DDLType').val();
        var DDLMonth = $('#DDLMonth').val();
        var DDLYear = $('#DDLYear').val();

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLBusinessUnit: DDLBusinessUnit, DDLCurrency: DDLCurrency, ReportType: ReportType, DDLType: DDLType, DDLMonth: DDLMonth, DDLYear: DDLYear },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $('#btnExportPDF').click(function () {
        $('#ReportType').val('PDF');
        $('#btnSubmit').click();
    });

    $('#btnExportExcel').click(function () {
        $('#ReportType').val('XLS');
        $('#btnSubmit').click();
    });
    </script>
