﻿@model APIS_WB.Models.DB.QL_trnreqrabmst

@{
    ViewBag.Title = "Permintaan RAB";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Permintaan RAB
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Permintaan RAB</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.reqrabmstoid)
                        @Html.HiddenFor(model => model.reqrabmstoid_revisi)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-4 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            @*===== Baris ke 1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe<label class="text-red">*</label></label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.reqrabtype, "WAPU", new { @checked = "checked", @required = "" })<b>WAPU</b></label>
                                        </div>
                                        <div class="col-md-6 radio">
                                            <label class="col-md-6 control-label">@Html.RadioButtonFor(model => model.reqrabtype, "NON WAPU", new { @required = "" })<b>NON WAPU</b></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori<label class="text-red">*</label></label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.reqrabtype2, "PROJECT", new { @checked = "checked", @required = "", @onchange = "openPartner()" })<b>PROJECT</b></label>
                                        </div>
                                        @*<div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.reqrabtype2, "RETAIL", new { @required = "", @onchange = "openPartner()" })<b>RETAIL</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.reqrabtype2, "PARTNER", new { @required = "", @onchange = "openPartner()" })<b>PARTNER</b></label>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. P.RAB</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.reqrabno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal</label>
                                        <div class="col-md-4">                                            
                                            @Html.Editor("updtime", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } }) 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("reqrabdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Estimasi Deal <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("reqrabestdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display: none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PKM<label class="text-red">*</label></label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">
                                                @Html.RadioButtonFor(model => model.reqrabpkm, "PKM", new { @checked = "checked", @required = "" })<b>PKM</b>
                                            </label>
                                        </div>
                                        <div class="col-md-6 radio">
                                            <label class="col-md-6 control-label">
                                                @Html.RadioButtonFor(model => model.reqrabpkm, "NON PKM", new { @required = "" })<b>NON PKM</b>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Project <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mata Uang <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            @*===== Baris ke 4 =====*@
                            <div class="row" id="frmpartner">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Partner</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("partnername", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpartner" class="btn btn-flat" data-toggle="modal" data-target="#modal-partner">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.partneroid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 4.1 =====*@
                            <div class="row" id="frmpartneramt">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Persen Partner <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.partnerpersen, new { htmlAttributes = new { @class = "form-control money", @type = "text" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat">
                                                        <i class="fa fa-percent"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nilai Partner</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.partneramt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-flat">
                                                        <i class="fa fa-percent"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 5 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.salesoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales Admin</label>
                                        <div class="col-md-8">
                                           @Html.DropDownListFor(model => model.salesadminoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 6 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Customer<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly= "", @required = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.custoid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">TOP</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.reqrabpaytermoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 7 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Provinsi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.reqrabprovoid, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kota</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.reqrabcityoid, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 8 =====*@
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Asal Penjualan<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.reqrabasaljual, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Online", Value="Online" }
                                                ,new SelectListItem { Text="Offline", Value="Offline" }
                                       }, new { @class = "form-control", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 9 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total PPN</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.reqrabtotaltaxamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total PPH 22</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.reqrabtotalpphamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 10 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Penjualan</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.reqrabtotalamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Penerimaan Nett</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.reqrabgrandtotalamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                        
                            </div>
                            @*===== Baris ke 11 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.reqrabmstnote, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.reqrabmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*BAGIAN DETAIL*@
                            <div class="box-header">
                                <h4 class="box-title"><strong>Detail Permintaan RAB</strong></h4>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12" style="padding-top: 12px;">
                                        <div class="col-md-6 pull-left">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Manual Item</label>
                                                <div class="col-md-4">
                                                    @Html.DropDownList("ddlitemtype", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text= "Barang", Value= "Barang" },
                                                    new SelectListItem { Text= "Rakitan", Value= "Rakitan" },
                                                    new SelectListItem { Text= "Ongkir", Value= "Ongkir" },
                                                    new SelectListItem { Text= "Jasa", Value= "Jasa" }
                                                }, new { @class = "form-control select2" })
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" id="btnAddToList_manual" class="btn btn-primary">
                                                        <i class="fa fa-plus"></i>
                                                        Tambah Manual
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <span class="input-group">
                                                <button type="button" id="btnAddToList" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail">
                                                    <i class="fa fa-plus"></i>
                                                    Tambah
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="DataDtl" class="table table-striped" style="width: 100%">
                                        <thead>
                                            <tr role="row">
                                                <th>alldata</th>
                                                <th>No.</th>
                                                <th>Group</th>
                                                <th>Type</th>
                                                <th>Kode</th>
                                                <th>Deskripsi</th>
                                                <th>Qty</th>
                                                <th>Satuan</th>
                                                <th>Price</th>
                                                <th>Total</th>
                                                <th>Tax</th>
                                                <th>Tax Amt</th>
                                                <th>Pph</th>
                                                <th>Pph Amt</th>
                                                <th>Netto</th>
                                                <th>Opsi</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            @*AKHIR BAGIAN DETAIL*@
                        </div>
                    </div>
                <!-- /.box-body -->                
                    <div class="box-footer">
                        <div class="pull-left">
                        Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                        @{
                        if (ViewBag.action == "Edit")
                        {
                        @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                        }
                        }
                        </div>
                        <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.reqrabmststatus == "In Process" | @Model.reqrabmststatus == "Revised")
                            {
                                <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                <button type="button" name="action" value="@(ViewBag.action)" id="btnSendApproval" class="btn btn-warning btn-md"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary btn-md" id="btnCopy"><b>Copy</b></button>
                            }
                        }                  
                        </div>
                    </div>
                    <!-- /.box-footer -->
                    }
                </div>
            </div>
        </div>

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Group</th>
                                    <th>Type</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Qty</th>
                                    <th>Satuan</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                    <th>Tax</th>
                                    <th>Tax Amt</th>
                                    <th>Pph</th>
                                    <th>Pph Amt</th>
                                    <th>Netto</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@

    @* MODAL UNTUK PARTNER *@
    <div class="modal fade" id="modal-partner">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Partner</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPartner" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PARTNER *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2();
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            var DataDtl = $('#DataDtl').DataTable();
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var idx = DataDtl.row($tr).data()[1] - 1;
            DataDtl.row($tr).remove().draw();
            UpdateDetail(idx);
            e.preventDefault();
        });
        table.on("draw", function () {
            $('#DataDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#DataDtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#DataDtl .select2').select2();
        });

        var tblModalPartner = $("#tblModalPartner").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalPartner.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPartner.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#partnername").val(alldata.partnername);
            $("#partneroid").val(alldata.partneroid);
            $('#modal-partner').modal('hide');
        });

        var tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#reqrabpaytermoid").val(alldata.custpaymentoid).trigger('change');
            $("#reqrabprovoid").val(alldata.custprovinceoid).trigger('change');
            $("#reqrabcityoid").val(alldata.custcityoid).trigger('change');
            $('#modal-cust').modal('hide');
        });

        if ($("#action").val() == "Edit") {
            var id = $('#reqrabmstoid').val();
            FillDetailData(id);
        }
        else if("@(Request.QueryString["idcopy"])" != ''){
            var id = "@(Request.QueryString["idcopy"])";
            FillDetailData(id);
        }
        openPartner();
    });

    function openPartner() {
        var type = $("input:radio[name=reqrabtype2]:checked").val();
        $("#partneroid").val(0);
        $("#partnername").val("");
        $("#partnerpersen").val(0);
        $("#partneramt").val(0);
        if (type == "PARTNER") {
            $("#frmpartner").show();
            $("#frmpartneramt").show();
        } else {
            $("#frmpartner").hide();
            $("#frmpartneramt").hide();
        }
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchpartner").click(function () {
        var table = $('#tblModalPartner').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPartnerData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.partnercode,
                        val.partnername,
                        val.partneraddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnAddToList_manual").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: "WARNING!",
                text: "Please Select CUSTOMER field!",
                type: "warning"
            })
            return false;
        }
        var itemtype = $('#ddlitemtype option:selected').val();
        var DataDtl = $('#DataDtl').DataTable();
        var id = DataDtl.rows().data().length + 1;
        $.ajax({
            url: "@(Url.Action("GetDetailManualData"))",
            data: { itemtype: itemtype },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    $.each(data.tbl, function (key, val) {
                        val.reqrabseq = id;
                        SetDataDetail(DataDtl, val);
                    });
                    DataDtl.draw();
                    SumAmtHeader();
                    EnableHeader();
                } else{
                    swal('', data.result, 'error')
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    });

    $("#btnAddToList").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: "WARNING!",
                text: "Please Select CUSTOMER field!",
                type: "warning"
            })
            return false;
        }
        var table = $('#tblModalDtl').DataTable();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDetailData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = [];
                    var seq = 0;
                    $.each(data.tbl, function (key, val) {
                        val.reqrabseq = seq++;
                        rows.push([
                            JSON.stringify(val),
                            seq,
                            val.reqrabflag_m,
                            val.itemtype,
                            val.itemcode,
                            '<textarea type="text" class="form-control" id="itemdesc-' + seq + '" ' + (val.reqrabflag_m == "Master" ? 'readonly=""' : '') + '>' + val.itemdesc + '</textarea>',
                            '<input type="text" class="form-control money" style="width: 70px; float: right;" id="reqrabqty-' + seq + '" value="' + val.reqrabqty + '" onblur="hitung(' + seq + ')"/>',
                            val.reqrabunit,
                            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabprice-' + seq + '" value="' + val.reqrabprice + '" onblur="hitung(' + seq + ')"/>',
                            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabdtlamt-' + seq + '" value="' + val.reqrabdtlamt + '" readonly=""/>',
                            '<input type="text" class="form-control money" style="width: 70px; float: right;" id="reqrabtaxvalue-' + seq + '" value="' + val.reqrabtaxvalue + '" onblur="hitung(' + seq + ')"/>',
                            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabtaxamt-' + seq + '" value="' + val.reqrabtaxamt + '" readonly=""/>',
                            '<input type="text" class="form-control money" style="width: 70px; float: right;" id="reqrabpphvalue-' + seq + '" value="' + val.reqrabpphvalue + '" onblur="hitung(' + seq + ')"/>',
                            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabpphamt-' + seq + '" value="' + val.reqrabpphamt + '" readonly=""/>',
                            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabdtlnetto-' + seq + '" value="' + val.reqrabdtlnetto + '" readonly=""/>'
                        ]);
                    });
                    table.rows.add(rows).draw();
                } else{
                    swal('', data.result,'error')
                    $('#modal-detail').hide();
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-detail').modal('hide');
            }
        });
    });

    function AddToDetail() {
        var DataDtl = $('#DataDtl').DataTable();
        var id = DataDtl.rows().data().length + 1;
        var tblModalDtl = $('#tblModalDtl').DataTable();
        var rowsel = tblModalDtl.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = tblModalDtl.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var itemdesc = tblModalDtl.$("#itemdesc-" + val).val();
            var reqrabqty = tblModalDtl.$("#reqrabqty-" + val).val();
            var reqrabprice = tblModalDtl.$("#reqrabprice-" + val).val();
            var reqrabdtlamt = tblModalDtl.$("#reqrabdtlamt-" + val).val();
            var reqrabtaxvalue = tblModalDtl.$("#reqrabtaxvalue-" + val).val();
            var reqrabtaxamt = tblModalDtl.$("#reqrabtaxamt-" + val).val();
            var reqrabpphvalue = tblModalDtl.$("#reqrabpphvalue-" + val).val();
            var reqrabpphamt = tblModalDtl.$("#reqrabpphamt-" + val).val();
            var reqrabdtlnetto = tblModalDtl.$("#reqrabdtlnetto-" + val).val();
            if (!IsOnDtl(alldata.itemoid, reqrabprice)) {
                alldata.reqrabseq = id;
                alldata.itemdesc = itemdesc;
                alldata.reqrabqty = reqrabqty;
                alldata.reqrabprice = reqrabprice;
                alldata.reqrabdtlamt = reqrabdtlamt;
                alldata.reqrabtaxvalue = reqrabtaxvalue;
                alldata.reqrabtaxamt = reqrabtaxamt;
                alldata.reqrabpphvalue = reqrabpphvalue;
                alldata.reqrabpphamt = reqrabpphamt;
                alldata.reqrabdtlnetto = reqrabdtlnetto;
                SetDataDetail(DataDtl, alldata);
                id++;
            }
        });
        DataDtl.draw();
        SumAmtHeader();
        EnableHeader();
    }

    function IsOnDtl(itemoid, reqrabprice) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid && reqrabprice == alldata.reqrabprice) {
                return true;
            }
        }
        return false;
    }

    function UpdateDetail(idx) {
        var DataDtl = $('#DataDtl').DataTable();
        for (var i = idx ; i < DataDtl.rows().data().length; i++) {
            var row = DataDtl.row(i).data();
            var alldata = JSON.parse(row[0]);
            var itemdesc = DataDtl.$("#itemdesc-" + alldata.reqrabseq).val();
            var reqrabqty = DataDtl.$("#reqrabqty-" + alldata.reqrabseq).val();
            var reqrabprice = DataDtl.$("#reqrabprice-" + alldata.reqrabseq).val();
            var reqrabdtlamt = DataDtl.$("#reqrabdtlamt-" + alldata.reqrabseq).val();
            var reqrabtaxvalue = DataDtl.$("#reqrabtaxvalue-" + alldata.reqrabseq).val();
            var reqrabtaxamt = DataDtl.$("#reqrabtaxamt-" + alldata.reqrabseq).val();
            var reqrabpphvalue = DataDtl.$("#reqrabpphvalue-" + alldata.reqrabseq).val();
            var reqrabpphamt = DataDtl.$("#reqrabpphamt-" + alldata.reqrabseq).val();
            var reqrabdtlnetto = DataDtl.$("#reqrabdtlnetto-" + alldata.reqrabseq).val();
            alldata.reqrabseq = i + 1;
            alldata.itemdesc = itemdesc;
            alldata.reqrabqty = reqrabqty;
            alldata.reqrabprice = reqrabprice;
            alldata.reqrabdtlamt = reqrabdtlamt;
            alldata.reqrabtaxvalue = reqrabtaxvalue;
            alldata.reqrabtaxamt = reqrabtaxamt;
            alldata.reqrabpphvalue = reqrabpphvalue;
            alldata.reqrabpphamt = reqrabpphamt;
            alldata.reqrabdtlnetto = reqrabdtlnetto;
            SetDataDetail(DataDtl, alldata);
        }
        DataDtl.draw();
        SumAmtHeader();
        EnableHeader();
    }

    function SetDataDetail(datadtl, val) {
        var max = datadtl.rows().data().length;
        var seq = parseInt(val.reqrabseq);
        var row = [
            JSON.stringify(val),
            seq,
            val.reqrabflag_m,
            val.itemtype,
            val.itemcode,
            '<textarea type="text" class="form-control" id="itemdesc-' + seq + '" '+ (val.reqrabflag_m == "Master" ? 'readonly=""' : '') +'>' + val.itemdesc + '</textarea>',
            '<input type="text" class="form-control money" style="width: 70px; float: right;" id="reqrabqty-' + seq + '" value="' + val.reqrabqty + '" onblur="hitung(' + seq + ')"/>',
            val.reqrabunit,
            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabprice-' + seq + '" value="' + val.reqrabprice + '" onblur="hitung(' + seq + ')"/>',
            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabdtlamt-' + seq + '" value="' + val.reqrabdtlamt + '" readonly=""/>',
            '<input type="text" class="form-control money" style="width: 70px; float: right;" id="reqrabtaxvalue-' + seq + '" value="' + val.reqrabtaxvalue + '" onblur="hitung(' + seq + ')"/>',
            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabtaxamt-' + seq + '" value="' + val.reqrabtaxamt + '" readonly=""/>',
            '<input type="text" class="form-control money" style="width: 70px; float: right;" id="reqrabpphvalue-' + seq + '" value="' + val.reqrabpphvalue + '" onblur="hitung(' + seq + ')"/>',
            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabpphamt-' + seq + '" value="' + val.reqrabpphamt + '" readonly=""/>',
            '<input type="text" class="form-control money" style="width: 140px; float: right;" id="reqrabdtlnetto-' + seq + '" value="' + val.reqrabdtlnetto + '" readonly=""/>',
            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
        ];
        if (seq > max) { datadtl.row.add(row); }
        else { datadtl.row(seq - 1).data(row).invalidate(); }
    }

    function FillDetailData(id) {
        var DataDtl = $('#DataDtl').DataTable();
        DataDtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("FillDetailData"))",
            data: { id: id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    $.each(data.tbl, function (key, val) {
                        SetDataDetail(DataDtl, val);
                    });
                    DataDtl.draw();
                    EnableHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    }

    function hitung(id) {
        var qty = ($('#reqrabqty-' + id + '').val());
        var price = ($('#reqrabprice-' + id + '').val());
        var taxvalue = ($('#reqrabtaxvalue-' + id + '').val());
        var pphvalue = ($('#reqrabpphvalue-' + id + '').val());
        var dpp = parseFloat(qty * price);
        var taxamt = 0.0;
        var pphamt = 0.0;
        if (taxvalue > 0) {
            taxamt = parseFloat(dpp * (taxvalue / 100));
        }
        if (pphvalue > 0) {
            pphamt = parseFloat(dpp * (pphvalue / 100));
        }
        var netto = dpp + taxamt - pphamt;
        $('#reqrabdtlamt-' + id + '').val((dpp));
        $('#reqrabtaxamt-' + id + '').val((taxamt));
        $('#reqrabpphamt-' + id + '').val((pphamt));
        $('#reqrabdtlnetto-' + id + '').val((netto));
        SumAmtHeader();
    }

    function SumAmtHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0; var taxamt = 0.0; var pphamt = 0.0; var netto = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0]);
            var reqrabdtlamt = (table.$("#reqrabdtlamt-" + (alldata.reqrabseq)).val());
            var reqrabtaxamt = (table.$("#reqrabtaxamt-" + (alldata.reqrabseq)).val());
            var reqrabpphamt = (table.$("#reqrabpphamt-" + (alldata.reqrabseq)).val());
            var reqrabdtlnetto = (table.$("#reqrabdtlnetto-" + (alldata.reqrabseq)).val());

            amt += parseFloat(reqrabdtlamt);
            taxamt += parseFloat(reqrabtaxamt);
            pphamt += parseFloat(reqrabpphamt);
            netto += parseFloat(reqrabdtlamt) - parseFloat(reqrabpphamt);
        }
        $('#reqrabtotalamt').val((amt));
        $('#reqrabtotaltaxamt').val((taxamt));
        $('#reqrabtotalpphamt').val((pphamt));
        $('#reqrabgrandtotalamt').val((netto));
    }

    function EnableHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            var data = table.rows().data();
            if (data.length > 0) { bVal = true; } else { bVal = false; }
        } else { bVal = false; }
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "reqrabdate") {
                tbl[n.name] = toDate($('#reqrabdate').val());
            }
            else if (n.name == "reqrabestdate") {
                tbl[n.name] = toDate($('#reqrabestdate').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });
        var action = $('#action').val();

        var tbldtl = $('#DataDtl').DataTable();
        var dataDtl = tbldtl.rows().data();
        var dtl = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.itemdesc = tbldtl.$('#itemdesc-' + dataDtl[i][1]).val();
            alldata.reqrabqty = tbldtl.$('#reqrabqty-' + dataDtl[i][1]).val();
            alldata.reqrabprice = tbldtl.$('#reqrabprice-' + dataDtl[i][1]).val();
            alldata.reqrabdtlamt = tbldtl.$('#reqrabdtlamt-' + dataDtl[i][1]).val();
            alldata.reqrabtaxvalue = tbldtl.$('#reqrabtaxvalue-' + dataDtl[i][1]).val();
            alldata.reqrabtaxamt = tbldtl.$('#reqrabtaxamt-' + dataDtl[i][1]).val();
            alldata.reqrabpphvalue = tbldtl.$('#reqrabpphvalue-' + dataDtl[i][1]).val();
            alldata.reqrabpphamt = tbldtl.$('#reqrabpphamt-' + dataDtl[i][1]).val();
            alldata.reqrabdtlnetto = tbldtl.$('#reqrabdtlnetto-' + dataDtl[i][1]).val();
            dtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tblmst: tbl, dtDtl: dtl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#reqrabmststatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#reqrabmststatus").val("In Process");
            }
        });
    });

    $("#btnSendApproval").click(function () {
		var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
					$("#reqrabmststatus").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    function clickDelete() {
        var oid = $("#reqrabmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

    $("#btnCopy").click(function () {
        var idcopy = $('#reqrabmstoid').val();
        Swal({
            title: 'Are you sure to Copy this data?',
            text: "Copy data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Copy this data!'
        }).then((result) => {
            if (result.value) {
                location.replace("@(Url.Action("Form"))" + "?idcopy=" + idcopy);
            }
        })
    });
</script>
