﻿@model APIS_WB.Models.DB.QL_trnstockadj


@{
    ViewBag.Title = "Stock Opname";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Stock Opname</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Header Stock Opname</h3>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.stockadjoid)
                        @Html.HiddenFor(model => model.resfield1)
                        @Html.HiddenFor(model => model.stockadjdate)
                        @Html.HiddenFor(model => model.stockadjdocdate)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.Hidden("action")
                        @Html.Hidden("IsApp")
                        @Html.Hidden("markup")
                        @*@Html.Hidden("markupto")*@
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "Data Baru" : "Edit" )</label>
                            </div>
                            @*===== Baris ke 1 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Opname</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.stockadjtype, "INITIAL", new { @checked = true })<b>INITIAL</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.stockadjtype, "ADJUSTMENT")<b>ADJUSTMENT</b></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.resfield1, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.resfield1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Transfer</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.stockadjno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.stockadjno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Transaksi</label>
                                        <div class="col-md-6">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Dokumen<b style="color: red"> *</b></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.stockadjdocdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 4 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.stockadjmstnote, new { @class = "form-control", @type = "text", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.stockadjmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.stockadjstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "", @Value = Model.stockadjstatus } })
                                        </div>
                                    </div>
                                </div>                         
                            </div>
                        </div><!-- /.container-fluid -->

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h3 class="box-title">Detail Stock Opname</h3>
                        </div>
                        <div class="box-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Gudang</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("mtrwhdtloid", null, new { @class = "form-control select2" })
                                                @Html.ValidationMessage("mtrwhdtloid", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button type="button" id="btntambah" class="btn btn-primary" data-toggle="modal" data-target="#modal-item">
                                        <i class="fa fa-plus"></i>
                                        Tambah
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>Kode</th>
                                            <th>Deskripsi</th>
                                            <th>PID</th>
                                            <th>Serial<br />Number</th>
                                            <th>Project</th>
                                            <th>Gudang</th>
                                            <th>Qty Stok</th>
                                            <th>Qty Opname</th>
                                            <th>Qty Selisih</th>
                                            <th>Satuan</th>
                                            <th>Hpp</th>
                                            <th>Catatan</th>
                                            <th>Opsi</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <div class="pull-left">
                        Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                        @{
                            if (ViewBag.action == "Edit")
                            {
                                @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                        }
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.stockadjstatus == "In Process" | @Model.stockadjstatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnSendApproval"><b>Kirim Persetujuan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }                            
                    </div>
                </div>
                <!-- /.box-footer -->
                            }
            </div>
        </div>
    </div>    

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>  
                                    <th>PID</th>
                                    <th>Serial<br/>Number</th>
                                    <th>Project</th>                                  
                                    <th>Unit</th>
                                    <th>Stok</th>
                                    <th>Hpp</th>
                                    <th>Gudang</th>
                                    <th>Tipe Barang</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        if ($("#IsApp").val() == true) {

        }

        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
            //if (data.length == 0)
            //{
            //    $("input:radio[name=stockadjtype]:not(:checked)").removeAttr('disabled');
            //}            
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#stockadjdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#stockadjdocdate").val();
        } else {
            tgl3 = $("#createtime").val();
        }
        tglIndo(tgl3, '.datepicker2');

        //FillDDLGudangFrom();        
        FillDetailData();
    })

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("input:radio[name=stockadjtype]:not(:checked)").attr('disabled', bVal);
    }

    function FillDetailData() {
        var type = $("input:radio[name=stockadjtype]:checked").val();
        var ro = '';
        if (type == "ADJUSTMENT") {
            ro = 'readonly=""';
        }
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.stockadjseq,
                    val.itemcode,
                    val.itemdesc,
                    val.refno,
                    '<input type="text" class="form-control" id="serialnumber-' + val.stockadjseq + '" name="serialnumber-' + val.stockadjseq + '" value="' + (val.serialnumber == null ? "" : val.serialnumber) + '" '+ ro +'>',
                    val.projectname,
                    val.mtrwhdesc,                    
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="stockadjqtybefore-' + val.stockadjseq + '" name="stockadjqtybefore-' + val.stockadjseq + '" readonly="" value = "' + addCommas(val.stockadjqtybefore) + '">',
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="stockadjqtyafter-' + val.stockadjseq + '" name="stockadjqtyafter-' + val.stockadjseq + '" value = "' + addCommas(val.stockadjqtyafter) + '" onblur="hitung(' + val.stockadjseq + ')">',
                    '<input type="text" class="form-control" style="max-width: 80px" id="stockadjqty-' + val.stockadjseq + '" name="stockadjqty-' + val.stockadjseq + '" value = "' + addCommas(val.stockadjqty) + '" readonly="">',
                    val.stockadjunit,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 120px" id="stockadjamtidr-' + val.stockadjseq + '" name="stockadjamtidr-' + val.stockadjseq + '" value = "' + addCommas(val.stockadjamtidr) + '">',
                    '<input type="text" class="form-control" id="stockadjnote-' + val.stockadjseq + '" name="stockadjnote-' + val.stockadjseq + '" value="' + (val.stockadjnote == null ? "" : val.stockadjnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $("#DataDtl .select2").select2();
                EnabledHeader();
                //$("#transitemfromwhoid-" + id + "").trigger("change");
                //$.each(data, function (key, val) {
                //    $("#mtrwhoid-" + val.stockadjseq + "").val(val.mtrwhoid).trigger("change");
                //    FillStockWH(val.stockadjseq, val.itemoid, val.refno, val.mtrwhoid);
                //});
            }, 100);
        });        
    }

    function FillDDLGudangFrom() {
        var markup = "";
        var url = "@(Url.Action("InitDDLGudangFrom"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";                        
                    });
                    $("#markup").val(markup);
                    FillStockWH(id, itemoid, '');                    
                }
            }
        });
    }

    function FillStockWH(id, itemoid, refno, mtrwhoid) {
        var markup = "";
        var url = "@(Url.Action("InitStockWH"))";
        var whfrom = mtrwhoid;
        //var whfrom = $("#mtrwhoid-" + id + "").val();
        var type = $("input:radio[name=stockadjtype]:checked").val();
        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom, itemoid: itemoid, refno: refno, type: type },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                       $("#qtystok-"+ id +"").val(val.stokakhir);
                    });
                    hitung(id);
                }
            }
        });
    }

    function FillDDLGudangTo(id, itemoid, refno) {
        var markup = "";
        var url = "@(Url.Action("InitDDLGudangTo"))";
        var whfrom = $("#transitemfromwhoid-" + id + "").val();
        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markupto").val(markup);
                    $("#transitemtowhoid-" + id + "").html($("#markupto").val());
                    FillStockWH(id, itemoid, '');
                }
            }
        });
    }


    //Pop Up Data Detail
    $("#btntambah").click(function () {
        var table = $('#tblModalDtl').DataTable();
        var whoid = $("#mtrwhdtloid").val();
        var type = $("input:radio[name=stockadjtype]:checked").val();
        var ro = '';
        if (type == "ADJUSTMENT") {
            ro = 'readonly=""';
        }
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            data: { type: type, whoid: whoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    val.itemseq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        i,
                        val.itemcode,
                        val.itemdesc,
                        val.refno,
                        '<input type="text" class="form-control" style="max-width: 120px" id="serialnumber-' + i + '" name="serialnumber-' + i + '" value="' + (val.serialnumber == null ? "" : val.serialnumber) + '" ' + ro + '>',
                        val.projectname,
                        val.itemunit,
                        addCommas(val.qtystok),
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="stockadjamtidr-' + i + '" name="stockadjamtidr-' + i + '" value="' + addCommas(val.stockadjamtidr) + '">',
                        val.mtrwhdesc,
                        val.tipepid
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });    

    function AddToDetail() {
        var isValid = true;
        var type = $("input:radio[name=stockadjtype]:checked").val();
        var ro = '';
        if (type == "ADJUSTMENT") {
            ro = 'readonly=""';
        }
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var tgl = $("#createtime").val();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var serialnumber = table.$("#serialnumber-" + alldata.itemseq).val();
                var stockadjamtidr = removeCommas(table.$("#stockadjamtidr-" + alldata.itemseq).val());
                if (!IsOnDtl(alldata.itemoid, alldata.refno, serialnumber, alldata.rabmstoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        stockadjseq: id,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemdesc: alldata.itemdesc,
                        refno: alldata.refno,
                        serialnumber: serialnumber,
                        rabmstoid: alldata.rabmstoid,
                        projectname: alldata.projectname,
                        stockadjunitoid: alldata.itemunitoid,
                        stockadjunit: alldata.itemunit,
                        mtrwhoid: alldata.mtrwhoid,
                        mtrwhdesc: alldata.mtrwhdesc,
                        stockadjamtidr: stockadjamtidr
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.itemcode,
                        alldata.itemdesc,
                        alldata.refno,
                        '<input type="text" class="form-control" id="serialnumber-' + id + '" name="serialnumber-' + id + '" value="' + serialnumber + '" '+ ro +'>',
                        alldata.projectname,
                        alldata.mtrwhdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="stockadjqtybefore-' + id + '" name="stockadjqtybefore-' + id + '" value="' + addCommas(alldata.qtystok) + '" readonly="">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="stockadjqtyafter-' + id + '" name="stockadjqtyafter-' + id + '" value="' +addCommas( alldata.qtystok) + '" onblur="hitung(' + id + ')">',
                        '<input type="text" class="form-control" style="max-width: 80px" id="stockadjqty-' + id + '" name="stockadjqty-' + id + '" value="0" readonly="">',
                        alldata.itemunit,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 120px" id="stockadjamtidr-' + id + '" name="stockadjamtidr-' + id + '" value="' + addCommas(stockadjamtidr) + '">',
                        '<input type="text" class="form-control" id="stockadjnote-' + id + '" name="stockadjnote-' + id + '" >',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    tglIndo(tgl, '.datepicker');
                    $("#DataDtl .select2").select2();
                    $("#mtrwhoid-" + id + "").trigger("change");
                    hitung("" + id + "");
                }
            }
        })
        SetDataDtl();
        EnabledHeader();
        //$("input:radio[name=stockadjtype]:not(:checked)").attr('disabled', 'true');
        //$(':radio:not(:checked)').attr('disabled', true);
    }

    function IsOnDtl(itemoid, refno, serialnumber, rabmstoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid && refno == alldata.refno && serialnumber == alldata.serialnumber && rabmstoid == alldata.rabmstoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var serialnumber = table.$("#serialnumber-" + alldata.stockadjseq).val();
            var stockadjqty = removeCommas(table.$("#stockadjqty-" + alldata.stockadjseq).val());
            var stockadjqtybefore = removeCommas(table.$("#stockadjqtybefore-" + alldata.stockadjseq).val());
            var stockadjqtyafter = removeCommas(table.$("#stockadjqtyafter-" + alldata.stockadjseq).val());
            var stockadjamtidr = removeCommas(table.$("#stockadjamtidr-" + alldata.stockadjseq).val());
            var stockadjnote = table.$("#stockadjnote-" + alldata.stockadjseq).val();
                var obj = {
                stockadjseq: i + 1,
                mtrwhoid: alldata.mtrwhoid,
                mtrwhdesc: alldata.mtrwhdesc,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                refno: alldata.refno,
                serialnumber: serialnumber,
                rabmstoid: alldata.rabmstoid,
                projectname: alldata.projectname,
                stockadjqty: stockadjqty,
                stockadjqtyafter: stockadjqtyafter,
                stockadjqtybefore: stockadjqtybefore,
                stockadjunit: alldata.stockadjunit,
                stockadjunitoid: alldata.stockadjunitoid,
                stockadjamtidr: stockadjamtidr,
                stockadjnote: stockadjnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnSendApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Approval?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#stockadjstatus").val("In Approval");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#resfield1").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                            'Deleted!',
                            'Data has been deleted!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Delete data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });

    function hitung(id) {
        var stockadjqtybefore = removeCommas($('#stockadjqtybefore-' + id + '').val());
        var stockadjqtyafter = removeCommas($('#stockadjqtyafter-' + id + '').val());
        
        var stockadjqty = parseFloat(stockadjqtyafter) - parseFloat(stockadjqtybefore);
        $('#stockadjqty-' + id + '').val(addCommas(stockadjqty));       
    }

</script>