﻿@model APIS_WB.Models.DB.QL_mstfabeli

@{
    ViewBag.Title = "Faktur Pajak-M";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Faktur Pajak-M
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Faktur Pajak-M</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.fabelioid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Supplier<label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.HiddenFor(model => model.suppoid)
                                    </div>
                                    @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Kode<label class="text-red">*</label></label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fabelicode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30" } })
                                    @Html.ValidationMessageFor(model => model.fabelicode, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-md-2 control-label">No. Faktur<label class="text-red">*</label></label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fakturno, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.fakturno, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Jumlah Pemakaian<label class="text-red">*</label></label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fabeliqty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "18" } })
                                    @Html.ValidationMessageFor(model => model.fabeliqty, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-md-2 control-label">Sudah Dipakai<label class="text-red">*</label></label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.fabeliaccumqty, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "", @maxlength = "18" } })
                                    @Html.ValidationMessageFor(model => model.fabeliaccumqty, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(model => model.activeflag, "ACTIVE", new { @checked = "checked", @required = "" })
                                    ACTIVE
                                    @Html.RadioButtonFor(model => model.activeflag, "INACTIVE", new { @required = "" })
                                    INACTIVE
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                                }

                            </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    //<button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $('#modal-supp').modal('hide');
        });

        $("#btnSave").show();
        if ($('#action').val() == "Edit") {
            if ($('input:radio[name=activeflag]:checked').val() == "INACTIVE") {
                $("input:radio[name=activeflag]:not(:checked)").attr('disabled', true);
                $("#fabeliqty").attr('readonly', true);
                //$("#btnSave").hide();
            }
        }
    })

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        });

    function clickDelete() {
        var oid = $("#deptoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
</script>
