﻿
@{
    ViewBag.Title = "Surat Perjalanan Dinas";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        List @ViewBag.Title
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah SPD
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No. SPD</th>
                                        <th>Pemohon</th>
                                        <th>Jabatan</th>
                                        <th>Obyektif</th>
                                        <th>Tujuan</th>
                                        <th>Tgl Pergi</th>
                                        <th>Amount Approved</th>
                                        <th>Status SPD</th>
                                        <th>Handler</th>
                                        <th>Action</th>
                                        <th>Print</th>
                                        <th>Submit SPD</th>
                                        <th>Atasan SPD</th>
                                        <th>GA SPD</th>
                                        <th>RPD</th>
                                        <th>Status RPD</th>
                                        <th>Action</th>
                                        <th>Print</th>
                                        <th>Submit RPD</th>
                                        <th>Atasan RPD</th>
                                        <th>GA RPD</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    var url_getListDataTable = "@Url.Action("getListDataTable")"
    var url_Form = "@Url.Action("Form")"
    var url_Form_Real = "@Url.Action("Form", "RealPerjalananDinas")"
    var url_Print = "@(Url.Action("PrintReport"))";
    var url_Print_Real = "@(Url.Action("PrintReport","RealPerjalananDinas"))";

    var datatable = null;
    $(document).ready(function () {
        datatable = $('#datatable').DataTable({
            responsive: true,
            "order": [[0, 'desc']]
        });
        GetDataList();
    });

    function GetFilterData() {
        var data = {
            filterperiodfrom: toDate($('#filterperiodfrom').val()),
            filterperiodto: toDate($('#filterperiodto').val()),
            filterddl: $('#filterddl option:selected').val(),
            filtertext: $('#filtertext').val(),
            filterstatus: $('#filterstatus option:selected').val()
        };
        return data;
    }

    $("#btnFindList").click(function () {
        var sMsg = "";
        var periodfrom = ($('#filterperiodfrom').val() == "" ? "" : toDate($('#filterperiodfrom').val()));
        var periodto = ($('#filterperiodto').val() == "" ? "" : toDate($('#filterperiodto').val()));
        if (periodfrom != "" && periodto != "") {
            if (Date.parse(periodfrom) > Date.parse(periodto))
                sMsg = "Period 1 Tidak Boleh Lebih Kecil Dari Period 2!";

            if (sMsg != "") {
                swal('Warning', sMsg, 'warning');
                return false;
            }
            else { GetDataList(); }
        }
    });

    function GetDataList() {
        var param = GetFilterData();
        datatable.clear().draw();
        $.ajax({
            url: url_getListDataTable,
            data: { param },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        '<a href="' + url_Form + '/' + val.perdinid + '" class="text-primary">' + val.perdinno + '</a>',
                        val.pemohon,
                        val.jabatan,
                        val.obyektif,
                        val.tujuan,
                        moment(val.tglberangkat).format('DD/MM/YYYY'),
                        addCommas(val.perdinamt),
                        '<span class="' + (val.perdinmststatus == "Approved" ? 'text-green' : 'text-red') + '">' + val.perdinmststatus + '</span>',
                        val.handler,
                        '<a href="' + url_Form + '/' + val.perdinid + '" class="text-primary"><span class="badge btn-primary">Detail</span></a>',
                        '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(' + val.perdinid + ')"><i class="fa fa-print"></i></button>',
                        val.createtime,
                        val.approvaldatetime,
                        val.approvaldatetime1,
                        (val.perdinmststatus == "Approved" ? '<a href="' + url_Form_Real + '/' + val.perdinrefid + '' + (val.perdinrefid == 0 ? '?refid=' + val.perdinid : '') + '" class="text-primary"><span class="badge btn-success">RPD</span></a>' : ''),
                        '<span class="' + ((val.perdinmststatus == "Approved" ? val.realstatus : '') == "Approved" ? 'text-green' : 'text-red') + '">' + (val.perdinmststatus == "Approved" ? val.realstatus : '') + '</span>',
                        (val.perdinmststatus == "Approved" ? '<a href="' + url_Form_Real + '/' + val.perdinrefid + '' + (val.perdinrefid == 0 ? '?refid=' + val.perdinid : '') + '" class="text-primary"><span class="badge btn-success">Detail</span></a>' : ''),
                        (val.perdinmststatus == "Approved" ? '<button title="Print" type="button" class="btn btn-sm btn-success" onclick="PrintReport2(' + val.perdinrefid + ')"><i class="fa fa-print"></i></button>' : ''),
                        val.createreal,
                        val.approvereal,
                        val.approvereal1
                    ]);
                });
                datatable.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function PrintReport(id) {
        window.open(url_Print + "?ids=" + id + "");
    };

    function PrintReport2(id) {
        window.open(url_Print_Real + "?ids=" + id + "");
    };
</script>
