﻿@model APIS_WB.Models.DB.QL_m03UR

@{
    ViewBag.Title = "User Role";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        User Role
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form User Role</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">User</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("usoid", null, htmlAttributes: new { @class = "form-control select2", @required = "" })
                                    @Html.ValidationMessageFor(model => model.usoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-header">
                        <h5 class="box-title">User Role Detail :</h5>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="container-fluid">
                            @(Html.Hidden("dtlseq"))
                            <div class="form-group">
                                <label id="i_u2" class="text-red" style="display:none">New Detail</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nama Role</label>
                                <div class="col-md-3">
                                    @Html.DropDownList("rloid", null, htmlAttributes: new { @class = "form-control select2" })
                                    @Html.ValidationMessage("rloid", "", new { @class = "text-danger", @id = "mrloid" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Special Akses</label>
                                <div class="col-md-3">
                                    <div class="checkbox"> <label class="form-check-label"><input type="checkbox" id="urflag"> </label></div>
                                    @Html.ValidationMessage("urflag", "", new { @class = "text-danger", @id = "murflag" })
                                </div>
                            </div>

                            <div class="pull-left">
                                <button type="button" class="btn btn-primary btn-md" onclick="AddToList()"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="QL_m03UR" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Role ID</th>
                                        <th>Nama Role</th>
                                        <th>Special Akses</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @*<div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.crtuser)) Pada @Model.crttime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>*@
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>*@
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md" onclick="setQL_m03UR()"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">


    function getQL_m03UR() {//ambil data dari controller
        var url = "@(Url.Action("getQL_m03UR"))";
        var table = $('#QL_m03UR').DataTable();

        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                var options = '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>';
                rows.push([++i, val.rloid, val.rlname, val.urflag, options]);
            });

            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            clearDetail();
        });
    }
    function AddToList() {
        var table = $('#QL_m03UR').DataTable();
        var rloid = $('#rloid option:selected').val();
        var rlname = $('#rloid option:selected').html();
        var urflag = "No";
        if ($('#urflag').prop('checked')) {
            urflag = "Yes";
        }


        if (IsValid()) {
            if ($('#i_u2').html() == "Edit Detail") {//edit data
                var id = parseInt($("#dtlseq").val()) - 1;
                var temp = table.row(id).data();
                temp[1] = rloid;
                temp[2] = rlname;
                temp[3] = urflag;
                table.row(id).data(temp).invalidate();
                clearDetail();
                setQL_m03UR();
            } else if (isOnDtl(rloid)) {//cek apa data sudah pernah ditambahkan
                $('#mrloid').html("Role already exist").show();

            } else {
                var id = table.rows().data().length + 1;//menambahkan data ke tabel
                table.row.add([
                    id,
                    rloid,
                    rlname,
                    urflag,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                clearDetail();
                setQL_m03UR();
            }
        }
    }

    function clearDetail() {//clear field data detail
        $('#i_u2').html("New Detail");
        $('#dtlseq').val(0);

        $('#rloid').val("").trigger('change');

    }

    function isOnDtl(rloid) { //cek apa data sudah pernah ditambahkan
        var table = $('#QL_m03UR').DataTable();
        var data = table.rows().data();
        //console.dir(data);

        for (var i = 0 ; i < data.length; i++) {
            if (rloid == data[i][1]) {
                return true;
            }
        }
        return false;
    }
    //  untuk mengecek apakah data sudah diisi dgn benar atau tdk yg akan dipanggil o
    function IsValid() {
        var rloid = $('#rloid option:selected').val();

        var isValid = true;

        if (rloid.length > 0) {
            $('#mrloid').hide();
        } else {
            isValid = false;
            $('#mrloid').html("Choose Role").show();
        }
        return isValid;
    }

    function setQL_m03UR() {//mengirim data table ke controler
        var table = $('#QL_m03UR').DataTable();
        var dataDtl = table.rows().data();

        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var obj = {
                dtlseq: i + 1,
                rloid: dataDtl[i][1],
                rlname: dataDtl[i][2],
                urflag: dataDtl[i][3]
            }
            rows.push(obj);
        }
        //console.dir(rows);
        //console.dir(JSON.stringify(rows));
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("setQL_m03UR"))",
            data: JSON.stringify({ mdataDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }
    function clickDelete() {
        var usoid = $("#usoid option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: usoid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }

    $(document).ready(function () {
        if ("@(ViewBag.action)" == "Edit") {
            $("#usoid").prop("readonly", true)
        }

        var kolom = [1];
        //if ($("#invitationmststatus").val().toUpperCase() == "POST") {
        //    kolom = [1];
        //}
        $('#QL_m03UR').DataTable({
            //"scrollX": false,
            "scrollY": "200px",
            //"scrollCollapse": true,
            "paging": false,
            "bFilter": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": kolom,
                "visible": false,
                "searchable": false
            }]

        });

        var table = $('#QL_m03UR').DataTable();

        // Edit record
        table.on('click', '#edit', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var data = table.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            $('#i_u2').html("Edit Detail");
            $("#dtlseq").val(data[0]);
            $("#rloid").val(data[1]).trigger('change');
            if (data[3] == "Yes") {
                $('#urflag').prop('checked', true);
            } else {
                $('#urflag').prop('checked', false);
            }

        });

        // Delete a record
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[0];
            table.row($tr).remove().draw();

            var data = table.rows().data();
            //console.dir(data);

            //Mengurutkan nomor
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][0] >= id) {
                    var temp = table.row(i).data();
                    temp[0] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            setQL_m03UR();
            e.preventDefault();
        });
        getQL_m03UR();
    })
</script>
