﻿@model IEnumerable<APIS_WB.Models.DB.QL_m07ST>

@{
    ViewBag.Title = "Structure";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Structure
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                 <div class="box-header">
                    <h3 class="box-title">List Structure</h3>
                </div> 
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                    </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>Nama Structure</th>
                                        <th>Deskripsi</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.stoid)" class="text-primary">@Html.DisplayFor(m => i.stname)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.stdesc)</td>
                                                <td>@Html.DisplayFor(m => i.stflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
