﻿@model APIS_WB.Models.DB.QL_trnpoassetmst

@{
    ViewBag.Title = "PO Fixed Assets";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form PO Fixed Assets</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>PO Fixed Assets Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.poassetmstres1)
                        @Html.HiddenFor(model => model.poassetmstres2)
                        @Html.HiddenFor(model => model.poassetmstres3)
                        @Html.HiddenFor(model => model.approvaluser)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.closereason)
                        @Html.HiddenFor(model => model.closeuser)
                        @Html.HiddenFor(model => model.closetime)
                        @Html.Hidden("uid")
                        @Html.Hidden("action")
                        @Html.Hidden("adddisc")
                        @Html.Hidden("closing")
                        @Html.Hidden("markup")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">PO</label>
                                        <div class="col-sm-8">
                                            @Html.RadioButtonFor(model => model.revpoassettype, "Baru", new { @checked = "checked", @required = "", @onchange = "initDDLrevpo()" })
                                            Baru
                                            @Html.RadioButtonFor(model => model.revpoassettype, "Revisi", new { @required = "", @onchange = "initDDLrevpo()" })
                                            Revisi
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" id="lblrevpo">Referensi PO <label class="text-red">*</label></label>
                                        <div class="col-sm-8" id="divrevpo">
                                            <div class="input-group">
                                                @Html.Editor("revpoassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrevpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-revpo">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.revpoassetmstoid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poassetmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tipe Transaksi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.tipebarang, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="Asset", Value="Asset" },
                                              new SelectListItem { Text="Stock", Value="Stock" },
                                              new SelectListItem { Text="FPB", Value="FPB" },
                                              new SelectListItem { Text="Konsinyasi", Value="Konsinyasi" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poassetno, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal </label>
                                        <div class="col-md-4">
                                            @Html.Editor("updtime", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen </label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("poassetdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.suppoid)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="display: none">
                                        <label class="col-md-4 control-label">Nilai Tukar <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poassetrate2toidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50", @value = "1" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Reff</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poassetsuppref, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kirim Ke</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("kirimke", null, new { @class = "form-control select2" })
                                            <div class="col-sm-12">
                                                @{
                                                    if (@Model.poassetmststatus == "Approved" | @Model.poassetmststatus == "Closed")
                                                    {
                                                        <button type="button" name="action" class="btn btn-primary btn-md" id="btnChangeKirimKe"><b>Edit Kirim Ke</b></button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Alamat <label class="text-red">*</label></label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("alamat", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchalamat" class="btn btn-flat" data-toggle="modal" data-target="#modal-alamat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.alamatoid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.poassetpaytypeoid, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mata Uang <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poassettotalamt, new { htmlAttributes = new { @class = "form-control money", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poassettotalamtidr)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total DPP</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poassettotalnetto, new { htmlAttributes = new { @class = "form-control money", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poassettotalnettoidr)
                                        @Html.HiddenFor(model => model.poassettotalamtidr)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc Amt</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poassettotaldiscdtl, new { htmlAttributes = new { @class = "form-control money", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poassettotaldiscdtlidr)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        @Html.HiddenFor(model => model.poassettaxtype)
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.poassettaxamt, new { htmlAttributes = new { @class = "form-control money", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total PPN</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.poassetvat, new { htmlAttributes = new { @class = "form-control money", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poassetvatidr)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total DPP - Disc + PPN</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(Model => Model.poassetgrandtotalamt, new { htmlAttributes = new { @class = "form-control money", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.poassetgrandtotalamtidr)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.pocustname, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.poassetothercost)
                                @Html.HiddenFor(model => model.poassetothercostidr)
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.poassetmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.poassetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.poassetmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                // AKHIR BAGIAN HEADER

                // BAGIAN DETAIL
                <div class="box-header">
                    <h3 class="box-title"><b>PO Fixed Assets Detail</b></h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-12" style="padding-top: 12px;">
                        <div class="pull-right">
                            <span class="input-group">
                                <button type="button" id="btnAddToList" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                    Tambah
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                // AKHIR BAGIAN DETAIL

                // USER & TOMBOL ACTION
                <div class="box-footer">
                    <div class="pull-left">
                        Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                        @{
                            if (ViewBag.action == "Edit")
                            {
                                @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
}
                        }
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.poassetmststatus == "In Process" | @Model.poassetmststatus == "Revised" | ViewBag.adddisc == "adddisc")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" name="action" value="@(ViewBag.action)" id="btnSendApproval" class="btn btn-warning btn-md"><b>Kirim Persetujuan</b></button>
                                @*<button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>*@
                        if (ViewBag.action == "Edit")
                        {
                            <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                            }
                        }
                        if (ViewBag.action == "Edit")
                        {
                            if (@Model.poassetmststatus == "Approved" || @Model.poassetmststatus == "Closed")
                            {
                                if (@Model.poassetmstres1 == "" || @Model.poassetmstres1 == null)
                                {
                                    <button type="button" name="action" class="btn btn-primary btn-md" id="btnAddDiskon"><b>Add Diskon</b></button>
                                    }
                                }
                            }
                        }

                    </div>
                </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.DropDownList("ddlpr", new List<SelectListItem>
                            {
                                new SelectListItem { Text="Tanpa PR", Value="npr" },
                                new SelectListItem { Text="Pakai PR", Value="pr" },
                            }, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Alamat</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%"> 
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@

    @* MODAL UNTUK REV PO *@
    <div class="modal fade" id="modal-revpo">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data PO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRevPO" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK REV PO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'poassetdtlseq', name: 'poassetdtlseq', title: 'No.' },
                { data: 'poassetcode', name: 'poassetcode', title: 'Kode' },
                { data: 'poassetdesc', name: 'poassetdesc', title: 'Deskripsi' },
                { data: 'poassetqty', name: 'poassetqty', title: 'Qty', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetqty', ' money', ($("#adddisc").val() == "adddisc" ? ' readonly' : ''), "width:80px;"); } },
                { data: 'poassetunit', name: 'poassetunit', title: 'Unit' },
                { data: 'poassetprice', name: 'poassetprice', title: 'Price', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetprice', ' money', '', "width:110px;"); } },
                { data: 'poassetdtldiscvalue', name: 'poassetdtldiscvalue', title: 'Diskon (%)', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtldiscvalue', ' money', '', "width:80px;"); } },
                { data: 'poassetdtldiscamt', name: 'poassetdtldiscamt', title: 'Diskon Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtldiscamt', ' money', '', "width:110px;"); } },
                { data: 'poassetdtlamt', name: 'poassetdtlamt', title: 'Total', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poassetdtltaxvalue', name: 'poassetdtltaxvalue', title: 'Tax', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtltaxvalue', ' money', '', "width:80px;"); } },
                { data: 'poassetdtltaxamt', name: 'poassetdtltaxamt', title: 'Tax Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poassetdtlnetto', name: 'poassetdtlnetto', title: 'Netto', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poassetdtleta', name: 'poassetdtleta', title: 'ETA', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtleta', ' datepicker', ' onchange="date_change(this)"', "width:80px;"); } },
                { data: 'poassetdtlnote', name: 'poassetdtlnote', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtlnote', ' ', '', "width:150px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return ($("#adddisc").val() == "adddisc" ? '' : '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>') } },
            ],
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tbl_dtl .select2').select2();
        });

        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'poassetdtlseq', name: 'poassetdtlseq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'poassetcode', name: 'poassetcode', title: 'Kode' },
                { data: 'poassetdesc', name: 'poassetdesc', title: 'Deskripsi' },
                { data: 'poassetqty', name: 'poassetqty', title: 'Qty', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetqty', ' money', ($("#adddisc").val() == "adddisc" ? ' readonly' : ''), "width:80px;"); } },
                { data: 'poassetunit', name: 'poassetunit', title: 'Unit' },
                { data: 'poassetprice', name: 'poassetprice', title: 'Price', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetprice', ' money', '', "width:110px;"); } },
                { data: 'poassetdtldiscvalue', name: 'poassetdtldiscvalue', title: 'Diskon (%)', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtldiscvalue', ' money', '', "width:80px;"); } },
                { data: 'poassetdtldiscamt', name: 'poassetdtldiscamt', title: 'Diskon Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtldiscamt', ' money', '', "width:110px;"); } },
                { data: 'poassetdtlamt', name: 'poassetdtlamt', title: 'Total', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poassetdtltaxvalue', name: 'poassetdtltaxvalue', title: 'Tax', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtltaxvalue', ' money', '', "width:80px;"); } },
                { data: 'poassetdtltaxamt', name: 'poassetdtltaxamt', title: 'Tax Amt', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poassetdtlnetto', name: 'poassetdtlnetto', title: 'Netto', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'poassetdtleta', name: 'poassetdtleta', title: 'ETA', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtleta', ' datepicker', ' onchange="date_change(this)"', "width:80px;"); } },
                { data: 'poassetdtlnote', name: 'poassetdtlnote', title: 'Keterangan', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'poassetdtlnote', ' ', '', "width:150px;"); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalDtl .select2').select2();
        });

        tblModalRevPO = $("#tblModalRevPO").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'poassetno', name: 'poassetno', title: 'No PO' },
                { data: 'poassetdate', name: 'poassetdate', title: 'Tgl PO', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : moment(data).format('DD/MM/YYYY'); } },
                { data: 'suppname', name: 'suppname', title: 'Supplier' },
                { data: 'poassetmstnote', name: 'poassetmstnote', title: 'Keterangan' },
            ],
            order: [],
        });

        tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'suppcode', name: 'suppcode', title: 'Kode' },
                { data: 'suppname', name: 'suppname', title: 'Supplier' },
                { data: 'suppaddr', name: 'suppaddr', title: 'Alamat' },
            ],
            order: [],
        });

        tblModalAlamat = $("#tblModalAlamat").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'alamat', name: 'alamat', title: 'Alamat' },
                { data: 'kota', name: 'kota', title: 'Kota' },
                { data: 'phone', name: 'phone', title: 'No Telp' },
            ],
            order: [],
        });

        $("#ddlpr").change(function () {
            $("#btnAddToList").click();
        });
        initDDLrevpo();
        var idmst = $('#poassetmstoid').val();
        if ($("#action").val() == "Edit") {
            FillDetailData(idmst);
        } else {
            var revid = "@(Request.QueryString["revid"])";
            if (revid != '') {
                FillDetailData(revid);
            }
        }
    })
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function initDDLrevpo() {
        var ddl = $("input:radio[name=revpoassettype]:checked").val();
        if (ddl == "Baru") {
            $("#lblrevpo").hide(); $("#divrevpo").hide();
        } else {
            $("#lblrevpo").show(); $("#divrevpo").show();
        }
    }

    var url_GetRevPOData = "@(Url.Action("GetRevPOData"))"
    $("#btnsearchrevpo").click(function () {
        tblModalRevPO.clear().draw();
        $.ajax({
            url: url_GetRevPOData,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalRevPO.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalRevPO").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalRevPO.row($tr).data();

        $("#tipebarang").val(alldata.tipebarang).trigger('change');
        $("#suppname").val(alldata.suppname);
        $("#suppoid").val(alldata.suppoid);
        $("#poassetpaytypeoid").val(alldata.poassetpaytypeoid).trigger('change');
        $("#poassettaxtype").val(alldata.poassettaxtype);
        $("#poassettaxamt").val(alldata.poassettaxamt);
        //po
        $("#poassetno").val(alldata.poassetnonew);
        $("#revpoassetno").val(alldata.poassetno);
        $("#revpoassetmstoid").val(alldata.poassetmstoid);
        $("#poassetdate").val(moment(jsDate(alldata.poassetdate)).format('DD/MM/YYYY'));
        $("#alamat").val(alldata.alamat);
        $("#alamatoid").val(alldata.alamatoid);
        $("#poassetsuppref").val(alldata.poassetsuppref);
        $("#pocustname").val(alldata.pocustname);
        $("#poassetmstnote").val(alldata.poassetmstnote);
        //header amt
        $('#poassettotalamt').val(alldata.poassettotalamt);
        $('#poassettotalamtidr').val(alldata.poassettotalamtidr);
        $('#poassettotaldiscdtl').val(alldata.poassettotaldiscdtl);
        $('#poassettotaldiscdtlidr').val(alldata.poassettotaldiscdtlidr);
        $('#poassetvat').val(alldata.poassetvat);
        $('#poassetvatidr').val(alldata.poassetvatidr);
        $('#poassettotalnetto').val(alldata.poassettotalnetto);
        $('#poassetgrandtotalamt').val(alldata.poassetgrandtotalamt);
        $('#poassetgrandtotalamtidr').val(alldata.poassetgrandtotalamtidr);
        $("#poassetothercost").val(0);
        $("#poassetothercostidr").val(0);
        FillDetailData(alldata.poassetmstoid);
        $('#modal-revpo').modal('hide');
    });

    var url_GetSupplierData = "@(Url.Action("GetSupplierData"))"
    $("#btnsearchsupp").click(function () {
        tblModalSupp.clear().draw();
        $.ajax({
            url: url_GetSupplierData,
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalSupp.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalSupp").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalSupp.row($tr).data();

        $("#suppname").val(alldata.suppname);
        $("#suppoid").val(alldata.suppoid);
        $("#poassetpaytypeoid").val(alldata.supppaymentoid).trigger('change');
        $("#poassettaxtype").val(alldata.supptaxable);
        $("#poassettaxamt").val(alldata.supptaxamt);
        $("#alamat").val('');
        $("#alamatoid").val(0);
        $('#modal-supp').modal('hide');
    });

    var url_GetAlamatData = "@(Url.Action("GetAlamatData"))"
    $("#btnsearchalamat").click(function () {
        var suppoid = $("#suppoid").val();
        if (suppoid == '' || suppoid == '0') {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        tblModalAlamat.clear().draw();
        $.ajax({
            url: url_GetAlamatData,
            data: { suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalAlamat.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalAlamat").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalAlamat.row($tr).data();

        $("#alamat").val(alldata.alamat);
        $("#alamatoid").val(alldata.alamatoid);
        $('#modal-alamat').modal('hide');
    });

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        var suppoid = $("#suppoid").val();
        if (suppoid == 0) {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier!',
                type: 'warning'
            });
            return false;
        }
        var alamatoid = $("#alamatoid").val();
        if (alamatoid == 0) {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Alamat!',
                type: 'warning'
            });
            return false;
        }
        $('#modal-detail').modal('show');
        var ddlpr = $("#ddlpr option:selected").val();
        var poassetmstoid = $("#poassetmstoid").val();
        var sType = $("#tipebarang option:selected").val();
        tblModalDtl.column(0).checkboxes.deselect();
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { sType, suppoid, ddlpr, poassetmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.poassetdtlseq = key + 1;
                        val.poassetdtleta = moment(val.poassetdtleta).format("DD/MM/YYYY");
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.poassetrefoid, obj.poassetdtlnote)) {
                obj.poassetdtlseq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        CountHdrAmount();
        EnabledHeader();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(poassetrefoid, poassetdtlnote) {
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            if (poassetrefoid == alldata.poassetrefoid && poassetdtlnote == alldata.poassetdtlnote) {
                return true;
            }
        }
        return false;
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData(id) {
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    $.each(data.dtl, function (key, val) {
                        val.poassetdtleta = moment(val.poassetdtleta).format("DD/MM/YYYY");
                    })
                    tbl_dtl.rows.add(data.dtl);
                    tbl_dtl.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'poassetdtlseq:name').data(i + 1).invalidate();
        }
        CountHdrAmount();
        EnabledHeader();
        e.preventDefault();
    });
    function date_change($this) {
        var tblname = $($this).closest('table').attr('id');
        setData($this, $('#' + tblname).DataTable());
    };
    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        var obj = tbl.row($tr).data();
        var totalamt = obj.poassetqty * obj.poassetprice;
        if (attrname == "poassetprice" || attrname == "poassetqty" || attrname == "poassetdtltaxvalue" || attrname == "poassetdtldiscvalue") {
            if (totalamt > 0 && obj.poassetdtldiscvalue > 0) {
                obj.poassetdtldiscamt = totalamt * (obj.poassetdtldiscvalue / 100);
                tbl.cell($tr, 'poassetdtldiscamt:name').data(obj.poassetdtldiscamt).invalidate();
            }
        } else if (attrname == "poassetprice" || attrname == "poassetqty" || attrname == "poassetdtltaxvalue" || attrname == "poassetdtldiscamt") {
            if (totalamt > 0 && obj.poassetdtldiscamt > 0) {
                obj.poassetdtldiscvalue = (obj.poassetdtldiscamt / totalamt) * 100;
                tbl.cell($tr, 'poassetdtldiscvalue:name').data(obj.poassetdtldiscvalue).invalidate();
            }
        }
        obj.poassetdtlamt = totalamt - obj.poassetdtldiscamt;
        tbl.cell($tr, 'poassetdtlamt:name').data(obj.poassetdtlamt).invalidate();
        if (obj.poassetdtltaxvalue > 0) {
            obj.poassetdtltaxamt = obj.poassetdtlamt * (obj.poassetdtltaxvalue / 100);
            tbl.cell($tr, 'poassetdtltaxamt:name').data(obj.poassetdtltaxamt).invalidate();
        }
        obj.poassetdtlnetto = obj.poassetdtlamt + obj.poassetdtltaxamt;
        tbl.cell($tr, 'poassetdtlnetto:name').data(obj.poassetdtlnetto).invalidate();
        tbl.draw();
        CountHdrAmount();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            todayHighlight: true,
            autoclose: true
        });
        $td.find('.select2').select2();
    };

    function CountHdrAmount() {
        var dTotalAmt = 0; var dTotalDiscAmt = 0; var dTotalTaxAmt = 0; var dTotalNetto = 0;
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dTotalAmt += alldata.poassetdtlamt;
            dTotalDiscAmt += alldata.poassetdtldiscamt;
            dTotalTaxAmt += alldata.poassetdtltaxamt;
            dTotalNetto += alldata.poassetdtlnetto;
        }

        $('#poassettotalamt').val(dTotalAmt.toFixed(4));
        $('#poassettotalamtidr').val(dTotalAmt.toFixed(4));
        $('#poassettotaldiscdtl').val(dTotalDiscAmt.toFixed(4));
        $('#poassettotaldiscdtlidr').val(dTotalDiscAmt.toFixed(4));
        $('#poassetvat').val(dTotalTaxAmt.toFixed(4));
        $('#poassetvatidr').val(dTotalTaxAmt.toFixed(4));
        $('#poassettotalnetto').val(dTotalAmt.toFixed(4));
        $('#poassetgrandtotalamt').val(dTotalNetto.toFixed(0));
        $('#poassetgrandtotalamtidr').val(dTotalNetto.toFixed(0));
        $("#poassetothercost").val(0);
        $("#poassetothercostidr").val(0);
    }

    function EnabledHeader() {
        var bVal = tbl_dtl.data().length > 0;

        $("#cmpcode").attr("readonly", bVal);
        $("#tipebarang").attr("readonly", bVal);
        $("#curroid").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchalamat").attr("disabled", bVal);
    }

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "poassetdate") {
                tbl[n.name] = toDate($('#poassetdate').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });
        var action = $('#action').val();
        var kirimke = $('#kirimke option:selected').val();
        var adddisc = $('#adddisc').val();

        var dtDtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            alldata.poassetdtleta = moment(toDate(alldata.poassetdtleta)).format('MM/DD/YYYY');
            alldata.poassetdtllocoid = kirimke;
            dtDtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl, dtDtl, action, adddisc },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#poassetmststatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#poassetmststatus").val("In Process");
            }
        });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#poassetmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    var url_Form_Direct = "@(Url.Action("Form"))";
    $("#btnAddDiskon").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        var oid = $("#poassetmstoid").val();
        Swal({
            title: 'Are you sure to send this data for Add Diskon?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Add Diskon this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("AddDiskon"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            location.replace(url_Form_Direct + "?revid=" + oid);
                        } else {
                            Swal(
                              'Add Diskon Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnChangeKirimKe").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        var oid = $("#poassetmstoid").val();
        var idkirimke = $("#kirimke option:selected").val();
        Swal({
            title: 'Are you sure to Change this data for Kirim Ke?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Change this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("ChangeKrimKe"))",
                    data: { __RequestVerificationToken: token, id: oid, idkirimke: idkirimke },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            location.replace("@(Url.Action("Index"))");
                        } else {
                            Swal(
                              'Change Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#poassetmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Approval?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#poassetmststatus").val("In Approval");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

</script>