﻿
@{
    ViewBag.Title = "PO Fixed Assets";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List PO  Fixed Assets</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    @Html.Partial("~/Views/Shared/_FilterList.cshtml")
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>No. Draft</th>
                                        <th>No. PO</th>
                                        <th>Tgl. PO</th>
                                        <th>Tipe PO</th>
                                        <th>Supplier</th>
                                        <th>Referensi</th>
                                        <th>Customer</th>
                                        <th>Grand Total</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Alasan</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var url_getListDataTable = "@Url.Action("getListDataTable")"
        var url_Form = "@Url.Action("Form")"
        var url_Print = "@(Url.Action("PrintReport"))";

        var datatable = null;
        $(document).ready(function () {
            datatable = $('#datatable').DataTable({
                responsive: true,
                "order": [[0, 'desc']]
            });
            GetDataList();
        });

        function GetFilterData() {
            var data = {
                filterperiodfrom: toDate($('#filterperiodfrom').val()),
                filterperiodto: toDate($('#filterperiodto').val()),
                filterddl: $('#filterddl option:selected').val(),
                filtertext: $('#filtertext').val(),
                filterstatus: $('#filterstatus option:selected').val()
            };
            return data;
        }

        $("#btnFindList").click(function () {
            var sMsg = "";
            var periodfrom = ($('#filterperiodfrom').val() == "" ? "" : toDate($('#filterperiodfrom').val()));
            var periodto = ($('#filterperiodto').val() == "" ? "" : toDate($('#filterperiodto').val()));
            if (periodfrom != "" && periodto != "") {
                if (Date.parse(periodfrom) > Date.parse(periodto))
                    sMsg = "Period 1 Tidak Boleh Lebih Kecil Dari Period 2!";

                if (sMsg != "") {
                    swal('Warning', sMsg, 'warning');
                    return false;
                }
                else { GetDataList(); }
            }
        });

        function GetDataList() {
            var param = GetFilterData();
            datatable.clear().draw();
            $.ajax({
                url: url_getListDataTable,
                data: { param },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    $.each(data, function (key, val) {
                        rows.push([
                            '<a href="' + url_Form + '/' + val.poassetmstoid + '" class="text-primary">' + val.poassetmstoid + '</a>',
                            val.poassetno,
                            moment(val.poassetdate).format('DD/MM/YYYY'),
                            val.tipebarang,
                            val.suppname,
                            val.poassetsuppref,
                            val.pocustname,
                            addCommas(val.poassetgrandtotalamt),
                            val.poassetmststatus,
                            val.poassetmstnote,
                            val.reason,
                           '<button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(' + val.poassetmstoid + ')"><i class="fa fa-print"></i></button>'
                        ]);
                    });
                    datatable.rows.add(rows).draw();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };
</script>