﻿@model APIS_WB.Models.DB.QL_trnsoassetmst

@{
    ViewBag.Title = "SO Fixed Assets";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form SO Fixed Assets</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>SO Fixed Assets Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.soassetdate)
                        @Html.HiddenFor(model => model.soassetetd)
                        @Html.HiddenFor(model => model.socustrefdate)
                        @Html.HiddenFor(model => model.soassetmstres1)
                        @Html.HiddenFor(model => model.soassetmstres2)
                        @Html.HiddenFor(model => model.soassetmstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soassetmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soassetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.soassetdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal</label>
                                        <div class="col-md-4">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                            @Html.ValidationMessageFor(model => model.custoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">TOP</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.soassetpaytypeoid, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                       @Html.ValidationMessageFor(model => model.soassetpaytypeoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Price Type</label>
                                        <div class="col-md-8">
                                            @Html.RadioButtonFor(model => model.isexcludetax, true, new { @class="rb", id = "isexcludetax_true"}) @Html.Label("Exclude Tax") 
                                            @Html.RadioButtonFor(model => model.isexcludetax, false, new { @class = "rb", id = "isexcludetax_false"}) @Html.Label("Include Tax")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer PO Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglcustrefdate", new { htmlAttributes = new { @class = "form-control datepicker3", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.socustrefdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer PO.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.soassetcustref, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.soassetcustref, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soassettotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.soassettotalamt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Netto</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soassettotalnetto, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.soassettotalnetto, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                        <div class="col-md-3">
                                            @Html.EditorFor(model => model.soassettaxtype, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        <div class="col-md-5">
                                            @Html.EditorFor(model => model.soassettaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            </div>
                                        @Html.ValidationMessageFor(model => model.soassettaxtype, "", new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => model.soassettaxamt, "", new { @class = "text-danger" })
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soassetvat, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.soassetvat, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total Amt</label>
                                        <div class="col-md-4">
                                           @Html.EditorFor(model => model.soassetgrandtotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.soassetgrandtotalamt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">ETD</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tgletd", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.soassetetd, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.soassetmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.soassetmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.soassetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.soassetmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>SO Fixed Assets Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Add To List</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th></th>
                                        <th>Asset No.</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.soassetmststatus == "In Process" | @Model.soassetmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                            if (ViewBag.action == "Edit")
                                            {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }

                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SO Fixed Assets Detail Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Asset No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Stock Qty</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK GANTI MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Fixed Assets Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI MATERIAL *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 2],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl(); CountHdrAmount(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                    "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMat = $("#tblModalMat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#soassetpaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $('#modal-cust').modal('hide');
        });
        FillDetailData();

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#soassetdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#soassetetd").val();
        } else {
            tgl3 = $("#createtime").val();
        }
        tglIndo(tgl3, '.datepicker2');
        var tgl4 = "";        
        if ($('#action').val() == "Edit") {
            tgl4 = $("#socustrefdate").val();
        } else {
            tgl4 = $("#createtime").val();
        }
        tglIndo(tgl4, '.datepicker3');

        $("#soassettotalamt").val(addCommas($("#soassettotalamt").val()));
        $("#soassettotalnetto").val(addCommas($("#soassettotalnetto").val()));
        $("#soassetvat").val(addCommas($("#soassetvat").val()));
        $("#soassettaxamt").val(addCommas($("#soassettaxamt").val()));
        $("#soassetgrandtotalamt").val(addCommas($("#soassetgrandtotalamt").val()));
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.soassetdtlseq,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    val.assetno,
                    val.matrefcode,
                    val.matreflongdesc,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetqty-' + val.soassetdtlseq + '" name="soassetqty-' + val.soassetdtlseq + '" value="' + addCommas(val.soassetqty) + '" readonly="" onchange="CountDtlAmount(' + val.soassetdtlseq + ')">',
                    val.soassetunit,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetprice-' + val.soassetdtlseq + '" name="soassetprice-' + val.soassetdtlseq + '" value="' + addCommas(val.soassetprice) + '" onchange="CountDtlAmount(' + val.soassetdtlseq + ')">',
                    addCommas(val.soassetdtlamt),
                    addCommas(val.soassetdtlnetto),
                    '<input type="text" class="form-control" style="max-width: 150px" id="soassetdtlnote-' + val.soassetdtlseq + '" name="soassetdtlnote-' + val.soassetdtlseq + '" value="' + (val.soassetdtlnote == null ? "" : val.soassetdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }    

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnAddToList").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: "WARNING!",
                text: "Please Select CUSTOMER field!",
                type: "warning"
            })
            return false;
        }
        var table = $('#tblModalDtl').DataTable();
        var curroid = $('#curroid option:selected').val();
        var cmp = $("#cmpcode").val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, curroid: curroid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        i,
                        val.assetno,
                        val.matrefcode,
                        val.matreflongdesc,
                        addCommas(val.stockqty),
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetqty-' + i + '" name="soassetqty-' + i + '" value="' + addCommas(val.soassetqty) + '" readonly="">',
                        val.soassetunit,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetprice-' + i + '" name="soassetprice-' + i + '" value="' + addCommas(val.soassetprice) + '">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="soassetdtlnote-' + i + '" name="soassetdtlnote-' + i + '" value="' + val.soassetdtlnote + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var soassetqty = removeCommas(table.$("#soassetqty-" + val).val());
                var soassetprice = removeCommas(table.$("#soassetprice-" + val).val());
                var soassetdtlamt = parseFloat(soassetqty * soassetprice);
                var soassetdtlnetto = soassetdtlamt;
                var soassetdtlnote = table.$("#soassetdtlnote-" + val).val();
                if (!IsOnDtl(alldata.assetmstoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        soassetdtlseq: id,
                        assetmstoid: alldata.assetmstoid,
                        assetno: alldata.assetno,
                        matrefoid: alldata.matrefoid,
                        matrefcode: alldata.matrefcode,
                        matreflongdesc: alldata.matreflongdesc,
                        matrefnote: alldata.matrefnote,
                        soassetqty: soassetqty,
                        soassetunitoid: alldata.soassetunitoid,
                        soassetunit: alldata.soassetunit,
                        soassetprice: soassetprice,
                        soassetdtlamt: soassetdtlamt,
                        soassetdtlnetto: soassetdtlnetto,
                        soassetdtlnote: soassetdtlnote,
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        alldata.assetno,
                        alldata.matrefcode,
                        alldata.matreflongdesc,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetqty-' + id + '" name="soassetqty-' + id + '" value="' + addCommas(soassetqty) + '" readonly="" onchange="CountDtlAmount(' + id + ')">',
                        alldata.soassetunit,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetprice-' + id + '" name="soassetprice-' + id + '" value="' + addCommas(soassetprice) + '" onchange="CountDtlAmount(' + id + ')">',
                        addCommas(soassetdtlamt),
                        addCommas(soassetdtlnetto),
                        '<input type="text" class="form-control" style="max-width: 150px" id="soassetdtlnote-' + id + '" name="soassetdtlnote-' + id + '" value="' + soassetdtlnote + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    table.column(1).checkboxes.deselect();
                    EnabledHeader();
                }
            }
        })
        SetDataDtl();
        CountHdrAmount();
    }

    $('#DataDtl').on('click', '#edit', function () {
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.soassetdtlseq - 1);
        $('#modal-mat').modal('show');

        var table = $('#tblModalMat').DataTable();
        var curroid = $('#curroid option:selected').val();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, curroid: curroid},
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.matrefcode,
                    val.matreflongdesc,
                    val.soassetunit,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $("#tblModalMat").on('click', '#select', function () {
        var table = $('#tblModalMat').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        var iSeq = parseInt($('#seq').val()) + 1;

        alldata.soassetqty = 0;
        alldata.soassetprice = 0;
        alldata.soassetdtlamt = 0;
        alldata.soassetdtldiscvalue = 0;
        alldata.soassetdtldiscamt = 0;
        alldata.soassetdtlnetto = 0;
        alldata.soassetdtlno = "";

        var soassetdtldisctype = "Percentage";
        if (alldata.soassetdtldisctype == "A") {
            soassetdtldisctype = "Amount";
        }

        var obj = {
            soassetdtlseq: iSeq,
            matrefoid: alldata.matrefoid,
            matrefcode: alldata.matrefcode,
            matreflongdesc: alldata.matreflongdesc,
            matrefnote: alldata.matrefnote,
            soassetqty: alldata.soassetqty,
            soassetunitoid: alldata.soassetunitoid,
            soassetunit: alldata.soassetunit,
            soassetlastprice: alldata.soassetlastprice,
            soassetprice: alldata.soassetprice,
            soassetdtlamt: alldata.soassetdtlamt,
            soassetdtldisctype: alldata.soassetdtldisctype,
            soassetdtldiscvalue: alldata.soassetdtldiscvalue,
            soassetdtldiscamt: alldata.soassetdtldiscamt,
            soassetdtlnetto: alldata.soassetdtlnetto,
            soassetdtlnote: alldata.soassetdtlnote,
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = alldata.matrefcode;
        datadtl[4] = alldata.matreflongdesc;
        datadtl[5] = alldata.matrefnote;
        datadtl[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="arretItemqty-' + iSeq + '" name="arretItemqty-' + iSeq + '" value="' + alldata.soassetqty + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[7] = alldata.soassetunit;
        datadtl[8] = addCommas(alldata.soassetlastprice);
        datadtl[9] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetprice-' + iSeq + '" name="soassetprice-' + iSeq + '" value="' + alldata.soassetprice + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[10] = alldata.soassetdtlamt;
        datadtl[11] = '<select class = "form-control" id="soassetdtldisctype-' + iSeq + '" onchange="CountDtlAmount(' + iSeq + ')"> <option value="' + alldata.soassetdtldisctype + '" selected>' + soassetdtldisctype + '</option>  <option value="P">Percentage</option><option value="A">Amount</option> ';
        datadtl[12] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetdtldiscvalue-' + iSeq + '" name="soassetdtldiscvalue-' + iSeq + '" value="' + alldata.soassetdtldiscvalue + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[13] = alldata.soassetdtldiscamt;
        datadtl[14] = alldata.soassetdtlnetto;
        datadtl[15] = '<input type="text" class="form-control" style="max-width: 150px" id="soassetdtlnote-' + iSeq + '" name="soassetdtlnote-' + iSeq + '" value="' + alldata.soassetdtlnote + '">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();

        $('#modal-mat').modal('hide');
    });

    function IsOnDtl(assetmstoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (assetmstoid == alldata.assetmstoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var soassetqty = removeCommas(table.$("#soassetqty-" + alldata.soassetdtlseq).val());
            var soassetprice = removeCommas(table.$("#soassetprice-" + alldata.soassetdtlseq).val());
            var soassetdtlamt = parseFloat(soassetqty * soassetprice);
            var soassetdtlnetto = soassetdtlamt;
            var soassetdtlnote = table.$("#soassetdtlnote-" + alldata.soassetdtlseq).val();

            var obj = {
                soassetdtlseq: i + 1,
                assetmstoid: alldata.assetmstoid,
                assetno: alldata.assetno,
                matrefoid: alldata.matrefoid,
                matrefcode: alldata.matrefcode,
                matreflongdesc: alldata.matreflongdesc,
                soassetqty: soassetqty,
                soassetunitoid: alldata.soassetunitoid,
                soassetunit: alldata.soassetunit,
                soassetprice: soassetprice,
                soassetdtlamt: soassetdtlamt,
                soassetdtlnetto: soassetdtlnetto,
                soassetdtlnote: soassetdtlnote,
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dTotalAmt = 0; var dTotalvat = 0; var dGrandTotalAmt = 0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt +=  parseFloat(alldata.soassetdtlamt);
        }
        dTotalvat = parseFloat(dTotalAmt * $("#soassettaxamt").val()) / 100;
        dGrandTotalAmt = parseFloat(dTotalAmt + dTotalvat);

        $("#soassettotalamt").val(addCommas(dTotalAmt));
        $("#soassettotalnetto").val(addCommas(dTotalAmt));
        $("#soassetvat").val(addCommas(dTotalvat));
        $("#soassetgrandtotalamt").val(addCommas(dGrandTotalAmt));
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var soassetqty = removeCommas(table.$("#soassetqty-" + id).val());
        var soassetprice = removeCommas(table.$("#soassetprice-" + id).val());
        var soassetdtlamt = parseFloat(soassetqty * soassetprice);
        var soassetdtlnetto = soassetdtlamt;

        alldata.soassetqty = soassetqty;
        alldata.soassetprice = soassetprice;
        alldata.soassetdtlamt = soassetdtlamt;
        alldata.soassetdtlnetto = soassetdtlnetto;

        data[0] = JSON.stringify(alldata);
        data[6] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetqty-' + id + '" name="soassetqty-' + id + '" value="' + addCommas(soassetqty) + '" readonly="" onchange="CountDtlAmount(' + id + ')">';
        data[8] = '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="soassetprice-' + id + '" name="soassetprice-' + id + '" value="' + addCommas(soassetprice) + '" onchange="CountDtlAmount(' + id + ')">';
        data[9] = addCommas(soassetdtlamt);
        data[10] = addCommas(soassetdtlnetto);

        table.row(id - 1).data(data).invalidate();
        CountHdrAmount();
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var bVal = false;
        if (table != null) {
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $(".rb_madetoorder").attr("disabled", bVal);
        $("#cmpcode").attr("readonly", bVal);
        $("#curroid").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
        $(':radio:not(:checked)').attr('disabled', bVal);
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnSave").click(function () {
        SetDataDtl();
        $("#soassettotalamt").val(removeCommas($("#soassettotalamt").val()));
        $("#soassettotalnetto").val(removeCommas($("#soassettotalnetto").val()));
        $("#soassetvat").val(removeCommas($("#soassetvat").val()));
        $("#soassettaxamt").val(removeCommas($("#soassettaxamt").val()));
        $("#soassetgrandtotalamt").val(removeCommas($("#soassetgrandtotalamt").val()));
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#soassetmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#soassetmstoid").val();
        var cmp = $("#cmpcode").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for APPROVAL?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#soassetmststatus").val("In Approval");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>