﻿@model APIS_WB.Models.DB.QL_trnapitemmst

@{
    ViewBag.Title = "Faktur Beli Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Faktur Beli Jasa
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Header Faktur Beli Jasa</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.apitemmstoid)
                        @Html.HiddenFor(model => model.apitemmststatus)
                        @Html.HiddenFor(model => model.apitemdate)
                        @Html.HiddenFor(model => model.apitemsuppfjdate)
                        @Html.HiddenFor(model => model.apitemduedate)      
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.apitemttdate)
                        @Html.Hidden("mritemmstoid")
                        @Html.Hidden("supppengakuan")
                        @Html.Hidden("gnother1")
                        @Html.Hidden("uid")
                        @Html.Hidden("deftax")
                        @Html.Hidden("action")
                        @Html.Hidden("markup")                        
                        <div class="container-fluid">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                        </div>

                        @*===== Baris ke 1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Faktur <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.apitemno, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tanggal <label class="text-red">*</label></label>
                            <div class="col-sm-4">                                
                                    @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                                @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })                            
                        </div>

                        @*===== Baris ke 2 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Supplier <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.suppoid)
                                </div>
                                @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.apitemdate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 2 =====*@

                        @*===== Baris ke 3 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. PO</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("poitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.poitemmstoid)
                                </div>
                                @Html.ValidationMessageFor(model => model.poitemmstoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">No. PRAB</label>
                            <div class="col-sm-4">
                                @Html.Editor("reqrabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessage("reqrabno", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 4 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">RAB</label>
                            <div class="col-sm-4">                                
                                @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.HiddenFor(model => model.rabmstoid) 
                                @Html.HiddenFor(model => model.rabmstoid_awal)                                  
                                @Html.ValidationMessageFor(model => model.rabmstoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Nama Project</label>
                            <div class="col-sm-4">
                                @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.ValidationMessage("projectname", "", new { @class = "text-danger" })
                            </div>
                            
                        </div> 

                        @*===== Baris ke 4.1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label" id="col_tgljt">Tgl. TT<label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.Editor("tgltt", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.apitemttdate, "", new { @class = "text-danger" })

                            @*<label class="col-sm-2 control-label">Tgl. Jatuh Tempo<label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.Editor("tgldue", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.apitemduedate, "", new { @class = "text-danger" })*@
                        </div>
                                              
                        @*===== Baris ke 5 =====*@                        
                        <div class="form-group">  
                            <label class="col-sm-2 control-label">TOP</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.apitempaytypeoid, null, new { @class = "form-control select2", @readonly = "" })
                                @Html.ValidationMessageFor(model => model.apitempaytypeoid, "", new { @class = "text-danger" })
                            </div>     
                            
                            <label class="col-sm-2 control-label">No. Inv Supplier</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.apitemsuppfjno, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.apitemsuppfjno, "", new { @class = "text-danger" })
                            </div>                       
                        </div>

                        @*===== Baris ke 6 =====*@
                        <div class="form-group" style="display:none">
                            <label class="col-sm-2 control-label">Tgl. Inv Supplier</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglinv", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.apitemsuppfjdate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 7 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="display:none">No. Faktur Pajak</label>
                            <div class="col-sm-4" style="display:none">
                                @Html.EditorFor(model => model.apitemfaktur, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.apitemfaktur, "", new { @class = "text-danger" })
                            </div>
                            
                            <label class="col-sm-2 control-label">Sales Supplier</label>
                            <div class="col-sm-4">
                                @Html.Editor("suppsales", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.HiddenFor(model => model.suppsalesoid)
                                @Html.ValidationMessageFor(model => model.suppsalesoid, "", new { @class = "text-danger" })
                            </div>                
                        </div>                        
                        @*===== Baris ke 8 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mata Uang <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "", @readonly = "" })
                                    @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-sm-2 control-label">Total DP Faktur-M</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.apdpamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                </div>
                            </div>

                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label">Nilai Tukar <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.apitemrate2toidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50", @value = "1" } })
                                    @Html.ValidationMessageFor(model => model.apitemrate2toidr, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*===== Baris ke 9 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Total Amt</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.apitemtotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.apitemtotalamt, "", new { @class = "text-danger" })
                                </div>
                                <label class="col-sm-2 control-label">Total Disc Dtl</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.apitemtotaldiscdtl, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.apitemtotaldiscdtl, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Total Amt - Disc Dtl</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.apitemtotalnetto, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.apitemtotalnetto, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*===== Baris ke 10 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Total PPN</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.apitemtaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.apitemtaxamt, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Total + PPN</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.apitemgrandtotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.apitemgrandtotal, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Disc Type</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.apitemmstdisctype, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="NONE", Value="N" },
                                              new SelectListItem { Text="POTONG HUTANG", Value="H" },
                                              new SelectListItem { Text="POTONG PERSEDIAAN", Value="P" }
                                            }, new { @class = "form-control select2", @required = "", @onchange = "CountHdrAmount()" })
                                </div>

                                <label class="col-sm-2 control-label">Total Disc</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.apitemmstdiscamt, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "30", @onblur = "CountHdrAmount()" } })
                                    @Html.ValidationMessageFor(model => model.apitemmstdiscamt, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        @*==== Baris ke 11 ====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Catatan</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.apitemmstnote, new { @class = "form-control", @type = "text", @maxlength = "200" })
                                @Html.ValidationMessageFor(model => model.apitemmstnote, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">                                
                                    @Html.EditorFor(model => model.apitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "", @Value = Model.apitemmststatus } })                                
                            </div>
                        </div>                                                      

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h4 class="box-title"><strong>Detail Faktur Beli</strong></h4>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs pull-left">
                                            <li class="active"><a href="#detail-output" data-toggle="tab"><b>Detail Penerimaan</b></a></li>
                                            <li><a href="#detail-input" data-toggle="tab"><b> Detail Faktur Pajak</b></a></li>
                                        </ul>

                                        <div class="tab-content no-padding">
                                            <!-- Morris chart - Sales -->
                                            <div class="chart tab-pane active" id="detail-output" style="position: relative; overflow-x: auto;">
                                                <div class="row">
                                                    <br />
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 control-label">No. Penerimaan</label>
                                                            <div class="col-sm-8">
                                                                <div class="input-group">
                                                                    @Html.Editor("mritemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                                    <span class="input-group-btn">
                                                                        <button type="button" id="btnsearchmr" class="btn btn-flat" data-toggle="modal" data-target="#modal-mr">
                                                                            <i class="fa fa-search"></i>
                                                                        </button>
                                                                    </span>
                                                                    @Html.Hidden("mritemmstoid")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-12" style="overflow-x: auto;">
                                                    <table id="DataDtl" class="table table-striped" style="width: 100%">
                                                        <thead>
                                                            <tr role="row">
                                                                <th>alldata</th>
                                                                <th>No.</th>
                                                                <th>No. Penerimaan</th>
                                                                <th>Kode</th>
                                                                <th>Deskripsi</th>
                                                                <th>PID</th>
                                                                <th>Qty</th>
                                                                <th>Unit</th>
                                                                <th>Price</th>
                                                                <th>Total</th>
                                                                <th>Disc(%)</th>
                                                                <th>Disc Amt</th>
                                                                <th>Tax</th>
                                                                <th>Tax Amt</th>
                                                                <th>Netto</th>
                                                                <th>Keterangan</th>
                                                                <th>mritemmstoid</th>
                                                                <th>mritemdtloid</th>
                                                                <th>Opsi</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div><br>
                                            </div>

                                            <div class="chart tab-pane" id="detail-input" style="position: relative; overflow-x: auto;">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right">
                                                            <button type="button" id="btntambah2" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail2">
                                                                <i class="fa fa-plus"></i>
                                                                Tambah
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <table id="DataDtl2" width="100%" class="table table-striped" style="position: relative; overflow-x: auto;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th>alldata</th>
                                                            <th>No.</th>
                                                            <th>Kode</th>
                                                            <th>No. Faktur Pajak</th>
                                                            <th>Nominal</th>
                                                            <th>Opsi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table><br>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@

                    </div><!-- /.container-fluid -->
            </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                <h6><b>VAR_PPN_IN | VAR_AP</b></h6>
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                if (@Model.apitemmststatus == "In Process" | @Model.apitemmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                    }
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM mr *@
    <div class="modal fade" id="modal-mr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Penerimaan Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Penerimaan</th>
                                    <th>Tgl. Penerimaan</th>
                                    <th>PO No.</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SHIPMENT *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. RAB</th>
                                    <th>Tanggal</th>
                                    <th>No. PO</th>
                                    <th>No. PRAB</th>
                                    <th>Sales</th>
                                    <th>Project Name</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@    

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK ALAMAT *@
    <div class="modal fade" id="modal-alamat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAlamat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Lokasi</th>
                                    <th>Alamat Pengiriman</th>
                                    <th>Provinsi</th>
                                    <th>Kota</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK ALAMAT *@
    

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-matBeli">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@

    @* MODAL UNTUK DETAIL 2 *@
    <div class="modal fade" id="modal-detail2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Faktur Pajak</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFakturDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>No. Faktur Pajak</th>
                                    <th>Nominal</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail2()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 2 *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        var tblModalRAB =  $("#tblModalRAB").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#rabmstoid_awal").val(alldata.rabmstoid_awal);
            $("#rabno").val(alldata.rabno);
            $("#reqrabno").val(alldata.reqrabno);
            $("#projectname").val(alldata.projectname);
            $("#poitemno").val(alldata.poitemno);
            $("#poitemmstoid").val(alldata.poitemmstoid);
            $("#suppsalesoid").val(alldata.suppsalesoid);
            $("#suppsales").val(alldata.suppsales);
            $("#gnother1").val(alldata.gnother1);
            $("#apdpamt").val(addCommas(alldata.dpfmamt));
            $("#curroid").val(alldata.curroid).trigger('change');
            $("#apitempaytypeoid").val(alldata.supppaymentoid).trigger('change');
            $("#tgltt").val(moment(alldata.checkttdate).format('DD/MM/YYYY'));
            $('#modal-rab').modal('hide');
        });

        $("#tblModalMR").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMR = $("#tblModalMR").DataTable();
        tblModalMR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var supppengakuan = $("#supppengakuan").val();
            var data = tblModalMR.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#mritemno").val(alldata.mritemno);
            $("#mritemmstoid").val(alldata.mritemmstoid);
            if (supppengakuan != "TT") {
                $("#tgltt").val(moment(alldata.mritemdate).format('DD/MM/YYYY'));
            }
            GetDetailData();
            $('#modal-mr').modal('hide');
        });

        var tblModalSales =  $("#tblModalSales").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSales.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSales.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#salesname").val(alldata.salesname);
            $("#salesoid").val(alldata.salesoid);
            $("#deptoid").val(alldata.deptoid).trigger("change");
            $('#modal-sales').modal('hide');
        });

        var tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#poitempaytypeoid").val(alldata.supppaymentoid).trigger('change');
            $("#supppengakuan").val(alldata.supppengakuan);

            if (alldata.supppengakuan == "TT") {
                $("#col_tgljt").text("Tgl. TT")
            }
            else {
                $("#col_tgljt").text("Tgl. Penerimaan")
            }

            $('#modal-supp').modal('hide');
        });

        var tblModalAlamat = $("#tblModalAlamat").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalAlamat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAlamat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#alamat").val(alldata.alamat);
            $("#alamatoid").val(alldata.alamatoid);
            $("#rabprovoid").val(alldata.provoid).trigger('change');
            $("#rabcityoid").val(alldata.cityoid).trigger('change');
            $('#modal-alamat').modal('hide');
        });

        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        //Set Data Pop Up Detail 2
        var tblModalFakturDtl = $("#tblModalFakturDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalFakturDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalFakturDtl.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalFakturDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0,16,17],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            var mrtitemno = table.row($tr).data()[2];
            var data = table.rows().data();
            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (data[j][2] == mrtitemno) {
                    table.row(j).remove().draw();
                }
                else {
                    j++;
                }
            }
            e.preventDefault();
            EnabledHeader();
            CountHdrAmount();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Data Detail
        var table2 = $('#DataDtl2').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table2.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[1];
            table2.row($tr).remove().draw();
            SetDataDtl2($('#uid').val()); FillDetailData2($('#uid').val());
            var data = table2.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table2.row(i).data();
                    temp[1] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table2.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#apitemdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        //var tgl3 = "";
        //if ($('#action').val() == "Edit") {
        //    tgl3 = $("#apitemduedate").val();
        //} else {
        //    tgl3 = $("#createtime").val();
        //}
        //$('#tgldue').val(moment(tgl3).format('DD/MM/YYYY'));
        var tgl4 = "";
        if ($('#action').val() == "Edit") {
            tgl4 = $("#apitemttdate").val();
        } else {
            tgl4 = $("#apitemttdate").val();
        }
        $('#tgltt').val(moment(tgl4).format('DD/MM/YYYY'));
        var tgl5 = "";
        if ($('#action').val() == "Edit") {
            tgl5 = $("#apitemsuppfjdate").val();
        } else {
            tgl5 = $("#createtime").val();
        }
        tglIndo(tgl5, '.datepicker');

        //Set Data Pop Up Header

        $('#btnsearchcust').attr('disabled', 'disabled');
        $('#btnsearchalamat').attr('disabled', 'disabled');
        $('#deptoid').attr('disabled', 'disabled');

        if ($('#action').val() == "Edit") {
            if ($("#supppengakuan").val() == "TT") {
                $("#col_tgljt").text("Tgl. TT")
            }
            else {
                $("#col_tgljt").text("Tgl. Penerimaan")
            }
        }

        FillDetailData($('#uid').val());
        FillDetailData2($('#uid').val());
        fillRate();

        $('#apdpamt').val(addCommas($('#apdpamt').val()));
        $('#apitemtotalamt').val(addCommas($('#apitemtotalamt').val()));
        $('#apitemtotaldiscdtl').val(addCommas($('#apitemtotaldiscdtl').val()));
        $('#apitemmstdiscamt').val(addCommas($('#apitemmstdiscamt').val()));
        $('#apitemtaxamt').val(addCommas($('#apitemtaxamt').val()));
        $('#apitemtotalnetto').val(addCommas($('#apitemtotalnetto').val()));
        $('#apitemgrandtotal').val(addCommas($('#apitemgrandtotal').val()));
    })

    function fillRate() {
        if ($("#curroid").val() == 1)
        {
            $("#apitemrate2toidr").val(1)
        }
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function FillDetailData(uid) {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.apitemdtlseq,
                        val.mritemno,
                        val.jasacode,
                        val.jasadesc,
                        val.refno,
                        addCommas(val.apitemqty),
                        val.apitemunit,
                        addCommas(val.apitemprice),
                        addCommas(val.apitemdtlamt),
                        addCommas(val.apitemdtldiscvalue),
                        addCommas(val.apitemdtldiscamt),
                        addCommas(val.apitemdtltaxvalue),
                        addCommas(val.apitemdtltaxamt),
                        addCommas(val.apitemdtlnetto),
                        '<input type="text" class="form-control" style="max-width: 150px" id="apitemdtlnote-' + val.apitemdtlseq + '" name="apitemdtlnote-' + val.apitemdtlseq + '" value="' + (val.apitemdtlnote == null ? "" : val.apitemdtlnote) + '">',
                        val.mritemmstoid,
                        val.mritemdtloid,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    EnabledHeader();
                }, 100);
            }
        });
    }

    function FillDetailData2(uid) {
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.apitemdtl2seq,
                        val.fabelicode,
                        val.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + val.apitemdtl2seq + '" name="apitemdtl2amt-' + val.apitemdtl2seq + '" value="' + addCommas(val.apitemdtl2amt) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            }
        });
    }

    function GetDetailData() {
        var url = "@(Url.Action("GetDetailData"))";
        var table = $('#DataDtl').DataTable();
        var mritemmstoid = $("#mritemmstoid").val();
        $.ajax({
            url: url,
            data: { mritemmstoid: mritemmstoid },
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 1;
            $.each(data, function (key, val) {
                val.apitemdtlamt = val.apitemqty * val.apitemprice;
                if (val.apitemdtldiscvalue > 0) {
                    val.apitemdtldiscamt = (val.apitemqty * val.apitemprice) * (val.apitemdtldiscvalue / 100);
                } else {
                    val.apitemdtldiscamt = 0;
                }
                if (val.apitemdtltaxvalue > 0) {
                    val.apitemdtltaxamt = (parseFloat(val.apitemdtlamt) - parseFloat(val.apitemdtldiscamt)) * (val.apitemdtltaxvalue / 100);
                } else {
                    val.apitemdtltaxamt = 0;
                }
                val.apitemdtlnetto = parseFloat(val.apitemdtlamt) - parseFloat(val.apitemdtldiscamt) + parseFloat(val.apitemdtltaxamt);

                if (!IsOnDtl(val.mritemdtloid)) {
                    val.apitemdtlseq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.mritemno,
                        val.jasacode,
                        val.jasadesc,
                        val.refno,
                        addCommas(val.apitemqty),
                        val.apitemunit,
                        addCommas(val.apitemprice),
                        addCommas(val.apitemdtlamt),
                        addCommas(val.apitemdtldiscvalue),
                        addCommas(val.apitemdtldiscamt),
                        addCommas(val.apitemdtltaxvalue),
                        addCommas(val.apitemdtltaxamt),
                        addCommas(val.apitemdtlnetto),
                        '<input type="text" class="form-control" style="max-width: 150px" id="apitemdtlnote-' + i + '" name="apitemdtlnote-' + i + '" value="' + (val.apitemdtlnote == null ? "" : val.apitemdtlnote) + '">',
                        val.mritemmstoid,
                        val.mritemdtloid,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                }
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
                ClearDetail();
                CountHdrAmount();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
        SetDataDtl($('#uid').val());
    }

    //Pop Up Data Header
    $("#btnsearchrab").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan pilih Supplier terlebih dahulu!',
                type: 'warning'
            });
            return false;
        } else {
            var table = $('#tblModalRAB').DataTable();
            var suppoid = $('#suppoid').val();
            var supppengakuan = $('#supppengakuan').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetRABData"))",
                data: { suppoid: suppoid, supppengakuan: supppengakuan },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.rabno,
                            moment(val.rabdate).format('DD/MM/YYYY'),
                            val.poitemno,
                            val.reqrabno,
                            val.suppsales,
                            val.projectname
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    });

    $("#btnsearchmr").click(function () {
        if ($("#poitemno").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Silahkan pilih RAB terlebih dahulu!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalMR').DataTable();
            var poitemmstoid = $('#poitemmstoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetMRData"))",
                data: { poitemmstoid: poitemmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.mritemno,
                        moment(jsDate(val.mritemdate)).format('DD/MM/YYYY'),
                        val.poitemno,
                        val.mritemmstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var apitemmstoid = $("#apitemmstoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            data: { apitemmstoid: apitemmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchalamat").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == '') {
            alert('Pilih Customer dulu!');
            return false;
        }
        var table = $('#tblModalAlamat').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAlamatData"))",
            data: { custoid: custoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.lokasi,
                        val.alamat,
                        val.provinsi,
                        val.kota
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //Pop Up Data Detail
    $("#btnmatBeli").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.jasaseq,
                        val.jasacode,
                        val.jasadesc,
                        val.jasaunit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //Pop Up Data Header
    $("#btntambah2").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan pilih Supplier terlebih dahulu!',
                type: 'warning'
            });
            return false;
        } else {
            var table = $('#tblModalFakturDtl').DataTable();
            var suppoid = $('#suppoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetFakturData"))",
                data: { suppoid: suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    val.apitemdtl2seq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.fabelicode,
                        val.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + i + '" name="apitemdtl2amt-' + i + '" value="' + addCommas(val.apitemdtl2amt) + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    });

    function AddToDetail2() {
        var isValid = true;
        var table = $('#tblModalFakturDtl').DataTable();
        var tbldtl = $('#DataDtl2').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl2(alldata.fabelioid)) {
                    var id = tbldtl.rows().data().length + 1;
                    alldata.apitemdtl2amt = removeCommas(table.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
                    alldata.apitemdtl2seq = id;

                    tbldtl.row.add([
                        JSON.stringify(alldata),
                        id,
                        alldata.fabelicode,
                        alldata.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + id + '" name="apitemdtl2amt-' + id + '" value="' + addCommas(alldata.apitemdtl2amt) + '"">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl2($('#uid').val());
    }

    function IsOnDtl2(fabelioid) {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (fabelioid == alldata.fabelioid) {
                return true;
            }
        }
        return false;
    }

    function IsOnDtl(mritemdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (mritemdtloid == alldata.mritemdtloid) {
                return true;
            }
        }
        return false;
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var disctype = $('#apitemmstdisctype option:selected').val();
        var dischdr = removeCommas($('#apitemmstdiscamt').val());
        var amt = 0.0; var taxamt = 0.0; var pphamt = 0.0; var netto = 0.0; var taxdpamt = 0.0;
        var disc = 0.0; var total = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            amt += parseFloat(alldata.apitemdtlamt);
            disc += parseFloat(alldata.apitemdtldiscamt);
            taxamt += parseFloat(alldata.apitemdtltaxamt);
        }
        taxdpamt = removeCommas($('#apdpamt').val());
        if (taxamt > 0) {
            taxamt = parseFloat(taxamt - taxdpamt);
        }
        netto = parseFloat(amt - disc);
        total = parseFloat(netto) + parseFloat(taxamt) + parseFloat(taxdpamt);

        if (disctype == "H") {
            total = parseFloat(total - dischdr);
        } else if (disctype == "P") {
            netto = parseFloat(amt) - parseFloat(disc) - parseFloat(dischdr);
            if (taxamt > 0) {
                taxamt = (parseFloat(netto) * parseFloat($('#deftax').val() / 100)) - parseFloat(taxdpamt);
            }
            total = parseFloat(netto) + parseFloat(taxamt) + parseFloat(taxdpamt);
        }

        $('#apitemtotalamt').val(addCommas(amt));
        $('#apitemtotaldiscdtl').val(addCommas(disc));
        $('#apitemmstdiscamt').val(addCommas(dischdr));
        $('#apitemtotalnetto').val(addCommas(netto));
        $('#apitemtaxamt').val(addCommas(taxamt.toFixed(4)));
        $('#apitemgrandtotal').val(addCommas(Math.round(total)));
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#btnsearchrab").attr("disabled", bVal);
        $("#faoid").attr("disabled", bVal);
    }

    function ClearDetail() {
        $("#mritemno").val("");
        $("#mritemmstoid").val("");
    }

    function hitung(id) {
        var qty = removeCommas($('#apitemqty-' + id + '').val());
        var price = removeCommas($('#apitemprice-' + id + '').val());
        var taxvalue = removeCommas($('#apitemdtltaxvalue-' + id + '').val());
        var dpp = parseFloat(qty * price);
        var taxamt = 0.0;
        if (taxvalue > 0) {
            taxamt = parseFloat(dpp * (taxvalue / 100));
        }
        var netto = dpp + taxamt;
        $('#apitemdtlamt-' + id + '').val(addCommas(dpp));
        $('#apitemdtltaxamt-' + id + '').val(addCommas(taxamt));
        $('#apitemdtlnetto-' + id + '').val(addCommas(netto));
        SumAmtBeli();
    }

    function SumAmtBeli() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var amt = 0.0; var taxamt = 0.0; var pphamt = 0.0; var bruto = 0.0; var netto = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var aritemdtlamt = removeCommas(table.$("#apitemdtlamt-" + alldata.aritemdtlseq).val());
            var aritemdtltaxamt = removeCommas(table.$("#apitemdtltaxamt-" + alldata.aritemdtlseq).val());
            var aritemdtlnetto = removeCommas(table.$("#apitemdtlnetto-" + alldata.aritemdtlseq).val());

            amt += parseFloat(table.$(apitemdtlamt_id).val());
            taxamt += parseFloat(table.$(apitemdtltaxamt_id).val());
            bruto += parseFloat(table.$(apitemdtlnetto_id).val());
        }
        $('#apitemtotalamt').val(addCommas(amt));
        $('#apitemtaxamt').val(addCommas(taxamt));
        $('#apitemtotalnetto').val(addCommas(amt));
        $('#apitemgrandtotal').val(addCommas(netto));
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var apitemdtlnote_id = "#apitemdtlnote-" + alldata.apitemdtlseq;

            var apitemdtlnote = table.$(apitemdtlnote_id).val();
            var obj = {
                apitemdtlseq: i + 1,
                jasaoid: alldata.jasaoid,
                jasacode: alldata.jasacode,
                jasadesc: alldata.jasadesc,
                apitemunit: alldata.apitemunit,
                apitemunitoid: alldata.apitemunitoid,
                apitemqty: alldata.apitemqty,
                apitemprice: alldata.apitemprice,
                apitemdtlamt: alldata.apitemdtlamt,
                apitemdtldiscvalue: alldata.apitemdtldiscvalue,
                apitemdtldiscamt: alldata.apitemdtldiscamt,
                apitemdtltaxvalue: alldata.apitemdtltaxvalue,
                apitemdtltaxamt: alldata.apitemdtltaxamt,
                apitemdtlnetto: alldata.apitemdtlnetto,
                apitemdtlnote: apitemdtlnote,
                mritemmstoid: alldata.mritemmstoid,
                mritemdtloid: alldata.mritemdtloid
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function SetDataDtl2(uid) {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.apitemdtl2amt = removeCommas(table.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
            alldata.apitemdtl2seq = i + 1;

            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails2"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    function SetDataDtlAll(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var apitemdtlnote = table.$("#apitemdtlnote-" + alldata.apitemdtlseq).val();

            var obj = {
                apitemdtlseq: i + 1,
                jasaoid: alldata.jasaoid,
                jasacode: alldata.jasacode,
                jasadesc: alldata.jasadesc,
                apitemunit: alldata.apitemunit,
                apitemunitoid: alldata.apitemunitoid,
                apitemqty: alldata.apitemqty,
                apitemprice: alldata.apitemprice,
                apitemdtlamt: alldata.apitemdtlamt,
                apitemdtldiscvalue: alldata.apitemdtldiscvalue,
                apitemdtldiscamt: alldata.apitemdtldiscamt,
                apitemdtltaxvalue: alldata.apitemdtltaxvalue,
                apitemdtltaxamt: alldata.apitemdtltaxamt,
                apitemdtlnetto: alldata.apitemdtlnetto,
                apitemdtlnote: apitemdtlnote,
                mritemmstoid: alldata.mritemmstoid,
                mritemdtloid: alldata.mritemdtloid
            }
            rows.push(obj);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            alldata.apitemdtl2amt = removeCommas(table2.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
            alldata.apitemdtl2seq = i + 1;

            rows2.push(alldata);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2, uid: uid }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        $('#apdpamt').val(removeCommas($('#apdpamt').val()));
        $('#apitemtotalamt').val(removeCommas($('#apitemtotalamt').val()));
        $('#apitemtotaldiscdtl').val(removeCommas($('#apitemtotaldiscdtl').val()));
        $('#apitemmstdiscamt').val(removeCommas($('#apitemmstdiscamt').val()));
        $('#apitemtaxamt').val(removeCommas($('#apitemtaxamt').val()));
        $('#apitemtotalnetto').val(removeCommas($('#apitemtotalnetto').val()));
        $('#apitemgrandtotal').val(removeCommas($('#apitemgrandtotal').val()));
        SetDataDtlAll($('#uid').val());
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
				$("#apitemmststatus").val('Post');
				$("#btnSave").click();
                }, 100)
            }
        })
    });

    function clickDelete() {
        var oid = $("#apitemmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var uid = $('#uid').val();
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, uid: uid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

     @*function FillDueDate() {
         var markup = "";
         var paytype = $("#gnother1").val();
         var tgldue = $("#tglmst").val();
         var url = "@(Url.Action("InitDueDate"))";
         $.ajax({
            data: { paytype: paytype, tgldue: tgldue},
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#tgldue").val(moment(jsDate(val.duedate)).format('DD/MM/YYYY'));
                    });
                }
            }
        });
    }*@

    function FillDDLFA() {
        var faoid = $("#faoid");
        var faoid_sel = $("#faoid option:selected").val();
        faoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("GetFAData"))",
            cache: false,
            type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.faoid + "\'>" + val.fakturno + "</option>";
                    if (val.faoid == faoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                faoid.html(markup).show();
                if (isExist == true) {
                    faoid.val(faoid_sel);
                }
                faoid.trigger('change');
            } else {
                faoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDDLAlamatSupp() {
        var markup = "";
        var url = "@(Url.Action("InitDDLAlamatSupp"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#markup").val(markup);
                }
            }
        });
    }

</script>
