﻿@model APIS_WB.Models.DB.QL_mstdriver

@{
    ViewBag.Title = "Master Driver";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
} 
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Driver
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <!-- Buka (Html.BeginForm()) /.box-header -->
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.drivoid)
                        @Html.HiddenFor(model => model.drivlicexpdate)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                        <form action="#" method="post" role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Kode</label>
                                            <div class="col-sm-4">
                                                @Html.EditorFor(model => model.drivcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100",@readonly="" } })
                                                @Html.ValidationMessageFor(model => model.drivcode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Nama Driver <b style="color: red;">*</b></label>
                                            <div class="col-sm-6">
                                                @Html.EditorFor(model => model.drivname, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                                @Html.ValidationMessageFor(model => model.drivname, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Alamat</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(model => model.drivaddr, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                                @Html.ValidationMessageFor(model => model.drivaddr, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Kota</label>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(model => model.drivcityoid, null, new { @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.drivcityoid, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">No. HP 1</label>
                                            <div class="col-sm-6">
                                                @Html.EditorFor(model => model.drivphone1, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                                @Html.ValidationMessageFor(model => model.drivphone1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">No. SIM <b style="color: red;">*</b></label>
                                            <div class="col-sm-6">
                                                @Html.EditorFor(model => model.drivcardno, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "100" } })
                                                @Html.ValidationMessageFor(model => model.drivcardno, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">No. HP 2</label>
                                            <div class="col-sm-6">
                                                @Html.EditorFor(model => model.drivphone2, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text",  @maxlength = "100" } })
                                                @Html.ValidationMessageFor(model => model.drivphone2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Tipe SIM</label>
                                            <div class="col-sm-5">
                                             @Html.DropDownListFor(model => model.drivlicno, new List<SelectListItem>
                                                {
                                                new SelectListItem { Text="SIM A", Value="A" },
                                                new SelectListItem { Text="SIM B1", Value="B1" },
                                                new SelectListItem { Text="SIM B1 UMUM", Value="B1U" },
                                                new SelectListItem { Text="SIM B2", Value="B2" },
                                                new SelectListItem { Text="SIM B2 UMUM", Value="B2U" },
                                                new SelectListItem { Text="SIM C", Value="C" }
                                                }, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">No. KTP</label>
                                            <div class="col-sm-6">
                                                @Html.EditorFor(model => model.drivres1, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "100" } })
                                                @Html.ValidationMessageFor(model => model.drivres1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Masa Berlaku SIM</label>
                                            <div class="col-md-5">
                                                <div class="input-group">
                                                    @Html.Editor("tglexp", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.drivlicexpdate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Alamat KTP</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(model => model.drivcardaddr, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                                @Html.ValidationMessageFor(model => model.drivcardaddr, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Kota SIM</label>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(model => model.drivcardcityoid, null, new { @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.drivcardcityoid, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="col-sm-4 control-label">Status</label>
                                            <div class="col-sm-5">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                                {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                                }, new { @class = "form-control select2", @required = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="box-body">
                                <div class="pull-left">
                                    Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    @{
                                        if (ViewBag.action == "Edit")
                                        {
                                            @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                                    }

                                </div>
                                <div class="pull-right">
                                    <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                    @{
                                        if (ViewBag.action == "Edit")
                                        {
                                            <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Delete</b></button>
                                        }
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                    } <!-- Tutup (Html.BeginForm())/.box-body -->
                </div>
            </div>
        </div>
    </section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function clickDelete() {
        var oid = $("#drivoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

    $(document).ready(function () {
        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#drivlicexpdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
    })
</script>