﻿@model IEnumerable<APIS_WB.Controllers.Master.DriverController.listdriver>

@{
    ViewBag.Title = "List Data Master Driver";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Driver
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                        <form action="#" method="post" role="form">
                            <div class="box-body">
                                <div class="container-fluid row">
                                    <a class="btn btn-primary" href="form">
                                        <i class="fa fa-plus"></i> Tambah
                                    </a>
                                    <button class="btn btn-success" style="display:none">Download Excel</button>
                                </div>
                            </div> 
                        </form>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="datatable" class="table table-striped datatable">
                                        <thead>
                                            <tr>
                                                <th>Kode</th>
                                                <th>Nama Driver</th>
                                                <th>Alamat</th>
                                                <th>Tipe SIM</th>
                                                <th>No. HP 1</th>
                                                <th>No. HP 2</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int a = 0;
                                                foreach (var i in Model)
                                                {
                                                    a++;
                                                    <tr>
                                                        <td>
                                                            <a href="Form?id=@Html.DisplayFor(m => i.drivoid)" class="text-primary">@Html.DisplayFor(m => i.drivcode)</a>
                                                        </td>
                                                        <td>@Html.DisplayFor(m => i.drivname)</td>
                                                        <td>@Html.DisplayFor(m => i.drivaddr)</td>
                                                        <td>@Html.DisplayFor(m => i.simtype)</td>
                                                        <td>@Html.DisplayFor(m => i.drivphone1)</td>
                                                        <td>@Html.DisplayFor(m => i.drivphone2)</td>
                                                        <td>@Html.DisplayFor(m => i.activeflag)</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>