﻿@model APIS_WB.Models.DB.QL_trnarassetmst

@{
    ViewBag.Title = "Faktur Fixed Asset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Faktur Fixed Asset</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Faktur Fixed Asset Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.arassetdate)
                        @Html.HiddenFor(model => model.arassetdatetakegiro)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.arassetmstres1)
                        @Html.HiddenFor(model => model.arassetmstres2)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @Html.Hidden("lastseq")
                        @{
                            @Html.EditorFor(model => model.arassetdate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.arassetdate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Draft</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.arassetmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.arassetmstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Faktur</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.arassetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = ""} })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.arassetdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.custoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("soassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.somstoid)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mata Uang</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @readonly = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.arassetpaytypeoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate To IDR</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model=>model.arassetratetoidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rateoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Daily Rate To USD</label>
                                        <div class="col-md-6">
                                           @Html.EditorFor(model => model.arassetratetousd, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate To IDR</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arassetrate2toidr, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.rate2oid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Monthly Rate To USD</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arassetrate2tousd, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>*@  
                            <div class="row">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arassettotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc. Dtl Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arassettotaldiscdtl, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model=>model.arassettotaldisc)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label">No. Faktur Pajak</label>
                                        <div class="col-md-2">
                                            @Html.EditorFor(model => model.arassetfaktur, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @maxlength = "3", @placeholder = "000" } })
                                            @Html.ValidationMessageFor(model => model.arassetfaktur, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.faoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total DPP</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arassettotalnetto, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="display: none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tax</label>
                                        <div class="col-md-3">
                                            @Html.DropDownList("taxtype", new List<SelectListItem>
                                            {
                                                    new SelectListItem { Text="TAX", Value="TAX" },
                                                    new SelectListItem { Text="NON TAX", Value="NON TAX" }
                                            }, new { @class = "form-control", @required = "" })
                                        </div>
                                        @Html.HiddenFor(model => model.arassettaxtype)
                                        <div class="col-md-5">
                                            @Html.EditorFor(model=>model.arassettaxvalue, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total PPN</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model=>model.arassettaxamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total DPP + PPN</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.arassetgrandtotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display: none">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Invoice No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.arassetmstres3, new { htmlAttributes = new { @class = "form-control", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date Take Giro</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglgiro", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.arassetdatetakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.arassetmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.arassetmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.arassetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.arassetmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                                 
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Faktur Fixed Asset Detail</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Surat Jalan</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("shipmentassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchshp" class="btn btn-flat" data-toggle="modal" data-target="#modal-shp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.Hidden("shipmentassetmstoid")
                                        @Html.Hidden("shipmentassetetd")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th>No. Surat Jalan</th>
                                        <th>Kode</th>
                                        <th>Deskripsi</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th>Price</th>
                                        <th>Netto</th>
                                        <th>Detail Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                <h6><b>VAR_AR | VAR_JUAL | VAR_PPN_OUT | VAR_HPP_JUAL | VAR_STOCK_TRANSIT</b></h6>
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                        @{
                            if (@Model.arassetmststatus == "In Process" | @Model.arassetmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }
                        }
                    </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM SHIPMENT *@
    <div class="modal fade" id="modal-shp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Shipment Fixed Asset</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Surat Jalan</th>
                                    <th>Tgl. Surat Jalan</th>
                                    <th>SO No.</th>
                                    <th>Cust PO No.</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SHIPMENT *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of SO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>SO Date</th>
                                    <th>SO Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var id = table.row($tr).data()[1];
            var shipmentno = table.row($tr).data()[2];
            var data = table.rows().data();

            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (table.row(j).data()[2] == shipmentno) {
                    table.row(j).remove().draw();
                }
                else {
                    j++;
                }
            }

            SetDataDtl();
            FillDetailData();

            var data = table.rows().data();
            $('#lastseq').val(data.length);

            if (data.length == 0)
                $('#lastseq').val(0);

            e.preventDefault();
            ClearDetail();
            EnabledHeader();
            CountHdrAmount();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalShp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCust = $("#tblModalCust").DataTable();
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $("#arassetpaytypeoid").val(alldata.custpaymentoid).trigger("change");
            $("#taxtype").prop('selectedIndex', 0);
            $("#arassettaxvalue").val("10");
            //if (alldata.custtaxable == 1) {
            //    $("#taxtype").prop('selectedIndex', 0);
            //    $("#arassettaxvalue").val("10");
            //} else {
            //    $("#taxtype").prop('selectedIndex', 1);
            //    $("#arassettaxvalue").val("0");
            //}
            $('#modal-cust').modal('hide');
        });


        $("#tblModalSO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSO = $("#tblModalSO").DataTable();
        tblModalSO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#soassetno").val(alldata.soassetno);
            $("#somstoid").val(alldata.soassetmstoid);
            $('#modal-so').modal('hide');
        });


        var tblModalShp = $("#tblModalShp").DataTable();
        tblModalShp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalShp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#shipmentassetno").val(alldata.shipmentassetno);
            $("#shipmentassetmstoid").val(alldata.shipmentassetmstoid);
            $("#shipmentassetetd").val(alldata.shipmentassetetd);
            AddToDetail();
            $('#modal-shp').modal('hide');
        });

        //$("#cmpcode").change(function () {
        //    InitDDLAppUser();
        //    ClearCust();
        //});

        SetRateValue();
        $("#curroid").change(function () {
            SetRateValue();
        })
        $("#arassetdate").change(function () {
            SetRateValue();
        })

        $("#arassetpaytypeoid").attr("readonly", true);

        var datetakegiro = new Date($('#arassetdate').val());
        var sNum = parseInt($("#arassetpaytypeoid").find('option:selected').text(), 10);
        if (isNaN(sNum)) {
            sNum = 0;
        }
        datetakegiro.setDate(datetakegiro.getDate() + sNum);
        var date = ((datetakegiro.getMonth() + 1) < 10 ? '0' : '') + (datetakegiro.getMonth() + 1) + '/' + (datetakegiro.getDate() < 10 ? '0' : '') + datetakegiro.getDate() + '/' + datetakegiro.getFullYear();
        $("#arassetdatetakegiro").val(date);

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#arassetdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#arassetdatetakegiro").val();
        } else {
            tgl3 = $("#createtime").val();
        }
        tglIndo(tgl3, '.datepicker');

        //InitDDLAppUser();
        FillDDLFA();
        FillDetailData();

        $("#arassettotalamt").val(addCommas($("#arassettotalamt").val()));
        $("#arassettotalnetto").val(addCommas($("#arassettotalnetto").val()));
        $("#arassettaxamt").val(addCommas($("#arassettaxamt").val()));
        $("#arassetgrandtotal").val(addCommas($("#arassetgrandtotal").val()));
    })

    function SetRateValue() {
        var curroid = $("#curroid").val();
        var sDate = $("#arassetdate").val();
        $.ajax({
            url: "@(Url.Action("GetRateValue"))",
            data: { curroid: curroid, sDate: sDate },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data, function (key, val) {
                        $("#rateoid").val(val.rateoid);
                        $("#arassetratetoidr").val(val.rateidrvalue);
                        $("#arassetratetousd").val(val.rateusdvalue);
                        $("#rate2oid").val(val.rate2oid);
                        $("#arassetrate2toidr").val(val.rate2idrvalue);
                        $("#arassetrate2tousd").val(val.rate2usdvalue);
                    });
                } else {
                    if (data.msg != "") {
                        Swal('Warning!', data.msg, 'warning')
                    }
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        var lastseq = 0;
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                ++lastseq;
                rows.push([
                    JSON.stringify(val),
                    val.arassetdtlseq,
                    val.shipmentassetno,
                    val.matrefcode,
                    val.matreflongdesc,
                    val.arassetqty,
                    val.arassetunit,
                    addCommas(val.arassetprice),
                    @*val.arassetdtlamt,
                    val.arassetdtldiscamt,*@
                    addCommas(val.arassetdtlnetto),
                    '<input type="text" class="form-control" style="max-width: 150px" id="arassetdtlnote-' + val.arassetdtlseq + '" name="arassetdtlnote-' + val.arassetdtlseq + '" value="' + (val.arassetdtlnote == null ? "" : val.arassetdtlnote) + '">',
                '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $('#lastseq').val(lastseq);
                EnabledHeader();
                CountHdrAmount();
            }, 100);
        });
    }

    function FillDDLFA() {
        var faoid = $("#faoid");
        var action = $('#action').val();
        var faoid_sel = $("#faoid option:selected").val();
        faoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("GetFAData"))",
            data: { action : action},
        cache: false,
        type: "POST",
        success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.faoid + "\'>" + val.fakturno + "</option>";
                    if (val.faoid == faoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                faoid.html(markup).show();
                if (isExist == true) {
                    faoid.val(faoid_sel);
                }
                faoid.trigger('change');
            } else {
                faoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

       @*function InitDDLAppUser() {
        var cmp = $("#cmpcode option:selected").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }*@

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#arassetdate").datepicker("option", "dateFormat", "dd-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#arassetdate').replaceWith($('#arassetdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
        $("#btnsearchso").attr("disabled", bVal);
        $("#curroid").attr("readonly", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearCust() {
        $("#custname").val("");
        $("#custoid").val("");
        $("#arassetpaytypeoid").val($("#arassetpaytypeoid option:first").val());
        $("#arassetpaytypeoid").val("");
    }

    function ClearDetail() {
        $("#shipmentassetno").val("");
        $("#shipmentassetmstoid").val("");
        $("#shipmentassetetd").val("");
    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dTotalAmt = 0;
        var dTotalDiscDtl = 0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt += alldata.arassetdtlamt;
            dTotalDiscDtl += alldata.arassetdtldiscamt;
        }
        var dDiv = 1;

        $("#arassettotalamt").val(parseFloat(dTotalAmt / dDiv));
        $("#arassettotaldiscdtl").val(parseFloat(dTotalDiscDtl / dDiv));
        $("#arassettotaldisc").val(parseFloat(dTotalDiscDtl / dDiv));
        $("#arassettotalnetto").val(parseFloat($("#arassettotalamt").val()) - parseFloat($("#arassettotaldiscdtl").val()));
        $("#arassettaxamt").val(parseFloat($("#arassettotalnetto").val()) * parseFloat($("#arassettaxvalue").val()) / 100);
        $("#arassetgrandtotal").val(parseFloat($("#arassettotalnetto").val()) + parseFloat($("#arassettaxamt").val()));

        $("#arassettotalamt").val(addCommas($("#arassettotalamt").val()));
        $("#arassettotalnetto").val(addCommas($("#arassettotalnetto").val()));
        $("#arassettaxamt").val(addCommas($("#arassettaxamt").val()));
        $("#arassetgrandtotal").val(addCommas($("#arassetgrandtotal").val()));
    }

    $("#btnsearchshp").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Please select CUSTOMER field!',
                type:'warning'
            });
            return false;
        } else if ($("#soassetno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select SO field!',
                type: 'warning'
            });
            return false;
        } else {
            var table = $('#tblModalShp').DataTable();
            var custoid = $('#custoid').val();
            var somstoid = $('#somstoid').val();
            var cmp = $("#cmpcode").val();
            var curroid = $("#curroid option:selected").val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetShipmentData"))",
                data: { cmp: cmp, custoid: custoid, curroid: curroid, somstoid: somstoid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.shipmentassetno,
                            moment(jsDate(val.shipmentassetetd)).format('DD/MM/YYYY'),
                            val.soassetno,
                            val.soassetcustpono,
                            val.shipmentassetmstnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        }
    });

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    $("#btnsearchso").click(function () {
        if ($("#custname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Please select CUSTOMER field!',
                type: 'warning'
            });
            return false;
        }
        var table = $('#tblModalSO').DataTable();
        var cmp = $("#cmpcode").val();
        var custoid = $('#custoid').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { cmp: cmp, custoid: custoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.soassetno,
                    moment(jsDate(val.soassetdate)).format('DD/MM/YYYY'),
                    val.soassetmstnote
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var custoid = $("#custoid").val();
        var shipmentassetmstoid = $("#shipmentassetmstoid").val();
        var i = parseInt($('#lastseq').val());
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { cmp: cmp, custoid: custoid, shipmentassetmstoid: shipmentassetmstoid},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    val.arassetdtlamt = val.arassetqty * val.arassetprice;                    
                    val.arassetdtlnetto = val.arassetdtlamt;
                    if (!IsOnDtl(val.shipmentassetdtloid)) {
                        val.arassetdtlseq = i + 1;
                        rows.push([
                            JSON.stringify(val),
                            ++i,
                            val.shipmentassetno,
                            val.matrefcode,
                            val.matreflongdesc,
                            val.arassetqty,
                            val.arassetunit,
                            addCommas(val.arassetprice),
                            //val.arassetdtlamt,
                            addCommas(val.arassetdtlnetto),
                            '<input type="text" class="form-control" style="max-width: 150px" id="arassetdtlnote-' + i + '" name="arassetdtlnote-' + i + '" value="' + (val.arassetdtlnote == null ? "" : val.arassetdtlnote) + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    $('#lastseq').val(i);
                    EnabledHeader();
                    ClearDetail();
                    CountHdrAmount();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }

    function IsOnDtl(shipmentassetdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (shipmentassetdtloid == alldata.shipmentassetdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var arassetdtlnote_id = "#arassetdtlnote-" + alldata.arassetdtlseq;
            var arassetdtlnote = table.$(arassetdtlnote_id).val();
            var obj = {
                arassetdtlseq: i + 1,
                shipmentassetno: alldata.shipmentassetno,
                shipmentassetetd: alldata.shipmentassetetd,
                shipmentassetdtloid: alldata.shipmentassetdtloid,
                shipmentassetmstoid: alldata.shipmentassetmstoid,
                matrefoid: alldata.matrefoid,
                matrefcode: alldata.matrefcode,
                matreflongdesc: alldata.matreflongdesc,
                arassetunit: alldata.arassetunit,
                matrefnote: alldata.matrefnote,
                arassetqty: alldata.arassetqty,
                arassetunitoid: alldata.arassetunitoid,
                arassetprice: alldata.arassetprice,
                arassetdtlamt: alldata.arassetdtlamt,
                arassetdtldisctype: alldata.arassetdtldisctype,
                arassetdtldiscvalue: alldata.arassetdtldiscvalue,
                arassetdtldiscamt: alldata.arassetdtldiscamt,
                arassetdtlnetto: alldata.arassetdtlnetto,
                arassetdtlnote: arassetdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $("#arassettotalamt").val(removeCommas($("#arassettotalamt").val()));
        $("#arassettotalnetto").val(removeCommas($("#arassettotalnetto").val()));
        $("#arassettaxamt").val(removeCommas($("#arassettaxamt").val()));
        $("#arassetgrandtotal").val(removeCommas($("#arassetgrandtotal").val()));
        SetDataDtl();
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#arassetmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#arassetmststatus").val("Post");
                    $("#closing").val("true");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>