﻿@model IEnumerable<APIS_WB.Controllers.Transaction.FJAController.arassetmst>

@{
    ViewBag.Title = "Faktur Fixed Asset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List Faktur Fixed Asset</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5>@ViewBag.DDTitle  <span class="caret"></span></h5></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-align: left;"><a href="Index"><h5>Semua Data In Process</h5></a></li>
                                        <li style="text-align: left;"><a href="#" role="button" data-toggle="modal" data-target="#modal-custom-filter"><h5>Custom Filter</h5></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Draft No.</th>
                                        <th>No. Faktur</th>
                                        <th>Tgl. Faktur</th>
                                        <th>Customer</th>
                                        <th>Status</th>
                                        <th>Note</th>
                                        <th>Grand Total Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.arassetmstoid)" class="text-primary">@Html.DisplayFor(m => i.arassetmstoid)</a></td>
                                                <td>@Html.DisplayFor(m => i.arassetno)</td>
                                                <td>@i.arassetdate.Value.ToString("dd/MM/yyyy")</td>
                                                <td>@Html.DisplayFor(m => i.custname)</td>
                                                <td class="text-center">@Html.DisplayFor(m => i.arassetmststatus)</td>
                                                <td>@Html.DisplayFor(m => i.arassetmstnote)</td>
                                                <td class="text-right">@Html.DisplayFor(m => i.arassetgrandtotal)</td>
                                                <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.arassetmstoid))"><i class="fa fa-print"></i></button></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                <form action="Index" method="post" class="form-horizontal">
                    <div class="modal-body">
                        @Html.Hidden("filter", "CF")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Dari</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sampai</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("filterstatus", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="ALL", Value="ALL" },
                                                new SelectListItem { Text="In Process", Value="In Process" },
                                                new SelectListItem { Text="In Approval", Value="In Approval" },
                                                new SelectListItem { Text="Post", Value="Post" },
                                                new SelectListItem { Text="Approved", Value="Approved" },
                                                new SelectListItem { Text="Rejected", Value="Rejected" },
                                                new SelectListItem { Text="Revised", Value="Revised" },
                                                new SelectListItem { Text="Cancel", Value="Cancel" },
                                                new SelectListItem { Text="Closed", Value="Closed" }
                                            }, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            //"columnDefs": [
            //    {
            //        "targets": [1],
            //        "visible": isvisible,
            //        "searchable": isvisible
            //    }
            //]
        });
    });
    
    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };
</script>