﻿@model APIS_WB.Models.DB.QL_m01US

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login | APIS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/logo-ap.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <!--<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100 bglogin">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-80">
                @using (Html.BeginForm("LogIn", "Account",
            FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    //<form class="login100-form validate-form">
                    <span class="login100-form-title p-b-37">
                        <img src="~/Content/login/images/image-logo.png" width="150px"/>
                        <div class="title-mis"><strong>Integrated System</strong></div>
                    </span>
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <label class="label-input">Username</label>
                    <div class="wrap-input100 validate-input" data-validate = "Username is required">
                        <input class="input100" type="text" name="usoid" id="usoid" required="" >
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.usoid, "", new { @class = "text-danger" })
                    <label class="label-input">Password</label>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="uspassword" id="uspassword" required="" >
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.uspassword, "", new { @class = "text-danger" })
                    <label class="label-input"></label>
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        @*<span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="#">
                            Password?
                        </a>*@
                    </div>
                    //</form>
                }
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <!--<script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>-->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/select2/select2.min.js"></script>*@
    <!--===============================================================================================-->
    <!--<script src="~/Content/login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
    </script>
    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#usoid").focus();
        })
    </script>
</body>

</html>
