﻿@{
    ViewBag.Title = "UMUR PIUTANG USAHA - PENJUALAN NON WAPU";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan Umur Piutang</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "CRARReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            @Html.Hidden("StartDate")
                            @Html.Hidden("EndDate")

                            <div class="row">
                                
                                <div class="col-md-6" id="dimsum" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">COA</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLCOA", null, "None", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div> 
                                                             
                            </div>

                            <div class="row">
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Period</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" id="divforsum">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Period</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLMonth", null, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLYear", null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div> 
                                    
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextCustomer", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-12" id="divforcheck" style="display: none;">
                                            @Html.CheckBox("cbHide", new { @checked = "" }) Hide Customer with 0 DP A/R amount
                                        </div>
                                    </div>
                                </div> 

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLFakturJual", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "No. Faktur Jual", Value = "FJ No." },
                                                new SelectListItem { Text = "Draft No.", Value = "Draft No." }
                                            }, new { @class = "form-control select2" })
                                        </div>

                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomorFJ", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchFJ" class="btn btn-link" data-toggle="modal" data-target="#modal-FJ">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status Lunas</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLTypeBayar", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "None", Value = "None" },
                                            new SelectListItem { Text = "Lunas", Value = "Lunas" },
                                            new SelectListItem { Text = "Belum Lunas", Value = "Belum" }
                                        }, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                              
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>    

    
    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                    @Html.Hidden("total-cust")
                </div>

                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK FJ *@
    <div class="modal fade" id="modal-FJ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Faktur Pajak</h4>
                    @Html.Hidden("total-FJ")
                </div>

                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFJ" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterFJ()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FJ *@
 
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        $('#divfordtl').show();
        $('#dimsum').hide();
        $('#divforsum').hide();
        $('#divforcheck').hide()
    });

    function ChangeType() {
        var DDLType = $('#DDLType').val();
        //var markupcurr = "<option value =\'IDR\'>Indonesian Rupiah</option><option value =\'USD\'>US Dollar</option>";
        if (DDLType == "Summary") {
            $('#divforsum').hide();
            $('#divfordtl').show();
            //$('#divfordtl1').hide();
        } else {
            $('#divforsum').hide();
            $('#divfordtl').show();
            //$('#divfordtl1').hide();
            //markupcurr += "<option value =\'TransactionRate\'>Transaction Rate</option>"
        }
        //$('#DDLCurrency').html(markupcurr).show();
    }

    $('#btnsearchcust').click(function () {
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLMonth = $('#DDLMonth').val();
        var DDLYear = $('#DDLYear').val();
        var DDLType = $('#DDLType').val();

        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { StartDate: StartDate, EndDate: EndDate, DDLType: DDLType, DDLMonth: DDLMonth, DDLYear: DDLYear },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $('#tblModalCust').DataTable();
                table.destroy();
                $('#tblModalCust').empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-cust').val(total);
                if (total > 0) {
                    table = $('#tblModalCust').DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRows": false
                                }
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-cust').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-cust').modal('hide');
        }
    });
    })

    function AddToFilterCust() {
        var ind = 1;

        if (parseInt($('#total-cust').val()) > 0) {
            var result = $("#TextCustomer").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalCust').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCustomer").val(result);
        }
    }

    $("#btnsearchFJ").click(function () {
       // var TextPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var TextCustomer = $("#TextNomor").val();

        $.ajax({
            url: "@(Url.Action("GetFJData"))",
            data: { StartDate: StartDate, EndDate: EndDate, TextCustomer: TextCustomer },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalFJ").DataTable();
                table.destroy();
                $("#tblModalFJ").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-FJ').val(total);
                if (total > 0) {
                    table = $("#tblModalFJ").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            },
                            {
                                "targets": 1,
                                "visible": false
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-FJ').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-FJ').modal('hide');
        }
    });
    });

    function AddToFilterFJ() {
        var ind = 2;
        if ($("#DDLFakturJual option:selected").val() == "Draft No.")
            ind = 1;
        if (parseInt($('#total-FJ').val()) > 0) {
            var result = $("#TextNomorFJ").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalFJ').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomorFJ").val(result);
        }
    }

      $('#btnViewReport').click(function () {
        //var DDLMonth_Text = $('#DDLMonth option:selected').text();
        //var DDLYear_Text = $('#DDLYear option:selected').text();
        var StartDate = $('#TextPeriod').data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndDate = $('#TextPeriod').data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLMonth = $('#DDLMonth').val();
        var DDLYear = $('#DDLYear').val();
        var ReportType = "";
        var DDLType = $('#DDLType').val();
        var TextCustomer = $('#TextCustomer').val();
        var DDLCOA = $('#DDLCOA').val();
        var cbHide = true;
        var DDLTypeBayar = $('#DDLTypeBayar').val();
        //if ($('#cbHide').checked)
        //    cbHide = true;

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { StartDate: StartDate, EndDate: EndDate, TextCustomer: TextCustomer, DDLType: DDLType, ReportType: ReportType, cbHide: cbHide, DDLCOA: DDLCOA, DDLMonth: DDLMonth, DDLYear: DDLYear, DDLTypeBayar: DDLTypeBayar },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#ReportFrame').attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartDate").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndDate").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartDate").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndDate").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>