﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Dashboard
    </h1>
</section>

<section class="content">
    <div class="row" id="dashkotak">
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h4 id="saldoPiutang"></h4>
                    <p>Saldo Piutang</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-usd"></i>
                </div>
                <a href="#" class="small-box-footer" onclick="ShowPopupDashboard('piutang_dash');">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h4 id="saldoHutang"></h4>
                    <p>Saldo Hutang</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-usd"></i>
                </div>
                <a href="#" class="small-box-footer" onclick="ShowPopupDashboard('hutang_dash');">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h4 id="saldoHutangLain"></h4>
                    <p>Saldo Hutang Lain</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-usd"></i>
                </div>
                <a href="#" class="small-box-footer" onclick="ShowPopupDashboard('hutang_lain_dash');">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h4 id="saldoKas"></h4>
                    <p>Saldo Kas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-usd"></i>
                </div>
                <a href="#" class="small-box-footer" onclick="ShowPopupDashboard('kas_dash');">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h4 id="saldoBank"></h4>
                    <p>Saldo Bank</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-usd"></i>
                </div>
                <a href="#" class="small-box-footer" onclick="ShowPopupDashboard('bank_dash');">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h4 id="saldoStock"></h4>
                    <p>Saldo Stock</p>
                </div>
                <div class="icon">
                    <i class="ion ion-social-dropbox"></i>
                </div>
                <a href="#" class="small-box-footer" onclick="ShowPopupDashboard('stock_dash');">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row" id="dashtable">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Data RAB Status Pengerjaan</h3> 
                    <button type="button" class="btn btn-success" id="btnExportXls"><b>Export Excel</b></button>
                    <div class="box-tools pull-right">
                        <button id="btnRefreshDbRABStatus" type="button" class="btn btn-box-tool"><i class="fa fa-refresh"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="DataDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr role="row">
                                    <th>alldata</th>
                                    <th>No.</th>
                                    <th>No. RAB</th>
                                    <th>Tgl RAB</th>
                                    <th>Project</th>
                                    <th>Customer</th>
                                    <th>Sales Admin</th>
                                    <th>Sales</th>
                                    @*<th>SO Qty</th>
                                    <th>SJ Qty</th>
                                    <th>FJ Qty</th>
                                    <th>PO Qty (PO+BOOKING+FPB)</th>
                                    <th>PB Qty</th>
                                    <th>FB Qty</th>
                                    <th>Status</th>
                                    <th>Piutang</th>
                                    <th>Hutang</th>*@
                                    <th>Amount</th>
                                    <th>Last Position</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>
    <div class="row" id="dashbarang">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Data Barang Belum Masuk Master Barang</h3>
                    <div class="box-tools pull-right">
                        <button id="btnRefreshDbBarang" type="button" class="btn btn-box-tool"><i class="fa fa-refresh"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="DataDtlBarang" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr role="row">
                                    <th>alldata</th>
                                    <th>No RAB</th>
                                    <th>Tgl RAB</th>
                                    <th>Customer</th>
                                    <th>Tipe RAB</th>
                                    <th>Nama Project</th>
                                    <th>Barang</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>
    <div class="row" id="dashbarang">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Data Jasa Belum Masuk Master Jasa</h3>
                    <div class="box-tools pull-right">
                        <button id="btnRefreshDbJasa" type="button" class="btn btn-box-tool"><i class="fa fa-refresh"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="DataDtlJasa" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr role="row">
                                    <th>alldata</th>
                                    <th>No RAB</th>
                                    <th>Tgl RAB</th>
                                    <th>Customer</th>
                                    <th>Tipe RAB</th>
                                    <th>Nama Project</th>
                                    <th>Barang</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer text-center bg-"></div>
            </div>
        </div>
    </div>
    <div class="row" id="dashchart">
        <div id="DbShipment" class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Total Omset</h3>
                    <div class="box-tools pull-right">
                        <button id="btnRefreshDbShipment" type="button" class="btn btn-box-tool"><i class="fa fa-refresh"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart">
                                <canvas id="ChartShipment" style="height:300px"></canvas>
                            </div>
                        </div>
                        @*<div class="col-md-2">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fa fa-circle text-green"></i> HPS</li>
                                    <li><i class="fa fa-circle text-light-blue"></i> PO</li>
                                </ul>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal Dasboard -->
    <div class="modal fade" id="modal-dash">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="title_dash"></h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDash" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    <!-- end modal Dasboard -->
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Chart.min.js"></script>

<script type="text/javascript">
    var chartOptions = {
        scaleLabel: "<%= addCommas(value)%>",
        scaleBeginAtZero: true,//Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
        scaleShowGridLines: true,//Boolean - Whether grid lines are shown across the chart
        scaleGridLineColor: 'rgba(0,0,0,.05)',//String - Colour of the grid lines
        scaleGridLineWidth: 1,//Number - Width of the grid lines
        scaleShowHorizontalLines: true,//Boolean - Whether to show horizontal lines (except X axis)
        scaleShowVerticalLines: true,//Boolean - Whether to show vertical lines (except Y axis)
        barShowStroke: true,//Boolean - If there is a stroke on each bar
        barStrokeWidth: 2,//Number - Pixel width of the bar stroke
        barValueSpacing: 5,//Number - Spacing between each of the X value sets
        barDatasetSpacing: 1,//Number - Spacing between data sets within X values
        legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',//String - A legend template
        //formatNumber
        tooltipTemplate: "<%= addCommas(value.toFixed(2))%>",
        //Boolean - whether to make the chart responsive
        responsive: true,
        maintainAspectRatio: true,
        datasetFill: false
    };

    var pieOptions = {
        segmentShowStroke: true,// Boolean - Whether we should show a stroke on each segment
        segmentStrokeColor: '#fff',// String - The colour of each segment stroke
        segmentStrokeWidth: 1,// Number - The width of each segment stroke
        percentageInnerCutout: 0, // This is 0 for Pie charts// Number - The percentage of the chart that we cut out of the middle
        animationSteps: 100,// Number - Amount of animation steps
        //animationEasing: 'easeOutBounce',// String - Animation easing effect
        animateRotate: false,// Boolean - Whether we animate the rotation of the Doughnut
        animateScale: true,// Boolean - Whether we animate scaling the Doughnut from the centre
        responsive: true,// Boolean - whether to make the chart responsive to window resizing
        maintainAspectRatio: false,// Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
        legendTemplate: '<ul class=\'<%=name.toLowerCase()%>-legend\'><% for (var i=0; i<segments.length; i++){%><li><span style=\'background-color:<%=segments[i].fillColor%>\'></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>',// String - A legend template
        tooltipTemplate: '<%=value %> <%=label%>'// String - A tooltip template
    };

    function ShowDashboardShipment() {
        $("#DbShipment").show();
        var ShipmentCanvas = $('#ChartShipment').get(0).getContext('2d');
        var ShipmentChart = new Chart(ShipmentCanvas);
        var ShipmentChartData = {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [
                {
                    label: 'HPS',
                    fillColor: '#00a65a',
                    strokeColor: '#00a65a',
                    pointColor: '#00a65a',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [65, 59, 80, 81, 56, 55, 40]
                }]
        };
        ShipmentChartData.labels.splice(0, ShipmentChartData.labels.length);
        ShipmentChartData.datasets[0].data.splice(0, ShipmentChartData.datasets[0].data.length);
        $("#btnRefreshDbShipment i").removeClass("fa-search");
        $("#btnRefreshDbShipment i").addClass("fa-spinner fa-spin");
        $.getJSON("@(Url.Action("GetDataDashboardShipment"))", function (data) {
            var i = 0;
            $.each(data, function (key, val) {
                ShipmentChartData.labels.splice(i, 1, val.divname);
                ShipmentChartData.datasets[0].data.splice(i, 1, val.totalshipment);
                i++;
            });
            ShipmentChart.Line(ShipmentChartData, chartOptions);
            setTimeout(function () {
                $("#btnRefreshDbShipment i").removeClass("fa-spinner fa-spin");
                $("#btnRefreshDbShipment i").addClass("fa-search");
            }, 100);
        });
    }

    function GetDataList() {
        var url = "@(Url.Action("GetRABQtyStatusData"))";
        var table = $('#DataDtl').DataTable();
        var table2 = $('#DataDtlBarang').DataTable();
        var table3 = $('#DataDtlJasa').DataTable();
        table.clear().draw(); table2.clear().draw(); table3.clear().draw();
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                var rows2 = []; var rows3 = [];
                $.each(data.tbl, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.rabno,
                        val.rabdate,
                        val.projectname,
                        val.custname,
                        val.salesadmin,
                        val.sales,
                        //'<span class="badge bg-' + (val.rabsoqty <= val.soqty ? "green" : "red") + '"><b>' + addCommas(val.rabsoqty) + '</b> of <b>' + addCommas(val.soqty) + '</b></span>',
                        //'<span class="badge bg-' + (val.soqty <= val.sjqty ? "green" : "red") + '"><b>' + addCommas(val.soqty) + '</b> of <b>' + addCommas(val.sjqty) + '</b></span>',
                        //'<span class="badge bg-' + (val.sjqty <= val.soqty ? "green" : "red") + '"><b>' + addCommas(val.sjqty) + '</b> of <b>' + addCommas(val.siqty) + '</b></span>',
                        //'<span class="badge bg-' + (val.rabpoqty <= (parseFloat(val.poqty) + parseFloat(val.bookingstock) + parseFloat(val.fpb)) ? "green" : "red") + '"><b>' + addCommas(val.rabpoqty) + '</b> of <b>' + addCommas(val.poqty) + ' + ' + addCommas(val.bookingstock) + ' + ' + addCommas(val.fpb) + '</b></span>',
                        //'<span class="badge bg-' + (val.poqty <= val.mrqty ? "green" : "red") + '"><b>' + addCommas(val.poqty) + '</b> of <b>' + addCommas(val.mrqty) + '</b></span>',
                        //'<span class="badge bg-' + (val.mrqty <= val.piqty ? "green" : "red") + '"><b>' + addCommas(val.mrqty) + '</b> of <b>' + addCommas(val.piqty) + '</b>',
                        //'<span class="badge bg-' + (val.flag == "Done" ? "green" : "red") + '">' + val.flag + '</span>',
                        //'<span class="badge bg-' + (val.flagar == "Lunas" ? "green" : "red") + '">' + val.flagar + '</span>',
                        //'<span class="badge bg-' + (val.flagap == "Lunas" ? "green" : "red") + '">' + val.flagap + '</span>'
                        addCommas(val.amt),
                        val.lastuser,
                        '<a class="text-primary btn-lg" onclick="ShowPopupDashboard2(' + val.rabmstoid + ')"><i class="fa fa-info-circle"></i></a>'
                    ]);
                });

                $.each(data.tbl2, function (key, val) {
                    rows2.push([
                        JSON.stringify(val),
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.custname,
                        val.rabtype,
                        val.projectname,
                        val.itemdesc
                    ]);
                });

                $.each(data.tbl3, function (key, val) {
                    rows3.push([
                        JSON.stringify(val),
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.custname,
                        val.rabtype,
                        val.projectname,
                        val.itemdesc
                    ]);
                });

                setTimeout(function () {
                    table.rows.add(rows).draw();
                    table2.rows.add(rows2).draw();
                    table3.rows.add(rows3).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    @*function GetChangeStatus(seq, rabmstoid) {
        var sts = $('#rabstatus-'+ seq +' option:selected').val();
        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row(seq - 1).data();
        var alldata = JSON.parse(datadtl[0]);
        $.ajax({
            url: "@(Url.Action("GetRABDataStatus"))",
            data: { sts: sts, rabmstoid: rabmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    datadtl[7] = '<select class = "form-control" id ="rabstatus-' + seq + '" onchange="GetChangeStatus(' + seq + ',' + val.rabmstoid + ')"><option value="RAB">RAB</option><option value="SO">Sales Order</option><option value="PO">Purchase Order</option><option value="PB">Penerimaan Barang</option><option value="FB">Faktur Beli</option><option value="SJ">Surat Jalan</option><option value="FJ">Faktur Jual</option></select> ';
                    datadtl[8] = addCommas(val.qty);
                    datadtl[9] = addCommas(val.bruto);
                    datadtl[10] = addCommas(val.totaltax);
                    datadtl[11] = addCommas(val.netto);

                    tbldtl.row(seq - 1).data(datadtl).invalidate();
                    $('#rabstatus-' + seq).val(sts);
                });
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }*@

    function ShowPopupDashboard(tipe) {
        $.ajax({
            url: "@(Url.Action("GetDataDashBox"))",
            data: { tipe: tipe },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    $('#modal-dash').modal('show');
                    $("#title_dash").text(data.title_dash);
                    var table = $('#tblModalDash').DataTable();
                    table.destroy();
                    $('#tblModalDash').empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    if (total > 0) {
                        table = $('#tblModalDash').DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            }],
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-dash').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-dash').modal('hide');
            }
        });
    }

    function ShowPopupDashboard2(tipe) {
        $.ajax({
            url: "@(Url.Action("GetDataDetailRAB"))",
            data: { tipe: tipe },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    $('#modal-dash').modal('show');
                    $("#title_dash").text(data.title_dash);
                    var table = $('#tblModalDash').DataTable();
                    table.destroy();
                    $('#tblModalDash').empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    if (total > 0) {
                        table = $('#tblModalDash').DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            }],
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-dash').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-dash').modal('hide');
            }
        });
    }

    function GetSaldo() {
        var url = "@(Url.Action("GetSaldoData"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                setTimeout(function () {
                    $("#saldoPiutang").text("Rp. " + addCommas(parseFloat(data.piutang).toFixed(0)));
                    $("#saldoHutang").text("Rp. " + addCommas(parseFloat(data.hutang).toFixed(0)));
                    $("#saldoHutangLain").text("Rp. " + addCommas(parseFloat(data.hutangLain).toFixed(0)));
                    $("#saldoKas").text("Rp. " + addCommas(parseFloat(data.kas).toFixed(0)));
                    $("#saldoBank").text("Rp. " + addCommas(parseFloat(data.bank).toFixed(0)));
                    $("#saldoStock").text("Rp. " + addCommas(parseFloat(data.stock).toFixed(0)));
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function GetAksesDash() {
        $("#dashkotak").toggle(false);
        $("#dashtable").toggle(false);
        $("#dashbarang").toggle(false);
        $("#dashchart").toggle(false);
        var url = "@(Url.Action("GetAksesDash"))";
        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                setTimeout(function () {
                    $("#dashkotak").toggle(data.dashkotak);
                    $("#dashtable").toggle(data.dashtable);
                    $("#dashbarang").toggle(data.dashbarang);
                    $("#dashchart").toggle(data.dashchart);
                    if (data.dashchart) {
                        ShowDashboardShipment();
                    }
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "order": [[1, 'asc']]
        });
        //table.on("draw", function () {
        //    $('#DataDtl .select2').select2();
        //});
        var table = $('#DataDtlBarang').DataTable({
            "deferRender": true,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "order": [[1, 'asc']]
        });
        var table = $('#DataDtlJasa').DataTable({
            "deferRender": true,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "order": [[1, 'asc']]
        });

        GetAksesDash();
        GetSaldo();
        GetDataList();
    });

    $("#btnRefreshDbShipment").click(function () {
        ShowDashboardShipment();
    });

    $("#btnRefreshDbRABStatus").click(function () {
        GetDataList();
    });

    $("#btnRefreshDbBarang").click(function () {
        GetDataList();
    });

    $("#btnRefreshDbJasa").click(function () {
        GetDataList();
    });

    $("#btnExportXls").click(function () {
        window.location.assign("@Url.Action("PrintReport")");
    });

    //setInterval(GetDataList, 300000);

</script>