﻿@model APIS_WB.Models.DB.QL_trncashbankmst

@{
    ViewBag.Title = "Realisasi Biaya Multi RAB";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form @ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header @ViewBag.Title</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.rabmstoid)
                        @Html.HiddenFor(model => model.rabdtl5oid)
                        @Html.HiddenFor(model => model.cashbanktakegiro)
                        @Html.HiddenFor(model => model.cashbanktaxtype) 
                        @Html.HiddenFor(model => model.cashbanktaxpct)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("dt_coa")
                        @Html.Hidden("dt_sales")
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cash/Bank No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.cashbankoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                            @Html.Editor("updtime", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("cashbankdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @onchange = "CashBankType()" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.groupoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Cost Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cost_type, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="BIAYA REAL", Value="BIAYA REAL" },
                                                new SelectListItem { Text="KASBON", Value="KASBON" },
                                                new SelectListItem { Text="REALISASI KASBON", Value="KASBON REAL" }
                                            }, new { @class = "form-control select2", @onchange = "CostType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="div_kasbon" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kasbon No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.kasbon_no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="col_kasbonref" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ref Kasbon</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("kasbonrefno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchkasbon" class="btn btn-flat" data-toggle="modal" data-target="#modal-kasbon">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.kasbon_ref_id)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref Amount / H.Biaya</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.kasbonrefamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @onblur = "CountSelisih()" } })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.kasbonrefamt2, new { htmlAttributes = new { @class = "form-control money", @type = "text", @onblur = "CountSelisih()" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="col_rabref" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Project</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrabhdr" class="btn btn-flat" data-toggle="modal" data-target="#modal-rabhdr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                    <button type="button" id="btnclearrabhdr" class="btn btn-flat">
                                                        <i class="fa fa-remove"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.rabmstoid)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.cashbanktype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="CASH", Value="BKK" },
                                                new SelectListItem { Text="TRANSFER", Value="BBK" },
                                                new SelectListItem { Text="PERANTARA", Value="RBB" }
                                            }, new { @class = "form-control select2", @onchange = "CashBankType()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amount</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.cashbankdpp, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="col_cashbankrefno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref. No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.cashbankrefno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_cashbankduedate">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("cashbankduedate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PIC</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.personoid, null, new { @class = "form-control select2", @required = ""})
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Akun PPH</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.pphacctgoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total PPH</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.pphamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.refsuppoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Tax</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.cashbankothertaxamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.cashbankamt, new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="div_selisih" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Selisih</label>
                                        <div class="col-md-6">
                                            @Html.Editor("selisihamt", new { htmlAttributes = new { @class = "form-control money", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.cashbanknote, new { @class = "form-control", @type = "text", @maxlength = "300" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.cashbankstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.cashbankstatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    @*BAGIAN DETAIL*@
                    <div class="box-header">
                        <h4 class="box-title"><strong>Detail Realisasi Biaya RAB</strong></h4>
                        @Html.Hidden("seq")
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs pull-left">
                                        <li class="active"><a href="#detail-output" data-toggle="tab"><b>Detail Realisasi Biaya RAB</b></a></li>
                                        <li><a href="#detail-input" data-toggle="tab"><b> Detail Faktur Pajak</b></a></li>
                                    </ul>

                                    <div class="tab-content no-padding">
                                        <!-- Morris chart - Sales -->
                                        <div class="chart tab-pane active" id="detail-output" style="position: relative; overflow-x: auto;">
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pull-right">
                                                        <button type="button" class="btn btn-primary" id="btnAddToListNonRAB"><b>Tambah Dari NON RAB</b></button>
                                                        <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Tambah Dari RAB</b></button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" style="overflow-x: auto;">
                                                <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                                                </table>
                                            </div><br>
                                        </div>

                                        <div class="chart tab-pane" id="detail-input" style="position: relative; overflow-x: auto;">
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="pull-right">
                                                        <button type="button" id="btntambah2" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail2">
                                                            <i class="fa fa-plus"></i>
                                                            Tambah
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <table id="tbl_dtl_faktur" width="100%" class="table table-striped" style="position: relative; overflow-x: auto;">
                                            </table><br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*AKHIR BAGIAN DETAIL*@

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                            <h6><b>VAR_CASH | VAR_BANK | VAR_EXPENSE</b></h6>
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.cashbankstatus == "In Process" | @Model.cashbankstatus == "Revised")
                            {
                                <button type="button" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                                <button type="button" id="btnSendForApproval" class="btn btn-warning btn-md"><b>Kirim Permintaan</b></button>
                            }
                            else
                            {
                                if (Model.cashbankstatus == "Post")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                            }
                        }                        
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Expense Acoount</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Periode</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.Editor("filterperiodfromrabdtl", new { htmlAttributes = new { @class = "form-control datepicker_from", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span><span class="input-group-addon no-border"><b>s/d</b></span>@Html.Editor("filterperiodtorabdtl", new { htmlAttributes = new { @class = "form-control datepicker_to", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <span class="input-group-btn"><button type="button" id="cariModalRabDtl" class="btn btn-warning">Cari Data</button></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

    @* MODAL UNTUK DETAIL NON RAB *@
    <div class="modal fade" id="modal-detail_non_rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data COA</h4>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.DropDownList("ddlpr", new List<SelectListItem>
                            {
                                new SelectListItem { Text="Tanpa PR", Value="npr" },
                                new SelectListItem { Text="Pakai PR", Value="pr" },
                            }, new { @class = "form-control select2", @onchange = "GetLoadDataDetail()" })
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtlNonRAB" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetailNonRAB()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL NON RAB *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@

    @* MODAL UNTUK EDIT COA *@
    <div class="modal fade" id="modal-coaedit">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCOAEdit" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK EDIT COA *@

    @* MODAL UNTUK DETAIL 2 *@
    <div class="modal fade" id="modal-detail2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Faktur Pajak</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFakturDtl" class="table table-striped" style="width: 100%">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail2()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 2 *@

    @* MODAL UNTUK KASBON *@
    <div class="modal fade" id="modal-kasbon">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Kasbon</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalKasbon" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK KASBON *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rabhdr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Periode</label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        @Html.Editor("filterperiodfromrabhdr", new { htmlAttributes = new { @class = "form-control datepicker_from", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span><span class="input-group-addon no-border"><b>s/d</b></span>@Html.Editor("filterperiodtorabhdr", new { htmlAttributes = new { @class = "form-control datepicker_to", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <span class="input-group-btn"><button type="button" id="cariModalRabHdr" class="btn btn-warning">Cari Data</button></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br />
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRABHdr" class="table table-striped" style="width: 100%"></table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script language="javascript" type="text/javascript">
    var dt_coa = @(Html.Raw(Json.Encode(@ViewBag.dt_coa)));
    var dt_sales = @(Html.Raw(Json.Encode(@ViewBag.dt_sales)));
    $(document).ready(function () {
        tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'cashbankglseq', name: 'cashbankglseq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'soitemno', name: 'soitemno', title: 'No SO' },
                { data: 'acctgcode', name: 'acctgcode', title: 'Kode RAB' },
                { data: 'acctgdesc', name: 'acctgdesc', title: 'Account RAB' },
                //{ data: 'rabdtl5amt', name: 'rabdtl5amt', title: 'Amount RAB', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtl.on("draw", function () {
            $('#tblModalDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtl .select2').select2();
        });

        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'cashbankglseq', name: 'cashbankglseq', title: 'No.' },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'soitemno', name: 'soitemno', title: 'No SO' },
                { data: 'acctgcode', name: 'acctgcode', title: 'Kode RAB' },
                { data: 'acctgdesc', name: 'acctgdesc', title: 'Account RAB' },
                //{ data: 'rabdtl5amt', name: 'rabdtl5amt', title: 'Amount RAB', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : '<span class="money">' + data + '</span>'; } },
                { data: 'acctgcodereal', name: 'acctgcodereal', title: 'Kode Real' },
                { data: 'acctgdescreal', name: 'acctgdescreal', title: 'Account Real' },
                { data: 'referensi', name: 'referensi', title: 'Referensi' },
                { data: null, name: 'edit', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-warning btn-xs btn-icon edit" title="Edit"><i class="fa fa-edit"></i></button>' } },
                { data: 'cashbankglamt', name: 'cashbankglamt', title: 'Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'cashbankglamt', ' money', '', "width:110px;"); } },
                { data: 'pphcreditacctgoid', name: 'pphcreditacctgoid', title: 'PPH Credit', render: function (data, type, row, cell) { return type != 'display' ? data : generateselect(data, 'pphcreditacctgoid', dt_coa, ' onchange="coachange(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px')} },
                { data: 'pphcreditamt', name: 'pphcreditamt', title: 'PPH Credit Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'pphcreditamt', ' money', '', "width:110px;"); } },
                { data: 'salesoid', name: 'salesoid', title: 'Sales', render: function (data, type, row, cell) { return type != 'display' ? data : generateselect(data, 'salesoid', dt_sales, 'onchange="coachange(this)"'); }, createdCell: function (td, cellData, rowData, row, col) { $(td).css('padding-top', '2px')} },
                { data: 'cashbankglnote', name: 'cashbankglnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'cashbankglnote', ' ', '', "width:150px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .select2').select2();
        });

        tblModalDtlNonRAB = $("#tblModalDtlNonRAB").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'cashbankglseq', name: 'cashbankglseq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'acctgcodereal', name: 'acctgcodereal', title: 'Kode' },
                { data: 'acctgdescreal', name: 'acctgdescreal', title: 'Account' },
                { data: 'referensi', name: 'referensi', title: 'Referensi' },
                { data: 'cashbankglamt', name: 'cashbankglamt', title: 'Amount', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'cashbankglamt', ' money', '', "width:110px;"); } },
                { data: 'cashbankglnote', name: 'cashbankglnote', title: 'Note', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'cashbankglnote', ' ', '', "width:150px;"); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalDtlNonRAB.on("draw", function () {
            $('#tblModalDtlNonRAB .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalDtlNonRAB .select2').select2();
        });

        tblModalFakturDtl = $("#tblModalFakturDtl").DataTable({
            "deferRender": true,
            "columns": [
                { data: 'apitemdtl2seq', name: 'apitemdtl2seq', orderable: false, checkboxes: { selectRow: false } },
                { data: 'fabelicode', name: 'fabelicode', title: 'Code' },
                { data: 'fakturno', name: 'fakturno', title: 'No. Faktur Pajak' },
                { data: 'apitemdtl2amt', name: 'apitemdtl2amt', title: 'Nominal', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'apitemdtl2amt', ' money', '', "width:110px;"); } },
            ],
            "select": {
                "style": 'multi'
            },
            "order": []
        });
        tblModalFakturDtl.on("draw", function () {
            $('#tblModalFakturDtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalFakturDtl .select2').select2();
        });

        tbl_dtl_faktur = $('#tbl_dtl_faktur').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'apitemdtl2seq', name: 'apitemdtl2seq', title: 'No.' },
                { data: 'fabelicode', name: 'fabelicode', title: 'Code' },
                { data: 'fakturno', name: 'fakturno', title: 'No. Faktur Pajak' },
                { data: 'apitemdtl2amt', name: 'apitemdtl2amt', title: 'Nominal', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'apitemdtl2amt', ' money', '', "width:110px;"); } },
                { data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
        });
        tbl_dtl_faktur.on("draw", function () {
            $('#tbl_dtl_faktur .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl_faktur .select2').select2();
        });

        tblModalSupp = $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'suppcode', name: 'suppcode', title: 'Code' },
                { data: 'suppname', name: 'suppname', title: 'Name' },
                { data: 'supptaxable', name: 'supptaxable', title: 'Taxable' },
                { data: 'suppaddr', name: 'suppaddr', title: 'Address' },
            ],
            order: [],
        });

        tblModalCOAEdit = $("#tblModalCOAEdit").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'acctgcode', name: 'acctgcode', title: 'Kode' },
                { data: 'acctgdesc', name: 'acctgdesc', title: 'Account' },
            ],
            order: [],
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        tblModalKasbon = $("#tblModalKasbon").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'kasbonno', name: 'kasbonno', title: 'No Kasbon' },
                { data: 'kasbondate', name: 'kasbondate', title: 'Tgl Kasbon', render: function (data, type, row) { return type != 'display' ? data : moment(data).format('DD/MM/YYYY'); } },
                { data: 'kasbonamt', name: 'kasbonamt', title: 'Amount', render: function (data, type, row) { return type != 'display' ? data : addCommas(data); } },
                { data: 'kasbonnote', name: 'kasbonnote', title: 'Keterangan' },
            ],
            order: [],
        });

        tblModalRABHdr = $("#tblModalRABHdr").DataTable({
            "deferRender": true,
            "columns": [
                { data: null, orderable: false, render: function () { return '<button type="button" class="btn btn-link text-primary select">Select</button>'; } },
                { data: 'rabno', name: 'kasbonno', title: 'No RAB' },
                { data: 'rabdate', name: 'rabdate', title: 'Tgl RAB', render: function (data, type, row) { return type != 'display' ? data : moment(data).format('DD/MM/YYYY'); } },
                { data: 'projectname', name: 'projectname', title: 'Project' },
                { data: 'custname', name: 'custname', title: 'Customer' },
                { data: 'rabmstnote', name: 'rabmstnote', title: 'Keterangan' },
            ],
            order: [],
        });

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        })

        if ($("#action").val() == "Edit") {
            FillDetailData();
            var tipe = $("#cost_type option:selected").val();
            $('#btnAddToList').show(); $('#btnAddToListNonRAB').show();
            if (tipe == "BIAYA REAL") {
                $("#div_kasbon").hide();
                $("#kasbon_no").val("");
                $("#col_kasbonref").hide();
                $("#div_selisih").hide();
                $("#col_rabref").hide();
                $("#btnsearchrabhdr").attr("disabled", true);
                $("#btnclearrabhdr").attr("disabled", true);
            } else if (tipe == "KASBON") {
                $("#div_kasbon").show();
                GenerateKasbonNo();
                $("#col_kasbonref").hide();
                $("#div_selisih").hide();
                $("#col_rabref").show();
                $("#btnsearchrabhdr").attr("disabled", false);
                $("#btnclearrabhdr").attr("disabled", false);
                $('#btnAddToList').hide(); $('#btnAddToListNonRAB').show();
            }else {
                $("#div_kasbon").show();
                GenerateKasbonNo();
                $("#col_kasbonref").show();
                $("#div_selisih").show();
                $("#col_rabref").show();
                $("#btnsearchrabhdr").attr("disabled", true);
                $("#btnclearrabhdr").attr("disabled", true);
            }
            CountSelisih();
        }
        else {
            CashBankType();
        }
    })
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function CashBankType() {
        var sVar = "VAR_CASH";
        $("#curroid").attr("readonly", true);
        $("#acctgoid").attr("readonly", false);
        $("#cashbankrefno").attr("readonly", false);
        $("#col_cashbankduedate").hide();
        $("#col_cashbankrefno").show();
        if ($("#cashbanktype option:selected").val() == "BBK") {
            sVar = "VAR_BANK";
            $("#col_cashbankduedate").show();
        } else if ($("#cashbanktype option:selected").val() == "BGK") {
            sVar = "VAR_BANK";
            $("#col_cashbankduedate").show();
        } else if ($("#cashbanktype option:selected").val() == "RBB") {
            sVar = "VAR_PERANTARA_PK";
        }
        InitDDLAcctg(sVar);
    }

    function GenerateExpenseNo() {
        var cashbankdate = $("#cashbankdate").val();
        var cashbanktype = $("#cashbanktype").val();
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateExpenseNo"))",
            data: { cashbankdate: cashbankdate, cashbanktype: cashbanktype, acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#cashbankno").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function CostType() {
        var tipe = $("#cost_type option:selected").val();
        $('#btnAddToList').show(); $('#btnAddToListNonRAB').show();
        if (tipe == "BIAYA REAL") {
            $("#div_kasbon").hide();
            $("#kasbon_no").val("");
            $("#col_kasbonref").hide();
            $("#div_selisih").hide();
            $("#col_rabref").hide();
            $("#btnsearchrabhdr").attr("disabled", true);
            $("#btnclearrabhdr").attr("disabled", true);
        } else if (tipe == "KASBON") {
            $("#div_kasbon").show();
            GenerateKasbonNo();
            $("#col_kasbonref").hide();
            $("#div_selisih").hide();
            $("#col_rabref").show();
            $("#btnsearchrabhdr").attr("disabled", false);
            $("#btnclearrabhdr").attr("disabled", false);
            $('#btnAddToList').hide(); $('#btnAddToListNonRAB').show();
        }else {
            $("#div_kasbon").show();
            GenerateKasbonNo();
            $("#col_kasbonref").show();
            $("#div_selisih").show();
            $("#col_rabref").show();
            $("#btnsearchrabhdr").attr("disabled", true);
            $("#btnclearrabhdr").attr("disabled", true);
        }
        $("#kasbon_ref_id").val(0);
        $("#kasbonrefno").val('');
        $("#kasbonrefamt").val(0);
        $("#kasbonrefamt2").val(0);
        $("#rabmstoid").val(0);
        $("#projectname").val('');
    }

    function GenerateKasbonNo() {
        var cashbankdate = $("#cashbankdate").val();
        $.ajax({
            url: "@(Url.Action("GenerateKasbonNo"))",
            data: { cashbankdate: cashbankdate },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#kasbon_no").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function InitDDLAcctg(sVar) {
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == acctgoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    acctgoid.html(markup).show();
                    if (isExist == true) {
                        acctgoid.val(acctgoid_sel);
                    }
                    acctgoid.trigger('change');
                    GenerateExpenseNo();
                } else {
                    acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    var url_GetSupplierData = "@(Url.Action("GetSupplierData"))"
    $("#btnsearchsupp").click(function () {
        tblModalSupp.clear().draw();
        $.ajax({
            url: url_GetSupplierData,
            data: { },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalSupp.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalSupp").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalSupp.row($tr).data();

        $("#suppname").val(alldata.suppname);
        $("#refsuppoid").val(alldata.suppoid);
        $("#cashbanktaxtype").val(alldata.supptaxable);
        $("#cashbanktaxpct").val(0);
        if (alldata.supptaxable == "TAX") {
            $("#cashbanktaxpct").val(alldata.supptaxvalue);
        }
        CountHdrAmount();
        $('#modal-supp').modal('hide');
    });

    var url_GetKasbonData = "@(Url.Action("GetKasbonData"))"
    $("#btnsearchkasbon").click(function () {
        var cashbankoid = $("#cashbankoid").val();
        tblModalKasbon.clear().draw();
        $.ajax({
            url: url_GetKasbonData,
            data: { cashbankoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalKasbon.rows.add(data.tbl).draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    $("#tblModalKasbon").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalKasbon.row($tr).data();

        $("#kasbon_ref_id").val(alldata.kasbonoid);
        $("#kasbonrefno").val(alldata.kasbonno);
        $("#kasbonrefamt").val(alldata.kasbonamt);
        $("#kasbonrefamt2").val(alldata.kasbonamt2);
        $("#rabmstoid").val(alldata.rabmstoid);
        $("#projectname").val(alldata.projectname);
        $('#modal-kasbon').modal('hide');
    });

    var url_GetRABHdrData = "@(Url.Action("GetRABHdrData"))"
    $("#btnsearchrabhdr").click(function () {
        GetDataRABHeader();
    });
    function GetDataRABHeader(){
        var filterperiodfrom = toDate($("#filterperiodfromrabhdr").val());
        var filterperiodto = toDate($("#filterperiodtorabhdr").val());
        tblModalRABHdr.clear().draw();
        $.ajax({
            url: url_GetRABHdrData,
            data: { filterperiodfrom, filterperiodto },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalRABHdr.rows.add(data.tbl).draw();
                } 
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    $("#cariModalRabHdr").click(function () {
        GetDataRABHeader();
    });
    $("#tblModalRABHdr").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalRABHdr.row($tr).data();

        $("#rabmstoid").val(alldata.rabmstoid);
        $("#projectname").val(alldata.projectname);
        $('#btnAddToList').show(); $('#btnAddToListNonRAB').hide();
        $('#modal-rabhdr').modal('hide');
    });

    $("#btnclearrabhdr").click(function () {
        $("#rabmstoid").val(0);
        $("#projectname").val('');
        $('#btnAddToList').hide(); $('#btnAddToListNonRAB').show();
        tbl_dtl.clear().draw();
    });

    var url_GetDataDetails = "@(Url.Action("GetDataDetails"))";
    $("#btnAddToList").click(function () {
        GetDataRABDetail();
    });
    function GetDataRABDetail(){
        var cashbanktype = $("#cashbanktype option:selected").val();
        var cost_type = $("#cost_type option:selected").val();
        var rabmstoid = $("#rabmstoid").val();
        var filterperiodfrom = toDate($("#filterperiodfromrabdtl").val());
        var filterperiodto = toDate($("#filterperiodtorabdtl").val());
        tblModalDtl.column(0).checkboxes.deselect();
        tblModalDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails,
            data: { cashbanktype, cost_type, rabmstoid, filterperiodfrom, filterperiodto},
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.cashbankglseq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtl.rows.add(rows);
                    tblModalDtl.columns.adjust().draw();
                } 
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }
    $("#cariModalRabDtl").click(function () {
        GetDataRABDetail();
    });
    $('#tblModalDtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtl)
        e.preventDefault();
    });
    function AddToDetail() {
        var rowsel = tblModalDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtl.row(val - 1).data());
            if (!IsOnDtl(obj.rabdtl5oid)) {
                obj.cashbankglseq = id++;
                //obj.cashbankglamt = obj.rabdtl5amt;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        CountHdrAmount();
        EnabledHeader();
        $('#modal-detail').modal('hide');
    };

    function IsOnDtl(rabdtl5oid) {
        //for (var i = 0 ; i < tbl_dtl.data().length; i++) {
        //    var alldata = tbl_dtl.row(i).data();
        //    if (rabdtl5oid == alldata.rabdtl5oid) {
        //        return true;
        //    }
        //}
        //return false;
    }

    function GetLoadDataDetail() {
        $("#btnAddToListNonRAB").click();
    }

    var url_GetDataDetailsNonRAB = "@(Url.Action("GetDataDetailsNonRAB"))";
    $("#btnAddToListNonRAB").click(function () {
        $('#modal-detail_non_rab').modal('show');
        var cashbanktype = $("#cashbanktype option:selected").val();
        var cost_type = $("#cost_type option:selected").val();
        var sVar = "VAR_EXPENSE";
        if (cost_type == "KASBON"){
            //sVar = "VAR_UM_OPRASIONAL_BANK";
            //if (cashbanktype == "BKK"){ sVar = "VAR_UM_OPRASIONAL_KAS"; }
            sVar = "VAR_KASBON";
        }
        var ddlpr = $("#ddlpr option:selected").val();
        var cashbankoid = $("#cashbankoid").val();
        tblModalDtlNonRAB.column(0).checkboxes.deselect();
        tblModalDtlNonRAB.clear().draw();
        $.ajax({
            url: url_GetDataDetailsNonRAB,
            data: { sVar, ddlpr, cashbankoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.cashbankglseq = key + 1;
                        rows.push(val)
                    });
                    tblModalDtlNonRAB.rows.add(rows);
                    tblModalDtlNonRAB.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $('#tblModalDtlNonRAB').on('blur', 'input:text, textarea', function (e) {
        setData(this, tblModalDtlNonRAB)
        e.preventDefault();
    });
    function AddToDetailNonRAB() {
        var rowsel = tblModalDtlNonRAB.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalDtlNonRAB.row(val - 1).data());
            if (!IsOnDtl(obj.rabdtl5oid)) {
                obj.cashbankglseq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl.rows.add(rows);
        tbl_dtl.columns.adjust().draw();
        CountHdrAmount();
        EnabledHeader();
        $('#modal-detail_non_rab').modal('hide');
    };

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData() {
        var id = $('#cashbankoid').val();
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.dtl);
                    tbl_dtl.columns.adjust().draw();
                    tbl_dtl_faktur.rows.add(data.dtl2);
                    tbl_dtl_faktur.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    function coachange($this){
        setData($this, tbl_dtl)
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'cashbankglseq:name').data(i + 1).invalidate();
        }
        CountHdrAmount();
        EnabledHeader();
        e.preventDefault();
    });

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();
        CountHdrAmount();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2();
    };

    var url_GetCOAEdit = "@(Url.Action("GetCOAEdit"))";
    $('#tbl_dtl').on('click', '.edit', function (e) {
        $tr = $(this).closest('tr');
        var obj = tbl_dtl.row($tr).data();
        $('#seq').val(obj.cashbankglseq);
        $('#modal-coaedit').modal('show');
        var sVar = "VAR_EXPENSE";
        var cashbanktype = $("#cashbanktype option:selected").val();
        var cost_type = $("#cost_type option:selected").val();
        var sVar = "VAR_EXPENSE";
        if (cost_type == "KASBON"){
            //sVar = "VAR_UM_OPRASIONAL_BANK";
            //if (cashbanktype == "BKK"){ sVar = "VAR_UM_OPRASIONAL_KAS"; }
            sVar = "VAR_KASBON";
        }
        tblModalCOAEdit.clear().draw();
        $.ajax({
            url: url_GetCOAEdit,
            data: { sVar },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tblModalCOAEdit.rows.add(data.tbl);
                    tblModalCOAEdit.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
        e.preventDefault();
    });
    $("#tblModalCOAEdit").on('click', '.select', function () {
        $tr = $(this).closest('tr');
        alldata = tblModalCOAEdit.row($tr).data();

        var rowtemp = $('#seq').val() - 1;
        var obj = tbl_dtl.row(rowtemp).data();
        obj.acctgoid = alldata.acctgoid;
        obj.acctgdescreal = alldata.acctgdesc;
        tbl_dtl.row(rowtemp).invalidate().draw();
        $('#modal-coaedit').modal('hide');
    });

    var url_GetDataDetails2 = "@(Url.Action("GetFakturData"))";
    $("#btntambah2").click(function () {
        var suppoid = $("#refsuppoid").val();
        if ($("#suppname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan pilih Supplier terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        tblModalFakturDtl.column(0).checkboxes.deselect();
        tblModalFakturDtl.clear().draw();
        $.ajax({
            url: url_GetDataDetails2,
            data: { suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var rows = []
                    $.each(data.tbl, function (key, val) {
                        val.apitemdtl2seq = key + 1;
                        rows.push(val)
                    });
                    tblModalFakturDtl.rows.add(rows);
                    tblModalFakturDtl.columns.adjust().draw();
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    });
    $('#tblModalFakturDtl').on('blur', 'input:text, textarea', function (e) {
        setData2(this, tblModalFakturDtl)
        e.preventDefault();
    });
    function AddToDetail2() {
        var rowsel = tblModalFakturDtl.column(0).checkboxes.selected();
        if (!rowsel.length) {
            return Swal('', 'Please select Item first!', 'warning');
        }
        var rows = []
        var id = tbl_dtl_faktur.data().length + 1;
        $.each(rowsel, function (key, val) {
            var obj = copyObject(tblModalFakturDtl.row(val - 1).data());
            if (!IsOnDtl2(obj.fabelioid)) {
                obj.apitemdtl2seq = id++;
                rows.push(obj);
            }
        });
        tbl_dtl_faktur.rows.add(rows);
        tbl_dtl_faktur.columns.adjust().draw();
        SumAmtFaktur();
        EnabledHeader();
        $('#modal-detail2').modal('hide');
    };

    function IsOnDtl2(fabelioid) {
        for (var i = 0 ; i < tbl_dtl_faktur.data().length; i++) {
            var alldata = tbl_dtl_faktur.row(i).data();
            if (fabelioid == alldata.fabelioid) {
                return true;
            }
        }
        return false;
    }

    $('#tbl_dtl_faktur').on('blur', 'input:text, textarea', function (e) {
        setData2(this, tbl_dtl_faktur)
        e.preventDefault();
    });
    $('#tbl_dtl_faktur').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl_faktur.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl_faktur.data().length; i++) {
            tbl_dtl_faktur.cell(i, 'apitemdtl2seq:name').data(i + 1).invalidate();
        }
        SumAmtFaktur();
        EnabledHeader();
        e.preventDefault();
    });

    function setData2($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();
        SumAmtFaktur();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2();
    };

    function SumAmtFaktur() {
        var taxamt = 0;
        for (var i = 0 ; i < tbl_dtl_faktur.data().length; i++) {
            var alldata = tbl_dtl_faktur.row(i).data();
            taxamt += alldata.apitemdtl2amt;
        }
        $('#cashbankothertaxamt').val(taxamt);
        CountHdrAmount();
    }

    function CountHdrAmount() {
        var dTotalAmt = 0; var dTotalPPHAmt = 0;
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dTotalAmt += alldata.cashbankglamt;
            dTotalPPHAmt += alldata.pphcreditamt;
        }
        //var pphamt = $('#pphamt').val();
        var pphamt = dTotalPPHAmt;
        var ppn = $('#cashbankothertaxamt').val();
        var netto = parseFloat(dTotalAmt) + parseFloat(ppn) - parseFloat(pphamt);

        $("#cashbankdpp").val(dTotalAmt);
        $("#cashbankamt").val(netto);
        $("#cashbankothertaxamt").val(ppn);
        $("#pphamt").val(pphamt);
        CountSelisih();
    }

    function CountSelisih() {
        var tipe = $('#cost_type option:selected').val();
        var selisihamt = 0;
        if (tipe == "KASBON REAL"){
            var total_kasbon = $('#kasbonrefamt').val(); var total_hb = $('#kasbonrefamt2').val();
            var total_dtl = $("#cashbankdpp").val(); var total_pph = $("#pphamt").val();
            var ppn = $('#cashbankothertaxamt').val();
            selisihamt = (parseFloat(total_kasbon) + parseFloat(total_pph)) - total_dtl - ppn - total_hb;
        }
        $("#selisihamt").val(selisihamt);
    }

    function EnabledHeader() {
        var bVal = tbl_dtl.data().length > 0;

        //$("#acctgoid").attr("readonly", bVal);
        //$("#cashbanktype").attr("readonly", bVal);
        $("#curroid").attr("readonly", true);
        $("#cost_type").attr("readonly", bVal);
        //$("#btnsearchdp").attr("disabled", bVal);
        //$("#btnsearchrab").attr("disabled", bVal);
        //$("#btnsearchar").attr("disabled", bVal);
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var cashbankno = $("#cashbankno").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trncashbankmst " + $("#cashbankoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { cashbankno: cashbankno, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.acctgdebet),
                        addCommas(val.acctgcredit),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    var url_Form = "@(Url.Action("Form"))";
    var url_Index = "@(Url.Action("Index"))";
    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "cashbankdate") {
                tbl[n.name] = toDate($('#cashbankdate').val());
            }
            else if (n.name == "cashbankduedate") {
                tbl[n.name] = toDate($('#cashbankduedate').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });
        var action = $('#action').val();

        var dtDtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtDtl.push(alldata);
        }

        var dtDtl2 = [];
        for (var i = 0 ; i < tbl_dtl_faktur.data().length; i++) {
            var alldata = tbl_dtl_faktur.row(i).data();
            dtDtl2.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: url_Form,
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtDtl, dtDtl2: dtDtl2, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#cashbankstatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#cashbankstatus").val("In Process");
            }
        });
    });

    $("#btnDelete").click(function () {
        var oid = $("#cashbankoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Send Approval this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send Approval this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#cashbankstatus").val("In Approval");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>