﻿@model APIS_WB.Models.DB.QL_trnassetrecmst

@{
    ViewBag.Title = "Fixed Assets";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Fixed Assets Confirmation</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Fixed Assets Confirmation Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.rateoid)
                        @Html.HiddenFor(model => model.rate2oid)
                        @Html.Hidden("mrassetwhoid")
                        @Html.Hidden("assetrecunit")
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @{
                            @Html.EditorFor(model => model.assetrecdate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.assetrecdate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Business Unit <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.cmpcode, null, new { @class = "form-control select2", @onchange = "ChangeBusinessUnit()" })
                                            @Html.ValidationMessageFor(model => model.cmpcode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.assetrecmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Business Unit -- Draft No.*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Confirm No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.assetrecno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @required = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Confirm No. -- Confirm Date*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>                                            
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.assetrecdate, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("assetrectype", new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text= "Asset In Confirmation", Value= "Asset Confirmation" },
                                                    new SelectListItem { Text= "Asset In Confirmation On Transform", Value= "Asset Transform" },
                                                    new SelectListItem { Text= "Asset In Progress Closed", Value= "Asset In Progress Closed" }
                                                }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Department <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model => Model.deptoid, null, "-", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PIC <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("personname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchperson" class="btn btn-flat" data-toggle="modal" data-target="#modal-person">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.personoid)
                                            @Html.HiddenFor(model => model.personcmpcode)
                                            @Html.ValidationMessageFor(model => model.personoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Department -- PIC*@
                            <div class="row">
                                <div class="col-md-6" id="col_mrassetno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PB No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("mrassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmr" class="btn btn-flat" data-toggle="modal" data-target="#modal-mr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.mrassetmstoid)
                                            @Html.ValidationMessageFor(model => model.mrassetmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_tb">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Transform No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("transformno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchtb" class="btn btn-flat" data-toggle="modal" data-target="#modal-tb">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none" id="col_assetno">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Asset No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("assetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchasset" class="btn btn-flat" data-toggle="modal" data-target="#modal-asset">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(Model => Model.curroid, null, new { @class = "form-control select2", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*MR No. -- Currency*@
                            <div class="row">
                                <div class="col-md-6" id="col_assetpurchase" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Assets Purchase</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.assetrecpurchase, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="col_mat">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material<label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("assetreflongdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-flat" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.assetrefoid)
                                            @Html.HiddenFor(model => model.assetreftype)
                                            @Html.HiddenFor(model => model.mrassetdtloid)
                                            @Html.ValidationMessageFor(model => model.assetrefoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Assets Value</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.assetrecvalue, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Material -- Assets Value*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PID</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.refno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Serial Number</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.serialnumber, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Material -- PID SN*@
                            <div class="row">
                                <div class="col-md-6" id="col_assetrecqty">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Qty <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.assetrecqty, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "10", @readonly = "" } }) <span class="input-group-addon text-red" id="col_assetrecunit"></span>
                                            </div>
                                            @Html.HiddenFor(model => model.assetrecunitoid)
                                            @Html.ValidationMessageFor(model => model.assetrecqty, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" id="col_mrassetqty">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">MR Qty</label>
                                        <div class="col-md-4">
                                            @Html.Editor("mrassetqty", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Qty -- MR Qty*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Assets Account <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model => Model.assetacctgoid, null, "-", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.assetacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Accum. Dep. Account <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model => Model.accumdepacctgoid, null, "-", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.accumdepacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Assets Account -- Accum. Dep. Account*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Depreciation <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.assetrecdepmonth, new { htmlAttributes = new { @class = "form-control allownumericwithdecimal", @type = "text", @required = "", @maxlength = "4" } }) <span class="input-group-addon text-red">Month</span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.assetrecdepmonth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Depreciation Account <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model => Model.depacctgoid, null, "-", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.depacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Depreciation -- Depreciation Account*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Depreciation Value</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.assetrecdepvalue, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.assetrecmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Depreciation Value -- Status*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.assetrecmstnote, new { @class = "form-control", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.assetrecmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Header Note*@
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Fixed Assets Confirmation Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" id="btnGenerate"><b>Generate Detail Data</b></button>
                                <button type="button" class="btn btn-default btn-md" id="btnReset" style="display:none"><b>Reset Detail Data</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Period</th>
                                        <th>Value</th>
                                        <th>Depreciation</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                //<h6><b>VAR_PURC_RECEIVED | VAR_PPN_IN | VAR_AP</b></h6>
                            }
                        </div>                        
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.assetrecmststatus == "In Process" | @Model.assetrecmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnClose" style="display:none"><b>Close</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }
                    </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM PIC *@
    <div class="modal fade" id="modal-person">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data PIC</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPIC" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>NIK</th>
                                    <th>Nama</th>
                                    <th>Department</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM PIC *@

    @* MODAL UNTUK FORM mr *@
    <div class="modal fade" id="modal-mr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Penerimaan Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Penerimaan</th>
                                    <th>Tgl. Penerimaan</th>
                                    <th>PO No.</th>
                                    <th>Supplier</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM MR *@

    @* MODAL UNTUK FORM tb *@
    <div class="modal fade" id="modal-tb">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Transform Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalTB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Transform</th>
                                    <th>Tgl. Transform</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM MR *@

    @* MODAL UNTUK FORM Asset *@
    <div class="modal fade" id="modal-asset">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Asset</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAsset" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Asset</th>
                                    <th>Kode</th>
                                    <th>Barang</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM Asset *@

    @* MODAL UNTUK FORM Item *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>PID</th>
                                    <th>Serial<br/>Number</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM Item *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tblModalPIC").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPIC = $("#tblModalPIC").DataTable();
        tblModalPIC.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPIC.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#personoid").val(alldata.usoid);
            $("#personname").val(alldata.usname);
            $('#modal-person').modal('hide');
        });

        $("#tblModalMR").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMR = $("#tblModalMR").DataTable();
        tblModalMR.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalMR.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#mrassetno").val(alldata.mrassetno);
            $("#mrassetmstoid").val(alldata.mrassetmstoid);
            $("#mrassetwhoid").val(alldata.mrassetwhoid);
            //clear mat
            $("#assetrefoid").val(0);
            $("#assetreflongdesc").val("");
            $('#modal-mr').modal('hide');
        });

        $("#tblModalTB").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalTB = $("#tblModalTB").DataTable();
        tblModalTB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalTB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#transformno").val(alldata.mrassetno);
            $("#mrassetmstoid").val(alldata.mrassetmstoid);
            $("#mrassetwhoid").val(alldata.mrassetwhoid);
            //clear mat
            $("#assetrefoid").val(0);
            $("#assetreflongdesc").val("");
            $('#modal-tb').modal('hide');
        });

        $("#tblModalAsset").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalAsset = $("#tblModalAsset").DataTable();
        tblModalAsset.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAsset.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#assetno").val(alldata.assetno);
            $("#mrassetmstoid").val(alldata.assetmstoid);
            $("#assetrecvalue").val(addCommas(alldata.assetvalue));
            $("#assetrecpurchase").val(addCommas(alldata.assetvalue));
            $("#mrassetdtloid").val(0);
            $("#assetrefoid").val(0);
            $("#assetrecunitoid").val(0);
            //$("#assetrecqty").val(0);
            $("#mrassetwhoid").val(0);
            $('#modal-asset').modal('hide');
        });

        $("#tblModalMat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMat = $("#tblModalMat").DataTable();
        tblModalMat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalMat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#assetrefoid").val(alldata.mrassetrefoid);
            $("#assetrecunitoid").val(alldata.mrassetunitoid);
            $("#col_assetrecunit").text(alldata.mrassetunit);
            $("#assetreflongdesc").val(alldata.mrassetreflongdesc);
            $("#mrassetdtloid").val(alldata.mrassetdtloid);
            $("#mrassetqty").val(addCommas(alldata.mrassetqty));
            $("#assetrecvalue").val(addCommas(alldata.mrassetvalue));
            $("#assetrecpurchase").val(addCommas(alldata.mrassetvalue));
            $("#refno").val(alldata.refno);
            $("#serialnumber").val(alldata.serialnumber);
            //set coa asset
            $("#assetacctgoid").val(alldata.assetacctgoid).trigger('change');
            $("#accumdepacctgoid").val(alldata.accumdepacctgoid).trigger('change');
            $("#depacctgoid").val(alldata.depacctgoid).trigger('change');
            $("#assetrecdepmonth").val(alldata.assetdepmonth);
            $("#assetrecdepmonth").blur();
            $('#modal-mat').modal('hide');
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            var mrtitemno = table.row($tr).data()[2];
            var data = table.rows().data();
            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (data[j][2] == mrtitemno) {
                    table.row(j).remove().draw();
                }
                else {
                    j++;
                }
            }
            e.preventDefault();
            EnabledHeader();
            //CountHdrAmount();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#assetrecdate").val();
        } else {
            tgl = $("#assetrecdate").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        $("#col_assetrecunit").text($("#assetrecunit").val());

        $("#assetrecdepmonth").blur(function () {
            var value = parseFloat(removeCommas($("#assetrecvalue").val()));
            var month = parseFloat(removeCommas($("#assetrecdepmonth").val()));
            if (value > 0) {
                $("#assetrecdepvalue").val(addCommas(Math.round(value / month)));
            }
        })

        $("#assetrecqty").val(1);
        $('#assetrecvalue').val(addCommas($('#assetrecvalue').val()));
        $('#assetrecqty').val(addCommas($('#assetrecqty').val()));
        $('#assetrecdepmonth').val(addCommas($('#assetrecdepmonth').val()));
        $('#assetrecdepvalue').val(addCommas($('#assetrecdepvalue').val())); 
        $('#assetrecpurchase').val(addCommas($('#assetrecpurchase').val()));

        $("#assetrectype").change(function () {
            ResetHeaderData();
            typeChange();
        });

        if ($('#action').val() == "Edit") {
            $('#btnReset').show(); $('#btnGenerate').hide(); EnabledHeader();
        }

        if ($("#assetrectype option:selected").val() == "Asset In Progress Closed") {
            $("#mrassetwhoid").val(0);
        }       

        typeChange();
        FillDetailData();
    })

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function typeChange() {
        if ($("#assetrectype option:selected").val() == "Asset Confirmation") {
            $("#col_mrassetno").show();
            $("#col_mat").show();
            $("#col_assetno").hide();
            $("#col_mrassetqty").show();
            $("#col_assetrecqty").show();
            $("#btnSave").show();
            $("#btnPost").show();
            $("#btnClose").hide();
            $("#col_tb").hide();
        } else if ($("#assetrectype option:selected").val() == "Asset Transform") {
            $("#col_mrassetno").hide();
            $("#col_mat").show();
            $("#col_assetno").hide();
            $("#col_mrassetqty").show();
            $("#col_assetrecqty").show();
            $("#btnSave").show();
            $("#btnPost").show();
            $("#btnClose").hide();
            $("#col_tb").show();
        } else {
            $("#col_mrassetno").hide();
            $("#col_mat").hide();
            $("#col_assetno").show();
            $("#col_mrassetqty").hide();
            $("#col_assetrecqty").hide();
            $("#btnSave").hide();
            $("#btnPost").hide();
            $("#btnClose").show();
            $("#col_tb").hide();
        }
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#btnsearchmr").attr("disabled", bVal);
        $("#btnsearchtb").attr("disabled", bVal);
        $("#btnsearchmat").attr("disabled", bVal);
        $("#btnsearchasset").attr("disabled", bVal);
        $("#assetrectype").attr("readonly", bVal);
    }

    function ResetHeaderData() {
        $("#mrassetno").val("");
        $("#transformno").val("");
        $("#mrassetmstoid").val("");
        $("#assetno").val("");
        $("#assetrecvalue").val("");
        $("#assetrecdepmonth").val("");
        $("#assetrecdepvalue").val("");
        $("#mrassetqty").val("");
        //$("#assetrecqty").val("");
        $("#assetrefoid").val("");
        $("#assetrecunitoid").val("");
        $("#col_assetrecunit").text("");
        $("#assetreflongdesc").val("");
        $("#mrassetdtloid").val("");
    }

    $("#btnsearchperson").click(function () {
        var table = $('#tblModalPIC').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPICData"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.NIK,
                    val.usname,
                    val.deptname,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchmr").click(function () {
        var table = $('#tblModalMR').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetMRData"))",
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.mrassetno,
                    moment(jsDate(val.mrassetdate)).format('DD/MM/YYYY'),
                    val.poassetno,
                    val.suppname,
                    val.mrassetmstnote,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $("#btnsearchtb").click(function () {
        var table = $('#tblModalTB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetTBData"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.mrassetno,
                    moment(jsDate(val.mrassetdate)).format('DD/MM/YYYY'),
                    val.mrassetmstnote,
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchasset").click(function () {
        var table = $('#tblModalAsset').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAssetData"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.assetno,
                    val.refcode,
                    val.reflongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchmat").click(function () {
        var assetrectype = $("#assetrectype option:selected").val();
        var table = $('#tblModalMat').DataTable();
        var mrassetmstoid = $("#mrassetmstoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetMatData"))",
            data: { mrassetmstoid: mrassetmstoid, assetrectype: assetrectype },
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.mrassetrefcode,
                    val.mrassetreflongdesc,
                    addCommas(val.mrassetqty),
                    val.mrassetunit,
                    val.refno,
                    val.serialnumber,
                    val.mrassetdtlnote
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.assetrecdtlseq,
                    val.assetrecdtlres1,
                    addCommas(val.assetrecperiodvalue),
                    addCommas(val.assetrecperioddep)
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    $("#btnGenerate").click(function () {
        if ($("#assetrecdepmonth").val() == 0) {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan isi Depreciation terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
         isValid = true;
         var tbldtl = $('#DataDtl').DataTable();
         var month = new Array(12);
         month[1] = "Januari";
         month[2] = "Februari";
         month[3] = "Maret";
         month[4] = "April";
         month[5] = "Mei";
         month[6] = "Juni";
         month[7] = "Juli";
         month[8] = "Agustus";
         month[9] = "September";
         month[10] = "Oktober";
         month[11] = "November";
         month[12] = "Desember";

         var assetrecdate = $("#assetrecdate").val();

        var iMonth = moment(assetrecdate).format('MM');
        var iYear = moment(assetrecdate).format('YYYY');
        var iDay = moment(assetrecdate).format('DD');

        var iMonths = month[parseFloat(iMonth)];
        //var iMonths = moment(new Date(2019+'-'+2+'-'+ 1)).format('MMM');
        if (iDay > 15) {
            iMonth = parseFloat(iMonth) + 1;
            if (iMonth > 12)  {
                iMonth = 1;
                iYear = parseFloat(iYear) + 1;
            }
        }
        iTgl = new Date(iYear + '-' + iMonth + '-' + iDay);
        var depMonth = parseFloat(removeCommas($("#assetrecdepmonth").val()));
        var dValue = parseFloat(removeCommas($("#assetrecdepvalue").val()));
        var dDepValue = parseFloat(Math.round(removeCommas($("#assetrecvalue").val())) - dValue);

        for (var i = 0 ; i < parseFloat(depMonth); i++) {
            if (isValid) {
                //var data = table.row(val - 1).data();
                //var alldata = JSON.parse(data[0]);
                var id = tbldtl.rows().data().length + 1;
                //var bln = moment(new Date(iYear+'-'+iMonth+'-'+ iDay)).format('MMMM');
                var bln = month[parseFloat(iMonth)];
                var obj = {
                    assetrecdtlseq: id,
                    assetrecmonth: iMonth,
                    assetrecyear: iYear,
                    assetrecperiod: iYear + (iMonth <= 9 ? '0' : '') + iMonth,
                    assetrecperiodvalue: dValue,
                    assetrecperioddep: dDepValue,
                    assetrecdtlres1: bln + ' ' + iYear
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    bln + " " + iYear,
                    addCommas(dValue),
                    addCommas(dDepValue)
                ]).draw();
                iMonth = parseFloat(iMonth) + 1;
                if (iMonth > 12) {
                    iMonth = 1;
                    iYear = parseFloat(iYear) + 1;
                }
                dDepValue -= parseFloat(Math.round(dValue));
                dDepValue = parseFloat(Math.round(dDepValue));
                if (i == parseFloat(depMonth - 2)) {
                    dValue += parseFloat(Math.round(dDepValue));
                    dDepValue = 0;
                }
            }
        }
        $('#btnReset').show(); $('#btnGenerate').hide(); EnabledHeader();
    });

    $("#btnReset").click(function () {
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $('#btnReset').hide(); $('#btnGenerate').show(); EnabledHeader();
    });

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var depacctgoid = $("#depacctgoid").val();
        var accumdepacctgoid = $("#accumdepacctgoid").val();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                assetrecdtlseq: i + 1,
                assetrecmonth: alldata.assetrecmonth,
                assetrecyear: alldata.assetrecyear,
                assetrecperiod: alldata.assetrecperiod,
                assetrecdtlres1: alldata.assetrecdtlres1,
                assetrecperiodvalue: alldata.assetrecperiodvalue,
                assetrecperiodvalueidr: alldata.assetrecperiodvalue,
                //assetrecperiodvalueusd: alldata.apitemprice,
                assetrecperioddep: alldata.assetrecperioddep,
                assetrecperioddepidr: alldata.assetrecperioddep,
                //assetrecperioddepusd: alldata.apitemdtltaxamt,
                periodacctgoid: depacctgoid,
                perioddepacctgoid: accumdepacctgoid,
                //assetrecdtlnote: apitemdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        $('#assetrecvalue').val(removeCommas($('#assetrecvalue').val()));
        $('#assetrecqty').val(removeCommas($('#assetrecqty').val()));
        $('#assetrecdepmonth').val(removeCommas($('#assetrecdepmonth').val()));
        $('#assetrecdepvalue').val(removeCommas($('#assetrecdepvalue').val())); 
        $('#assetrecpurchase').val(removeCommas($('#assetrecpurchase').val()));
        SetDataDtl();
    });

    $("#btnPost").click(function () {        
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
					$("#assetrecmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnClose").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        var assetmstoid = $("#mrassetmstoid").val()
        var assetrecvalue = removeCommas($("#assetrecvalue").val())
        var accumdepacctgoid = $("#accumdepacctgoid").val()
        var assetrecdepmonth = $("#assetrecdepmonth").val()
        var assetrecdepvalue = removeCommas($("#assetrecdepvalue").val())
        var depacctgoid = $("#depacctgoid").val()
        var assetrecmstnote = $("#assetrecmstnote").val()
        var deptoid = $("#deptoid").val()
        var assetacctgoid = $("#assetacctgoid").val()
        Swal({
            title: 'Are you sure to Close?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Close this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Close"))",
                    data: { __RequestVerificationToken: token, id: assetmstoid, assetrecvalue: assetrecvalue, accumdepacctgoid: accumdepacctgoid, assetrecdepmonth: assetrecdepmonth, assetrecdepvalue: assetrecdepvalue, depacctgoid: depacctgoid, assetrecmstnote: assetrecmstnote, deptoid: deptoid, assetacctgoid: assetacctgoid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Closed!',
                          'Data has been Closed.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Close Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
        SetDataDtl();
    });

    function clickDelete() {
        var oid = $("#assetrecmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
</script>