﻿@model APIS_WB.Models.DB.QL_trncheckdocmst

@{
    ViewBag.Title = "Checklist Dokumen";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Checklist Dokumen
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Header Checklist Dokumen</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.checkdocmstoid)
                        @Html.HiddenFor(model => model.custoid)
                        @Html.HiddenFor(model => model.reqrabmstoid)
                        @Html.HiddenFor(model => model.rabmstoid)
                        @Html.HiddenFor(model => model.soitemmstoid)
                        @Html.HiddenFor(model => model.checkdocdate)
                        @Html.HiddenFor(model => model.residate)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("markup")                        
                        <div class="container-fluid">
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                        </div>

                        @*===== Baris ke 1 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Checklist <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.checkdocno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                @Html.ValidationMessageFor(model => model.checkdocno, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Tanggal<label class="text-red">*</label></label>
                            <div class="col-sm-4">                                
                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })                                    
                                @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                            </div>                                         
                        </div>

                        @*===== Baris ke 2 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.checkdocdate, "", new { @class = "text-danger" })
                            </div>                          

                            <label class="col-sm-2 control-label">Customer <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    @Html.HiddenFor(model => model.custoid) 
                                </div>
                                @Html.ValidationMessageFor(model => model.custoid, "", new { @class = "text-danger" })
                            </div>
                          
                        </div>

                        @*===== Baris ke 3 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. SO <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.HiddenFor(model => model.soitemmstoid)
                                @Html.ValidationMessageFor(model => model.soitemmstoid, "", new { @class = "text-danger" })
                            </div>                             

                            <label class="col-sm-2 control-label">RAB</label>
                            <div class="col-sm-4"> 
                                    @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessage("rabno", "", new { @class = "text-danger" }) 
                                @Html.HiddenFor(model => model.rabmstoid)
                            </div>                           
                        </div>

                        @*===== Baris ke 4 =====*@
                        <div class="form-group">                          
                            <label class="col-sm-2 control-label">No. PRAB</label>
                            <div class="col-sm-4">
                                @Html.Editor("reqrabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.ValidationMessage("reqrabno", "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.reqrabmstoid)
                            </div>

                            <label class="col-sm-2 control-label">No. Project</label>
                            <div class="col-sm-4">
                                @Html.Editor("projectno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                @Html.ValidationMessage("projectno", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 5 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Expedisi <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("expname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchexp" class="btn btn-flat" data-toggle="modal" data-target="#modal-exp">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.HiddenFor(model => model.expoid)
                                @Html.ValidationMessageFor(model => model.expoid, "", new { @class = "text-danger" })
                            </div> 
                                                       
                            <label class="col-sm-2 control-label">No. Resi</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.noresi, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.noresi, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 6 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">No. Surat</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.nosurat, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(model => model.nosurat, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Nominal Invoice</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.amtinvoice, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.amtinvoice, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 7 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nominal DP</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("amtdpar", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    <span class="input-group-btn">
                                        <button type="button" id="btnsearchdpar" class="btn btn-flat" data-toggle="modal" data-target="#modal-dpar">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                @Html.HiddenFor(model => model.dparoid)
                                @Html.Hidden("amtdpar")
                                @Html.ValidationMessageFor(model => model.dparoid, "", new { @class = "text-danger" })
                            </div>

                            <label class="col-sm-2 control-label">Sisa Piutang</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.aramtsisa, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.aramtsisa, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*===== Baris ke 8 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(model => model.typecheckdoc, new List<SelectListItem>
                           {
                               new SelectListItem { Text="COD", Value="COD" },
                               new SelectListItem { Text="CBD", Value="CBD" },
                               new SelectListItem { Text="Tempo", Value="Tempo" }
                           }, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(model => model.typecheckdoc, "", new { @class = "text-danger" })
                            </div>
                 
                            <label class="col-sm-2 control-label">Tgl Resi <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    @Html.Editor("tglresi", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.residate, "", new { @class = "text-danger" })
                            </div> 
                        </div>
                        @*===== Baris ke 9 =====*@
                        
                         @*===== Baris ke 10 =====*@
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Status Dokumen</label>                            
                            <div class="col-sm-4">
                                @Html.RadioButtonFor(model => model.status, "LENGKAP", new { @checked = "checked", @required = "" })
                                LENGKAP
                                @Html.RadioButtonFor(model => model.status, "TIDAK", new { @required = "" })
                                TIDAK
                            </div>
                            <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">
                                @Html.EditorFor(model => model.flagstatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.flagstatus } })
                                @Html.ValidationMessageFor(model => model.flagstatus, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label">Catatan <label class="text-red">*</label></label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(model => model.note, new { @class = "form-control", @maxlength = "100" })
                                @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*===== Baris ke 11 =====*@                                                                   

                        @*BAGIAN DETAIL*@
                        <div class="box-header">
                            <h4 class="box-title"><strong>Detail Checklist Dokumen</strong></h4>
                        </div>
                        <div class="box-body">
                            <div class="col-sm-12" style="padding-top: 12px;">
                                <div class="pull-right">
                                    <span class="input-group">
                                        <button type="button" id="btngetdoc" class="btn btn-primary" data-toggle="modal" data-target="#modal-getdok">
                                            <i class="fa fa-plus"></i>
                                            Tambah
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr role="row">
                                            <th>alldata</th>
                                            <th>No.</th>
                                            <th>Dokumen</th>
                                            <th>Asli</th>
                                            <th>Copy</th>
                                            <th>Catatan</th>                                             
                                            <th>Opsi</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        @*AKHIR BAGIAN DETAIL*@

                    </div><!-- /.container-fluid -->
            </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                           Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                 @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>

                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                if (@Model.flagstatus == "In Process" | @Model.flagstatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                    }
                                }
                            }

                        </div>
                    </div>
                  <!-- /.box-footer -->
                  }
            </div>
        </div>
    </div>
    @* MODAL UNTUK FORM SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>Tgl SO</th>
                                    <th>Customer</th>
                                    <th>RAB No.</th>
                                    <th>Project</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@
      
    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Customer</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK EXPEDISI *@
    <div class="modal fade" id="modal-exp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Expedisi</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalexp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Kota</th>
                                    <th>No. Telp</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK EXPEDISI *@

    @* MODAL UNTUK DPAR *@
    <div class="modal fade" id="modal-dpar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Down Payment</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModaldpar" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DP No.</th>
                                    <th>Tanggal</th>
                                    <th>Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DPAR *@
    
    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-getdok">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Dokumen</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Nomer</th>
                                    <th>Deskripsi</th>
                                    <th>Grup</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@    
</section>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
// AWAL FUNCTION DOCUMENT READY//
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        //SELECT SO//
        $("#tblModalSO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSO = $("#tblModalSO").DataTable();
        tblModalSO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0]);
            var dp = removeCommas($("#amtdpar").val());
            var sisa = parseFloat(alldata.soitemgrandtotalamt - dp);
            $("#soitemno").val(alldata.soitemno);
            $("#soitemmstoid").val(alldata.soitemmstoid);
            $("#rabmstoid").val(alldata.rabmstoid)
            $("#rabno").val(alldata.rabno)
            $("#reqrabmstoid").val(alldata.reqrabmstoid)
            $("#reqrabno").val(alldata.reqrabno)
            $("#projectno").val(alldata.projectname)
            $("#amtinvoice").val(addCommas(alldata.soitemgrandtotalamt))
            $("#aramtsisa").val(addCommas(sisa))
            $('#modal-so').modal('hide');
        });
        //END SELECT SO//

        //SELECT CUSTOMER//
        var tblModalCust = $("#tblModalCust").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $('#modal-cust').modal('hide');
        });
        //END CUSTOMER//
       
        //SELECT EXPEDISI//
        $("#tblModalexp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalexp = $("#tblModalexp").DataTable();
        tblModalexp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalexp.row($tr).data();
            var alldata = JSON.parse(data[0]);
            $("#expname").val(alldata.expname);
            $("#expoid").val(alldata.expoid);
            $('#modal-exp').modal('hide');
        });
        //END SELECT EXPEDISI//

        //SELECT DPAR//
        $("#tblModaldpar").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModaldpar = $("#tblModaldpar").DataTable();
        tblModaldpar.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModaldpar.row($tr).data();
            var alldata = JSON.parse(data[0]);
            var inv = removeCommas($("#amtinvoice").val());
            var sisa = parseFloat(inv - alldata.dparamt);
            $("#amtdpar").val(addCommas(alldata.dparamt));
            $("#aramtsisa").val(addCommas(sisa));
            $("#dparoid").val(alldata.dparoid);
            $('#modal-dpar').modal('hide');
        });
        //END SELECT DPAR//

        //set value date//
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#checkdocdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#residate").val();
        } else {
            tgl3 = $("#createtime").val();
        }
        tglIndo(tgl3, '.datepicker2');

        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        FillDetailData();

        $('#amtdpar').val(addCommas($('#amtdpar').val()));
        $('#amtinvoice').val(addCommas($('#amtinvoice').val()));
        $('#aramtsisa').val(addCommas($('#aramtsisa').val()));
    })
    // END FUNCTION DOCUMENT READY//

    //Pop Up Data Header
    $("#btnsearchso").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == '') {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan pilih Customer terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }

        var table = $('#tblModalSO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { custoid: custoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.soitemno,
                    moment(val.soitemdate).format('DD/MM/YYYY'),
                    val.custname,
                    val.rabno,
                    val.projectname
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    //Pop Up Data Header
    $("#btnsearchexp").click(function () {
        var table = $('#tblModalexp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetExpData"))", 
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.expname,
                        val.expaddr,
                        val.gndesc,
                        val.expphone1,
                        val.expemail
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchdpar").click(function () {
        var custoid = $("#custoid").val();
        if (custoid == '') {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan pilih Customer terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var table = $('#tblModaldpar').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDPARData"))",
            data: { custoid: custoid },
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.dparno,
                    moment(val.dpardate).format('DD/MM/YYYY'),
                    addCommas(val.dparamt),
                    val.dparnote
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });
     
    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custcode,
                    val.custname,
                    val.custaddr
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    //Pop Up Data Detail
    //sequence,gnoid,gndesc,gngroup
    $("#btngetdoc").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDokumen"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    val.sequence, 
                    val.gndesc,
                    val.gngroup
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        var tgl =  $("#createtime").val();
        var a = "";
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.seq,
                    val.docname,
                    '<input type="checkbox" style="max-width: 150px" id="docasli-' + val.seq + '" name="docasli-' + val.seq + '" value="' + val.docasli + '">',
                    '<input type="checkbox" style="max-width: 150px" id="doccopy-' + val.seq + '" name="doccopy-' + val.seq + '" value="' + val.doccopy + '">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="notedetail-' + val.seq + '" name="notedetail-' + val.seq + '" value="' + (val.notedetail == null ? "" : val.notedetail) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>' ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $.each(data, function (key, val) {
                    val.docasli == 1 ? $("#docasli-" + val.seq + "").prop('checked', true) : $("#docasli-" + val.seq + "").prop('checked', false);
                    val.doccopy == 1 ? $("#doccopy-" + val.seq + "").prop('checked', true) : $("#doccopy-" + val.seq + "").prop('checked', false);
                });
            }, 100);
        });
    }
    
    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                var i = 0;
                if (!IsOnDtl(alldata.gnoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        seq: id,
                        refoid: alldata.gnoid,
                        docname: alldata.gndesc,
                        docasli: 0,
                        doccopy: 0,
                        notedetail: ""
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id, 
                        alldata.gndesc,
                       '<input type="checkbox" style="max-width: 150px" id="docasli-' + id + '" name="docasli-' + id + '" value="">',
                       '<input type="checkbox" style="max-width: 150px" id="doccopy-' + id + '" name="doccopy-' + id + '" value="">',
                       '<input type="text" class="form-control" style="max-width: 150px" id="notedetail-' + id + '" name="notedetail-' + id + '" value="">',
                       '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        }) 
    }

    function IsOnDtl(refoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (refoid == alldata.refoid) {
                return true;
            }
        }
        return false;
    }

    //function formatNumber(num) {
    //    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    //}

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var docasli = table.$("#docasli-" + alldata.seq).is(":checked") == true ? 1 : 0;
            var doccopy = table.$("#doccopy-" + alldata.seq).is(":checked") == true ? 1 : 0;
            var notedetail = table.$("#notedetail-" + alldata.seq).val();

            var obj = {
                seq: i + 1,
                refoid: alldata.refoid,
                docname: alldata.docname,
                docasli: docasli,
                doccopy: doccopy,
                notedetail: notedetail
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        $('#amtinvoice').val(removeCommas($('#amtinvoice').val()));
        $('#aramtsisa').val(removeCommas($('#aramtsisa').val()));
        $('#amtdpar').val(removeCommas($('#amtdpar').val()));
        SetDataDtl();
    });

    $("#btnPost").click(function () {
        $("#flagstatus").val('Post');
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    function clickDelete() {
        var oid = $("#checkdocmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Deleted!',
                          'Data has been deleted.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Delete Failed!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

    function initDDLprab() {
        var ddl = $("input:radio[name=rabtypereq]:checked").val();
        if (ddl == "None"){
            $("#lblprab").hide(); $("#divprab").hide();
        } else {
            $("#lblprab").show(); $("#divprab").show();
        }
    }

</script>
