﻿@model IEnumerable<APIS_WB.Controllers.Transaction.CheckDokController.listdok>

@{
    ViewBag.Title = "CheckDok";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Checklist Dokumen
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-lefp">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5>@ViewBag.DDTitle
                                        <span class="caret"></span></h5></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-align: left;"><a href="Index"><h5>Semua Data In Process</h5></a></li>
                                        <li style="text-align: left;"><a href="#" role="button" data-toggle="modal" data-target="#modal-custom-filter"><h5>Custom Filter</h5></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="datatable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Draft No.</th>
                                            <th>Checklist No.</th> 
                                            <th>Tgl. Dokumen</th>
                                            <th>Customer</th>
                                            <th>Project</th>
                                            <th>No. RAB</th> 
                                            <th>No. SO</th>                                            
                                            <th>Expedisi</th>
                                            <th>no. Surat</th>
                                            <th>Status</th>
                                            <th>CLD</th>
                                            <th>TT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int a = 0;
                                            foreach (var i in Model)
                                            {
                                                a++;
                                                <tr>
                                                    <td>
                                                        <a href="Form?id=@Html.DisplayFor(m => i.checkdocmstoid)" class="text-primary">@Html.DisplayFor(m => i.checkdocmstoid)</a>
                                                    </td>
                                                    <td>@Html.DisplayFor(m => i.checkdocno)</td>
                                                    <td>@i.checkdocdate.ToString("dd/MM/yyyy")</td>
                                                    <td>@Html.DisplayFor(m => i.custname)</td>
                                                    <td>@Html.DisplayFor(m => i.projectname)</td>
                                                    <td>@Html.DisplayFor(m => i.rabno)</td>
                                                    <td>@Html.DisplayFor(m => i.soitemno)</td>
                                                    <td>@Html.DisplayFor(m => i.expname)</td>
                                                    <td>@Html.DisplayFor(m => i.nosurat)</td>
                                                    <td>@Html.DisplayFor(m => i.flagstatus)</td>
                                                    <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReport(@Html.DisplayFor(m => i.checkdocmstoid))"><i class="fa fa-print"></i></button></td>
                                                    <td class="text-center"><button title="Print" type="button" class="btn btn-sm btn-primary" onclick="PrintReportTT(@Html.DisplayFor(m => i.checkdocmstoid))"><i class="fa fa-print"></i></button></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                <form action="Index" method="post" class="form-horizontal">
                    <div class="modal-body">
                        @Html.Hidden("filter", "CF")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Dari</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sampai</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var isvisible = false;
        var displaycol = $('#DisplayCol').val();
        if (displaycol == "normal")
            isvisible = true;
        $('#datatable').DataTable ({
            "columnDefs": [
                {
                   // "targets": [1],
                    "visible": isvisible,
                    "searchable": isvisible
                }
            ]
        });
    });

    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };

    function PrintReportTT(id) {
        window.location.assign("@Url.Action("PrintReportTT")?id=" + id + "");
    };
</script>
