﻿@model IEnumerable<APIS_WB.Controllers.Master.MataUangController.listcurr>

@{
    ViewBag.Title = "Mata Uang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mata Uang
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>No Draft</th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Simbol</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.curroid)" class="text-primary">@Html.DisplayFor(m => i.curroid)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.currcode)</td>
                                                <td>@Html.DisplayFor(m => i.currdesc)</td>
                                                <td>@Html.DisplayFor(m => i.currsymbol)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
