﻿@model APIS_WB.Models.DB.QL_assetmst

@{
    ViewBag.Title = "Asset Revaluation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Asset Revaluation</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Asset Revaluation Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*@Html.HiddenFor(model => model.periodacctg) //3*@
                        @Html.HiddenFor(model => model.assetdate)
                        @Html.Hidden("tglmst") 
                        @*@Html.HiddenFor(model => model.reftype) //6
                        @Html.HiddenFor(model => model.refoid) //7
                        @Html.HiddenFor(model => model.assetpurchase) //9
                        @Html.HiddenFor(model => model.assetpurchaseidr) //10

                        @Html.HiddenFor(model => model.assetpurchaseusd) //11
                        @Html.HiddenFor(model => model.assetvalueidr) //13
                        @Html.HiddenFor(model => model.assetvalueusd) /14
                        @Html.HiddenFor(model => model.assetaccumdep) //15
                        @Html.HiddenFor(model => model.assetaccumdepidr) //16
                        @Html.HiddenFor(model => model.assetaccumdepusd) //17

                        @Html.HiddenFor(model => model.assetdepvalueidr) //21
                        @Html.HiddenFor(model => model.assetdepvalueusd) //22
                        @Html.HiddenFor(model => model.assetmststatus) //24
                        @Html.HiddenFor(model => model.assetmstres1) //25
                        @Html.HiddenFor(model => model.assetmstres2) //26
                        @Html.HiddenFor(model => model.assetmstres3) //27*@
                        @Html.HiddenFor(model => model.createuser) @*//28*@
                        @Html.HiddenFor(model => model.createtime) @*//30*@    

                        @Html.HiddenFor(model => model.upduser) @*31*@
                        @Html.HiddenFor(model => model.updtime) @*32*@
                        @Html.HiddenFor(model => model.curroid) @*34*@
                        @Html.HiddenFor(model => model.rateoid) @*35*@
                        @Html.HiddenFor(model => model.rate2oid) @*36*@
                        @Html.HiddenFor(model => model.assetdepdate) @*37*@
                        @Html.HiddenFor(model => model.inprogacctgoid) @*38*@
                        @Html.HiddenFor(model => model.closeuser) @*39*@
                        @Html.HiddenFor(model => model.closetime) @*40*@

                        @*@Html.HiddenFor(model => model.assetmstflag) //41
                        @Html.HiddenFor(model => model.solduser) //42
                        @Html.HiddenFor(model => model.soldtime) //43
                        @Html.HiddenFor(model => model.shipmentuser) //44
                        @Html.HiddenFor(model => model.shipmenttime) //45
                        @Html.HiddenFor(model => model.disposeuser) //46
                        @Html.HiddenFor(model => model.disposetime) //47
                        @Html.HiddenFor(model => model.shipmentamt) //48
                        @Html.HiddenFor(model => model.shipmentamtidr) //49
                        @Html.HiddenFor(model => model.shipmentamtusd) //50

                        @Html.HiddenFor(model => model.revaluser) //51
                        @Html.HiddenFor(model => model.revaltime) //52
                        @Html.HiddenFor(model => model.disposeacctgoid) //53
                        @Html.HiddenFor(model => model.mtrwhoid) //54*@

                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Department <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model => Model.deptoid, null, "-", new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Business Unit -- Department*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Fixed Assets <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.assetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchasset" class="btn btn-flat" data-toggle="modal" data-target="#modal-asset">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.assetmstoid)
                                            @Html.ValidationMessageFor(model => model.assetmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Start Period</label>
                                        <div class="col-md-4">
                                            @Html.Editor("startperiod", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Assets In Progress -- Start Period*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Assets Account <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model => Model.assetacctgoid, null, "-", new { @class = "form-control select2", @readonly = "" })
                                            @Html.ValidationMessageFor(model => model.assetacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Assets Value</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.assetvalue, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Assets Account -- Assets Value*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Accum. Dep. Account <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model => Model.accumdepacctgoid, null, "-", new { @class = "form-control select2", @readonly = "" })
                                            @Html.ValidationMessageFor(model => model.accumdepacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Depreciation Account <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(Model => Model.depacctgoid, null, "-", new { @class = "form-control select2", @readonly = "" })
                                            @Html.ValidationMessageFor(model => model.depacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Accum. Dep. Account -- Depreciation Account*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sisa Depreciation <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.assetdepmonth, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "4" } }) <span class="input-group-addon text-red">Month</span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.assetdepmonth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Depreciation Value</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.assetdepvalue, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Sisa Depreciation -- Depreciation Value*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.assetmstnote, new { @class = "form-control", @maxlength = "500" })
                                            @Html.ValidationMessageFor(model => model.assetmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div> @*Header Note*@
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Asset Revaluation Detail</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnGenerate"><b>Generate Detail Data</b></button>
                                <button type="button" class="btn btn-default btn-md" id="btnReset" style="display:none"><b>Reset Detail Data</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Period</th>
                                        <th>Value</th>
                                        <th>Depreciation</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                //<h6><b>VAR_PURC_RECEIVED | VAR_PPN_IN | VAR_AP</b></h6>
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (ViewBag.action == "Create")
                            {
                                <button type="submit" class="btn btn-warning btn-md" id="btnSave" style="display:none"><b>Terbitkan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                            }
                            
                        }
                    </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM Asset *@
    <div class="modal fade" id="modal-asset">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Asset</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalAsset" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Asset</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM Asset *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tblModalAsset").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalAsset = $("#tblModalAsset").DataTable();
        tblModalAsset.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalAsset.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#assetno").val(alldata.assetno);
            $("#assetmstoid").val(alldata.assetmstoid);
            $("#refoid").val(alldata.refoid);
            $("#startperiod").val(alldata.startperiod);
            $("#assetacctgoid").val(alldata.assetacctgoid).trigger('change');
            $("#assetvalue").val(addCommas(alldata.assetvalue));
            $("#accumdepacctgoid").val(alldata.accumdepacctgoid).trigger('change');
            $("#depacctgoid").val(alldata.depacctgoid).trigger('change');
            $("#assetdepmonth").val(addCommas(alldata.assetdepmonth));
            var value = parseFloat(removeCommas($("#assetvalue").val()));
            var month = parseFloat(removeCommas($("#assetdepmonth").val()));
            if (value > 0) {
                $("#assetdepvalue").val(addCommas(Math.round(value / month)));
            }
            $('#modal-asset').modal('hide');
        });

        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            var mrtitemno = table.row($tr).data()[2];
            var data = table.rows().data();
            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (data[j][2] == mrtitemno) {
                    table.row(j).remove().draw();
                }
                else {
                    j++;
                }
            }
            e.preventDefault();
            EnabledHeader();
            //CountHdrAmount();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        $("#assetdepmonth").blur(function () {
            var value = parseFloat(removeCommas($("#assetvalue").val()));
            var month = parseFloat(removeCommas($("#assetdepmonth").val()));
            if (value > 0) {
                $("#assetdepvalue").val(addCommas(Math.round(value / month)));
            }
        })

        $('#assetvalue').val(addCommas($('#assetvalue').val()));
        $('#assetdepmonth').val(addCommas($('#assetdepmonth').val()));
        $('#assetdepvalue').val(addCommas($('#assetdepvalue').val()));

        if ($('#action').val() == "Edit") {
            $('#btnReset').show(); $('#btnGenerate').hide(); EnabledHeader();
        }

        var tgl2 = "";
        tgl2 = $("#assetdate").val();
        $('#tglmst').val(moment(tgl2).format('DD/MM/YYYY'));

        FillDetailData();
    }) // End Page Load

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchasset").click(function () {
        var table = $('#tblModalAsset').DataTable();
        var deptoid = $("#deptoid").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetAssetData"))",
            data: { deptoid: deptoid},
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.assetno,
                    val.refcode,
                    val.reflongdesc
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.assetdtlseq,
                    val.assetdtlres1,
                    addCommas(val.assetperiodvalue),
                    addCommas(val.assetperioddep)
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        });
    }

    $("#btnGenerate").click(function () {
        if ($("#assetdepmonth").val() == 0) {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan isi Depreciation terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        isValid = true;
        var tbldtl = $('#DataDtl').DataTable();
        var month = new Array(12);
        month[1] = "Januari";
        month[2] = "Februari";
        month[3] = "Maret";
        month[4] = "April";
        month[5] = "Mei";
        month[6] = "Juni";
        month[7] = "Juli";
        month[8] = "Agustus";
        month[9] = "September";
        month[10] = "Oktober";
        month[11] = "November";
        month[12] = "Desember";

        var startperiod = $("#startperiod").val();

        var iMonth = startperiod.substring(4);
        var iMonths = iMonth.substring(0,1);
        if (iMonth.substring(0, 1) == "0") {
            iMonth = startperiod.substring(5);
        }
        else
        {
            iMonth = startperiod.substring(4);
        }
        var iYear = startperiod.substring(0, 4);

        var iMonths = month[iMonth];
        var depMonth = parseFloat(removeCommas($("#assetdepmonth").val()));
        var dValue = parseFloat(removeCommas($("#assetdepvalue").val()));
        var dDepValue = parseFloat(removeCommas($("#assetvalue").val())) - dValue;

        for (var i = 0 ; i < parseFloat(depMonth) ; i++) {
            if (isValid) {
                var id = tbldtl.rows().data().length + 1;
                var bln = month[iMonth];
                var obj = {
                    assetdtlseq: id,
                    assetmonth: iMonth,
                    assetyear: iYear,
                    assetperiod: iYear + (iMonth <= 9 ? '0' : '') + iMonth,
                    assetperiodvalue: dValue,
                    assetperioddep: dDepValue,
                    assetdtlres1: bln + ' ' + iYear
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    bln + " " + iYear,
                    addCommas(dValue),
                    addCommas(dDepValue)
                ]).draw();
                iMonth = parseFloat(iMonth) + 1;
                if (iMonth > 12) {
                    iMonth = 1;
                    iYear = parseFloat(iYear) + 1;
                }
                dDepValue -= parseFloat(Math.round(dValue));
                if (i == parseFloat(depMonth - 1)) {
                    dValue += parseFloat(dDepValue);
                    dDepValue = 0;
                }
            }
        }
        $('#btnReset').show(); $('#btnGenerate').hide(); EnabledHeader();
    });

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var depacctgoid = $("#depacctgoid").val();
        var accumdepacctgoid = $("#accumdepacctgoid").val();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                assetdtlseq: i + 1,
                assetmonth: alldata.assetmonth,
                assetyear: alldata.assetyear,
                assetperiod: alldata.assetperiod,
                assetdtlres1: alldata.assetdtlres1,
                assetperiodvalue: alldata.assetperiodvalue,
                assetperiodvalueidr: alldata.assetperiodvalue,
                //assetrecperiodvalueusd: alldata.apitemprice,
                assetperioddep: alldata.assetperioddep,
                assetperioddepidr: alldata.assetperioddep,
                //assetrecperioddepusd: alldata.apitemdtltaxamt,
                periodacctgoid: depacctgoid,
                perioddepacctgoid: accumdepacctgoid,
                //assetrecdtlnote: apitemdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }

    $("#btnSave").click(function () {
        $('#assetvalue').val(removeCommas($('#assetvalue').val()));
        $('#assetdepmonth').val(removeCommas($('#assetdepmonth').val()));
        $('#assetdepvalue').val(removeCommas($('#assetdepvalue').val()));
        SetDataDtl();
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnReset").click(function () {
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $('#btnReset').hide(); $('#btnGenerate').show(); EnabledHeader();
    });

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#btnsearchasset").attr("disabled", bVal);
    }
</script>