﻿@model IEnumerable<APIS_WB.Controllers.Transaction.ARController.viewindex>

@{
    ViewBag.Title = "Asset Revaluation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>List Asset Revaluation</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                </div>
                <div class="box-body">
                    @Html.Hidden("DisplayCol")
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5>@ViewBag.DDTitle  <span class="caret"></span></h5></a>
                                    <ul class="dropdown-menu">
                                        <li style="text-align: left;"><a href="Index"><h5>Semua Data In Process</h5></a></li>
                                        <li style="text-align: left;"><a href="#" role="button" data-toggle="modal" data-target="#modal-custom-filter"><h5>Custom Filter</h5></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Assets No.</th>
                                        <th>Type</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Note</th>
                                        <th>Department</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var i in Model)
                                        {
                                            <tr>
                                                <td class="text-center"><a href="Form?id=@Html.DisplayFor(m => i.assetmstoid)" class="text-primary">@Html.DisplayFor(m => i.assetno)</a></td>
                                                <td>@Html.DisplayFor(m => i.reftype)</td>
                                                <td>@Html.DisplayFor(m => i.refcode)</td>
                                                <td>@Html.DisplayFor(m => i.reflongdesc)</td>
                                                <td>@Html.DisplayFor(m => i.assetmstnote)</td>
                                                <td>@Html.DisplayFor(m => i.deptname)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-custom-filter">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Custom Filter</h4>
                </div>
                <form action="Index" method="post" class="form-horizontal">
                    <div class="modal-body">
                        @Html.Hidden("filter", "CF")
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Dari</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodfrom", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sampai</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("filterperiodto", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-md" id="btnGo"><b>Go</b></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        
    });

    

    function PrintReport(id) {
        window.location.assign("@Url.Action("PrintReport")?id=" + id + "");
    };
</script>