﻿@model APIS_WB.Models.DB.QL_mstjasa

@{
    ViewBag.Title = "Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Jasa
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <!-- /.box-header -->
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.jasaoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>                            

                            <div class="form-group">
                                <label class="col-sm-2 control-label">RAB Draft <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.HiddenFor(model => model.rabmstoid_draft)
                                        @Html.HiddenFor(model => model.rabdtloid4_draft)
                                    </div>
                                    @Html.ValidationMessageFor(model => model.rabmstoid_draft, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kode <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.jasacode, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.jasacode, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Deskripsi <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.jasadesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "300" } })
                                    @Html.ValidationMessageFor(model => model.jasadesc, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Satuan <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.jasaunitoid, null, new { @id = "jasaunitoid", @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.jasaunitoid, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Akun Biaya</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.acctgoid, null, new { @id = "acctgoid", @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(model => model.activeflag, "ACTIVE", new { @checked = "checked", @required = "" })
                                    ACTIVE
                                    @Html.RadioButtonFor(model => model.activeflag, "INACTIVE", new { @required = "" })
                                    INACTIVE
                                </div>

                                <label class="col-sm-2 control-label">Tipe Jasa</label>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(model => model.jasatype, "Jasa", new { @checked = "checked", @required = "", @onchange = "gencode()" })
                                    Jasa
                                    @Html.RadioButtonFor(model => model.jasatype, "Item Lain", new { @required = "", @onchange = "gencode()" })
                                    Item Lain
                                </div>
                            </div>                          
                        </div>                      


                        <div class="box-footer">
                            <div class="pull-left">
                                Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                                    <h6><b>VAR_EXPENSE</b></h6>
                                }

                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success" id="btnSave"><b>Simpan</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default"><b>Kembali</b></a>
                            </div>
                        </div>

                        </div>
                            }
                       <!-- /.box-body -->
                 </div>
            </div>
        </div>

        @* MODAL UNTUK  RAB *@
        <div class="modal fade" id="modal-rab">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Data RAB</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>other</th>
                                        <th></th>
                                        <th>No RAB</th>
                                        <th>Tgl RAB</th>
                                        <th>Customer</th>
                                        <th>Tipe RAB</th>
                                        <th>Nama Project</th>
                                        <th>Barang</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK REV RAB *@
    </section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        var tblModalRAB = $("#tblModalRAB").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabmstoid_draft").val(alldata.rabmstoid_draft);
            $("#rabdtloid4_draft").val(alldata.rabdtloid4_draft);
            $("#rabno").val(alldata.rabno);
            $("#jasadesc").val(alldata.itemdesc);
            $('#modal-rab').modal('hide');
        });

        if ($('#action').val() == "Update Data") {
            $("input:radio[name=jasatype]:not(:checked)").attr('disabled', 'true');
        }
    });

    function gencode() {
        var tipe = $("input:radio[name=jasatype]:checked").val();
        $.ajax({
            url: "@(Url.Action("Getcode"))",
            data: { tipe: tipe },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#jasacode").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    //Pop Up Data Header
    $("#btnsearchrab").click(function () {
        var table = $('#tblModalRAB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.custname,
                        val.rabtype,
                        val.projectname,
                        val.itemdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>