﻿@model APIS_WB.Models.DB.QL_trnpretitemmst

@{
    ViewBag.Title = "Retur Penerimaan Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Retur Penerimaan Jasa</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header Retur Penerimaan Barang</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.pretitemmstoid)
                        @Html.HiddenFor(model => model.pretitemdate)
                        @Html.HiddenFor(model => model.pretitemmstres1)
                        @Html.HiddenFor(model => model.pretitemmstres2)
                        @Html.HiddenFor(model => model.pretitemmstres3)                        
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>    
                            @*===== Baris ke 1 =====*@                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Retur</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.pretitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-6">                                            
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })                                            
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.pretitemdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>                                            
                                        </div>
                                        @Html.HiddenFor(model => model.suppoid)
                                        @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. PB<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("mritemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpb" class="btn btn-flat" data-toggle="modal" data-target="#modal-mr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.mritemmstoid)
                                        @Html.ValidationMessageFor(model => model.mritemmstoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>                             
                            </div> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Project</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                @Html.HiddenFor(model => model.rabmstoid)
                                                @Html.HiddenFor(model => model.rabmstoid_awal)
                                            </div>
                                            @Html.ValidationMessageFor(model => model.rabmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen</label>
                                        <div class="col-md-8">
                                            @Html.Editor("departemen", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                            @*===== Baris ke 4 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.pretitemmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.pretitemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>     
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.pretitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.pretitemmststatus } })
                                        </div>
                                    </div>
                                </div>                           
                            </div>                                
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Detail Retur Penerimaan Jasa</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row" style="display:none">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gudang</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("pretitemwhoid", null, new { @class = "form-control select2" })
                                        </div>
                                        @Html.Hidden("pretitemw")
                                        @Html.Hidden("shipmentwhoid")
                                        @Html.Hidden("shipmentwh")
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right" style="display:none">
                                <span class="input-group">
                                    <button type="button" id="btnitem" class="btn btn-primary" data-toggle="modal" data-target="#modal-item">
                                        <i class="fa fa-plus"></i>
                                        Tambah
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Kode</th>
                                        <th>PID</th>
                                        <th>Serial<br/>Number</th>
                                        <th>Deskripsi</th>
                                        <th>Qty PB</th>
                                        <th>Qty Stok</th>
                                        <th>Qty Retur</th>
                                        <th>Satuan</th>
                                        <th>Catatan</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                <h6><b>VAR_STOCK | VAR_PURC_RECEIVED</b></h6>
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.pretitemmststatus == "In Process" | @Model.pretitemmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }
                        
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM PB *@
    <div class="modal fade" id="modal-mr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Penerimaan Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Penerimaan</th>
                                    <th>Tgl Penerimaan</th>
                                    <th>PO No.</th>  
                                    <th>Project</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM PB *@

    @* MODAL UNTUK FORM SUPP *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SUPP *@

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Kode</th>
                                    <th>PID</th>
                                    <th>Deskripsi</th>
                                    <th>Qty PB</th>
                                    <th>Qty Stok</th>
                                    <th>Satuan</th>
                                    <th>Gudang</th>                                                            
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 3, 4, 7, 10],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            //var id = table.row($tr).data()[1];
            //var shno = table.row($tr).data()[2];
            //var data = table.rows().data();
            //var j = 0;
            //for (var i = 0 ; i < data.length; i++) {
            //    table.row(j).remove().draw();
            //}
	        //SetDataDtl(); FillDetailData();
            //e.preventDefault();
            //$("#mritemmstoid").val("");
            //$("#mritemno").val("");
            //EnabledHeader();
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#pretitemdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalPB").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalPB = $("#tblModalPB").DataTable();
        tblModalPB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#mritemmstoid").val(alldata.mritemmstoid);
            $("#mritemno").val(alldata.mritemno);
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#rabmstoid_awal").val(alldata.rabmstoid_awal);
            $("#projectname").val(alldata.projectname);
            $("#departemen").val(alldata.departemen);
            GetDetailData();
            $('#modal-mr').modal('hide');
        });

        $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppoid").val(alldata.suppoid);
            $("#suppname").val(alldata.suppname);
            $('#modal-supp').modal('hide');
        });
        
        FillDDLWarehouse();
        FillDetailData();
    })

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchpb").attr("disabled", bVal);
    }

    function GetDetailData() {
        var mritemmstoid = $("#mritemmstoid").val();
        var pretitemmstoid = $("#pretitemmstoid").val();
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDetailData"))",
            data: { mritemmstoid: mritemmstoid, pretitemmstoid: pretitemmstoid },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                var obj = {
                    pretitemdtlseq: ++i,
                    mritemdtloid: val.mritemdtloid,
                    pretitemwhoid: val.pretitemwhoid,
                    itemoid: val.itemoid,
                    itemcode: val.itemcode,
                    itemdesc: val.itemdesc,
                    refno: val.refno,
                    serialnumber: val.serialnumber,
                    qtystok: val.qtystok,
                    mritemqty: val.mritemqty,
                    pretitemqty: val.pretitemqty,
                    pretitemunit: val.pretitemunit,
                    pretitemunitoid: val.pretitemunitoid,
                    pretitemdtlnote: val.pretitemdtlnote
                }
                rows.push([
                    JSON.stringify(obj),
                    i,
                    val.itemcode,
                    val.refno,
                    val.serialnumber,
                    val.itemdesc,
                    val.mritemqty,
                    val.qtystok,
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pretitemqty-' + i + '" name="pretitemqty-' + i + '" value="' + addCommas(val.pretitemqty) + '">',
                    val.pretitemunit,
                    '<input type="text" class="form-control" style="max-width: 150px" id="pretitemdtlnote-' + i + '" name="pretitemdtlnote-' + i + '" value="' + (val.pretitemdtlnote == null ? "" : val.pretitemdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                EnabledHeader();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });

    SetDataDtl();
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.pretitemdtlseq,
                    val.itemcode,
                    val.refno,
                    val.serialnumber,
                    val.itemdesc,
                    addCommas(val.mritemqty),
                    addCommas(val.qtystok),
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="pretitemqty-' + val.pretitemdtlseq + '" name="pretitemqty-' + val.pretitemdtlseq + '" value="' + addCommas(val.pretitemqty) + '">',
                    val.pretitemunit,
                    '<input type="text" class="form-control" id="pretitemdtlnote-' + val.pretitemdtlseq + '" name="pretitemdtlnote-' + val.pretitemdtlseq + '" value="' + (val.pretitemdtlnote == null ? "" : val.pretitemdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                //$("#DataDtl .select2").select2();
                //$.each(data, function (key, val) {
                    //$("#transitemfromwhoid-" + val.transitemdtlseq + "").val(val.transitemfromwhoid).trigger("change");
                    //FillStockWH(val.pretitemdtlseq, val.itemoid, val.refno, val.pretitemwhoid);
                //});
                EnabledHeader();
            }, 100);
        });
    }

    function FillDDLWarehouse() {
        var pretitemwhoid = $("#pretitemwhoid");
        var pretitemwhoid_sel = $("#pretitemwhoid option:selected").val();
        pretitemwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWarehouse"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.genoid == pretitemwhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    pretitemwhoid.html(markup).show();
                    if (isExist == true) {
                        pretitemwhoid.val(pretitemwhoid_sel);
                    }
                    pretitemwhoid.trigger('change');
                } else {
                    pretitemwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
                $("#pretitemw").val(markup);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillStockWH(id, itemoid, refno, mtrwhoid) {
        var markup = "";
        var url = "@(Url.Action("InitStockWH"))";
        var whfrom = mtrwhoid;
        //var whfrom = $("#mtrwhoid-" + id + "").val();
        
        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom, itemoid: itemoid, refno: refno },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#qtystok-"+ id +"").val(val.stokakhir);
                    });                    
                }
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchpb").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var table = $('#tblModalPB').DataTable();
        table.clear().draw();
        var suppoid = $('#suppoid').val();
        $.ajax({
            url: "@(Url.Action("GetPBData"))",
            cache: false,
            type: "POST",
            data: { suppoid: suppoid},
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.mritemno,
                        moment(jsDate(val.mritemdate)).format('DD/MM/YYYY'),
                        val.poitemno,
                        val.projectname
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            cache: false,
            async : false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.suppcode,
                    val.suppname,
                    val.suppaddr,
                    val.suppphone
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    //Pop Up Data Detail
    $("#btnitem").click(function () {
        if ($("#mritemno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih No. Penerimaan Barang Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var table = $('#tblModalDtl').DataTable();
        var whoid = $('#pretitemwhoid').val();
        var mritemmstoid = $('#mritemmstoid').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            data: { whoid: whoid, mritemmstoid: mritemmstoid },
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    val.itemseq,
                    val.itemcode,
                    val.refno,
                    val.itemdesc,
                    addCommas(val.mritemqty),
                    addCommas(val.qtystok),
                    val.itemunit,
                    val.pretitemwh                    
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.mritemdtloid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        pretitemdtlseq: id,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        refno: alldata.refno,
                        itemdesc: alldata.itemdesc,
                        pretitemunitoid: alldata.itemunitoid,
                        pretitemunit: alldata.itemunit,
                        qtystok: alldata.qtystok,
                        mritemqty: alldata.mritemqty,
                        pretitemwhoid: alldata.pretitemwhoid,
                        pretitemwh: alldata.pretitemwh,
                        mritemdtloid: alldata.mritemdtloid
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.itemcode,
                        alldata.refno,
                        alldata.itemdesc,
                        alldata.pretitemwh,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="mritemqty-' + id + '" name="mritemqty-' + id + '" value="' + addCommas(alldata.mritemqty) + '" readonly="">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="qtystok-' + id + '" name="qtystok-' + id + '" value="' + addCommas(alldata.qtystok) + '" readonly="">',
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="pretitemqty-' + id + '" name="pretitemqty-' + id + '" value="'+ addCommas(alldata.mritemqty) +'">',
                        alldata.itemunit,
                        '<input type="text" class="form-control" id="pretitemdtlnote-' + id + '" name="pretitemdtlnote-' + id + '" >',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    $("#DataDtl .select2").select2();
                }
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(mritemdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (mritemdtloid == alldata.mritemdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var pretitemqty = removeCommas(table.$("#pretitemqty-" + alldata.pretitemdtlseq).val());
            var pretitemdtlnote = table.$("#pretitemdtlnote-" + alldata.pretitemdtlseq).val();
            
                var obj = {
                pretitemdtlseq: i + 1,
                mritemdtloid: alldata.mritemdtloid,
                pretitemwhoid: alldata.pretitemwhoid,
                pretitemwh: alldata.pretitemwh,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                refno: alldata.refno,
                serialnumber: alldata.serialnumber,
                mritemqty: alldata.mritemqty,
                pretitemqty: pretitemqty,
                qtystok: alldata.qtystok,
                pretitemunit: alldata.pretitemunit,
                pretitemunitoid: alldata.pretitemunitoid,
                pretitemdtlnote: pretitemdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }


    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#pretitemmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#pretitemmstoid").val();        
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid},
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

</script>