﻿@model APIS_WB.Models.DB.QL_mstitem

@{
    ViewBag.Title = "Barang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Barang
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <!-- /.box-header -->
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.itemoid)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">RAB Draft <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.HiddenFor(model => model.rabmstoid_draft)
                                        @Html.HiddenFor(model => model.rabdtloid_draft)
                                        @Html.HiddenFor(model => model.rabdtloid2_draft)
                                    </div>
                                    @Html.ValidationMessageFor(model => model.rabmstoid_draft, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kategori 1 <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.cat1code, null, new { @class = "form-control select2", @onchange = "fillDDLcat2()", @required = "" })
                                    @Html.ValidationMessageFor(model => model.cat1code, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Kategori 2 <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.cat2code, null, new { @class = "form-control select2", @onchange = "fillDDLcat3()", @required = "" })
                                    @Html.ValidationMessageFor(model => model.cat2code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kategori 3 <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.cat3code, null, new { @class = "form-control select2", @onchange = "fillDDLcat4()", @required = "" })
                                    @Html.ValidationMessageFor(model => model.cat3code, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Kategori 4 <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.cat4code, null, new { @class = "form-control select2", @onchange = "fillcode()", @required = "" })
                                    @Html.ValidationMessageFor(model => model.cat4code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kode <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.itemcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "30", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.itemcode, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Deskripsi <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.itemdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "300" } })
                                    @Html.ValidationMessageFor(model => model.itemdesc, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tipe Barang <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(model => model.itemtype, "Barang", new { @checked = "checked", @required = "", @onchange = "fillcode()" })
                                    Barang
                                    @Html.RadioButtonFor(model => model.itemtype, "Rakitan", new { @required = "", @onchange = "fillcode()" })
                                    Rakitan
                                    @Html.RadioButtonFor(model => model.itemtype, "Asset", new { @required = "", @onchange = "fillcode()" })
                                    Asset
                                    @Html.RadioButtonFor(model => model.itemtype, "Ongkir", new { @required = "", @onchange = "fillcode()" })
                                    Ongkir
                                    @Html.RadioButtonFor(model => model.itemtype, "Jasa", new { @required = "", @onchange = "fillcode()" })
                                    Jasa
                                </div>

                                <label class="col-sm-2 control-label">Satuan <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.itemunitoid, null, new { @id = "itemunitoid", @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.itemunitoid, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Harga SRP </label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.itempricesrp, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.itempricesrp, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Harga Dealer </label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.itempricedealer, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.itempricedealer, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Harga MD </label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.itempricemd, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.itempricemd, "", new { @class = "text-danger" })
                                </div>

                                <label class="col-sm-2 control-label">Min Qty Harga MD </label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.itempricemdminqty, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.itempricemdminqty, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="divassettype">
                                <label class="col-sm-2 control-label">Account Asset</label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.assetacctgoid, null, new { @class = "form-control select2" })
                                    @Html.ValidationMessageFor(model => model.assetacctgoid, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="divjasatype">
                                <label class="col-sm-2 control-label">Tipe Akun Jasa</label>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(model => model.jasatype, "PENDAPATAN", new { @checked = "checked", @required = "" })
                                    PENDAPATAN
                                    @Html.RadioButtonFor(model => model.jasatype, "PENJUALAN LAIN", new { @required = "" })
                                    PENJUALAN LAIN
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(model => model.activeflag, "ACTIVE", new { @checked = "checked", @required = "" })
                                    ACTIVE
                                    @Html.RadioButtonFor(model => model.activeflag, "INACTIVE", new { @required = "" })
                                    INACTIVE
                                </div>

                                <label class="col-sm-2 control-label">Tipe PID</label>
                                <div class="col-sm-4">
                                     @Html.RadioButtonFor(model => model.pidtype, "PID", new { @checked = "checked", @required = "" })
                                        PID
                                     @Html.RadioButtonFor(model => model.pidtype, "NONE", new { @required = "" })
                                        NONE
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Specification </label>
                                <div class="col-sm-4">
                                    @Html.TextAreaFor(model => model.itemspec, new { @class = "form-control", @type = "text", @maxlength = "350" })
                                    @Html.ValidationMessageFor(model => model.itemspec, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Foto Barang </label>
                                        <div class="col-md-8">
                                            <input type="file" class="form-control" onchange="previewitemimage(this);" id="itemimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                            @Html.HiddenFor(model => model.itemimgfile)
                                            @Html.ValidationMessageFor(model => model.itemimgfile, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tamilkan Di Web Info </label>
                                        <div class="col-md-8">
                                           @Html.RadioButtonFor(model => model.itemwebinfotype, "Tidak", new { @checked = "checked", @required = "" })
                                            Tidak
                                            @Html.RadioButtonFor(model => model.itemwebinfotype, "Ya", new { @required = "" })
                                            Ya
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label"></label>
                                        <div class="col-md-8">
                                            @{
                                                var src1 = Html.DisplayFor(m => m.itemimgfile).ToString();
                                                if (!File.Exists(Server.MapPath(src1)))
                                                {
                                                    src1 = "~/Content/dist/img/preview.png";
                                                }
                                            }
                                            <img id="itemimg-preview" alt="your image" src="@Url.Content(src1)" style="max-width:200px; max-height:200px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-header">
                            <h4 class="box-title"><strong>Detail Barang</strong></h4>
                        </div>
                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs pull-left">
                                    <li class="active"><a href="#detail-supplier" data-toggle="tab">Detail Supplier</a></li>
                                    <li><a href="#detail-rakitan" data-toggle="tab">Detail Rakitan</a></li>
                                </ul>
                                <div class="col-md-1" style="margin-left: 550px;padding-top: 8px;">
                                    <div class="input-group">
                                    </div>
                                </div>
                                <div class="tab-content no-padding">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="detail-supplier" style="position: relative;">
                                        <div style="margin-left: 20px;" align="right">

                                            <!-- Button trigger modal -->
                                            <button type="button" id="btnAddToListSupp" class="btn btn-success btn-md btn-flat-margin" data-toggle="modal" data-target="#modal-detail">
                                                <i class="fa fa-plus"></i>
                                                Tambah
                                            </button>                                            
                                        </div>
                                        <table id="DataDtl" class="table table-striped" style="width: 100%">
                                            <thead>
                                                <tr role="row">
                                                    <th>other</th>
                                                    <th>No.</th>
                                                    <th>Kode Supplier</th>
                                                    <th>Nama Supplier</th>
                                                    <th>Opsi</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table><br>

                                    </div>

                                    <div class="chart tab-pane" id="detail-rakitan" style="position: relative;">
                                        <div style="margin-left: 20px;" align="right">

                                            <!-- Button trigger modal -->
                                            <button type="button" id="btnAddToListdtl2" class="btn btn-success btn-md btn-flat-margin" data-toggle="modal" data-target="#modal-detail2">
                                                <i class="fa fa-plus"></i>
                                                Tambah
                                            </button>
                                        </div>
                                        <table id="DataDtl2" class="table table-striped" style="width: 100%">
                                            <thead>
                                                <tr role="row">
                                                    <th>other</th>
                                                    <th>No.</th>
                                                    <th>Kode </th>
                                                    <th>Deskripsi</th>
                                                    <th>Satuan</th>
                                                    <th>Opsi</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table><br>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="box-footer">
                            <div class="pull-left">
                                Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                }

                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success" id="btnSave"><b>Simpan</b></button>
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default"><b>Kembali</b></a>
                            </div>
                        </div>

                        </div>
                            }
                       <!-- /.box-body -->
                 </div>
            </div>
        </div>

        @* MODAL UNTUK FORM DETAIL SUPPLIER *@
        <div class="modal fade" id="modal-detail">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">SUPPLIER</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>other</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK FORM DETAIL Supplier *@

        <!-- Modal Rakitan................ -->
        <div class="modal fade" id="modal-detail2">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Detail Rakitan</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalDtl2" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>other</th>
                                        <th></th>
                                        <th>Kode Barang</th>
                                        <th>Nama Barang</th>
                                        <th>Satuan</th>
                                        <th>Tipe</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default btn-md" onclick="AddToDetail2()" data-dismiss="modal">Add To Detail</button>
                    </div>
                </div>
            </div>
        </div>
        @* Akir modal Rakitan............................ *@

        @* MODAL UNTUK  RAB *@
        <div class="modal fade" id="modal-rab">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Data RAB</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>other</th>
                                        <th></th>
                                        <th>No RAB</th>
                                        <th>Tgl RAB</th>
                                        <th>Customer</th>
                                        <th>Tipe RAB</th>
                                        <th>Nama Project</th>
                                        <th>Barang</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                    </div>
                </div>
            </div>
        </div>
        @* AKHIR MODAL UNTUK REV RAB *@
    </section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        var table2 = $('#DataDtl2').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table2.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[1];
            table2.row($tr).remove().draw();
            SetDataDtl2(); FillDetailData2();
            var data = table2.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table2.row(i).data();
                    temp[1] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var tblModalDtl2 = $("#tblModalDtl2").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [1],
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        var tblModalRAB = $("#tblModalRAB").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabmstoid_draft").val(alldata.rabmstoid_draft);
            $("#rabdtloid_draft").val(alldata.rabdtloid_draft);
            $("#rabdtloid2_draft").val(alldata.rabdtloid2_draft);
            $("#rabno").val(alldata.rabno);
            $("#itemdesc").val(alldata.itemdesc);
            $("input:radio[name=itemtype]:checked").val(alldata.itemtype);
            fillcode();
            $('#modal-rab').modal('hide');
        });

        if ($("#action").val() == "Update Data") {
            $("#cat1code").attr("readonly", true);
            $("#cat2code").attr("readonly", true);
            $("#cat3code").attr("readonly", true);
            $("#cat4code").attr("readonly", true);
            $("input:radio[name=pidtype]:not(:checked)").attr('disabled', true);
            $("input:radio[name=itemtype]:not(:checked)").attr('disabled', true);
            $("#btnsearchrab").prop("disabled", true);
        } else {
            $("#cat1code").trigger("change");
        }

        changeJasa(); changeAsset();
        FillDetailData();
        FillDetailData2()

        $('#itempricesrp').val(addCommas($('#itempricesrp').val()))
        $('#itempricedealer').val(addCommas($('#itempricedealer').val()))
        $('#itempricemd').val(addCommas($('#itempricemd').val()))
        $('#itempricemdminqty').val(addCommas($('#itempricemdminqty').val()))
    })

    function previewitemimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#itemimg-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#itemimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#itemimgfile').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.itemdtlseq,
                    val.suppcode,
                    val.suppname,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    function FillDetailData2() {
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.itemdtl2seq,
                    val.itemrefcode,
                    val.itemrefdesc,
                    val.itemrefunit,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    //Pop Up Data Header
    $("#btnsearchrab").click(function () {
        var table = $('#tblModalRAB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.custname,
                        val.rabtype,
                        val.projectname,
                        val.itemdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnAddToListSupp").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    val.itemdtlseq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.suppcode,
                        val.suppname,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnAddToListdtl2").click(function () {
        var table = $('#tblModalDtl2').DataTable();
        var cmp = $("#cmpcode").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("Getdtl2Data"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    val.itemdtl2seq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.itemrefcode,
                        val.itemrefdesc,
                        val.itemrefunit,
                        val.itemtype
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.suppoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        itemdtlseq: id,
                        suppoid: alldata.suppoid,
                        suppcode: alldata.suppcode,
                        suppname: alldata.suppname
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.suppcode,
                        alldata.suppname,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
    }

    function AddToDetail2() {
        var isValid = true;
        var table = $('#tblModalDtl2').DataTable();
        var tbldtl = $('#DataDtl2').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl2(alldata.itemrefoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        itemdtl2seq: id,
                        itemrefoid: alldata.itemrefoid,
                        itemrefcode: alldata.itemrefcode,
                        itemrefdesc: alldata.itemrefdesc,
                        itemrefunitoid: alldata.itemrefunitoid,
                        itemrefunit: alldata.itemrefunit
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.itemrefcode,
                        alldata.itemrefdesc,
                        alldata.itemrefunit,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl2();
    }

    function IsOnDtl(suppoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (suppoid == alldata.suppoid) {
                return true;
            }
        }
        return false;
    }

    function IsOnDtl2(itemrefoid) {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemrefoid == alldata.itemrefoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.itemdtlseq = i + 1;
            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtl2() {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.itemdtl2seq = i + 1;
            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails2"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $('#itempricesrp').val(removeCommas($('#itempricesrp').val()));
        $('#itempricedealer').val(removeCommas($('#itempricedealer').val()));
        $('#itempricemd').val(removeCommas($('#itempricemd').val()));
        $('#itempricemdminqty').val(removeCommas($('#itempricemdminqty').val()));
        SetDataDtlAll();
    });

    function SetDataDtlAll() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.itemdtlseq = i + 1;
            rows.push(alldata);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            alldata.itemdtl2seq = i + 1;
            rows2.push(alldata);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2 }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    //isi DDL cat2
    function fillDDLcat2() {
        var cat1 = $("#cat1code option:selected").val();
        $("#cat2code").html("<option value=''> Please wait...</option>").show();
        $.ajax({
            url: "@(Url.Action("Getcat2"))",
            data: { cat1: cat1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.cat2code + "\'>" + val.cat2shortdesc + "</option>";
                    });
                    console.log(data.tbl);
                    $("#cat2code").html(markup).show();
                    $("#cat2code").trigger('change');
                    fillDDLcat3(); fillDDLcat4(); fillcode();
                } else {
                    $("#cat2code").html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    //isi DDL cat3
    function fillDDLcat3() {
        var cat1 = $("#cat1code option:selected").val();
        var cat2 = $("#cat2code option:selected").val();
        $("#cat3code").html("<option value=''> Please wait...</option>").show();
        $.ajax({
            url: "@(Url.Action("Getcat3"))",
            data: { cat1: cat1, cat2: cat2 },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.cat3code + "\'>" + val.cat3shortdesc + "</option>";
                    });
                    console.log(data.tbl);
                    $("#cat3code").html(markup).show();
                    $("#cat3code").trigger('change');
                    fillDDLcat4(); fillcode();
                } else {
                    $("#cat3code").html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    //isi DDL cat4
    function fillDDLcat4() {
        var cat1 = $("#cat1code option:selected").val();
        var cat2 = $("#cat2code option:selected").val();
        var cat3 = $("#cat3code option:selected").val();
        $("#cat4code").html("<option value=''> Please wait...</option>").show();
        $.ajax({
            url: "@(Url.Action("Getcat4"))",
            data: { cat1: cat1, cat2: cat2, cat3: cat3 },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.cat4code + "\'>" + val.cat4shortdesc + "</option>";
                    });
                    console.log(data.tbl);
                    $("#cat4code").html(markup).show();
                    $("#cat4code").trigger('change');
                    fillcode();
                } else {
                    $("#cat4code").html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function changeJasa() {
        var itemtype = $("input:radio[name=itemtype]:checked").val();
        $('#divjasatype').hide();
        if (itemtype == "Jasa") {
            $('#divjasatype').show();
        }
    }

    function changeAsset() {
        var itemtype = $("input:radio[name=itemtype]:checked").val();
        $('#divassettype').hide();
        if (itemtype == "Asset") {
            $('#divassettype').show();
        }
    }

    function fillcode() {
        changeJasa(); changeAsset();
        var cat1 = $("#cat1code option:selected").val();
        var cat2 = $("#cat2code option:selected").val();
        var cat3 = $("#cat3code option:selected").val();
        var cat4 = $("#cat4code option:selected").val();
        var code = cat1 + "." + cat2 + "." + cat3 + "." + cat4 + ".";
        var itemtype = $("input:radio[name=itemtype]:checked").val();

        $('#itemcode').val("Please Wait...");
        $.ajax({
            url: "@(Url.Action("Getcode"))",
            data: { code: code, itemtype: itemtype },
            cache: false,
            type: "POST",
            success: function (data) {
                $('#itemcode').val(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function clickDelete() {
        var oid = $("#itemoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }
</script>