﻿@model APIS_WB.Controllers.Other.WaitingActionController.waitactmodel

@{
    ViewBag.Title = "Data Menunggu Persetujuan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.TransName</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.mstoid)
                    @Html.HiddenFor(model => model.cmpcode)
                    @Html.HiddenFor(model => model.tblname)
                    @Html.Hidden("action")
                    // TABLE HEADER SECTION
                    <div class="box-header">
                        <h3 class="box-title"><b><u>@ViewBag.BusinessUnit</u></b></h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6" style="overflow-x: auto;">
                                <table id="dtapphdr" class=" table-striped table-bordered" style="width: 100%;"></table>
                            </div>
                        </div>
                    </div>
                    <div class="box-header">
                        <h5><b><u>@ViewBag.TransName Detail Data</u></b></h5>
                    </div>

                    // LABEL INFO SECTION
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <b><span class="text-danger" id="appinfo"></span></b>
                            </div>
                        </div>
                    </div>

                    // TABLE DETAIL SECTION
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs pull-left">
                                        <li class="active"><a href="#detail-app" data-toggle="tab"><b>@(@ViewBag.namaTabel == "QL_trnrabmst" ? "Detail Penjualan" : "Detail Transaksi")</b></a></li>
                                        @{ if (@ViewBag.namaTabel == "QL_trnrabmst")
                                            {
                                                <li class=""><a href="#detail-app2" data-toggle="tab"><b>Detail Pembelian</b></a></li>
                                                <li class=""><a href="#detail-app3" data-toggle="tab" style="display:none"><b>Detail Penjualan Jasa</b></a></li>
                                                <li class=""><a href="#detail-app4" data-toggle="tab"><b>Detail Pembelian Jasa</b></a></li>
                                                <li class=""><a href="#detail-app5" data-toggle="tab"><b>Detail Biaya</b></a></li>
                                            }
                                        }                                       
                                    </ul>
                                    <div class="tab-content no-padding">
                                        <div class="chart tab-pane active " id="detail-app" style="overflow-x: auto">
                                            <div style="padding-top: 12px;">
                                                <b><span id="totalrows"></span></b>
                                                <table id="dtappdtl" class="table table-striped table-bordered" style="width: 100%;"></table>  
                                            </div>
                                        </div>
                                        @{ if (@ViewBag.namaTabel == "QL_trnrabmst")
                                            {
                                                <div class="chart tab-pane" id="detail-app2" style="overflow-x: auto">
                                                    <div style="padding-top: 12px;">
                                                        <b><span id="totalrows2"></span></b>
                                                        <table id="dtappdtl2" class="table table-striped table-bordered" style="width: 100%;"></table>
                                                    </div>
                                                </div>
                                                <div class="chart tab-pane" id="detail-app3" style="overflow-x: auto; display:none">
                                                    <div style="padding-top: 12px;">
                                                        <b><span id="totalrows3"></span></b>
                                                        <table id="dtappdtl3" class="table table-striped table-bordered" style="width: 100%;"></table>
                                                    </div>
                                                </div>
                                                <div class="chart tab-pane" id="detail-app4" style="overflow-x: auto">
                                                    <div style="padding-top: 12px;">
                                                        <b><span id="totalrows4"></span></b>
                                                        <table id="dtappdtl4" class="table table-striped table-bordered" style="width: 100%;"></table>
                                                    </div>
                                                </div>
                                                <div class="chart tab-pane" id="detail-app5" style="overflow-x: auto">
                                                    <div style="padding-top: 12px;">
                                                        <b><span id="totalrows5"></span></b>
                                                        <table id="dtappdtl5" class="table table-striped table-bordered" style="width: 100%;"></table>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>

                        // TABLE FOOTER SECTION
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6" style="overflow-x: auto;">
                                    <table id="dtappftr" class="table-striped table-bordered" style="width: 100%;"></table>
                                </div>
                            </div>
                        </div>

                        //Reason
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2" style="overflow-x: auto;">
                                    <b>Note Alasan </b>
                                </div>
                                <div class="col-md-6" style="overflow-x: auto;">
                                    <input type="text" class="form-control" id="reasonnote" style="width:100%" maxlength="200">
                                </div>
                            </div>
                        </div>


                        // BUTTON ACTION SECTION
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" id="btnSubmit" style="display: none;">Submit</button>
                                <button type="button" class="btn btn-success btn-md" id="btnApprove" onclick="ApprovalAction('Approve')"><b>Approve</b></button>
                                <button type="button" class="btn btn-primary btn-md" id="btnRevise" onclick="ApprovalAction('Revise')"><b>Revise</b></button>
                                <button type="button" class="btn btn-danger btn-md" id="btnReject" onclick="ApprovalAction('Reject')"><b>Reject</b></button>
                                <a href="@Url.Action("Index/" + Model.tblname)" type="button" class="btn btn-default btn-md"><b>Back</b></a>
                            </div>
                        </div>
                        }
                    </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var id = $('#mstoid').val();
        var cmp = $('#cmpcode').val();
        var tblname = $('#tblname').val();

        $.ajax({
            url: "@(Url.Action("GetDataApproval"))",
            data: { id: id, cmp: cmp, tblname: tblname },
            cache: false,
            type: "POST",
            success: function (data) {
                var rowshdr = [];
                var colsdtl = [];
                var rowsdtl = [];
                var colsdtl2 = [];
                var rowsdtl2 = [];
                var colsdtl3 = [];
                var rowsdtl3 = [];
                var colsdtl4 = [];
                var rowsdtl4 = [];
                var colsdtl5 = [];
                var rowsdtl5 = [];
                var rowsftr = [];

                if (data.msg == "") {
                    // Set Data for Header
                    $.each(data.rowshdr, function (key, val) {
                        var row = Object.values(val);
                        rowshdr.push(row);
                    });
                    $('#dtapphdr').dataTable({
                        "data": rowshdr,
                        "ordering": false,
                        "searching": false,
                        "paging": false,
                        "info": false,
                        "autoWidth": false,
                        "columnDefs": [
                            { className: "text-bold col-md-4", "targets": [0] },
                            { className: "col-md-8", "targets": [1] }
                        ],
                        "drawCallback": function (settings) {
                            $("#dtapphdr thead").hide();
                        }
                    });

                    // Set Data for Information
                    $('#appinfo').html(data.info);

                    // Set Data for Detail
                    $.each(data.colsdtl, function (key, val) {
                        var obj = {
                            title: val
                        }
                        colsdtl.push(obj);
                    });
                    var i = 0; var ii = 0;
                    if (tblname == 'QL_trnstockadj'){
                        $.each(data.rowsdtl, function (key, val) {
                            val.No = ++ii;
                            rowsdtl.push([
                            ii,
                            JSON.stringify(val),
                            val.mstoid,
                            val.dtloid,
                            val.itemoid,
                            val.refno,
                            val.whoid,
                            val.rabmstoid,
                            val.Kode,
                            val.Deskripsi,
                            val.serialnumber,
                            val.Gudang,
                            addCommas(val.Stock),
                            addCommas(val.Opname),
                            addCommas(val.Selisih),
                            val.Satuan,
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 150px" id="stockvalue-' + val.No + '" name="stockvalue-' + val.No + '" value="' + addCommas(val.Hpp) + '">',
                            val.Catatan
                            ]);
                            i++;
                        });
                    } else {
                        $.each(data.rowsdtl, function (key, val) {
                            var row = Object.values(val);
                            rowsdtl.push(row);
                            i++;
                        });
                    }

                    $('#totalrows').html('Total Rows : ' + i.toString());
                    var tblDtl = null;
                    if (tblname == 'QL_trnstockadj') {
                        tblDtl = $('#dtappdtl').dataTable({
                            "columns": colsdtl,
                            "data": rowsdtl,
                            "ordering": false,
                            "searching": false,
                            "paging": false,
                            "info": false,
                            "autoWidth": false,
                            "columnDefs": [
                                {
                                    "targets": [1, 2, 3, 4, 5, 6, 7],
                                    "visible": false
                                }
                            ]
                        });
                    } else {
                        tblDtl = $('#dtappdtl').dataTable({
                            "columns": colsdtl,
                            "data": rowsdtl,
                            "ordering": false,
                            "searching": false,
                            "paging": false,
                            "info": false,
                            "autoWidth": false

                        });
                    }
                    
                    tblDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
                        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
                        if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                            e.preventDefault();
                        }
                    });
                    tblDtl.on("keypress input", ".allownumericwithoutdecimal", function (e) {
                        $(this).val($(this).val().replace(/[^\d].+/, ""));
                        if ((e.which < 48 || e.which > 57)) {
                            e.preventDefault();
                        }
                    });
                    tblDtl.on("blur", ".allownumericwithdecimal", function (e) {
                        var x = $(this).val();
                        if (x == null) { x = 0 };
                        var parts = x.toString().split(".");
                        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        var fin = "";
                        for (var i = 0 ; i < parts.length; i++) {
                            if (i == 0) {
                                fin += parts[i];
                            } else {
                                fin += "." + parts[i];
                            }
                        }
                        $(this).val(fin);
                    });

                    // Set Data for Detail 2
                    if (data.rowsdtl2 != null) {
                        if (data.rowsdtl2.length > 0) {
                            $.each(data.colsdtl2, function (key, val) {
                                var obj = {
                                    title: val
                                }
                                colsdtl2.push(obj);
                            });
                            var i2 = 0;
                            $.each(data.rowsdtl2, function (key, val) {
                                var row = Object.values(val);
                                rowsdtl2.push(row);
                                i2++;
                            });
                            $('#totalrows2').html('Total Rows : ' + i2.toString());
                            var tblDtl2 = null;
                            tblDtl2 = $('#dtappdtl2').dataTable({
                                "columns": colsdtl2,
                                "data": rowsdtl2,
                                "ordering": false,
                                "searching": false,
                                "paging": false,
                                "info": false,
                                "autoWidth": false

                            });
                        }
                    }

                    // Set Data for Detail 3
                    if (data.rowsdtl3 != null) {
                        if (data.rowsdtl3.length > 0 ) {
                            $.each(data.colsdtl3, function (key, val) {
                                var obj = {
                                    title: val
                                }
                                colsdtl3.push(obj);
                            });
                            var i3 = 0;
                            $.each(data.rowsdtl3, function (key, val) {
                                var row = Object.values(val);
                                rowsdtl3.push(row);
                                i3++;
                            });

                            $('#totalrows3').html('Total Rows : ' + i3.toString());
                            var tblDtl3 = null;
                            tblDtl3 = $('#dtappdtl3').dataTable({
                                "columns": colsdtl3,
                                "data": rowsdtl3,
                                "ordering": false,
                                "searching": false,
                                "paging": false,
                                "info": false,
                                "autoWidth": false

                            });
                        }
                    }               

                    // Set Data for Detail 4
                    if (data.rowsdtl4 != null) {
                        if (data.rowsdtl4.length > 0) {
                            $.each(data.colsdtl4, function (key, val) {
                                var obj = {
                                    title: val
                                }
                                colsdtl4.push(obj);
                            });
                            var i4 = 0;
                            $.each(data.rowsdtl4, function (key, val) {
                                var row = Object.values(val);
                                rowsdtl4.push(row);
                                i4++;
                            });

                            $('#totalrows4').html('Total Rows : ' + i4.toString());
                            var tblDtl4 = null;
                            tblDtl4 = $('#dtappdtl4').dataTable({
                                "columns": colsdtl4,
                                "data": rowsdtl4,
                                "ordering": false,
                                "searching": false,
                                "paging": false,
                                "info": false,
                                "autoWidth": false

                            });
                        }  
                    }

                    // Set Data for Detail 5
                    if (data.rowsdtl5 != null) {
                        if (data.rowsdtl5.length > 0) {
                            $.each(data.colsdtl5, function (key, val) {
                                var obj = {
                                    title: val
                                }
                                colsdtl5.push(obj);
                            });
                            var i5 = 0;
                            $.each(data.rowsdtl5, function (key, val) {
                                var row = Object.values(val);
                                rowsdtl5.push(row);
                                i5++;
                            });

                            $('#totalrows5').html('Total Rows : ' + i5.toString());
                            var tblDtl5 = null;
                            tblDtl5 = $('#dtappdtl5').dataTable({
                                "columns": colsdtl5,
                                "data": rowsdtl5,
                                "ordering": false,
                                "searching": false,
                                "paging": false,
                                "info": false,
                                "autoWidth": false

                            });
                        }     
                    }

                    // Set Data for Footer
                    $.each(data.rowsftr, function (key, val) {
                        var row = Object.values(val);
                        rowsftr.push(row);
                    });
                    if (rowsftr.length > 0)
                    {
                        $('#dtappftr').dataTable({
                            "data": rowsftr,
                            "ordering": false,
                            "searching": false,
                            "paging": false,
                            "info": false,
                            "autoWidth": false,
                            "columnDefs": [
                                { className: "text-bold col-md-4", "targets": [0] },
                                { className: "text-right col-md-8", "targets": [1] }
                            ],
                            "drawCallback": function (settings) {
                                $("#dtappftr thead").hide();
                            }
                        });
                    }
                }
                else
                {
                    swal('', data.msg, 'info');
                }
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    function SetDataDtl() {
        var table = $('#dtappdtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][1]);
            var stockvalue_id = "#stockvalue-" + alldata.No;
            var stockvalue = removeCommas(table.$(stockvalue_id).val());
            var refno = "";
            if (alldata.refno != "") {
                refno = parseInt(removeCommas(alldata.refno)).toString();
            }
            var serialnumber = "";
            if(alldata.serialnumber != ""){
                serialnumber = removeCommas(alldata.serialnumber).toString();
            }
            var obj = {
                stockadjoid: parseInt(removeCommas(alldata.dtloid)),
                resfield1: parseInt(removeCommas(alldata.mstoid)),
                itemoid: parseInt(removeCommas(alldata.itemoid)),
                refno: refno,
                serialnumber: serialnumber,
                mtrwhoid: parseInt(removeCommas(alldata.whoid)),
                rabmstoid: parseInt(removeCommas(alldata.rabmstoid)),
                stockadjqty: removeCommas(alldata.Selisih),
                stockvalue: removeCommas(stockvalue)
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function ApprovalAction(action) {
        var tblname = $('#tblname').val();
        var rv = $("#reasonnote").val();
        var flag = "true";
        var noteReason = 'Note Alasan Tidak Boleh Kosong !!!';
        if (tblname == 'QL_trnstockadj') {
            var table = $('#dtappdtl').DataTable();
            var dataDtl = table.rows().data();
            for (var i = 0 ; i < dataDtl.length; i++) {
                var alldata = JSON.parse(dataDtl[i][1]);
                var stockvalue_id = "#stockvalue-" + alldata.No;
                var stockvalue = removeCommas(table.$(stockvalue_id).val());
                if (stockvalue == "") {
                    flag = false;
                    var noteReason = 'Value Tidak Boleh Kosong !!!';
                    break;
                } else {
                    if (stockvalue == 0) {
                        flag = false;
                        var noteReason = 'Value Tidak Boleh 0 !!!';
                        break;
                    }
                }
            }
            if (flag == "true") {
                SetDataDtl();
            }  
        }
        if (action == "Revise") {
            if (rv == "") {
                flag = false;
            }
            SetRevisedNote();
        }
        else if (action == "Reject")
        {
            if (rv == "") {
                flag = false;
            }
            SetRejectedNote();
        }

        if (flag == "true") {
            $("#action").val(action + (action == "Reject" ? "e" : "") + "d");
            var token = $('input[name="__RequestVerificationToken"]').val();
            Swal({
                title: 'Are you sure to ' + action.toUpperCase() + ' this data?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes, ' + action + ' this data!'
            }).then((result) => {
                if (result.value) {
                    setTimeout(function () {
                        $("#btnSubmit").click();
                    }, 100)
                }
            });
        }
        else {
            Swal({
                title: 'WARNING!',
                text: noteReason,
                type: 'warning'
            });
        }        
    }

    function SetRevisedNote() {
        var rv = $("#reasonnote").val();

        $.ajax({
            url: "@(Url.Action("setrevisednote"))",
            data: { rv: rv },
        cache: false,
        type: "POST",
        success: function (data) {

        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function SetRejectedNote() {
        var rj = $("#reasonnote").val();

        $.ajax({
            url: "@(Url.Action("setrejectednote"))",
            data: { rj: rj },
        cache: false,
        type: "POST",
        success: function (data) {

        },
        error: function (err) {
            console.log(err);
        }
    });
    }
</script>