﻿@model APIS_WB.Models.DB.QL_trnapretitemmst

@{
    ViewBag.Title = "Retur Faktur Beli Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Retur Faktur Beli Jasa</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header Retur Faktur Beli Jasa</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.apretitemmstoid)
                        @Html.HiddenFor(model => model.apretitemdate)
                        @Html.HiddenFor(model => model.apretitemmstres1)
                        @Html.HiddenFor(model => model.apretitemmstres2)                     
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("type")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>    
                            @*===== Baris ke 1 =====*@                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Retur Faktur Beli</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apretitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-6">                                            
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })                                            
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.apretitemdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Retur</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.apretitemtype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Belum Lunas", Value="Belum di Bayar" },
                                                new SelectListItem { Text="Lunas", Value="Lunas" }
                                            }, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.apretitemtype, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mata Uang</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>                                            
                                        </div>
                                        @Html.HiddenFor(model => model.suppoid)
                                        @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. Faktur Beli<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("apitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchfb" class="btn btn-flat" data-toggle="modal" data-target="#modal-fb">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.apitemmstoid)
                                        @Html.ValidationMessageFor(model => model.apitemmstoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>                             
                            </div>
                            @*===== Baris ke 4 =====*@ 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Nama Project</label>
                                        <div class="col-sm-6">
                                            @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                            @Html.ValidationMessage("projectname", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Departemen</label>
                                        <div class="col-sm-6">
                                            @Html.Editor("departemen", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30", @readonly = "" } })
                                            @Html.ValidationMessage("projectname", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                               
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total FB</label>
                                        <div class="col-md-6">
                                            @Html.Editor("apitemgrandtotal", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Retur</label>
                                        <div class="col-md-6">
                                            @Html.Editor("apretitemgrandtotal", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                    
                            @*===== Baris ke 5 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.apretitemmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.apretitemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>     
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apretitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.apretitemmststatus } })
                                        </div>
                                    </div>
                                </div>                           
                            </div>                                
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Detail Retur Faktur Beli Jasa</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Kode</th>
                                        <th>Deskripsi</th>
                                        <th>PID</th>
                                        <th>Serial<br/>Number</th>
                                        <th>Qty FB</th>
                                        <th>Qty</th>
                                        <th>Satuan</th>
                                        <th>Price</th>
                                        <th>Total</th>
                                        <th>Disc(%)</th>
                                        <th>Tax(%)</th>
                                        <th>Tax Amt</th>
                                        <th>Netto</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                <h6><b>VAR_STOCK | VAR_PPN_IN | VAR_AP | VAR_DP_AP_RETUR | VAR_CASH_AP_RETUR</b></h6>
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.apretitemmststatus == "In Process" | @Model.apretitemmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }
                        
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM PB *@
    <div class="modal fade" id="modal-fb">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Faktur Beli</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. FB</th>
                                    <th>Tgl. FB</th>
                                    <th>Grand Total</th>
                                    <th>No. PO</th>
                                    <th>Project</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM PB *@

    @* MODAL UNTUK FORM SUPP *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Phone</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SUPP *@

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Kode</th>
                                    <th>PID</th>
                                    <th>Deskripsi</th>
                                    <th>Qty PB</th>
                                    <th>Qty Stok</th>
                                    <th>Satuan</th>
                                    <th>Gudang</th>                                                            
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 4, 5],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            //var id = table.row($tr).data()[1];
            //var mrtitemno = table.row($tr).data()[2];
            //var data = table.rows().data();
            //var j = 0;
            //for (var i = 0 ; i < data.length; i++) {
            //    if (data[j][2] == mrtitemno) {
            //        table.row(j).remove().draw();
            //    }
            //    else {
            //        j++;
            //    }
            //}
            //e.preventDefault();
            //EnabledHeader();
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });


        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#apretitemdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalFB").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalFB = $("#tblModalFB").DataTable();
        tblModalFB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalFB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#apitemmstoid").val(alldata.apitemmstoid);
            $("#apitemno").val(alldata.apitemno);
            $("#projectname").val(alldata.projectname);
            $("#departemen").val(alldata.departemen);
            $("#apitemgrandtotal").val(addCommas(alldata.apitemgrandtotal));
            GetDetailData();
            $('#modal-fb').modal('hide');
        });

        $("#tblModalSupp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppoid").val(alldata.suppoid);
            $("#suppname").val(alldata.suppname);
            $('#modal-supp').modal('hide');
        });
        
        FillDDLWarehouse();
        FillDetailData();

        $("#apretitemtype").change(function () {
            ClearData();
        });

        $('#apitemgrandtotal').val(addCommas($('#apitemgrandtotal').val()));
    })

    function ClearData() {
        $("#apitemno").val("");
        $("#apitemmstoid").val("");
        $("#apitemgrandtotal").val("");
        $("#suppoid").val("");
        $("#suppname").val("");
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
    }

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.apretitemdtlseq,
                    val.itemcode,
                    val.itemdesc,
                    val.refno,
                    val.serialnumber,
                    addCommas(val.apitemqty),
                   '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemqty-' + val.apretitemdtlseq + '" name="apretitemqty-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemqty) + '" onblur="hitung(' + val.apretitemdtlseq + ')">',
                    val.apretitemunit,
                   '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemprice-' + val.apretitemdtlseq + '" name="apretitemprice-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemprice) + '" readonly="">',
                   '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtlamt-' + val.apretitemdtlseq + '" name="apretitemdtlamt-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtlamt) + '" readonly="">',
                   '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtldisc-' + val.apretitemdtlseq + '" name="apretitemdtldisc-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtldisc) + '" readonly="">',
                   '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtltaxvalue-' + val.apretitemdtlseq + '" name="apretitemdtltaxvalue-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtltaxvalue) + '" readonly="">',
                   '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtltaxamt-' + val.apretitemdtlseq + '" name="apretitemdtltaxamt-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtltaxamt) + '" readonly="">',
                   '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtlnetto-' + val.apretitemdtlseq + '" name="apretitemdtlnetto-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtlnetto) + '" readonly="">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                SumAmtJual();
                EnabledHeader();
            }, 100);
        });
    }

    function FillDDLWarehouse() {
        var apretitemwhoid = $("#apretitemwhoid");
        var apretitemwhoid_sel = $("#apretitemwhoid option:selected").val();
        apretitemwhoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLWarehouse"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.genoid == apretitemwhoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    apretitemwhoid.html(markup).show();
                    if (isExist == true) {
                        apretitemwhoid.val(apretitemwhoid_sel);
                    }
                    apretitemwhoid.trigger('change');
                } else {
                    apretitemwhoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
                $("#apretitemw").val(markup);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function FillStockWH(id, itemoid, refno, mtrwhoid) {
        var markup = "";
        var url = "@(Url.Action("InitStockWH"))";
        var whfrom = mtrwhoid;
        //var whfrom = $("#mtrwhoid-" + id + "").val();
        
        //alert(whfrom);
        $.ajax({
            url: url,
            data: { whfrom: whfrom, itemoid: itemoid, refno: refno },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#qtystok-"+ id +"").val(val.stokakhir);
                    });                    
                }
            }
        });
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchfb").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var table = $('#tblModalFB').DataTable();
        table.clear().draw();
        var type = $('#apretitemtype').val();
        var suppoid = $('#suppoid').val();
        var curroid = $('#curroid option:selected').val();
        $.ajax({
            url: "@(Url.Action("GetFBData"))",           
            cache: false,
            type: "POST",
            data: { suppoid: suppoid, type: type, curroid: curroid },
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.apitemno,
                        moment(jsDate(val.apitemdate)).format('DD/MM/YYYY'),
                        addCommas(val.apitemgrandtotal),
                        val.poitemno,
                        val.projectname
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var type = $('#apretitemtype').val();
        var curroid = $('#curroid option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { type: type, curroid: curroid } ,
            cache: false,
            async : false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.suppcode,
                    val.suppname,
                    val.suppaddr,
                    val.suppphone
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    //Pop Up Data Detail   

    function GetDetailData() {
        var url = "@(Url.Action("GetDetailData"))";
        var table = $('#DataDtl').DataTable();
        var apitemmstoid = $("#apitemmstoid").val();
        var apretitemmstoid = $("#apretitemmstoid").val();
        $.ajax({
            url: url,
            data: { apitemmstoid: apitemmstoid, apretitemmstoid: apretitemmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    var apretitemdtldiscamt = 0;
                    val.apretitemdtlamt = val.apretitemqty * val.apretitemprice;
                    if (val.apretitemdtldisc > 0) {
                        apretitemdtldiscamt = (val.apretitemqty * val.apretitemprice) * (val.apretitemdtldisc / 100);
                    } else {
                        apretitemdtldiscamt = 0;
                    }
                    if (val.apretitemdtltaxvalue > 0) {
                        val.apretitemdtltaxamt = (parseFloat(val.apretitemdtlamt) - parseFloat(apretitemdtldiscamt)) * (val.apretitemdtltaxvalue / 100);
                    } else {
                        val.apretitemdtltaxamt = 0;
                    }
                    val.apretitemdtlnetto = parseFloat(val.apretitemdtlamt) - parseFloat(apretitemdtldiscamt) + parseFloat(val.apretitemdtltaxamt);
                    
                    if (!IsOnDtl(val.apitemdtloid)) {
                        val.apretitemdtlseq = ++i;
                        rows.push([
                            JSON.stringify(val),
                            val.apretitemdtlseq,
                            val.itemcode,
                            val.itemdesc,
                            val.refno,
                            val.serialnumber,
                            addCommas(val.apitemqty),
                            '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemqty-' + val.apretitemdtlseq + '" name="apretitemqty-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemqty) + '" onblur="hitung(' + val.apretitemdtlseq + ')">',
                            val.apretitemunit,
                           '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemprice-' + val.apretitemdtlseq + '" name="apretitemprice-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemprice) + '" readonly="">',
                           '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtlamt-' + val.apretitemdtlseq + '" name="apretitemdtlamt-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtlamt) + '" readonly="">',
                           '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtldisc-' + val.apretitemdtlseq + '" name="apretitemdtldisc-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtldisc) + '" readonly="">',
                           '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtltaxvalue-' + val.apretitemdtlseq + '" name="apretitemdtltaxvalue-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtltaxvalue) + '" readonly="">',
                           '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtltaxamt-' + val.apretitemdtlseq + '" name="apretitemdtltaxamt-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtltaxamt) + '" readonly="">',
                           '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apretitemdtlnetto-' + val.apretitemdtlseq + '" name="apretitemdtlnetto-' + val.apretitemdtlseq + '" value="' + addCommas(val.apretitemdtlnetto) + '" readonly="">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    SumAmtJual();
                    EnabledHeader();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl();
    }    

    function IsOnDtl(apitemdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (apitemdtloid == alldata.apitemdtloid) {
                return true;
            }
        }
        return false;
    }

    function hitung(id) {
        var qty = removeCommas($('#apretitemqty-' + id + '').val());
        var price = removeCommas($('#apretitemprice-' + id + '').val());
        var discvalue = removeCommas($('#apretitemdtldisc-' + id + '').val());
        var discamt = 0.0;
        var taxvalue = removeCommas($('#apretitemdtltaxvalue-' + id + '').val());
        var dpp = parseFloat(qty * price); var dppdisc = 0.0;
        if (discvalue > 0) {
            discamt = parseFloat(dpp * (discvalue / 100));
            dppdisc = parseFloat(dpp) - parseFloat(discamt);
        } else {
            dppdisc = dpp;
        }
        var taxamt = 0.0;
        if (taxvalue > 0) {
            taxamt = parseFloat(dppdisc * (taxvalue / 100));
        }
        var netto = parseFloat(dppdisc) + parseFloat(taxamt);
        $('#apretitemdtlamt-' + id + '').val(addCommas(dpp));
        $('#apretitemdtltaxvalue-' + id + '').val(addCommas(taxvalue));
        $('#apretitemdtltaxamt-' + id + '').val(addCommas(taxamt));
        $('#apretitemdtlnetto-' + id + '').val(addCommas(netto));
        SumAmtJual();
    }

    function SumAmtJual() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var netto = 0.0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            var apretitemdtlnetto = removeCommas(table.$("#apretitemdtlnetto-" + alldata.apretitemdtlseq).val());
            netto += parseFloat(apretitemdtlnetto);
        }
        $('#apretitemgrandtotal').val(addCommas(netto.toFixed(2)));
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#apretitemtype").attr("readonly", bVal);
        $("#curroid").attr("readonly", bVal);
        $("#btnsearchfb").attr("disabled", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var apretitemqty = removeCommas(table.$("#apretitemqty-" + alldata.apretitemdtlseq).val());
            var apretitemprice = removeCommas(table.$("#apretitemprice-" + alldata.apretitemdtlseq).val());
            var apretitemdtlamt = removeCommas(table.$("#apretitemdtlamt-" + alldata.apretitemdtlseq).val());
            var apretitemdtldisc = removeCommas(table.$("#apretitemdtldisc-" + alldata.apretitemdtlseq).val());
            var apretitemdtltaxvalue = removeCommas(table.$("#apretitemdtltaxvalue-" + alldata.apretitemdtlseq).val());
            var apretitemdtltaxamt = removeCommas(table.$("#apretitemdtltaxamt-" + alldata.apretitemdtlseq).val());
            var apretitemdtlnetto = removeCommas(table.$("#apretitemdtlnetto-" + alldata.apretitemdtlseq).val());
            var obj = {
                apretitemdtlseq: i + 1,
                apitemdtloid: alldata.apitemdtloid,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc,
                refno: alldata.refno,
                serialnumber: alldata.serialnumber,
                apitemqty: alldata.apitemqty,
                apretitemqty: apretitemqty,
                apretitemprice: apretitemprice,
                apretitemdtlamt: apretitemdtlamt,
                apretitemdtldisc: apretitemdtldisc,
                apretitemdtltaxvalue: apretitemdtltaxvalue,
                apretitemdtltaxamt: apretitemdtltaxamt,
                apretitemdtlnetto: apretitemdtlnetto,
                apretitemunit: alldata.apretitemunit,
                apretitemunitoid: alldata.apretitemunitoid,
                acctgoid: alldata.acctgoid
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }


    $("#btnSave").click(function () {
        $("#type").val($('#apretitemtype').val());
        SetDataDtl();
    });

    $("#btnPost").click(function () {
        $("#type").val($('#apretitemtype').val());
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#apretitemmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#apretitemmstoid").val();        
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid},
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

</script>