﻿@model APIS_WB.Models.DB.QL_m01US

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        User
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form User</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.tgllahir)
                        @Html.HiddenFor(model => model.tglmasuk)
                        @Html.HiddenFor(model => model.tglkeluar)
                        @Html.HiddenFor(model => model.crtuser)
                        @Html.HiddenFor(model => model.crttime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">User<label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.usoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "15" } })
                                    @Html.ValidationMessageFor(model => model.usoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nama User<label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.usname, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.usname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Password <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.uspassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @required = "", @maxlength = "20" } })
                                    @Html.ValidationMessageFor(model => model.uspassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Tipe User <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.ustype, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="USER", Value="user" },
                                    new SelectListItem { Text="ADMIN", Value="admin" }
                            }, new { @class = "form-control select2", @required = "" })
                                    @Html.ValidationMessageFor(model => model.ustype, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.usflag, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                    new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                            }, new { @class = "form-control select2", @required = "" })
                                </div>
                            </div><br>
                            <h3>Informasi Karyawan</h3>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="col-lg-4 control-label">Structure<label class="text-red">*</label></label>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.stoid, null, new { @class = "form-control select2", @required = "" })
                                        @Html.ValidationMessageFor(model => model.stoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-lg-4 control-label">Export Master</label>
                                    <div class="col-lg-8">
                                        @Html.RadioButtonFor(model => model.expmastertype, "No", new { @checked = "checked", @required = "" })
                                        No
                                        @Html.RadioButtonFor(model => model.expmastertype, "Yes", new { @required = "" })
                                        Yes
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>NIK</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.NIK, new { htmlAttributes = new { @class = "form-control", @type = "text", @required="", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.NIK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Jabatan</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.Jabatanoid, null, new { @class = "form-control select2", @required = "" })
                                        @Html.ValidationMessageFor(model => model.Jabatanoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Departemen</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.deptgroupoid, null, new { @class = "form-control select2", @required = "" })
                                        @Html.ValidationMessageFor(model => model.deptgroupoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Divisi</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2", @required = "" })
                                        @Html.ValidationMessageFor(model => model.deptoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>                               
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Tmp Lahir</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.tempatlahir, new { htmlAttributes = new { @class = "form-control", @type = "text", @required="", @maxlength = "150" } })
                                        @Html.ValidationMessageFor(model => model.tempatlahir, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Tgl Lahir</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required="" } })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            @Html.ValidationMessageFor(model => model.tgllahir, "", new { @class = "text-danger" })   
                                        </div>
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Jenis Kelamin</label>
                                    </div>
                                    <div class="col-lg-8">
                                       @Html.DropDownListFor(model => model.jeniskelamin, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="Laki-Laki", Value="LAKI-LAKI" },
                                    new SelectListItem { Text="PEREMPUAN", Value="PEREMPUAN" }
                            }, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Agama</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.agamaoid, null, new { @class = "form-control select2", @required = "" })
                                        @Html.ValidationMessageFor(model => model.agamaoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Alamat KTP</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usaddress, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "150", @required="" } })
                                        @Html.ValidationMessageFor(model => model.usaddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Provinsi</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                       @Html.DropDownListFor(model => model.provoid, null, new { @id = "provoid", @class = "form-control select2", @required = "", @onchange = "provincechange()" })
                                    @Html.ValidationMessageFor(model => model.provoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Kota</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                       @Html.DropDownListFor(model => model.cityoid, null, new { @class = "form-control select2", @required = "" })
                                    @Html.ValidationMessageFor(model => model.cityoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Alamat Domisili</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.alamatdom, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100", @required="" } })
                                        @Html.ValidationMessageFor(model => model.alamatdom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Provinsi Domisili</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                       @Html.DropDownListFor(model => model.provdomoid, null, new { @class = "form-control select2", @required = "", @onchange = "provincedomchange()" })
                                    @Html.ValidationMessageFor(model => model.provdomoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Kota Domisili</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.DropDownListFor(model => model.citydomoid, null, new { @class = "form-control select2", @required = "" })
                                        @Html.ValidationMessageFor(model => model.citydomoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>No. HP 1</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usphone, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "20" } })
                                        @Html.ValidationMessageFor(model => model.usphone, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>No. HP 2</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usphone2, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "20" } })
                                        @Html.ValidationMessageFor(model => model.usphone2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Email</label><label class="text-red">*</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usemail, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "", @maxlength = "100" } })
                                        @Html.ValidationMessageFor(model => model.usemail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Jumlah Tanggungan</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usjmltanggungan, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        @Html.ValidationMessageFor(model => model.usjmltanggungan, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Pendidikan Terakhir</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.uspendidikan, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                        @Html.ValidationMessageFor(model => model.uspendidikan, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Sekolah/Universitas</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.ussekolah, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.ussekolah, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Tgl Masuk</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            @Html.Editor("tglmsk", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            @Html.ValidationMessageFor(model => model.tglmasuk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Tgl Keluar</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            @Html.Editor("tglkluar", new { htmlAttributes = new { @class = "form-control datepicker3", @type = "text", @required = "" } })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            @Html.ValidationMessageFor(model => model.tglkeluar, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>No KTP</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usktpno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.usktpno, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>No NPWP</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usnpwpno, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.usnpwpno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Emergency Call</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usemergencycall, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.usemergencycall, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4">
                                        <label>Status Kepegawaian</label>
                                    </div>
                                    <div class="col-lg-8">
                                        @Html.EditorFor(model => model.usstatuspegawai, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.usstatuspegawai, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-md-6">
                                  @{
                                      var src = Html.DisplayFor(m => m.usimgfile).ToString();
                                      if (!File.Exists(Server.MapPath(src)))
                                      {
                                          src = "~/Content/dist/img/preview.png";
                                      }
                                }
                                <img id="userimage-preview" alt="your image" src="@Url.Content(src)" style="max-width:200px; max-height:200px;">
                                </div>
                                <div class="col-lg-6">
                                    @{
                                        var src2 = Html.DisplayFor(m => m.ussignfile).ToString();
                                        if (!File.Exists(Server.MapPath(src2)))
                                        {
                                            src2 = "~/Content/dist/img/preview.png";
                                        }
                                    }
                                    <img id="usersign-preview" alt="your image" src="@Url.Content(src2)" style="max-width:200px; max-height:200px;">
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-sm-4 control-label">Foto Karyawan</label>
                                    <div class="col-lg-8">
                                        <input type="file" class="form-control" onchange="previewuserimage(this);" id="userimage" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                        @Html.HiddenFor(model => model.usimgfile)
                                        @Html.ValidationMessageFor(model => model.usimgfile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="col-sm-4 control-label">Foto KTP</label>
                                    <div class="col-lg-8">
                                        <input type="file" class="form-control" onchange="previewusersign(this);" id="usersign" accept=".jpg, .png, .jpeg, .gif, .bmp " style="padding-top:5px;padding-left:5px;">
                                        @Html.HiddenFor(model => model.ussignfile)
                                        @Html.ValidationMessageFor(model => model.ussignfile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>                 
                        </div>
                    </div><br />
                    <div class="box-footer">
                        <div class="pull-left">
                                Dibuat Oleh @(Html.DisplayFor(m => m.crtuser)) Pada @Model.crttime.ToString("dd/MM/yyyy hh:mm:ss")
                                @{
                                    if (ViewBag.action == "Edit")
                                    {
                                        @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                        }
                                }
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @*<button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>*@
                                }
                            }
                        </div>
                    </div>
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">
    $('#provoid').on('change', function () {
        //alert(this.value);
        fillDDLCity();
    });

    function provincechange() {
        fillDDLCity();
    }

    $('#provdomoid').on('change', function () {
        //alert(this.value);
        fillDDLCitydom();
    });

    function provincedomchange() {
        fillDDLCitydom();
    }

    //isi DDL City
    function fillDDLCity() {
        var ddl = $("#cityoid");
        var provinceoid = $("#provoid").val();
        if (provinceoid == "" || provinceoid == 0) {
            ddl.html("<option value=''> Pilih Provinsi dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("GetCity"))",
                data: { provinceoid: provinceoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();
            },
            error: function (reponse) {
                alert("error fillDDLCity : " + reponse);
            }
        });
    }
    }
    function fillDDLCitydom() {
        var ddl = $("#citydomoid");
        var provinceoid = $("#provdomoid").val();
        if (provinceoid == "" || provinceoid == 0) {
            ddl.html("<option value=''> Pilih Provinsi dahulu </option>").show();
        } else {
            ddl.html("<option value=''> Please wait...</option>").show();
            $.ajax({
                url: "@(Url.Action("GetCitydom"))",
                data: { provinceoid: provinceoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = ""//"<option value=0>Pilih Province</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=\'" + data[x].Value + "\'>" + data[x].Text + "</option>";
                }
                ddl.html(markup).show();
            },
            error: function (reponse) {
                alert("error fillDDLCity : " + reponse);
            }
        });
    }
    }

    function clickDelete() {
        var oid = $("#usoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }


    function previewuserimage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#userimage-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#userimage').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#usimgfile').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    function previewusersign(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#usersign-preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#usersign').on('change', function (e) {
        var url = "@(Url.Action("UploadFile"))";
        var files = e.target.files;

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: url ,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (data) {
                        console.log(data);
                        if (data.result == "Sukses") {
                            $('#ussignfile').val(data.idimgpath);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

    $(document).ready(function () {
        if ("@(ViewBag.action)" == "Edit") {
            $("#usoid").prop("readonly", true)
        }
        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#tgllahir").val();
        } else {
            tgl = $("#crttime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#tglmasuk").val();
        } else {
            tgl2 = $("#crttime").val();
        }
        tglIndo(tgl2, '.datepicker2');
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#tglkeluar").val();
        } else {
            tgl3 = $("#crttime").val();
        }
        tglIndo(tgl3, '.datepicker3');
    })
</script>

