﻿@model IEnumerable<APIS_WB.Models.DB.QL_m01US>

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    APIS_WB.Models.DB.QL_APISEntities db = new APIS_WB.Models.DB.QL_APISEntities();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        List User
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                    <div class="box-body">
                        <div class="container-fluid row">
                            <a class="btn btn-success" href="Form">
                                <i class="fa fa-plus"></i> Tambah
                            </a>
                        </div><br>
                    </div>
                    <!-- /.box-body -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Nama User</th>
                                        <th>Alamat</th>
                                        <th>Structure</th>
                                        <th>Jabatan</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.usoid)" class="text-primary">@Html.DisplayFor(m => i.usoid)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.usname)</td>
                                                <td>@Html.DisplayFor(m => i.usaddress)</td>
                                                <td>@(db.QL_m07ST.Where(w => w.stoid==i.stoid).Any()? db.QL_m07ST.Where(w => w.stoid == i.stoid).FirstOrDefault().stname : "")</td>
                                                <td>@(db.QL_m05GN.Where(w => w.gnoid == i.Jabatanoid).Any() ? db.QL_m05GN.Where(w => w.gnoid == i.Jabatanoid).FirstOrDefault().gndesc : "")</td>
                                                <td>@Html.DisplayFor(m => i.usflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
