﻿@model APIS_WB.Models.DB.QL_trnmrassetmst

@{
    ViewBag.Title = "Penerimaan Barang Asset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Penerimaan Barang Asset</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Penerimaan Barang Asset Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.grirposttime)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.mrassetmstres1)
                        @Html.HiddenFor(model => model.mrassetmstres2)
                        @Html.HiddenFor(model => model.mrassetmstres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.Hidden("action")

                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal</label>
                                        <div class="col-md-4">
                                           @Html.Editor("updtime", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl. Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("mrassetdate", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Draft No.</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.mrassetmstoid, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PB No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.mrassetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.suppoid)
                                        </div>
                                    </div>
                                </div>
                                   
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO No.</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("poassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.poassetmstoid)
                                            @Html.HiddenFor(model => model.curroid)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Tipe Transaksi</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.tipebarang, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="Asset", Value="Asset" },
                                              new SelectListItem { Text="Stock", Value="Stock" },
                                              new SelectListItem { Text="FPB", Value="FPB" },
                                              new SelectListItem { Text="Konsinyasi", Value="Konsinyasi" }
                                            }, new { @class = "form-control select2", @required = "", @readonly = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gudang</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.mrassetwhoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.mrassetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.mrassetmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.mrassetmstnote, new { @class = "form-control", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER


                    @*BAGIAN DETAIL*@
                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs pull-left">
                                <li class="active"><a href="#detail-jual" data-toggle="tab"><b>Detail Penerimaan Barang Asset</b></a></li>
                            </ul>
                            <div class="tab-content no-padding">
                                @* TAB Penjualan *@
                                <div class="chart tab-pane active " id="detail-jual" style="overflow-x: auto">
                                    <div style="margin-left: 20px;" align="right">
                                        <button type="button" id="btndelmulti" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                            Delete Selected
                                        </button>
                                    </div><br />
                                    <div class="col-md-12" style="overflow-x: auto;">
                                        <table id="tbl_dtl" class="table table-striped" style="width: 100%">
                                        </table>
                                    </div><br>
                                </div>
                            </div> @* AKHIR TAB *@
                        </div>
                    </div>
                    @*AKHIR BAGIAN DETAIL*@

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                @*if (@Model.mrassetmststatus == "Post" | @Model.mrassetmststatus == "Closed")
                                {
                                    <button type="button" onclick="clickRevisi()" class="btn btn-success btn-md" id="btnSaveRev"><b>Revisi</b></button>
                                }*@
                                if (@Model.mrassetmststatus == "In Process" | @Model.mrassetmststatus == "Revised")
                                {
                                    <button type="button" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                    }
                                }
                            }
                        </div>
                    </div>
                                    // AKHIR USER & TOMBOL ACTION
                                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Purchase Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PO No.</th>
                                    <th>PO Date</th>
                                    <th>PO Type</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        tbl_dtl = $('#tbl_dtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columns": [
                { data: 'mrassetdtlseq', name: 'mrassetdtlseq', title: 'No.' },
                //{ data: 'poassetno', name: 'poassetno', title: 'No. PO' },
                { data: 'mrassetrefcode', name: 'mrassetrefcode', title: 'Kode' },
                { data: 'mrassetreflongdesc', name: 'mrassetreflongdesc', title: 'Item', width: '45%' },
                //{ data: 'poassetqty', name: 'poassetqty', title: 'Qty PO' },
                { data: 'refno', name: 'refno', title: 'PID' },
                { data: 'serialnumber', name: 'serialnumber', title: 'Serial Number', className: "text-left", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'serialnumber', '', '', "width:110px;"); } },
                { data: 'mrassetqty', name: 'mrassetqty', title: 'Qty Terima', className: "text-right", render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'mrassetqty', ' money', '', "width:80px;"); } },
                { data: 'mrassetunit', name: 'mrassetunit', title: 'Satuan' },
                //{ data: 'mritemdtlnote', name: 'mritemdtlnote', title: 'Catatan', render: function (data, type, row) { return type != 'display' ? data : generateinput(data, 'mritemdtlnote', ' ', '', "width:150px;"); } },
                { data: 'mrassetdtlseq', name: 'mrassetdtlseq', orderable: false, checkboxes: { selectRow: false } },
                //{ data: null, name: 'remove', "width": "60px", render: function (data) { return '<button type="button" class="btn btn-danger btn-xs btn-icon remove" title="Hapus"><i class="fa fa-times"></i></button>' } },
            ],
            "select": {
                "style": 'multi'
            },
        });
        tbl_dtl.on("draw", function () {
            $('#tbl_dtl .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tbl_dtl .select2').select2();
        });

        $("#tblModalSupp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on("draw", function () {
            $('#tblModalSupp .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalSupp .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalSupp .select2').select2();
        });
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $('#modal-supp').modal('hide');
            //Clear PO
            $("#poassetno").val("");
            $("#poassetmstoid").val(0);
            $("#curroid").val(0);
        });

        $("#tblModalPO").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        var tblModalPO = $("#tblModalPO").DataTable();
        tblModalPO.on("draw", function () {
            $('#tblModalPO .money').inputmask('decimal', {
                autoGroup: true,
                groupSeparator: ",",
                removeMaskOnSubmit: true,
                autoUnmask: true
            });
            $('#tblModalPO .datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
            $('#tblModalPO .select2').select2();
        });
        tblModalPO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#poassetno").val(alldata.poassetno);
            $("#poassetmstoid").val(alldata.poassetmstoid);
            $("#curroid").val(alldata.curroid);
            $("#tipebarang").val(alldata.poassettype).trigger('change');
            $('#modal-po').modal('hide');
            ChangeType();
            GenerateDetailData();
        });

        if ($('#action').val() == "Edit") {
            $("#mrassetwhoid").attr("readonly", true);
            var id = $('#mrassetmstoid').val();
            FillDetailData(id);
        }
    });
    function generateinput(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        return '<input type="text" class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '" value="' + value + '"' + addAttr + '> '
    };
    function generateselect(value, name, dataopt, addAttr) {
        if (addAttr == null) { addAttr = "" }
        var option = "<option value=\'" + 0 + "\' data_val=\'[]\'> - </option>";
        $.each(dataopt, function (key, obj) {
            var selected = "";
            if (obj.Value == value)
                selected = ' selected'
            option += "<option value=\'" + obj.Value + "\'" + selected + " data_val=\'" + JSON.stringify(obj) + "\'>" + obj.Text + "</option>";
        });
        return '<select class="form-control select2" name="' + name + '" style="margin: -6px; padding: 6px;"' + addAttr + '>' + option + '</select>'
    };
    function generatetextarea(value, name, addClass, addAttr, addStyle) {
        if (addClass == null) { addClass = "" }
        if (addAttr == null) { addAttr = "" }
        if (addStyle == null) { addStyle = "" }
        if (value == null) { value = "" }
        if (value.indexOf("\n") >= 0) {
            addAttr += ' rows="2"';
        } else addAttr += ' rows="1"';
        return '<textarea class="form-control' + addClass + '" name="' + name + '" style="margin: -6px; padding: 6px;' + addStyle + '"' + addAttr + '>' + value + '</textarea>'
    };

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var cmp = $("#cmpcode option:selected").val();
        var sType = $("#tipebarang option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSuppData"))",
            data: { sType: sType },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchpo").click(function () {
        if (($('#suppoid').val() == 0) || ($('#suppoid').val() == '') || ($('#suppoid').val() == null)) {
            Swal(
               'Please Select Supplier First!',
               '',
               'warning'
                );
            return false
        }
        var table = $('#tblModalPO').DataTable();
        var suppoid = $('#suppoid').val();
        var sType = $("#tipebarang option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPOData"))",
            data: { suppoid: suppoid, sType: sType },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.poassetno,
                        moment(jsDate(val.poassetdate)).format('DD/MM/YYYY'),
                        val.poassettype,
                        val.poassetmstnote,
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (data) {
                console.log(data);
            }
        });
    });

    function GenerateDetailData() {
        var suppoid = $("#suppoid").val();
        var poassetmstoid = $("#poassetmstoid").val();
        var mrassetmstoid = $("#mrassetmstoid").val();
        var id = tbl_dtl.data().length + 1; var rows = [];
        tbl_dtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { poassetmstoid: poassetmstoid, suppoid: suppoid, mrassetmstoid: mrassetmstoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $.each(data, function (key, val) {
                    val.mrassetdtlseq = id++;
                    rows.push(val);
                });
                tbl_dtl.rows.add(rows);
                tbl_dtl.columns.adjust().draw();
                EnabledHeader();
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    var url_FillDetailData = "@(Url.Action("FillDetailData"))";
    function FillDetailData(id) {
        tbl_dtl.clear().draw();
        $.ajax({
            url: url_FillDetailData,
            data: { id: id },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    tbl_dtl.rows.add(data.tbl);
                    tbl_dtl.columns.adjust().draw();
                    EnabledHeader();
                } else {
                    swal('', data.result, 'error');
                    return false;
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                return false;
            }
        });
    };
    $('#tbl_dtl').on('blur', 'input:text, textarea', function (e) {
        setData(this, tbl_dtl)
        e.preventDefault();
    });
    $('#tbl_dtl').on('click', '.remove', function (e) {
        $tr = $(this).closest('tr');
        tbl_dtl.row($tr).remove().draw();
        //Mengurutkan nomor
        for (var i = 0; i < tbl_dtl.data().length; i++) {
            tbl_dtl.cell(i, 'mrassetdtlseq:name').data(i + 1).invalidate();
        }
        e.preventDefault();
        EnabledHeader();
    });

    function setData($this, tbl) {
        $tr = $($this).closest('tr');
        $td = $($this).closest('td');

        var attrname = $($this).attr('name');
        var value = $($this).val();
        if ($($this).hasClass('money')) {
            value = tNumber(value);
        }
        if (value == tbl.cell($tr, $td).data())
            return true;
        tbl.cell($tr, $td).data(value).invalidate();

        $td.find('.money').inputmask('decimal', {
            autoGroup: true,
            groupSeparator: ",",
            removeMaskOnSubmit: true,
            autoUnmask: true
        });
        $td.find('.select2').select2();
    };

    function ChangeType() {
        var tipebarang = $("#tipebarang option:selected").val();
        var action = $("#action").val();
        var mrassetwhoid = $('#mrassetwhoid').val();
        $.ajax({
            url: "@(Url.Action("InitDDLWH"))",
            data: { tipebarang, action },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var markup = ""; var markup2 = "";
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                    });
                    $("#mrassetwhoid").html(markup).show().trigger('change');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function EnabledHeader() {
        var bVal = tbl_dtl.data().length > 0;

        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchpo").attr("disabled", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnSave").click(function () {
        event.preventDefault();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var mst = $('form').serializeArray();
        var tbl = {};
        jQuery.map(mst, function (n, i) {
            if (n.name == "mrassetdate") {
                tbl[n.name] = toDate($('#mrassetdate').val());
            }
            else {
                tbl[n.name] = n.value;
            }
        });
        var action = $('#action').val();

        var dtDtl = [];
        for (var i = 0 ; i < tbl_dtl.data().length; i++) {
            var alldata = tbl_dtl.row(i).data();
            dtDtl.push(alldata);
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("Form"))",
            data: { __RequestVerificationToken: token, tbl: tbl, dtDtl: dtDtl, action: action },
            success: function (data) {
                if (data.result == 'success') {
                    Swal('Data has been saved!', data.msg, 'success').then((result) => {
                        if (result.value) {
                            location.replace("@(Url.Action("Index"))");
                        }
                    });
                } else {
                    Swal('Save data failed!', data.msg, 'error');
                    $("#mrassetmststatus").val("In Process");
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $("#mrassetmststatus").val("In Process");
            }
        });
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Send this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#mrassetmststatus").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#mrassetmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btndelmulti").click(function () {
        var rowsel = tbl_dtl.column(-1).checkboxes.selected();
        var id = [];
        if (rowsel != null) {
            if (rowsel.length > 0) {
                $.each(rowsel, function (key, val) {
                    id.push([val - 1]);
                });
                tbl_dtl.column(-1).checkboxes.deselect();
                tbl_dtl.rows(id).remove().draw();
                for (var i = 0; i < tbl_dtl.data().length; i++) {
                    tbl_dtl.cell(i, 'mrassetdtlseq:name').data(i + 1).invalidate();
                }
                EnabledHeader();
            }
            else {
                Swal({
                    title: 'WARNING!',
                    text: 'Silahkan Checked yg mau didelete!',
                    type: 'warning'
                });
                return false;
            }
        } else {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Checked yg mau didelete!',
                type: 'warning'
            });
            return false;
        }
    });
</script>