﻿@model APIS_WB.Models.DB.QL_trnkasbon2mst

@{
    ViewBag.Title = "Kas Bon";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Kas Bon</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header Kas Bon</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("gnother1")
                        @Html.Hidden("uid")
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @{
                            @Html.EditorFor(model => model.kasbon2date, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.kasbon2date } })
                            @Html.EditorFor(model => model.kasbon2duedate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.kasbon2duedate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kas Bon No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.kasbon2no, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.kasbon2mstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Transaksi</label>
                                        <div class="col-md-4">
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = "", @onchange = "FillDueDate()" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.kasbon2date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Group</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.kasbon2group, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="KASBON", Value="KASBON" }
                                                //new SelectListItem { Text="REALISASI", Value="REALISASI" }
                                            }, new { @class = "form-control select2", @onchange= "kasbon2Group()", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="col_kasbonref" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Ref Kas Bon</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("kasbonrefno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchkasbon" class="btn btn-flat" data-toggle="modal" data-target="#modal-kasbon">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.kasbon2refoid)
                                            </div>
                                            @Html.ValidationMessageFor(model => model.kasbon2refoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ref Kas Bon Amount</label>
                                        <div class="col-md-8">
                                            @Html.Editor("kasbonrefamt", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.suppoid)
                                            </div>
                                            @Html.ValidationMessageFor(model => model.suppoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">TOP</label>
                                        <div class="col-md-4">
                                           @Html.DropDownListFor(model => model.kasbon2paytypeoid, null, new { @class = "form-control select2", @onchange = "FillDueDate()" })
                                        @Html.ValidationMessageFor(model => model.kasbon2paytypeoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Project</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                @Html.Editor("projectname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchrab" class="btn btn-flat" data-toggle="modal" data-target="#modal-rab">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(model => model.rabmstoid)
                                            </div>
                                            @Html.ValidationMessageFor(model => model.rabmstoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Departemen</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.deptoid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @{
                                    if (@Model.kasbon2mststatus == "Post" || @Model.kasbon2mststatus == "Closed")
                                    {
                                        if (@Model.rabmstoid > 0)
                                        {
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label"></label>
                                                    <div class="col-md-8">
                                                        <button type="button" id="btnRevRAB" class="btn btn-success btn-md"><b>Revisi RAB</b></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No. RAB</label>
                                        <div class="col-md-8">
                                            @Html.Editor("rabno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account Kas Bon</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Sales</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.personoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.personoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="col_typekasbon">
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group" id="col_kasbon2type">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.kasbon2type, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="CASH", Value="BKK" },
                                                new SelectListItem { Text="TRANSFER", Value="BBK" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="col_acctgoid">
                                        <label class="col-md-4 control-label">Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgoidcb, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoidcb, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Currency</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div  id="col_kasbon2duedate"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Due Date</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglduedate", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.kasbon2duedate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="col_pphdebet">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account Debet PPH</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.pphdebetoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.pphdebetoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PPH Debet Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pphdebetamt, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @onblur = "CountHdrAmount()" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.pphdebetamt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="col_pphcredit">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account Credit PPH</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.pphcreditoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.pphcreditoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PPH Credit Amount</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.pphcreditamt, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @onblur = "CountHdrAmount()" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.pphcreditamt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.kasbon2amt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.kasbon2amt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Selisih</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.kasbon2amtselisih, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.kasbon2amtselisih, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.kasbon2note, new { @class = "form-control", @type = "text", @maxlength = "300" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.kasbon2mststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.kasbon2mststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Detail Kas Bon</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.Hidden("seq")
                        <div class="container-fluid">
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PIC</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("personoiddtl", null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Account Detail</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("acctgoiddtl", null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.acctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Detail Amount</label>
                                        <div class="col-md-8">
                                            @Html.Editor("kasbon2amtdtl", new { htmlAttributes = new { @class = "form-control numberonly", @type = "text"} })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Detail Note</label>
                                        <div class="col-md-8">
                                            @Html.Editor("kasbon2notedtl", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "300" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Tambah</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No</th>
                                        <th></th>
                                        <th>Kode</th>
                                        <th>Detail Account</th>
                                        <th>Amount</th>
                                        <th>Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                            <h6><b>VAR_KASBON | VAR_COST_KASBON</b></h6>
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.kasbon2mststatus == "In Process" | @Model.kasbon2mststatus == "Revised")
                            {
                                <button type="submit" name="action" value="@(ViewBag.action)" id="btnSave" class="btn btn-success btn-md"><b>Simpan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                                <button type="button" name="action" value="@(ViewBag.action)" id="btnSendForApproval" class="btn btn-warning btn-md"><b>Terbitkan</b></button>
                            }
                            else
                            {
                                if (Model.kasbon2mststatus == "Post" | Model.kasbon2mststatus == "Closed")
                                {
                                    <button type="button" class="btn btn-primary btn-md" onclick="ShowCOAPosting()" data-toggle="modal" data-target="#modal-showcoa"><b>Show COA</b></button>
                                }
                            }
                        }                        
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK DP *@
    <div class="modal fade" id="modal-dp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Down Payment</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDP" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>DP No.</th>
                                    <th>DP Date</th>
                                    <th>DP Account</th>
                                    <th>DP Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DP *@

    @* MODAL UNTUK FORM DETAIL COA *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Expense Acoount</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                    <th>Amount</th>
                                    <th>Detail Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToDetail()" data-dismiss="modal">Add To Detail</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL COA *@

    @* MODAL UNTUK GANTI COA *@
    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Expense Account</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Account No.</th>
                                    <th>Account Desc</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK GANTI COA *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK SHOW COA *@
    <div class="modal fade" id="modal-showcoa">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col-md-6">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width: 20%;">COA Posting Rate : </td>
                                <td style="width: 40%;">
                                    @Html.DropDownList("ratetype", new List<SelectListItem> {
                                            new SelectListItem { Text="IDR", Value="IDR" }
                                            //new SelectListItem { Text="USD", Value="USD" }
                                        }, new { @class = "form-control", @style = "width: 90%;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalShowCOA" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th>Account No.</th>
                                    <th>Account Desc.</th>
                                    <th>Debet</th>
                                    <th>Credit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center"></div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SHOW COA *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-rab">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalRAB" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. RAB</th>
                                    <th>Tanggal</th>
                                    <th>RAB Type</th>
                                    <th>Project</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@

    @* MODAL UNTUK KASBON *@
    <div class="modal fade" id="modal-kasbon">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Kas Bon</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalKasbon" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. Kas Bon</th>
                                    <th>Tanggal</th>
                                    <th>Group</th>
                                    <th>Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK KASBON *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 2],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw(); SetDataDtl($('#uid').val()); CountHdrAmount(); FillDetailData($('#uid').val());
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
            EnabledHeader();
        });
        table.on("keypress input", ".allownumericwithNegative", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithNegative", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });
        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalDtl.on("keypress input", ".allownumericwithNegative", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.-]/g, ''));
            if ((e.which != 45 || $(this).val().indexOf('-') != -1) && (e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalDtl.on("blur", ".allownumericwithNegative", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });
        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalSupp").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalDP").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalCOA = $("#tblModalCOA").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalShowCOA = $("#tblModalShowCOA").DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": 0,
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            var tbldtl = $('#DataDtl').DataTable();
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#gnother1").val(alldata.gnother1);
            $("#kasbon2paytypeoid").val(alldata.supppaymentoid).trigger('change');
            FillDueDate();
            $('#modal-supp').modal('hide');
        });

        var tblModalDP = $("#tblModalDP").DataTable();
        tblModalDP.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalDP.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#dpapno").val(alldata.dpapno);
            $("#acctgoid").val(alldata.dpapacctgoid).trigger("change");
            $("#giroacctgoid").val(alldata.dpapoid);
            $("#kasbon2resamt").val(alldata.dpapamt);
            $('#modal-dp').modal('hide');
        });

        var tblModalRAB = $("#tblModalRAB").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalRAB.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalRAB.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#projectname").val(alldata.projectname);
            //$("#departemen").val(alldata.departemen);
            $("#deptoid").val(alldata.deptoid).trigger('change');
            $("#deptoid").attr("readonly", true);
            $("#rabno").val(alldata.rabno);
            $("#curroid").val(alldata.curroid).trigger('change');
            $("#curroid").attr("readonly", true);
            $("#personoid").val(alldata.personoid).trigger('change');
            $("#personoid").attr("readonly", true);
            $('#modal-rab').modal('hide');
        });

        var tblModalKasbon = $("#tblModalKasbon").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalKasbon.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalKasbon.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#kasbon2refoid").val(alldata.kasbon2mstoid);
            $("#kasbonrefno").val(alldata.kasbon2no);
            $("#kasbonrefamt").val(addCommas(alldata.kasbon2amt));
            $("#rabmstoid").val(alldata.rabmstoid);
            $("#projectname").val(alldata.projectname);
            $("#departemen").val(alldata.departemen);
            $("#suppoid").val(alldata.suppoid);
            $("#suppname").val(alldata.suppname);
            $("#kasbon2paytypeoid").val(alldata.kasbon2paytypeoid).trigger('change');
            $("#pphdebetamt").val(addCommas(alldata.pphamt));
            $("#pphdebetoid").val(alldata.pphoid).trigger('change');

            $("#kasbon2paytypeoid").attr("readonly", true);
            $("#btnsearchsupp").attr("disabled", true);
            $("#curroid").val(alldata.curroid).trigger('change');
            $("#curroid").attr("readonly", true);
            $("#personoid").val(alldata.personoid).trigger('change');
            $("#personoid").attr("readonly", true);
            $("#btnsearchrab").attr("disabled", true);
            $('#modal-kasbon').modal('hide');
        });

        //$("#cmpcode").change(function () {
        //    kasbon2Type();
        //    //InitDDLPerson();
        //    if ($("#action").val() == "Create") {
        //        GenerateExpenseNo();
        //    }
        //});

        $("#kasbon2type").change(function () {
            kasbon2Type();
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        $("#kasbon2date").change(function () {
            if ($("#action").val() == "Create") {
                GenerateExpenseNo();
            }
        });

        //$("#acctgoidcb").change(function () {
        //    if ($("#action").val() == "Create") {
        //        GenerateExpenseNo();
        //    }
        //});

        //$("#kasbon2group").change(function () {
        //    if ($("#action").val() == "Create") {
        //        kasbon2Group();
        //    }
        //});

        //$("#personoiddtl").change(function () {
        //    GetPersonAmt();
        //});

        $("#ratetype").change(function () {
            $("#modal-showcoa").modal('show');
            ShowCOAPosting();
        })

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#kasbon2date").val();
        } else {
            tgl = $("#kasbon2date").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl3 = "";
        if ($('#action').val() == "Edit") {
            tgl3 = $("#kasbon2duedate").val();
        } else {
            tgl3 = $("#kasbon2duedate").val();
        }
        tglIndo(tgl3, '.datepicker2');

        if ($('#action').val() == "Edit") {
            var kg = $("#kasbon2group option:selected").val();
            $("#col_kasbonref").hide();
            if (kg == "REALISASI") {
                $("#col_kasbonref").show();
            }
        }

        kasbon2Type();
        //GetPersonAmt();
        FillDetailData($('#uid').val());
        FillDueDate();

        if ($('#rabmstoid').val() != 0) {
            $("#deptoid").attr("readonly", true);
        } else {
            $("#deptoid").attr("readonly", false);
        }

        $('#kasbon2amt').val(addCommas($('#kasbon2amt').val()));
        $('#kasbonrefamt').val(addCommas($('#kasbonrefamt').val()));
        $('#kasbon2amtselisih').val(addCommas($('#kasbon2amtselisih').val()));
        $('#pphdebetamt').val(addCommas($('#pphdebetamt').val()));
        $('#pphcreditamt').val(addCommas($('#pphcreditamt').val()));
    })

    function kasbon2Type() {
        var sVar = "VAR_CASH";
        var sGroup = $("#kasbon2group option:selected").val();
        $("#acctgoid").attr("readonly", false);
        $("#col_kasbon2duedate").hide();
        $("#col_pphdebet").hide();
        if ($("#kasbon2type option:selected").val() == "BBK") {
            sVar = "VAR_BANK";
            $("#col_kasbon2duedate").show();
        }
        if (sGroup == "REALISASI") {
            $("#col_pphdebet").show();
        }
        InitDDLAcctg("VAR_KASBON");
        InitDDLAcctgCB("VAR_AP_DIRECT");
        InitDDLAcctgPPHDebet("VAR_PPH");
        InitDDLAcctgPPHCredit("VAR_PPH");
    }

    function clearKasbon() {
        $("#kasbo2refoid").val(0);
        $("#kasbonrefno").val("");
        $("#kasbonrefamt").val(0);
        $("#rabmstoid").val(0);
        $("#projectname").val("");
        $("#departemen").val("");
        $("#kasbon2paytypeoid").attr("readonly", false);
        $("#btnsearchsupp").attr("disabled", false);
        $("#curroid").attr("readonly", false);
        $("#personoid").attr("readonly", false);
        $("#btnsearchrab").attr("disabled", false);
    }

    function kasbon2Group() {
        clearKasbon();

        var kg = $("#kasbon2group option:selected").val();
        $("#col_kasbonref").hide();
        if (kg == "REALISASI") {
            $("#col_kasbonref").show();
        }
        kasbon2Type();
    }

    function BindTotalDP() {
        var action = $("#action").val();
        var curroid = $("#curroid option:selected").val();
        var suppoid = $("#refsuppoid").val();
        var kasbon2oid = $("#kasbon2oid").val();
        $.ajax({
            url: "@(Url.Action("BindTotalDP"))",
            data: { action: action, curroid: curroid, suppoid: suppoid, kasbon2oid: kasbon2oid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#totaldpamt").val(addCommas(data));
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GetPersonAmt() {
        var kasbon2group = $("#kasbon2group option:selected").val();
        var personoid = $("#curroid option:selected").val();
        $.ajax({
            url: "@(Url.Action("BindPersonAmt"))",
            data: { kasbon2group: kasbon2group, personoid: personoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#kasbon2amtdtl").val(addCommas(data));
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function SetCOACurrency() {
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("SetCOACurrency"))",
            data: { acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data != 0) {
                    $("#curroid").val(data).trigger("change");
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function GenerateExpenseNo() {
        var cmpcode = $("#cmpcode").val();
        var kasbon2date = $("#tglmst").val();
        var kasbon2type = $("#kasbon2type").val();
        var acctgoid = $("#acctgoid option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateExpenseNo"))",
            data: { cmpcode: cmpcode, kasbon2date: kasbon2date, kasbon2type: kasbon2type, acctgoid: acctgoid },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#kasbon2no").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function FillDetailData(uid) {
        var sType = $('#kasbon2group option:selected').val();
        var rabmstoid = $('#rabmstoid').val(); var ro = '';
        //if (sType == "KASBON" && rabmstoid != 0) {
        //    ro = 'readonly=""';
        //}
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.kasbon2dtlseq,
                        '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                        val.acctgcode,
                        val.acctgdesc,
                        '<input type="text" class="form-control allownumericwithNegative" style="max-width: 150px" id="kasbon2dtlamt-' + val.kasbon2dtlseq + '" name="kasbon2dtlamt-' + val.kasbon2dtlseq + '" value="' + addCommas(val.kasbon2dtlamt) + '" '+ ro +' onchange="CountDtlAmount(' + val.kasbon2dtlseq + ')">',
                        '<input type="text" class="form-control" style="max-width: 150px" id="kasbon2dtlnote-' + val.kasbon2dtlseq + '" name="kasbon2dtlnote-' + val.kasbon2dtlseq + '" value="' + (val.kasbon2dtlnote == null ? "" : val.kasbon2dtlnote) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    CountHdrAmount();
                    EnabledHeader();
                    ClearDtl();
                }, 100);
            }
        });
    }

    function InitDDLAcctg(sVar) {
        var sType = "COA";
        var rabmstoid = $('#rabmstoid').val();
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar, rabmstoid: rabmstoid, sType: sType},
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                //console.log(data.tbl);
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');
                if ($("#action").val() == "Create") {
                    GenerateExpenseNo();
                }
            } else {
                acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAcctgCB(sVar) {
        var sType = "COA";
        var rabmstoid = $('#rabmstoid').val();
        var acctgoid = $("#acctgoidcb");
        var acctgoid_sel = $("#acctgoidcb option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar, rabmstoid: rabmstoid, sType: sType},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == acctgoid_sel) {
                            isExist = true;
                        }
                    });
                    //console.log(data.tbl);
                    acctgoid.html(markup).show();
                    if (isExist == true) {
                        acctgoid.val(acctgoid_sel);
                    }
                    acctgoid.trigger('change');
                    if ($("#action").val() == "Create") {
                        GenerateExpenseNo();
                    }
                } else {
                    acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAcctgPPHDebet(sVar) {
        var acctgoid = $("#pphdebetoid");
        var acctgoid_sel = $("#pphdebetoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOAHeader"))",
            data: { sVar: sVar },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == acctgoid_sel) {
                            isExist = true;
                        }
                    });
                    //console.log(data.tbl);
                    acctgoid.html(markup).show();
                    if (isExist == true) {
                        acctgoid.val(acctgoid_sel);
                    }
                    acctgoid.trigger('change');
                } else {
                    acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAcctgPPHCredit(sVar) {
        var acctgoid = $("#pphcreditoid");
        var acctgoid_sel = $("#pphcreditoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOAHeader"))",
            data: { sVar: sVar },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == acctgoid_sel) {
                            isExist = true;
                        }
                    });
                    //console.log(data.tbl);
                    acctgoid.html(markup).show();
                    if (isExist == true) {
                        acctgoid.val(acctgoid_sel);
                    }
                    acctgoid.trigger('change');
                } else {
                    acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAcctgDtl() {
        //var kasbon2group = $("#kasbon2group option:selected").val();
        var sVar = "VAR_COST_KASBON";
        //if (kasbon2group == "PEMAKAIAN") {
        //    sVar = "VAR_EXPENSE";
        //}
        var sType = "COA";
        var rabmstoid = $('#rabmstoid').val();
        var acctgoid = $("#acctgoiddtl");
        var acctgoid_sel = $("#acctgoiddtl option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar, rabmstoid: rabmstoid, sType: sType },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                        if (val.acctgoid == acctgoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    acctgoid.html(markup).show();
                    if (isExist == true) {
                        acctgoid.val(acctgoid_sel);
                    }
                    acctgoid.trigger('change');
                    if ($("#action").val() == "Create") {
                        GenerateExpenseNo();
                    }
                } else {
                    acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLPerson() {
        var personoid = $("#personoid");
        var personoid_sel = $("#personoid option:selected").val();
        personoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLPerson"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.tbl, function (key, val) {
                        markup += "<option value=\'" + val.usoid + "\'>" + val.usname + "</option>";
                        if (val.personoid == personoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    personoid.html(markup).show();
                    if (isExist == true) {
                        personoid.val(personoid_sel);
                    }
                    personoid.trigger('change');
                } else {
                    personoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var rabmstoid = $('#rabmstoid').val();
        var kasbon2mststatus = $('#kasbon2mststatus').val();
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#acctgoid").attr("readonly", bVal);
        $("#acctgoidcb").attr("readonly", bVal);
        $("#kasbon2type").attr("readonly", bVal);
        $("#kasbon2group").attr("readonly", bVal);
        $("#kasbon2paytypeoid").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#curroid").attr("readonly", bVal);
        $("#personoid").attr("readonly", bVal);
        if (kasbon2mststatus == "Post" || kasbon2mststatus == "Closed") {
            if (rabmstoid > 0){
                $("#btnsearchrab").attr("disabled", false);
            } else {
                $("#btnsearchrab").attr("disabled", bVal);
            }
        } else {
            $("#btnsearchrab").attr("disabled", bVal);
        }
        $("#btnsearchkasbon").attr("disabled", bVal);
    }

    function CountHdrAmount() {
        var sType = $("#kasbon2group option:selected").val();
        var kasbonrefamt = removeCommas($("#kasbonrefamt").val());
        var pphdebetamt = removeCommas($("#pphdebetamt").val());
        var pphcreditamt = removeCommas($("#pphcreditamt").val());
        var pphamt = parseFloat(pphcreditamt) - parseFloat(pphdebetamt);
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var dVal = 0;
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                var alldata = JSON.parse(data[i][0]);
                dVal += parseFloat(alldata.kasbon2dtlamt);
            }
        }
        var kasbon2grandtotal = dVal;
        if (pphamt >= 0) {
            kasbon2grandtotal = parseFloat(kasbon2grandtotal) - parseFloat(pphamt);
        }
        var kasbon2selisih = 0;
        if (sType == "REALISASI") {
            kasbon2selisih = parseFloat(kasbonrefamt - kasbon2grandtotal);
            $("#kasbon2amtselisih").val(addCommas(kasbon2selisih));
            $("#kasbonrefamt").val(addCommas(kasbonrefamt));
        }
        $("#kasbon2amt").val(addCommas(kasbon2grandtotal));
    }

    function CountDtlAmount(id) {
        var table = $('#DataDtl').DataTable();
        var data = table.row(id - 1).data();
        var alldata = JSON.parse(data[0]);
        var kasbon2dtlamt = removeCommas(table.$("#kasbon2dtlamt-" + id).val());
        var kasbon2dtlnote = table.$("#kasbon2dtlnote-" + id).val();

        alldata.kasbon2dtlamt = kasbon2dtlamt;
        data[0] = JSON.stringify(alldata);
        data[5] = '<input type="text" class="form-control allownumericwithNegative" style="max-width: 150px" id="kasbon2dtlamt-' + id + '" name="kasbon2dtlamt-' + id + '" value="' + addCommas(alldata.kasbon2dtlamt) + '" onchange="CountDtlAmount(' + id + ')">';
        data[6] = '<input type="text" class="form-control" style="max-width: 150px" id="kasbon2dtlnote-' + id + '" name="kasbon2dtlnote-' + id + '" value="' + kasbon2dtlnote + '">';

        table.row(id - 1).data(data).invalidate();
        CountHdrAmount();
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearCust() {
        $("#custname").val("");
        $("#custoid").val("");
    }

    function ClearAR() {
        $("#aritemno").val("");
        $("#aritemmstoid").val("");
    }

    function ClearDtl() {
        $("#kasbon2amtdtl").val("");
        $("#kasbon2notedtl").val("");
    }

    function ShowCOAPosting() {
        var table = $('#tblModalShowCOA').DataTable();
        var kasbon2no = $("#kasbon2no").val();
        var ratetype = $("#ratetype option:selected").val();
        var glother1 = "QL_trnkasbon2mst " + $("#kasbon2mstoid").val();

        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("ShowCOAPosting"))",
            data: { kasbon2no: kasbon2no, ratetype: ratetype, glother1: glother1 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.acctgcode,
                        val.acctgdesc,
                        addCommas(val.acctgdebet),
                        addCommas(val.acctgcredit),
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnsearchdp").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title:'WARNING!',
                text: 'Please select SUPPLIER field!',
                type:'warning'
            });
            return false;
        } else {
            var table = $('#tblModalDP').DataTable();
            var suppoid = $('#refsuppoid').val();
            var curroid = $("#curroid option:selected").val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("BindDPData"))",
                data: { suppoid: suppoid, curroid: curroid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.dpapno,
                            moment(jsDate(val.dpapdate)).format('MM/DD/YYYY'),
                            val.acctgdesc,
                            addCommas(val.dpapamt),
                            val.dpapnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
            },
            error: function (err) {
                console.log(err);
            }
            });
        }
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindSupplierData"))",
            data: {},
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    function FillDueDate() {
        var markup = "";
        var paytypeoid = $("#kasbon2paytypeoid option:selected").val();
        var paytype = $("#gnother1").val();
        var tgldue = $("#tglmst").val();
        var url = "@(Url.Action("InitDueDate"))";
        $.ajax({
            data: { paytype: paytype, tgldue: tgldue, paytypeoid: paytypeoid },
            url: url,
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#tglduedate").val(moment(jsDate(val.duedate)).format('DD/MM/YYYY'));
                    });
                }
            }
        });
    }

    $("#btnsearchrab").click(function () {
        var kasbon2mststatus = $('#kasbon2mststatus').val();
        var projectname = $('#projectname').val();
        var table = $('#tblModalRAB').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetRABData"))",
            data: { kasbon2mststatus: kasbon2mststatus, projectname: projectname },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.rabtype,
                        val.projectname,
                        val.rabmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchkasbon").click(function () {
        var table = $('#tblModalKasbon').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetKasbonData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.kasbon2no,
                        moment(val.kasbon2date).format('DD/MM/YYYY'),
                        val.kasbon2group,
                        val.kasbon2amt,
                        val.kasbon2note
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnAddToList").click(function () {
        var sType = $('#kasbon2group option:selected').val();
        var rabmstoid = $('#rabmstoid').val(); var ro = '';
        //if (sType == "KASBON" && rabmstoid != 0) {
        //    ro = 'readonly=""';
        //}
        var table = $('#tblModalDtl').DataTable();
        var sVar = "VAR_COST_KASBON";
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar, rabmstoid: rabmstoid, sType: sType },
            cache: false,
            type: "POST",
            success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    val.acctgcode,
                    val.acctgdesc,
                    '<input type="text" class="form-control allownumericwithNegative" style="max-width: 150px" id="kasbon2dtlamt-' + i + '" name="kasbon2dtlamt-' + i + '" value="' + addCommas(val.kasbon2dtlamt) + '" '+ ro +' onchange="CountDtlAmount(' + i + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="kasbon2dtlnote-' + i + '" name="kasbon2dtlnote-' + i + '" value="' + (val.kasbon2dtlnote == null ? "" : val.kasbon2dtlnote) + '">'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $('#DataDtl').on('click', '#edit', function () {
        var sType = $('#kasbon2group option:selected').val();
        var rabmstoid = $('#rabmstoid').val(); var ro = '';
        //if (sType == "KASBON") {
        //    ro = 'readonly=""';
        //}
        var tbldtl = $('#DataDtl').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = tbldtl.row($tr).data();
        var alldata = JSON.parse(data[0]);
        $("#seq").val(alldata.kasbon2dtlseq - 1);
        $('#modal-coa').modal('show');

        var table = $('#tblModalCOA').DataTable();
        var sVar = "VAR_EXPENSE";
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { sVar: sVar, rabmstoid: rabmstoid, sType: sType },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.acctgcode,
                        val.acctgdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#tblModalCOA").on('click', '#select', function () {
        var table = $('#tblModalCOA').DataTable();
        $tr = $(this).closest('tr');
        if ($($tr).hasClass('child')) {
            $tr = $tr.prev('.parent');
        }
        var data = table.row($tr).data();
        var alldata = JSON.parse(data[0]);

        var tbldtl = $('#DataDtl').DataTable();
        var datadtl = tbldtl.row($('#seq').val()).data();
        var alldatadtl = JSON.parse(datadtl[0]);
        if (alldata.kasbon2dtlamt = 0) {
            Swal({
                text: 'Amount cannot be 0',
                type: 'warning'
            });
            return false
        }
        var iSeq = parseInt($('#seq').val()) + 1;
        alldata.kasbon2dtlamt = 0;
        alldata.kasbon2dtlnote = "";
        var obj = {
            kasbon2dtlseq: iSeq,
            acctgoid: alldata.acctgoid,
            acctgcode: alldata.acctgcode,
            acctgdesc: alldata.acctgdesc,
            kasbon2dtlamt: alldata.kasbon2dtlamt,
            kasbon2dtlnote: alldata.kasbon2dtlnote,
        };

        datadtl[0] = JSON.stringify(obj);
        datadtl[3] = alldata.acctgcode;
        datadtl[4] = alldata.acctgdesc;
        datadtl[5] = '<input type="text" class="form-control allownumericwithNegative" style="max-width: 150px" id="kasbon2dtlamt-' + iSeq + '" name="kasbon2dtlamt-' + iSeq + '" value="' + addCommas(alldata.kasbon2dtlamt) + '" onchange="CountDtlAmount(' + iSeq + ')">';
        datadtl[6] = '<input type="text" class="form-control" style="max-width: 150px" id="kasbon2dtlnote-' + iSeq + '" name="kasbon2dtlnote-' + iSeq + '" value="' + (alldata.kasbon2dtlnote == null ? "" : alldata.kasbon2dtlnote) + '">';

        tbldtl.row($('#seq').val()).data(datadtl).invalidate();
        CountHdrAmount();
        $('#modal-coa').modal('hide');
    });

    function AddToDetail() {
        var sType = $('#kasbon2group option:selected').val();
        var rabmstoid = $('#rabmstoid').val(); var ro = '';
        //if (sType == "KASBON" && rabmstoid != 0) {
        //    ro = 'readonly=""';
        //}
        var table = $('#tblModalDtl').DataTable();
        var isValid = true;
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            var kasbon2dtlamt = removeCommas(table.$("#kasbon2dtlamt-" + val).val());
            var kasbon2dtlnote = table.$("#kasbon2dtlnote-" + val).val();
            if (!IsOnDtl(alldata.acctgoid)) {
                var id = tbldtl.rows().data().length + 1;
                var obj = {
                    kasbon2dtlseq: id,
                    rabdtl5oid: alldata.rabdtl5oid,
                    acctgoid: alldata.acctgoid,
                    acctgcode: alldata.acctgcode,
                    acctgdesc: alldata.acctgdesc,
                    kasbon2dtlamt: kasbon2dtlamt,
                    kasbon2dtlnote: kasbon2dtlnote
                };
                tbldtl.row.add([
                    JSON.stringify(obj),
                    id,
                    '<button id="edit" type="button" class="btn btn-warning btn-xs btn-icon" ><i class="fa fa-edit"></i></button>',
                    alldata.acctgcode,
                    alldata.acctgdesc,
                    '<input type="text" class="form-control allownumericwithNegative" style="max-width: 150px" id="kasbon2dtlamt-' + id + '" name="kasbon2dtlamt-' + id + '" value="' + addCommas(kasbon2dtlamt) + '" '+ ro +' onchange="CountDtlAmount(' + id + ')">',
                    '<input type="text" class="form-control" style="max-width: 150px" id="kasbon2dtlnote-' + id + '" name="kasbon2dtlnote-' + id + '" value="' + (kasbon2dtlnote == null ? "" : kasbon2dtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]).draw();
                CountHdrAmount();
            }
        });
        SetDataDtl($('#uid').val());
        EnabledHeader();
    }

    function IsOnDtl(acctgoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (acctgoid == alldata.acctgoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.kasbon2dtlamt = removeCommas(table.$("#kasbon2dtlamt-" + alldata.kasbon2dtlseq).val());
            alldata.kasbon2dtlnote = table.$("#kasbon2dtlnote-" + alldata.kasbon2dtlseq).val();
            alldata.kasbon2dtlseq = i + 1;
            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $('#kasbon2amt').val(removeCommas($('#kasbon2amt').val()));
        $('#kasbonrefamt').val(removeCommas($('#kasbonrefamt').val()));
        $('#kasbon2amtselisih').val(removeCommas($('#kasbon2amtselisih').val()));
        $('#pphdebetamt').val(removeCommas($('#pphdebetamt').val()));
        $('#pphcreditamt').val(removeCommas($('#pphcreditamt').val()));
        //FillDueDate();
        SetDataDtl($('#uid').val());
    });

    $("#btnDelete").click(function () {
        var oid = $("#kasbon2mstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnSendForApproval").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
		    $("#kasbon2mststatus").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnRevRAB").click(function () {
        var oid = $("#kasbon2mstoid").val();
        var rabmstoid = $("#rabmstoid").val();
        var projectname = $("#projectname").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Revisi this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Revisi this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("RevisiRAB"))",
                    data: { __RequestVerificationToken: token, id: oid, rabmstoid: rabmstoid, projectname: projectname },
                success: function (data) {
                    if (data.result == 'success') {
                        Swal(
                            'Revisi!',
                            'Data has been Revised!',
                            'success'
                            )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                            'Revisi data failed!',
                            data.msg,
                            'warning'
                            )
                    }
                },
                error: function (error) {
                    console.dir(error)
                }
            });
        }
        })
    });
</script>