﻿@model IEnumerable<APIS_WB.Controllers.Master.ApprovalUserController.listapprovalstructure>

@{
    ViewBag.Title = "Approval User";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Approval User
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="container-fluid row">
                        <a class="btn btn-success" href="Form">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </div><br>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="datatable" class="table table-striped datatable">
                                    <thead>
                                        <tr>
                                            <th>No Draft</th>
                                            <th>Request User</th>
                                            <th>Approval User</th>
                                            <th>Menu</th>
                                            <th>App Level</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int a = 0;
                                            foreach (var i in Model)
                                            {
                                                a++;
                                                <tr>
                                                    <td>
                                                        <a href="Form?id=@Html.DisplayFor(m => i.asoid)" class="text-primary">@Html.DisplayFor(m => i.asoid)</a>
                                                    </td>
                                                    <td>@Html.DisplayFor(m => i.req)</td>
                                                    <td>@Html.DisplayFor(m => i.app)</td>
                                                    <td>@Html.DisplayFor(m => i.mnname)</td>
                                                    <td>@Html.DisplayFor(m => i.asflag)</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>