﻿@{
    ViewBag.Title = "Laporan Sales Order";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan Sales Order</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "SOReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Summary", Value = "Summary" },
                                            new SelectListItem { Text = "Detail", Value = "Detail" },
                                            new SelectListItem { Text = "Summary SO & Penjualan", Value = "Summary Status Amount" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                                {
                                                new SelectListItem { Text = "Tgl Transaksi", Value = "som.updtime" },
                                                new SelectListItem { Text = "Tgl Dokumen", Value = "som.soitemdate" }
                                                }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>   
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true }, 
                                            new SelectListItem { Text="Post", Value="Post", Selected=true },
                                            new SelectListItem { Text="Cancel", Value="Cancel", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true },
                                            new SelectListItem { Text="Force Closed", Value="Force Closed", Selected=true }
                                        }, new { @class = "form-control select2", @multiple = "" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Kategori</label>
                                        @*<div class="col-md-8">
                                            @Html.DropDownList("DDLKategori", new List<SelectListItem>
                                                {
                                                new SelectListItem { Text = "PROJECT", Value = "PROJECT" },
                                                new SelectListItem { Text = "RETAIL", Value = "RETAIL" },
                                                new SelectListItem { Text = "PARTNER", Value = "PARTNER" },
                                                new SelectListItem { Text = "KLIKBUY", Value = "KLIKBUY" },
                                                new SelectListItem { Text = "BTB", Value = "BTB" },
                                                new SelectListItem { Text = "B2B", Value = "B2B" },
                                                new SelectListItem { Text = "B2G", Value = "B2G" },
                                                new SelectListItem { Text = "B2C", Value = "B2C" },
                                                new SelectListItem { Text = "MARKETPLACE", Value = "MARKETPLACE" },
                                                }, new { @class = "form-control select2" })
                                        </div>*@
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLKategori", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="PROJECT", Value="PROJECT", Selected=true },
                                            new SelectListItem { Text="RETAIL", Value="RETAIL", Selected=true },
                                            new SelectListItem { Text="PARTNER", Value="PARTNER", Selected=true },
                                            new SelectListItem { Text="KLIKBUY", Value="KLIKBUY", Selected=true },
                                            new SelectListItem { Text="BTB", Value="BTB", Selected=true },
                                            new SelectListItem { Text="B2B", Value="B2B", Selected=true },
                                            new SelectListItem { Text="B2G", Value="B2G", Selected=true },
                                            new SelectListItem { Text="B2C", Value="B2C", Selected=true },
                                            new SelectListItem { Text="MARKETPLACE", Value="MARKETPLACE", Selected=true },
                                        }, new { @class = "form-control select2", @multiple = "" })
                                        </div>

                                    </div>
                                </div>

                                                       
                            </div>

                                @*===== Baris ke 2 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Customer</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("TextCust", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                           <label class="col-md-4 control-label">Nomer SO</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("soitemno", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchso" class="btn btn-link" data-toggle="modal" data-target="#modal-so">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>

                                @*===== Baris ke 3 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">No. RAB</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchpr" class="btn btn-link" data-toggle="modal" data-target="#modal-pr">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sales</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("TextSales", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchsupp" class="btn btn-link" data-toggle="modal" data-target="#modal-supp">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-6" id="divfordtl" style="display: none;">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Material</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sorting</label>
                                            <div class="col-md-4">
                                        @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="SO No.", Value="som.soitemno" },
                                            new SelectListItem { Text="Tgl Transaksi", Value="som.updtime" },
                                            new SelectListItem { Text="Tgl Dokumen", Value="som.soitemdate" }
                                        }, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="ASC", Value="ASC" },
                                            new SelectListItem { Text="DESC", Value="DESC" }
                                        }, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK SALES *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales</h4>
                    @Html.Hidden("total-supp")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSupp()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SALES *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Customer Data</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK PRAB *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Draft No</th>
                                    <th>RAB No</th>
                                    <th>Tgl Dokumen</th>
                                    <th>Project</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PRAB *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Tipe</th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@

    @* MODAL UNTUK FORM SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>Tgl SO</th>
                                    <th>Customer</th> 
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterSO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        $("#tblModalSO").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        $("#tblModalCust").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        $("#tblModalPR").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });

        $("#tblModalMat").DataTable({
            "destroy": true,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            }
        });
    })

    /*END DOCUMENT READY*/
    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var markupsort = "<option value=\'som.soitemno\'>SO No</option><option value=\'som.updtime\'>Tgl Transaksi</option><option value=\'som.soitemdate\'>Tgl. Dokumen</option></option>";
        if (type == "Summary")
        {
            $('#divfordtl').hide();
        }
        else
        {
            $('#divfordtl').show();
            markupsort = "<option value=\'m.itemcode\'>Barang</option><option value=\'som.soitemno\'>RAB No</option>";
        }
        $("#DDLSorting").html(markupsort).show();
    }

    $("#btnsearchsupp").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var DDLKategori = $("#DDLKategori").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetSalesData"))",
            data: { DDLStatus, StartPeriod, EndPeriod, DDLPeriod, DDLKategori },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalSupp").DataTable();
                    table.destroy();
                    $("#tblModalSupp").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-supp').val(total);
                    if (total > 0) {
                        table = $("#tblModalSupp").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-supp').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-supp').modal('hide');
            }
        });
    });

    function AddToFilterSupp() {
        var ind = 1;
        if (parseInt($('#total-supp').val()) > 0) {
            var result = $("#TextSales").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalSupp').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextSales").val(result);
        }
    }

    $("#btnsearchso").click(function () {
        var status = $("#DDLStatus").val();
        var DDLKategori = $("#DDLKategori").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var TextSales = $("#TextSales").val();

        var table = $('#tblModalSO').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();

        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            data: { status, startdate, enddate, fdate, TextSales, DDLKategori },
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            $.each(data, function (key, val) {
                rows.push([
                    ++i,
                    val.soitemno,
                    moment(val.soitemdate).format('DD/MM/YYYY'), 
                    val.custname
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    $("#btnsearchcust").click(function () {
        var status = $("#DDLStatus").val();
        var DDLKategori = $("#DDLKategori").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var TextSales = $("#TextSales").val();

        var table = $('#tblModalCust').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { status, startdate, enddate, fdate, TextSales, DDLKategori },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                         ++i,
                        val.custcode,
                        val.custname,
                        val.custaddr
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchpr").click(function () {
        var status = $("#DDLStatus").val();
        var DDLKategori = $("#DDLKategori").val();
        var custcode = $("#TextCust").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var TextSales = $("#TextSales").val();

        var table = $('#tblModalPR').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPRABData"))",
            data: { status, custcode, startdate, enddate, fdate, TextSales, DDLKategori },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        ++i,
                        val.rabmstoid,
                        val.rabno,
                        moment(val.rabdate).format('DD/MM/YYYY'),
                        val.projectname,
                        val.rabnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#btnsearchmat").click(function () {
        var status = $("#DDLStatus").val();
        var DDLKategori = $("#DDLKategori").val();
        var custcode = $("#TextCust").val();
        //var ddlnomor = $("#DDLNomor option:selected").val();
        var prabno = $("#TextNomor").val();
        var startdate = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var enddate = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var fdate = $("#DDLPeriod option:selected").val();
        var TextSales = $("#TextSales").val();

        var table = $('#tblModalMat').DataTable();
        table.column(0).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { status, custcode, prabno, startdate, enddate, fdate, TextSales, DDLKategori },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = []; var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        ++i,
                        val.itemcode,
                        val.itemdesc,
                        val.itemtype,
                        val.unit
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToFilterCust() {
        var ind = 1;
        var result = $("#TextCust").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalCust').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextCust").val(result);
    }

    function AddToFilterSO() {
        var ind = 1;
        var result = $("#soitemno").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalSO').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#soitemno").val(result);
    }


    function AddToFilterPR() {
        var ind = 2;
        //if ($("#DDLNomor option:selected").val() == "rm.rabmstoid")
          //  ind = 1;
        var result = $("#TextNomor").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalPR').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextNomor").val(result);
    }

    function AddToFilterMat() {
        var ind = 1;
        var result = $("#TextMaterial").val();
        if (result != "")
            result += ";";
        var table = $('#tblModalMat').DataTable();
        var rowsel = table.column(0).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            result += data[ind] + ";";
        });
        result = result.substring(0, result.length - 1);
        $("#TextMaterial").val(result);
    }

    $("#btnViewReport").click(function () {
        var DDLType = $("#DDLType option:selected").val();
        var DDLStatus = $("#DDLStatus").val();
        var DDLKategori = $("#DDLKategori").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextCust = $("#TextCust").val();
        var soitemno = $("#soitemno").val();
        var TextNomor = $("#TextNomor").val();
       // var fnomor = $("#DDLNomor option:selected").val();
        var TextMaterial = $("#TextMaterial").val();
        var DDLSorting = $("#DDLSorting option:selected").val();
        var DDLSortDir = $("#DDLSortDir option:selected").val();
        var TextSales = $("#TextSales").val();
        var reporttype = "";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLType, DDLStatus, StartPeriod, EndPeriod, DDLPeriod, TextCust, TextNomor, TextMaterial, DDLSorting, DDLSortDir, reporttype, soitemno, TextSales, DDLKategori },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>