﻿@{
    ViewBag.Title = "Laporan TeleSales";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("ViewReport", "SOReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row"> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                                {
                                                new SelectListItem { Text = "Tgl Transaksi", Value = "Transaksi" },
                                                new SelectListItem { Text = "Tgl Dokumen", Value = "Dokumen" }
                                                }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("periodstart", new { htmlAttributes = new { @class = "form-control datepicker_from", @type = "text" } })<span class="input-group-addon"><i class="fa fa-calendar"></i></span><span class="input-group-addon no-border">-</span>@Html.Editor("periodend", new { htmlAttributes = new { @class = "form-control datepicker_to", @type = "text" } })
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div> 
                                </div>    
                                
                                                  
                            </div>

                                @*===== Baris ke 2 =====*@
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sales</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("filtersales", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchwh" class="btn btn-link" onclick="GetModalData('sales')"><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>   
                                    <div class="col-md-6">
                                        <div class="form-group">
                                           <label class="col-md-4 control-label">Nomer SO</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("filtersono", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchwh" class="btn btn-link" onclick="GetModalData('sono')"><i class="fa fa-search"></i></button> 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                           <label class="col-md-4 control-label">Customer</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("filtercust", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchwh" class="btn btn-link" onclick="GetModalData('cust')"><i class="fa fa-search"></i></button> 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">No. RAB</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("filterrab", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchwh" class="btn btn-link" onclick="GetModalData('rab')"><i class="fa fa-search"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*===== Baris ke 3 =====*@
                                <div class="row">                                  

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Material</label>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    @Html.TextArea("filtermat", new { @class = "form-control" })
                                                    <span class="input-group-btn">
                                                        <button type="button" id="btnsearchwh" class="btn btn-link" onclick="GetModalData('mat')"><i class="fa fa-search"></i></button> 
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Telesales/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    <div class="modal fade" id="modal-filter">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-filter-title"></h4>
                    @Html.Hidden("total-data")
                    @Html.Hidden("modal-type")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFilter" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilter()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
    });

    function GetFilterData() {
        var data = {
            periodstart: $('#periodstart').val(),
            periodend: $('#periodend').val(),
            DDLPeriod: $('#DDLPeriod option:selected').val(),
            filtermat: $('#filtermat').val(),
            filtercust: $('#filtercust').val(),
            filtersono: $('#filtersono').val(),
            filterrab: $('#filterrab').val(),
            filtersales: $('#filtersales').val()
        };
        return data;
    }

    function GetModalData(modaltype) {
        var param = GetFilterData();
        $('#modal-type').val(modaltype);
        if (modaltype == "sales")
            $('#modal-filter-title').html('LIST OF SALES');
        else if (modaltype == "sono")
            $('#modal-filter-title').html('LIST OF SALES ORDER');
        else if (modaltype == "rab")
            $('#modal-filter-title').html('LIST OF RAB');
        else if (modaltype == "cust")
            $('#modal-filter-title').html('LIST OF CUSTOMER');
        else if (modaltype == "mat")
            $('#modal-filter-title').html('LIST OF ITEM PRODUK');

        $.ajax({
            url: "@(Url.Action("GetModalData"))",
            data: { param: param, modaltype: modaltype },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var total = SetDataToModalTable('#tblModalFilter', data);
                    $('#total-data').val(total);
                    $('#modal-filter').modal('show');
                } else {
                    swal('', data.result, 'error');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
            }
        });
    }

    function AddToFilter() {
        if (parseInt($('#total-data').val()) > 0) {
            var result = $("#filter" + $('#modal-type').val()).val();
            if (result != "")
                result += ";";
            var table = $('#tblModalFilter').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                if (!result.includes(data[1]))
                    result += data[1] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#filter" + $('#modal-type').val()).val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var param = GetFilterData();
        var reporttype = "View";
        $.ajax({
            url: "@(Url.Action("ViewReport"))",
            data: { param, reporttype },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        var param = GetFilterData();
        $("#reporttype").val("PDF");
        $("#periodstart").val(param.periodstart);
        $("#periodend").val(param.periodend);
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        var param = GetFilterData();
        $("#reporttype").val("XLS");
        $("#periodstart").val(param.periodstart);
        $("#periodend").val(param.periodend);
        $("#btnSubmit").click();
    });
</script>