﻿@model APIS_WB.Models.DB.QL_assetmst

@{
    ViewBag.Title = "Asset Dalam Penyelesaian";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Asset Dalam Penyelesaian</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.HiddenFor(model => model.assetdate)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Assets No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.assetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.assetmstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal</label>
                                        <div class="col-md-4">
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.ValidationMessageFor(model => model.assetdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "", @readonly = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.assetdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display: none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Assets Type</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.reftype, new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Asset", Value="Asset" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Assets Account</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.assetacctgoid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.assetacctgoid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("reflongdesc", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-flat" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.refoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.assetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.assetmststatus } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Note</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.assetmstnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                @*if (@Model.assetmststatus == "Post" | @Model.assetmststatus == "Closed")
                                {
                                    <button type="button" onclick="clickRevisi()" class="btn btn-success btn-md" id="btnSaveRev"><b>Revisi</b></button>
                                }*@
                                if (@Model.assetmststatus == "In Process" | @Model.assetmststatus == "Revised")
                                {
                                    <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                    if (ViewBag.action == "Edit")
                                    {
                                        <button type="button" id="btnDelete" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                    }
                                }
                            }
                        </div>
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Material</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Code</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#tblModalMat").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalMat = $("#tblModalMat").DataTable();
        tblModalMat.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalMat.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#reflongdesc").val(alldata.matlongdesc);
            $("#refoid").val(alldata.matoid);
            $('#modal-mat').modal('hide');
        });

        $("#cmpcode").change(function () {
            InitDDLAcctg()
            if ($("#action").val() == "Create") {
                GenerateAssetsNo();
            }
        });

        $("#reftype").change(function () {
            $("#reflongdesc").val("");
            $("#refoid").val("");
        })

        if ($("#action").val() == "Create") {
            GenerateAssetsNo();
        }
        InitDDLAcctg();

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#assetdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
    })

    function GenerateAssetsNo() {
        var cmpcode = $("#cmpcode option:selected").val();
        $.ajax({
            url: "@(Url.Action("GenerateAssetsNo"))",
            data: { cmp: "APIS"},
            cache: false,
            type: "POST",
            success: function (data) {
                $("#assetno").val(data);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }

    function InitDDLAcctg() {
        var cmp = $("#cmpcode option:selected").val();
        var assetacctgoid = $("#assetacctgoid");
        var assetacctgoid_sel = $("#assetacctgoid option:selected").val();
        var sVal = true;
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: cmp, sVar: "VAR_ASSET" },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == assetacctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                assetacctgoid.html(markup).show();
                if (isExist == true) {
                    assetacctgoid.val(assetacctgoid_sel);
                }
                assetacctgoid.trigger('change');
            } else {
                assetacctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    $("#btnsearchmat").click(function () {
        var table = $('#tblModalMat').DataTable();
        var reftype = $("#reftype option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("BindListMat"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.matcode,
                        val.matlongdesc,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    $("#btnSaveClose").click(function () {
        $("#closing").val("true");
        $("#btnSave").click();
    });

    $("#btnDelete").click(function () {
        var oid = $("#assetmstoid").val();
        var cmp = $("#cmpcode option:selected").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, cmp: cmp },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#assetmststatus").val("Post");
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>