﻿@model APIS_WB.Models.DB.QL_m04MN

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Menu
    </h1>
    <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol> -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Menu</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.mnoid)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "New" : "Update") Data</label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Menu Number <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.mnseq, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "10" } })
                                    @Html.ValidationMessageFor(model => model.mnseq, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Menu Name <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.mnname, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "50" } })
                                    @Html.ValidationMessageFor(model => model.mnname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Menu Type <label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.mntype, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "15" } })
                                    @Html.ValidationMessageFor(model => model.mntype, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Menu Module </label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.mnmodule, new { htmlAttributes = new { @class = "form-control", @type = "text" , @maxlength = "20" } })
                                    @Html.ValidationMessageFor(model => model.mnmodule, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Menu Fileloc</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.mnfileloc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.mnfileloc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">FA Icon Class<label class="text-red">*</label></label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.mnicon, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "20" } })
                                    @Html.ValidationMessageFor(model => model.mnicon, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Status</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(model => model.mnflag, new List<SelectListItem>
                            {
                                    new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                    new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                            }, new { @class = "form-control select2", @required = "" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        @*<div class="pull-left">

                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:Created by @(Html.DisplayFor(m => m.createuser)) On @(Html.DisplayFor(m => m.createtime))
                                    @:<br /> Last Update by @(Html.DisplayFor(m => m.upduser)) On @(Html.DisplayFor(m => m.updtime))
                                }
                            }

                        </div>*@
                        <div class="pull-right">
                            <a href="@Url.Action("Index","Menu")" type="button" class="btn btn-primary btn-md"><b>Back</b></a>
                            <button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>
                            <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Save</b></button>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Delete</b></button>
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">

    function clickDelete() {
        var oid = $("#mnoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete", "Menu"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index", "Menu"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }

    $(document).ready(function () {
        if ("@(ViewBag.action)" == "Edit") {
            //$("#profoid").prop("readonly", true)
        }

    })
</script>

