﻿@{
    ViewBag.Title = "Laporan Update Piutang";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Laporan Update Piutang</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm("PrintReport", "FJUpdateReport"))
                {
                    <div class="box-body">
                        <div class="container-fluid">
                            @Html.Hidden("reporttype")
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLType", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Detail", Value = "Summary" }
                                        }, new { @class = "form-control select2", @onchange = "ChangeType()" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("DDLStatus", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="In Process", Value="In Process", Selected=true },
                                            new SelectListItem { Text="Post", Value="Post", Selected=true },
                                            new SelectListItem { Text="Closed", Value="Closed", Selected=true }
                                        }, new { @class = "form-control select2", @multiple = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPeriod", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Tgl Transaksi", Value = "[Upd Date]" },
                                            new SelectListItem { Text = "Tgl Dokumen", Value = "[AR Date]" },
                                            new SelectListItem { Text = "Tgl Update", Value = "arupddtldate" },
                                        }, new { @class = "form-control select2" })
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("TextPeriod", new { htmlAttributes = new { @class = "form-control daterangepicker", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.Hidden("StartPeriod")
                                            @Html.Hidden("EndPeriod")
                                        </div>
                                    </div>
                                </div>

                               
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextCust", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcust" class="btn btn-link" data-toggle="modal" data-target="#modal-cust">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLNomor", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "RAB No.", Value = "[No. RAB]" }
                                                //new SelectListItem { Text = "Draft No.", Value = "rm.rabmstoid" }
                                            }, new { @class = "form-control select2" })
                                        </div>

                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomor", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpr" class="btn btn-link" data-toggle="modal" data-target="#modal-pr">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>                              
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            @Html.DropDownList("DDLPono", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text = "No. Faktur Jual", Value = "[AR No.]" },
                                                new SelectListItem { Text = "Draft No.", Value = "[armstoid]" }
                                            }, new { @class = "form-control select2" })
                                        </div>

                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextNomorPO", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-link" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                                                
                                <div class="col-md-6" id="divfordtl" style="display: none;">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Material</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.TextArea("TextMaterial", new { @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchmat" class="btn btn-link" data-toggle="modal" data-target="#modal-mat">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="row" style="display:none">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Sorting</label>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSorting", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="No. RAB.", Value="rm.rabno" },
                                            new SelectListItem { Text="Tgl Transaksi", Value="rm.updtime" },
                                            new SelectListItem { Text="Tgl Dokumen", Value="rm.rabdate" }
                                        }, new { @class = "form-control select2" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DropDownList("DDLSortDir", new List<SelectListItem>
                                        {
                                            new SelectListItem { Text="ASC", Value="ASC" },
                                            new SelectListItem { Text="DESC", Value="DESC" }
                                        }, new { @class = "form-control select2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" id="btnSubmit" style="display: none;"><b>Submit</b></button>
                        <button type="button" class="btn btn-primary btn-md" id="btnViewReport"><b>View Report</b></button>
                        <button type="button" class="btn btn-danger btn-md" id="btnExportPDF"><b>Export To Pdf</b></button>
                        <button type="button" class="btn btn-success btn-md" id="btnExportExcel"><b>Export To Excel</b></button>
                        <a href="@Url.Action("Report/")" type="button" class="btn btn-default btn-md"><b>Clear</b></a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <iframe id="ReportFrame" src="" style="border:none; width: 100%; height: 1000px;"></iframe>
        </div>
    </div>

    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Faktur Jual</h4>
                    @Html.Hidden("total-po")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPO()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@

    @* MODAL UNTUK CUSTOMER *@
    <div class="modal fade" id="modal-cust">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Supplier</h4>
                    @Html.Hidden("total-cust")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalCust" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterCust()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK CUSTOMER *@

    @* MODAL UNTUK RAB *@
    <div class="modal fade" id="modal-pr">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data RAB</h4>
                    @Html.Hidden("total-pr")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPR" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterPR()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK RAB *@

    @* MODAL UNTUK MATERIAL *@
    <div class="modal fade" id="modal-mat">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                    @Html.Hidden("total-mat")
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalMat" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Default</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default btn-md" onclick="AddToFilterMat()" data-dismiss="modal">Add To Filter</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK MATERIAL *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function ChangeType() {
        var type = $("#DDLType option:selected").val();
        var markupsort = "<option value=\'pom.poitemno\'>No. RAB</option><option value=\'rm.updtime\'>Tgl Transaksi</option><option value=\'rm.rabdate\'>Tgl Dokumen</option></option>";
        if (type == "Detail")
        {
            $('#divfordtl').show();
            markupsort = "<option value=\'m.itemdesc\'>Barang</option><option value=\'rm.rabno\'>No. RAB</option>";
        }
        else
        {
            $('#divfordtl').hide();
        }
        $("#DDLSorting").html(markupsort).show();
    }

    $("#btnsearchcust").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetCustData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalCust").DataTable();
                    table.destroy();
                    $("#tblModalCust").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-cust').val(total);
                    if (total > 0) {
                        table = $("#tblModalCust").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-cust').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-cust').modal('hide');
            }
        });
    });

    function AddToFilterCust() {
        var ind = 1;
        if (parseInt($('#total-cust').val()) > 0) {
            var result = $("#TextCust").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalCust').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextCust").val(result);
        }
    }

    $("#btnsearchpo").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextNomor = $("#TextNomor").val();
        var DDLNomor = $("#DDLNomor option:selected").val();
        var TextCust = $("#TextCust").val();

        $.ajax({
            url: "@(Url.Action("GetPOData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextNomor: TextNomor, DDLNomor: DDLNomor, TextCust: TextCust },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "") {
                var table = $("#tblModalPO").DataTable();
                table.destroy();
                $("#tblModalPO").empty();

                var cols = [];
                $.each(data.tblcols, function (key, val) {
                    var obj = { title: val };
                    cols.push(obj);
                });

                var rows = [];
                var total = 0;
                $.each(data.tblrows, function (key, val) {
                    var row = Object.values(val);
                    rows.push(row);
                    total++;
                });

                $('#total-po').val(total);
                if (total > 0) {
                    table = $("#tblModalPO").DataTable({
                        "columns": cols,
                        "data": rows,
                        "deferRender": true,
                        "columnDefs": [
                            {
                                "targets": 0,
                                "checkboxes": {
                                    "selectRow": false
                                }
                            },
                            {
                                "targets": 1,
                                "visible": false
                            }
                        ],
                        "select": {
                            "style": 'multi'
                        },
                        "order": [[1, 'asc']]
                    });
                }

            } else {
                swal('', data.result, 'error');
                $('#modal-po').modal('hide');
            }
        },
        error: function (err) {
            swal('', err.responseText, 'error');
            $('#modal-po').modal('hide');
        }
    });
    });

    function AddToFilterPO() {
        var ind = 2;
        if ($("#DDLPono option:selected").val() == "Draft No.")
            ind = 1;
        if (parseInt($('#total-po').val()) > 0) {
            var result = $("#TextNomorPO").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalPO').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomorPO").val(result);
        }
    }

    $("#btnsearchpr").click(function () {
        var DDLStatus = $("#DDLStatus").val(); 
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextCust = $("#TextCust").val();

        $.ajax({
            url: "@(Url.Action("GetPRABData"))",
            data: { DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextCust: TextCust },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalPR").DataTable();
                    table.destroy();
                    $("#tblModalPR").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-pr').val(total);
                    if (total > 0) {
                        table = $("#tblModalPR").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                },
                                {
                                    "targets": 1,
                                    "visible": false
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-pr').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-pr').modal('hide');
            }
        });
    });

    function AddToFilterPR() {
        var ind = 2;
        if ($("#DDLNomor option:selected").val() == "rm.rabmstoid")
            ind = 1;
        if (parseInt($('#total-pr').val()) > 0) {
            var result = $("#TextNomor").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalPR').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextNomor").val(result);
        }
    }

    $("#btnsearchmat").click(function () {
        var DDLStatus = $("#DDLStatus").val();
        var TextCust = $("#TextCust").val();
        var DDLNomor = $("#DDLNomor option:selected").val();
        var TextNomor = $("#TextNomor").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextNomorPO = $("#TextNomorPO").val();
        var DDLPono = $("#DDLPono option:selected").val();

        $.ajax({
            url: "@(Url.Action("GetMaterialData"))",
            data: { DDLStatus: DDLStatus, TextCust: TextCust, DDLNomor: DDLNomor, TextNomor: TextNomor, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, DDLPono: DDLPono, TextNomorPO: TextNomorPO },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "") {
                    var table = $("#tblModalMat").DataTable();
                    table.destroy();
                    $("#tblModalMat").empty();

                    var cols = [];
                    $.each(data.tblcols, function (key, val) {
                        var obj = { title: val };
                        cols.push(obj);
                    });

                    var rows = [];
                    var total = 0;
                    $.each(data.tblrows, function (key, val) {
                        var row = Object.values(val);
                        rows.push(row);
                        total++;
                    });

                    $('#total-mat').val(total);
                    if (total > 0) {
                        table = $("#tblModalMat").DataTable({
                            "columns": cols,
                            "data": rows,
                            "deferRender": true,
                            "columnDefs": [
                                {
                                    "targets": 0,
                                    "checkboxes": {
                                        "selectRow": false
                                    }
                                }
                            ],
                            "select": {
                                "style": 'multi'
                            },
                            "order": [[1, 'asc']]
                        });
                    }

                } else {
                    swal('', data.result, 'error');
                    $('#modal-mat').modal('hide');
                }
            },
            error: function (err) {
                swal('', err.responseText, 'error');
                $('#modal-mat').modal('hide');
            }
        });
    });

    function AddToFilterMat() {
        var ind = 1;
        if (parseInt($('#total-mat').val()) > 0) {
            var result = $("#TextMaterial").val();
            if (result != "")
                result += ";";
            var table = $('#tblModalMat').DataTable();
            var rowsel = table.column(0).checkboxes.selected();
            $.each(rowsel, function (key, val) {
                var data = table.row(val - 1).data();
                result += data[ind] + ";";
            });
            result = result.substring(0, result.length - 1);
            $("#TextMaterial").val(result);
        }
    }

    $("#btnViewReport").click(function () {
        var DDLType = $("#DDLType option:selected").val();
        var DDLStatus = $("#DDLStatus").val();
        var StartPeriod = $("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY');
        var EndPeriod = $("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY');
        var DDLPeriod = $("#DDLPeriod option:selected").val();
        var TextCust = $("#TextCust").val();
        var TextNomor = $("#TextNomor").val();
        var TextNomorPO = $("#TextNomorPO").val();
        var DDLPono = $("#DDLPono option:selected").val();
        var DDLNomor = $("#DDLNomor option:selected").val();
        var TextMaterial = $("#TextMaterial").val();
        var DDLSorting = $("#DDLSorting option:selected").val();
        var DDLSortDir = $("#DDLSortDir option:selected").val();
        var reporttype = "";

        $.ajax({
            url: "@(Url.Action("PrintReport"))",
            data: { DDLType: DDLType, DDLStatus: DDLStatus, StartPeriod: StartPeriod, EndPeriod: EndPeriod, DDLPeriod: DDLPeriod, TextCust: TextCust, TextNomor: TextNomor, DDLNomor: DDLNomor, TextMaterial: TextMaterial, DDLSorting: DDLSorting, DDLSortDir: DDLSortDir, reporttype: reporttype, TextNomorPO: TextNomorPO, DDLPono: DDLPono },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#ReportFrame").attr("src", "@Url.Content("~/Other/ReportViewer.aspx?rptfile=")" + data.rptfile + "");
                pleaseWaitDialog.show();
            },
            error: function (err) {
                swal('', err, 'error');
            }
        });
    });

    $("#ReportFrame").on("load", function () {
        pleaseWaitDialog.hide();
    });

    $("#btnExportPDF").click(function () {
        $("#reporttype").val("PDF");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });

    $("#btnExportExcel").click(function () {
        $("#reporttype").val("XLS");
        $("#StartPeriod").val($("#TextPeriod").data('daterangepicker').startDate.format('MM/DD/YYYY'));
        $("#EndPeriod").val($("#TextPeriod").data('daterangepicker').endDate.format('MM/DD/YYYY'));
        $("#btnSubmit").click();
    });
</script>