﻿@model APIS_WB.Models.DB.QL_mstbank

@{
    ViewBag.Title = "Bank";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Bank
    </h1>
    <!--<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol> -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h3 class="box-title">Form Bank</h3>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.bankoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label for="ppno">Kode</label>
                                        <b style="color: red">*</b>
                                    </div>
                                    <div class="col-lg-4">
                                       @Html.EditorFor(model => model.bankcode, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                    @Html.ValidationMessageFor(model => model.bankcode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label for="ppno">Nama</label>
                                        <b style="color: red">*</b>
                                    </div>
                                    <div class="col-lg-7">
                                       @Html.EditorFor(model => model.bankname, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                    @Html.ValidationMessageFor(model => model.bankname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 35px;">
                                        <label for="ppno">Alamat</label>
                                        <b style="color: red">*</b>
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.EditorFor(model => model.bankaddress, new { htmlAttributes = new { @class = "form-control", rows = "20", @maxlength = "100" } })
                                    @Html.ValidationMessageFor(model => model.bankaddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label for="ppno">Cabang</label>
                                    </div>
                                    <div class="col-lg-7">
                                       @Html.EditorFor(model => model.bankbranch, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                    @Html.ValidationMessageFor(model => model.bankbranch, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>No. Telp 1</label>
                                        <b style="color: red">*</b>
                                    </div>
                                    <div class="col-lg-6">
                                       @Html.EditorFor(model => model.bankphone, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                    @Html.ValidationMessageFor(model => model.bankphone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>No. Telp 2</label>
                                    </div>
                                    <div class="col-lg-6">
                                        @Html.EditorFor(model => model.bankphone2, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.bankphone2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.EditorFor(model => model.bankemail, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "Email", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(m => m.bankemail, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-1" style="margin-left: -27px;">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="col-lg-4" style="padding-top: 10px;">
                                        <label>Catatan</label>
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.EditorFor(model => model.banknote, new { htmlAttributes = new { @class = "form-control", @type = "text",  @maxlength = "150" } })
                                        @Html.ValidationMessageFor(model => model.banknote, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">Status</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                              new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2", @required = "" })
                                    </div>
                                </div>
                            </div><br>

                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @(Html.DisplayFor(m => m.createtime))
                                @{
                                    if (ViewBag.action == "Update Data")
                                    {
                                        @:Terakhir Diupdate Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy")
                                    }
                                }

                            </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @*<button type="reset" class="btn btn-default btn-md" style="width: 80px;"><b>Cancel</b></button>*@
                            <button type="submit" name="action" class="btn btn-success btn-md"><b>Simpan</b></button>
                            @{
                                if (ViewBag.action == "Update Data")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script language="javascript" type="text/javascript">

    function groupChange() {
        var grname = $("#groid option:selected").html();
        if (grname == "Province") {
            fillgnrefoid("Country");
            $("#lblgnrefoid").html("Country")
            $("#divgnrefoid").show()
        } else if (grname == "City") {
            fillgnrefoid("Province");
            $("#lblgnrefoid").html("Province")
            $("#divgnrefoid").show()
        } else {
            fillgnrefoid("Country");
            $("#divgnrefoid").hide()
        }
    }
    function fillgnrefoid(grname) {
        var ddl = $("#gnrefoid");
        var gnrefoid = $("#gnrefoid option:selected").val();

        ddl.html("<option value=''> Please wait...</option>").show();
        $.ajax({
            url: "@(Url.Action("getGeneral"))",
            data: { grname: grname },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";//"<option value=0>Choose Ref</option>";
                if (data.result == "sukses") {
                    var isExist = false;
                    $.each(data.qL_m05GN, function (key, val) {
                        markup += "<option value=\'" + val.gnoid + "\'>" + val.gndesc + "</option>";
                        if (val.gnoid == gnrefoid) {
                            isExist = true;
                        }
                    });
                    console.log(data.qL_m05GN);
                    ddl.html(markup).show();
                    if (isExist == true) {
                        ddl.val(gnrefoid);
                    }
                    ddl.trigger('change');
                } else {
                    ddl.html("<option value=''> Failed Load Data (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function clickDelete() {
        var oid = $("#bankoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });

            }
        })
    }

    $(document).ready(function () {
        if ("@(ViewBag.action)" == "Edit") {
            $("#groid").prop("readonly", true)
        }
        groupChange();
    })
</script>
