﻿@model IEnumerable<APIS_WB.Controllers.Master.BankController.bank>

@{
    ViewBag.Title = "Bank";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bank
    </h1>
</section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <p>
                        <a class="btn btn-success" href="Form" style="margin-left: -5px;">
                            <i class="fa fa-plus"></i> Tambah
                        </a>
                    </p>
                </div>
                <!-- <div class="box-header">
        <h3 class="box-title">To Do List</h3>
    </div> -->
                <!-- /.box-header -->

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>No Draft</th>
                                        <th>Code</th>
                                        <th>Bank Name</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Branch</th>
                                        <th>Catatan</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.bankoid)" class="text-primary">@Html.DisplayFor(m => i.bankoid)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.bankcode)</td>
                                                <td>@Html.DisplayFor(m => i.bankname)</td>
                                                <td>@Html.DisplayFor(m => i.bankaddress)</td>
                                                <td>@Html.DisplayFor(m => i.bankphone)</td>
                                                <td>@Html.DisplayFor(m => i.bankbranch)</td>
                                                <td>@Html.DisplayFor(m => i.banknote)</td>
                                                <td>@Html.DisplayFor(m => i.activeflag)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
