﻿@model APIS_WB.Models.DB.QL_mstacctg

@{
    ViewBag.Title = "MasterCoa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>COA</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                <!-- /.box-header -->
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.acctgoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)  
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action == "Create" ? "Data Baru" : "Edit" )</label>                              
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Kategori</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctggrp1, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="AKTIVA", Value="AKTIVA" },
                                              new SelectListItem { Text="KEWAJIBAN", Value="KEWAJIBAN" },
                                              new SelectListItem { Text="EKUITAS", Value="EKUITAS" },
                                              new SelectListItem { Text="PENDAPATAN USAHA", Value="PENDAPATAN USAHA" },
                                              new SelectListItem { Text="HARGA POKOK", Value="HARGA POKOK" },
                                              new SelectListItem { Text="BIAYA USAHA", Value="BIAYA USAHA" }
                                            }, new { @class = "form-control select2", @required = "",@onchange= "changeGroup()" })
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">No. Induk</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("acctgcodeind", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchcoa" class="btn btn-flat" data-toggle="modal" data-target="#modal-coa">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                                @Html.HiddenFor(m => m.acctggrp2)
                                                @Html.HiddenFor(m => m.acctggrp3)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                             
 
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Akun No. <b style="color: red">*</b></label>
                                        <div class="col-md-4">
                                          @Html.Editor("acctgcode1", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.acctgcodeseq, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @required = "", @maxlength = "50", @onblur = "berubah()" } }) 
                                            @Html.ValidationMessageFor(model => model.acctgcodeseq, "", new { @class = "text-danger" }) 
                                        </div> 
                                        @Html.HiddenFor(m => m.acctgcode)
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.acctgcode, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Nama Akun <b style="color: red">*</b></label>
                                        <div class="col-sm-8">
                                           @Html.EditorFor(model => model.acctgdesc, new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @maxlength = "100" } })
                                        @Html.ValidationMessageFor(model => model.acctgdesc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Mata Uang</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4">Debet / Credit</label>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.acctgdbcr, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="DEBET", Value="D" },
                                              new SelectListItem { Text="CREDIT", Value="C" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Kode Lama</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.acctgcodeold, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "30" } })
                                            @Html.ValidationMessageFor(model => model.acctgcodeold, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4 control-label">Catatan</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.acctgnote, new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                            @Html.ValidationMessageFor(model => model.acctgnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-sm-4">Status</label>
                                        <div class="col-md-8">
                                          @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                              new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box-footer">
                                <div class="pull-left">
                                    Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    @{
                                        if (ViewBag.action == "Edit")
                                        {
                                            @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                                    }

                                </div>
                                <div class="pull-right">
                                    <button type="submit" name="action" value="@(ViewBag.action)" class="btn btn-success btn-md"><b>Simpan</b></button>
                                    <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>                                
                                    @{
                                        if (ViewBag.action == "Edit")
                                        {
                                            <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!--Tutup BeginForm--->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-coa">
        <div class="modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Daftar Akun COA</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblistcoa" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>alldata</th>
                                    <th>Action</th> 
                                    <th>Kode Akun</th>
                                    <th>Nama Akun</th> 
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    function clickDelete() {
        var oid = $("#acctgoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Apakah Anda yakin untuk menghapus data ini?',
            text: "Data yang sudah dihapus tidak akan bisa dikembalikan!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Ya, hapus data ini!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                success: function (data) {
                    if (data.result == 'sukses') {
                        Swal(
                          'Terhapus!',
                          'Data sudah dihapus.',
                          'success'
                        )
                        setTimeout(function () {
                            location.replace("@(Url.Action("Index"))");
                        }, 1000);
                    } else {
                        Swal(
                          'Gagal menghapus data!',
                          data.msg,
                          'warning'
                        )
                    }

                },
                error: function (error) {
                    console.dir(error)
                }
            });

        }
        })
    }

    function berubah() {
        var kode1 = $("#acctgcode1").val();
        var kode2 = $("#acctgcodeseq").val();
        if (kode1 == '') {
            $("#acctgcode").val(kode2);
        } else {
            $("#acctgcode").val(kode1 + '' + kode2);
        }
    }

    function changeGroup(){        
        $("#acctggrp2").val('');
        $("#acctggrp3").val('');
        $("#acctgcodeind").val('');
        $("#acctgcode1").val('');
    }

    //Modal Pop UP Perusahaan
    $("#btnsearchcoa").click(function () {
        var table = $('#tblistcoa').DataTable();
        var acctggrp1 = $('#acctggrp1 option:selected').val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("getCoa"))",
            data: { acctggrp1:acctggrp1 },
        cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;

            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.acctgcode,
                    val.acctgdesc,
                ]);
            });

            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
        });
    });

    $(document).ready(function () {

        $("#tblistcoa").DataTable({
            "bPaginate": true,
            //"bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblistcoa = $('#tblistcoa').DataTable();
        tblistcoa.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblistcoa.row($tr).data();
            var alldata = JSON.parse(data[0]);
            var grp2 = parseFloat(alldata.acctggrp2) + 1;
            $("#acctggrp2").val(grp2);
            $("#acctggrp3").val(alldata.acctgoid);
            $("#acctgcodeind").val(alldata.acctgcode);
            $("#acctgcode1").val(alldata.acctgcode);
            $('#modal-coa').modal('hide');
            berubah();
        });

        if ($('#action').val() == "Edit") {
            $('#acctggrp1').attr('readonly', true); 
            $('#acctgcodeseq').attr('readonly', true); 
        }
    })
</script>