﻿@model APIS_WB.Models.DB.QL_trnshipmentitemmst

@{
    ViewBag.Title = "Surat Jalan Jasa";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Surat Jalan Jasa</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Header Surat Jalan Jasa</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.shipmentitemmstoid)
                        @Html.HiddenFor(model => model.shipmentitemdate)
                        @Html.HiddenFor(model => model.shipmentitemmstres1)
                        @Html.HiddenFor(model => model.shipmentitemmstres2)
                        @Html.HiddenFor(model => model.shipmentitemmstres3)                        
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>    
                            @*===== Baris ke 1 =====*@                        
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Surat Jalan Jasa No.</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.shipmentitemno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal <label class="text-red">*</label></label>
                                        <div class="col-md-6">                                            
                                                @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })                                            
                                            @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 2 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepicker", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.shipmentitemdate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tipe Pengiriman</label>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.shipmentitemmstres3, "MANDIRI", new { @checked = true, @onchange = "openPengiriman()" })<b>MANDIRI</b></label>
                                        </div>
                                        <div class="col-md-2 radio">
                                            <label class="col-md-4 control-label">@Html.RadioButtonFor(model => model.shipmentitemmstres3, "EKSPEDISI", new { @onchange = "openPengiriman()" })<b>EKSPEDISI</b></label>
                                            @Html.ValidationMessageFor(model => model.shipmentitemmstres3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 3 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">SO No.<label class="text-red">*</label></label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("soitemno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchso" class="btn btn-flat" data-toggle="modal" data-target="#modal-so">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>                                            
                                        </div>
                                        @Html.HiddenFor(model => model.soitemmstoid)
                                        @Html.HiddenFor(model => model.curroid)
                                        @Html.HiddenFor(model => model.rabmstoid)
                                        @Html.ValidationMessageFor(model => model.soitemmstoid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal SO</label>
                                        <div class="col-md-6">                                            
                                                @Html.Editor("soitemdate", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            </div>
                                            @Html.ValidationMessage("soitemdate", "", new { @class = "text-danger" })
                                    </div>
                                </div>                             
                            </div>
                            @*===== Baris ke 4 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Customer</label>
                                        <div class="col-md-6">                                            
                                            @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                            @Html.HiddenFor(model => model.custoid)                                            
                                            @Html.ValidationMessage("custname", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Alamat</label>
                                        <div class="col-md-6">                                           
                                                @Html.Editor("custaddr", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })                                                
                                            </div>
                                            @Html.ValidationMessage("custaddr", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 5 =====*@
                            <div class="row" id="frmekspedisi">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Ekspedisi</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.ekspedisioid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Resi</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.ekspedisinoresi, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 6 =====*@
                            <div class="row" id="frmmandiri">                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Driver</label>
                                        <div class="col-md-6">
                                           @Html.DropDownListFor(model => model.driveroid, null, new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Armada</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.armadaoid, null, new { @class = "form-control select2", @onchange = "FillNopol()" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 7 =====*@
                            <div class="row" id="frmmandiriother">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">No Polisi</label>
                                        <div class="col-md-6">
                                            @Html.Editor("armadano", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = ""} })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*===== Baris ke 8 =====*@
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Catatan</label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(model => model.shipmentitemmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.shipmentitemmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>     
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.shipmentitemmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.shipmentitemmststatus } })
                                        </div>
                                    </div>
                                </div>                           
                            </div>                                
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-header">
                        <h3 class="box-title"><b>Detail Surat Jalan Jasa</b></h3>
                    </div>
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-right">
                                <span class="input-group">
                                    <button type="button" id="btnitem" class="btn btn-primary" data-toggle="modal" data-target="#modal-item">
                                        <i class="fa fa-plus"></i>
                                        Tambah
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th>No.</th>
                                        <th>Kode</th>
                                        <th>Deskripsi</th>
                                        <th>Qty SO</th>
                                        <th>Qty SJ</th>
                                        <th>Satuan</th>
                                        <th>Catatan</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                    }
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{                            
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                            if (@Model.shipmentitemmststatus == "In Process" | @Model.shipmentitemmststatus == "Revised")
                            {
                                    <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }
                        
                    </div>
                    // AKHIR USER & TOMBOL ACTION
                }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM SO *@
    <div class="modal fade" id="modal-so">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Sales Order</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>SO No.</th>
                                    <th>Tgl SO</th>
                                    <th>Customer</th>
                                    <th>Project</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM SO *@

    @* MODAL UNTUK DETAIL *@
    <div class="modal fade" id="modal-item">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Kode</th>
                                    <th>Deskripsi</th>
                                    <th>Qty SO</th>
                                    <th>Satuan</th>
                                    <th>soitemdtloid</th>                             
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL *@
    
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        //Set Data Detail
        var table = $('#DataDtl').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            SetDataDtl(); FillDetailData();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });

        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });


        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#shipmentitemdate").val();
        } else {
            tgl = $("#createtime").val();
        }
        tglIndo(tgl, '.datepicker');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": [0,7],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalSO").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSO = $("#tblModalSO").DataTable();
        tblModalSO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#soitemno").val(alldata.soitemno);
            $("#soitemmstoid").val(alldata.soitemmstoid);
            $("#soitemdate").val(alldata.soitemdatestr);
            $("#custoid").val(alldata.custoid);
            $("#custname").val(alldata.custname);
            $("#custaddr").val(alldata.custaddr);
            $("#curroid").val(alldata.curroid);
            $("#rabmstoid").val(alldata.rabmstoid);
            $('#modal-so').modal('hide');
        });

        FillNopol();
        openPengiriman();        
        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.shipmentitemdtlseq,
                    val.jasacode,
                    val.jasadesc,
                    addCommas(val.soitemqty),
                    '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="shipmentitemqty-' + val.shipmentitemdtlseq + '" name="shipmentitemqty-' + val.shipmentitemdtlseq + '" value = "' + addCommas(val.shipmentitemqty) + '" >',
                    val.shipmentitemunit,
                    '<input type="text" class="form-control" id="shipmentitemdtlnote-' + val.shipmentitemdtlseq + '" name="shipmentitemdtlnote-' + val.shipmentitemdtlseq + '" value="' + (val.shipmentitemdtlnote == null ? "" : val.shipmentitemdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
                $("#DataDtl .select2").select2();                
            }, 100);
        });
    }
    
    function FillNopol() {
        var markup = "";
        var url = "@(Url.Action("InitNopol"))";
        var vhcoid = $("#armadaoid").val();        
        $.ajax({
            url: url,
            data: { vhcoid: vhcoid },
            cache: false,
            type: "POST",
            success: function (data) {
                if (data.result == "sukses") {
                    $.each(data.tbl, function (key, val) {
                        $("#armadano").val(val.nopol);
                    });                    
                }
            }
        });
    }

    function openPengiriman() {
        var type = $("input:radio[name=shipmentitemmstres3]:checked").val();       
        if (type == "EKSPEDISI") {
            $("#frmekspedisi").show();
            $("#frmmandiri").hide();
            $("#frmmandiriother").hide();
        } else {
            $("#frmekspedisi").hide();
            $("#frmmandiri").show();
            $("#frmmandiriother").show();
        }
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#shipmentitemdate").datepicker("option", "dateFormat", "dd-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#shipmentitemdate').replaceWith($('#shipmentitemdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#btnsearchcust").attr("disabled", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    $("#btnsearchso").click(function () {
        var table = $('#tblModalSO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSOData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.soitemno,
                        moment(jsDate(val.soitemdate)).format('DD/MM/YYYY'),
                        val.custname,
                        val.rabno
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    //Pop Up Data Detail
    $("#btnitem").click(function () {
        if ($("#soitemno").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Sales Order No. Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var table = $('#tblModalDtl').DataTable();
        var shipmentitemmstoid = $('#shipmentitemmstoid').val();
        var soitemmstoid = $('#soitemmstoid').val();
        table.column(1).checkboxes.deselect();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            data: { soitemmstoid: soitemmstoid, shipmentitemmstoid: shipmentitemmstoid },
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            var i = 0;
            var c = 1;
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    ++i,
                    c++,
                    val.jasacode,
                    val.jasadesc,
                    val.soitemqty,
                    val.itemunit,
                    val.soitemdtloid
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.soitemdtloid, alldata.refno)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        shipmentitemdtlseq: id,
                        jasaoid: alldata.jasaoid,
                        jasacode: alldata.jasacode,
                        jasadesc: alldata.jasadesc,
                        shipmentitemunitoid: alldata.itemunitoid,
                        shipmentitemunit: alldata.itemunit,
                        soitemqty: alldata.soitemqty,
                        shipmentitemvalue: alldata.soitemprice,
                        soitemdtloid: alldata.soitemdtloid
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.jasacode,
                        alldata.jasadesc,
                        addCommas(alldata.soitemqty),
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 100px" id="shipmentitemqty-' + id + '" name="shipmentitemqty-' + id + '" value="' + alldata.soitemqty + '">',
                        alldata.itemunit,
                        '<input type="text" class="form-control" id="shipmentitemdtlnote-' + id + '" name="shipmentitemdtlnote-' + id + '" >',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                    $("#DataDtl .select2").select2();
                }
            }
        })       

        SetDataDtl();
    }

    function IsOnDtl(soitemdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (soitemdtloid == alldata.soitemdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var shipmentitemqty = removeCommas(table.$("#shipmentitemqty-" + alldata.shipmentitemdtlseq).val());
            var shipmentitemdtlnote = table.$("#shipmentitemdtlnote-" + alldata.shipmentitemdtlseq).val();
           
                var obj = {
                shipmentitemdtlseq: i + 1,
                soitemdtloid: alldata.soitemdtloid,
                jasaoid: alldata.jasaoid,
                jasacode: alldata.jasacode,
                jasadesc: alldata.jasadesc,
                soitemqty: alldata.soitemqty,
                shipmentitemqty: shipmentitemqty,
                shipmentitemunit: alldata.shipmentitemunit,
                shipmentitemunitoid: alldata.shipmentitemunitoid,
                shipmentitemvalue: alldata.shipmentitemvalue,
                shipmentitemdtlnote: shipmentitemdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
        dataType: "text",
        contentType: "application/json; charset=utf-8",
        processData: false
    });
    }


    $("#btnSave").click(function () {
        SetDataDtl();
    });

    $("#btnPost").click(function () {        
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Post this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
					$("#shipmentitemmststatus").val('Post');
					$("#btnSave").click();
                }, 100)
            }
        })
    });

    $("#btnDelete").click(function () {
        var oid = $("#shipmentitemmstoid").val();        
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid},
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

</script>