﻿@{
    ViewBag.Title = "Asset Disposal";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Fixed Assets Disposal</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Department</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("deptoid", null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessage("deptoid", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Asset Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownList("assettype", new List<SelectListItem>
                                            {
                                                new SelectListItem { Text="Asset", Value="Asset" }
                                            }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">COA Cost</label>
                                        <div class="col-sm-8">
                                            @Html.DropDownList("acctgoid", null, new { @class = "form-control", @required = "" })
                                            @Html.ValidationMessage("acctgoid", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    // BAGIAN DETAIL
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="pull-left">
                                <button type="button" class="btn btn-primary" id="btnShowData"><b>Show Data</b></button>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-sm-12" style="overflow-x: auto;">
                            <table id="DataDtl" class="table table-striped" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>alldata</th>
                                        <th></th>
                                        <th>Asset No.</th>
                                        <th>Asset Type</th>
                                        <th>Asset Desc.</th>
                                        <th>Asset Value</th>
                                        <th>Accum Dept.</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    // AKHIR BAGIAN DETAIL

                    <div class="pull-left">
                        @{
                            <button type="submit" class="btn btn-warning btn-md" id="btnPosting" style="display:none"><b>Posting</b></button>
                            <button type="button" class="btn btn-danger btn-md" id="btnSave"><b>Dispose</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Cancel</b></a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            //"bFilter": false,
            //"ordering": false,
            "bInfo": false,
            "deferRender": true,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            },
            {
                "targets": 1,
                "checkboxes": {
                    "selectRow": false
                }
            }
            ]
        });

        InitDDLAcctg();
        InitDDLDept();
        $("#acctgoid option:first").val();
        $("#deptoid option:first").val();
        $("#assettype option:first").val();
        $("#cmpcode").change(function () {
            var tbldtl = $('#DataDtl').DataTable();
            tbldtl.clear().draw();
            InitDDLAcctg();
            InitDDLDept();
        })
    })

    function InitDDLDept() {
        var cmp = $("#cmpcode option:selected").val();
        var deptoid = $("#deptoid");
        var deptoid_sel = $("#deptoid option:selected").val();
        var sVal = true;
        deptoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLDepartment"))",
            data: { cmpcode: "APIS"},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value=0>All</option>";
                if (sVal) {
                    var isExist = false;
                    $.each(data, function (key, val) {
                        markup += "<option value=\'" + val.deptoid + "\'>" + val.deptname + "</option>";
                        if (val.deptoid == deptoid_sel) {
                            isExist = true;
                        }
                    });
                    console.log(data.tbl);
                    deptoid.html(markup).show();
                    if (isExist == true) {
                        //deptoid.val(deptoid_sel);
                    }
                    deptoid.trigger('change');
                } else {
                    deptoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function InitDDLAcctg() {
        var cmp = $("#cmpcode option:selected").val();
        var acctgoid = $("#acctgoid");
        var acctgoid_sel = $("#acctgoid option:selected").val();
        var sVal = true;
        acctgoid.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("BindListCOA"))",
            data: { cmp: "APIS", sVar: "VAR_ASSET_DISPOSAL" },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (sVal) {
                var isExist = false;
                $.each(data, function (key, val) {
                    markup += "<option value=\'" + val.acctgoid + "\'>" + val.acctgdesc + "</option>";
                    if (val.acctgoid == acctgoid_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                acctgoid.html(markup).show();
                if (isExist == true) {
                    acctgoid.val(acctgoid_sel);
                }
                acctgoid.trigger('change');
            } else {
                acctgoid.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
        error: function (err) {
            console.log(err);
            }
        });
    }

    $("#btnShowData").click(function () {
        var tbldtl = $('#DataDtl').DataTable();
        var cmpcode = $("#cmpcode option:selected").val();
        var deptoid = $("#deptoid option:selected").val();
        var assettype = $("#assettype option:selected").val();
        tbldtl.column(1).checkboxes.deselect();
        tbldtl.clear().draw();
        $.ajax({
            url: "@(Url.Action("GenerateData"))",
            data: { cmpcode: "APIS", deptoid: deptoid, assettype: assettype },
            cache: false,
            type: "POST",
            success: function (data){
                var rows = [];
                var i = 0;
                $.each(data, function (key, val){
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.assetno,
                        val.reftype,
                        val.assetdesc,
                        val.assetvalue,
                        val.assetaccumdep,
                        val.assetmstnote,
                    ]);
                });
                tbldtl.rows.add(rows).draw();
            },
            error: function (err) {
                console.log(err);
            }
        });
    })

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        var rows = [];
        $.each(rowsel, function (key, val) {
            var data = table.row(val - 1).data();
            var alldata = JSON.parse(data[0]);
            rows.push(alldata);
        })
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnPosting").click(function () {
        var bVal = true;
        if ($('#DataDtl').DataTable() == null) {
            Swal({
                title: 'WARNING!',
                text: 'Please Show detail data!',
                type: 'warning'
            });
            bVal = false;
            return false
        } else {
            var table = $('#DataDtl').DataTable();
            var dataDtl = table.rows().data();
            if (dataDtl.length <= 0) {
                Swal({
                    title: 'WARNING!',
                    text: 'There is no Fixed Assets data that can be disposed for this period!',
                    type: 'warning'
                });
                bVal = false;
                return false
            }
        }
        if (bVal) {
            SetDataDtl();
        }
    })

    $("#btnSave").click(function () {
        if ($("#acctgoid").val() == "") {
            Swal('WARNING!', 'Please select COA Cost First!', 'warning')
            return false
        }
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to POST this data?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, POST this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
                    $("#btnPosting").click();
                }, 100)
            }
        })
    });

</script>
