﻿@model APIS_WB.Models.DB.QL_displaystmst

@{
    ViewBag.Title = "Form Display Stock";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Display Stock
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.displaystoid)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-md-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            <div class="form-group" style="display:none">
                                <label class="col-sm-2 control-label">Customer <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        @Html.Editor("custname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        <span class="input-group-btn">
                                            <button type="button" id="btnsearchcust" class="btn btn-flat" data-toggle="modal" data-target="#modal-cust">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                        @Html.HiddenFor(model => model.custoid)
                                    </div>
                                    @Html.ValidationMessageFor(model => model.custoid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Kategori <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(model => model.catoid, null, new { @class = "form-control select2", @required = "" })
                                </div>
                                @Html.ValidationMessageFor(model => model.catoid, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">View Harga</label>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(model => model.displaystlistprice, "Tidak", new { @checked = "checked", @required = "" })
                                    Tidak
                                    @Html.RadioButtonFor(model => model.displaystlistprice, "Ya", new { @required = "" })
                                    Ya
                                </div>

                                <label class="col-sm-2 control-label">View Barang</label>
                                <div class="col-sm-4">
                                    @Html.RadioButtonFor(model => model.displaysttype, "Pilih", new { @checked = "checked", @required = "" })
                                    Pilih
                                    @Html.RadioButtonFor(model => model.displaysttype, "All", new { @required = "" })
                                    All
                                </div>
                            </div>

                            <!-- BAGIAN DETAIL -->

                            <div class="form-group">
                                <label id="i_u2" class="col-md-2 control-label text-red">New Detail</label>
                                @(Html.Hidden("seq"))
                            </div>

                            <div class="box-body">
                                <div class="container-fluid">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" id="btnmatjual" data-toggle="modal" data-target="#modal-matjual"><b>Tambah</b></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="overflow-x: auto;">
                                <table id="DataDtl" class="table table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>No.</th>
                                            <th>Kode</th>
                                            <th>Deskripsi</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!-- AKHIR BAGIAN DETAIL -->
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Di buat oleh @(Html.DisplayFor(m => m.createuser)) pada @Model.createtime.ToString("dd/MM/yyyy")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir di edit oleh @(Html.DisplayFor(m => m.upduser)) pada @Model.updtime.ToString("dd/MM/yyyy")
                                    }
                            }
                        </div>
                        <div class="pull-right">
                            <button type="submit" name="action" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md"><b>Hapus</b></button>
                                }
                            }

                        </div>
                    </div>
                    <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>
</section>

@* MODAL UNTUK CUSTOMER *@
<div class="modal fade" id="modal-cust">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Data Customer</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12" style="overflow-x: auto;">
                    <table id="tblModalCust" class="table table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>other</th>
                                <th></th>
                                <th>Kode</th>
                                <th>Nama</th>
                                <th>Alamat</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-center">
            </div>
        </div>
    </div>
</div>
@* AKHIR MODAL UNTUK CUSTOMER *@

@* MODAL UNTUK DETAIL *@
<div class="modal fade" id="modal-matjual">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Data Barang</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12" style="overflow-x: auto;">
                    <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                        <thead>
                            <tr>
                                <th>other</th>
                                <th></th>
                                <th>Code</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-primary" onclick="AddToDetail()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                </center>
            </div>
        </div>
    </div>
</div>
@* AKHIR MODAL UNTUK DETAIL *@

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalCust = $("#tblModalCust").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalCust.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalCust.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#custname").val(alldata.custname);
            $("#custoid").val(alldata.custoid);
            $('#modal-cust').modal('hide');
        });

        //Set Data Pop Up Detail
        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        FillDetailData();

        if ($('#action').val() == "Edit") {
            $("#catoid").attr("readonly", true);
        }
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.seq,
                    val.itemcode,
                    val.itemdesc,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    //Pop Up Data Detail
    $("#btnmatjual").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetDataMatDetail"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    val.seq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.itemcode,
                        val.itemdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.itemoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        seq: id,
                        itemoid: alldata.itemoid,
                        itemcode: alldata.itemcode,
                        itemdesc: alldata.itemdesc
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.itemcode,
                        alldata.itemdesc,
                         '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(itemoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (itemoid == alldata.itemoid) {
                return true;
            }
        }
        return false;
    }

    function clickDelete() {
        var oid = $("#displaystoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to Delete?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid },
                    success: function (data) {
                        if (data.result == 'sukses') {
                            Swal(
                              'Deleted!',
                              'Data has been deleted.',
                              'success'
                            )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                              'Delete Failed!',
                              data.msg,
                              'warning'
                            )
                        }

                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    }

    $("#btnsearchcust").click(function () {
        var table = $('#tblModalCust').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCustomerData"))",
            cache: false,
        type: "POST",
        success: function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                    val.custcode,
                    val.custname,
                    val.custaddr
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        },
        error: function (err) {
            console.log(err);
        }
    });
    });

    /* Create tabel detail */
    //function AddToList() {
    //    var table = $('#DataDtl').DataTable();
    //    var id = table.rows().data().length + 1;//menambahkan data ke tabel
    //    table.row.add([
    //        id,
    //        '<input type="text" class="form-control" style="max-width: 80px" id="picname-' + id + '" name="picname-' + id + '">',
    //        '<input type="text" class="form-control" style="max-width: 80px" id="jabatan-' + id + '" name="jabatan-' + id + '">',
    //        '<input type="text" class="form-control" style="max-width: 80px" id="email-' + id + '" name="email-' + id + '">',
    //        '<input type="text" class="form-control" style="max-width: 80px" id="phone1-' + id + '" name="phone1-' + id + '">',
    //        '<input type="text" class="form-control" style="max-width: 80px" id="phone2-' + id + '" name="phone2-' + id + '">',
    //        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
    //    ]).draw();
    //    SetDataDtl();
    //}
    /* End Create tabel detail*/

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                seq: i + 1,
                itemoid: alldata.itemoid,
                itemcode: alldata.itemcode,
                itemdesc: alldata.itemdesc
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });
</script>
