﻿@model IEnumerable<APIS_WB.Controllers.Transaction.DisplayStockController.listdisplaystmst>

@{
    ViewBag.Title = "List Display Stock";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>List Display Stock</h1>
    </section><!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- <div class="box-header">
                    <h3 class="box-title">To Do List</h3>
                </div> -->
                <!-- /.box-header -->
                <form action="index" method="post" class="form-horizontal">
                    <div class="box-body">
                        <div class="container-fluid row">
                            <a class="btn btn-success" href="Form">
                                <i class="fa fa-plus"></i> Tambah
                            </a>
                        </div><br>
                    </div>
                </form>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-x: auto;">
                            <table id="datatable" class="table table-striped datatable">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Kategori</th>
                                        <th>View Price</th>
                                        <th>View Barang</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int a = 0;
                                        foreach (var i in Model)
                                        {
                                            a++;
                                            <tr>
                                                <td>
                                                    <a href="Form?id=@Html.DisplayFor(m => i.displaystoid)" class="text-primary">@Html.DisplayFor(m => i.displaystoid)</a>
                                                </td>
                                                <td>@Html.DisplayFor(m => i.custname)</td>
                                                <td>@Html.DisplayFor(m => i.displaystlistprice)</td>
                                                <td>@Html.DisplayFor(m => i.displaysttype)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script language="javascript" type="text/javascript">
       
    </script>
</section>
