﻿@model APIS_WB.Models.DB.QL_mstinterface

@{
    ViewBag.Title = "Interface";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>
        Form Interface
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary form-horizontal">
                <div class="box-header">
                    <h4 class="box-title"><strong>Interface</strong></h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.cmpcode)
                        @Html.HiddenFor(model => model.interfaceoid)
                        @Html.HiddenFor(model => model.interfacevalue)
                        @Html.HiddenFor(model => model.interfaceres1)
                        @Html.HiddenFor(model => model.interfaceres3)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.upduser)
                        @Html.HiddenFor(model => model.updtime)
                        @Html.Hidden("action")
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>

                            @*===== Baris ke 1 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Variable <label class="text-red">*</label></label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.interfacevar, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.interfacevar, "", new { @class = "text-danger" })
                                </div>                                
                            </div>
                        
                            @*===== Baris ke 2 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.interfaceres2, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                    @Html.ValidationMessageFor(model => model.interfaceres2, "", new { @class = "text-danger" })
                                </div>
                            </div>                         

                            @*===== Baris ke 3 =====*@
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Note</label>                                
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.interfacenote, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly="" } })
                                    @Html.ValidationMessageFor(model => model.interfacenote, "", new { @class = "text-danger" })
                                </div>
                            </div> 
                        
                            @*===== Baris ke 4 =====*@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.activeflag, new List<SelectListItem>
                                                {
                                                new SelectListItem { Text="ACTIVE", Value="ACTIVE" },
                                                new SelectListItem { Text="INACTIVE", Value="INACTIVE" }
                                                }, new { @class = "form-control select2", @required = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        
                            @*BAGIAN DETAIL*@
                            <div class="box-header">
                                <h3 class="box-title">Interface COA Detail</h3>
                            </div>
                            <div class="box-body">
                                <div class="container-fluid">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-primary" id="btnAddToList" data-toggle="modal" data-target="#modal-detail"><b>Tambah</b></button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-md-12" style="overflow-x: auto;">
                                    <table id="DataDtl" class="table table-striped" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>alldata</th>
                                                <th>No.</th>
                                                <th>Kode</th>
                                                <th>Akun</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            @*AKHIR BAGIAN DETAIL*@                  

                        </div><!-- /.container-fluid -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                            }
                        </div>
                        <div class="pull-right">
                            @{
                                <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                            }

                        </div>
                    </div>
                        <!-- /.box-footer -->
                                }
            </div>
        </div>
    </div>   

    @* MODAL UNTUK FORM DETAIL *@
    <div class="modal fade" id="modal-detail">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data COA</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>Akun</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary btn-md" onclick="AddToDetail()" data-dismiss="modal">Tambahkan</button>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM DETAIL *@

</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table.row($tr).data()[1];
            table.row($tr).remove().draw();
            var data = table.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table.row(i).data();
                    temp[1] = i + 1;
                    table.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress keyup blur", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        $("#tblModalReq").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        FillDetailData();
    })

    function FillDetailData() {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        table.clear().draw();
        $.getJSON(url, function (data) {
            var rows = [];
            $.each(data, function (key, val) {
                rows.push([
                    JSON.stringify(val),
                    val.interfaceseq,
                    val.acctgcode,
                    val.acctgdesc,
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                ]);
            });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
        });
    }

    $("#btnAddToList").click(function () {
        var table = $('#tblModalDtl').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetCOAData"))",
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        ++i,
                        val.acctgcode,
                        val.acctgdesc
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToDetail() {
        var isValid = true;
        var table = $('#tblModalDtl').DataTable();
        var tbldtl = $('#DataDtl').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid)
            {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl(alldata.acctgoid)) {
                    var id = tbldtl.rows().data().length + 1;
                    var obj = {
                        interfaceseq: id,
                        acctgoid: alldata.acctgoid,
                        acctgcode: alldata.acctgcode,
                        acctgdesc: alldata.acctgdesc
                    };
                    tbldtl.row.add([
                        JSON.stringify(obj),
                        id,
                        alldata.acctgcode,
                        alldata.acctgdesc,
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl();
    }

    function IsOnDtl(acctgoid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (acctgoid == alldata.acctgoid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl() {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var obj = {
                interfaceseq: i + 1,
                acctgoid: alldata.acctgoid,
                acctgcode: alldata.acctgcode,
                acctgdesc: alldata.acctgdesc
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        SetDataDtl();
    });

</script>
