﻿@model APIS_WB.Models.DB.QL_trnapassetmst

@{
    ViewBag.Title = "Faktur Beli Asset";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section class="content-header">
    <h1>Form Faktur Beli Asset</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary form-horizontal">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    // BAGIAN HEADER
                    <div class="box-header">
                        <h3 class="box-title"><b>Faktur Beli Asset Header</b></h3>
                    </div>
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.periodacctg)
                        @Html.HiddenFor(model => model.apassetttdate)
                        @Html.HiddenFor(model => model.apassetmstres3)
                        @Html.HiddenFor(model => model.approvaluser)
                        @Html.HiddenFor(model => model.approvaldatetime)
                        @Html.HiddenFor(model => model.apassetdatetakegiro)
                        @Html.HiddenFor(model => model.createuser)
                        @Html.HiddenFor(model => model.createtime)
                        @Html.HiddenFor(model => model.rateoid)
                        @Html.HiddenFor(model => model.apassetratetoidr)
                        @Html.HiddenFor(model => model.apassetratetousd)
                        @Html.HiddenFor(model => model.rate2oid)
                        @Html.HiddenFor(model => model.apassetrate2toidr)
                        @Html.HiddenFor(model => model.apassetrate2tousd)
                        @Html.Hidden("supppengakuan")
                        @Html.Hidden("uid")
                        @Html.Hidden("deftax")
                        @Html.Hidden("action")
                        @Html.Hidden("closing")
                        @{
                            @Html.EditorFor(model => model.apassetdate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "", @Value = Model.apassetdate } })
                        }
                        <div class="container-fluid">
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-red">@(ViewBag.action)</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">FB No.</label>
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.apassetno, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                        @Html.HiddenFor(model => model.apassetmstoid)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Tanggal</label>
                                        <div class="col-md-4">
                                            @Html.Editor("tglupd", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.updtime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label class="col-md-4 control-label">Tgl Dokumen <label class="text-red">*</label></label>
                                       <div class="col-md-4">
                                           <div class="input-group">
                                               @Html.Editor("tglmst", new { htmlAttributes = new { @class = "form-control datepickerdok", @type = "text", @required = "" } })
                                               <span class="input-group-addon">
                                                   <i class="fa fa-calendar"></i>
                                               </span>
                                           </div>
                                           @Html.ValidationMessageFor(model => model.apassetdate, "", new { @class = "text-danger" })
                                       </div> 
                                   </div>
                               </div>   
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label class="col-sm-4 control-label">Tipe Transaksi</label>
                                       <div class="col-md-8">
                                           @Html.DropDownListFor(model => model.tipebarang, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="Asset", Value="Asset" },
                                              new SelectListItem { Text="Stock", Value="Stock" },
                                              new SelectListItem { Text="FPB", Value="FPB" },
                                              new SelectListItem { Text="Konsinyasi", Value="Konsinyasi" }
                                            }, new { @class = "form-control select2", @required = "" })
                                       </div>
                                   </div>
                               </div>                            
                           </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Supplier <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("suppname", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchsupp" class="btn btn-flat" data-toggle="modal" data-target="#modal-supp">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.suppoid)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">PO No. <label class="text-red">*</label></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                @Html.Editor("poassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                <span class="input-group-btn">
                                                    <button type="button" id="btnsearchpo" class="btn btn-flat" data-toggle="modal" data-target="#modal-po">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.poassetmstoid)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Mata Uang</label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(model => model.curroid, null, new { @class = "form-control select2", @required = "" })
                                            @Html.ValidationMessageFor(model => model.curroid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Payment Type</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.apassetpaytypeoid, null, new { @class = "form-control select2", @required = "" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" id="col_tgltt" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" id="col_tgljt">Tgl. Penerimaan</label>
                                        <div class="col-md-6">
                                            @Html.Editor("tgljt", new { htmlAttributes = new { @class = "form-control", @type = "text", @required = "", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total DP Faktur-M</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apdpamt, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apassettotalamt, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Disc Detail</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apassettotaldisc, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Supp</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apassetsupptotal, new { htmlAttributes = new { @class = "form-control", @type = "numberonly" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Total Tax</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apassettotaltax, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Grand Total</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apassetgrandtotal, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Disc type</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.apassetmstdisctype, new List<SelectListItem>
                                          {
                                              new SelectListItem { Text="NONE", Value="N" },
                                              new SelectListItem { Text="POTONG HUTANG", Value="H" },
                                              new SelectListItem { Text="POTONG PERSEDIAAN", Value="P" }
                                            }, new { @class = "form-control select2", @required = "", @onchange = "CountHdrAmount()" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Disc Amt</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.apassetmstdiscamt, new { htmlAttributes = new { @class = "form-control numberonly", @type = "text", @onblur = "CountHdrAmount()" } })
                                            @Html.ValidationMessageFor(model => model.apassetmstdiscamt, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Header Note</label>
                                        <div class="col-md-8">
                                            @Html.TextAreaFor(model => model.apassetmstnote, new { @class = "form-control", @maxlength = "100" })
                                            @Html.ValidationMessageFor(model => model.apassetmstnote, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status</label>
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.apassetmststatus, new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "", @Value = Model.apassetmststatus } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Date Take Giro</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                @Html.Editor("tglgiro", new { htmlAttributes = new { @class = "form-control datepicker2", @type = "text", @required = "" } })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.apassetdatetakegiro, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>                               
                            </div>                         
                        </div>
                    </div>
                    // AKHIR BAGIAN HEADER

                    @*BAGIAN DETAIL*@
                    <div class="box-header">
                        <h3 class="box-title"><b>Faktur Beli Asset Detail</b></h3>
                    </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="nav-tabs-custom">
                                        <ul class="nav nav-tabs pull-left">
                                            <li class="active"><a href="#detail-output" data-toggle="tab"><b>Detail Penerimaan</b></a></li>
                                            <li><a href="#detail-input" data-toggle="tab"><b> Detail Faktur Pajak</b></a></li>
                                        </ul>

                                        <div class="tab-content no-padding">
                                            <!-- Morris chart - Sales -->
                                            <div class="chart tab-pane active" id="detail-output" style="position: relative; overflow-x: auto;">
                                                <div class="row" style="display:none">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Faktur No. <label class="text-red">*</label></label>
                                                            <div class="col-md-8">
                                                                @Html.Editor("apassetdtlres1", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Faktur Pajak No.</label>
                                                            <div class="col-md-8">
                                                                @Html.Editor("apassetdtlres2", new { htmlAttributes = new { @class = "form-control", @type = "text", @maxlength = "100" } })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <br/>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">PB No. </label>
                                                            <div class="col-md-8">
                                                                <div class="input-group">
                                                                    @Html.Editor("mrassetno", new { htmlAttributes = new { @class = "form-control", @type = "text", @readonly = "" } })
                                                                    <span class="input-group-btn">
                                                                        <button type="button" id="btnsearchreg" class="btn btn-flat" data-toggle="modal" data-target="#modal-reg">
                                                                            <i class="fa fa-search"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            @Html.Hidden("mrassetmstoid")
                                                        </div>
                                                    </div>
                                                </div>

                                                @Html.Hidden("lastseq")
                                                <div class="col-md-12" style="overflow-x: auto;">
                                                    <table id="DataDtl" class="table table-striped" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th>alldata</th>
                                                                <th>No</th>
                                                                <th>PB No.</th>
                                                                <th>Faktur No.</th>
                                                                <th>Faktur Pajak No.</th>
                                                                <th>PO No.</th>
                                                                <th>Code</th>
                                                                <th>Description</th>
                                                                <th>Qty</th>
                                                                <th>Unit</th>
                                                                <th>Price</th>
                                                                <th>Amount</th>
                                                                <th>Disc (%)</th>
                                                                <th>Disc Amt</th>
                                                                <th>Tax</th>
                                                                <th>Tax Amt</th>
                                                                <th>Netto</th>
                                                                <th>Detail Note</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div><br>
                                            </div>

                                            <div class="chart tab-pane" id="detail-input" style="position: relative; overflow-x: auto;">
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right">
                                                            <button type="button" id="btntambah2" class="btn btn-primary" data-toggle="modal" data-target="#modal-detail2">
                                                                <i class="fa fa-plus"></i>
                                                                Tambah
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <table id="DataDtl2" width="100%" class="table table-striped" style="position: relative; overflow-x: auto;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th>alldata</th>
                                                            <th>No.</th>
                                                            <th>Kode</th>
                                                            <th>No. Faktur Pajak</th>
                                                            <th>Nominal</th>
                                                            <th>Opsi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table><br>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            @*AKHIR BAGIAN DETAIL*@

                    // USER & TOMBOL ACTION
                    <div class="box-footer">
                        <div class="pull-left">
                            Dibuat Oleh @(Html.DisplayFor(m => m.createuser)) Pada @Model.createtime.ToString("dd/MM/yyyy hh:mm:ss")
                            @{
                                if (ViewBag.action == "Edit")
                                {
                                    @:<br /> Terakhir Diedit Oleh @(Html.DisplayFor(m => m.upduser)) Pada @Model.updtime.ToString("dd/MM/yyyy hh:mm:ss")
                                }
                                //<h6><b>VAR_PURC_RECEIVED | VAR_PPN_IN | VAR_AP</b></h6>
                            }
                        </div>
                    </div>
                    <div class="pull-right">
                        @{
                            <a href="@Url.Action("Index")" type="button" class="btn btn-default btn-md"><b>Kembali</b></a>
                            if (@Model.apassetmststatus == "In Process" | @Model.apassetmststatus == "Revised")
                            {
                                <button type="submit" class="btn btn-success btn-md" id="btnSave"><b>Simpan</b></button>
                                <button type="button" class="btn btn-warning btn-md" id="btnPost"><b>Terbitkan</b></button>
                                if (ViewBag.action == "Edit")
                                {
                                    <button type="button" onclick="clickDelete()" class="btn btn-danger btn-md" id="btnDelete"><b>Hapus</b></button>
                                }
                            }
                        }
                    </div>
                                // AKHIR USER & TOMBOL ACTION
                            }
            </div>
        </div>
    </div>

    @* MODAL UNTUK FORM PB *@
    <div class="modal fade" id="modal-reg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Penerimaan Barang</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalReg" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>PB. No.</th>
                                    <th>Tanggal</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK FORM PB *@

    @* MODAL UNTUK SUPPLIER *@
    <div class="modal fade" id="modal-supp">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">List Of Supplier</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalSupp" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Supplier Code</th>
                                    <th>Supplier Name</th>
                                    <th>Supplier Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK SUPPLIER *@

    @* MODAL UNTUK PO *@
    <div class="modal fade" id="modal-po">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data PO</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalPO" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>No. PO</th>
                                    <th>Tanggal</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK PO *@

    @* MODAL UNTUK DETAIL 2 *@
    <div class="modal fade" id="modal-detail2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Data Faktur Pajak</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" style="overflow-x: auto;">
                        <table id="tblModalFakturDtl" class="table table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>other</th>
                                    <th></th>
                                    <th>Kode</th>
                                    <th>No. Faktur Pajak</th>
                                    <th>Nominal</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" onclick="AddToDetail2()" data-dismiss="modal"><i class="fa fa-plus"></i> Tambahkan</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    @* AKHIR MODAL UNTUK DETAIL 2 *@
</section>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var table = $('#DataDtl').DataTable({
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0, 3, 4],
                "visible": false,
                "searchable": false
            }]
        });

        table.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }

            var id = table.row($tr).data()[1];
            var mrassetno = table.row($tr).data()[2];
            var data = table.rows().data();

            var j = 0;
            for (var i = 0 ; i < data.length; i++) {
                if (table.row(j).data()[2] == mrassetno) {
                    table.row(j).remove().draw();
                }
                else {
                    j++;
                }
            }

            SetDataDtl($('#uid').val());
            FillDetailData($('#uid').val());

            var data = table.rows().data();
            $('#lastseq').val(data.length);

            if (data.length == 0)
                $('#lastseq').val(0);

            e.preventDefault();
            ClearDetail();
            EnabledHeader();
            CountHdrAmount();
        });

        table.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        table.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        var tblModalDtl = $("#tblModalDtl").DataTable({
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });

        tblModalDtl.on("keypress keyup blur", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });

        tblModalDtl.on("click", ".dp", function (e) {
            $(this).datepicker({
                format: 'mm/dd/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        $("#tblModalSupp").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        $("#tblModalReg").DataTable({
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });

        var tblModalSupp = $("#tblModalSupp").DataTable();
        tblModalSupp.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalSupp.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#suppname").val(alldata.suppname);
            $("#suppoid").val(alldata.suppoid);
            $("#apassetpaytypeoid").val(alldata.supppaymentoid).trigger("change");
            $("#supppengakuan").val(alldata.supppengakuan);

            if (alldata.supppengakuan == "TT") {
                $("#col_tgltt").show();
                $("#col_tgljt").text("Tgl. TT")
            }
            else {
                $("#col_tgltt").show();
                $("#col_tgljt").text("Tgl. Penerimaan")
            }
            ClearPO();
            $('#modal-supp').modal('hide');
        });

        var tblModalReg = $("#tblModalReg").DataTable();
        tblModalReg.on('click', '#select', function () {

            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var supppengakuan = $("#supppengakuan").val();
            var data = tblModalReg.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#mrassetno").val(alldata.mrassetno);
            $("#mrassetmstoid").val(alldata.mrassetmstoid);
            if (supppengakuan != "TT") {
                $("#tgljt").val(moment(alldata.mrassetdate).format('DD/MM/YYYY'));
            }
            AddToDetail();
            $('#modal-reg').modal('hide');
        });

        var tblModalPO = $("#tblModalPO").DataTable({
            "deferRender": true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        tblModalPO.on('click', '#select', function () {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var data = tblModalPO.row($tr).data();
            var alldata = JSON.parse(data[0])
            $("#poassetno").val(alldata.poassetno);
            $("#poassetmstoid").val(alldata.poassetmstoid);
            $("#curroid").val(alldata.curroid).trigger('change');
            $("#apdpamt").val(addCommas(alldata.dpfmamt));
            $("#tgljt").val(moment(alldata.checkttdate).format('DD/MM/YYYY'));
            $('#modal-po').modal('hide');
        });

        //Set Data Pop Up Detail 2
        var tblModalFakturDtl = $("#tblModalFakturDtl").DataTable({
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": 1,
                    "checkboxes": {
                        "selectRow": false
                    }
                }
            ],
            "select": {
                "style": 'multi'
            },
            "order": [[2, 'asc']]
        });
        tblModalFakturDtl.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalFakturDtl.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        tblModalFakturDtl.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        //Set Data Detail
        var table2 = $('#DataDtl2').DataTable({
            "deferRender": true,
            "paging": false,
            "bFilter": false,
            "ordering": false,
            "bInfo": false,
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
        });
        table2.on('click', '#remove', function (e) {
            $tr = $(this).closest('tr');
            if ($($tr).hasClass('child')) {
                $tr = $tr.prev('.parent');
            }
            var id = table2.row($tr).data()[1];
            table2.row($tr).remove().draw();
            SetDataDtl2($('#uid').val()); FillDetailData2($('#uid').val());
            var data = table2.rows().data();
            for (var i = 0 ; i < data.length; i++) {
                if (data[i][1] >= id) {
                    var temp = table2.row(i).data();
                    temp[1] = i + 1;
                    table2.row(i).data(temp).invalidate();
                }
            }
            e.preventDefault();
        });
        table2.on("keypress input", ".allownumericwithdecimal", function (e) {
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((e.which != 46 || $(this).val().indexOf('.') != -1) && (e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("keypress input", ".allownumericwithoutdecimal", function (e) {
            $(this).val($(this).val().replace(/[^\d].+/, ""));
            if ((e.which < 48 || e.which > 57)) {
                e.preventDefault();
            }
        });
        table2.on("blur", ".allownumericwithdecimal", function (e) {
            var x = $(this).val();
            if (x == null) { x = 0 };
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            var fin = "";
            for (var i = 0 ; i < parts.length; i++) {
                if (i == 0) {
                    fin += parts[i];
                } else {
                    fin += "." + parts[i];
                }
            }
            $(this).val(fin);
        });

        $("#cmpcode").change(function () {
            FillAPNo()
            //InitDDLAppUser();
            ClearSupp();
        });

        $("#tipebarang").change(function () {
            ClearSupp();
            ClearPO();
            FillAPNo();
        });

        SetRateValue();
        $("#curroid").change(function () {
            SetRateValue();
        })
        $("#apassetdate").change(function () {
            SetRateValue();
        })
        $("#curroid").attr("readonly", true);
        $("#apassetpaytypeoid").attr("readonly", true);

        var datetakegiro = new Date($('#apassetdate').val());
        var sNum = parseInt($("#apassetpaytypeoid").find('option:selected').text(), 10);
        if (isNaN(sNum)) {
            sNum = 0;
        }
        datetakegiro.setDate(datetakegiro.getDate() + sNum);
        var date = ((datetakegiro.getMonth() + 1) < 10 ? '0' : '') + (datetakegiro.getMonth() + 1) + '/' + (datetakegiro.getDate() < 10 ? '0' : '') + datetakegiro.getDate() + '/' + datetakegiro.getFullYear();
        $("#apassetdatetakegiro").val(date);

        FillAPNo()
        //InitDDLAppUser();
        FillDetailData($('#uid').val());
        FillDetailData2($('#uid').val());

        //Set Date Value Datepicker
        var tgl = "";
        if ($('#action').val() == "Edit") {
            tgl = $("#apassetdate").val();
        } else {
            tgl = $("#apassetdate").val();
        }
        tglIndo(tgl, '.datepickerdok');
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#updtime").val();
        } else {
            tgl2 = $("#createtime").val();
        }
        $('#tglupd').val(moment(tgl2).format('DD/MM/YYYY'));
        var tgl2 = "";
        if ($('#action').val() == "Edit") {
            tgl2 = $("#apassetdatetakegiro").val();
        } else {
            tgl2 = $("#apassetdatetakegiro").val();
        }
        tglIndo(tgl2, '.datepicker2');
        var tgl4 = "";
        if ($('#action').val() == "Edit") {
            tgl4 = $("#apassetttdate").val();
        } else {
            tgl4 = $("#apassetttdate").val();
        }
        $('#tgljt').val(moment(tgl4).format('DD/MM/YYYY'));

        if ($('#action').val() == "Edit") {
            var supppengakuan = $("#supppengakuan").val();

            if (supppengakuan == "TT") {
                $("#col_tgltt").show();
                $("#col_tgljt").text("Tgl. TT")
            }
            else {
                $("#col_tgltt").show();
                $("#col_tgljt").text("Tgl. Penerimaan")
            }
        }

        $('#apdpamt').val(addCommas($('#apdpamt').val()));
        $("#apassettotalamt").val(addCommas($("#apassettotalamt").val()));
        $("#apassettotaldisc").val(addCommas($("#apassettotaldisc").val()));
        $("#apassetmstdiscamt").val(addCommas($("#apassetmstdiscamt").val()));
        $("#apassettotaltax").val(addCommas($("#apassettotaltax").val()));
        $("#apassetgrandtotal").val(addCommas($("#apassetgrandtotal").val()));
    })

    function SetRateValue() {
        var curroid = $("#curroid").val();
        var sDate = $("#apassetdate").val();
        $.ajax({
            url: "@(Url.Action("GetRateValue"))",
            data: { curroid: curroid, sDate: sDate },
        cache: false,
        type: "POST",
        success: function (data) {
            if (data.result == "sukses") {
                $.each(data, function (key, val) {
                    $("#rateoid").val(val.rateoid);
                    $("#apassetratetoidr").val(val.rateidrvalue);
                    $("#apassetratetousd").val(val.rateusdvalue);
                    $("#rate2oid").val(val.rate2oid);
                    $("#apassetrate2toidr").val(val.rate2idrvalue);
                    $("#apassetrate2tousd").val(val.rate2usdvalue);
                });
            } else {
                if (data.msg != "") {
                    Swal('Warning!', data.msg, 'warning')
                }
            }
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillAPNo() {
        var apmstoid = $("#apassetmstoid").val(); 
        var sType = $("#tipebarang option:selected").val();
        $.ajax({
            url: "@(Url.Action("generateNo"))",
            data: { apmstoid: apmstoid, sType: sType },
        cache: false,
        type: "POST",
        success: function (hasil) {
            $("#apassetno").val(hasil);
        },
        error: function (err) {
            console.log(err);
        }
    });
    }

    function FillDetailData(uid) {
        var url = "@(Url.Action("FillDetailData"))";
        var table = $('#DataDtl').DataTable();
        var lastseq = 0;
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    ++lastseq;
                    rows.push([
                        JSON.stringify(val),
                        val.apassetdtlseq,
                        val.mrassetno,
                        val.apassetdtlres1, //faktur no
                        val.apassetdtlres2, //faktur pajak no
                        val.poassetno,
                        val.apassetrefcode,
                        val.apassetreflongdesc,
                        addCommas(val.apassetqty),
                        val.apassetunit,
                        addCommas(val.apassetprice),
                        addCommas(val.apassetdtlamt),
                        addCommas(val.apassetdtldiscvalue),
                        addCommas(val.apassetdtldiscamt),
                        addCommas(val.apassetdtltaxvalue),
                        addCommas(val.apassetdtltaxamt),
                        addCommas(val.apassetdtlnetto),
                        '<input type="text" class="form-control" style="max-width: 150px" id="apassetdtlnote-' + val.apassetdtlseq + '" name="apassetdtlnote-' + val.apassetdtlseq + '" value="' + (val.apassetdtlnote == null ? "" : val.apassetdtlnote) + '">',
                    '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                    $('#lastseq').val(lastseq);
                    EnabledHeader();
                    CountHdrAmount();
                }, 100);
            }
        });
    }

    function FillDetailData2(uid) {
        var url = "@(Url.Action("FillDetailData2"))";
        var table = $('#DataDtl2').DataTable();
        table.clear().draw();
        $.ajax({
            url: url,
            data: { uid: uid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        val.apitemdtl2seq,
                        val.fabelicode,
                        val.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + val.apitemdtl2seq + '" name="apitemdtl2amt-' + val.apitemdtl2seq + '" value="' + addCommas(val.apitemdtl2amt) + '">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            }
        });
    }

    function InitDDLAppUser() {
        var cmp = $("#cmpcode option:selected").val();
        var approvalcode = $("#approvalcode");
        var approvalcode_sel = $("#approvalcode option:selected").val();
        approvalcode.html("<option value=''>Please Wait!!!</option>").show();
        $.ajax({
            url: "@(Url.Action("InitDDLAppUser"))",
            data: { cmp: cmp },
            cache: false,
            type: "POST",
            success: function (data) {
            var markup = "";
            if (data.result == "sukses") {
                var isExist = false;
                $.each(data.tbl, function (key, val) {
                    markup += "<option value=\'" + val.approvaluser + "\'>" + val.approvaluser + "</option>";
                    if (val.approvaluser == approvalcode_sel) {
                        isExist = true;
                    }
                });
                console.log(data.tbl);
                approvalcode.html(markup).show();
                if (isExist == true) {
                    approvalcode.val(approvalcode_sel);
                }
                approvalcode.trigger('change');
            } else {
                approvalcode.html("<option value=''>Get Data Failed (" + data.msg + ")</option>").show();
            }
        },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function EnabledHeader() {
        var table = $('#DataDtl').DataTable();
        var bVal = false;
        $("#aritemdate").datepicker("option", "dateFormat", "dd-dd-yyyy");
        if (table != null) {
            data = table.rows().data();
            if (data.length > 0) {
                bVal = true;
                $('#aritemdate').replaceWith($('#aritemdate').clone());
            } else {
                bVal = false;
            }
        } else {
            bVal = false;
        }
        $("#cmpcode").attr("readonly", bVal);
        $("#tipebarang").attr("readonly", bVal);
        $("#btnsearchsupp").attr("disabled", bVal);
        $("#btnsearchpo").attr("disabled", bVal);
    }

    function jsDate(jsDate) {
        if (jsDate == null) {
            return "";
        }
        var myDate = new Date(jsDate.match(/\d+/)[0] * 1);
        return myDate;
    }

    function ClearSupp() {
        $("#suppname").val("");
        $("#suppoid").val(0);
        $("#apassetpaytypeoid").val($("#apassetpaytypeoid option:first").val());
    }

    function ClearPO() {
        $("#poassetno").val("");
        $("#poassetmstoid").val(0);
        $("#curroid").val($("#curroid option:first").val());
    }

    function ClearDetail() {
        $("#mrassetno").val("");
        $("#mrassetmstoid").val("");
        $('#apassetdtlres1').val("");
        $('#apassetdtlres2').val("");

    }

    function CountHdrAmount() {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();
        var disctype = $('#apassetmstdisctype option:selected').val();
        var dischdr = removeCommas($('#apassetmstdiscamt').val());
        var dTotalAmt = 0; var netto = 0; var total = 0; var taxdpamt = 0.0;
        var dTotalTaxAmt = 0;
        var dTotalDiscAmt = 0;
        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            dTotalAmt += parseFloat(alldata.apassetdtlamt);
            dTotalTaxAmt += parseFloat(alldata.apassetdtltaxamt);
            dTotalDiscAmt += parseFloat(alldata.apassetdtldiscamt);
        }
        taxdpamt = removeCommas($('#apdpamt').val());
        if (dTotalTaxAmt > 0) {
            dTotalTaxAmt = parseFloat(dTotalTaxAmt - taxdpamt);
        }
        netto = parseFloat(dTotalAmt - dTotalDiscAmt);
        total = parseFloat(netto) + parseFloat(dTotalTaxAmt) + parseFloat(taxdpamt);

        if (disctype == "H") {
            total = total - dischdr;
        } else if (disctype == "P") {
            netto = dTotalAmt - dTotalDiscAmt - dischdr;
            if (dTotalTaxAmt > 0) {
                dTotalTaxAmt = (parseFloat(netto) * parseFloat($('#deftax').val() / 100)) - parseFloat(taxdpamt);
            }
            total = parseFloat(netto) + parseFloat(dTotalTaxAmt) + parseFloat(taxdpamt);
        }

        $("#apassettotalamt").val(addCommas(netto));
        $("#apassettotaldisc").val(addCommas(dTotalDiscAmt));
        $('#apassetmstdiscamt').val(addCommas(dischdr));
        $("#apassettotaltax").val(addCommas(dTotalTaxAmt.toFixed(4)));
        $("#apassetgrandtotal").val(addCommas(Math.round(total)));
    }

    $("#btnsearchreg").click(function () {
        if (($('#suppname').val() == '') || ($('#suppname').val() == null)) {
            Swal({
                title:'WARNING!',
                text: 'Please select SUPPLIER field!',
                type:'warning'
            });
            return false;
        }
        if (($('#poassetno').val() == '') || ($('#poassetno').val() == null)) {
            Swal({
                title: 'WARNING!',
                text: 'Please select PO field!',
                type: 'warning'
            });
            return false;
        }
        //if (($('#apassetdtlres1').val() == '') || ($('#apassetdtlres1').val() == null)) {
        //    Swal(
        //       'Please Input Faktur No. First!',
        //       '',
        //       'warning'
        //        );
        //    return false
        //}
        else {
            var table = $('#tblModalReg').DataTable();
            var apassetmstoid = $('#apassetmstoid').val();
            var suppoid = $('#suppoid').val();
            var curroid = $("#curroid").val();
            var poassetmstoid = $('#poassetmstoid').val();
            var sType = $('#tipebarang option:selected').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetMRData"))",
                data: { suppoid: suppoid, apassetmstoid: apassetmstoid, curroid: curroid, poassetmstoid: poassetmstoid, sType: sType },
                cache: false,
                type: "POST",
                success: function (data) {
                    var rows = [];
                    var i = 0;
                    $.each(data, function (key, val) {
                        rows.push([
                            JSON.stringify(val),
                            '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                            val.mrassetno,
                            moment(jsDate(val.mrassetdate)).format('DD/MM/YYYY'),
                            val.mrassetmstnote,
                        ]);
                    });
                    setTimeout(function () {
                        table.rows.add(rows).draw();
                    }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        }
    });

    $("#btnsearchsupp").click(function () {
        var table = $('#tblModalSupp').DataTable();
        var apassetmstoid = $("#apassetmstoid").val();
        var sType = $("#tipebarang option:selected").val();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetSupplierData"))",
            data: { apassetmstoid: apassetmstoid, sType: sType },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.suppcode,
                        val.suppname,
                        val.suppaddr,
                    ]);
                });
            setTimeout(function () {
                table.rows.add(rows).draw();
            }, 100);
            },
                error: function (err) {
                    console.log(err);
                }
            });
    });

    $("#btnsearchpo").click(function () {
        var suppoid = $("#suppoid").val();
        if (suppoid == '0'){
            Swal({
                title: 'WARNING!',
                text: 'Silahkan Pilih Supplier Terlebih dahulu!',
                type: 'warning'
            });
            return false;
        }
        var sType = $("#tipebarang option:selected").val();
        var supppengakuan = $("#supppengakuan").val();
        var table = $('#tblModalPO').DataTable();
        table.clear().draw();
        $.ajax({
            url: "@(Url.Action("GetPOData"))",
            data: { suppoid: suppoid, sType: sType, supppengakuan: supppengakuan },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    rows.push([
                        JSON.stringify(val),
                        '<button id="select" type="button" class="btn btn-link text-primary">Select</button>',
                        val.poassetno,
                        moment(val.poassetdate).format('DD/MM/YYYY'),
                        val.poassetmstnote
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    function AddToDetail() {
        var table = $('#DataDtl').DataTable();
        var mrassetmstoid = $('#mrassetmstoid').val();
        var apassetdtlres1 = $('#apassetdtlres1').val();
        var apassetdtlres2 = $('#apassetdtlres2').val();
        if (apassetdtlres2 == null)
            apassetdtlres2 = ""
        var i = parseInt($('#lastseq').val());
        $.ajax({
            url: "@(Url.Action("GetDataDetails"))",
            data: { mrassetmstoid: mrassetmstoid, apassetdtlres1: apassetdtlres1, apassetdtlres2: apassetdtlres2 },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                $.each(data, function (key, val) {
                    val.apassetdtlamt = val.apassetqty * val.apassetprice;
                    if (val.apassetdtldiscvalue > 0) {
                        val.apassetdtldiscamt = (val.apassetqty * val.apassetprice) * (val.apassetdtldiscvalue / 100);
                    } else {
                        val.apassetdtldiscamt = 0;
                    }
                    if (val.apassetdtltaxvalue > 0) {
                        val.apassetdtltaxamt = (val.apassetdtlamt - val.apassetdtldiscamt) * (val.apassetdtltaxvalue / 100);
                    } else {
                        val.apassetdtltaxamt = 0;
                    }
                    val.apassetdtlnetto = val.apassetdtlamt - val.apassetdtldiscamt + val.apassetdtltaxamt;

                    if (!IsOnDtl(val.mrassetdtloid)) {
                        val.apassetdtlseq = ++i;
                        rows.push([
                            JSON.stringify(val),
                            i,
                            val.mrassetno,
                            val.apassetdtlres1,
                            val.apassetdtlres2,
                            val.poassetno,
                            val.apassetrefcode,
                            val.apassetreflongdesc,
                            addCommas(val.apassetqty),
                            val.apassetunit,
                            addCommas(val.apassetprice),
                            addCommas(val.apassetdtlamt),
                            addCommas(val.apassetdtldiscvalue),
                            addCommas(val.apassetdtldiscamt),
                            addCommas(val.apassetdtltaxvalue),
                            addCommas(val.apassetdtltaxamt),
                            addCommas(val.apassetdtlnetto),
                            '<input type="text" class="form-control" style="max-width: 150px" id="apassetdtlnote-' + i + '" name="apassetdtlnote-' + i + '" value="' + (val.apassetdtlnote == null ? "" : val.apassetdtlnote) + '">',
                            '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                        ]);
                    }
                });

                setTimeout(function () {
                    table.rows.add(rows).draw();
                    $('#lastseq').val(i);
                    EnabledHeader();
                    ClearDetail();
                    CountHdrAmount();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
        SetDataDtl($('#uid').val());
    }

    function IsOnDtl(mrassetdtloid) {
        var table = $('#DataDtl').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (mrassetdtloid == alldata.mrassetdtloid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var apassetdtlnote_id = "#apassetdtlnote-" + alldata.apassetdtlseq;
            var apassetdtlnote = table.$(apassetdtlnote_id).val();
            var obj = {
                apassetdtlseq: i + 1,
                mrassetmstoid: alldata.mrassetmstoid,
                mrassetno: alldata.mrassetno,
                poassetno: alldata.poassetno,
                mrassetdtloid: alldata.mrassetdtloid,
                apassetreftype: alldata.apassetreftype,
                apassetrefoid: alldata.apassetrefoid,
                apassetrefcode: alldata.apassetrefcode,
                apassetreflongdesc: alldata.apassetreflongdesc,
                apassetunit: alldata.apassetunit,
                apassetunitoid: alldata.apassetunitoid,
                apassetqty: alldata.apassetqty,
                apassetprice: alldata.apassetprice,
                apassetdtlamt: alldata.apassetdtlamt,
                apassetdtldisctype: alldata.apassetdtldisctype,
                apassetdtldiscvalue: alldata.apassetdtldiscvalue,
                apassetdtldiscamt: alldata.apassetdtldiscamt,
                apassetdtlnetto: alldata.apassetdtlnetto,
                apassetdtltaxvalue: alldata.apassetdtltaxvalue,
                apassetdtltaxamt: alldata.apassetdtltaxamt,
                apassetdtlres1: alldata.apassetdtlres1,
                apassetdtlres2: alldata.apassetdtlres2,
                apassetdtlnote: apassetdtlnote
            }
            rows.push(obj);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    //Pop Up Data Header
    $("#btntambah2").click(function () {
        if ($("#suppname").val() == "") {
            Swal({
                title: 'WARNING!',
                text: 'Silahkan pilih Supplier terlebih dahulu!',
                type: 'warning'
            });
            return false;
        } else {
            var table = $('#tblModalFakturDtl').DataTable();
            var suppoid = $('#suppoid').val();
            table.clear().draw();
            $.ajax({
                url: "@(Url.Action("GetFakturData"))",
                data: { suppoid: suppoid },
            cache: false,
            type: "POST",
            success: function (data) {
                var rows = [];
                var i = 0;
                $.each(data, function (key, val) {
                    val.apitemdtl2seq = ++i;
                    rows.push([
                        JSON.stringify(val),
                        i,
                        val.fabelicode,
                        val.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + i + '" name="apitemdtl2amt-' + i + '" value="' + addCommas(val.apitemdtl2amt) + '">'
                    ]);
                });
                setTimeout(function () {
                    table.rows.add(rows).draw();
                }, 100);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    });

    function AddToDetail2() {
        var isValid = true;
        var table = $('#tblModalFakturDtl').DataTable();
        var tbldtl = $('#DataDtl2').DataTable();
        var rowsel = table.column(1).checkboxes.selected();
        $.each(rowsel, function (key, val) {
            if (isValid) {
                var data = table.row(val - 1).data();
                var alldata = JSON.parse(data[0]);
                if (!IsOnDtl2(alldata.fabelioid)) {
                    var id = tbldtl.rows().data().length + 1;
                    alldata.apitemdtl2amt = removeCommas(table.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
                    alldata.apitemdtl2seq = id;

                    tbldtl.row.add([
                        JSON.stringify(alldata),
                        id,
                        alldata.fabelicode,
                        alldata.fakturno,
                        '<input type="text" class="form-control allownumericwithdecimal" style="max-width: 80px" id="apitemdtl2amt-' + id + '" name="apitemdtl2amt-' + id + '" value="' + addCommas(alldata.apitemdtl2amt) + '"">',
                        '<button id="remove" type="button" class="btn btn-danger btn-xs btn-icon" ><i class="fa fa-times"></i></button>'
                    ]).draw();
                }
            }
        })
        SetDataDtl2($('#uid').val());
    }

    function IsOnDtl2(fabelioid) {
        var table = $('#DataDtl2').DataTable();
        var data = table.rows().data();

        for (var i = 0 ; i < data.length; i++) {
            var alldata = JSON.parse(data[i][0])
            if (fabelioid == alldata.fabelioid) {
                return true;
            }
        }
        return false;
    }

    function SetDataDtl2(uid) {
        var table = $('#DataDtl2').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            alldata.apitemdtl2amt = removeCommas(table.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
            alldata.apitemdtl2seq = i + 1;

            rows.push(alldata);
        }
        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetails2"))",
            data: JSON.stringify({ dtDtl: rows, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    function SetDataDtlAll(uid) {
        var table = $('#DataDtl').DataTable();
        var dataDtl = table.rows().data();
        var rows = [];
        for (var i = 0 ; i < dataDtl.length; i++) {
            var alldata = JSON.parse(dataDtl[i][0]);
            var apassetdtlnote_id = "#apassetdtlnote-" + alldata.apassetdtlseq;
            var apassetdtlnote = table.$(apassetdtlnote_id).val();
            var obj = {
                apassetdtlseq: i + 1,
                mrassetmstoid: alldata.mrassetmstoid,
                mrassetno: alldata.mrassetno,
                poassetno: alldata.poassetno,
                mrassetdtloid: alldata.mrassetdtloid,
                apassetreftype: alldata.apassetreftype,
                apassetrefoid: alldata.apassetrefoid,
                apassetrefcode: alldata.apassetrefcode,
                apassetreflongdesc: alldata.apassetreflongdesc,
                apassetunit: alldata.apassetunit,
                apassetunitoid: alldata.apassetunitoid,
                apassetqty: alldata.apassetqty,
                apassetprice: alldata.apassetprice,
                apassetdtlamt: alldata.apassetdtlamt,
                apassetdtldisctype: alldata.apassetdtldisctype,
                apassetdtldiscvalue: alldata.apassetdtldiscvalue,
                apassetdtldiscamt: alldata.apassetdtldiscamt,
                apassetdtlnetto: alldata.apassetdtlnetto,
                apassetdtltaxvalue: alldata.apassetdtltaxvalue,
                apassetdtltaxamt: alldata.apassetdtltaxamt,
                apassetdtlres1: alldata.apassetdtlres1,
                apassetdtlres2: alldata.apassetdtlres2,
                apassetdtlnote: apassetdtlnote
            }
            rows.push(obj);
        }

        var table2 = $('#DataDtl2').DataTable();
        var dataDtl2 = table2.rows().data();
        var rows2 = [];
        for (var i = 0 ; i < dataDtl2.length; i++) {
            var alldata = JSON.parse(dataDtl2[i][0]);
            alldata.apitemdtl2amt = removeCommas(table2.$("#apitemdtl2amt-" + alldata.apitemdtl2seq).val());
            alldata.apitemdtl2seq = i + 1;

            rows2.push(alldata);
        }

        $.ajax({
            type: 'POST',
            url: "@(Url.Action("SetDataDetailsAll"))",
            data: JSON.stringify({ dtDtl: rows, dtDtl2: rows2, uid: uid }),
            dataType: "text",
            contentType: "application/json; charset=utf-8",
            processData: false
        });
    }

    $("#btnSave").click(function () {
        $('#apdpamt').val(removeCommas($('#apdpamt').val()));
        $("#apassettotalamt").val(removeCommas($("#apassettotalamt").val()));
        $("#apassettotaldisc").val(removeCommas($("#apassettotaldisc").val()));
        $("#apassetmstdiscamt").val(removeCommas($("#apassetmstdiscamt").val()));
        $("#apassettotaltax").val(removeCommas($("#apassettotaltax").val()));
        $("#apassetgrandtotal").val(removeCommas($("#apassetgrandtotal").val()));
        SetDataDtlAll($('#uid').val());
    });

    $("#btnDelete").click(function () {
        var oid = $("#apassetmstoid").val();
        var token = $('input[name="__RequestVerificationToken"]').val();
        var uid = $('#uid').val();
        Swal({
            title: 'Are you sure to DELETE this data?',
            text: "Deleted data can't be returned!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Delete this data!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("Delete"))",
                    data: { __RequestVerificationToken: token, id: oid, uid: uid },
                    success: function (data) {
                        if (data.result == 'success') {
                            Swal(
                                'Deleted!',
                                'Data has been deleted!',
                                'success'
                                )
                            setTimeout(function () {
                                location.replace("@(Url.Action("Index"))");
                            }, 1000);
                        } else {
                            Swal(
                                'Delete data failed!',
                                data.msg,
                                'warning'
                                )
                        }
                    },
                    error: function (error) {
                        console.dir(error)
                    }
                });
            }
        })
    });

    $("#btnPost").click(function () {
        var token = $('input[name="__RequestVerificationToken"]').val()
        Swal({
            title: 'Are you sure to send this data for Post?',
            text: "",
            type: 'warning',
            showCancelButton: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            confirmButtonText: 'Yes, Post this data!'
        }).then((result) => {
            if (result.value) {
                setTimeout(function () {
					$("#apassetmststatus").val('Post');
                    $("#btnSave").click();
                }, 100)
            }
        })
    });
</script>